[2016-05-04 12:21] timlinux commented on #2759
@ismailsunni can you also look at this dataset - I think the underlying issue is that the keywords are not migrating to xml from the old .keywords format gracefully. Please open a new ticket to address that if needed.
[open_dri_admin_keyword_migration_fail.zip](https://github.com/inasafe/inasafe/files/248697/open_dri_admin_keyword_migration_fail.zip)

[2016-05-04 12:24] timlinux opened #2762 "Failing keywords migration"
### Problem
The attached file's keywords do not migrate cleanly when opening in 3.3

### Expected Behaviour

The layer should be correctly recognised and have proper keywords.

### Environment

### Proposed Solution

Ismail please check the migration logic is working right for this.
[open_dri_admin_keyword_migration_fail.zip](https://github.com/inasafe/inasafe/files/248700/open_dri_admin_keyword_m

[2016-05-04 12:24] timlinux commented on #2762
See also #2759

[2016-05-05 05:26] ismailsunni commented on #1216
hi @wonder-sk
Ok, I will take a look at that issue. It should be straight forward by design. But let me take a look first.

Meanwhile, I got a problem when I ran analysis by using test data in inasafe repo.
See image below for clearer explanation:
<img width="1303" alt="screen shot 2016-05-05 at 11 29 45" src="https://cloud.githubusercontent.com/assets/1421861/15036620/f77b1a4e-12bb-11e6-945e-3b66

[2016-05-05 05:44] Gustry commented on #2675
I would like to review the behaviour if the user doesn't map every values like in this example :
![inasafe keywords creation wizard_074](https://cloud.githubusercontent.com/assets/1609292/15036782/220123da-1294-11e6-8233-7eeb0fabf0ed.png)

I think, it would be a good idea if the final user is aware about these unclassified values in the dock.
Should we create a automatically a `unclassified` item

[2016-05-05 05:52] ismailsunni commented on #2675
From my opinion, `unclassified` is good to have for un-mapped value. It should be also shown in the dock.

yes

I think if we ignore it, it will be strange result. Many holes in the impact layer. The main idea of value mapping is giving the user overview how the hazard impact the exposure. Not selecting which one is ignored, which one is counted.

So, my conclusion, yes for automatically assigning

[2016-05-05 06:03] ismailsunni opened #2764 "Notes and Action List for Land Cover IF"
### Problem
Currently in develop, there is land cover IF but it doesn't have any action list and notes.

### Expected Behaviour
The impact report from the Land Cover IF should show notes and action list.

### Environment

### Proposed Solution
Create one.

### CC
@samnawi @Charlotte-Morgan @timlinux

[2016-05-05 06:04] Gustry commented on #2675
For me `other` and `unclassified` are two different things.

But if we think that all values could/should be mapped in the default classes (included `other`), yes, `other` and `unclassified` look duplicated. If we go on that way, I propose that we remove `other` from the right panel in the wizard, we add a text saying that all unclassified values will go in `other` and the wizard will take every v

[2016-05-05 06:21] Gustry opened #2765 "Using IF metadata to store the styles"
### Problem

Currently, the style for each IF is stored in the impact layer (SafeLayer).
The code is written in the main function of the IF.
Some IF don't use the colour code.
### Proposed Solution

I would like to set the style in the IF metadata because I think that the style is not very appropriate in the `run` method of the IF. I would like to move it in the metadata section. It will allow us

[2016-05-05 06:44] timlinux commented on #2735
Update from Tom Holderness

[2016-05-05 09:21] Charlotte-Morgan commented on #2764
hi @fredychandra - I'm assigning this to you.
Please draft up some actions similar to the action lists you prepared for other IF and work with @samnawi to make a list of relevant notes and assumptions.

Where possible use existing notes / assumptions and actions as a starting point.
I am happy to help tweak the english if needed.

[2016-05-05 11:40] timlinux commented on #23
@ismailsunni lets put this on the plan for 3.4 if you can manage it. Otherwise we will hold over until 3.5 if you can't. For now I would like to suggest that you just export the impact table and ignore the other elements (aggregated impacts, notes, actions etc.).

# CC

@Charlotte-Morgan @samnawi

[2016-05-05 11:41] timlinux commented on #23
By the way I added it to the release cycle so that we can show the tangible benefits of all @ismailsunni 's hard work in storing impacts as JSON rather than as generated HTML.

[2016-05-05 11:46] uniomni commented on #23
Keep it coming. It is so inspiring to follow your progress ;-)
On 5 May 2016 9:41 PM, "Tim Sutton" <notifications@github.com> wrote:

[2016-05-05 11:49] timlinux commented on #1195
I'm closing this as I think it is not relevant anymore. There is ongoing work to use QGIS more and more but it is iterative and does not need this RFC to inform it.

[2016-05-05 11:49] #1195 closed

[2016-05-05 11:53] timlinux commented on #949
@Gustry you may want to read through this as a lot of it is still relevant for our '7 base classes' discussion.

[2016-05-05 11:56] timlinux commented on #1217
Picking up on this a little - @Charlotte-Morgan do you have any thoughts on this - do we want to add a tool like is being discussed above, park this or close it?

[2016-05-05 11:57] timlinux commented on #432
@ismailsunni I am assigning this to you as in our work planning I think most of the issues here are going to relate to metadata management. Something to think about for 3.5...

[2016-05-05 11:58] timlinux commented on #2289
This should be taken care of by the work that @borysiasty @ismailsunni and @Gustry have been doing to support value_maps for exposure data. Here are some extra notes:

Things that are not classified in the metadata: We had a bit of a discussion on it here and there arn’t really any optimal ways to deal with it so my suggestion to Etienne is to do this:
* Add some text to the value mappings page in

[2016-05-05 11:59] timlinux commented on #2289
@Gustry please close this out when your work on value_map is done

[2016-05-05 15:54] ismailsunni commented on #23
hi @timlinux
Some options how it will work:

1. Add "get csv" button in the dock. Cons: it will make the dock more crowded
2. Add option to generate CSV in settings. Cons: if someone forget to disable it, he/she will get csv whenever he/she runs an analysis. Another cons, one needs several clicks to enable / disable it.
3. Add tab in impact report dialog and change print button to more generic. Co

[2016-05-06 03:35] Gustry commented on #2750
I think that this bug happens if your exposure layer AND your aggregation layer use the same name field in the attribute table. In this case, the field "name" is used in both layers.

[2016-05-06 04:18] Gustry opened #2769 "No data in the json impact"
### Problem

Running Floods on Roads aggregated by the grid in the test data, I got this error :

[code]

This error is raised with area D in the grid. It doesn't contain any roads.
# Proposed solution

In PR https://github.com/inasafe/inasafe/pull/2743
![3858](https://cloud.githubusercontent.com/assets/1609292/15064960/963117f8-135a-11e6-87a9-ac0e3a6c76e6.png)

[2016-05-06 05:18] Gustry commented on #2769
BTW, I can't find the * statement about no data in the report.

[2016-05-06 20:36] timlinux commented on #2769
Since the table is encoded as numerical data, would it not be better to use a convention of e.g. -1 to indicate no data? And then convert the -1 to text when we render html. CSV and other formats could retain it as numerical data?

[2016-05-06 20:40] timlinux commented on #2765
Yeah I really like this idea. Maybe it is also good to transfer these values to the impact layer xml metadata or to the impact_data so that if the data is provided without a style file we can actually generate the QGIS style again. I can see use cases where for example we want to generate a table with histograms as per Martin's proof of concept and we want the bars to match the colours assigned to

[2016-05-07 20:02] timlinux opened #2770 "Missing value_map should be handled gracefully"
### Problem

I am not sure who the user was, but today we got a sentry report:

http://sentry.kartoza.com/kartoza/inasafe-desktop/group/6330/

[code]
### Expected Behaviour

When value_map is missing, I think we should default at the minimum to putting everything in the **other** bucket and still completing the analysis successfully.

### Environment

### Proposed Solution

Trap exceptions where t

[2016-05-09 07:12] ismailsunni opened #2772 "Use PivotTable for all Impact Data"
### Problem

Currently impact functions have quite different data output. It makes the development quite difficult since there are many case.
It would be great if we have general / uniform impact data, and we can use PivotTable and FlatTable to process the data after that.

Please see land cover IF for the example.

[2016-05-09 07:41] ismailsunni opened #2773 "Remove .keywords Support in version 3.5"
### Problem
We want to support old keywords until 3.4 only. We need to remove it in version 3.5

[2016-05-09 09:58] ismailsunni opened #2774 "Wiki Page for JSON Impact Data"
### Problem

Currently, we have impact data implementation and it's written in json. We should have a wiki page explaining about this so that people who want to use the impact data JSON can use it easily.

[2016-05-09 10:26] MariaSolovyeva commented on #2749
Hello @timlinux , yes the subscription for WPML has finished.
The plugin is still working, just it cannot get the new updates.
The **security updates** are still available for manual download.

So there are few options for us:
- don't purchase it again and download the security updates
- purchase one year subscription $79 (then to renew it it will cost $29 per year, if to pay it before subscriptio

[2016-05-09 15:28] ismailsunni commented on #2724
hi @timlinux and @airving61
I have made a PR to address this issue in #2775. I have checked in my QGIS, all is fine for both case (enable and disable intermediate layer).

[2016-05-09 21:21] timlinux commented on #2774
Yes please! Thanks @ismailsunni

[2016-05-09 21:22] timlinux commented on #2773
👍 from me

[2016-05-10 02:03] #2724 closed

[2016-05-10 02:05] ismailsunni opened #2778 "Symbol for Land Cover in Wizard"
### Problem
Currently, in develop we do not have symbol for land cover.

### Expected Behaviour
There is a symbol for land cover.

### Environment

### Proposed Solution
Does anyone know which symbol we should use for land cover?

cc @timlinux @Charlotte-Morgan @samnawi @borysiasty

[2016-05-10 04:37] Gustry commented on #1216
I explained to @ismailsunni that the problem was about the wrong projection in the impact layer (different than 3857).

I'm working to make it work with more input data (tsunami raster)

[2016-05-10 06:40] Charlotte-Morgan commented on #2778
hi @felix-yew
I would like you to work on this please. If possible use any standard symbology used by BIG or BNPB for landcover maps.  When you make a symbology in QGIS, please save and share the definition file.

[2016-05-10 06:45] felix-yew commented on #2778
Hi @Charlotte-Morgan @ismailsunni

That's great, I will try to create some supporting symbology. After I finished, I will share with the team.

[2016-05-10 06:48] ivanbusthomi commented on #2778
I've talked with @felix-yew earlier about this, and apparently we couldnt find any suitable symbol in OCHA Humanitarian Icons for GIS

[2016-05-10 10:15] felix-yew commented on #2778
Yup, maybe we can modified the OCHA Humanitarian Icons for GIS. I have discussed with Mas Faisal (UNOCHA) about it and he suggest to modified symbol from other source that support the theme, i.e. from thenounproject. And I will have create it. I will share to the team, after I have finished the symbol.

[2016-05-10 23:15] lucernae opened #2781 "Impact Function for Realtime Flood reporting incorrect value"
### Problem

<img width="599" alt="screen shot 2016-05-11 at 05 40 35" src="https://cloud.githubusercontent.com/assets/831865/15165025/f9af7d0c-173c-11e6-83ba-060a2abd6f1c.png">

Too many affected people. Almost 95%

### Expected Behaviour

Don't count area where the hazard are state 0 or 1 or it is null

### Environment

Realtime Flood

### Proposed Solution

The current way affected people being

[2016-05-11 03:29] samnawi commented on #2751
Hi @ismailsunni Is there any progress on this issue, because in InaSAFE 3.3.2, I could run Generic hazard and Flood very well.

Or because you already finish to doing some effort in Aggregation issue, so I can do that?

[2016-05-11 06:21] ismailsunni commented on #2751
hi @samnawi
I just realised that this issue is the same as #2724
You can test it again from develop since I have fixed it.

[2016-05-11 07:47] Charlotte-Morgan commented on #2735
So 0 and null should be treated the same - ie not affected

[2016-05-11 07:50] Charlotte-Morgan commented on #2781
hi @lucernae
I agree that the affected is too high.  I think we need to check with @samnawi too for his understanding of BPBD DKI Jakarta requirements, but from me I like your suggestion 2 above.

We need to make sure the notes explain how null, 0 and 1 have been handled.

[2016-05-11 07:53] Charlotte-Morgan commented on #2778
hi @felix-yew
Apologies - i think there are two issues here.
1. an icon for landcover exposure data. @MariaSolovyeva is the person who makes these for the InaSAFE project. Can you please share your idea with her so that she can 'make it beautiful' like all the other icons.
2. standard symbology for a landcover map layer in a QGIS project - this is something I think we still need and you can work o

[2016-05-11 08:20] Charlotte-Morgan opened #2783 "EQ Realtime Tweaks"
Hi @lucernae
some of the recent changes you have made to EQ realtime page look great.
I really like the filter on size and limited number of reports on the front page.
Here are a few suggested tweaks for the english. I hope this is easy for you. We will demo this at UR 2016 next week and I am making some screenies today.

**In the context filter**
![image](https://cloud.githubusercontent.com/asset

[2016-05-11 08:42] lucernae commented on #2783
Putting this on my to do list.

About the product title, previously it just says "Map". But since we also have Flood Realtime, I put two different name there.
We can just choose which one we want. Maybe "Earthquake Realtime" will do for both title?

[2016-05-11 08:56] Charlotte-Morgan commented on #2696
@ivanbusthomi  - please keep an eye on this ticket and help with advice on technical requirements if you can

[2016-05-11 08:59] Charlotte-Morgan commented on #2697
please see #2696 for some comments

@ivanbusthomi

[2016-05-11 09:03] Charlotte-Morgan commented on #2698
@samnawi  - we need to know if the disclaimer makes sense. We had feedback from Adele that the EQ disclaimer was not well written.

@ivanbusthomi - copying you in here, please comment

[2016-05-11 09:09] ivanbusthomi commented on #2783
@lucernae the things we discussed earlier regarding the "upcoming" earthquake
![papua](https://cloud.githubusercontent.com/assets/7351977/15175872/9738bda4-1792-11e6-860f-6a0d27123c30.PNG)
have you edited the data?how long does it take to refresh?

[2016-05-11 09:14] lucernae commented on #2783
@ivanbusthomi I haven't. I'm still busy with the flood realtime. I will try to sort that out by tomorrow.

[2016-05-11 09:27] felix-yew opened #2784 "Update the new InaSAFE Postcard"
### Problem
We have run out of postcards!!
We need to print some more.
Should we make some small updates in the 'InaSAFE postcard' ?

### Expected Behaviour
Some things we could change:

1.Some icon in Hazard, maybe can add the Volcanic Ash and the Generic Hazard icon, I think it is important because we already have this IF in current version.

![image](https://cloud.githubusercontent.com/assets/1

[2016-05-11 09:28] ivanbusthomi commented on #2698
In my opinion, the sentence is quite well written in Bahasa Indonesia. Although i find it a little bit too hard to understand (especially in the 2nd sentence, what do you think mas @samnawi ? ), overall it does make sense. I'll think of an alternative to reword the sentence a bit, so it does less confusing and more clear.

[2016-05-11 09:51] ismailsunni commented on #2778
hi @Charlotte-Morgan
Perhaps we can create separate issue for your second point above.

@felix-yew
If you have find one, just post it here, so the other can give some feedback.

[2016-05-11 09:51] felix-yew commented on #2778
Hi @Charlotte-Morgan

Sorry, I have writen a ticket #2784 about updating the InaSAFE postcard that related to create a new best icon for landcover exposure data.

Hallo @MariaSolovyeva there are some example from thenounproject
![noun_387027_cc](https://cloud.githubusercontent.com/assets/13621886/15175665/a4523ba6-1791-11e6-8ccc-e3956a85cbb5.png)

![noun_46925_cc](https://cloud.githubusercontent.c

[2016-05-11 10:00] Charlotte-Morgan commented on #2783
+1 for Earthquake Realtime

[2016-05-11 10:21] Charlotte-Morgan commented on #2778
nice

[2016-05-11 21:55] timlinux commented on #2784
@MariaSolovyeva will you take care of this?

[2016-05-11 21:55] timlinux commented on #2784
@MariaSolovyeva Obviously pending feedback from @Charlotte-Morgan before you go ahead with anything

[2016-05-11 22:01] timlinux commented on #2783
@Charlotte-Morgan or maybe even better 'Realtime Earthquake', 'Realtime Flood'

Also we should put the 'near realtime' caveat in bold to make it clearer that there is a lag.

The top box on the page could are retitled 'InaSAFE Shake Realtime' -> 'InaSAFE Realtime Earthquake Reports'

[2016-05-11 22:07] timlinux commented on #2781
Thanks for your inputs here @lucernae! I agree with @Charlotte-Morgan that 2 above is a nicer approach. And we provide the download shapefile with just the affected polygons too so that you don't need to do hiding of unaffected polygons in the symbology.

[2016-05-11 22:10] timlinux commented on #2778
@felix-yew Thanks I gave @MariaSolovyeva a mention in our Skype chat to take a look at this. @ismailsunni can you add Maria to the GitHub team so we can assign tasks to her?

[2016-05-12 01:15] ismailsunni commented on #2449
Done in #2771

[2016-05-12 01:15] #2449 closed

[2016-05-12 01:27] ivanbusthomi commented on #2737
Reposting this from gitter chat, just for the record and easier reference.

I think it should looks like one of these
* three columns
![three](https://cloud.githubusercontent.com/assets/7351977/15201423/01b9d6b2-181b-11e6-9008-9fa942fa8851.PNG)

* two columns
![two](https://cloud.githubusercontent.com/assets/7351977/15201424/01bc039c-181b-11e6-948b-fef48d635e5e.PNG)

[2016-05-12 01:41] ismailsunni commented on #2778
@timlinux
Yes, I have made an invitation for @MariaSolovyeva, please accept it.

Btw, I just read about the membership and collaborating article in github, https://help.github.com/articles/repository-permission-levels-for-an-organization/ Perhaps, in the future, we should use it more properly. For example add temporary person to outside collaborator, rather a member of a team. Anyway, it's not too

[2016-05-12 03:08] samnawi commented on #2751
Yeah @ismailsunni I could run the analysis using Generic hazard and flood. But, I still got a problem when I run the volcano polygon IF, Either when I set the hazard in volcanic class or generic class.

[code]

[2016-05-12 03:22] ismailsunni commented on #2751
ok @samnawi  I will check it.
So, the only problem now is volcano polygon with aggregation, right? For both master and develop?

I see that there are difference problem for difference IF if I read @felix-yew 's comment

[2016-05-12 03:57] ivanbusthomi commented on #2738
Visualizing input from mas @samnawi and @timlinux , here is what i picture :
![res](https://cloud.githubusercontent.com/assets/7351977/15203467/5420914e-182e-11e6-9ea5-4e8018f1b66a.png)

Notice that :
* The map extent is automatically at Jakarta
* Added People Affected and RW Flooded columns
* Filter function by date, and optional input threshold number of people affected and/or RW flooded
* icon

[2016-05-12 07:37] timlinux commented on #2370
@ismailsunni Please back port to 3.3 if possible.

[2016-05-12 07:40] timlinux commented on #2751
I would like to suggest trying to use QGIS built in Zonal Stats as a first diagnostic. If it works ok, maybe we can remove our home grown Zonal Stats and just use the native one.

[2016-05-12 07:45] Gustry commented on #2370
Is it not related to my postprocessing PR ?

[2016-05-12 08:21] MariaSolovyeva commented on #2784
Hello @all, I will care of it, awaiting for the feedback!

[2016-05-12 08:23] MariaSolovyeva commented on #2778
Hello @ismailsunni , thank you, I have joined!

[2016-05-12 09:47] samnawi commented on #2751
Yeah @timlinux, It's works
![image](https://cloud.githubusercontent.com/assets/8871958/15210524/14d00988-1861-11e6-9684-86f6038dc7c7.png)

[2016-05-12 09:48] Gustry commented on #2772
When we create a pivot table, we need to give the list of columns (Low, Medium, High for instance).
We should be able to set columns which are affected or not and to ask the sum for affected.

[2016-05-12 10:16] samnawi commented on #2370
Hi @timlinux @ismailsunni & @Gustry I found something strange in this issue.

When I use the Nagekeo Data :
Hazard --> NGK_Earthquake_Hazard_WGS84
Exposure --> NGK_Infrastructure_WGS84
Aggregation --> NGK_Desa_BPS_WGS84
**Result** --> Fine, working properly with aggregation.

When I use the TTU Data :
Hazard --> TTU_Earthquake_Hazard_WGS84
Exposure --> TTU_Infrastructure_WGS84
Aggregation --> TTU_

[2016-05-12 10:18] ismailsunni commented on #2370
Uploaded @samnawi :
[Data-NGK-TTU.zip](https://github.com/inasafe/inasafe/files/261059/Data-NGK-TTU.zip)

[2016-05-12 10:45] Charlotte-Morgan opened #2787 "We need to update the dock text"
There are so many fantastic additions to InaSAFE that we need to remove some of the limitation statements

eg statement 2 about polygon area analysis and statement 4 about population by admin boundaries
:)

[2016-05-12 12:35] timlinux commented on #2787
Whoo yeah, good point!

[2016-05-12 12:43] timlinux opened #2788 "IP Audit checks"
### Problem

Currently our IP audits (``make data_audit`` are failing)

[code]

### Expected Behaviour

All IP audit tests should pass.

### Environment

### Proposed Solution

@ismailsunni can you take a look at this before 3.4 is released?

[2016-05-12 20:15] #2787 closed

[2016-05-12 20:16] timlinux commented on #2787
I removed the obvious out of date stuff. We might want to do another round of edits where we add any new limitations for the user to be aware of....but I will leave it as-is for now.

[2016-05-13 02:09] Gustry opened #2790 "Wrong projection for the impact layer if the input is 3857"
### Problem
If the input layer is in 3857, the impact layer will be in 54004.
It seems to be a QGIS/OGR problems :
https://hub.qgis.org/issues/11134

### Proposed Solution
* Fix in QGIS/OGR
* Or as a quickhack, hardcode the reprojection in inasafe

![3858](https://cloud.githubusercontent.com/assets/1609292/15235978/5c5a1a8a-18ea-11e6-8815-788032a5f32d.png)

[2016-05-13 05:05] Gustry commented on #1664
I'm closing this.
This RFC is part of https://github.com/kartoza/docker-osm

[2016-05-13 05:05] #1664 closed

[2016-05-13 05:06] Gustry commented on #1670
I'm closing this.
This RFC is in the experimental branch and in https://github.com/inasafe/SafeRouting

[2016-05-13 05:06] #1670 closed

[2016-05-13 05:08] Gustry commented on #2666
I'm closing this as Tsunami on roads is InaSAFE 3.3

[2016-05-13 05:08] #2666 closed

[2016-05-13 05:14] Gustry commented on #1216
FYI, Tsunami on Landcover is in a PR : https://github.com/inasafe/inasafe/pull/2785

[2016-05-13 05:29] Gustry commented on #2426
Just to link the issue : https://github.com/inasafe/inasafe/issues/2765

[2016-05-13 05:31] Gustry commented on #2332
See this PR : https://github.com/inasafe/inasafe/pull/2743

[2016-05-13 05:35] Gustry commented on #2769
I found this issue related to no_data : https://github.com/inasafe/inasafe/issues/2318

Should we keep "no data" when there is not roads in the aggregation area ?

[2016-05-13 06:05] Gustry commented on #2772
Maybe we should have a look at this one while we are refactoring the ReportMixin https://github.com/inasafe/inasafe/issues/2746

[2016-05-13 08:10] Charlotte-Morgan commented on #2790
hi @Gustry - I'm just chasing some projection issues I have noticed here - the lads will update you once we work out what the problem is
@felix-yew @samnawi @timlinux

[2016-05-13 08:16] timlinux opened #2792 "Realtime flood should default to latest report in map view"
### Problem

When you open the food realtime page you get this:

![screen shot 2016-05-13 at 09 44 27](https://cloud.githubusercontent.com/assets/178003/15241984/a060c87e-18f3-11e6-939c-d07a3ac1e93d.png)

It would be much better to be zoomed in to the latest flood.
### Expected Behaviour
### Environment
### Proposed Solution

[2016-05-13 08:33] Gustry commented on #2790
@Charlotte-Morgan I provided just a quick fix in PR a few minutes ago. This fix is related to a bug in QGIS when we run an algorithm with a layer in 3857.

I plan to clean and uniform the projection in inasafe for the next release (maybe 3.5).

[2016-05-13 08:40] Charlotte-Morgan commented on #2790
thank - no issue here for now. problem was between the chair and the keyboard :)

[2016-05-13 08:44] Gustry opened #2793 "Remove Volcano point"
### Problem
For now, we have duplicate IF :
* Volcano point on buildings VS volcano polygon on buildings
* Volcano point on population VS volcano polygon on population

Since https://github.com/inasafe/inasafe/pull/2716 we polygonize volcano points in the `prepare` method and not in the IF itself.

### Expected Behaviour

We should be able to merge Volcano Point in Volcano Polygon

[2016-05-13 08:53] dewisulistio commented on #2784
Hello @MariaSolovyeva, I think the post card color can be changed with combination blue, black, and white like the new InaSAFE version.
I am sorry, We need to print the new post card for exhibition in Bandung and Turkey, which are held in the next weekend. Also we're gonna use the design for the new sticker. The printing and cut process is 4-5 workdays.
Thank you for understanding

[2016-05-13 13:19] Charlotte-Morgan commented on #2784
hi @MariaSolovyeva @dewisulistio @fredychandra @samnawi @timlinux
A few points from me:

1. we have run out of post cards in Indonesia and need more printed by the end of the week (21 May 2016)
2. we can take this opportunity to make some updates / fix errors
3. priorities from my perspective:

- add landcover icon

- add volcanic ash icon

- update logos

I am very reluctant to make other major c

[2016-05-13 13:21] Charlotte-Morgan commented on #2046
closing this - I think its fixed

[2016-05-13 13:21] #2046 closed

[2016-05-13 13:24] Charlotte-Morgan commented on #2778
Hi @MariaSolovyeva
Great to have you working on this with us. Please make a land cover icon using one of the suggested symbols above to match the other exposure icons for InaSAFE. Thank you

[2016-05-13 13:35] Charlotte-Morgan commented on #2784
@MariaSolovyeva
For the logos: we should remove the AIFDR logo and add the DMInnovation logo,
Refering to the DFAT guidelines http://dfat.gov.au/about-us/corporate/Pages/branding-aid-projects-and-initiatives.aspx may I suggest the following logos in the following order left to right.
BNPB (no change), DMInnovation (use the round one to replace the AIFDR logo), Skippy (replace Australian Govt crest

[2016-05-13 14:36] timlinux opened #2794 "Testing plan"
### Problem

We need to do a systematic review of the various aspects of InaSAFE to make sure everything is in a good state (in order of priority):

- [ ] Training materials: http://docs.inasafe.org/en/training/index.html - report issues at https://github.com/inasafe/inasafe-doc/issues
- [ ] The InaSAFE Application - report issues at https://github.com/inasafe/inasafe/issues. Use a git checkout of

[2016-05-14 06:24] timlinux opened #2795 "Typo in front page strapline of down brochure"
Tim to add details when he gets back to a pc

[2016-05-15 01:16] timlinux commented on #2793
+1 it will be great to get rid of this duplication

[2016-05-15 01:19] timlinux commented on #2784
Just a quick note to say that for UR 2016 I still have a heap of the old cards.

[2016-05-15 02:51] Charlotte-Morgan commented on #2784
Thanks Tim
We are completely out and have events coming up in Indonesia and WHS.

Charlotte  Morgan
Spatial Data Analyst
DMInnovation - Jakarta
GEOSCIENCE AUSTRALIA

Mobile: +61 412 949642
Mobile: +62 8118204648

On 15 May 2016, at 5:16 AM, Tim Sutton <notifications@github.com<mailto:notifications@github.com>> wrote:

Just a quick note to say that for UR 2016 I still have a heap of the old cards.

[2016-05-16 04:12] Gustry commented on #2675
The PR #2743 has been merged. I'm closing this issue.

[2016-05-16 04:12] #2675 closed

[2016-05-16 04:13] Gustry commented on #2369
The PR #2743 has been merged. I'm closing this issue.

[2016-05-16 04:13] #2369 closed

[2016-05-16 04:15] Gustry commented on #2332
The PR #2743 has been merged. I'm closing this issue.

[2016-05-16 04:15] #2332 closed

[2016-05-16 04:24] Gustry commented on #2370
The develop branch can now work with "non OSM data" if you use the new values mapping. Maybe you should try again with the develop branch.

[2016-05-16 07:24] samnawi opened #2796 "Landcover Report Style"
### Problem
The Landcover IF in the develop, besides there is no action and note (https://github.com/inasafe/inasafe/issues/2764), we must make it consistent style with the other report, like the terminology, style, etc.
There is some content in the report
- The classification in the report, as the terminology in the other report, we not only written "high, medium, low",
![image](https://cloud.git

[2016-05-16 07:29] Gustry commented on #2796
@samnawi I have updated the landcover report a little bit in my PR about Tsunami on Landcover.
The plots are not visible anymore for instance. I will have a look about your comments.

[2016-05-16 08:03] MariaSolovyeva commented on #2778
Hello @Charlotte-Morgan , @felix-yew   and @timlinux ,

Here are few variants of land cover icon, let me know what you think!

![land_cover](https://cloud.githubusercontent.com/assets/10400420/15283793/d8e384f2-1b55-11e6-868b-afcd9e291f84.png)

[2016-05-16 08:12] felix-yew commented on #2778
Hi @MariaSolovyeva

Thank you for your creative work, very beautiful icon :+1: :+1: :+1:

I will choose ![image](https://cloud.githubusercontent.com/assets/13621886/15283944/63690c56-1b78-11e6-9698-03481e629ac3.png) because it is representing the land cover icon :smile:

[2016-05-16 08:17] Gustry commented on #2778
Me too ! Let's try to vote with github emoji. First logo first emoji, second logo second emoji ;-)

[2016-05-16 08:33] samnawi commented on #2370
Hi @Gustry Yeah... I just try the new value mapping in the develop branch.
As I comment in above https://github.com/inasafe/inasafe/issues/2370#issuecomment-218716666, The result is good when using Nagekeo data, but I still got the problem (Running well without aggregation result) when using TTU data, [Ambon Infrastructure data](https://www.dropbox.com/s/yjhuy2f1c7vhqgf/Ambon%20Infrastructure.zip?

[2016-05-16 08:36] samnawi commented on #2778
:+1:

[2016-05-16 08:40] ivanbusthomi commented on #2778
:+1: :+1: :+1:  :point_left: i'm voting for 3rd logo :smile:

[2016-05-16 10:05] MariaSolovyeva commented on #2784
Hello @Charlotte-Morgan , here is the logo part, am I correct with the skippy logo choice?

![sponsors](https://cloud.githubusercontent.com/assets/10400420/15286658/e787f9e6-1b66-11e6-8cce-7060352eb58e.png)

[2016-05-16 10:06] MariaSolovyeva commented on #2778
Thank you @all ! stopping on the third one :smile:

[2016-05-16 10:09] MariaSolovyeva commented on #2784
hi @all , here is the version with the volcanic ash and the land cover icons added, let me know what you think
![postcard-back2016-en](https://cloud.githubusercontent.com/assets/10400420/15286731/57ae5daa-1b67-11e6-8299-d78a571bbf42.png)

[2016-05-16 15:50] Charlotte-Morgan commented on #2784
Hi Maria
I do not see the skippy logo.
Please remove the Australian government crest and use the Australian Aid logo. The one with the words Australian Aid and a picture of a kangaroo.
Thank you
Charlotte

Charlotte  Morgan
Spatial Data Analyst
DMInnovation - Jakarta
GEOSCIENCE AUSTRALIA

Mobile: +61 412 949642
Mobile: +62 8118204648

On 16 May 2016, at 12:02 PM, MariaSolovyeva <notifications@gith

[2016-05-16 20:18] MariaSolovyeva commented on #2784
Hello @all,

Thank you @Charlotte-Morgan,

I created new PR to add the postcard to inasafe-graphics https://github.com/inasafe/inasafe-graphics/pull/4
@timlinux  , can you merge it please?

Before merge, you can already use the files from PR

Let me know if you need something else,
All the best

[2016-05-17 05:18] timlinux opened #2797 "We need to update the image on the front page"
### Problem

The front page image on http://inasafe.org is our of date in terms of the styling etc. Can we update it to use this one rather:

![screen shot 2016-05-13 at 23 36 54](https://cloud.githubusercontent.com/assets/178003/15311863/6e214442-1bff-11e6-8654-456ee9d1d0e4.png)

Ok for you @Charlotte-Morgan ?

### Expected Behaviour

### Environment

### Proposed Solution

[2016-05-17 06:06] Charlotte-Morgan commented on #2797
+1

Charlotte  Morgan
Spatial Data Analyst
DMInnovation - Jakarta
GEOSCIENCE AUSTRALIA

Mobile: +61 412 949642
Mobile: +62 8118204648

On 17 May 2016, at 7:14 AM, Tim Sutton <notifications@github.com<mailto:notifications@github.com>> wrote:

Problem

The front page image on http://inasafe.org is our of date in terms of the styling etc. Can we update it to use this one rather:

[screen shot 2016-05

[2016-05-17 08:40] NyakudyaA opened #2798 "Attribute error on analysis using training dataset"
### Problem
Running analysis using the `Run intermediate Inasafe training` results in attribute error when aggregation is done by district  `Jakarta`.

Dataset used: [http://data.inasafe.org/TrainingDataPackages/Run%20Basic%20InaSAFE%20v3.2.zip]()

Run Intermediate InaSAFE/DKI Jakarta/01 Hazard Data/Jakarta_Flood_18113_WGS84.shp
[code]

### Expected Behaviour
Run without errors and produce analysi

[2016-05-17 09:29] dewisulistio commented on #2784
Thanks @MariaSolovyeva

[2016-05-17 09:42] Gustry commented on #2798
Hi @NyakudyaA ,
This issue has been fixed : https://github.com/inasafe/inasafe/issues/2724

BTW, for the next issue, in the environment, please tell us the inasafe version you are using. Which version are you using ? how did you get InaSAFE ?

[2016-05-17 09:50] NyakudyaA commented on #2798
@Gustry I will do so. I am using testing against the develop branch of inasafe: Inasafe 3.4.0.dev-b78f8c1

[2016-05-18 00:10] ismailsunni commented on #2778
ouch, I am too late to vote :) But the 3rd one is also my choice, nice icon

[2016-05-18 04:26] ismailsunni commented on #2793
Historical notes:
Long time ago, these IF (volcano point and volcano polygon) are one IF :) So, we are going back to the past again.
But, I give +1 to this ticket, since the polygonize will be happened in prepare.

[2016-05-18 04:31] ismailsunni commented on #2796
@Gustry I assigned it to you since you are already working on it. Feel free to pass it if you think there is another more suitable person to do it.

[2016-05-18 04:39] ismailsunni commented on #2790
Btw, is this specific to 3857 only?

[2016-05-18 04:53] Gustry commented on #2790
I think so, according to the QGIS ticket, it seems that QGIS is confused between 3857 and 54004 : https://hub.qgis.org/issues/11134

[2016-05-18 08:43] Gustry opened #2800 "Value mapping style in the dock"
### Problem

Some very small papercuts for the value mapping in the dock.
- In the dock, the value mapping should be ordered according [road_class_order](https://github.com/inasafe/inasafe/blob/develop/safe/definitions.py#L858) and [structure_class_order](https://github.com/inasafe/inasafe/blob/develop/safe/definitions.py#L971)
- Secondly, the bullet should use the beautiful name. (with the capita

[2016-05-18 09:07] ismailsunni commented on #2788
Creating PR #2801 and #2802 for fixing it in master and develop branch.

[2016-05-18 09:13] ismailsunni opened #2803 "Add GeoJSON in Aggregation Impact Data"
### Problem

Currently, InaSAFE's impact data only store the value of name or id in the aggregation polygon. We should have also geoJSON of the polygon, so that we can have richer data, and do more things (e.g. show chart when the mouse is hovering the polygon).
### Expected Behaviour
### Environment
### Proposed Solution

[2016-05-18 09:14] ismailsunni commented on #2671
I think we can close this ticket since we have the json impact data in develop branch. The geojson will be addressed later in 3.5 via this #2803

[2016-05-18 09:14] #2671 closed

[2016-05-18 11:09] adissadis opened #2804 "Can you create button to enable or disable InaSAFE: Analysis environment ready"
### Problem
Currently, while we doing test to InaSAFE 3.4, there some issue about how InaSAFE work. I'm not good to explain this, but when you enable InaSAFE plugin, the InaSAFE will create/do some task to see if the InaSAFE analysis environment is ready or not to be execute. There will be some of message above map canvas like this:
![image](https://cloud.githubusercontent.com/assets/2520159/15356

[2016-05-18 13:49] Gustry commented on #2636
I still have this issue. My layer seems to be valid, I can see it in QGIS.
This python error occurs everytime if I hide/display layers in QGIS if I have one WMS.

[2016-05-18 14:41] #2788 closed

[2016-05-19 00:53] fredychandra commented on #2764
Hi @Charlotte-Morgan , Here the proposed draft for the action checklist, please revise as proper English tone and sense.

-  What type of vegetation that planted in affected crops/fields ?
-  How long (duration) the function of land cover will be disturbed?
-  How the severity of the land cover damage? (percentage affected area from total area)
-  How many potential loss from the land cover damage

[2016-05-19 01:12] fredychandra commented on #2796
Hi @Gustry , @ismailsunni

Is it possible to add 2 column on the right side. one is total affected area, second one is percentage from total affected area versus total area? This information is useful for user for first scanning how severity damage of affected land cover.

[2016-05-19 06:25] Gustry commented on #2796
@fredychandra I'm working on the two columns, affected and percentage.

* For the Tsunami on Landcover we have 5 classes : dry, low, medium, high and very high.
Except the first one, they are all "affected", the report looks like  :
![3858](https://cloud.githubusercontent.com/assets/1609292/15384436/d27890f0-1dc4-11e6-911c-40b2b470f43d.png)

* For the generic IF, we have 3 classes : low, medium an

[2016-05-19 07:09] Gustry commented on #2798
I'm sorry, it might not be a duplicate

[2016-05-20 00:44] fredychandra commented on #2796
HI @Gustry , thank you for work on it. I think two column in the right is enough. I worry if we add two column in every single classes the table will look complicated.
Perhaps we can add note (mark) for *affected (%) and give explanation in the bottom of table
_* = It is percentage affected area from total area of land cover type_  How do you think?

[2016-05-20 02:25] ismailsunni commented on #2804
If we implemented this, I think we should set the default value to yes.

[2016-05-20 02:53] #2674 closed

[2016-05-20 03:06] Gustry commented on #2796
@fredychandra , sorry I was speaking about two different IF.

* This one is from Tsunami on Landcover. We have 5 classes, the first column is the dry one, so it's easy to add affecter/unaffected :
![3858](https://cloud.githubusercontent.com/assets/1609292/15415851/d60ea91a-1e6f-11e6-8a76-a5b12fa6f7d5.png)

* This one is the generic IF, we have only low, medium and high. So we can't really add the

[2016-05-20 03:31] #2790 closed

[2016-05-20 04:03] Gustry commented on #2289
The value_map is done in InaSAFE 3.4

[2016-05-20 04:03] #2289 closed

[2016-05-20 04:22] Gustry commented on #2796
I have fixed the labels about `low`, `medium` and `high` and the note for affected.

[2016-05-20 04:22] #2796 closed

[2016-05-20 04:26] harrymahar commented on #2676
Hi, @timlinux @ismailsunni @samnawi @felix-yew

I currently testing new version of InaSAFE ( **InaSAFE 3.4.0 dev-master**) with HOT. I **Still** get this bug python error when I want to **Add New Item** and **Edit Item** in InaSAFE Minimum Needs Configuration.

This phtyon error when I want to **Add New Item**

[code]

[2016-05-20 05:10] wulankhairunisa opened #2806 "[BUG] Population is not calculated in affected area for Vector Volcanic Ash Hazard when using aggregation"
### Problem

I ran InaSAFE analysis for Volcanic Ash using Population (raster), Volcanic ash hazard (vector), and Sinabung subdistrict (as aggregation layer) and found this problem in several area.

![75 - bug](https://cloud.githubusercontent.com/assets/2551072/15417606/0a13d1ec-1e82-11e6-8f78-1d370f5eaa16.png)

Blue arrow shows the problem. Those area are affected by ash but InaSAFE don't calcula

[2016-05-20 05:44] dewisulistio opened #2807 "[Bug] The Aggregation Error when run Raster Flood Jakarta with Roads"
### Problem
We trying to run Jakarta Flood HKV 2007 (Raster Data), Roads Jakarta, and Jakarta District Boundary, the result analysis is fails because the Aggregation Error. The Details diagnostics not showing.

**Running with InaSAFE Dock with aggregate**

![flood raster data on roads with aggregate](https://cloud.githubusercontent.com/assets/2524177/15417840/2bd158b6-1e84-11e6-854b-d1a2b624ff86.p

[2016-05-20 07:02] ismailsunni commented on #2807
hi @dewisulistio
Can you copy paste to here the message in the dock? Especially, under the diagnostic one.
Thanks

It's very helpful when you create an issue with an error, you paste the full error message.

[2016-05-20 07:08] dewisulistio commented on #2807
Hi @ismailsunni

The details diagnostics not showing in the dock when I tried run Raster Flood and Roads.

[2016-05-20 07:09] raniedwianugrah opened #2809 "[BUG] For the flood scenario with land cover, function in the 'might' column did not appear"
### Problem

A function in the 'might' column did not appear when I processed the land cover vector, flood vector and Jakarta boundary data in InaSAFE Dock. The land cover keywords are defined.

![bug_flood_landcover_vector](https://cloud.githubusercontent.com/assets/2528195/15420006/3c37fae2-1e94-11e6-86df-e1ac691dd1b4.PNG)
### Environment

InaSAFE 3.4.0 dev-master
QGIS 2.8.9
Windows 7 32 bit/64

[2016-05-20 07:10] ismailsunni commented on #2807
Ah yes, sorry, I didn't see the scroll bar is in the bottom.

[2016-05-20 07:15] adissadis opened #2811 "Improvement on InaSAFE Batch Runner"
## Problem
There are some part in Batch Runner that we need to improved in order people can use it to run several scenarios. I will describe each problem here:

#### 1. Improvement on Task Name
Currently, Batch Runner only name the Task Based on the hazard name, for example like this
![image](https://cloud.githubusercontent.com/assets/2520159/15417193/488be87e-1e7d-11e6-801d-242d5397989b.png)
Even

[2016-05-20 07:17] Gustry commented on #2676
This issue should be fixed in develop and.
The master branch will be fixed in a few minutes.

[2016-05-20 07:33] adissadis opened #2812 "I/O Error when run EQ using ITB function with bayesian approach"
### Problem
I tried to run EQ analysis on raster EQ with raster population using ITB bayesian approach impact function but in the middle of the analysis i got this error:
![image](https://cloud.githubusercontent.com/assets/2520159/15420541/7c10da3c-1e97-11e6-9011-77ca3bb5345a.png)

Here's the error code:
[code]

### Expected Behaviour
If the user run the EQ analysis on raster population using ITB

[2016-05-20 07:39] Gustry commented on #2809
There is no impact function Flood on Landcover that's why the dropdown menu is empty and why the `run` button is disabled.
The only way to use landcover for now it's to use the generic IF. For that, you need generic keywords on your flood layer (in the keyword wizard, you should set your layer as generic, not as a flood layer).

But I agree there is a kind of bug, as InaSAFE should warn you `No IF

[2016-05-20 07:41] harrymahar opened #2813 "[Bug] All Hazard Impact Function Can Not Run for Building and Roads in QGIS Bahasa Indonesia"
### Problem
All hazard impact function to run affected Building and Roads scenario in QGIS Bahasa Indonesia does not work.

This week, I running all hazard (Flood, Earthquake, Volcano, Volcanic Ash and Tsunami) for all scenario (Population, Buildings, Roads, and LandUse) using InaSAFE 3.4.0 dev-master. I am using QGIS 2.8.9 (LTR) with Bahasa Indonesia and I have one major **bug (problem)** when I

[2016-05-20 08:04] harrymahar commented on #2676
Thankyou @Gustry , really looking forward to see the new improvement for this problem.

[2016-05-20 08:21] raniedwianugrah opened #2814 "[BUG] The detail of aggregation in tsunami scenario (tsunami raster and building) is not working"
### Problem

When we ran the tsunami scenario in InaSAFE Dock and IFCW using the building, tsunami hazard raster, and Maumere village boundary data. Then the analysis result is not showing the detail of aggregation for Maumere Village administrative according to the set analysis area.

![bug_tsunami_building_2](https://cloud.githubusercontent.com/assets/2528195/15421492/ca632e8c-1e9d-11e6-9490-e3f

[2016-05-20 08:27] raniedwianugrah commented on #2809
Oops sorry, we think the function is available in flood scenario.

[2016-05-20 08:29] dewisulistio opened #2816 "'Type Error' when running Raster Tsunami Maumere with Roads"
### Problem
While we tried to run Tsunami Maumere IF, Roads Maumere, and Maumere Village, the results analysis is fails because Type Error. I am using OSM downloader to change the roads data, and the results still Type Error.
[code]
**Running with InaSAFE Dock with aggregate**
![tsunami maumere - roads with aggregate](https://cloud.githubusercontent.com/assets/2524177/15421599/74b88fa8-1e9e-11e6-8

[2016-05-20 08:50] wulankhairunisa opened #2817 "[BUG] Error when running Earthquake and Landuse with aggregation in large analysis area"
### Problem

AttributeError happens when running Earthquake (vector) and Landuse (vector) with Nagekeo administration (as aggregation layer). I set the analysis area for whole area of Nagekeo District.

![49](https://cloud.githubusercontent.com/assets/2551072/15421535/0cef1dec-1e9e-11e6-82c3-5df9eac5ff1f.png)
![49a](https://cloud.githubusercontent.com/assets/2551072/15421651/aa13fc6e-1e9e-11e6-9fe

[2016-05-20 09:17] adissadis opened #2818 "[Bug] IFCW: Cannot set "No Aggregation" if the previous action is using Aggregation"
### Problem
This minor bug appear when i previously run analysis using IFCW with aggregation. When i tried to run the second analysis without close the QGIS first (using the same QGIS and the same data that already loaded in QGIS layer list) and i don't using aggregation in this second analysis, the IFCW will read the aggregation layer in the end of the summary information before run the analysis.

[2016-05-20 09:32] Gustry opened #2819 "Building postprocessor doesn't count properly"
### Problem
Using the tsunami on buildings :
![selection_078](https://cloud.githubusercontent.com/assets/1609292/15423573/533fe7ea-1ea8-11e6-8361-1ac9f6660db3.png)

### Expected Behaviour
There is more than 2 closed buildings.

[2016-05-20 09:39] Gustry commented on #2813
This should be fixed in PR https://github.com/inasafe/inasafe/pull/2820

[2016-05-20 09:44] harrymahar commented on #2813
Thankyou @Gustry . Looking forward to see it.

[2016-05-20 11:31] ismailsunni commented on #2812
Hi @adissadis
Can you tell me which data did you use? Because I can't replicate it using standard data test in InaSAFE.
Thanks

[2016-05-20 12:04] ismailsunni commented on #2816
hi @dewisulistio
I am using the dataset in http://data.inasafe.org/InaSAFE%203.2%20Data/, and I couldn't replicate this issue. Are you using the same data?
<img width="1296" alt="screen shot 2016-05-20 at 19 03 29" src="https://cloud.githubusercontent.com/assets/1421861/15427199/9a0d3ca8-1ebd-11e6-9724-6749f3df91e1.png">

And can paste here the full diagnostic, is seems there still some left (not

[2016-05-20 12:25] ismailsunni commented on #2811
Hi @adissadis
Thanks for the input. I will give some respond:

1. Actually, in one scenario file, we can have more than one scenario. So, the idea of making the scenario name same as file name is not quite good. Do you have any suggestion to be used as scenario name? My opinion something like: HazardName_ExposureName_AggregationName. Let me know if you have another idea. It should be easy to chang

[2016-05-20 12:46] ismailsunni commented on #2818
Hi @adissadis
I follow the steps that you wrote, but I can't reproduce it.

Can you ask anyone in Thamrin to replicate it ?

[2016-05-20 14:12] borysiasty commented on #2818
@ismailsunni please see #2822

[2016-05-20 15:04] adissadis commented on #2812
hi @ismailsunni the data i used is:

Hazard: Earthquake_yogyakarta_2006
Exposure: Java Population

without aggregation

[2016-05-21 21:18] timlinux commented on #2778
3rd looks nice - good choice!

[2016-05-21 21:35] timlinux opened #2823 "Wizard value mapping text needs improving"
### Problem

Currently the new value map text looks like this:

<img width="1001" alt="screen shot 2016-05-21 at 23 22 54" src="https://cloud.githubusercontent.com/assets/178003/15450922/da624d04-1fab-11e6-8543-1b5ec7cb2cd4.png">

Am I wrong or is it not true that it is not only the post processor that uses the value mappings, but the impact function itself? Maybe nice to say "We need to map the T

[2016-05-23 07:26] #2813 closed

[2016-05-23 08:51] timlinux commented on #2764
Here is my first pass (to fix the English)

* What type of vegetation is planted in affected crops/fields ?
* How long (duration) will the activity or function of the land cover will be disturbed?
* How severe is the land cover damage? (percentage affected area from total area)
* What potential losses will be incurred by the land cover damage? ( e.g 1 Ha rice field = 30 ton rice/one harvest period

[2016-05-23 08:53] timlinux commented on #2804
There is already support for this:

![Uploading Screen Shot 2016-05-23 at 10.52.39.png…]()

[2016-05-23 09:10] Gustry commented on #2804
@timlinux, correct me if I'm wrong, but these options are only on the UI. The computation will occur whatever these options are checked or not in the background.
https://github.com/inasafe/inasafe/blob/develop/safe/gui/widgets/dock.py#L2107

So I think we should re-open this issue.

[2016-05-23 09:58] #2770 closed

[2016-05-23 10:00] Gustry commented on #2823
@timlinux Please review https://github.com/inasafe/inasafe/pull/2824

[2016-05-24 03:33] adissadis commented on #2804
Yes what @Gustry said was right. The process still occurred even i already disable those two options in InaSAFE analysis area.

[2016-05-24 03:56] adissadis commented on #2818
@ismailsunni i already tested on another laptop but this problem still occured

I found python error after i delete the aggregation layer. This is the python error:

[code]

[2016-05-24 04:31] adissadis commented on #2816
@ismailsunni i'm still got the same error as dewi even i use the training data from the link that you sent before. Here's my error log:

[code]

[2016-05-24 05:20] Charlotte-Morgan commented on #2823
Hi @Gustry  - looking at this for the first time.
Can you please tell us where you got the class names from for structures - did someone provide advice on these already?

[2016-05-24 06:33] adissadis commented on #2811
@ismailsunni

1. Yes we can have more than one scenario in one file. But if we run with batch runner, it will list as one file name. And also there's a problem from have many scenario in one file. It will produce only 1 file result, even though there is a lot of scenario inside those file.

The purpose to save one file for one scenario is to be able see all the scenario that we already made. If on

[2016-05-24 08:08] ismailsunni commented on #2811
Ok, here what I will do:
- [ ] Set scenario name with the file name
- [ ]  Put exposure above the hazard layer, so the impact layer will be put above all layer.

My plan, I will do it after releasing 3.4

[2016-05-24 08:14] Gustry commented on #2764
I made a first PR https://github.com/inasafe/inasafe/pull/2826 to add the action list.
We can still tweak these strings later if we need.

[2016-05-24 08:17] Charlotte-Morgan commented on #2823
Hi @Gustry - i would like to tweak the terminology and text strings in this

[2016-05-24 09:00] ismailsunni commented on #2762
Hi @timlinux
I have investigated the issue, and I found the problem is data specific. Here is the keywords from the layer:
[code]

AFAIK, this keyword is coming from long time ago. There is even no `layer_purpose` keyword, which makes inasafe throw an error. InaSAFE assumes there is `layer_purpose` key in the keyword to show the impact report or generic keyword.

I have a PR #2827 to check the man

[2016-05-24 09:03] samnawi opened #2828 "Color Ramp For Symbology"
### Problem

We found the inconsistency color ramp for the impact symbology.
**Flood VS Polygon**
![image](https://cloud.githubusercontent.com/assets/8871958/15497923/425c0e78-21c7-11e6-8aba-56aba7d98fa7.png)

**EQ Raster VS Building**
![image](https://cloud.githubusercontent.com/assets/8871958/15497956/670a3fa6-21c7-11e6-8622-a7049e7b66d0.png)

**Classified Volcanic Raster Hazard on Buildings**
!

[2016-05-24 09:10] Charlotte-Morgan commented on #2823
please see comments in #2721

[2016-05-24 09:14] samnawi commented on #2385
Hi @ismailsunni , could we re-opened this ticket?
Because, when I, @felix-yew and @ivanbusthomi doing systematic testing for InaSAFE 3.4, we still found the not sequence hazard classification.

**Tsunami Raster VS Buildings**
![image](https://cloud.githubusercontent.com/assets/8871958/15498537/386b38e6-21ca-11e6-9462-62535c4d08a4.png)

**Volcano Point VS Buildings**
![image](https://cloud.githubus

[2016-05-24 09:15] Charlotte-Morgan commented on #2764
Please use this action list (apologies @fredychandra if I have misunderstood anything)

What type of crops are planted in the affected fields ?
How long will the activity or function of the land cover be disturbed?
What proportion of the land cover is damaged?
What potential losses will result from the land cover damage?
How much productivity will be lost during this event?
Which crops were ready

[2016-05-24 09:35] Gustry commented on #2764
Thanks @Charlotte-Morgan I've updated the strings in my PR.
Just for informations, these strings are only checklist, not notes. The notes are still empty.

[2016-05-24 09:35] ismailsunni commented on #2828
hi @samnawi, do you have preference for the color ramp? Which one that we can pick as the universal color ramp? Does it happen only on 4 IF above? Or should we make it general?
I think we need at least 4 color:
1. Not affected (green ?)
2. Low (yellow ?)
3. Medium (orange ?)
4. High (red ?)

It can be more specific to RGB value, since my green is not always the other green.

@Gustry and I had disc

[2016-05-24 09:37] Charlotte-Morgan commented on #2764
@Gustry - noted that there are no notes :)
the notes should be populated (by the developer) to say what is assumed or how data are handled ie no data and zeros.  We will get back to you on this one.

[2016-05-24 09:42] Gustry commented on #2385
@samnawi I made a PR with reordering in buildings IF : https://github.com/inasafe/inasafe/pull/2825 You should have a look.

[2016-05-24 09:47] ismailsunni commented on #2778
Closed in #2805

[2016-05-24 10:02] ivanbusthomi commented on #2385
@Gustry Ok, I'll have a look.

[2016-05-24 10:06] Charlotte-Morgan opened #2829 "Wizard: generic hazard data should only have generic classes ?"
## Problem

If I select generic hazard data for a fire boundary polygon in the kw wizard; I am then offered both generic classes (3 classes) and flood classes (2 classes) in subsequent steps to assign key words
However, if I select flood classes (because my data are binary) I am not able to run any impact functions in the dock. if nothing is offered.

The same happens if I choose flood hazard and

[2016-05-24 10:22] Gustry commented on #2778
I'm going to reopen this issue.
We need the landcover icon in the same style as the other icons. @MariaSolovyeva Can you provide the leaf in black, without any borders ?
![3858](https://cloud.githubusercontent.com/assets/1609292/15499999/18de6606-21a7-11e6-8c45-270a8406de0c.png)

[2016-05-24 10:23] Charlotte-Morgan opened #2830 "Do we need value mapping for landcover data?"
## Problem

Landcover impact function reports use raw field values that may include duplicates or typos and not be in English or translatable
## Proposed solution

Either a magic thing that turns dodgy data into happy data

or

a value mapper where the user assigns values in their data to a predefined classification.

the latter is very likely to be needed for the Volcanic ash realtime product as

[2016-05-24 10:25] Gustry commented on #2828
@samnawi It's on my todo list for InaSAFE 3.5 https://github.com/inasafe/inasafe/issues/2765
For now, each IF creates their own color. I would like to refactoring the styles.

[2016-05-24 10:47] Gustry opened #2831 "The road report shows unaffected column with 0."
### Problem
Running the raster tsunami on roads IF, it gives me `0` in the `unaffected column` even if the `dry zone` is not null.
![3858](https://cloud.githubusercontent.com/assets/1609292/15501122/1b306f58-21ac-11e6-9d05-7a0026828e89.png)

### Expected Behaviour
* First, `unaffected` and `dry` zone should be equal.
* Secondly, it doesn't make sense to show `dry` and `unaffected` as it's a duplic

[2016-05-24 10:55] ivanbusthomi commented on #2385
Hi @Gustry , I have tried your PR on some IF and cases, and it looks quite good to me. here are some screenshot
* This screenshot related to @samnawi
![1](https://cloud.githubusercontent.com/assets/7351977/15501220/8bf3140a-21d6-11e6-80ee-cc0b5bbb8ddd.PNG)
and this one:
![3](https://cloud.githubusercontent.com/assets/7351977/15501240/b4d0a374-21d6-11e6-9970-8bf2e960dab5.PNG)
and this one is in the

[2016-05-24 11:12] Charlotte-Morgan commented on #2385
@ivanbusthomi  - please let the developers know exactly which IF reports need the order to be changed

[2016-05-24 11:17] felix-yew commented on #2385
Hi @Gustry we have compiled a check list about sequence order. Here is the link

https://drive.google.com/file/d/0B05hpjhYVKxgUGdqUDBxZWx0QUE/view?usp=sharing

Maybe you can make it happy :smile:

Cc: @Charlotte-Morgan @timlinux @ismailsunni @samnawi @ivanbusthomi

[2016-05-24 11:21] Charlotte-Morgan commented on #2385
@felix-yew @ivanbusthomi  - that looks great.
As discussed a 'v" means that the report needs fixing and '-' means its already happy.

[2016-05-24 11:24] felix-yew commented on #2318
Hi @ismailsunni we have compiled a check list about Zero and No Data, too. Here is the link

https://drive.google.com/file/d/0B05hpjhYVKxga1AwMGpOLW05cFk/view?usp=sharing

The information about the Impact Function Table of Sequence Order:
"V" it means the sequence may appear in map legend and/or table analysis, and needs fixing.
"-" it means already good.

Make it happy :smile:

Cc: @Charlotte-Mor

[2016-05-24 12:31] Charlotte-Morgan commented on #2778
And higher resolution would be good too.

Charlotte  Morgan
Spatial Data Analyst
DMInnovation - Jakarta
GEOSCIENCE AUSTRALIA

Mobile: +61 412 949642
Mobile: +62 8118204648

On 24 May 2016, at 5:19 PM, Etienne Trimaille <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm going to reopen this issue.
We need the landcover icon in the same style as the other icons. @MariaSolovyeva<

[2016-05-24 15:35] ismailsunni opened #2832 "Remove Python Zonal Stats"
### Problem
Currently we have two zonal stats (python and QGIS). Since the zonal stats QGIS is more reliable, we should stop our support for python zonal stats. See issue: #2751
### Expected Behaviour
- [x] InaSAFE should only support QGIS zonal stats
- [x] Remove related code to python zonal stat
- [x] Remove option to choose zonal stats in option dialog

### Environment
All

### Proposed Solutio

[2016-05-24 16:21] timlinux commented on #2491
Just an update here for everyone watching this thread: I did some processing to generate vector products from the supplied netcdf example above. This is how the products look:

<img width="691" alt="screen shot 2016-05-24 at 17 54 56" src="https://cloud.githubusercontent.com/assets/178003/15511518/30adec36-21dc-11e6-8e22-870d1aeb0aaa.png">

This is the raster product that I produced using the foll

[2016-05-24 16:45] Gustry commented on #2628
This issue was related to 3857 and it has been fixed : https://github.com/inasafe/inasafe/pull/2791

[2016-05-24 16:45] #2628 closed

[2016-05-24 16:47] Gustry commented on #2385
I made a PR for that issue https://github.com/inasafe/inasafe/pull/2833 but we should wait https://github.com/inasafe/inasafe/pull/2825 to be merged to test.

[2016-05-24 16:53] timlinux commented on #2491
One other comment I should add is that the NetCDF has multiple time slices for each product - can we assume that we use the 90h product for analysis?

[2016-05-25 01:32] ismailsunni commented on #2762
Closing this on PR #2827

[2016-05-25 01:32] #2762 closed

[2016-05-25 01:32] ismailsunni commented on #2759
See my comment in #2762
Closing this since it's already covered in #2827

[2016-05-25 01:32] #2759 closed

[2016-05-25 04:53] #2831 closed

[2016-05-25 04:54] #2819 closed

[2016-05-25 06:14] #2832 closed

[2016-05-25 06:19] Gustry commented on #2832
@ismailsunni We couldn't remove `calculate_zonal_stats` ?
https://github.com/inasafe/inasafe/search?utf8=%E2%9C%93&q=calculate_zonal_stats

[2016-05-25 06:26] ismailsunni commented on #2751
@samnawi
I have removed python zonal stat in PR #2833, perhaps we can close this since the problem is caused by python zonal stat.
I will close this, feel free to reopen if you still find the problem.

[2016-05-25 06:26] #2751 closed

[2016-05-25 06:38] ismailsunni commented on #2832
@gustry yes, of course. I forget to remove the main code :D, now in PR here #2838

[2016-05-25 06:43] ismailsunni commented on #2809
@gustry do you think set the value of the IF combo box to `No IF available` will solve the bug?

[2016-05-25 06:45] adelebearcrozier commented on #2491
Hi @timlinux, Many thanks. This looks excellent. I am currently at DM Innovation (leaving tonight) and have had good discussions with the team (@Charlotte-Morgan @samnawi @ivanbusthomi). I am now working on producing netCDF test files for multiple scenarios which i will store in /model_area/tephra/inasafe_realtime_hazard-data for @samnawi.

In response to your question, yes the 09th time step is t

[2016-05-25 06:51] Gustry commented on #2832
I though your PR was not finished. but then I saw you merged it without removing the main code !

[2016-05-25 07:33] Charlotte-Morgan commented on #2491
thanks @adelebearcrozier for the update.
It was great to meet face to face and chat about a few things.
DMI also showed off realtime UI and landing page and interoperability with InAWARE
Here are a few notes from me and actions.
**Data**: Adele is preparing more sample data so that @samnawi will run landcover IF and see what different scale events look like; and provide feedback.
**Scale**: defaul

[2016-05-25 07:41] Charlotte-Morgan opened #2839 "We need a report template for realtime volcanic ash"
## problem

We need to compose a report template for realtime volcanic ash.

All the user requirements are in #2491
Wiki page for map composer templating is here
 https://github.com/inasafe/inasafe/wiki/Map-Composer-Templating.

@ivanbusthomi  - I would like to assign this to you. You will need to work closely with @lucernae to get his advice and lessons learned from other realtime templates.
@luc

[2016-05-25 07:48] adelebearcrozier commented on #2491
Hi @samnawi, i have created 1km netCDF files for five volcanoes (lokon, merapi, soputan, sinabung and sangeang_api) and placed then on the drive here:

/model_area/tephra/inasafe_realtime_hazard-data/netcdf

Please let me know if you have any trouble accessing them. Please only consider the variable "THICKNESS" and the final time step. I will look into generating a single time step next week.

Gre

[2016-05-25 07:50] Charlotte-Morgan opened #2840 "We need a wiki page for InaSAFE reporting standards"
## Problem
We have many IF reports that are inconsistent wrt terminology, styles, titles, etc
We reviewed this at the time of the 3.2 release
We did not record our decisions :(

## Proposed solution
We need to document the preferred style for IF reports so that:
- we can agree on a standard way we want to communicate
- we can provide guidance to developers writing new IF on standard report compone

[2016-05-25 08:29] lucernae commented on #2839
@Charlotte-Morgan I already speak with Ivan via Skype about it :D.
@ivanbusthomi for reference, you can take a look at:
https://github.com/inasafe/inasafe/blob/develop/realtime/fixtures/realtime-template.qpt for Shake and
https://github.com/inasafe/inasafe/blob/develop/realtime/flood/fixtures/realtime-flood.qpt for flood

[2016-05-25 08:37] lucernae opened #2842 "Provide small tests data for Ash Raster on Polygon Landcover"
Currently, I used tsunami raster as ash.
This files will be included in the repo for tests data loaded in 'Load test data' button.
It doesn't have to be big, just small enough to represents Ash Raster with different hazard type (various value) and it intersects current landcover exposure data:
https://github.com/inasafe/inasafe/blob/develop/safe/test/data/exposure/landcover.shp

Or if necessary, w

[2016-05-25 08:59] Charlotte-Morgan commented on #2830
On second thoughts - why don't we just fix the data :)

[2016-05-25 09:00] adissadis commented on #2812
Here's link for the data that i used:
http://data.inasafe.org/InaSAFE%203.1%20Data/DI%20Yogyakarta.zip

[2016-05-25 09:03] Gustry commented on #2842
I think we should avoid to have multiple landcover exposure. We should have one layer which contains some specials use cases.

The ash test data should be very simple and dummy where we can deduce the result. It's also on my roadmap to make the expected results more uniform across each IF. It becomes difficult to maintain tests as the values and the expected results are different  in every IF.

[2016-05-25 09:38] ismailsunni commented on #2812
I tried it on my machine, I couldn't replicate it. See image below:
<img width="1299" alt="screen shot 2016-05-25 at 16 24 43" src="https://cloud.githubusercontent.com/assets/1421861/15534904/5111dc80-2295-11e6-84f7-036b1ee0a709.png">

I also try with the other EQ IF (the normal and pager one) and all is good also.

Then I looked at the code and it seems the path manipulation is not counting the w

[2016-05-25 09:41] lucernae commented on #2842
Yeah, I also prefer less files to worry about :D

[2016-05-25 09:45] ivanbusthomi commented on #2816
Hi @ismailsunni this is the data that i used. it's been more than two hours, but the processing for the whole island is still running. it works perfectly using smaller extent though.

[testing-for-tsunami.zip](https://github.com/inasafe/inasafe/files/281465/testing-for-tsunami.zip)

[2016-05-25 09:49] ismailsunni commented on #2818
Hi @adissadis
If you still found the error/bug, please re-open the issue.

Can you explain more, when do you delete the aggregation layer? After closing the wizard? Or how?

Thanks

[2016-05-25 09:52] ismailsunni commented on #2842
Yes, agree with @Gustry
The ideal is we can calculate the result by hand to make it sure that the result from IF is correct.

Just create a dummy file, as long as it's less than 100kb.

[2016-05-25 09:53] Charlotte-Morgan commented on #2419
hi @timlinux - has this progressed for 3.4?

[2016-05-25 10:07] ismailsunni commented on #2798
Hi @NyakudyaA
Can you give more detail about which layer you are using for this issue?
You said you run intermediate training, but you give link to basic training.

Other than that, I tried it on my computer, and all is fine. I am using hazard and exposure from basic training, and aggregation layer from intermediate training (the Jakarta_District_Boundary_WGS84.shp). I found all is good in develop

[2016-05-25 10:13] ismailsunni commented on #2691
I think we will move it to 3.5 @timlinux @Gustry ?
For the Qt Table

[2016-05-25 10:13] adissadis commented on #2818
That python error found before i check fix from borys. So you can close it now. Thank you!

[2016-05-25 10:13] #2818 closed

[2016-05-25 10:15] ivanbusthomi commented on #2842
@Gustry  @ismailsunni I'm already working on some dummy raster data based on the one @timlinux  extracted earlier. I will upload it here once completed. I hope it will work perfectly with the test data @lucernae mentioned

[2016-05-25 10:26] Gustry commented on #2691
We will not do Qt Table anymore. We just need to highlight columns which are affected in the HTML.

[2016-05-25 10:30] samnawi opened #2846 "BUG : Type Error Problem When running InaSAFE"
### Problem
After I, @felix-yew and @ivanbusthomi doing a systematic testing for InaSAFE 3.4, we found some IF that cannot run. One of the issues is Type Error. Maybe this issue is similar with https://github.com/inasafe/inasafe/issues/2816, but we will try to explore all of IF that has similar error (type error).

We got the error in :
**1.Tsunami Raster VS Roads**
Similar with https://github.com

[2016-05-25 10:45] felix-yew opened #2847 "The aggregation result not appear in printed PDF."
### Problem
After I, @samnawi and @ivanbusthomi have been analysis the InaSAFE 3.4.0. between some of Hazard data and Exposure data and add with Aggregation data, there is some problem with the result. In the Print Table in PDF, there is no aggregation result. We have some problems when we have printed the PDF result in different hazard that we use it.
This is one of example from printed PDF InaSA

[2016-05-25 10:48] MariaSolovyeva commented on #2778
Hello @ismailsunni , I've  just sent you a letter with SVG

[2016-05-25 11:25] ismailsunni commented on #2778
New icon from @MariaSolovyeva

<img width="111" alt="screen shot 2016-05-25 at 18 20 50" src="https://cloud.githubusercontent.com/assets/1421861/15538363/de625fe6-22a5-11e6-9593-c102565e3b72.png">

I made a PR for this: #2848

[2016-05-25 11:25] #2812 closed

[2016-05-25 11:27] Charlotte-Morgan commented on #2764
Notes have been updated and are in pr #2845

[2016-05-25 11:28] Charlotte-Morgan opened #2849 "Report style for buildings"
## Problem

Text is right aligned in impact reports where new structure mappings are used.

## Proposed solution
All text should be left aligned
All numbers should be right aligned

make it happy

[2016-05-25 11:42] ivanbusthomi commented on #2842
Hi @Gustry @lucernae @ismailsunni ,this is the dummy volcanic ash raster data that i've prepared, based on the one that Tim extracted.
What i do was assigning correct projection to the extracted data, and moving and resizing it to the extent of landcover dummy data.

![preview](https://cloud.githubusercontent.com/assets/7351977/15538626/9ac82a84-22a7-11e6-9229-f5b5f6b5f0da.PNG)

I've tried it usin

[2016-05-25 11:52] Charlotte-Morgan commented on #2778
Nice.

On 25 May 2016, at 6:21 PM, Ismail Sunni <notifications@github.com<mailto:notifications@github.com>> wrote:

New icon from @MariaSolovyeva<https://github.com/MariaSolovyeva>

[screen shot 2016-05-25 at 18 20 50]<https://cloud.githubusercontent.com/assets/1421861/15538363/de625fe6-22a5-11e6-9593-c102565e3b72.png>

I made a PR for this: #2848<https://github.com/inasafe/inasafe/pull/2848>

-
Y

[2016-05-25 12:32] ismailsunni commented on #417
Can we close this ticket and the other landuse related ticket since we already have land cover in place now?
cc @Charlotte-Morgan @timlinux

[2016-05-25 12:35] ismailsunni commented on #2778
ok, merging the PR then.

[2016-05-25 12:35] #2778 closed

[2016-05-25 12:38] ismailsunni commented on #2682
I think we can close this since we have implemented that smart road impact report.

[2016-05-25 12:38] #2682 closed

[2016-05-25 12:39] ismailsunni commented on #2106
Duplicated with #2373

[2016-05-25 12:39] #2106 closed

[2016-05-25 12:42] ismailsunni commented on #2231
We also have the ordering now in the impact report, and group the road into several categories. Closing this now.

[2016-05-25 12:42] #2231 closed

[2016-05-25 12:47] ismailsunni commented on #2413
Hi @MariaSolovyeva
I remember that you gave me a piece of CSS for this issue to be added in the server. Can you write that code here? And where should I add? I remember you can't modify the files in the server.

[2016-05-25 12:49] ismailsunni commented on #2380
See PR #2841

[2016-05-25 12:51] ismailsunni commented on #2114
Move to gitter for a while, and so far so good.
Join us in https://gitter.im/inasafe/inasafe

[2016-05-25 12:51] #2114 closed

[2016-05-25 12:53] ismailsunni commented on #2147
I think we can close this since it should be solved by removing that pydev line for remote debugging.
I always find this error if I forgot to remove the lines, and do not run remote debugger.

[2016-05-25 12:53] #2147 closed

[2016-05-25 12:56] ismailsunni commented on #1815
I checked in the geonode admin page, there are already admin account for Iwan and Charlotte. Closing this.

[2016-05-25 12:56] #1815 closed

[2016-05-25 13:06] NyakudyaA opened #2851 "Open composer in print impact results in initial blank map."
### Problem

During printing results of impact  analysis when we choose open composer the initial map is blank.

![floods](https://cloud.githubusercontent.com/assets/2510900/15540712/23cd2d6c-2289-11e6-9dea-fc4e8b5ba0b1.png)
### Expected Behaviour

Open map composer with a map already drawn. Make the properties of the map default to render instead of rectangle.
### Environment
- InaSAFE : 3.4
- QG

[2016-05-25 14:06] NyakudyaA opened #2852 "legend is cut off from report when non default template is choosen"
### Problem

Generating a report using the template `a3-landscape-blue` results in a report that has has legend cut off or not completely visible and other essential parts of the report cut off.

To reproduce this use the [Basic analysis](http://docs.inasafe.org/en/training/socialisation/run_basic_inasafe.html) and choose `Run InaSAFE for population` and choose `Print and Save your InaSAFE Results

[2016-05-25 14:44] Charlotte-Morgan commented on #2846
@ismailsunni @timlinux
I think this looks like a release blocker for anything that ran previously

On 25 May 2016, at 5:26 PM, Adi Kurniawan <notifications@github.com<mailto:notifications@github.com>> wrote:

Problem

After I, @felix-yew<https://github.com/felix-yew> and @ivanbusthomi<https://github.com/ivanbusthomi> doing a systematic testing for InaSAFE 3.4, we found some IF that cannot run. One

[2016-05-25 23:44] easmetz commented on #2840
I have created a google doc for the draft reporting standards wiki (https://docs.google.com/document/d/1rhipAU4mdykbKQ4Qx4I5XuUwSSd33IY7Iw99tvOQsMo/edit?usp=sharing). I will put it in the gitter chat when it is ready for discussion/feedback.

[2016-05-25 23:48] easmetz commented on #2840
Also @Charlotte-Morgan I can't access the previous review or the blank test report at the moment so I have requested access. When I click on the DMI 3.4 test reports as PDF link it takes me to my blank Drive dashboard. This is the same problem we had last week - could you please re-share the link? Thanks!

[2016-05-26 01:31] Charlotte-Morgan commented on #2840
hi @easmetz, thanks for the feedback, I have fixed the links above - I hope it works now.

[2016-05-26 01:44] Charlotte-Morgan commented on #2840
@easmetz
Please make your document above open for comment now, then we can add any existing standards.

Here are some thoughts on what needs to go in the standards:
**Map**
Title
Legend order
Legend colours
Marginalia

**Report**
General report
Alignment
Headings
Units

Aggregation reports
Action lists
Notes and assumptions

**Terminology**
Hazard zones, hazard classes, hazard areas
Impacted, affe

[2016-05-26 01:47] ismailsunni commented on #2764
Closed in #2485

[2016-05-26 01:47] #2764 closed

[2016-05-26 02:16] easmetz commented on #2840
I have opened the document to commenting and editing now (I have updated the link) and I've copied your suggestions in.

[2016-05-26 04:20] ivanbusthomi commented on #2846
### Work around
**environment** :
OS Windows 7
QGIS 2.14.1
InaSAFE 3.4

I've tried modifying the aggregation data by converting the multipart to singlepart, using _Multipart to Singlepart_ menu. **It worked** for me, without any error. This is what I got using _semeru continuous raster_ hazard on _raster population_ exposure :
![1](https://cloud.githubusercontent.com/assets/7351977/15563320/b5543d

[2016-05-26 04:21] ismailsunni opened #2853 "AttributeError on Classified Polygon People"
### Problem
I was trying to test the issue number 2 from #2846, intead got TypeError, I got AttributeError like below:

[code]

### Expected Behaviour
IF running properly without error

### Environment
* InaSAFE : Develo (264e679)
* QGIS : 2.8.3
* OS : OSX
* Data used : See detailds on #2846 second issue.

### Proposed Solution
Make it happy

[2016-05-26 04:33] ismailsunni commented on #2853
This problem is also occurs when trying the third scenario in #2846, but without aggregation. For the aggregation, I got the same TypeError.

I have added the fix also in the #2854

[2016-05-26 04:46] ismailsunni commented on #2846
I am able to replicate the issues in OSX and QGIS 2.8.3. Except the first one.

[2016-05-26 06:37] Charlotte-Morgan commented on #2846
@ivanbusthomi  - thanks for confirming teh multipart problem. I think it is a known issue and just as we have to support users to prepare their data prior to analysis, maybe we add this to the list. @adissadis can you please look to see if this limitation is covered in training for new users.

@ismailsunni  - for now maybe we can add a limitation to the dock and or a nice happy warning message

@e

[2016-05-26 08:43] timlinux commented on #2846
I think the only viable option is to support multipart features for aggregation. Historically we did not support it because the NUMPY based geometry algorithms written by Ole do not support multipart features. On our road map we will be deprecating his safe_layer which will allow us to work with QGIS native data layers including multipart features.

For now I think we should move this to 3.5 and r

[2016-05-26 08:47] Gustry commented on #1427
Is this issue still a release blocker @Charlotte-Morgan ? I think it was for 3.3.
Since March, we have now Tsunami on roads, thresholds can be changed.

[2016-05-26 08:56] ivanbusthomi commented on #2846
@timlinux @Charlotte-Morgan @ismailsunni
After trying the other problem mentioned by @samnawi above, apparently the singlepart aggregation layer only fix/removes the error in problem 6. the errors are still persist in the other problem (problem 1 through 5), below are the detailed results.
![2 8 8](https://cloud.githubusercontent.com/assets/7351977/15569238/4a543c38-235a-11e6-86d5-e930b30bc02f.PNG

[2016-05-26 08:56] Charlotte-Morgan commented on #1427
hi @Gustry  - this was fixed at 3.3 and can be closed thank you

[2016-05-26 08:56] #1427 closed

[2016-05-26 08:59] Charlotte-Morgan commented on #2846
@ivanbusthomi
This is weird, the only consistent thing is QGIS 2.8.8 - do these run in 2.14?

[2016-05-26 09:05] ivanbusthomi commented on #2846
@Charlotte-Morgan
As updated by mas @felix-yew in the first post, the error also run in 2.14.1
![ref](https://cloud.githubusercontent.com/assets/13621886/15564434/8e53d600-233c-11e6-9637-2bd7e82f0fc3.png)

Here are my detailed report that contains the result test for these problems from 2.14.1
![3](https://cloud.githubusercontent.com/assets/7351977/15569497/5835e8d2-235b-11e6-9c72-2011d813ed6e.PNG

[2016-05-26 10:58] felix-yew opened #2856 "Different of value in each hazard zone in population analysis"
### Problem

In some hazard, there are some problem after analysis and print the table.

**1. Earthquake (vector) and Population (vector)**
![image](https://cloud.githubusercontent.com/assets/13621886/15569775/e01ff908-235c-11e6-990f-9098a9a17019.png)
In this case, **total affected people in aggregation result is not correct**. Related to the value of each hazard zone is much different. There is a

[2016-05-26 11:45] NyakudyaA commented on #2798
@ismailsunni  I have just tested this again and still I get the attribute error. I am using `http://docs.inasafe.org/en/training/socialisation/run_intermediate_inasafe.html` in the section `C. Run InaSAFE for population with aggregation`.

![attribute_error](https://cloud.githubusercontent.com/assets/2510900/15573521/ed3b02a0-2347-11e6-9038-28d65e864981.png)

[2016-05-26 14:22] ismailsunni commented on #2846
Hi, here my result by using QGIS 2.8.3 on OSX. Seems a little bit different:

<img width="1167" alt="screen shot 2016-05-26 at 21 19 38" src="https://cloud.githubusercontent.com/assets/1421861/15577667/a9740702-2387-11e6-8969-9886c64eea30.png">

The orange one (attribute error) is fixed in #2854, but I haven't tested it again, since I have not much idea about the fix (is it ok or not ok).

Now, I

[2016-05-26 20:13] borysiasty commented on #2829
@ismailsunni I guess this ticket is for you. The wizard just lists classifications given from `ImpactFunctionManager.raster_hazards_classifications_for_layer()` and `ImpactFunctionManager.vectors_hazards_classifications_for_layer()`. See https://github.com/inasafe/inasafe/blob/develop/safe/gui/tools/wizard/step_kw25_classification.py#L72 .

[2016-05-27 04:07] ismailsunni commented on #2846
From my error table:
I have some fixes in #2857 for TypeError NoneType (red blood error) and Attribute Error (pale orange error). But I am not sure still.

For the `TypeError, QgsFeature.setGeometry(QgsGeometry): argument 1 has unexpected type 'NoneType'` error, I check in the classified polygon people, the SymDifference between two polygon returns None. I check the polygon with QGIS, and they sho

[2016-05-27 07:21] ivanbusthomi opened #2858 "Symbology problem in Classified Volcanic Ash Raster on Vector exposure"
### Problem
When I tried running Classified volcanic ash raster on building polygon, the result layer are not visible in map canvas, even though the layer name and details is in table of content. I got no error or anything, the process run smoothly. The screenshot below shows what i got after the process finished.
![1](https://cloud.githubusercontent.com/assets/7351977/15596771/4b4c1044-23f4-11e6-

[2016-05-27 08:33] Charlotte-Morgan commented on #2094
fixed in PR #2859

[2016-05-27 08:58] #2849 closed

[2016-05-27 09:06] dewisulistio commented on #2816
Hi @ismailsunni it's just 3 items for detail diagnostics. I used the data same with adityo

[2016-05-27 09:09] Charlotte-Morgan commented on #1251
@easmetz  - I picked this up again because it fits well with the 3.4 release

[2016-05-27 09:19] Charlotte-Morgan commented on #2272
hi @easmetz  - this is the file you need
C:\Users\AIFDR_ADMIN\.qgis2\python\plugins\inasafe\safe\definitions.py

[2016-05-27 10:03] ismailsunni commented on #2829
Well, it's an old problem actually.
So, in our metadata system, we do not pair hazard type with hazard classes. We only put all possible values for  the IF.
So, the short solution would be either:
1. Remove flood_classes support on generic IF, so we can only use generic classes, or
2. Better information / training / explanation on what no to do.

I believe, in the long term we should pair (or pack

[2016-05-27 11:49] felix-yew commented on #2846
Hi mas @ismailsunni, I just add a little information test your PR, here my result by using QGIS 2.8.8. on Windows 7 64-bit. Some hazard can work properly.

![image](https://cloud.githubusercontent.com/assets/13621886/15607209/52496d50-243b-11e6-8165-d4315a5fd84c.png)

I think the most of the PR is already running well. In case of tsunami (raster) and road (vector) still error in my Windows.

[2016-05-29 22:51] #2152 closed

[2016-05-29 22:53] timlinux commented on #1216
This is implemented in 3.4 - I guess we want to look at other variants of 'on landcover' IF's in the future...

[2016-05-29 22:53] #1216 closed

[2016-05-29 23:15] #1251 closed

[2016-05-30 05:00] Charlotte-Morgan opened #2866 "BUG: 3.4 key words are not auto updating"
The key word version is not updating for data with version 3.3 key words.

eg Tsunami raster

[2016-05-30 05:07] Charlotte-Morgan opened #2867 "BUG: 3.4 The value mapping has not been merged"
The feedback and changes to value mapping terminology does not appear in the tagged version

[2016-05-30 07:24] ismailsunni commented on #2866
Can you elaborate what does it mean with not updating @Charlotte-Morgan ?

[2016-05-30 07:38] felix-yew commented on #2866
Hi mas @ismailsunni, maybe I can add some information about this issue. When I have been tried with InaSAFE version 3.4.0, something strange in the dock.

![image](https://cloud.githubusercontent.com/assets/13621886/15642784/bc2cc9bc-2673-11e6-88cc-f9fe39c9f2b8.png)
Not only in Tsunami Raster, but in other data. Could there be an error in merging process?

Cc: @Charlotte-Morgan @timlinux

[2016-05-30 07:43] Charlotte-Morgan commented on #2866
thanks @felix-yew - this explains what i was trying to say.  Previously when we open data with keywords already assigned, the keywords update to the new version.

[2016-05-30 07:53] ismailsunni commented on #2866
@felix-yew and @Charlotte-Morgan
Thanks, I understand now.

[2016-05-30 09:19] ismailsunni commented on #2867
I am creating another PR for this in #2868, merging the latest develop to master then creating a package after the test is passing. I also fix #2866 in the same PR.

[2016-05-30 09:21] felix-yew commented on #2866
Hi mas @ismailsunni, I use your PR #2868 to fix this issue and LGTM

![image](https://cloud.githubusercontent.com/assets/13621886/15645401/5fd5670a-2682-11e6-8b46-a928781ea322.png)
The InaSAFE and keyword version is already suitable.

Nice :+1:

[2016-05-30 09:43] felix-yew commented on #2866
Hi mas @ismailsunni maybe I can add some information about your PR #2868 in this issue, I find in icon in landcover and tsunami matrix.

![image](https://cloud.githubusercontent.com/assets/13621886/15645850/f55bb14c-2684-11e6-8684-a9d3164ebf03.png)
In PR #2868 in land cover has the new icon/logo of land cover. And function of raster tsunami on (polygon) land cover is available.

Maybe it can help

[2016-05-30 11:05] Charlotte-Morgan opened #2871 "BUG:3.4 Tsunami on Infrastructure - Index Error"

[2016-05-30 11:05] Charlotte-Morgan opened #2872 "BUG:3.4 Tsunami on Infrastructure - Index Error"

[2016-05-30 11:08] Charlotte-Morgan opened #2873 "BUG: 3.4 Tsunami on Infrastructure- Index Error"

[2016-05-30 11:09] Charlotte-Morgan opened #2874 "BUG: 3.4 Tsunami on Infrastructure- Index Error"

[2016-05-30 11:09] Charlotte-Morgan opened #2875 "BUG: 3.4 Tsunami on Infrastructure- Index Error"

[2016-05-30 11:11] Charlotte-Morgan opened #2876 "BUG: 3.4 Tsunami on Infrastructure- Index Error"

[2016-05-30 11:12] Charlotte-Morgan opened #2877 "BUG: 3.4 Tsunami on Infrastructure- Index Error"

[2016-05-30 11:14] Charlotte-Morgan opened #2878 "BUG: 3.4 Tsunami on Infrastructure- Index Error"

[2016-05-30 11:15] ivanbusthomi commented on #2877
Error on @Charlotte-Morgan PC

[2016-05-30 11:15] #2877 closed

[2016-05-30 11:15] ivanbusthomi commented on #2878
Error on @Charlotte-Morgan PC

[2016-05-30 11:15] #2878 closed

[2016-05-30 11:16] ivanbusthomi commented on #2876
Error on @Charlotte-Morgan PC

[2016-05-30 11:16] #2876 closed

[2016-05-30 11:16] #2875 closed

[2016-05-30 11:16] #2874 closed

[2016-05-30 11:16] #2873 closed

[2016-05-30 11:16] #2872 closed

[2016-05-30 11:16] #2871 closed

[2016-05-30 11:24] ivanbusthomi opened #2879 "BUG:3.4 Tsunami on Roads - TypeError"
### Problem
I tried running the 3.4 version of InaSafe using ambon data of raster tsunami hazard against roads.
I got a TypeError. here are the detailed report
[code]
### Expected Behaviour
It should work without error

### Environment
* InaSAFE : 3.4
* QGIS : 2.8.8
* OS : Windows 7 64bit
* Data used : [testing-for-tsunami.zip](https://github.com/inasafe/inasafe/files/281465/testing-for-tsunami.zi

[2016-05-30 11:31] ismailsunni commented on #2867
Fixed in #2868

[2016-05-30 11:31] #2867 closed

[2016-05-30 11:32] ismailsunni commented on #2866
Fixed in #2868

[2016-05-30 11:32] #2866 closed

[2016-05-30 12:09] ivanbusthomi opened #2880 "BUG:3.4 Tsunami on Infrastructure - IndexError"
### Problem
I got an IndexError when running Tsunami hazard (Raster and vector) on Point Infrastructure using ambon data. here are the detailed result

This is my Keyword Setup
* Exposure Infrastructure
![keyword infrastructure](https://cloud.githubusercontent.com/assets/7351977/15649170/a380b164-2699-11e6-8b0d-26ca68e938b7.PNG)

* Tsunami Vector
![keyword hazard vector](https://cloud.githubuserco

[2016-05-31 01:55] lucernae commented on #2842
forgot to mention it. thanks @ivanbusthomi , I will include it and edit my test files.

[2016-05-31 02:17] ivanbusthomi commented on #2842
Your welcome @lucernae Is the data too big? i can make the resolution lower and update it if you want

[2016-05-31 05:40] Charlotte-Morgan commented on #2879
@ismailsunni  and @ivanbusthomi
I have just tested a small area with a fresh OSM download and no error.
It was rather slow - but completed with no error.
The user also had very good progress bars to know that it was still running

[2016-05-31 06:02] ivanbusthomi commented on #2879
@Charlotte-Morgan and @ismailsunni
here is a screenie of what i got using freshly downloaded road data from OSM downloader and tsunami raster
![tsunami-2.8.8](https://cloud.githubusercontent.com/assets/7351977/15664622/b9107c4e-272f-11e6-8132-4870fc4fff43.PNG)

Strangely, i tried on 2.14.1 using the exact same data, without redownloading from OSM downloader, and it works just fine
![tsunami-2.14](

[2016-05-31 06:15] Charlotte-Morgan commented on #2879
Yes - i tested the same area and it work for me in 2.8.3

[2016-05-31 06:15] Charlotte-Morgan opened #2884 "Papercut: 3.4 wrong symbol in legend"
The symbol text is incorrect in the tsunami impact legend.
It should read
The Low hazard zone: > 0 - 1.0m

not <0

![image](https://cloud.githubusercontent.com/assets/5743135/15664931/ecdc5e1a-2731-11e6-86b3-2d65f3ec7128.png)

[2016-05-31 06:26] Charlotte-Morgan commented on #2846
hi @felix-yew - what is the status of this now - i think this is fixed in PR #2881?

[2016-05-31 06:30] Charlotte-Morgan opened #2885 "Tsunami vector classes"
## Problem

Tsunami vector classes are not offered to the user in the key words.
Generic classes do not reflect the tsunami hazard classes (+ very high)
## proposed solution

In C:\Users\AIFDR_ADMIN.qgis2\python\plugins\inasafe\safe\definitions.py
add the tsunami_vector_hazard_classes

these can be copied from
tsunami_raster_hazard_classes

then reference these in the key words wizard
![image](htt

[2016-05-31 06:41] Charlotte-Morgan commented on #2816
hi @dewisulistio - can you please check if this is still a problem with #2881

[2016-05-31 06:42] ismailsunni commented on #2879
@ivanbusthomi
I have created another PR for it #2883, please check it with the same data that give you error.

[2016-05-31 06:49] ivanbusthomi commented on #2879
@ismailsunni
I just check it in 2.8.8, it gave me another error:
[code]

I didnot set any aggregation layer, and just do the entire analysis area. Here is my keyword setup for hazard (in case i did something wrong with my setup)
![key](https://cloud.githubusercontent.com/assets/7351977/15665592/37e977b8-2736-11e6-871a-80571b540d3f.PNG)

and keyword for roads (automatically set up by OSM downloader

[2016-05-31 06:50] Charlotte-Morgan commented on #2879
I'm testing too

[2016-05-31 06:58] Charlotte-Morgan commented on #2879
@ismailsunni @ivanbusthomi  - mine works fine
![image](https://cloud.githubusercontent.com/assets/5743135/15665851/c56e3960-2737-11e6-9798-9d2a13251b51.png)

[2016-05-31 08:09] ismailsunni commented on #2880
Closed in #2881

[2016-05-31 08:09] #2880 closed

[2016-05-31 08:28] ismailsunni commented on #2814
Mine is working like this:
<img width="1279" alt="screen shot 2016-05-31 at 15 28 02" src="https://cloud.githubusercontent.com/assets/1421861/15668212/49982546-2744-11e6-9d09-ef5c9c1154e9.png">

See the breakdown per village

[2016-05-31 08:34] lucernae commented on #2814
I was using 2.14, and also got the the breakdown per village.
by the way, @ismailsunni are you using flood on roads? The issue is for Tsunami on building.

<img width="1440" alt="screen shot 2016-05-31 at 15 33 15" src="https://cloud.githubusercontent.com/assets/831865/15668362/17845ff6-2745-11e6-9f39-a787a027c83f.png">

[2016-05-31 08:36] ivanbusthomi commented on #2814
I got the same result as mas @lucernae too. no problem with me in 2.14.1
![capture](https://cloud.githubusercontent.com/assets/7351977/15668437/6f348b4a-2745-11e6-9172-4ff054907041.PNG)

[2016-05-31 08:41] felix-yew commented on #2846
Hi @Charlotte-Morgan, I have test again and here the result :

![image](https://cloud.githubusercontent.com/assets/13621886/15668524/f0b689a2-2745-11e6-9302-1a09ba0727ec.png)
The Tsunami vs Roads still having error, I try in whole Ambon area. And very took a long time processing. In small area, it still processing :disappointed:

Cc: @ismailsunni

[2016-05-31 09:12] raniedwianugrah commented on #2814
It's working, I ran in QGIS 2.14.3 32 bit, finally

![bug_tsu](https://cloud.githubusercontent.com/assets/2528195/15669364/3ac00c04-274a-11e6-853c-ac922c957186.PNG)

[2016-05-31 09:36] dewisulistio commented on #2816
Hi @ismailsunni  @Charlotte-Morgan It's working in QGIS 2.14.3

![tsunami maumere road](https://cloud.githubusercontent.com/assets/2524177/15670088/c6586272-274d-11e6-8740-0a57408ae0d4.png)

[2016-05-31 09:39] dewisulistio commented on #2816
![ambon roads](https://cloud.githubusercontent.com/assets/2524177/15670180/3f4e55c4-274e-11e6-8561-c29c05e606af.png)

[2016-05-31 11:12] felix-yew commented on #2846
Hi @ismailsunni I try with small area analysis and still get Exception error.

![image](https://cloud.githubusercontent.com/assets/13621886/15672487/1b2d067e-275b-11e6-934b-e87863302a14.png)

[2016-05-31 11:28] ivanbusthomi opened #2886 "Python Error on Tsunami Raster vs Population Raster"
### Problem
So I run InaSAFE 3.4 using tsunami raster hazard on raster population exposure. I tried using ambon data and I got this error message.
[code]

this is my keyword setup for ambon data that produce the python error
![keyword](https://cloud.githubusercontent.com/assets/7351977/15672556/952ed56a-275b-11e6-8de4-1c9c338ad190.PNG)

furthermore, when i tried using the IFCW, it didn't read the

[2016-05-31 11:41] felix-yew commented on #2886
Just add some information related this issue. I have try the same data. In my Windows 7 64-bit, run with QGIS 2.14.1 and the process can work properly.

![image](https://cloud.githubusercontent.com/assets/13621886/15673180/29da64f6-275f-11e6-9b08-183e88a28c04.png)
But, maybe the result have a little strange, because just in a small area that affected and not suitable with the table result that has

[2016-05-31 14:59] Gustry commented on #2814
Thanks for the feedback @raniedwianugrah, if it's working, I'm closing this one.

[2016-05-31 14:59] #2814 closed

[2016-05-31 15:45] Gustry commented on #2884
Two PR on master and develop.

[2016-05-31 16:42] Gustry commented on #2886
I got this error too :
[code]
This error has been caught by InaSAFE but by QGIS.

[2016-05-31 16:58] Gustry commented on #2847
@felix-yew I was going to try this issue but after downloading your data, I don't have any .shp in the hazard folder and also in exposure/landcover and also in exposure/structure. Exposure/road is empty. Is-it normal ? I don't think so, I can't test.
And don't hesitate to put everything in one URL, it's quicker download instead of one per one. Thanks.
And if you want, you can also include the qgis

[2016-06-01 02:48] ismailsunni commented on #2853
Fixed in #2854

[2016-06-01 02:48] #2853 closed

[2016-06-01 02:56] ismailsunni commented on #1448
When trying to release 3.4, I found it's very painful to wait ~40 minutes for travis to finish. Hopefully, we can remove inasafe_data for testing and travis will be faster, since we use smaller data test.
From https://travis-ci.org/inasafe/inasafe/builds/134095743

Our test is taking 2231.620 seconds (37 minutes) for 581 tests. It's about 3.83 seconds per test.
Make test data needs 23.71 seconds
a

[2016-06-01 03:02] felix-yew commented on #2847
Hi @Gustry I apologize about the empty roads in link that I share. Now, @ivanbusthomi preparing the data to convert in to the *.zip file, after finish preparing He will put in to one URL and share the data.

Thank you.

[2016-06-01 03:36] harrymahar commented on #2676
Hi @Gustry @Charlotte-Morgan @samnawi @felix-yew @ismailsunni , Today I try using InaSAFE 3.4.0 Minimum Needs Manager using Bahasa Indonesia in QGIS 2.14.3 Essen and I still got python error when I want to **Add New Item** and **Edit Item**. It said like this :

[code]

Thankyou

[2016-06-01 03:36] ismailsunni commented on #2879
Closing this in #2883

[2016-06-01 03:36] #2879 closed

[2016-06-01 04:02] ismailsunni commented on #1448
From #2890 and https://travis-ci.org/inasafe/inasafe/builds/134347919, we got 35 errors and 6 failures.

[2016-06-01 06:52] #2884 closed

[2016-06-01 13:53] Gustry commented on #2676
@harrymahar Can you try my PR : https://github.com/inasafe/inasafe/pull/2892
Sorry, it doesn't fix the problem for now. I tried to replicate your issue using InaSAFE in French and in Bahasa Indonesia, but for me it's working fine.
Can you copy/paste your readable sentence here to be sure ? and also the error that my PR will give you. Maybe you can also attach your `minimum needs` JSON file availab

[2016-06-01 22:53] ismailsunni commented on #2676
Trying in develop, I got this error message:
[code]

[2016-06-01 23:09] ismailsunni commented on #2676
Whoops, I think I know the problem.
It's because, in Bahasa, there is no plural for `unit`, so both `Unit` and `Units` are translated to the same word in Bahasa, `satuan`. Perhaps I will translate `Units` to `satuan (jamak)`

[2016-06-01 23:19] ismailsunni commented on #2676
Hi @harrymahar
Please try the fix in #2893 for this issue.

[2016-06-02 07:41] Charlotte-Morgan opened #2895 "We need to update socialisation training"
## problem
we need to update socialisation training materials for version 3.4
We will be using online training on Tuesday - Jakarta time

## proposed solution
We have comments from @easmetz from Feb 2016
https://docs.google.com/document/d/1cMn-itlwGzI3jl-G1w4VPGR64K0tJw8LgzctCZ6NfQc/edit

We have comments from @felix-yew today based on InaSAFE 3.4

## Proposed solution
- [X] We should update text

[2016-06-02 11:13] Charlotte-Morgan commented on #2895
see #310

[2016-06-02 11:27] felix-yew commented on #2895
Some little information to check and update :
- Jakarta_flood take a long time analysis process (population and buildings)
- Jakarta_intermediate can not work properly in whole Jakarta area, but in small area can work
- Jakarta_basic can work properly
- Padang can work properly (population and buildings analysis)
- Maumere can work properly (buildings analysis)
- Broken link explanation
- Some 'in

[2016-06-02 11:31] ivanbusthomi opened #2896 "AggregationError when running Earthquake raster hazard vs Building"
### Problem
I run analysis using the continuous raster earthquake hazard vs building polygon in InaSAFE 3.4.0 on QGIS 2.14.1 but I got an aggregation error, eventhough i did not load any aggregation layer. When I tried adding an aggregation layer, the problem still persist. Here are the error codes that i got:
[code]
**Note** that diagnostic section was empty. This is what i got in InaSAFE log pan

[2016-06-03 01:11] ismailsunni commented on #2773
Done in #2891

[2016-06-03 01:11] #2773 closed

[2016-06-03 03:47] easmetz opened #2897 "We need to create standard for file naming conventions"
### Problem

Users can currently input layers with special characters in their assigned keywords (e.g. '&') without returning an error, producing abnormal results.

### Proposed Solution

Create standard and put it in:

- help content
- wiki
- wizard dialogue

all of the above?

or create error if a special character is used?

### CC
@Charlotte-Morgan @ismailsunni

[2016-06-03 03:51] ismailsunni commented on #2886
After one hours deep debugging, I found that the `&` character in the exposure layer name is the problem.

The reason is because we will save it in the xml, and it's one of the special character in xml. See more about special character in xml here : https://en.wikipedia.org/wiki/List_of_XML_and_HTML_character_entity_references#Predefined_entities_in_XML

The other special characters are: `" ' < >

[2016-06-03 03:59] ismailsunni opened #2898 "Handling Special Character for XML"
### Problem
See problem #2886 that caused by trying to write special character (`&`) to xml file.

### Expected Behaviour
We should handle all special character properly before writing to xml or json.

### Environment
* InaSAFE : 3.4
* QGIS : All
* OS : All
* Data used : With special character

### Proposed Solution
Alternatives:
- Catch if there is a special character, and ask user to change it.

[2016-06-03 04:01] easmetz commented on #2897
Comments from @ismailsunni
https://en.wikipedia.org/wiki/List_of_XML_and_HTML_character_entity_references#Predefined_entities_in_XML

The other special characters are: " ' < > (double quotation mark, apostrophe, less-than sign, greater-than sign). Please avoid to use those characters.

[2016-06-03 04:11] Charlotte-Morgan commented on #2886
The problem of not much data on the map occurs if the user overwrites the default threshold of 0.7

This issue is now understood, fixed and can be closed

[2016-06-03 04:12] #2886 closed

[2016-06-03 04:13] ismailsunni commented on #2898
See the solution for escaping character here : https://wiki.python.org/moin/EscapingXml

[2016-06-03 07:13] #2676 closed

[2016-06-03 07:14] harrymahar commented on #2676
I have tried Hi @ismailsunni @Gustry , I have tried PR for this issue and It works successfully..

Here I attached screenshoot new minimum needs and run it in InaSAFE.

![minimum needs indo oke](https://cloud.githubusercontent.com/assets/2534179/15771494/65397572-2995-11e6-83c4-f54e8bcf97b3.JPG)

[2016-06-03 08:41] Charlotte-Morgan commented on #2897
Hi @easmetz  - i think this could be added to #2840 too

[2016-06-03 08:46] Charlotte-Morgan commented on #2798
## Problem
I am testing this with QGIS 2.14.3 and InaSAFE 3.4 tagged version on Windows
I am using Intermediate training data  same as @NyakudyaA and I get this Attribute Error too.

[code]
 ## proposed solution
If this is fixed - can the fix please be included in a bug fix release on Monday 6th as we need this to work in training on Tuesday 7th or backport to master

@ismailsunni @adissadis @harr

[2016-06-03 08:54] Gustry commented on #2840
* We should also add the `No Data` : https://github.com/inasafe/inasafe/issues/2318#issuecomment-137404834

* Also about affected/unaffected. Some IF report unaffected features (written as `Not affected`, `Dry`), some don't (generic landcover show only `Low`, `Medium` and `High`).

[2016-06-03 09:13] Charlotte-Morgan commented on #2897
It could go in this wizard screen
![image](https://cloud.githubusercontent.com/assets/5743135/15774344/10c6f8be-29a6-11e6-8b55-50cb81b7acf9.png)

[2016-06-03 09:23] Charlotte-Morgan opened #2899 "Layer order: impact layer should draw over hazard layer"
## Problem
the impact layer is drawing under the hazard layer and not visible to the user immediately
the user will print a map of the hazard data and not the impact layer if they do not turn off or reorder layers

eg - this happened for jakarta flood raster on pop raster and padang earthquake raster on pop raster

![image](https://cloud.githubusercontent.com/assets/5743135/15774719/060139b0-29a8-

[2016-06-03 09:25] lucernae commented on #2319
Closing this as we can't replicate this now.

[2016-06-03 09:28] lucernae commented on #2684
This is an OSX only bug. Actually @timlinux tried to put GDAL prefix in the command twice, the first is in safe.common.utilities 'which' function, and the other is inside the Shake Grid dialog itself. Quick fix is on the way.

[2016-06-03 09:29] Charlotte-Morgan opened #2900 "BUG: impact layer symbology has no detail"
## problem

the impact layer styling is not reflecting the range of values in the impact layer

eg people affected in Padang eq
zoomed in to a smallish area to avoid the memory error and got a single colour impact map
however the legend has 5 classes.

The user would have to resymbolise this to make the results meaningful
eg Padang map and legend
![image](https://cloud.githubusercontent.com/assets

[2016-06-03 09:34] lucernae commented on #2319
Totally forgot, maybe this is platform specific as reported by @ivanbusthomi . Not safe to close this now.
@ivanbusthomi could you please post your environment here?

[2016-06-03 09:43] ivanbusthomi commented on #2319
@lucernae
Tried this in Ubuntu , and it does not give any error

# Environment
* OS : Ubuntu 16.04 64bit
* QGIS : 2.14.3
* InaSAFE : 3.4.0

___

But when I tried running in Windows, I get this error:
[code]

# Environment
* OS : Windows 7 64 bit
* QGIS : 2.14.1
* InaSAFE : 3.4.0

[2016-06-03 10:00] Charlotte-Morgan opened #2902 "Bug: we have lost the report headings"
## Problem
impact reports no longer have headings
![image](https://cloud.githubusercontent.com/assets/5743135/15775561/b9ddb59a-29ac-11e6-98da-ff13f597e7b6.png)

## proposed solution
All reports should have column headings
 in this case it would have been Hazard Category and Number of Buildings Affected

[2016-06-03 10:19] Gustry commented on #2902
`Affected buildings` is already in the table as a row. I'm not sure that we should add it again in the column heading.
And buildings in dry zone are not really affected. So we should just put `buildings`, no ?

BTW, these figures are repeated with the next table, except the affected figures. I think the report would be more readable if we remove some duplicated figures. See https://github.com/inas

[2016-06-06 03:28] adissadis opened #2906 "[Bug] IFCW: Cannot click next button after choose hazard data"
### Problem
I cannot click Next button when i want to select hazard from disk. The next button is unavailable even i already select the earthquake hazard.
![image](https://cloud.githubusercontent.com/assets/2520159/15811189/41b80d38-2bd0-11e6-8571-5e08e9b1a67e.png)

This problem also appear in IFCW using Tsunami and Flood.

### Expected Behaviour
After i select EQ hazard from disk, i can click Nex

[2016-06-06 04:16] Charlotte-Morgan opened #2907 "Review: Tsunami IF"
## problem

Tsunami experts have asked that the default thresholds and classes for tsunami IF be revised.
## current situation

tsunami impact on people - default threshold is 0.7m
tsunami impact on buildings, roads and landcover
- default thresholds are 1.0, 3.0, 8.0.
  This gives 5 classes:
  ![image](https://cloud.githubusercontent.com/assets/5743135/15811913/b98cb25c-2bd8-11e6-9c58-9ecdfc48258

[2016-06-06 04:57] Charlotte-Morgan commented on #2906
Hi @borysiasty - I've put your name on this one.
It sounds like something we had once before?
@timlinux @Gustry

[2016-06-06 08:20] MariaSolovyeva commented on #2797
Hello @timlinux ,

I have updated the homepage screenshot, there is also a screenshots section http://inasafe.org/about-inasafe/screenshots/ here which needs to be updated.

[2016-06-06 08:37] MariaSolovyeva commented on #2413
Hello @ismailsunni ,

Add this piece of code to static.css file:

[code]

[2016-06-06 11:03] NyakudyaA commented on #2811
@ismailsunni  Also note that all analysis results need to be loaded in QGIS. After running batch runner with 2 scenario with different options only 1 was loaded in QGIS. The map legend looks alright for different impact functions.  As noted above when you run it with custom options it doesn't take it into effect.
![impact](https://cloud.githubusercontent.com/assets/2510900/15819983/90a6f132-2be6-1

[2016-06-06 13:09] NyakudyaA opened #2908 "Key error when using raster layer generated from shakemap converter"
### Problem
I have converted grid [http://earthquake.usgs.gov/earthquakes/shakemap/global/shake/b000l219/download/grid.xml](url) to a tif using the shakemap converter but the raster that is generated is unusable in doing an impact assessment.

![shakemap](https://cloud.githubusercontent.com/assets/2510900/15822913/afec9a8a-2bf8-11e6-83ef-1db6ab865280.png)

The raster layer results in an key error

[2016-06-06 14:08] NyakudyaA opened #2909 "Failure to select impact layer when using impact layer merger"
### Problem
Using the Run Basic inasafe I am unable to merge two impact layer after successfully running `Run InaSAFE Analysis for Building` and `Run InaSAFE for population`. The two analysis generate correct result but when I launch the impact layer merger the drop down for selecting which impact layer I should choose is greyed out.

![result_image](https://cloud.githubusercontent.com/assets/2510

[2016-06-06 15:54] Gustry commented on #2907
So if I understand, we don't need ` Dry zone` (ie not affected) ?

[2016-06-06 20:59] borysiasty commented on #2906
It seems the browser lives its own life. LayerBrowserProxyModel is not set (the non-layer files like *.xml and *.qgs should be filtered out), and the selection signal is not connected (besides the unlocked button, there should be a layer keywords summary on the right). I'll be investigating it tomorrow.

[2016-06-07 04:07] samnawi commented on #2856
After we doing the InaSAFE analysis to develop the Tsunami & EQ contingency plan in Ambon last week, I also found this problem in Tsunami Classified Polygon Hazard on Polygon People.

This is the result
![image](https://cloud.githubusercontent.com/assets/8871958/15845681/8316ad00-2c9f-11e6-96b8-2bbf8c68a0e2.png)

Thank you.

[2016-06-07 07:35] easmetz opened #2910 "RFC: Thoughts on reporting standards"
### Problem
After talking to @Charlotte-Morgan and with some feedback from @timlinux and @Gustry , I have reviewed the current reports for all hazard and exposure data and created a reporting standards document for discussion (see #2840). I have also used information from PERKA 2 and UNISDR, particularly when defining hazard classes.

### Proposed Solution

Everyone to read the google document htt

[2016-06-07 09:22] NyakudyaA opened #2911 "Symbology of Peta Jarkarta Flood layer is not clearly visible"
### Problem
After downloading a flood layer from Peta Jakarta the symbology of the layer makes it not clearly visible especially when you have a raster layer in the layer list.  In the properties of the flood layer the column that is used to style the layer is missing. Also the downloaded layer is not displayed by default.

![jk](https://cloud.githubusercontent.com/assets/2510900/15851921/5f270ee4

[2016-06-07 14:08] NyakudyaA opened #2912 "Recompute statistics based on extent choosen when generating reports."
### Problem

After generating reports I zoom into an area so that I can analyze my results. I decide to print the results and I encounter two options for printing.
*  Print based on analysis extend
*  Print based on current extent.

![analysis](https://cloud.githubusercontent.com/assets/2510900/15859980/8cffb654-2cc7-11e6-959c-f7008515dfd1.png)

Regardless of which option you choose the summary st

[2016-06-07 14:27] NyakudyaA opened #2913 "Key error when doing flood on people using Peta jakarta flood layer"
### Problem
Added a layer using add Peta Jakarta Flood layer and modified the attribute so that I could test if impact functions are working.

![attr](https://cloud.githubusercontent.com/assets/2510900/15860963/6463e662-2ccb-11e6-98d4-3d40d6779e1e.png)

Running flood on population results in a key error.

![jk_floods](https://cloud.githubusercontent.com/assets/2510900/15861011/936c49cc-2ccb-11e6-9

[2016-06-07 21:25] Gustry opened #2915 "Wrong report ClassifiedPolygonHazardBuildingFunction"
### Problem
Running ClassifiedPolygonHazardBuildingFunction I got some strange numbers in the report :
![selection_079](https://cloud.githubusercontent.com/assets/1609292/15875149/dcc9b66e-2d06-11e6-80df-95ec35245a57.png)

### Environment
* InaSAFE :  develop
* QGIS :  2.14.3
* OS : Ubuntu 14.04
* Data used :
  * Exposure : inasafe/safe/test/data/exposure/buildings.shp
  * Hazard : inasafe/safe/te

[2016-06-08 01:31] Charlotte-Morgan commented on #2895
Thanks everyone. The update was completed and a new version of socialisation training docs are not on the public website.

The materials were used for training on Tuesday 7th June 2016.

There are some lessons to learn from the workflow - for next time.

[2016-06-08 01:31] #2895 closed

[2016-06-08 02:09] Charlotte-Morgan opened #2917 "test issue"
### Problem

### Expected Behaviour

### Environment
* InaSAFE :
* QGIS :
* OS :
* Data used :
  * Exposure :
  * Hazard :
  * Aggregation :

### Proposed Solution

link #2840

[2016-06-08 03:04] ismailsunni commented on #2897
I made a new PR #2918, it will handle the special character properly.
<img width="348" alt="screen shot 2016-06-08 at 10 02 18" src="https://cloud.githubusercontent.com/assets/1421861/15881431/2028ca9a-2d60-11e6-99d4-dfe76436ab5e.png">
Notice the `&` character in the image above.

IMHO, it will solve all related problem, no need to warning the user or create new help dialog.

[2016-06-08 03:19] ismailsunni commented on #2908
Hi @NyakudyaA
I think it's better to copy and paste the error message in the ticket rather than upload text file contains it. Make it faster to read the problem
Thanks

[2016-06-08 04:03] ismailsunni commented on #2908
I tried in my computer, I got different error.
[code]

But, it seems you can try my PR #2919 to fix your error. Let me know if you have tried it @NyakudyaA

[2016-06-08 04:06] ismailsunni commented on #2899
@Charlotte-Morgan In this comment https://github.com/inasafe/inasafe/issues/2322#issuecomment-137406373, the impact layer will be put above the exposure layer.

[2016-06-08 04:21] ismailsunni commented on #2909
I can fix the impact layer population problem (see https://github.com/ismailsunni/inasafe/tree/fix_2909_impact_layer_merger)

But, we have another problem. It seems the impact merge tool parsing the postprocessing_report html. It's very fragile and we are our way to make a standard impact report. Also, we have remove the postprocessing_report from the layer's keywords. So, we need to get the data

[2016-06-08 04:49] easmetz commented on #2897
@Charlotte-Morgan do you think I should still include this in the wizard screen?

[2016-06-08 05:08] easmetz opened #2920 "RFC Reporting Standards"
# Problem

Currently map and report outputs from InaSAFE are inconsistent. Titles, legend content, legend titles, terminology and many other aspects of the reports vary from report to report and IF to IF. We need to review the current reports for all hazard and exposure data and create reporting standards to help these products be more consistent.
# Duration

22 June 2016.
# Current state

Changes

[2016-06-08 05:44] Charlotte-Morgan commented on #2897
hi @easmetz - if @ismailsunni has fixed this, then no need to clutter the wizard

[2016-06-08 05:47] Charlotte-Morgan commented on #2899
hi @ismailsunni - confirm impact layer should be above exposure layer. is there other logic that says it should be above hazard or that hazard is turned off?

[2016-06-08 05:48] Charlotte-Morgan opened #2921 "BUG: Minimum Needs EN is missing clean water"
## problem
the minimum needs report in english is missing the statement on clean water
![image](https://cloud.githubusercontent.com/assets/5743135/15884002/75024e08-2d77-11e6-9bdf-9d5ed9c6168f.png)

## proposed solution
reinstate the default minimum needs statement for clean water in  BNPB_en profile as per the details in the BNPB_ID profile
![image](https://cloud.githubusercontent.com/assets/5743

[2016-06-08 05:56] Charlotte-Morgan opened #2922 "Py Error: Shakemap Converter"
## problem
i got the following error when running the shakemap converter
[code]
## data
*.xml file downloaded from Realtime earthquake for event 20160608021514

## cc
@lucernae @timlinux @ivanbusthomi

[2016-06-08 06:02] Charlotte-Morgan commented on #2319
see #2922
 ## environment ##
OS : Windows 7 64 bit
QGIS : 2.14.3
InaSAFE : 3.4.0

[2016-06-08 06:03] Charlotte-Morgan commented on #2319
## problem
i got the following error when running the shakemap converter
[code]
## data
*.xml file downloaded from Realtime earthquake for event 20160608021514

## cc
@lucernae @timlinux @ivanbusthomi

[2016-06-08 06:04] Charlotte-Morgan commented on #2922
closing this - see #2319

[2016-06-08 06:04] #2922 closed

[2016-06-08 06:06] Charlotte-Morgan commented on #2319
hi @lucernae  - I have put your name on this :)
Great if you can take another look. I wanted to recommend a workflow to some new users but not if its not working.  thanks

[2016-06-08 06:18] Gustry commented on #2899
I described the behaviour in the PR : https://github.com/inasafe/inasafe/pull/2905
Should we change something else ?

[2016-06-08 06:30] ismailsunni commented on #2899
@Charlotte-Morgan as far as I know, it's only put the impact above the exposure, and not consider the hazard.
@Gustry I think your PR is LGTM

[2016-06-08 06:31] #2898 closed

[2016-06-08 06:37] Gustry commented on #2899
Yes before, inasafe didn't care about the hazard layer. It put only the impact layer above the exposure layer and the hazard layer has never been turned off.

[2016-06-08 06:42] ismailsunni commented on #2921
Hmm, I still have that clean water in my InaSAFE (from develop). Which version of InaSAFE are you using?
<img width="767" alt="screen shot 2016-06-08 at 13 37 33" src="https://cloud.githubusercontent.com/assets/1421861/15885005/4644d2b4-2d7e-11e6-8e94-bfc7485d608f.png">

May be, it's getting deleted accidentally? Because it's stored in the local machine.

You can copy from `/inasafe-dev/resources/

[2016-06-08 06:45] ismailsunni commented on #2897
Ok, I will close this since it's already covered in #2918

[2016-06-08 06:45] #2897 closed

[2016-06-08 07:30] Charlotte-Morgan commented on #2921
### environment ###
QGIS 2.14.3
InaSAFE 3.4.0
Win 7 64bit

I also noticed this line is missing on the reports from testing done by DMI team

[2016-06-08 07:36] Charlotte-Morgan commented on #1218
I think this ticket is superceded by #2920

[2016-06-08 07:39] #2917 closed

[2016-06-08 07:40] Charlotte-Morgan commented on #2910
This ticket is superceded by #2920 the RFC for reporting standards

[2016-06-08 07:49] ismailsunni commented on #2921
Hi @Charlotte-Morgan
Can you try to remove `BNPB_en.json` under `.qgis2/minimum_needs/` directory in your home directory?
In windows it should be : `C:Users/[your username]/.qgis2/minimum_needs/`, then close all QGIS, then open it again. It should reset the minimum needs to the proper one.

[2016-06-08 08:28] Charlotte-Morgan commented on #2921
hi @ismailsunni - that fixed it on my machine.
I'm not a computer expert, but I do not think that will fix it on other peoples machines?

[2016-06-08 09:12] ismailsunni commented on #2921
It will fix it also on the other people. InaSAFE will check if there is missing files, and add it with the default one.

Well, I am guessing that it's accidentally removed it (modify the minimum needs file). It will be stored in your local computer disk, just like when we update a layer / file / document. So, there are 3 solutions:

1. Delete manually the local file, and InaSAFE will restore it ba

[2016-06-08 10:01] borysiasty commented on #2906
@ismailsunni: please see PR #2924

[2016-06-08 10:14] timlinux commented on #2830
We discussed this in our meeting on 07 June 2016 - because we have cases with landcover classes having typos etc. we want to rather use standard terms. @Charlotte-Morgan will get a standard list of named classes that the user data can be mapped to.

[2016-06-08 10:16] NyakudyaA opened #2925 "Empty report map when using IFCW on volcano on buildings"
### Problem
After running IFCW for volcano on buildings using [http://docs.inasafe.org/en/training/socialisation/run_other_hazards.html](url). The report is generated fine but the map is blank because the resultant  layer are not toggled on by default. I have my QGIS settings as not to draw any layers added.

Custom qgis configuration.

![setup](https://cloud.githubusercontent.com/assets/2510900/1

[2016-06-08 10:24] timlinux commented on #2830
We will do:

- [ ] allow dragging multiple items into the value mapping tree
- [ ] require value mapping for landcover to map landcover types to standard terms
- [ ] validate old keywords to ensure they have the needed value mapping

[2016-06-08 10:29] ismailsunni opened #2926 "More Checking on Layer's Keyword"
### Problem
Currently, the IF assumes that the layer has the needed keywords. But since we add new things in the keywords, there will be a case where the user still use old keywords, and it will make an error if he/she rung the IF with that layers. For example:
In version 3.5 we expect `value_map` keyword in the layer, and in some IF, we assume that the layer has it. It will still able to be run i

[2016-06-08 11:01] Charlotte-Morgan commented on #2907
I've written to Pak Hamza for feedback on this.

[2016-06-08 11:30] NyakudyaA opened #2927 "Template options greyed when definining custom configurations in Inasafe Options"
### Problem

When trying to define custom template options for inasafe the file picker is greyed out and we cannot choose custom template options.

If one once to define a custom north arrow it is not possible to define it using inasafe options.

![template_options](https://cloud.githubusercontent.com/assets/2510900/15892803/3a018242-2d7c-11e6-834c-90c4da429c99.png)

### Expected Behaviour
Allow t

[2016-06-08 11:50] NyakudyaA commented on #2908
@ismailsunni I have tried it and I get the same aggregation error as the one have above.

[2016-06-08 14:55] timlinux opened #2928 "Realtime EQ contextual filters are confusing"
### Problem

I find it a bit confusing when you apply a contextual filter that the button state is not changed to reflect the active filter. Could you update the filter widget so that:
- [ ] When a selector is pressed the button changes colour
- [ ] There is an 'all' selector which is enabled by default and selects all items

[2016-06-08 15:01] Gustry commented on #2927
Thanks Admire. I made a PR for that.

[2016-06-08 19:09] Gustry opened #2930 "Update travis to 2.14 and use the QGIS testing framework"
We said a few days ago we want to support only QGIS 2.14, as it will be the next LTR at the end of the month.

* Travis is still using QGIS 2.8, we should update it to QGIS 2.14.

After that, we should try to use the QGIS testing framework :
* Deprecate our own testing framework `get_qgis_app`
* Use https://github.com/qgis/QGIS/blob/master/python/testing/mocked.py
* Use and contribute to some cust

[2016-06-08 20:26] Gustry commented on #2915
Ok, I just noticed that the value mapping was old with that file. The keyword file has been generated before some changes in the value mapping classes.

[2016-06-08 20:40] #2915 closed

[2016-06-08 21:18] Gustry opened #2932 "Discrepancies in the building report about the threshold"
### Problem
Since the PR https://github.com/inasafe/inasafe/pull/2564 we can set the building threshold. In the impact table, inasafe will aggregate every impacted object if there are less than 25 objects into the "Other" group. So if there is less than 25 buildings affected, the value mapping will change on the fly during the analysis for that table.

But the postprocessor (`Buildings closed`) is

[2016-06-09 01:34] ismailsunni commented on #2930
Do you mean 2.14? Since 2.16 is regular release and hasn't been released.

[2016-06-09 03:11] #2908 closed

[2016-06-09 03:14] ismailsunni opened #2934 "Aggregation Error"
### Problem

While debugging issue #2908 , I got another error:

[code]
### Expected Behaviour

No Error
### Environment
- InaSAFE :  develop
- QGIS : 2.8.3
- OS : OSX
- Data used :
  - Exposure : From OSM Downloader
  - Hazard : Download from http://earthquake.usgs.gov/earthquakes/shakemap/global/shake/b000l219/download/grid.xml and convert it with InaSAFE shakemap converter
  - Aggregation :
###

[2016-06-09 03:15] ismailsunni commented on #2908
I am closing this, and create new issue for the aggregation error in #2934

[2016-06-09 03:29] ismailsunni commented on #2896
hi @ivanbusthomi
can you test @lucernae 's PR #2903?

[2016-06-09 03:29] #2684 closed

[2016-06-09 04:05] #2899 closed

[2016-06-09 06:03] Gustry commented on #2930
Sorry, I was travelling in the future

[2016-06-09 06:40] Gustry commented on #2851
Is this issue related to #2925 @NyakudyaA ?

[2016-06-09 08:25] NyakudyaA commented on #2851
@Gustry It is not related. Tim says it's a change that need to be made upstream to QGIS so that the default settings of a map is set to `Render` or `cache` unless there is a way to do it in inasafe.
![item](https://cloud.githubusercontent.com/assets/2510900/15923232/653b0d92-2e2c-11e6-88be-d52bc09225dc.png)

[2016-06-09 08:34] lucernae commented on #2319
Yeah, hard to debug it in Windows.
At least, we can be sure now it is windows only problem.
I'm still following it up in my windows environment.

[2016-06-09 09:01] timlinux opened #2937 "Realtime site needs to advise user to allow popups"
### Problem

On some browsers e.g. chrome, downloading the realtime reports does not work because the browser blocks popups.

<img width="1202" alt="screen shot 2016-06-09 at 10 57 16" src="https://cloud.githubusercontent.com/assets/178003/15924199/2e786f66-2e31-11e6-89e1-b26607d662fe.png">

I think it would be good (I know this is ironic) to see if the user has popups blocked and make a modal pop

[2016-06-09 10:55] NyakudyaA opened #2938 "Key error when using Open street map layer as a background layer when doing analysis."
### Problem
Added `Maumere_Tsunami_WGS84.tif` and then proceeded to add `openstreet tile layer`. Zooming to extend of the hazard layer or extend of the open street tile layer results in key error.

![add](https://cloud.githubusercontent.com/assets/2510900/15927001/58a86f08-2e3f-11e6-84af-ede243aaa70d.png)

Select Open street map and zoom to its extend.  The following error appears:
[code]

### Exp

[2016-06-09 12:09] Gustry commented on #2938
Thanks @NyakudyaA for repoting.
Is the diagnostic full ?

[2016-06-09 12:50] Gustry commented on #2679
I can't replicate anymore.

[2016-06-09 12:50] #2679 closed

[2016-06-09 12:58] Gustry commented on #2677
With the new value mapping when you assign your keywords, this error shouldn't appear anymore. Every buildings should go to `Other` by default.

Feel free to reopen if the problem occurs again.

[2016-06-09 12:58] #2677 closed

[2016-06-09 13:04] Gustry commented on #2823
The value mapping has been improved by @Charlotte-Morgan in https://github.com/inasafe/inasafe/pull/2845

[2016-06-09 13:04] #2823 closed

[2016-06-09 13:20] Gustry commented on #2490
I think we can close this one now.
The clipping is call from the base class.

[2016-06-09 13:20] #2490 closed

[2016-06-09 13:20] #2471 closed

[2016-06-09 13:47] NyakudyaA opened #2940 "Wrong classes in Keywords creation for volcano hazard"
### Problem

When defining  keywords for volcano hazard using the Keywords creation wizard it shows wrong classification types for the hazard.

![classes_vol](https://cloud.githubusercontent.com/assets/2510900/15931645/eeef2f7e-2e58-11e6-8c20-cf890b4b0470.png)
### Expected Behaviour

Show types which are particular to that hazard.
### Environment
- InaSAFE :  3.14
- QGIS :  2.14.1
- OS :  Ubuntu 1

[2016-06-09 14:11] NyakudyaA commented on #2906
@ismailsunni  has this been merged into develop yet. I am running develop and I still cannot click next.
![save](https://cloud.githubusercontent.com/assets/2510900/15932582/8e89e3aa-2e5c-11e6-9f23-78b8ab3aef54.png)

[2016-06-09 14:29] NyakudyaA opened #2941 "Impact function centric wizard fails to select layer already loaded in QGIS"
### Problem
I have a hazard layer already loaded in QGIS and when I launch the IFCW it only shows one option for selecting hazard layer even when in QGIS there is a hazrard layer loaded.

![poly_vol](https://cloud.githubusercontent.com/assets/2510900/15932840/8603418a-2e5d-11e6-8dd7-516b2b1ecb20.png)

### Expected Behaviour
Allow all options to be active when a hazard layer already exist in QGIS.

[2016-06-09 14:34] NyakudyaA commented on #2938
@Gustry yes that is the full diagnostics

[2016-06-09 14:55] borysiasty commented on #2906
@NyakudyaA: Please read the description on the right. The layer's classes are not suitable for the selected impact function (the incompatible parameter is always written with italic font).

[2016-06-09 14:59] Gustry commented on #2906
Ok, so it might be related to https://github.com/inasafe/inasafe/issues/2941

I wonder why the colour is grey @borysiasty. And we should highlight what is wrong with the layer. In this case, it's `classes`.

[2016-06-09 18:23] borysiasty commented on #2941
Probably those layers' keywords don't match the selected function requirements, and nothing is wrong with the wizard :)

[2016-06-09 18:44] borysiasty commented on #2906
@Gustry The colour is grey in order to be consistent with the inactive `Next` button. It is gray if you select a layer that you can't use, and black if you can use it. I thought it's quite intuitive, but I'm not any UX guy... :) The italic font shows what is wrong. We could make it italic + bold, but to would be probably too much. Please note we are limited to the Qt palette.

[2016-06-10 00:49] ismailsunni commented on #2938
@NyakudyaA I think you need to update your InaSAFE from the repository. I have fixed this issue in #2908 and it has been backported to master also (https://github.com/inasafe/inasafe/pull/2936/commits/19f13c98b4666b3585b65525e710abd1b5ce6749).

[2016-06-10 01:09] ismailsunni opened #2942 "Full Test Status"
### Problem
We need to make sure all tests are not failed, including the slow one. Currently, travis only run the not slow one. I have make a PR to run the full suite test (including the slow one), but it hit the time limit in travis. See #2685 and the travis test: https://travis-ci.org/inasafe/inasafe/builds/136384023

I have run full test suite in my laptop (develop), and got 3 tests failed.
<im

[2016-06-10 03:03] ismailsunni commented on #2942
I have fixed `test_convert_grid_to_raster` in #2943
2 more unit tests.

For `test_mmi_to_shapefile`, I got:
[code]

[2016-06-10 04:19] Charlotte-Morgan commented on #2677
hi @harrymahar - I would strongly suggest you revisit all training materials and update key words. In future key words will automatically migrate, but if you data have older kw they may need attention to fit the new kw system.

[2016-06-10 04:44] Charlotte-Morgan commented on #2906
Hi @Gustry and @borysiasty
I can confirm that this is still a problem.
QGIS 2.14.3
InaSAFE 3.5 dev (assuming this has been merged)

## problem 1
I have a dataset with no key words assigned.
I am using the IFCW and chose eq on pop; raster on raster; ITB
When i find my EQ raster on disk I am unable to select next

![image](https://cloud.githubusercontent.com/assets/5743135/15954337/e549c3d8-2eff-11e

[2016-06-10 04:49] Charlotte-Morgan commented on #2906
@NyakudyaA  - here is an example of it working
I select volcano polygon on raster population; polygon volcano on pop IF
when I select my data on disk, it tells me what KW it sees and what it is looking for (great +!)
![image](https://cloud.githubusercontent.com/assets/5743135/15954432/344ae538-2f01-11e6-8f8b-5630e4192fba.png)

I can backtrack through the wizard and choose volcano point on raster p

[2016-06-10 04:51] Charlotte-Morgan commented on #2906
@Gustry - sometimes a user will select the wrong option for their available data and have to go back and change options to access the data they have.

What we do not accomodate is a dataset that has the wrong kw assigned :)

[2016-06-10 05:17] Charlotte-Morgan commented on #2900
hi @ismailsunni and @Gustry  - this would be a good one to fix for 3.4.1 if possible

[2016-06-10 05:18] Charlotte-Morgan commented on #2828
hi @easmetz - you might be interested in this for the RFC on standards #2920

[2016-06-10 06:21] #2927 closed

[2016-06-10 09:36] NyakudyaA commented on #2938
@ismailsunni yes it is sorted.

[2016-06-10 10:03] NyakudyaA opened #2944 "Enable on the fly reprojection of openstreet map layer"
### Problem
When adding open street map layer as a background it does not automatically zoom to the extent of your other layers loaded in QGIS.

![open](https://cloud.githubusercontent.com/assets/2510900/15960670/2bb63738-2f01-11e6-9028-3f8eaa00ff3c.png)

We should automatically enable on the fly re-projection when open street layer is added. Just like the `Open layers plugin` does.
![open_fly](ht

[2016-06-10 10:06] Gustry commented on #2942
Just to keep my screenshot from yesterday here.
Ubuntu 14.04 with QGIS 2.14.3 on my slow laptop
![3858](https://cloud.githubusercontent.com/assets/1609292/15961177/a4a5de76-2f03-11e6-9273-9eb033449c9b.png)

[2016-06-10 10:09] ismailsunni commented on #2938
Closing this then.

[2016-06-10 10:09] #2938 closed

[2016-06-10 11:39] Gustry opened #2945 "MetadataReadError while loading a layer"
### Problem
I opened the file `West Sumatera/01 Hazard Data/Padang_EQ_2009_WGS84.tif` from `data.inasafe.org` :

[code]

### Environment
* InaSAFE : Develop

[2016-06-10 12:27] NyakudyaA commented on #2906
@Gustry  I think it would be better to allow a user to redefine his keywords  in situations where his keywords are wrong. Rather than close IFCW and redefine KW and then come back again to IFCW.
![redifine](https://cloud.githubusercontent.com/assets/2510900/15963963/24b0b016-2f16-11e6-8a48-e9b05955093b.png)
For the example above the  classes that are in the layer are  `flood_vector_hazard_classes`

[2016-06-10 12:29] timlinux commented on #2900
Ah ok so we just remove classes from the legend that don't exist in the data.

[2016-06-10 12:32] Gustry commented on #2900
I don't think so.
We need to rescale the legend according to the extent, isn't it ?

[2016-06-10 12:41] Charlotte-Morgan commented on #2906
We need to consider two scenarios.
Firstly, the user has selected the wrong IF for their data and needs to go back and choose the right if. This resembles the original plan for a data centric wizard.
Secondly, the data have the wrong key words. This happens to me because i dodgy the data to try things. But should we expect this for normal users.
I think we should assume the first scenario in most

[2016-06-10 12:41] Charlotte-Morgan commented on #2900
Yes. We need to rescale do there is variation in the map of results.

[2016-06-10 13:17] borysiasty commented on #2906
@Charlotte-Morgan - just one note: your screenshots are from before my fix! Please ensure you reinstalled Inasafe (and reloaded QGIS) correctly.

If you can see various unwanted files in the browser like .qgs and .xml, and only vector layers work (what is your case), it means your installation clearly doesn't contain the fix.

[2016-06-10 13:23] Gustry commented on #2900
It works with a flood in Jakarta, I have two legends :
![selection_082](https://cloud.githubusercontent.com/assets/1609292/15965608/36d811d6-2f1f-11e6-9c61-32f68efc44a2.png)

[2016-06-10 20:15] Gustry opened #2947 "MemoryError while saving new keywords to a EQ raster"
### Problem
I opened a EQ raster in InaSAFE. The file is `West Sumatera/01 Hazard Data/Padang_EQ_2009_WGS84.tif` from data.inasafe.org. I got the error #2945 so I removed the xml file manually and I opened the layer again. I was setting the new keyword, but after the last step, when the wizard is writing the new keywords, I got this error, after a small freeze :
[code]

So I had to close the keywo

[2016-06-10 20:28] Gustry commented on #2900
I wanted to try with a EQ raster on population (like in the screenshot), but I got two other errors #2947 and #2945 while I was loading a EQ raster in QGIS. I would like to debug this issue but it seems I can't have a working dataset for now.

[2016-06-10 23:28] Charlotte-Morgan commented on #2906
My apologies.
I thought I had the latest version.
As the ticket was closed I assumed the work was merged.

[2016-06-10 23:43] Charlotte-Morgan commented on #2900
@gustry
Appreciate your attention to this.  It is important.
Some thoughts that may be relevant.
I think the legend is dynamic. Maybe the change was made back at 3.2 or the change I'm observing could have occurred back then not recently.
You may like to consider that in the past the legend was dynamic with a set number of classes with proportional classes ie if there were 5 classes, each had 20% o

[2016-06-11 12:12] borysiasty commented on #2906
The work is merged to develop. So as long as you see e.g. *.xml files in the browser, it seems you don't use the current develop :) Something didn't refresh. I don't know how do you install it - just by git pull from develop?

[2016-06-12 03:33] Charlotte-Morgan opened #2948 "Attribute Error: Padang EQ on population"
### Problem
There is an attribute error when I run the Earthquake on population analysis regardless of which IF i choose.

### Error Message
![image](https://cloud.githubusercontent.com/assets/5743135/15988865/3ee21374-308a-11e6-8695-8a1c0a2f5bc9.png)

### Expected Behaviour
The analysis should run with no errors
### Environment
* InaSAFE : 3.5.0 dev
* QGIS : 2.14.2
* OS : windows 7 64
* Data used

[2016-06-12 06:03] Gustry commented on #2948
@Charlotte-Morgan I made a PR to fix this bug.
It was related to the new legend order and occurred when we run the IF without an aggregation layer.

[2016-06-13 08:54] #2948 closed

[2016-06-13 13:42] Gustry opened #2951 "The impact summary is different between road and building IF"
### Problem
It seems that reports haven't the same layout.
For instance with a building layer :
![if-summary-1](https://cloud.githubusercontent.com/assets/1609292/16579804/bd962b6e-42a1-11e6-957b-ce21554f15ec.png)

And with a roads layer :
![if-summary-2](https://cloud.githubusercontent.com/assets/1609292/16579807/c2bbc4be-42a1-11e6-9eac-a07ced00683e.png)

* The question is missing.
* Unaffected v

[2016-06-13 14:38] Gustry commented on #2816
I couldn't replicate with the data provided and @dewisulistio said it's working. I'm closing this issue. Feel free to reopen if needed.

[2016-06-13 14:38] #2816 closed

[2016-06-13 15:52] Gustry commented on #2900
Thanks @Charlotte-Morgan for all these explanations.

Could you classify your new layer in QGIS ?
![selection_005](https://cloud.githubusercontent.com/assets/1609292/16013824/413b8dca-318f-11e6-9b46-626c09595fd1.png)

My minimum and my maximum are equal, so I can't reclassify my legend. So the legend is normal, except we can hide unused classes like Tim said with the funnel button.

[2016-06-13 16:54] Gustry commented on #2385
Thanks for this useful doc @felix-yew. I had some comments where it should be fixed for sure. I didn't check every IF in the document.
For 'v', it could be nice to know if it was the legend or the report, as it's two different places in the code.

I just had a look in every IF for the legend, it should be ok. I made a new PR https://github.com/inasafe/inasafe/pull/2954

[2016-06-13 16:58] #2896 closed

[2016-06-13 17:01] Gustry commented on #2201
After the hard work from the minions these last few days/weeks, I totally agree that we should do that asap. It takes a lot of time to try to see which IF is used, with aggregation or not ...

Or even if we don't provide markdown, people usually copy/paste the red, yellow and black boxes, so we should add in the yellow box `Details` some informations.

[2016-06-14 08:27] Charlotte-Morgan commented on #2846
hi @felix-yew - can you please see if this is still an issue or fixed

[2016-06-14 08:31] Charlotte-Morgan commented on #2920
Hi @easmetz - this is looking great. Can you please convert the content to markup asap so that people can make comments and contribute.

[2016-06-14 08:50] Charlotte-Morgan commented on #1775
Hi @wonder-sk  & @Gustry - I saw the work you have done on the graph results for landcover and decided that we need to tweak it a bit more before including it in a release.
Can you please point me to where this work is so that the team can review further and provide more input.

[2016-06-14 09:05] Gustry commented on #1775
Hi @Charlotte-Morgan. The graph has been disabled in the code.
The final preview was :
![Report](https://cloud.githubusercontent.com/assets/193367/14425050/ad1f58c6-000e-11e6-8140-f6bd968e07d9.png)

[2016-06-15 02:30] lucernae opened #2961 "Specification for Raster Reclassification Tools"
This issue will be directly related with Raster to Vector Reclassification Tools.
I will write the spec here to avoid confusion when developing the tools.
## What is this tool?

 The tools is used to convert raster hazard layer to vector layer. The value of each pixel in the raster is 'reclassified' using certain algorithm as one cluster of polygon for a certain class of threshold. The output woul

[2016-06-15 02:31] felix-yew commented on #2846
Hi @Charlotte-Morgan and mas @ismailsunni

About this issue, tsunami (raster) vs roads (vector), I think it has fixed in InaSAFE 3.4.1. The processing data can be work properly and faster performance :clap:
![image](https://cloud.githubusercontent.com/assets/13621886/16066235/caadb752-32db-11e6-911e-727ea4251ccb.png)

I think it is already fixed yet :clap: :+1:

[2016-06-15 07:17] Gustry commented on #2910
I'm going to close this one, we have the RFC in 2920.

[2016-06-15 07:17] #2910 closed

[2016-06-16 10:04] felix-yew commented on #2920
Hi @easmetz

It looks so great, your explanation is detail. I will add some information that maybe can fulfil this issue.
When I have exported the InaSAFE result into PDF, I see some different style in the legend.

1. Different Colour (RGB)
![image](https://cloud.githubusercontent.com/assets/13621886/16112406/5eacc5a0-33e1-11e6-9df0-7595d52fcbc9.png)
i.e. in "Low" in terminology it should in Yello

[2016-06-16 10:21] Charlotte-Morgan commented on #2920
Hi @easmetz - thank you for the work to compile this. Its a great start but we need lots of discussion.

[2016-06-16 10:33] Charlotte-Morgan commented on #2920
Re map title and content.
+1 for capitalisation
+ 1 for include hazard and exposure
+ 1 to include a key word for each impact function (but we do not have those words defined yet)
we need to cross reference titles to the terminology  section to choose the correct verb

I think it would be nice to include words that separate a single scenario vs hazard zones from a hazard map.

Ie Buildings affecte

[2016-06-16 10:34] Charlotte-Morgan commented on #2920
**map image and content**
+1 for impact layer and context data as default map content.

[2016-06-16 10:36] Charlotte-Morgan commented on #2920
Legend title
proposed syntax:
estimated <exposure> <verb>
verb terminology needs to be consistent with title and reports - this needs more work

[2016-06-16 10:38] Charlotte-Morgan commented on #2920
**Rounding**
we already have standards for rounding based on number size eg
1000 is rounded to 10s
10000 is rounded to 100s
etc
this existing rounding needs to added to this doc

[2016-06-16 10:40] Charlotte-Morgan commented on #2920
**Hazard specific legends:**
@easmetz - this bit does not conform to our existing maps or inaSAFE analysis.
What you have is the default display for hazard data.
However our maps and legends need to display the impact layer and need to reflect the default thresholds in the analysis functions
Please take another look;
we use MMI not pga for earthquake
we use more tsunami classes etc

[2016-06-16 10:41] Charlotte-Morgan commented on #2920
**Marginalia**
+ 1 this looks good
should we include the hazard, exposure and aggregation info in here too?

[2016-06-16 10:46] Charlotte-Morgan commented on #2920
**Reports - headings, units and alignment**

Text row headings should be left aligned
text column headings for text content should be left aligned
text column headings for number content should be right aligned
all numbers should be right aligned and include delimiters

Column headings should include units
all columns should have headings

[2016-06-16 10:49] Charlotte-Morgan commented on #2920
**Terminology**
the impact verbs - do you have a source for the proposal above?

[2016-06-16 10:52] Charlotte-Morgan commented on #2920
Hi @felix-yew
I agree we should have the same key colours for high, medium and low in the 3 colour legend and a 7 colour legend. We also need to consider other legends that extend to both very low and very high.

I disagree about the levels. I think we should only use the words hazard zone when we have classified data ie vector hazard maps not when we have a continuous raster.

[2016-06-16 10:52] Charlotte-Morgan commented on #2920
@RikkiWeber  - please contribute to this RFC

[2016-06-16 21:59] timlinux commented on #2920
Great to see this RFC @easmetz . One technical bit that I wanted to raise is that we have slightly conflicting ambitions in InaSAFE:

* analysis results should be provided as 'data'
* reports should be implemented in a visually consistent way - 'mark up'

These two ambitions collide a bit when we do things like bold certain words in phrases. The reason I say this is because when we represent the r

[2016-06-16 23:45] easmetz commented on #2920
@timlinux I think you have misunderstood what I meant here. I was only bolding the text in this document so I knew what to put in the final wiki. (I.e. we prefer to use the term "impact on" instead of "impact to") - the bolding in this case is only to show what word is preferred by the majority of people giving feedback. I am not suggesting bolding any terminology in the reports or maps - so what

[2016-06-17 01:22] Charlotte-Morgan commented on #2920
hi @timlinux - thanks for your feedback.
I had understood that bold was just to help the discussion in the RFC and not a recommendation for formatting on maps or reports. That is certainly the way I have used it in my comments on this ticket.

[2016-06-17 04:52] Charlotte-Morgan commented on #2920
@easmetz - please look at #2491 for volcanic ash classes
You will need to look at the impact function results to see the classes for other volcanic hazards

[2016-06-17 06:20] easmetz commented on #2920
I've done a quick mock up (I'm no graphic designer) of potential hazard scales using the InaSAFE colour palette. I am very hesitant to use blue in a legend that could be used for flood or tsunami impacts as I think people will automatically associate it with water and therefore flooding/tsunami, and so it would be particularly ill-advised to make a "dry" or "low hazard" zone blue. Also, I don't kn

[2016-06-17 06:23] ivanbusthomi commented on #2491
Hi everyone,
Yesterday I had a fun playing with netcdf conversion using Tim's method.

This is the repository of what i did yesterday. https://github.com/ivanbusthomi/cdf_converter . It is a qgis plugin to convert the netcdf file into a geotiff file. I did it to help me convert the netcdf file so i can use it as an input in inasafe desktop analysis.
![main_dialog](https://cloud.githubusercontent.c

[2016-06-17 06:25] Charlotte-Morgan commented on #2920
Hi @easmetz - I do not think we need to restrict the colours on our maps to those in the InaSAFE style guide.

[2016-06-17 06:28] easmetz commented on #2920
I think I misunderstood Tim's suggestion about colour palettes from a couple of weeks ago. What do you think about "impact zones" instead of "hazard zones"?

[2016-06-17 06:32] Charlotte-Morgan commented on #2920
Oh - what did @timlinux suggest re palettes - maybe we are giving you conflicting advice?

[2016-06-17 06:34] Charlotte-Morgan commented on #2920
Impact analysis results are always exposure data and they coincide with hazard zones. I'm not sure we have impact zones

[2016-06-17 06:36] easmetz commented on #2920
He said:
"Colour palettes should use page 9 of the Visual Language Guide as far as possible. If we need more colours it should be done in a systematic way using considerations of contrast, ability to be distinguished for folks with visual issues (e.g. colour blindness) and so on. New colour palettes should be added to the above mentioned guide." (This comment was lightly edited by me to fit into t

[2016-06-17 06:46] easmetz commented on #2920
The only definition of impact I have been able to find in relation to hazards. I have not been able to find anything for affects.

_Disaster impacts:_ These are the physical and social disturbances that a hazard agent inflicts when it strikes a community. Physical impacts comprise casualties (deaths, injuries, and illnesses) and damage to agriculture, structures, infrastructure, and the natural en

[2016-06-17 06:47] Charlotte-Morgan commented on #2920
Hi @timlinux - can you please clarify your advice on colour palettes please. Do you expect these to apply to cartographic elements as well as template styling?

[2016-06-17 07:57] felix-yew commented on #2920
Hi @easmetz

Maybe I just give a little information about the definition of impacted/affected that we also use in Indonesia. In Indonesia, we also use the word "terdampak" to the disaster impact. For consider it, I use the translate.google.com :
![image](https://cloud.githubusercontent.com/assets/13621886/16143713/b5266488-3498-11e6-88ca-bfb42770bdc6.png)
Affected is similar to influence (not so i

[2016-06-17 08:06] ivanbusthomi commented on #2839
Hi mas @lucernae

here is the template that i've created using qgis 2.14.1
[ash_realtime_template.zip](https://github.com/inasafe/inasafe/files/320009/ash_realtime_template.zip)

and here is the project folder just in case i did something wrong exporting it
[_realtime ash report project.zip](https://github.com/inasafe/inasafe/files/320000/_realtime.ash.report.template.zip)

here is a screenie of h

[2016-06-17 09:06] Charlotte-Morgan commented on #2920
thanks @felix-yew - if I understand correctly; affected means something has been influenced by the hazard / disaster; but impacted is a stronger term and is better aligned with the terminology that BNPB would use in Indonesia. If this is correct i think we should use the word impacted consistently.
This aligns well with @easmetz terminology definitions above.

re terminology:
my preference is to u

[2016-06-17 09:09] Charlotte-Morgan commented on #2920
hey @easmetz - we just got this from @wonder-sk
I think this will be super helpful with some terminology inputs
http://hxlstandard.org/

[2016-06-20 10:44] NyakudyaA opened #2966 "Single image type when defining custom options in inasafe options."
### Problem
When choosing custom template options  it only allows use of the image  type  `png`  for  either north arrow or custom logo.

![image_type](https://cloud.githubusercontent.com/assets/2510900/16191325/f63ce3a0-36e3-11e6-9bd1-1573b44d0dc8.png)

### Expected Behaviour
Allow different types of images to be used when defining custom options in inasafe.

### Environment
* InaSAFE : 3.5
* QGI

[2016-06-20 12:11] NyakudyaA commented on #2925
@Gustry  has this been implemented yet because it still does not set the loaded layers as active when I retested it today using the develop branch.

[2016-06-20 12:54] Gustry commented on #2925
Feel free to reopen if you notice the problem, I will check later

[2016-06-20 13:08] NyakudyaA commented on #2925
i have tested this:
![classified](https://cloud.githubusercontent.com/assets/2510900/16195181/adcabc5e-36f8-11e6-954c-f2070bc32fa1.png)

Inasafe version : 3.15

[2016-06-20 14:43] NyakudyaA opened #2967 "Failure to use extent option properly when using IFCW tsunami raster on landcover"
### Problem

Running IFCW  tsunami on land cover results in `no overlapping extent` when using the option `Use intersection of hazard,exposure and this bounding box`.

![option](https://cloud.githubusercontent.com/assets/2510900/16197482/842ea414-3702-11e6-9621-d47dde5a9097.png)

The screen shot above explains what happens.

![no_overlap](https://cloud.githubusercontent.com/assets/2510900/16197456

[2016-06-21 00:49] adelebearcrozier commented on #2491
thanks for the update @ivanbusthomi
Can i ask what 'select band' means?
I'm assuming its timestep??
Cheers

[2016-06-21 00:51] adelebearcrozier commented on #2491
Hi @Charlotte-Morgan  - would you mind adding Rikki to this ticket?? As the new Activity Leader i would like her to be able to see the progress on this work. Cheers.

[2016-06-21 01:09] Charlotte-Morgan commented on #2491
Hi @adelebearcrozier - sure. Lets add @RikkiWeber @easmetz and @lrpower .
Rikki is the GA Indonesia program activity leader who should be aware if not involved in our work, Libby who is working on some components of InaSAFE project; its always good to see a well written, active ticket; and Lauren who will visit from GA to look after the spatial team in Jakarta while I am on leave.

[2016-06-21 05:41] felix-yew commented on #2920
Hi @easmetz

I will add some information about the map result and legend.

We get a different result with the same data if we use the different IF. Tsunami hazard (vector) with population data vector (classified) and population data raster (continous). After we analyse the data, the result is like this :
![image](https://cloud.githubusercontent.com/assets/13621886/16218515/d96ed394-37a8-11e6-989a-

[2016-06-21 06:12] samnawi opened #2969 "Bug : Minus number in the Not Affected Result"
### Problem
I found some strange result in the current InaSAFE version.
There is a minus number in the _Not Affected_
I found it in some of IF that I've tested, like Volcano Point, Volcano Polygon, Tsunami Vector, Flood Vector. I guess it will occur in all of IF that produces _Not Affected_ Column
![screenshot_34](https://cloud.githubusercontent.com/assets/8871958/16218379/5ec70d24-37a7-11e6-8843-

[2016-06-21 06:33] Charlotte-Morgan commented on #2920
@lrpower - FYI

[2016-06-21 06:51] NyakudyaA commented on #2925
i have tested this:
![classified](https://cloud.githubusercontent.com/assets/2510900/16195181/adcabc5e-36f8-11e6-954c-f2070bc32fa1.png)

Inasafe version : 3.15

[2016-06-21 08:32] timlinux commented on #2961
Some quick comments:

* Can you also put some wireframes in your description too please?
* Can you describe what input layers are supported (raster etc, needs keywords etc.)
* Can you describe the outputs that will be created (example and metadata)
* Why not also support flood thresholds?

[2016-06-21 09:40] timlinux commented on #2380
See also #2920

[2016-06-21 09:48] Charlotte-Morgan commented on #2920
hi @felix-yew - we discussed your suggestion above and I agree that the legend for the 'same impact function' should be similar. Can you please do a proposed classified and continuous legend mock up and include the count for each in the legend please.

[2016-06-21 09:50] Charlotte-Morgan commented on #2920
hi @easmetz - please review #2380 for some more background on the comments about bold above.
It's not the bold as much as the way its written in the code and how that impacts on the ability to translate strings. I hope this helps with your design

[2016-06-21 10:50] NyakudyaA opened #2970 "Exception error on using IFCW on raster flood vs raster population"
### Problem

Running IFCW on raster flood vs raster population results in `exception error`

![exception_when_runing_raster_pop](https://cloud.githubusercontent.com/assets/2510900/16227021/94367f60-37ae-11e6-9b2e-b34f455220fc.png)

`
InaSAFE - ERROR - Error loading impact layer.
Traceback (most recent call last):
  File "/home/admire/.qgis2/python/plugins/inasafe/safe/utilities/analysis_handler.py

[2016-06-21 13:39] NyakudyaA opened #2971 "missing value_map when using hazard layer from PostGIS database"
### Problem

After loading a hazard layer in postgres database and loading the layer in qgis and using it in IFCW results in value_map error. The metadata.db is not storing the value_map when you define the keywords for a layer coming from postgres. When working with a shapefile the value_map is defined properly

Missing value_map

![missing_keywords](https://cloud.githubusercontent.com/assets/251

[2016-06-21 13:50] NyakudyaA opened #2972 "Add multiple providers in selecting hazard/exposure layers."
### Problem
Currently the only way to add data to IFCW is by choosing it on the file system or accessing it from a Postgis database.

![add_layer](https://cloud.githubusercontent.com/assets/2510900/16231497/c2ec94ee-37c6-11e6-826b-6a6c46be463d.png)

### Expected Behaviour
Incorporate adding layers from Spatialite and GeoPackage mainly because data is easily sharable in this format.

### Environmen

[2016-06-21 14:41] NyakudyaA commented on #2920
We should show total sum for rounded numbers which appear in the report. The totals displayed should tally when someone computes them on their own based on the report summary.
 Should we apply this to all exposures ?

The table below is a result of tsunami raster on roads.

![selection_006](https://cloud.githubusercontent.com/assets/2510900/16233369/63057872-37ce-11e6-832c-50885398b4cd.png)

The i

[2016-06-21 14:49] NyakudyaA opened #2973 "Add notes to explain report summary"
### Problem
The report summary contains figures which are rounded numbers based on the impact function. There is no documentation that explains that the numbers displayed in the reports  are rounded number to significant digits.

![selection_006](https://cloud.githubusercontent.com/assets/2510900/16233717/9fb14caa-37cf-11e6-8130-35856946b453.png)

![inas](https://cloud.githubusercontent.com/assets

[2016-06-21 22:41] timlinux commented on #2921
I think @Charlotte-Morgan meant that fixing it on hers won't help other people - we need to figure out a way to let the user reset their minimum needs to 'factory default' easily.

[2016-06-21 22:43] timlinux commented on #2921
Note that I think this is not a bug or regression unless we can demonstrate that the clean water was removed without user intervention. If not it is more a case that the user has customised their minimum needs in a way that makes them inconsistent with the factory settings....

[2016-06-21 22:50] timlinux commented on #2920
@Charlotte-Morgan wrote:

To clarify, I am proposing that we define standard colours (hopefully sympathetic to our visual guide but not necessarily) that will be used throughout the cartographic products that we produce and if needed other guidelines e.g. point sizes for point marker symbols, line thicknesses etc. and include them in the visual guide. Then standardise on using these colours in all

[2016-06-22 04:59] adissadis commented on #2920
I prefer to use affected because like @Charlotte-Morgan said before, the definition of affected seem suite with this (something that influenced with disaster).

And for Indonesian language, we use _terdampak_ as it come from word _dampak_ who has definition (from Indonesian Dictionary): stronger influence that caused some result (whether positive or negative result)

[2016-06-22 07:33] NyakudyaA opened #2975 "IFCW report wizard should be exapandable"
### Problem

After running impact analysis the reports that is generated on IFCW cannot be visualized on single page to maximize the screen resolution of a user before deciding on printing.

![selection_008](https://cloud.githubusercontent.com/assets/2510900/16257912/8bb9c790-385b-11e6-8eee-44a11119e61a.png)
### Expected Behaviour

Make the wizard expandable.
### Environment
- InaSAFE :  3.5
- QGI

[2016-06-22 08:05] #2941 closed

[2016-06-22 08:08] timlinux commented on #2476
@lucernae Can we close this off? I see you still have one todo list item...

[2016-06-22 08:09] timlinux commented on #2507
Can we close this off? Is there anything you still need to do here @lucernae . Please re-open if you have pending tasks.

[2016-06-22 08:09] #2507 closed

[2016-06-22 08:10] timlinux commented on #2419
@Charlotte-Morgan no - I think we must move this again to 3.6 where we can work on implementing our '7 base classes' and not do interpolation any more.

[2016-06-22 08:13] timlinux commented on #2409
@ismailsunni has taken care of this. We will do a further revision for #2920

[2016-06-22 08:13] #2409 closed

[2016-06-22 08:16] timlinux commented on #2381
I did a search through the docs for ```Attribute values``` and did not find any references to it. Closing this out.

[2016-06-22 08:16] #2381 closed

[2016-06-22 08:18] #2354 closed

[2016-06-22 08:22] #2048 closed

[2016-06-22 08:23] timlinux commented on #1916
Closing this as it is too general - we will make specific tickets for the things that are left to do (pdf generation, aggregation etc).

[2016-06-22 08:23] #1916 closed

[2016-06-22 08:25] timlinux commented on #1869
I think we can close this out. In the future we could look at supporting variable evacuation rates per administrative area, but lets open a separate ticket for that.

[2016-06-22 08:25] #1869 closed

[2016-06-22 08:25] #1627 closed

[2016-06-22 08:27] timlinux commented on #1624
I'm going to close this as I think we have pretty much covered the concept now.

[2016-06-22 08:27] #1624 closed

[2016-06-22 08:27] #1218 closed

[2016-06-22 08:28] #417 closed

[2016-06-22 08:34] timlinux commented on #1128
@ismailsunni could you take a scan through this ticket, see if there is anything we can still add to the metadata and template tokens. Then close this out.

[2016-06-22 08:42] timlinux commented on #210
When we do the 7 base class refactoring, lets also plan for putting progress indicator call backs and using the threads stuff that is being worked on in QGIS to keep the display updated nicely.

[2016-06-22 08:43] timlinux commented on #210
So the main task here is to add progress reporting to all IF's

[2016-06-22 08:44] timlinux commented on #2670
Can you give a status update on this @lucernae . Can you get it done for 3.5?

[2016-06-22 08:47] timlinux commented on #2473
In our discussions with @wonder-sk he expressed doubts about using processing yet (proposing we wait a year or two for the processing framework to mature). I think we can take the approach of writing our own basic clipping functions when we refactor for the 7 IF base classes and do this work inline in our IF's. I am moving this to milestone 3.6 because for 3.5 we rather want to focus on polishing

[2016-06-22 08:50] timlinux commented on #2488
I'm going to move this back into the backlog - maybe we can chat about adding keywords to support per-aggregation-area evacuation % for 3.6 and separate the conversation away from

* methodology used for calculating evacuation rates
* implementation details of using keywords to drive which attribute in aggregation layer should be used to determine evacuation rates

[2016-06-22 08:50] timlinux commented on #2366
I think this is done now right? Can we close it off?

[2016-06-22 08:53] timlinux commented on #2413
@MariaSolovyeva @ismailsunni has applied this change to the server but we still get the problem - can you check on it?

![screen shot 2016-06-22 at 10 52 00](https://cloud.githubusercontent.com/assets/178003/16260379/7dd62de2-3867-11e6-9699-60d4077d329d.png)

[2016-06-22 08:54] timlinux commented on #2272
I think this is already done in 3.4? @easmetz can you close this ticket if you are done?

[2016-06-22 08:55] timlinux commented on #2188
We should move testing to QGIS 2.14 - lets close this out and focus on that rather - work is in progress to make InaSAFE run in docker using QGIS 2.14. CC @Gustry

[2016-06-22 08:56] #2188 closed

[2016-06-22 09:03] timlinux commented on #2182
So we should also encode this as best practice in #2920 . Revisiting this I am thinking that we should do two things:

1. Include the thresholds used in parentheses after the legend items
1. Include a section in the IF report **notes** section detailing what the thresholds used were

![screen shot 2016-06-22 at 10 59 04](https://cloud.githubusercontent.com/assets/178003/16260660/acf48ad2-3868-11e6

[2016-06-22 09:04] timlinux commented on #2182
@easmetz will you add some rules so the reporting standards RFC?

[2016-06-22 09:08] timlinux commented on #2168
I'm moving this over to milestone 3.6. Is there anything we can do to progress this? @dynaryu

[2016-06-22 09:09] Charlotte-Morgan commented on #2920
@easmetz - some thoughts on legends

Above you list hazard specific legends; these relate to the way hazard data are symbolized in QGIS if the data have symbology attached. However; hazard data are not part of the impact summary.

In the standards; we need to specify how the impact layer is displayed on the map; this will normally be the exposure element by the IF thresholds. @felix-yew has made s

[2016-06-22 09:10] Charlotte-Morgan commented on #2366
I think not yet for scenario data - only socialisation data have been reviewed?

[2016-06-22 09:54] adissadis commented on #2366
@Charlotte-Morgan yes it only socialisation for now. For other training data, we currently updating training material screenies and also updating training data.

[2016-06-22 11:59] timlinux commented on #2151
Tested on QGIS 2.14 with InaSAFE 3.4.2 - all seems fine.

[2016-06-22 11:59] #2151 closed

[2016-06-22 12:09] timlinux commented on #1990
We did this with new value_map in 3.4

[2016-06-22 12:09] #1990 closed

[2016-06-22 12:11] timlinux commented on #1917
This is moved to 3.6 - we will follow the principle of 'most exposed part of polygon applies to the whole polygon'.

[2016-06-22 12:16] timlinux commented on #1890
Moving this back to the backlog. iyan31 can you update this ticket with current status? Note that since the above diagram were made we have added new IF's so we need to update it.

[2016-06-22 12:22] timlinux commented on #1824
We tested it with the test dataset and the numbers are consistent now. Please reopen this issue if you do not agree.

![screen shot 2016-06-22 at 14 19 26](https://cloud.githubusercontent.com/assets/178003/16266350/b5ef3454-3884-11e6-8d8b-bca2053b1982.png)

[2016-06-22 12:22] #1824 closed

[2016-06-22 12:24] timlinux commented on #1775
In my last conversation with @Charlotte-Morgan , she wanted to report on percentages, not absolute values. This makes sense to me and we could look at how to convey that visually in a nice way.

[2016-06-22 12:25] timlinux commented on #1775
I hope we can hack on this in our next site visit in Jakarta.

[2016-06-22 12:27] timlinux commented on #1776
Actually in our last site visit we had very good input from @wonder-sk and I think we will be moving away from using mixins for the reporting in favour of rather using helper functions / classes that have more explicit behaviour and that are protected from potentially introducing side-effects to the current IF state.

[2016-06-22 12:27] #1776 closed

[2016-06-22 12:28] timlinux commented on #1480
closing as old

[2016-06-22 12:28] #1480 closed

[2016-06-22 12:28] Gustry opened #2977 "Checklist for running tests in QGIS"
- [ ] Add the test ID (#1, #2 ...)
- [ ] Add coverage
- [ ] Add more outputs from QGIS to make travis happy (error, std)
- [ ] Check the behaviour with the real dock
- [ ] Fix failing tests

[2016-06-22 12:30] #1252 closed

[2016-06-22 12:44] timlinux commented on #1160
I think this is another case for treating impacts and exposure as polygons - we can produce an output layer which is the hazard union with the exposure where each polygon has the minimum needs and vulnerability attributes stored as column attributes. I'm going to park this over on 3.6 for now pending our impact function base class refactor.

[2016-06-22 12:51] #2094 closed

[2016-06-22 12:57] timlinux commented on #1403
Closing this since we actually don't have that page any more on the new web site. I also searched through inasafe-docs and inasafe code for this string and don't see it used any more.

[2016-06-22 12:57] #1403 closed

[2016-06-22 14:14] NyakudyaA opened #2980 "database connection error on volcano sample data in inasafe repo"
### Problem

Trying to run volcano on building  from a volcano hazard loaded in a postgres  database results in connection error.

`An error has occurred while executing Python code:
ReadLayerError: Could not read dbname='inasafe' host=localhost port=5432 user='admire' password='user' sslmode=disable key='gid' srid=4326 type=MultiPolygon table="public"."volcano_krb" (geom) sql=. Extension "."volca

[2016-06-22 20:06] ismailsunni commented on #1315
It's covered also on #2981

[2016-06-23 03:37] adissadis commented on #1890
Hi @timlinux currently we don't put any diagram about list of impact function in our training material (QGIS training material). So, i think its safe for update it.

cc @iyan31

[2016-06-23 06:47] adissadis commented on #2969
Found this problem also but in other computer (Dewi and Harry's laptop)  this problem not appear.

I'm using:
QGIS 2.14.3
InaSAFE 3.4.2
OS: Win 7 64bit

Data that i used:
Flood vector DKI Jakarta
Flood Raster DKI Jakarta
Building OSM polygon jakarta
District_DKI_Jakarta

[2016-06-23 07:48] timlinux commented on #1317
I took the list from @fredychandra above and created a minimum needs profile:

![screen shot 2016-06-22 at 15 58 35](https://cloud.githubusercontent.com/assets/178003/16295484/796ff29a-3927-11e6-8036-78cdbb50e7de.png)

Running on JK Flood ( @Charlotte-Morgan 's favourite! ) I get this:

![screen shot 2016-06-23 at 09 45 40](https://cloud.githubusercontent.com/assets/178003/16295505/91574cd2-3927-1

[2016-06-23 07:49] timlinux commented on #1317
Note I already updated the provenance to show it as SPERE rather

[2016-06-23 07:55] timlinux commented on #1298
@lucernae will you take over this issue and make sure that the services are being backed up

[2016-06-23 08:23] Charlotte-Morgan commented on #1317
@timlinux  - sphere

[2016-06-23 09:09] NyakudyaA commented on #2969
Found the problem when running ash on buildings.

![not_affected](https://cloud.githubusercontent.com/assets/2510900/16297806/b0d85352-3932-11e6-9637-388d9be87c5d.png)

QGIS 2.14.3
Inasafe 3.5
OS ubuntu 16.04
Hazard: Ash raster
Exposure: Building from OSM

[2016-06-23 09:26] #1317 closed

[2016-06-23 11:59] ismailsunni opened #2984 "Move Provenance Summary to Own Section"
### Problem

Currently, in our provenance, the provenance summary is being put in one of the provenance step. It will make it not easy to parse or get information from it.
### Expected Behaviour

Provenance summary should be put in their own section in the xml. See : https://github.com/inasafe/inasafe/pull/2981#issuecomment-228000669

So, the provenance summary should be:

[code]
### Environment
-

[2016-06-23 12:02] #1128 closed, assigned to nobody

[2016-06-23 12:02] #1315 closed, assigned to nobody

[2016-06-23 12:04] timlinux commented on #1242
I'm going to move this onto the backlog for now. Maybe you anyway want to wait until the QGIS GeoNode spin up is ready?

[2016-06-23 12:05] timlinux commented on #1170
I'm closing this as I think we would probably want to freshen up anything we do and use newer branding etc.

[2016-06-23 12:05] #1170 closed

[2016-06-23 12:06] timlinux commented on #883
Closing this as we already have landuse in 3.4

[2016-06-23 12:06] #883 closed

[2016-06-23 12:07] timlinux commented on #752
See also #2920 - I will close this issue for now but it can serve as reference for the general reporting standards work.

[2016-06-23 12:07] #752 closed

[2016-06-23 12:09] timlinux commented on #420
I'm closing this - it is really old and when the idea becomes important we can open it again.

[2016-06-23 12:09] #420 closed

[2016-06-23 12:10] timlinux commented on #1200
Closing this as old, but it looks like we will re-surface the idea again soon.

[2016-06-23 12:10] #1200 closed

[2016-06-23 12:32] timlinux commented on #1158
@vdepardaysorry I know it is long after the fact, but are you able to attach some sample data that we can use to replicate this?

[2016-06-23 12:48] timlinux commented on #235
I'm closing this as we are moving away from using the test_data repo for testing. Travis testing is self documented and the platform specific docs explain how to run tests in pycharm.

[2016-06-23 12:48] #235 closed

[2016-06-23 12:54] timlinux commented on #2851
Yes its an upstream change that is needed. I think the main thing to fix is that the QPT template should remember the state of the map preview mode. I'm going to tag this for 3.6 but even then we will probably not see the benefit of our upstream fix until 2017 when QGIS 3.2 LTR is available. Lets make the upstream fix so long and then close this ok?

[2016-06-23 13:00] timlinux commented on #2909
Ok this one is going to be a bit painful to fix. @Charlotte-Morgan I am going to rope you into the conversation here because I want to suggest that we:

* remove the impact merge tool for 3.5
* do some thinking about our architecture for post 4.0 to support running multiple impact functions (same hazard multiple exposure) in one go.

Any other approach is going to be inherently fragile. The curren

[2016-06-23 13:00] timlinux commented on #2909
As a one liner, my short term proposal for 3.5 is that we remove this tool

[2016-06-23 14:12] ismailsunni commented on #2969
hi @samnawi @adissadis and @NyakudyaA
Thanks for the issue, I will work on it.

Perhaps, can you give the url of the data or more specific location where I can get the data? I often confuse which one the data that you used. I tried to find in data.inasafe.org, but I couldn't find them. The data are also zipped in the data.inasafe.org, make it more difficult to find the data that you use.

[2016-06-23 14:24] Gustry commented on #2969
Milestones 3.6 with a "current sprint" label ?
Check the message from Admire above, he is using the standard tests layers.

[2016-06-23 14:28] Gustry commented on #2969
BTW, I think we should definitely include tests about the impact table. For now, in each IF, we are testing only the impact layer.
I tried already here : https://github.com/inasafe/inasafe/commit/e855790da608f74312e0c7776f05160d61f84417

[2016-06-23 14:29] ismailsunni commented on #2969
@Gustry
Sorry, mis-putting the milestones. Fixed now.

Yeah, actually, it was after I write my comment and talked to him after walking 2 meters.

re: test the impact table
agree.

[2016-06-23 15:03] ismailsunni commented on #2969
Hi all, in case you want to test it, this is my data set:
[2969.zip](https://github.com/inasafe/inasafe/files/330234/2969.zip)

[2016-06-24 09:17] NyakudyaA opened #2985 "Impact results layer not visible after running volcanic_ashonstructure"
### Problem

After running Ash on building centroids the resultant layer generated has correct symbology but it is not visible.

Layers before analysis.

![volc](https://cloud.githubusercontent.com/assets/2510900/16333114/d05bd268-39f9-11e6-95dc-0adb3cb5c376.png)

Layers after analysis

![volc_no_symbols](https://cloud.githubusercontent.com/assets/2510900/16333237/855d0376-39fa-11e6-9aef-29746cd27

[2016-06-24 09:42] NyakudyaA commented on #2920
We need to standardize reporting on IF on land cover. Headings should be less ambiguous.

![selection_001](https://cloud.githubusercontent.com/assets/2510900/16334332/8e687a3a-3a00-11e6-9174-d6c7dfa2e510.png)

[2016-06-24 09:46] Charlotte-Morgan commented on #2920
today - Minions and HOT had a workshop to review the standards. We made great progress on the maps and will share that next week.

[2016-06-24 09:49] Charlotte-Morgan opened #2986 "Share InaSAFE realtime earthquake impact map with BMKG"
BMKG has requested that InaSAFE realtime also return the impact map to them

Proposed solution
 make it happen

[2016-06-24 12:23] timlinux commented on #2940
So @ismailsunni and I have come up with a plan for world peace and better handling of generic impact functions so that they are only used when there is not a registered hazard for the analysis. I am going to park this for 4.0 until we have discussed with @Charlotte-Morgan

[2016-06-24 12:25] timlinux commented on #2934
``safe_ag`` should  be removed its just weird :-P The name is unintuitive and in the new design proposal we have we should not have this any more.

[2016-06-24 12:27] timlinux commented on #2906
@NyakudyaA can you verify this is working now and get one of us to close it if it is working.

[2016-06-24 12:33] timlinux commented on #2912
While I agree this would be nice functionality I think I am going to close this as 'won't' do - there are going to be lots of technical issues with this proposed interaction and I don't think there is a strong enough demand for it to justify the complexity it will add.

[2016-06-24 12:34] #2912 closed

[2016-06-24 12:39] timlinux commented on #2902
We should also style the affected rows so that they appear visually grouped - it will make the **Affected buildings** total more readable.

Adding the headings ``Hazard zone`` and ``Building Count`` in the first table would probably work well.

[2016-06-24 12:40] timlinux opened #2987 "RFC: 7 Princes - Standardise all impact functions into 7 base IF's"
**STATUS**: In Draft
# Background

Whenever we introduce support for a new hazard (lets say Tsunami), there is invariably code duplication and a maintenance overhead incurred as we clone existing IF's and modify them for a the new hazard. In addition, the new IF (let's say Raster Tsunami on Roads) is inherently characterised by the geometry type / data format of the hazard. So if we are actually g

[2016-06-24 12:44] timlinux commented on #2885
See #2987 - We have a plan to make generic impactions used only in cases where the hazard is not know, and that any registered hazard will automatically be able to use the 7 princes (standard IF implementations). I would like to write up #2987 nicely with @ismailsunni and then park this ticket until that is implemented - which should fix this issue.

[2016-06-24 12:49] NyakudyaA commented on #2906
@timlinux I cannot replicate this. The issue seems to be centered on defining key words. If the layer has wrong keywords then you cannot click next.

[2016-06-24 12:49] #2906 closed

[2016-06-24 13:02] timlinux commented on #2809
To be more precise - we don't have flood specific IFfor landcover - you should be able to do it with the generic polygon on IF landcover analysis. In the future #2987 will address this.

@ismailsunni reckons if the vector classification is set to flood rather than generic, then no IF will show.

[2016-06-24 13:03] timlinux commented on #2809
We should be able to close this when #2987 gets implemented.

[2016-06-24 13:08] #2784 closed

[2016-06-24 13:11] timlinux commented on #2746
@ismailsunni thinks he has taken care of this - assigning to him to double check and close if possible,

[2016-06-24 13:12] timlinux commented on #2717
@lucernae can you try to get these close out before the 3.5 release?

[2016-06-24 13:13] timlinux commented on #2714
Where are we on this @lucernae - can you close it out if you are done?

[2016-06-24 13:14] timlinux commented on #2704
I moved this to 3,6 as I don't think we will be done with this by 3.5. Feel free to correct me if I am wrong.

[2016-06-24 13:15] timlinux commented on #2697
How far are we with this @lucernae

[2016-06-24 13:16] timlinux commented on #2696
@lucernae just pinging you on this - can you update this issue with whatever has been done and get it closed out if possible?

[2016-06-24 13:17] timlinux commented on #2686
For you @ismailsunni - when keywords are missing please provide a nice informative message to the user.

[2016-06-24 13:41] timlinux commented on #2687
Just a quick note to say I have had a look over this ticket during our (@ismailsunni & myself) triage session. I have some thoughts about using infographic style overlays (e,g. 2.5 little people icons overlaid over each flooded area)...will try to expand on that in 3.6 - @Charlotte-Morgan I agree this needs a good strategy so that we can make a clear impact map - the current outputs don't cut it.

[2016-06-24 13:42] #2029 closed

[2016-06-24 13:47] timlinux commented on #2662
We could also look at using Visvalingam simplification (which preserves topology). @wonder-sk 's approach also sounds like it is worth trying. Here are some chat transcripts about simplification that might be interesting:

[code]

[2016-06-24 13:48] timlinux commented on #2651
Can you give an update on this @lucernae - I would like to see this in place for 3.5

[2016-06-24 13:51] timlinux commented on #2636
For WMS layers, we should anyway simply ignore them from an analysis point of view since they are just pictures.  @Gustry please try to replicate - if you can, move it over to 3.6 otherwise close it out. @ismailsunni thinks it may not be an issue anymore with kw refactoring.

[2016-06-24 13:52] timlinux commented on #2629
We will fix this with the 7 princes in #2987 - the impact on a feature should be the greatest hazard which it touches.

[2016-06-24 13:55] timlinux commented on #2630
See also #2920 - we need to standardise the legend display.

[2016-06-24 14:00] timlinux commented on #2945
This should be fixed already?

[2016-06-24 14:00] #2945 closed

[2016-06-24 14:06] timlinux commented on #2558
Lets get #2987 done first ...

[2016-06-24 14:09] timlinux commented on #2930
Closing in favour of #2977

[2016-06-24 14:09] #2930 closed

[2016-06-24 14:12] timlinux commented on #2907
@Charlotte-Morgan Shall we move this to 3.6 pending further feedback?

[2016-06-24 14:14] timlinux commented on #2293
I'm moving this to 4.0 so we can do #2987

[2016-06-24 14:30] Gustry commented on #2945
Thanks @ismailsunni , I can't replicate

[2016-06-27 07:01] marawiti opened #2989 "InaSAFE DEVELOPMENT"
### Problem, inasafe cant estimate the population at risk

### Expected Behaviour, it tends to estimate point, polygon and polyline exposures whih are normally infrastructure

### Environment
* InaSAFE :

* Data used :
  * Exposure :

### Proposed Solution
create a module with ability to enter population data into a polygon shapefile normally a chloropleth map

[2016-06-27 08:17] Charlotte-Morgan commented on #2704
hi @easmetz  - please give an update on this work.
@RikkiWeber  - FYI

[2016-06-27 08:18] Charlotte-Morgan commented on #2951
yes - this should be covered by #2920

[2016-06-27 15:54] #2989 closed

[2016-06-28 05:45] Gustry commented on #2977
Move to 3.6, we would like to polish 3.5

[2016-06-28 06:42] Gustry opened #2990 "Wrong building classification in ClassifiedRasterHazardBuildingFunction"
### Problem
While running ClassifiedRasterHazardBuildingFunction with a Ash hazard on buildings, the result shows a `Not affected` building in the center of the ash cloud (high hazard zone)

![3859](https://cloud.githubusercontent.com/assets/1609292/16406001/d7011ac8-3d0b-11e6-8735-c2da39d955b4.png)

### Expected Behaviour
Classify the building in the high hazard zone.

### Environment
* InaSAFE :

[2016-06-28 07:32] Gustry opened #2991 "Impact layer not loaded in QGIS 2.14.3, working fine in 2.8.9"
### Problem
I'm running an analysis in QGIS 2.8.9, the impact layer is loaded in the legend and I can see it in the canvas.
![selection_001](https://cloud.githubusercontent.com/assets/1609292/16407160/7e5f2eda-3d12-11e6-91f6-204ae3d959b1.png)

But if I'm running the same analysis in QGIS 2.14.3 or QGIS Master, the impact layer is not visible :
![selection_002](https://cloud.githubusercontent.com/a

[2016-06-28 09:00] marawiti opened #2992 "We need raster flood on population polygons"
### Problem

inasafe cant use flood raster hazard and population polygon exposure to estimate % of population at risk
### Expected Behaviour

unkown
### Environment
- InaSAFE :
- recommended Data
  - Exposure :  population polygon
  - Hazard :  flood raster
### Proposed Solution

create a module with ability to aggregate the above data, since raster format is appropriate to present flood hazard wh

[2016-06-28 22:03] timlinux commented on #2992
@marawiti thank you for your issue report. Could you help us by explaining exactly what steps you followed and sharing the datasets you used? We do actually have support for polygon flood on population areas, so as a temporary work around you could manually convert your raster flood data to polygon vectors by:

* classifying the flood dataset so that cells now represent flood class (e.g. low, medi

[2016-06-28 22:05] timlinux commented on #2992
I renamed the title of this issue to make the request clearer...

[2016-06-29 06:34] griffij opened #2993 "IOError in InaSAFE analysis through interaction with Processing plugin"
### Problem
Fresh install of QGIS, InaSAFE on Mac OSX and any analysis I have tried to run gives an IOError, details below. @timlinux @ismailsunni @lucernae

`In file "/Users/PCUser/.qgis2/python/plugins/inasafe/safe/impact_functions/base.py", line 678, in run_analysis self._prepare()
In file "/Users/PCUser/.qgis2/python/plugins/inasafe/safe/impact_functions/base.py", line 812, in _prepare self._s

[2016-06-29 07:12] ismailsunni commented on #2969
Hi @inasafe/developers @inasafe/issue-manager
I have replicated this ticket with smaller area and more clear to see the problem.

Here my data test:
Hazard :  [classified_hazard.zip](https://github.com/inasafe/inasafe/files/338664/classified_hazard.zip)
Exposure:
[small_building.zip](https://github.com/inasafe/inasafe/files/338667/small_building.zip)

And if you run the analysis, you will get:
<im

[2016-06-29 09:20] ismailsunni commented on #2969
Problem found, the ClassifiedRasterHazardBuildingFunction doesn't use the hazard value map.

[2016-06-29 11:13] griffij opened #2994 "IOError in InaSAFE analysis through interaction with Processing plugin"
### Problem
Fresh install of QGIS, InaSAFE on Mac OSX and any analysis I have tried to run gives an IOError, details below. @timlinux @ismailsunni @lucernae

`In file "/Users/PCUser/.qgis2/python/plugins/inasafe/safe/impact_functions/base.py", line 678, in run_analysis self._prepare()
In file "/Users/PCUser/.qgis2/python/plugins/inasafe/safe/impact_functions/base.py", line 812, in _prepare self._s

[2016-06-29 11:14] timlinux commented on #2993
@ismailsunni  would you take a look at this and back port to master for a 3.4.3 bug fix release if it is something we can fix on our side?

[2016-06-29 11:15] timlinux commented on #2993
(copied in @Gustry as he may ave more background knowledge about the processing side of the equation)

[2016-06-29 11:16] timlinux commented on #2994
Closing this as it is a duplicate of #2993

[2016-06-29 11:16] #2994 closed

[2016-06-29 11:17] timlinux commented on #2969
Nice catch @ismailsunni !

[2016-06-29 11:40] ismailsunni commented on #2969
Btw, ClassifiedRasterHazardPopulationFunction also doesn't use hazard value map. I need to fix for both IFs.

[2016-06-29 12:27] marawiti commented on #2992
tanks timlinux, i am a using inasafe version 3.4.2.. what is the current version?

[2016-06-29 12:29] marawiti commented on #2992
i need to use it so that i can contribute more

[2016-06-29 12:36] Gustry commented on #2992
Yes, no problem, 3.4.2 is the latest version.

[2016-06-29 13:37] borysiasty commented on #2975
Please note I spent days, trying to control the MessageViewer's size, e.g. by setting its maximumHeight dynamically (depending on the window size), without any success. If we don't restrict the maximum height of the whole tab widget, all steps will be taller than the wizard window (involving a vertical scroll bar, what looks really bad :) )

Additional investigations are needed to finally find a w

[2016-06-29 14:31] Gustry commented on #2990
After investigation, it seems a duplicate of #2969

[2016-06-29 16:44] Gustry commented on #2920
![selection_001](https://cloud.githubusercontent.com/assets/16660099/16068549/0b08b9a4-330a-11e6-9c74-3e0b772253c7.png)
As described in this table, some IF report only "affected" features and some report "not affected" features too.
BTW, `Not affected` and 'Dry' is missing in the first column.

I think it could be nice to harmonize for all IF if we should report unaffected features or not and if w

[2016-06-29 17:01] Gustry commented on #2932
Can I have some feedback about this ticket ? Thanks.

[2016-06-29 17:10] Gustry commented on #2842
The ash file has been included in inasafe. I'm going to close this issue. Feel free to reopen.

[2016-06-29 17:10] #2842 closed

[2016-06-29 17:46] Gustry commented on #2925
Hum, ok I misunderstood your problem I think.

3 weeks ago, I made a fix to make the **impact** layer visible, even if the QGIS checkbox (`By default, new layers added to the map should be displayed`) is not checked. So now, every new layer provided by InaSAFE should be visible.

But your last two comments, it's not a layer provided by inasafe. You loaded these layers from QGIS. So your issue shou

[2016-06-30 02:34] ivanbusthomi opened #2998 "Duplicate information in Notes and Assumptions on Earthquake IF"
### Problem
When I tried running Earthquake scenario with PAGER model IF using Padang dataset, I noticed that the note and assumptions contains both ITB model and PAGER model like the one in the screenshot below
![err1](https://cloud.githubusercontent.com/assets/7351977/16474987/1332d046-3ea5-11e6-8ba7-5887ef0b843f.PNG)

This also happened when I use the ITB model
![err2](https://cloud.githubuserc

[2016-06-30 03:38] griffij commented on #2993
After deleting QGSI.app and <user>.qgis2 folders and reinstallinga fresh QGIS installation, I am getting the same error, i.e. without InaSAFE installed. So it is a problem with QGIS installation not InaSAFE.

[2016-06-30 03:38] #2993 closed

[2016-06-30 07:10] NyakudyaA commented on #2925
@Gustry I did not load the layer using QGIS. I loaded the layers using IFCW. According to your fix they should automatically draw if they are loaded by inasafe. That is the behavior I was reporting that it was not working as expected.

[2016-06-30 08:25] Gustry commented on #2925
I made a fix for the impact layer added at the end of the IFCW. Not for layers added while running the frist questions in the IFCW.
Do you think that InaSAFE should override the QGIS settings when we load a hazard/exposure layer using IFCW ?
There are two settings in conflict : QGIS about new layer not visible by default, and InaSAFE not showing hidden layers

[2016-06-30 10:03] NyakudyaA commented on #2925
I understand but the impact layer added at the end of IFCW does not seem to be behaving that way. The layer added is not on by default. I think inasafe should override the default QGIS settings and show the layers as visible as i think it also affect other options like choosing AOI for analysis.

![options](https://cloud.githubusercontent.com/assets/2510900/16484588/3ae77906-3eba-11e6-8f64-bbdc8e5

[2016-06-30 10:39] ismailsunni commented on #2969
Update:
I have fixed it for ClassifiedRasterHazardBuildingFunction. It looks good now in QGIS. But, I got this itchy problem. See image below:
<img width="1378" alt="screen shot 2016-06-30 at 17 30 08" src="https://cloud.githubusercontent.com/assets/1421861/16485338/a299df48-3ee8-11e6-9a9e-1fd8a28d8d0d.png">

As you see, in the dock, the High hazard zone is 5 (red arrow), meanwhile, in the unit te

[2016-06-30 14:53] ismailsunni commented on #2969
Ok, I fixed the bug that doesn't create the problem in the ticket.

I tried again my fix. Downloading from OSM building. The minus show up again. I try to use the data as a dataset. I saw some unclassified building TYPE. I classified it. Then the minus is gone when I ran the analysis.

Better experiment:
1. Download OSM building.
2. Make a copy of it.
3. Run keyword wizard, make a proper value map

[2016-06-30 16:41] Gustry opened #3001 "Duplicate code between the dock and the wizard"
### Problem
Thanks to @NyakudyaA, I noticed that when an analysis is finished using IFCW, the behaviour is not the same than when we are using the dock.
In the IFCW, I found that a lot of code has been copied from the dock. However, for example I brought some fix on the dock these last weeks, but I wasn't aware about that duplication in the wizard.

### Proposed solution
We should avoid duplicatio

[2016-06-30 16:44] Gustry commented on #2925
Ok, yes it's a problem to draw the bounding box if layers are not visible. Can you try the PR #3000 ?

[2016-07-01 01:32] ismailsunni commented on #2969
Epilog:

Finally, I found the problem. There are two reason why this problem occurs:

1. *not proper* structure value mapping from OSM Downloader.
If you download building from OSM, you will get structure value mapping like this:
<img width="566" alt="screen shot 2016-07-01 at 08 23 54" src="https://cloud.githubusercontent.com/assets/1421861/16509276/3235f192-3f65-11e6-8cc6-bb6992c7c2cd.png">

See

[2016-07-01 01:34] ismailsunni commented on #2969
And for issue in my comment (https://github.com/inasafe/inasafe/issues/2969#issuecomment-229623471), I found out that impact_function.run() has different output as impact_function.run_analysis(). If I use the second one, it will give the same result as in the dock. I am still not sure why though. Need deeper checking.

[2016-07-01 06:31] felix-yew commented on #2920
Hi @easmetz

I will add an information about the standard proposal that we have discussed at last week. I will explain in a part by part.

1. **For the 'Title' part**

After discussing, we propose the title should use the following syntax
<**exposure**> <**affected by/in**> <**type of hazard**> <**event/hazard**>

For the guideline, we can see the table:
![image](https://cloud.githubusercontent.co

[2016-07-01 06:36] easmetz commented on #2920
@felix-yew Thanks for adding this! I will begin to incorporate this feedback next week after talking to Charlotte.

[2016-07-01 06:41] ivanbusthomi commented on #2491
Hi @adelebearcrozier sorry for the late reply
Yes, the band is actually the time step. There are few improvement in the plugin that I'm about to update soon.

[2016-07-01 06:49] felix-yew commented on #2920
2. **In the 'Legend' part**

In the title of legend, we propose to use **Number of** to explain about exposure affected.
![image](https://cloud.githubusercontent.com/assets/13621886/16513655/947cf442-3f90-11e6-9c6e-09079eec0d76.png)
Notes:

- **Number of** in Indonesian mean **Perkiraan**.

- **For example** to write a title of legend:
Number of people
Number of buildings
Length of roads
Area of l

[2016-07-01 07:16] Charlotte-Morgan commented on #2998
@easmetz if you are able, could you please discuss with Hadi and ask him to contribute.?
@RikkiWeber

[2016-07-01 07:19] felix-yew commented on #2920
3.**In the ‘Legend classes’**
We propose using a different number of classes depending on the type of hazard

Note: **dry zone** is only used for **buildings** and **roads**.
![image](https://cloud.githubusercontent.com/assets/13621886/16514021/6a1a1614-3f93-11e6-8700-558a6c4cad1b.png)
The color HEX in this table is slightly different from how it would look like in QGIS. The print screen below sho

[2016-07-01 07:54] felix-yew commented on #2920
4.**Use unit(s) in each of exposure**

For the analysis result of InaSAFE, better if each of parameter should be add parameter unit to explain the summary of affected amount.
![image](https://cloud.githubusercontent.com/assets/13621886/16515241/051fe65a-3f9b-11e6-93b2-deceb240bc68.png)

Notes:
In Indonesian, people affected always written in ‘Jiwa’.
**For examples**:

- People affected in high haz

[2016-07-01 15:31] Gustry commented on #2991
Duplicate of #2985

[2016-07-01 15:31] #2991 closed

[2016-07-01 15:56] Gustry commented on #2985
I can replicate too.

I'm running the analysis in QGIS 2.8.9, the impact layer is loaded in the legend and I can see it in the canvas.
![selection_001](https://cloud.githubusercontent.com/assets/1609292/16407160/7e5f2eda-3d12-11e6-91f6-204ae3d959b1.png)

But if I'm running the same analysis in QGIS 2.14.3 or QGIS Master, the impact layer is not visible :
![selection_002](https://cloud.githubuserco

[2016-07-01 16:53] Gustry commented on #2985
The IF impacted seems : "ClassifiedRasterHazardBuildingFunction". I didn't notice this problem with another IF. Only one.

And it seems related to QGIS, I tried with an old version of InaSAFE :

  | InaSAFE 3.3.0 | Develop
-------------  | ------------ | -------------
QGIS 2.8 | :white_check_mark:  | :white_check_mark:
QGIS 2.14  | :no_entry_sign: | :no_entry_sign:

[2016-07-02 15:17] timlinux commented on #2491
@lucernae can you give a status update on the ASH IF implementations please?

[2016-07-02 19:13] ivanbusthomi commented on #2985
I think it may be related to issues #2858

[2016-07-03 23:34] ismailsunni commented on #2817
Hi @wulankhairunisa
I think I have fixed this. Can you test it again against develop? If you still got the problem, please let me know. Can you also point where I can get the Nagekeo_Landuse_WGS84.shp ? I couldn't find it from http://data.inasafe.org/InaSAFE%203.2%20Data/ or http://data.inasafe.org/InaSAFE%203.1%20Data/

@NyakudyaA can you help me to check testing this also?

[2016-07-03 23:43] ismailsunni commented on #2970
Hmm, I can't replicate it in my laptop. Anyone able to replicate this? @timlinux @Gustry @lucernae
<img width="1393" alt="screen shot 2016-07-04 at 06 41 36" src="https://cloud.githubusercontent.com/assets/1421861/16548237/83a1a2fc-41b2-11e6-8290-ac70e30cb6ec.png">

And what IF did you use? I use Raster flood on population

[2016-07-03 23:46] ismailsunni commented on #2686
See my PR #3003, perhaps it's enough for showing the message.

@Charlotte-Morgan can you tell me what keywords is missing?

[2016-07-04 01:58] Charlotte-Morgan commented on #2686
hi @ismailsunni - I can not be sure but it may have been the id field an name field as these are unique for the population vector exposure data

[2016-07-04 09:10] timlinux commented on #229
Closing this: this is old and we will address these problems via #2987

[2016-07-04 09:10] #229 closed

[2016-07-04 09:19] timlinux commented on #2426
Closing - we will address this in #2987

[2016-07-04 09:19] #2426 closed

[2016-07-04 09:25] timlinux commented on #2715
See also #2987

[2016-07-04 09:27] timlinux commented on #2728
Its disabled - we would like to fix it if possible. Also we should look at using coveralls.

[2016-07-04 09:29] timlinux commented on #2793
This will be addressed #2987 when we have the 7 standard IF's