[2015-06-27 13:50] MariaSolovyeva commented on #1985
Update: show-impact-merge fix
![icons-preview](https://cloud.githubusercontent.com/assets/10400420/8392238/92a63bf0-1cec-11e5-817d-4dfc33e56adb.png)

[2015-06-27 21:06] #2068 closed

[2015-06-27 21:12] timlinux commented on #1985
That looks really good @MariaSolovyeva - can you give me SVG's for these and we settle on them for now?

[2015-06-27 21:13] borysiasty commented on #1961
@timlinux: There was also a question for you about the radiobuttons (could you please search the discussion for your nick)

[2015-06-27 21:17] timlinux commented on #1961
@borys if you mean relating to whether we should hide / remove the radio buttons onthe first step, - personally I would be happy to remove them for now - perhaps we can bring them back in the future if they will more meaningfully update the filtering of the first table. @Charlotte-Morgan that OK for you?

[2015-06-27 21:21] borysiasty commented on #1961
Thanks a lot! I fully support removing them :) Let's wait for Charlotte's comeback, and if there is no veto, I'll hide them and close this ticket.

[2015-06-28 03:42] ismailsunni commented on #2069
I made a PR for this in #2072 , can you review it @timlinux  ?

[2015-06-29 02:46] wonder-sk commented on #1998
Raster Alignment tool has been merged to QGIS master branch, so it should be available in the nightly builds from tomorrow.

[2015-06-29 06:35] ismailsunni commented on #2069
Pass to you @mbernasocchi

[2015-06-29 08:43] Gustry commented on #2069
Do we need to patch the OSM Downloader too ?
Currently, the downloader will ship XML or keywords file according to the inasafe version but the version number is not written in the file.

[2015-06-29 08:48] ismailsunni commented on #2069
Hi @Gustry
No need to do that. I made the changes in KeywordIO, so if the downloader will be automatically written by it. And I just checked it for make sure, and it does write the version. So, no need to patch.

[2015-06-29 14:45] #1985 closed

[2015-06-30 04:17] ismailsunni opened #2074 "Use `hazard_field` and `hazard_value_map` for Hazard's Layer Keyword"
## Problem

Currently, the wizard write the value of field and value mapping of hazard in `field` and `value_map` key in layer's keywords. It's not explicit.
Meanwhile, in exposure layer, we use `exposure_class_field`. Which is very explicit.
## Proposed Solution

Use `hazard_field` and `hazard_value_map` to replace `field` and `value_map` respectively.
## Notes

This is low priority.

[2015-06-30 05:51] #1469 closed

[2015-06-30 05:51] #2057 closed

[2015-06-30 06:57] wonder-sk opened #2075 "Opening function centric wizard makes QGIS crash on exit"
If I just open function wizard and then close it, QGIS will crash on exit. Without opening the wizard QGIS terminates correctly. Tested with 2.8 and 2.10 on Linux 64bit.

From my investigation:
- crash happens when InaSAFE tries to handle layersWillBeRemoved() signal on exit - at this point the plugin should have been unloaded
- the problem is that WizardDialog is created with main window as a par

[2015-06-30 07:23] Gustry opened #2076 "Icon about the networking analysis"
I've started the new icon about the networking analysis tool.
https://github.com/Gustry/inasafe/blob/routing/resources/img/icons/show-routing-analysis.svg

Is it possible to have a icon with the new inasafe theme. The icon can represent a street network.

[2015-06-30 08:28] timlinux commented on #1808
![selection_001](https://cloud.githubusercontent.com/assets/178003/8426781/b3b19b28-1f12-11e5-9691-75f8968fbed1.png)

[2015-06-30 09:08] wonder-sk opened #2077 "Run button disabled if the selected analysis area is not set correctly"
Sometimes I forget to setup analysis area for my analysis, so the previously used area is going to be used. However, if there is no overlap between the analysis area, exposure and hazard layers, the "Run" button is disabled... even though InaSAFE tells me "You can proceed to run your model by clicking the Run button." I got reminded of Catch XXII :-)

Would it be possible to improve the feedback s

[2015-06-30 13:50] wonder-sk commented on #689
Done: functionality merged to experimental branch, needs QGIS 2.12 (or current development version).

See also:
- RFC: Align Rasters Tool #1998
- PR: Align raster layers using QGIS functionality #2070

[2015-06-30 13:50] #689 closed

[2015-06-30 14:20] #1753 closed

[2015-06-30 14:20] #1935 closed

[2015-06-30 14:39] ismailsunni commented on #2074
Do it last. Since it won't be seen by the user. And after the change, I need to update the keyword in test data (which is painful :) ).

Moreover, may be we won't do anything since we will migrate to metadata class.

[2015-06-30 15:25] MariaSolovyeva commented on #2076
@Gustry , I've just sent you the file with the icon by e-mail.

[2015-07-01 08:38] #2076 closed

[2015-07-01 08:39] Gustry commented on #2076
Thanks @MariaSolovyeva
I will come back to you if needed.

[2015-07-02 07:25] ismailsunni opened #2078 "Fix Failing Test in QGIS 2.8.2"
Problem
----------
I upgraded to QGIS 2.8.2 and got several failed test. See here https://gist.github.com/ismailsunni/9ed321370fcb0d487a3d

It seems Jenkins still use QGIS 2.8.1 (because no failing tests). We should update Jenkins also to use QGIS 2.8.2.

From @wonder-sk : in general it would be good to move away from 2.8.1, because it has a bug that makes land cover analysis unusable

To Do:
- [

[2015-07-02 10:12] ismailsunni commented on #2078
Some issues related to this
- Analysis error with Polygon flood on people run on the test data #2059
- Postprocessing fails with QGIS-master (will be 2.10) #2010
- Error When Run FloodVectorRoadExperimentalFunction #2065

An which version of QGIS we want to support for InaSAFE 3.2 @timlinux ?

[2015-07-03 08:19] cchristelis commented on #1765
Making the Population reports uniform required a bit of redesign, since the concepts are displayed quite differently as these where each developed in semi-isolation. I will attach some to give examples.

In order to unify the look, feel and experience of the reports, the following changes are made to the impact summary:

The concept that seems to be most important in most of the reports is the con

[2015-07-03 10:21] timlinux commented on #2078
Do you mean 2.8.2 in that sentance?

[2015-07-03 23:51] ismailsunni commented on #2078
@timlinux
Yes, typo. It should be 2.8.2. Fixed now.

[2015-07-06 07:00] Charlotte-Morgan opened #2081 "Wizard - should work with data already loaded in QGIS"
# problem
The IF Wizard (Guided impact assessment wizard) does not recognise data loaded in QGIS

# proposed solution
the IF wizard should allow users to work with data already loaded in QGIS and then launch the KW wizard to update key words as required. If not the user is forced to reload data in existing project files.

[2015-07-06 07:06] Charlotte-Morgan opened #2082 "Wizard - consistent naming"
# problem
there is inconsistent naming / cross referencing of the key words wizard
1. when it opens its called the "keywords update wizard"
2. in the GIAW it says the "hazard registration wizard" will be launched

# proposed solution
make it consistent

[2015-07-06 07:14] Charlotte-Morgan opened #2083 "Wizard - can not cope with old key words"
# problem
GIAW is unable to load existing hazard data with old v3.1 key words)
1. when data are selected the user gets the message "This layer's keywords or type are not suitable."
2. a python error results when next is pushed.

# error message
[code]

[2015-07-06 07:26] Charlotte-Morgan opened #2084 "Wizard wording - tweak"
Please update the wizard words as follows:

![image](https://cloud.githubusercontent.com/assets/5743135/8517435/21e80ab4-23eb-11e5-85ae-f800f45cc4df.png)

- [ ] Replace
"What hazard scenario does this layer represent? Is it a single event or a zone of multiple hazards?"
with
"What type of hazard scenario does this layer represent? Is it a single event or multiple events?"

![image](https://cloud.g

[2015-07-06 07:36] Charlotte-Morgan commented on #1961
hi @borysiasty - i am happy for the radio buttons to go now that we have this single and multiple hazard events in the key words

[2015-07-06 08:26] Charlotte-Morgan opened #2085 "Wizard - Volcano hazard point options"
In the KW wizard, I think that we should be able to select single event when assigning key words to a volcano xy point.
Are volcano xy points considered to be classified data based on the name field?
@ismailsunni ?

[2015-07-06 09:04] Charlotte-Morgan opened #2086 "Wizard - auto select defaults"
In many cases, if only one option is available in a wizard step, the option is already highlighted and the next button is active.

However, in some cases , eg exposure, roads, classified - the single option is not active.
Please update so that any time there is no choice, the single option is active and the next button is also active

[2015-07-06 09:17] Charlotte-Morgan opened #2087 "Flood Impact (raster) on buildings - report tweak"
# problem
The numbers quoted in the action list are incorrect & the use of open & closed is not consistent.

# proposed solution
replace open with not affected - in the action list and in the notes
replace closed with affected - in the action list and in the notes
totals for affected in action list should be the sum of inundated and wet
totals for not affected in the action list should be the sum

[2015-07-06 17:03] borysiasty commented on #2081
Could you please provide a sample layer that is affected?

[2015-07-07 01:56] ismailsunni commented on #2085
Hi @Charlotte-Morgan
IIRC, we considered it as classified data, since we classify the zone around the point to some classess; Low, Medium, and High.

If you think it should be able to work on single event, I can update it.

[2015-07-07 02:46] Charlotte-Morgan commented on #2085
hi @ismailsunni - i have tried again to assign key words to a single volcano xy data set and then to run the volcano impact function and i think something is missing.
A volcano xy point needs to be a single event where any 'classification' should relate to the name field.
At present i do not get the option to choose single event.
I should then be able to run "point volcano on buildings" - this wor

[2015-07-07 03:13] fredychandra opened #2089 "IF issue : Breakdown the analysis results of Building Type on BIG data (non OSM downloader)"
# PROBLEM

The analysis result for building structure exposure have no breakdown for it building type, whereas it has already selected the structure classified (attribute).

# DETAIL

- I run it at Qgis 2.8.1
- InaSAFE 3.2.0 dev-master
- The exposure data type is from Badan Informasi Geospatial (BIG). It has a fix string (text) to
     classify building type or public service infrastructure. Actua

[2015-07-07 03:17] Charlotte-Morgan commented on #2089
@fredychandra - +1
I agree that it would be good for reports of affected buildings to also be available for standard buidlign type codes used by BIG. @timlinux - how does this relate to the JakSAFE work which IIRC also wanted to be able to report against different building type classifications?
# cc
@iyan31

[2015-07-07 03:18] Charlotte-Morgan commented on #1665
see #2089

[2015-07-07 03:18] Charlotte-Morgan commented on #2089
see #1666

[2015-07-07 03:21] Charlotte-Morgan opened #2090 "Volcano impact on buildings - report by type error"
# problem
The volcano point impact on buildings generates a report of affected buildings that also has some extra unrelated information.
It appears that during the impact analysis the attributes for the volcano buffer are joined to the building attribute table. The volcano data also has a type field and this is being propogated into the analysis results so that the buildings which were 'residentia

[2015-07-07 03:31] akbargumbira commented on #2089
This is not far to achieve as things are in line already:
- Specifying building type when user assigns building keywords in keyword wizard (done)
- Updating all the IFs to get building type from exposure keywords (in @ismailsunni's PR)

[2015-07-07 03:48] Charlotte-Morgan opened #2091 "Wizard vs Dock - Volcano Point IF"
# problem
I can set the key words on volcano point and buildings and use the wizard to run an impact function however, there are no valid IF according to the dock
![image](https://cloud.githubusercontent.com/assets/5743135/8538393/ded3232a-2495-11e5-8ee8-44e9ee262983.png)

[2015-07-07 05:38] Charlotte-Morgan opened #2092 "Wizard - UI - no valid key words message"
# problem
The UI messages do not fit neatly in the window.
![Uploading image.png…]()

# proposed solution
make it happy

[2015-07-07 05:46] Charlotte-Morgan opened #2093 "Post Processor UI - needs work"
# problem

the UI in the post processors looks a bit strange when the check box is a long way from the parameter
![image](https://cloud.githubusercontent.com/assets/5743135/8539470/61a22a48-24a6-11e5-887f-9031390be62e.png)
# proposed solution

would it be possible to put the check box to the left of the parameter so that it always appears close regardless of the parameter length?

[2015-07-07 06:09] #2053 closed

[2015-07-07 06:16] Charlotte-Morgan opened #2094 "Tsunami Evacuation option - update"
# problem
the tsunami evacuation function invites users to enter 3 threshold values. However when it runs it only uses 1 threshold.

![image](https://cloud.githubusercontent.com/assets/5743135/8539891/c9d45308-24aa-11e5-8e8a-f12a94cb53b5.png)

# proposed solution
update the options to match the IF.
I think the correct situation is one threshold value.

[2015-07-07 09:28] samnawi commented on #2089
I try use IF like @fredychandra's doing, but I run it in QGIS 2.8.2.
The result is has the breakdown of the building type, but just appear others and *sekolah*.
![screenshot_1](https://cloud.githubusercontent.com/assets/8871958/8543143/f7d286a2-24c4-11e5-8773-b8c636ba5900.jpg)

Whereas, in the attribute we can see not only *sekolah*, but also *, Mesjid, Gereja, Kantor Desa,* etc.
![screenshot_2](h

[2015-07-07 09:50] ismailsunni commented on #2085
I am making PR #2095 for this.

[2015-07-07 09:55] ismailsunni commented on #2089
Hi @Charlotte-Morgan @fredychandra @samnawi @akbargumbira @timlinux

My PR in #2080 (for issue #1991 ) will fix this. It will make the user able to choose which field where the  building type located. I also have updated the IF so it will work.

I only update the IF that has building classification previously (not all building IF has it, volcano point building). But, I can add it to them, easily.

[2015-07-07 10:09] ismailsunni commented on #2092
hi @Charlotte-Morgan can you re-upload the image. It seems the uploading process is not finished.

[2015-07-07 10:13] Charlotte-Morgan commented on #2092
hi @ismailsunni - try this one

[2015-07-07 10:20] ismailsunni commented on #2092
@Charlotte-Morgan Still no image...

[2015-07-07 10:21] Charlotte-Morgan commented on #2092
![image](https://cloud.githubusercontent.com/assets/5743135/8544104/9c00ece4-24cc-11e5-8bd0-436ff2eb61e4.png)

[2015-07-07 10:22] Charlotte-Morgan commented on #2092
@ismailsunni - i hope you can see this one

[2015-07-07 23:40] ismailsunni commented on #2091
The reason of this issue, when we assigned keyword to volcano IF, we doesn't specify the classification. Meanwhile, in the volcano IF, there is layer requirement for hazard layer, `'vector_hazard_classification': 'volcano_vector_hazard_classes'`

Alternative solutions:
- Assign the missing keyword under the hood
- Remove the 'volcano_vector_hazard_classes' requirement from the IF.

I prefer the se

[2015-07-08 02:23] Charlotte-Morgan commented on #2091
LGTM - i like the 2nd option too

[2015-07-08 02:38] Charlotte-Morgan commented on #2085
hi @ismailsunni - LGTM - this PR:
- [x] allows a volcano xy point to be a assigned the single event key word
- [x] allows users to select point volcano on buildings IF in the IFW

I think that i should add some text to the classified option in definitions.py to explain that classified also describes the buffer distances from a volcano point.

[2015-07-08 06:46] ismailsunni commented on #2091
Merged.
Closing by #2097

[2015-07-08 06:46] #2091 closed

[2015-07-08 07:21] Charlotte-Morgan opened #2099 "Volcano Report - not reading name attribute"
# problem
The Volcano IF are not reading / reporting the name of the volcano.
![image](https://cloud.githubusercontent.com/assets/5743135/8565137/d918cea2-257c-11e5-8eb5-dbf3fdb34c96.png)

# proposed solution
make it happy

[2015-07-08 07:37] ismailsunni commented on #2085
hi @Charlotte-Morgan
Great. I will merge it then.

[2015-07-08 07:37] #2085 closed

[2015-07-08 07:43] ismailsunni commented on #2099
Hi @Charlotte-Morgan  Do you mean InaSAFE doesn't obtain the volcano's name from layer's attribute that you have set in the wizard?

[2015-07-08 07:47] Charlotte-Morgan commented on #2099
i think this bit is not picking up the name and we end up with the else: option
![image](https://cloud.githubusercontent.com/assets/5743135/8565443/2c89f2c0-2580-11e5-93b7-a7bfe7310caf.png)

[2015-07-08 09:29] cchristelis commented on #2026
I think this is the impact on buildings is broken down in impact categories and this total is the total impacted:
![selection_003](https://cloud.githubusercontent.com/assets/2319504/8567290/7d584024-2564-11e5-865b-233de97aeb73.png)
But even in this case, showing the total in the impacted area makes sense. I will change it.

[2015-07-08 09:40] cchristelis commented on #2026
Hi @timlinux,

This behaviour is changed in PR #2101.
See the new snippet:
![selection_004](https://cloud.githubusercontent.com/assets/2319504/8567492/f23ba542-2565-11e5-8f13-e14daab1a68a.png)

[2015-07-08 09:40] #2026 closed

[2015-07-08 10:02] ismailsunni commented on #2099
So the state in develop, it will find attribute called "NAME" to find the volcano name. We hard coded this.

I have fixed it on my PR #2080. In this PR, InaSAFE will use the attribute name that user has set in layer's keywords.

[2015-07-09 04:02] samnawi opened #2103 "IF Issues : Volcano Point Report - Agregation not appear"
# Problem
I doing volcano analysis use the aggregation.
The report is fine when it use to analysis the population impacted.
![selection_051](https://cloud.githubusercontent.com/assets/8871958/8587555/b4ef80ec-2627-11e5-9854-801a76c317cd.png)

But, when I try to use it to analysis buildings (point & polygon) and infrastructure (point), the aggregation result not appear in the report
![selection_055

[2015-07-09 04:35] samnawi opened #2104 "IF Issue : Volcano Polygon - Aggregate issue"
# Problem
Same when I doing IF with volcano point, the similar event occurs again in here. The aggregation result not appear in the report when I use it to analysis buildings (point and polygon) and infrastructure (point).
![selection_057](https://cloud.githubusercontent.com/assets/8871958/8587899/35873fce-262d-11e5-9018-42563596a9c1.png)
![selection_058](https://cloud.githubusercontent.com/assets

[2015-07-09 07:32] samnawi opened #2105 "IF Issue : Volcanic Ash - Aggregation report"
# Problem
There is some problem when using Volcanic Ash IF, especially when the result will be aggregated by admin boundary.

The result of aggregation appears on the report when it use to analysis population impacted.
![selection_062](https://cloud.githubusercontent.com/assets/8871958/8589549/9502d5a8-2641-11e5-89f9-a8d8ee59d4cd.png)

But, the result of aggregation not appears on the report when

[2015-07-09 08:03] samnawi opened #2106 "IF Report : Printed road affected report clipped"
# Problem
Both of Tsunami and Flood roads IF, when the report is printing, the table of detailed road type is clipped.
![selection_063](https://cloud.githubusercontent.com/assets/8871958/8591423/6d55f0ce-2652-11e5-8951-4d9ea17817ba.png)

# Proposed Solution
Make the report fix with the page

cc :
@Charlotte-Morgan
@timlinux
@ismailsunni

[2015-07-09 22:31] lucernae commented on #1914
First pass completed. Continue with retrieving IF parameters from layer keywords.

[2015-07-09 22:31] #1914 closed

[2015-07-10 01:59] ismailsunni commented on #1914
Retrieving IF parameters from layer keywords has been done in PR #2080, not merged yet though.

[2015-07-10 02:45] akbargumbira commented on #1914
It would be nice to get the keywords in the 12 base classes like the design
we made. So getting hazard_value_attribute, hazard_class_mapping,
exposure_class_attribute etc is done in those 12 classes. The concrete
classes just need to use this property from the parent.

On Fri, Jul 10, 2015 at 9:59 AM, Ismail Sunni <notifications@github.com>
wrote:

--

*-------------------*

*Akbar Gumbira*
*Softw

[2015-07-10 04:45] lucernae commented on #1914
Thanks for the follow up, I should really continue this after it is merged to make sure the concrete class uses it.

[2015-07-10 07:58] samnawi opened #2107 "Wizard - Volcano Polygon Population IF option"
# Problem
There is a few confusion in the step of InaSAFE wizard.
I try to do an analysis volcano polygon population IF using the InaSAFE wizard.
In the step to select the polygon volcano hazard, there are 2 options:
* Classified polygon hazard on population.
  * Function: Classified polygon hazard on population.
  * Overview: To Assess the number of people that may be impacted by each hazard zone

[2015-07-10 11:33] machakux opened #2111 "Error in Keywords creation wizard for flood raster layer (using meters as unit)"
Error in creating a keywords for a raster layer using keywords creation wizard.

When creating keyword using the wizard everything goes well except in the last stage which gives the `TypeError`

    An error has occured while executing Python code:

    Traceback (most recent call last):
      File "/home/user/.qgis2/python/plugins/inasafe/safe/gui/tools/wizard_dialog.py", line 3014, in on_pbnNext

[2015-07-10 12:02] timlinux commented on #2111
Was it a raster or vector flood layer you had @machakux ?

[2015-07-10 12:09] timlinux commented on #2111
Also could you share the dataset you used so that we can test with it?

[2015-07-10 12:18] machakux commented on #2111
It was a raster layer @timlinux

[2015-07-10 12:43] vdeparday opened #2114 "Switch to a chat system that does not require an invitation to join"
In order to grow the community faster, it would be great to switch to a platform that is open to everyone to join without requesting an invitation.
It looks like gitter is where things are going. We are trying for GeoNode and it seems very good. Do you want to start using it and transition there?

[2015-07-10 12:48] timlinux commented on #2114
We have been using gitter for QGIS and it is very nice and will act as a drop in replacement for HipChat (including dropping images into the chat which is my best feature of hipchat). I will be happy to switch and get rid of the overhead of managing users in HipChat.

I have set up a room here that we can use:

https://gitter.im/AIFDR/inasafe

It would be really nice to be able to embed it directl

[2015-07-11 04:44] #1173 closed

[2015-07-11 07:28] mbernasocchi opened #2119 "why do we ship simplejson and use json most of the time"
in safe_extras we have simplejson but it is used in only 5 places (1 time in runner.py and 4 in raven).

the builtin json module is used 15 times.

raven seems that should work with the builtin also: https://github.com/getsentry/raven-python/blob/master/raven/utils/json.py

I think we could just use the builtin

[2015-07-13 04:25] ismailsunni commented on #2111
From my investigation:
The wizard save a string as a integer (in this case, source's date), if it's only contains integer character (e.g. 2015, 1234, etc). *Based on the error message.

I have fixed it and made a PR in #2122

[2015-07-13 05:13] ismailsunni commented on #2114
But gitter needs github's account. I am not sure the community has github account. If we talked about developer community, it will be good. But, for common people, I am not really sure.

[2015-07-13 07:58] ismailsunni commented on #1089
Will close this, we don't have keywords dialog anymore.

[2015-07-13 07:58] #1089 closed

[2015-07-13 07:58] timlinux commented on #2021
@Gustry can you put the osm downloader in a QScrollArea as a short term fix?

[2015-07-13 08:26] Gustry commented on #2021
@adissadis @timlinux Done in the OSM Downloader

[2015-07-13 09:06] timlinux commented on #2090
So the solution here seems to be (in short term) to change the buffering logic to not write 'type' as column name for generated volcano buffers and to ensure the volcano point IF uses the updated name.

[2015-07-13 09:10] timlinux opened #2125 "We need to fix various issues with volcanos"
@ismailsunni kindly compiled this list of volcano related issues. Since there is some activity right now relating to volcanos it would be good to tackle these and backport to 3.1 release too until 3.2 is ready.

- [ ] #2107 @ismailsunni
- [x] #2105 @cchristelis
- [x] #2104 @cchristelis
- [x] #2103 @cchristelis
- [x] #2099 @ismailsunni
- [x] #2090 @cchristelis

for #2099 will be fixed after finisih

[2015-07-13 20:36] timlinux commented on #2114
Update: discussed on hipchat [sic] - there were some reservations about hte fact that gitter needs you to sign up with GitHub first

[2015-07-14 03:05] fredychandra commented on #2107
# PROBLEM
Also If we choose classified polygon hazard on population (fig.1) then the hazard layer will not be detected on (fig.2). Then we can not continue to run this IF wizard.

Fig. 1
![image](https://cloud.githubusercontent.com/assets/6345285/8665548/53b79e9a-2a0f-11e5-92e7-a576c56f3891.png)

Fig.2
![image](https://cloud.githubusercontent.com/assets/6345285/8665451/6bf75708-2a0e-11e5-83ef-dad5

[2015-07-14 06:51] #1742 closed

[2015-07-15 07:05] fredychandra opened #2128 "Python Error on aggregation keyword process"
# PROBLEM
Python error occurs when I run keyword for aggregation on female ratio attribute input step.

![image](https://cloud.githubusercontent.com/assets/6345285/8692487/c0068996-2af8-11e5-9797-18f8fd978cfe.png)

# PROCESS
1. Open Aggregation keyword
2. Selected aggregation layer attribute
3. Defined the female ratio attribute and then when press next button the python error occured

# Operating

[2015-07-15 09:21] timlinux commented on #2111
Thanks @ismailsunni - can you backport to master too please?

[2015-07-15 09:49] cchristelis commented on #2090
The volcano name attribute is actually expected to be "NAME" if the user renames it to "TYPE" and sets it to "TYPE" in the impact function, then this problem is created. I propose inspecting the volcano name attribute and if that name already exists, then to edit the attribute name to end in an underscore "_".

In this case, the use case will be doing the following: The volcano point layer has a c

[2015-07-15 10:05] timlinux commented on #2090
Thanks @cchristelis Just make sure not to change / alter the source file, only intermediate working files.

[2015-07-15 10:05] Charlotte-Morgan commented on #2090
I'm not sure that is what i experienced.
In the data i had, the volcano Type field has a value (Stratovolcano) - this is not the name but this value overwrote the affected building types in the impact on buildings analysis.

Maybe your comment above relates to the other ticket where the name of the considered volcano is not read by the IF?

[2015-07-15 10:06] Charlotte-Morgan commented on #2090
i changed my source file by removing the type field and renaming it voltype and the IF ran fine and results were as expected - except for teh other ticket about the name not being read

[2015-07-15 13:56] cchristelis commented on #2090
Hi @Charlotte-Morgan,

What is happening here is a consequence of using the assign_hazard_values_to_exposure_data. What this method does, is it takes the exposure and adds hazard attributes to the exposure creating an impact layer. The impact layer has the following attribute:

Exposure Attribute 1|Exposure Attribute 2|...|Exposure Attribute N|Hazard Attribute 1|Hazard Attribute 2|...|Hazard Attri

[2015-07-15 15:29] #2111 closed

[2015-07-20 12:43] timlinux opened #2132 "Minimum needs error when loading a custom profile"
I get the following traceback when trying to open a project with Jakarta layers:

[code]

My JSON file was this.
[code]

I was running master branch and the problem cannot be replicated on develop.

[2015-07-20 14:45] cchristelis commented on #2103
Fixed in PR, please review.

[2015-07-20 14:45] cchristelis commented on #2104
Fixed in PR, please review.

[2015-07-21 13:56] ismailsunni commented on #2099
this is closed by #2127

[2015-07-21 13:56] #2099 closed

[2015-07-22 04:45] ismailsunni commented on #2107
Hi @samnawi
After I read again both impact functions (IFs), I can reply your questions:
Both of the IFs are used for hazard zone (or KRB), not single event. The difference is only the classifications. For `Classified polygon hazard on population` you need to use generic classifications. For `Polygon volcano on population` you need to use volcano hazard classes.

I can make one of them (or both) wo

[2015-07-22 05:01] ismailsunni commented on #2128
This issues is fixed in develop and have been patched to master and released in 3.1.2. See similar issue in #2111

[2015-07-22 05:01] #2128 closed

[2015-07-22 05:38] timlinux opened #2142 "Minimum needs profile manager fails when adding a new item"
[code]

Options I used are as per notes below:

Press the new button to create a new profile. A dialog will appear asking for the name of your profile. Call it ‘training’ and press ‘save’.

The first thing to do is to enter the ‘provenance’ for the profile. Typically you should enter a short statement explaining which legislation or guideline was used to define this needs profile. In our case we w

[2015-07-22 05:39] timlinux commented on #2142
I was using 3.1.2 when encountering the above.

[2015-07-22 06:56] ismailsunni commented on #2142
@timlinux
I tried locally, all fine. Which version of QGIS do you use? I use 2.10

[2015-07-22 08:47] kateregga1 opened #2143 "Upgrading from 3 to 3.1.2 gives python error"
Couldn't load plugin inasafe due to an error when calling its classFactory() method

[code]

[2015-07-22 08:49] ismailsunni commented on #2143
hi @kateregga1
Can you try to disable InaSAFE, then restart QGIS, then enable InaSAFE again?

[2015-07-22 08:51] kateregga1 commented on #2143
@ismailsunni

Restarting QGIS solved the problem

[2015-07-22 08:54] ismailsunni commented on #2143
Great

[2015-07-22 08:54] #2143 closed

[2015-07-22 10:27] #2103 closed

[2015-07-22 10:27] #2104 closed

[2015-07-22 10:38] cchristelis opened #2144 "Building type postprocessor does not tally totals correctly"
# Problem

The building type postprocessor does not sum totals correctly. This results in total affected being 0, where they should have a value. There are no tests to catch this.

# Expected Outcome

1) Fix the adding
2) Add a test

[2015-07-22 11:34] cchristelis commented on #2125
When we backport #2103, #2104 and #2015 we also need to backport #2144, since the building totals where wrong and have been fixed there.

[2015-07-22 14:03] #2105 closed

[2015-07-22 14:03] #2144 closed

[2015-07-22 20:22] Samweli opened #2147 "Qgis does not load inasafe"
Qgis does not load inasafe after unexpected disconnection from the remote debugger

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/qgis/utils.py", line 219, in startPlugin
    plugins[packageName] = package.classFactory(iface)
  File "/home/twesa/.qgis2/python/plugins/inasafe/__init__.py", line 88, in classFactory
    pydevd.settrace('localhost', port=5678, stdoutToSer

[2015-07-22 20:27] cchristelis commented on #2125
Issues are in PR #2146.

[2015-07-22 20:30] Samweli opened #2148 "Problem running inasafe in ubuntu 12.04"
Problem running inasafe in ubuntu 12.04, inasafe cant create a file in /tmp

[code]

[2015-07-22 23:57] ismailsunni commented on #2148
Hi @Samweli
Can you tell us what did you do when get that error? If possible, can you share the data that you use?
Thanks

[2015-07-22 23:58] ismailsunni commented on #2147
Hi @Samweli
If you use remote debugger, you need to run the remote debugger in PyCharm. Otherwise, it will give you error.
Please remove the additional line `pydevd.settrace('localhost', port=5678, stdoutToServer=True, stderrToServer=True)` if you want to use InaSAFE not in remote debug mode.

Thanks.

[2015-07-23 06:47] ismailsunni commented on #2086
Hi @Charlotte-Morgan
I am checking this bug, and it seems, all is fine. See my screen record here https://youtu.be/3SxAGlqOC_I

[2015-07-24 03:54] ismailsunni opened #2150 "Migrating Travis from legacy to container-based infrastructure"
# Problem
Currently, we are running travis in legacy infrastructure. Travis suggests us to update it to their new infrastructure.

They says, it will be faster. And some others why (http://docs.travis-ci.com/user/migrating-from-legacy/#Why-migrate-to-container-based-infrastructure%3F)

[2015-07-24 04:21] ismailsunni commented on #2094
Hi @Charlotte-Morgan
I checked in InaSAFE, it's actually running all threshold. See image below:
![inasafe - google chrome_046](https://cloud.githubusercontent.com/assets/1421861/8867616/f3b1f8f8-31f5-11e5-9da2-bd5e7d5c984f.png)

Red rectangle shows the breakdown of each threshold
Blue rectangle only shows the highest threshold.

So, I think the behavior is right.

[2015-07-24 04:23] #2082 closed

[2015-07-24 11:22] ismailsunni commented on #2090
Can we close this? @cchristelis @Charlotte-Morgan

[2015-07-24 11:31] ismailsunni commented on #2018
@lucernae can you give some indication which part have you done and not done?

[2015-07-24 12:59] timlinux opened #2151 "Crash using flood polygons on population using tanzania custom minimum needs profile."
[code]

My minimum needs file looked like this:

[code]

[2015-07-24 13:29] rwige1 opened #2152 "Blue Box"
Upon selecting the area to analyse hazard the blue box would sometimes hang until i restarted QGIS.
Could this be fixed please.

Thanks in advance

[2015-07-24 13:34] timlinux opened #2153 "Flood on roads fails"
Using Tanzania data on window 8 64 bit with QGIS 2.8.2 and InaSAFE 3.1.2 and trying to do a flood on roads I got the following error:

[code]

[2015-07-24 13:35] timlinux commented on #2152
Thanks for this ticket - we have had this problem before and could not find out what caused it - I will take another look.

[2015-07-24 13:37] felixbeata opened #2154 "I had a problem when trying to import data in minimum needs manager it asked me to save instead"

[2015-07-24 14:14] cchristelis commented on #2090
yes we can!

[2015-07-24 14:14] #2090 closed

[2015-07-27 03:10] #2084 closed

[2015-07-27 10:45] samnawi opened #2156 "IF Issues : Volcanic Ash - Point Structure"
# Problem
Thank for @cchristelis as your fix the issue #2105.
But, there is a new problem when I try to run the volcanic ash impacted to centroid building (Point structure). The IF is shown the error when I try to run this function.
![image](https://cloud.githubusercontent.com/assets/8871958/8903894/4b22ae52-3485-11e5-8eee-033b3296415a.png)

In the past, when I run this IF, the process is running

[2015-07-28 01:32] ismailsunni commented on #2092
I tried to add <wbr> tag in the source text. But, apparently, Qlabel doesn't recognize it (?).

[2015-07-28 01:52] ismailsunni commented on #1991
Done in #2127

[2015-07-28 01:52] #1991 closed

[2015-07-28 05:05] ismailsunni opened #2159 "Running code in run-env-linux gives wrong result"
Problem
----------
While bug fixing, I encounter a case I get different result from the same code between in run-env-linux and QGIS python console.

The code:
[code]

From QGIS python console, I got True for a.isValid().
[code]

From the environment set by run-env-linux qgis_path, I got False.
[code]

Does anyone have idea why does this happen?

cc @timlinux @cchristelis @Jannes123 @Gustry @lucern

[2015-07-28 06:12] Charlotte-Morgan opened #2160 "We need a way to test that Realtime is running"
# Problem

It is possible for InaSAFE Realtime to stop working and for no one to notice.
Today - the last Realtime event is dated 13th July, yet there have been 17 earthquakes in Indonesia since that date, 5 of which are greater than 5.0
We seem to be unaware of system failures unless a person looks at it.
InAWARE provides links to files that do not exist.
# proposed solution

We need to build an

[2015-07-28 06:33] lucernae commented on #2160
Actually I'm aware of this and already sent email to BMKG at 14th or 15th. They just responded yesterday because of the long holiday season and will send the push map immediately.

This is actually expected, because I changed some of the server parameters and found some bug, if the server restarts or docker container restart, BMKG will not be able to connect. The bug itself is fixed, but since the

[2015-07-28 06:35] lucernae commented on #2159
I think I encountered these sometimes when I ran the tests. But it is fixed when I called get_qgis_app in the test files.

[2015-07-28 06:39] Charlotte-Morgan commented on #2160
Its great that you are already working on this issue. Do you have an automatic test in place or does it rely on you checking manually?

[2015-07-28 06:47] lucernae commented on #2160
What concerns me the most in this case is, we have no way to tell if BMKG is able to connect or not right now. I found this problem by chance last time when testing the new realtime. The processing itself will be ran as long as the server is up. But, I think the general idea is good, we should have set up some dashboard just to see that the system is in healthy condition.

[2015-07-28 07:00] Gustry commented on #2159
run-env-linux doesn't create the qgis app. You should call get_qgis_app or
[code]

[2015-07-28 16:06] ismailsunni commented on #2159
Hi @Gustry @lucernae

Thanks for the helps. I think I forgot about it again and again. :)

[2015-07-28 16:06] #2159 closed

[2015-07-29 12:01] marcobra opened #2163 "Can inasafe get some data related to addr:housenumber points"
Sometimes is good in a disaster plan to have all the addr:housenumber involved in a scenario, listed.
Can inasafe take care/use this useful data ?

We are trying to use inasafe to elaborate "Protezione civile" local plan.
https://www.openstreetmap.org/relation/43144#map=18/44.40486/8.68555

http://mappa.italiasicura.gov.it/#/interventi?zoom=16&lat=44.404013010999904&lon=8.680145815282714

Thank
Ma

[2015-07-29 13:06] Gustry commented on #2163
Do you mean to add addr:housenumber  to the attribute table in the OSM Downloader ?

[2015-07-29 13:16] marcobra commented on #2163
yes i have most data linked to addr:housenumber

[2015-07-31 20:30] timlinux commented on #2114
More update on this:

* I discussed with @Charlotte-Morgan today and she agreed to the change to Gitter
* Taking into account the various pros and cons, my feeling is that Gitter will be the best choice - users can self-register and in general we want interested users to sign up for GH accounts anyway so that they can file tickets
* Gitter does not 'lose' history in the chat, which is a concern fo

[2015-08-08 23:38] timlinux opened #2166 "Embed gitter into new web site"
Hi @MariaSolovyeva and @rduivenvoorde

Since we are switching to gitter.im, I would like to have a page on the new blog with an embedded chat. Here is an example of how to do it:

http://jsfiddle.net/MadLittleMods/5u9h14Lc/

Could you please work together to get that set up? Note you need to change the chat room URL in the given example to AIFDR/inasafe

Thanks
# cc

@Charlotte-Morgan

[2015-08-10 04:49] Charlotte-Morgan opened #2167 "Type Error: Flood on building"
# Problem
InaSAFE fails to run flood polygon impact on building polygons
QGIS 2.8.2, InaSAFE 3.2, Windows 7 64 bit.

# Error Message
![image](https://cloud.githubusercontent.com/assets/5743135/9159626/81310940-3f56-11e5-833b-f08bbed7056c.png)

# Proposed solution
make it happy :)

[2015-08-10 04:56] ismailsunni commented on #2167
This is related to #2078
cc @timlinux

[2015-08-10 07:09] dynaryu opened #2168 "Calculation of number of displaced people using the earthquake fatality model"
1. calculation
   Currently the number of displaced people is computed as the product of the displacement rate and exposed population. I'd like to suggest that the people survived (exposed population - fatalities) should be used instead of the exposed population.
2. mmi range for displacement rate
   We need to use the same mmi range. if we chose the mmi range between 2 and 10 (range(2,11) in pyth

[2015-08-11 14:14] timlinux commented on #2167
Hi @cchristelis I looks like this might be coming from your reports mixin - could you take a look please?

[2015-08-11 14:16] timlinux commented on #2160
@davidr007 Do you know if there is an alternative url  / site that presents a list of shake events. We could connect to that regularly and cross reference the events list there with those that we have processed - e.g. on a jenkins scheduled test.

[2015-08-11 14:17] timlinux commented on #2160
@lucernae it might be good for you to go and have a poke around the BMKG web site and see if you can pick up something like this.

[2015-08-11 14:18] timlinux opened #2170 "We need to sort out the partner logos on the new site"
Currently the partner logos page doenst look to good on the new site:

![selection_001](https://cloud.githubusercontent.com/assets/178003/9199758/8eb3ad22-4044-11e5-9f35-568edb978f5b.png)

@MariaSolovyeva could you make a 'cloud' of logos like we have for the supporters?

[2015-08-11 15:13] timlinux opened #2171 "We should disable organisation logos in the dock by default"
This was actually agreed a long time ago - lets hide the logos by default. While I was doing training, many users were hampered by low resolution screens and the logos takes so much of the dock they could not see important information presented there.

[2015-08-12 06:44] Charlotte-Morgan commented on #2168
hi @dynaryu
thank you for raising this issue. It looks like you have concerns about:
- [ ] how the calculation works
- [ ] how the results are presented
- [ ] how the rounding is applied

The developers would find it helpful if you are able to provide examples of:
- [ ] a scenario with the current results and what you want the preferred results look like

# cc @timlinux @griffij @lucernae @davidr0

[2015-08-12 10:45] timlinux commented on #2168
See also #1960

[2015-08-12 20:15] timlinux commented on #2168
Thanks @dynaryu - lets get your PR #1960 applied first and then clarify which of the above issues is not addressed in your PR. Could you take a look at my Pull Request which sorts out some coding standards issues and then we can go ahead and apply #1960

[2015-08-13 07:17] mbernasocchi opened #2173 "map all kw to new metadata"
adresses PR #2165
need to put the correct XML mappings for the following _standard_properties:
##### BaseMetadata:
- [x] title
- [x] license
- [x] scale
- [x] source
- [x] url
- [ ] layer_mode
- [ ] layer_geometry
- [ ] keyword_version
- [ ] scale
- [ ] source
- [ ] layer_purpose ---> this can be inferred from the class (ImpactLayerMetadata, AggregationLayerMetadata, HazardLayerMetadata, ExposureL

[2015-08-13 07:28] Charlotte-Morgan commented on #1314
hi @samnawi - will we be able to have this ready for 21 August ?

[2015-08-13 07:28] #1788 closed

[2015-08-13 07:29] Charlotte-Morgan commented on #1314
@samnawi - can you have this ready for 21st August?

[2015-08-13 07:33] timlinux commented on #1455
@cchristelis can you attend to this for 3.2 please?

[2015-08-13 07:33] samnawi commented on #1314
@Charlotte-Morgan Is There any feedback from that was I posted?
I'll prepare it to ready before 21st August

[2015-08-13 07:34] Charlotte-Morgan commented on #1314
can you please print some samples

[2015-08-13 07:35] #1992 closed

[2015-08-13 07:39] timlinux commented on #1992
Its all up and running on http://geonode.inasafe.org

[2015-08-13 07:39] timlinux commented on #1455
@cchristelis can you give an update on this?

[2015-08-13 07:40] timlinux commented on #1917
The building should be assigned to the highest value of any intersecting pixels - so for example if a building is near a flood and it touches one deep water cell it should be considered flooded.

One approach would be to classify the flood into high/med/low and then assign the building to highest class it touches.

[2015-08-13 07:41] timlinux commented on #1917
@cchristelis please give an estimate on how much work will be involved

[2015-08-13 07:43] samnawi commented on #1314
OK @Charlotte-Morgan

[2015-08-13 07:44] timlinux commented on #883
There is a landuse impact function added to experimental branch - please try it out and provide feedback.

[2015-08-13 07:44] timlinux commented on #883
There is a landuse impact function added to experimental branch - please try it out and provide feedback.

[2015-08-13 07:46] #2125 closed

[2015-08-13 07:46] Charlotte-Morgan commented on #1180
hi @ismailsunni - i think this is done. but not sure we have addressed @vdeparday original comments.
Closing this - @vdeparday - please open a new ticket if required

[2015-08-13 07:46] #1180 closed

[2015-08-13 07:50] timlinux commented on #2021
Could you confirm if this is still an issue in develop?

[2015-08-13 07:52] Charlotte-Morgan commented on #2107
@fredychandra & @samnawi - can you please look at this again

[2015-08-13 07:56] timlinux commented on #2050
AIFDR references should be updated where appropriate.

[2015-08-13 08:09] #1919 closed

[2015-08-13 08:10] timlinux commented on #1919
Closed by agreement with @ismailsunnie as we do not feel this is urgent or even always desirable - it may make the logic paths of the code harder to follow.

[2015-08-13 08:12] Charlotte-Morgan commented on #1869
the team at AIFDR will review this & write definitions for the first point & or change the words in the IF

[2015-08-13 08:15] timlinux commented on #1890
@iyan31 Can you check if there are lists of IF's in the HOT documentation work, and update the list. @lucernae can you update the list above and make sure it is correct?

[2015-08-13 08:21] iyan31 commented on #1890
Will check with the team

[2015-08-13 08:25] timlinux commented on #1820
@timlinux to remove 'InaSAFE' prefix from each item

[2015-08-13 08:28] timlinux commented on #583
@timlinux has covered some items with new extent selector

@cchristelis please make this a priority for 3.3

[2015-08-13 08:33] timlinux commented on #504
In 3.2 we use new parameters UI which makes parameter selections much clearer. @charlotte-morgan will also be doing a separate review of text used in InaSAFE.

[2015-08-13 08:34] #504 closed

[2015-08-13 08:48] timlinux commented on #2094
@samnawi can you please test this with QGIS 2.8.3?

[2015-08-13 08:52] timlinux commented on #2151
This may be a side effect of using QGIS 2.8.2 - test using 2.8.3 and close if it works

[2015-08-13 08:53] samnawi commented on #2094
Ok @timlinux , I'll testing now

[2015-08-13 08:54] timlinux commented on #2086
Can you check that list items are really shown as selected - I think the confusion relates to the fact that the item is selected but doesn't appear to have the same selection look as when they user has clicked on it with the mouse.

[2015-08-13 08:54] Charlotte-Morgan commented on #2062
i think this is fixed now - closing this

[2015-08-13 08:55] #2062 closed

[2015-08-13 08:57] timlinux opened #2174 "We need to warn the user when keywords are out of date"
See also #2083

[2015-08-13 09:00] timlinux commented on #2174
* Show warning in dock widget when old keywords are found prompting user to rerun the kw wizard
* Do NOT show hazard and exposure, aggregation layers in dock if their keywords are too old.

[2015-08-13 09:04] timlinux commented on #2078
Can we close this? We should use 2.8.3 for tests - and all tests seem to pass ok on travis.

[2015-08-13 09:09] timlinux commented on #2077
Agreed - I will fix this - though with a different approach to suggested - disable run button and show informative message in dock where possible (replace 'press run message if it is there, leave keywords etc messages alone if they are shown)

[2015-08-13 09:15] samnawi commented on #2094
@timlinux this is the result when I run it in Windows OS and using QGIS 2.8.3
![image](https://cloud.githubusercontent.com/assets/8871958/9246508/336921f2-41d6-11e5-9dff-1a32c4ab708c.png)

Actually, there is no detail breakdown data when I just use 1 threshold,
but when I use 3 threshold, the detail breakdown data just show 2 level.

[2015-08-13 09:17] timlinux commented on #1298
@hvisage - please take this on - with @rduivenvoorde to ensure we have a backup system in place - using the hetzner backup storage we have purchased.

[2015-08-13 09:48] timlinux commented on #1807
These numbers make no sense for MMI - perhaps Hyeuk can help by suggesting sensible defaults.

[2015-08-13 10:22] samnawi commented on #2107
@ismailsunni I've latest version of InaSAFE 3.2, and it's look like I expect in the issue. But, for the IF that should be just in multiple event or also available in single event, my expectation is just if there is a data like pyroclastic flow or spread of the heat cloud, I think InaSAFE must have tool to calculate this impact.

The data maybe just a footprint, so the attribute can be like the flo

[2015-08-13 20:33] mbernasocchi commented on #2173
added most, still to add the correct mappings to xml

[2015-08-14 07:26] fredychandra commented on #2107
@ismailsunni I have check it and tested it again using Qgis 2.8.3 and InaSAFE 3.2 Dev-Master. It works :) . I am not sure for the last keyword that I using when rise this problem issue, but for this recent test I am using both generic classes and volcanic classes, and it works.

[2015-08-14 15:01] timlinux commented on #1820
![selection_008](https://cloud.githubusercontent.com/assets/178003/9276714/ea4adff8-42a5-11e5-91b5-e33d9e9b33bf.png)

We discussed using submenus vs separators - for now I have added submenus as it requires more work for the user to drop through many submenus. If our featureset grows a lot in the future we can go on to use submenus.

[2015-08-14 15:16] timlinux commented on #1927
I tested again using the new extents selector branch - every permutation worked fine. I'll close this out for now - please reopen if the issue reappears.

[2015-08-14 15:16] #1927 closed

[2015-08-15 18:08] timlinux opened #2180 "Traceback when running continuous flood on population"
Using standard test layers I get this:

[code]

[2015-08-15 18:43] timlinux opened #2181 "Branding within InaSAFE should use new look and feel"
In particular the dock panel here:

<img width="330" alt="screen shot 2015-08-15 at 20 42 08" src="https://cloud.githubusercontent.com/assets/178003/9290323/241394e4-438e-11e5-9e72-279a7d8e3923.png">

And on reports etc. should use monochrome gunungan logo. Ideally should use new css too - to match the new web site...

[2015-08-15 20:40] timlinux commented on #2181
CC @MariaSolovyeva I may need some help with you on this....

[2015-08-17 00:04] dynaryu commented on #2168
1 and 2 are resolved in the PR #2178. Regarding the 3, I'd like to know any logics behind the population_rounding function.

[2015-08-17 04:27] dynaryu opened #2182 "We need to clarify high, medium, and low hazard levels in the EQ impact summary."
When "Might Be Impacted" is chosen in the EQ event, the result is as follows:

In the event of earthquake how many population might be impacted
People impacted 40
People in high hazard area  0
People in medium hazard area    0
People in low hazard area   40

Suggestions:
1. The thresholds are to be defined by entering three values in the categorical thresholds. It's hard to know how these values a

[2015-08-17 13:11] cchristelis commented on #2142
I cannot reproduce this either. If I try a minimum of 5 and maximum of 1 I get an error message.
When I flip it around to 1 min, 5 max and 2.5 default, I don't get the error. Is there any other information that might help me reproduce this?

[2015-08-17 14:08] cchristelis commented on #2154
Hi @felixbeata, I tried to reproduce this bug, but was unable to.
Are you still experiencing this problem? Could you maybe send me some screenshots or some other details that may help to reproduce this.

[2015-08-17 14:13] mbernasocchi commented on #2069
adressed in #2173

[2015-08-17 14:13] #2069 closed

[2015-08-17 14:14] mbernasocchi commented on #1315
this can be done using the new metadata system by using the provenance field

[2015-08-18 02:03] Charlotte-Morgan commented on #2182
hi @dynaryu - is this in realtime or in the desktop version?
The team here is already planning to review the terminology and definitions for InaSAFE3.2 & this is the sort of thing we need to address.
#cc
@timlinux

[2015-08-18 02:11] dynaryu commented on #2182
@Charlotte-Morgan
It's in the desktop version.

[2015-08-18 12:31] hvisage commented on #1298
Okay, backups are set since this afternoon :)

The current is that it'll backup the files in /data/backups and /data/dbbackups, and will keep incrementals for 2 weeks and weekly fulls for a month.

If there are any other directories please let me know.

@timlinux you would dump the database backups into /data/dbbackups, correct? I don't yet see any, that is why I ask.

@mach0 @rduivenvoorde

[2015-08-18 13:57] timlinux opened #2185 "We need access to the zoho server to configure geonode to send notifications"
Hi @mach0

Can you help with this - I can't seem to log in with the credentials I have for ZOHO?

Thanks

Tim

[2015-08-18 13:57] timlinux commented on #2185
# CC

@gubuntu

[2015-08-19 08:49] hvisage opened #2187 "vfw1.inasafe.org DNS entry"
@timlinux who does the DNS for inasafe.org?
I still need this entry please:
vfw1.inasafe.og -> 5.9.166.170

[2015-08-19 14:08] ismailsunni commented on #2180
Hi @timlinux
I tried with QGIS 2.8.3 in Ubuntu, and it is fine. Can you tell me what's your environment?

[2015-08-19 14:20] ismailsunni commented on #1807
Hi @Charlotte-Morgan @timlinux
I am not sure this is the correct behavior. IIRC, we decided that categorical IF will accept hazard layer that has hazard value that has been normalized or categorized, not raw data like MMI or flood depth.
If we have hazard layer that has raw data (e.g. MMI or flood depth), we should use the EQ or Flood IF.

[2015-08-19 14:29] ismailsunni commented on #1156
We have addressed this issue in #1857. Closing this.

[2015-08-19 14:29] #1156 closed

[2015-08-19 15:56] ismailsunni commented on #2059
This error only occurs in QGIS 2.8.2. I checked with QGIS 2.8.3, it's running as expected. Closing this.

[2015-08-19 15:56] #2059 closed

[2015-08-19 16:00] ismailsunni commented on #2065
This is still failing in QGIS 2.8.3

[2015-08-19 16:06] ismailsunni opened #2188 "Testing in QGIS 2.8.3"
Problem
------------
For version 3.2, we want to support InaSAFE for QGIS 2.8.3. Currently, Travis is running on QGIS 2.8.1.
I have tried to run all tests in my local machine with QGIS 2.8.3, and all tests pass. But we have some problem with test in Travis (see : https://travis-ci.org/AIFDR/inasafe/builds/76292598)

Related issue:
#2065

This issue also closes #2078

[2015-08-19 16:07] ismailsunni commented on #2065
Closing this since we want to support QGIS 2.8.3

[2015-08-19 16:07] #2065 closed

[2015-08-19 16:12] ismailsunni commented on #2188
Update:

I remove the 250th test that create the error, then Travis also stops running after 250 tests. :dancer:

See :
- https://travis-ci.org/AIFDR/inasafe/builds/76292598
- https://travis-ci.org/AIFDR/inasafe/builds/76308430

[2015-08-20 06:35] timlinux commented on #2170
@maria has added the new logo cloud, @Charlotte-Morgan has expressed her joy on seeing it, closing off this issue.

[2015-08-20 06:35] #2170 closed

[2015-08-20 07:24] lucernae commented on #2168
hi @dynaryu . population_rounding function accepts a number and rounds it with the following logic:
1. If the number is less than 1000, we round them to the nearest multiplication of 10 (using a ceiling function to be precise). So, if the number is 9 or 8 or 7 or 5 or 2, it will be rounded to 10. If the number is 333 it will be rounded to 340.
2. If the number is between 1000 and 100000, we round

[2015-08-20 08:01] lucernae commented on #2021
@adissadis said it is still in develop

[2015-08-20 08:20] #2077 closed

[2015-08-20 08:50] #1811 closed

[2015-08-20 09:35] ismailsunni commented on #1315
hi @mbernasocchi I believe that I only able to do it after you merged your PR regarding the new metadata system, right?

[2015-08-20 10:55] samnawi commented on #1314
@Charlotte-Morgan I've tried to revised some a few thing from the last templates that I posted.
This is the preview :
Portrait
![nagekeo 3](https://cloud.githubusercontent.com/assets/8871958/9381195/67bcac88-475f-11e5-9fbd-9637771aba2d.jpg)

Landscape
![maumere landscape](https://cloud.githubusercontent.com/assets/8871958/9381264/e5b9528a-475f-11e5-93b9-729e7ed37a66.jpg)

1. I throw away the scale

[2015-08-20 11:19] timlinux opened #2189 "Test fails with no unicode.to_html error"
[code]

[2015-08-20 11:46] timlinux commented on #2187
Done:

![Uploading Screen Shot 2015-08-20 at 13.45.53.png…]()

[2015-08-20 11:46] #2187 closed

[2015-08-20 12:42] #2171 closed

[2015-08-20 16:34] #2189 closed

[2015-08-20 16:35] #1820 closed

[2015-08-20 18:05] timlinux commented on #2168
@dynaryu can we close out this issue if everything is cleared up for you with @lucernae 's explanation above? Thanks!

[2015-08-21 01:33] ismailsunni commented on #2173
hi @mbernasocchi what's the status of this PR?
Btw, can you update it with develop branch? There is a fix that makes your PR pass.

[2015-08-21 03:55] adissadis opened #2195 "[Bug] Wrong Step for InaSAFE Keyword Wizard for Building"
# Problem
Wrong step for InaSAFE Keyword Wizard for Building

# Details
I found these bug in InaSAFE 3.2 with recent update from Github (21 August 10am). So when i want define building with InaSAFE Keyword Wizard, i got wrong step after i define building exposure type. It showing classified type like this:
![image](https://cloud.githubusercontent.com/assets/2520159/9401001/b89367b2-47f2-11e5-81b4-

[2015-08-21 07:00] #2195 closed

[2015-08-21 07:01] adissadis commented on #2167
I also encountered this issue when running flood on population

[2015-08-21 07:28] ismailsunni opened #2197 "Make Sure The Document for Application Translation is Well Described"
## Problem

The wiki https://github.com/AIFDR/inasafe/wiki/Internationalisation is not updated. Please make it happy.

[2015-08-21 08:01] timlinux opened #2198 "We need to verify that all fixes from 3.1.x are in develop"
Only those that can be back ported to develop...

[2015-08-21 08:02] timlinux commented on #1861
Ok I managed to replicate it here...working on a fix....

[2015-08-21 08:34] timlinux opened #2200 "Earthquake polygon IF fails on points layer"
# Problem

Using the standard test layers, when I try to do

**Hazard:** Earthquake Polygons
* Hazard_category multiple_event
* Keyword_version 3.2
* Title Earthquake Polygon
* Hazard earthquake
* Field h_zone
* Value_map {'high': ['High Hazard Zone'], 'medium': ['Medium Hazard Zone'], 'low': ['Low Hazard Zone']}
* Vector_hazard_classification generic_vector_hazard_classes
* Layer_geometry polygon

[2015-08-21 08:35] timlinux commented on #2200
This was the scenario:

[code]

[2015-08-21 08:53] timlinux opened #2201 "We should make a tool that automatically prepares an github issue when something goes wrong"
# Problem

I was just composing a nice ticket (see #2200) giving all the details of the analysis etc I was doing, tracebacks, layers used etc. when it struck me - "this is a waste of time - we could be automating this".

It would /  should be fairly trivial to compose a nice markdown document comprising:

* hazard layer name and path
* hazard layer keywords
* exposure layer name and path
* exposur

[2015-08-21 08:55] #1747 closed

[2015-08-21 09:02] timlinux commented on #727
![imag3163](https://cloud.githubusercontent.com/assets/178003/9404922/bc7a1c1c-47f3-11e5-8510-335ccd82a4cb.jpg)

Just an update / note on this - for 3.3 I am proposing that we implement a generalised API like this which can be used both by IF mixins and by the progress callbacks. Also a note to say that in our new IF archticture in 3.2 we have added progress callbacks to the IF base class - in 3.3

[2015-08-21 09:30] Charlotte-Morgan commented on #2201
+ 1 - this actually sounds a lot like metadata for an analysis that would be used in reporting at some stage (except for the make it happy bit)

[2015-08-21 10:24] ismailsunni commented on #2198
List of changes
3.1.1
- This is a bugfix release - it fixes an issue with resizing of the minimum needs configuration dialog.

3.1.2
- Fix: Issue parsing minimum needs - see #2132
- Fix: Error in Keywords creation wizard for flood raster layer (using meters as unit) #2111
- Fix: Error when open Set InaSAFE Analysis Area #2045

3.1.3
- Added Tanzanian minimum needs file
- Fix: Show building aggrega

[2015-08-21 11:14] #1220 closed

[2015-08-21 11:16] timlinux commented on #484
I'm closing this as old - we can revisit it in the future.

[2015-08-21 11:16] #484 closed

[2015-08-21 11:19] timlinux commented on #1430
I'm closing this as we cannot replicate it here.

[2015-08-21 11:19] #1430 closed

[2015-08-21 12:29] #2174 closed

[2015-08-21 12:48] Charlotte-Morgan commented on #1314
hi @samnawi - thank you for all the work you have done on the templates. I really like the changes you have made and the orange highlights. I agree that the other InaSAFE logo looks better in the header.  I think this is good to go with the logo change
@timlinux - is @wonder-sk able to help take this work to production?

[2015-08-21 12:56] #1246 closed

[2015-08-21 12:56] #1247 closed

[2015-08-21 12:56] #1316 closed

[2015-08-21 12:56] #1626 closed

[2015-08-21 13:16] Charlotte-Morgan opened #2206 "Minimum Needs Tool - UI"
The Minimum Needs Tool has a title of Minimum Needs Calculator.

The minimum needs tool - OK button is active even if no data are selected. Clicking ok returns a python error
[code]

# Proposed solution
make tool name and title the same
disable the ok button until data are loaded

[2015-08-21 13:36] Charlotte-Morgan commented on #1861
hi @timlinux - so this happens when you open an existing qgis project file. Is there a pull request for this? I think i have the latest dev and i't still getting the error

[2015-08-21 13:51] Charlotte-Morgan commented on #2142
Hi @timlinux & @cchristelis
so i reproduced the original situation and now get a nice helpful error message
![image](https://cloud.githubusercontent.com/assets/5743135/9409531/72959796-4845-11e5-964f-e218b2e75b42.png)

if i enter min and max values the same (actually did this by accident - not really being awkward)
i got a less helpful error message
![image](https://cloud.githubusercontent.com/ass

[2015-08-21 14:01] Charlotte-Morgan opened #2207 "BUG : Windows off the screen again"
# Problem
The OSM downloader and both wizard windows are off the screen again.
I can open the windows & the top is off the screen. I can resize in both directions, the top bar appears and if i try to grab it it disappears again.

# proposed solution
this has been fixed previously - i think

[2015-08-21 14:06] Charlotte-Morgan commented on #2081
@borys - apologies for the delay getting back to you, i'm trying to give comment on this but ongoing problems with wizard doing a disappearing act #2207

I think it happens to any layer - but will check and get back

[2015-08-21 14:12] Charlotte-Morgan commented on #1242
hi @fredychandra & @samnawi - i'm reassigned this to Iwan now.
Thanks Fredy for the data management you did before we Iwan joined the team :)

[2015-08-21 14:38] timlinux commented on #2206
Ok I have fixed this in these commits:

* 9025785 - Disable ok button in minimum needs calculator if no suitable layers loaded
* 71539d0 - Added some more sanity checking on minimum needs calculator so that it only shows fields from the selected record that are not strings - and disables the run button if a given layer has not valid fields
* e4d38d9 - Fixes dialog help text

Fix will be applied wh

[2015-08-21 14:40] timlinux commented on #2207
@borysiasty can you look at the wizard please? I will sort out the OSM downloader..Thanks!

[2015-08-21 14:50] timlinux commented on #2206
Ok I made a separate PR #2209 for this as it isolates the changes better...

[2015-08-21 18:13] #2206 closed

[2015-08-21 18:40] #2051 closed

[2015-08-21 21:48] #2142 closed

[2015-08-22 08:19] Charlotte-Morgan commented on #2167
still getting this error and if i click in dock and open in browser i get the error message there too

[2015-08-22 08:40] Charlotte-Morgan commented on #2182
hi @dynaryu - we will be reviewing all impact functions, thresholds and terminology in the next week - we will look at this then, once all the other code changes are in freeze

[2015-08-22 08:44] Charlotte-Morgan opened #2210 "UI: Dock message does not match user selected analysis extent"
# Problem
the user can now select analysis extent based on the intersection of data, window, book mark etc but in the dock, gets a message saying the analysis is based on window extent

# proposed solution
change the user message text in the dock to say that the analysis extent is as set by the user in the analysis extents selector

[2015-08-22 08:50] Charlotte-Morgan commented on #1869
Hi @vanpuk - we are putting the finishing touches on InaSAFE 3.2 and would love to be able to add some explanation for why we use 1% as the default evacuation percentage for flood polygons. Can you recall why this value is used?

[2015-08-22 10:15] Charlotte-Morgan commented on #1361
see #1869
closing this as its covered in the above ticket

[2015-08-22 15:23] timlinux commented on #2207
@Charlotte-Morgan I have refactored the OSM downloader dialog to look like this:

<img width="701" alt="screen shot 2015-08-22 at 17 21 02" src="https://cloud.githubusercontent.com/assets/178003/9424604/44d75792-48f2-11e5-8ec6-0459bc8c6da3.png">

The changes also make the extent selection more consistent with the extent selector dialog. I believe this dialog will work even on pretty low res screen

[2015-08-22 22:40] timlinux commented on #2207
Another round of tweaking - it now looks like this on OSX:

![screen shot 2015-08-23 at 00 37 58](https://cloud.githubusercontent.com/assets/178003/9426166/786215e2-492f-11e5-97b4-bce3d5c5c7d5.png)

[2015-08-23 01:02] ismailsunni commented on #2201
+1 for this.

[2015-08-23 03:28] Charlotte-Morgan commented on #2050
I have prepared new text for the about box in the dock and the about, disclaimer & supporter links.
The proposed new wording is with DFAT for approval. References to AIFDR have been included in this proposed revision

[2015-08-23 03:36] Charlotte-Morgan commented on #2207
hi @timlinux - this looks great. Fits on the screen and has some consistency with other UI - CLAF.
that is user interface - consistent look and feel.
Note - cancel and help buttons did not return anything. I did not actually use the queries or run anything - just looked at UI

[2015-08-23 03:41] Charlotte-Morgan commented on #1297
@timlinux - tell her she's dreaming :)

[2015-08-23 03:42] Charlotte-Morgan commented on #1319
in progress and covered by #2050.
Closing this ticket

[2015-08-23 03:42] #1319 closed

[2015-08-23 05:30] timlinux commented on #2207
Thanks @Charlotte-Morgan

For me the cancel, ok and help buttons are all working on OS X. I will test under windows and linux too to see that they work there.

I also tested that the basic download functionality works. Note that the help functionality no longer pops up a separate browser window, but rather shows the help directly in the dialog. I am going to make this the standard behaviour in all

[2015-08-23 05:31] timlinux commented on #2207
Oh and I didn't mean to imply that low res-screens are pretty above - the are not :-P

[2015-08-23 05:50] timlinux commented on #2210
Thanks @Charlotte-Morgan I'll fix this...

[2015-08-23 10:05] borysiasty commented on #2207
Ah the nightmare is back. I'll fix it somehow after this Wednesday.

[2015-08-23 16:32] timlinux opened #2212 "We need to add restart: always to all docker compose files"
At last it is here (actually I am not sure which version it arrived in), please ensure that

`restart: always`

is added to every docker-compose file so that we know services are brought up again after a server or docker daemon restart.

https://docs.docker.com/compose/yml/

@rduivenvoorde and @lucernae this probably concerns both of you...

[2015-08-24 01:56] Charlotte-Morgan commented on #2087
@fredychandra & @samnawi
in our review of all things InaSAFE this week - its these types of things i want to look so we can document and fix them all in one pass :)

[2015-08-24 07:38] #1861 closed

[2015-08-24 08:07] timlinux commented on #2210
@Charlotte-Morgan  Can you make a screenshot of the offending text so I can track how it is being triggered in the display?

[2015-08-24 08:20] samnawi opened #2216 "News from HOT-OSM blog that related to InaSAFE"
Hi @MariaSolovyeva
Last week @Charlotte-Morgan ask to me to looking for the news from OSM-ID Blog (http://openstreetmap.id/en/blog/) that related with InaSAFE.
This is some news that I found in there :

The Public Consultation of Disaster Risk Assessment in South Sulawesi
http://openstreetmap.id/en/konsultasi-publik-kajian-risiko-bencana-sulawesi-selatan/
Workshop I Disaster Risk Assessment in Sou

[2015-08-24 08:44] timlinux opened #2217 "We should hide single / multi event choices in the wizard"
For now we should not ask the user until we have IF's that are dependent on one or the other. @charlotte-morgan to confirm this.

[2015-08-24 10:09] Charlotte-Morgan commented on #2217
see #1961

[2015-08-24 10:14] Charlotte-Morgan opened #2218 "BUG: Flood Polygon Key Words"

[2015-08-24 10:19] #2218 closed

[2015-08-24 10:21] Charlotte-Morgan commented on #2216
Hi @maria - could you please add links to these materials on the new InaSAFE web site?

#cc
@timlinux

[2015-08-24 12:06] timlinux commented on #1297
How do you like these apples?:

![repository details_003](https://cloud.githubusercontent.com/assets/178003/9439462/8e4495cc-4a67-11e5-8609-c0b9b57710da.png)

![plugins settings_004](https://cloud.githubusercontent.com/assets/178003/9439464/94cc03c6-4a67-11e5-852a-95883dbd69fc.png)

![plugins installed 42 _005](https://cloud.githubusercontent.com/assets/178003/9439466/99067804-4a67-11e5-828a-f3207

[2015-08-24 12:20] timlinux commented on #1297
I also updated the front page of the wiki to include a link with instructions for using the nightly builds:

![selection_006](https://cloud.githubusercontent.com/assets/178003/9439888/40aac332-4a6b-11e5-90bc-fc9598ecf760.png)

And added a page based on the notes above there: https://github.com/AIFDR/inasafe/wiki/Nightly%20Builds

[2015-08-24 15:23] ismailsunni commented on #2132
Hi @timlinux
Can you confirm it that you have fixed this one? If so, we can close this one. It's in changelog v 3.1.2

[2015-08-24 20:32] timlinux opened #2220 "Traceback when running flood on roads"
Exception when running flood on roads.

Using test layers from add test layers button...

[code]

[2015-08-24 20:36] timlinux opened #2221 "When an exception occurs, we should be sure to revert the wait cursor"
At the moment if something goes on we often get left with a  busy cursor when in fact the operation is completed (albeit with an error).

# Proposed solution

Add a flag as property to dock to keep track of the cursor state, and roll it back if needed.

[2015-08-24 21:18] timlinux commented on #2220
Possibly because there were no intersecting roads - we should write a test to check for that.

[2015-08-24 21:21] timlinux opened #2222 "Parameters exception when setting classified flood on population in dock"
Using the standard test layers from the developer mode add test layers option I get this for *clasiffied* flood on population.

[code]

# Proposed solution

@lucernae please check through the parameters code and see what is going on here

[2015-08-24 21:24] timlinux commented on #2221
See also http://www.programcreek.com/python/example/55362/PyQt4.QtGui.QCursor - particularly example 4 which uses a different approach for cursor management:

[code]

[2015-08-24 21:52] timlinux commented on #1314
Hi

Sorry I commented on this earlier but my comments never got committed it seems.

@samnawi This is really great -  I tested here and it works well against a 'real' analysis:

<img width="573" alt="screen shot 2015-08-24 at 23 44 45" src="https://cloud.githubusercontent.com/assets/178003/9453491/0bf9c78c-4abb-11e5-9f5e-18e581af4863.png">

Regarding your scalebar issue - there is a fix for this c

[2015-08-25 00:28] ismailsunni commented on #2078
Closing this. We want to support QGIS 2.8.3. Related issue #2188

[2015-08-25 00:28] #2078 closed

[2015-08-25 00:43] ismailsunni commented on #2156
Hi @samnawi
I tried to use QGIS 2.8.3, all is fine. Can you check it again by using QGIS 2.8.3 ? Ping me in gitter.im if you need help to install QGIS 2.8.3 in  you Linux.

[2015-08-25 04:08] ismailsunni commented on #2156
**Update**
By using the data from @samnawi https://www.dropbox.com/sh/vubprsh00b4dh3p/AAAsc3HFfIz9qvlKmCojl2Pja?dl=0 the problem occurs

[2015-08-25 05:16] samnawi commented on #1314
@timlinux Thank's to follow up this stuff.
Yeah, for the scalebar issue, as the advice from @Charlotte-Morgan using a word scale will make a confuse if user will print it in various paper size. Because the word scale is fixed, not flexible like we use a scalebar when it will printed in various paper size, while I set this template in A3 format.

For the scalebar fix width, it's available in 2.10.

[2015-08-25 05:45] iyan31 commented on #2216
Hello all,

Since August 2014, most of InaSAFE-related post in http://openstreetmap.id have been cross-posted in http://blog.inasafe.org/ too. Are we going to keep the http://blog.inasafe.org/ as the main repository for InaSAFE post or alternatively The InaSAFE blog can also retrieve InaSAFE-related post from http://openstreetmap.id using RSS feed (for example, http://openstreetmap.id/en/tag/inasa

[2015-08-25 06:28] ismailsunni commented on #2156
**UPDATE**
This error occurs when we run ClassifiedPolygonHazardBuildingFunction, Polygon Hazard vs Building Centroid. It's not specific to volcanic ash hazard.

[2015-08-25 06:54] Charlotte-Morgan commented on #2216
@iyan31 - thanks for explaining. Maybe I missed something because I looked at the new InaSAFE web site and thought that there is a lot of great work HOT has been doing that is missing. If there is already cross posting - that is wonderful and we can keep doing this. Maybe @MariaSolovyeva can just check that the posts from InaSAFE website are copied across to the new web site.
@iyan31  - are there

[2015-08-25 09:00] harrymahar opened #2228 "Can not run Flood Impact Function (Vector) with Population (Raster) [bug]"
# Problem
Can not run Flood Impact Function (Vector) with Population (Raster)

# Detail
When I want to run to calculate impact function of flood in DKI Jakarta using Vector Data of Flood DKI Jakarta with population, InaSAFE did not succeeded to running that impact function. at InaSAFE dock there is a message  Problem : Type Error. This problem happened both when using  InaSAFE dock and InaSAFE Imp

[2015-08-25 09:11] harrymahar opened #2229 "Impact Layer Merge Tool does not work with Aggregation [bug]"
# Problem
Impact Merge Layer Tool does not work using aggregation

# Detail
I want to merge the results of the Jakarta flood impact function both for the building and population using Impact Layer Merge tool in InaSAFE. Unfortunately, It was only can managed to merge the impact function without aggregation. When I want to merge those impact using aggregation function by using the district boundari

[2015-08-25 09:25] dewisulistio opened #2230 "Can not run Volcano Impact Function (Vector) with Building (Vector) [bug]"
# Problem
Can not success to running Volcano Merapi with building

# Detail
When I want to run Vulcano Merapi point and building using InaSAFE Impact Function Centric, InaSAFE did not succeeded to running that impact function. at InaSAFE dock there is a message Problem : AttributeError. When I run with InaSAFE dock, it's successful.

# Screenshot
![volcano - merapi error impact function centric](h

[2015-08-25 09:36] cchristelis commented on #2167
The fix only addressed vector flood on buildings.
@adissadis, which scenario did you use when encountering the flood on population error? I think we should open a new ticket for that as the problem in this issue is related to the buildings report, which does not have an effect on on population scenarios.

[2015-08-25 09:44] MariaSolovyeva commented on #2216
Hi @all - OK! I will copy all the posts today and will see through the links if something is missed or  not

[2015-08-25 09:45] iyan31 commented on #2216
Hi @Charlotte-Morgan,

Yes surely there are articles that we haven't cross posted, especially for articles prior to August 2014. I can work on the cross posting next week, after I got back from Manila.

[2015-08-25 10:04] #1314 closed

[2015-08-25 10:18] ismailsunni commented on #2094
hi @samnawi

First image:
When we use only one threshold, we do not need the detailed breakdown, since we only have two interval. [0 to threshold] and [threshold to max]. Since we do not care about the first one, we do not show that. Meanwhile, the second interval has been shown in the upper part of the report.

Second image:
When we use three threshold, we will have 4 interval.
0 - first_threshol

[2015-08-25 11:41] cchristelis commented on #2167
Hi @Charlotte-Morgan, after applying this fix, I am no longer getting this issue on my machine. Please confirm that this problem is resolved in the latest develop.

[2015-08-25 11:48] #2154 closed

[2015-08-25 12:20] timlinux commented on #2230
Thanks @dewisulistio  - when you make a ticket, can you also cut and paste the traceback printed in the dock into the ticket inside of three backticks? Could you update this one with the traceback too? Thanks! Pasting screenies like you have done is awesome too!

[2015-08-25 12:21] timlinux commented on #2229
Thanks @harrymahar @lucernae can you look into this please?

[2015-08-25 12:22] timlinux commented on #2228
@harrymahar would you mind pasting in the traceback (will be at the bottom of the dock after the exception occurred) please (and for any other tickets you may have already made? Thanks!

[2015-08-25 12:23] timlinux commented on #2222
@lucernae any update on this?

[2015-08-25 12:28] cchristelis commented on #1455
This was fixed in f4d1e4c591de45db3ce4006cc7e583f3cfc36083

[2015-08-25 12:29] #1455 closed

[2015-08-25 13:21] timlinux commented on #2216
@iyan31 yes just to confirm, what is currently hosted as http://blogtest.inasafe.org will become the new http://inasafe.org and the old blog site will be abandoned.

[2015-08-25 13:23] timlinux commented on #2160
@lucernae can you update the status of where we are with this?

[2015-08-25 14:12] #2132 closed

[2015-08-25 14:13] #2198 closed

[2015-08-25 14:19] #2156 closed

[2015-08-25 14:51] #2207 closed

[2015-08-25 15:12] ismailsunni commented on #2153
**UPDATE**
The error is caused by when run the analysis in QGIS, it couldn't find the algorithm `qgis:intersection` in Processing.
The strange thing is, if we run the test in PyCharm, that algorithm is found.

Is that even possible?

[2015-08-25 15:16] cchristelis opened #2231 "Roads impact report category ordering"
# Problem

The category ordering of the road types in the impact report is currently incidental. We would like to have it arranged in a more deterministic way.

# Proposed solution

Add a category ordering to the keywords and/or use a default based on the fact that we are expecting the default situation to be a OSM download.

# Related issues

#1765

[2015-08-25 20:34] lucernae commented on #2021
fixed from @timlinux PR

[2015-08-25 20:34] #2021 closed

[2015-08-25 22:31] lucernae commented on #2229
@timlinux it seems the merge only happens when the first and second layer's are already aggregated.
So, it had no effect when the first and second layer is processed using 'entire area' aggregation but it is trying to be merged using another aggregation layer.

Perhaps we should offer relevant aggregation layer based on first and second layer in order to make the user less confused?

[2015-08-26 00:17] lucernae opened #2233 "Impact Layer Merge Tool bug and spec"
See issue #2229.

While investigating it. I found another issue and perhaps some part of the code which isn't clear for me. Can someone clarify this? @ismailsunni @timlinux

- [x] ```self.entire_area_mode``` is not reset back to False if we change aggregation layer from Entire area to an aggregation layer without closing the dialog. This is probably just a bug, I just have to add some code to rese

[2015-08-26 03:04] adissadis opened #2235 "[Bug] Huge difference result in Earthquake on Population Analysis"
# Problem
Different result (very big difference) between general result and detailed result

# Detail
I run InaSAFE analysis EQ (raster) padang with population (raster) padang. The analysis went well but the result is really different. I got a lot of people that affected in detailed gender report. And also the minimum needs result different number between general and detailed (both people and mini

[2015-08-26 03:05] dewisulistio commented on #2230
Hi @timlinux
This is the screenshot from InaSAFE dock while running Volcano hazard and building exposure.
![inasafe dock - volcano merapi and building](https://cloud.githubusercontent.com/assets/2524177/9484710/f46894c0-4bd9-11e5-9b74-bf50a72b1105.png)

[2015-08-26 03:12] adissadis commented on #2217
+1 i agree with that. Its really confusing to us when we tried to use IF wizard

[2015-08-26 03:21] harrymahar commented on #2229
Hai @timlinux and @lucernae , Today I try to merge the result again. I start again using same data using Flood Impact Function in DKI Jakarta. The different thing that I did when I merge the impact function results was I match the extent of the results. So, they had similar extent view and positition in QGIS. Finally, when I merge those data, The PDF results was created based on aggregation layer

[2015-08-26 03:45] raniedwianugrah opened #2236 "[Bug] Can not run InaSAFE with flood hazard vector + building"
# Problem

Can not run InaSAFE with the data of Jakarta flood hazard vector and building.

# Detail

I analyze the data of Jakarta flood hazard vector with building. When I click run in InaSAFE dock appear Python Error and it happens when I run in InaSAFE Impact Function Centric Wizard appear Python Error too.
Source data from inaSAFE training data in data.inasafe.org.

# Screenshot

InaSAFE Dock

[2015-08-26 03:48] raniedwianugrah opened #2237 "[Bug] Can not run InaSAFE with flood hazard vector + population"
# Problem

Can not run InaSAFE with the data of Jakarta flood hazard vector and population.

# Detail

I analyze the data of Jakarta flood hazard vector with population (raster). When I click run in InaSAFE dock appear Python Error. Source data from inaSAFE training data in data.inasafe.org.

# Screenshot

![bug_2](https://cloud.githubusercontent.com/assets/2528195/9485175/e68d0308-4bdf-11e5-85b1-

[2015-08-26 04:00] raniedwianugrah opened #2238 "[Bug] Can not run InaSAFE with vulcano point + population"
# Problem

Can not run InaSAFE with the data of Merapi vulcano point and population (raster)

# Detail

I analyze the data of Merapi vulcano point and population (raster). When I click run in InaSAFE dock appear crash dumped. Source the data from InaSAFE training data in data.inasafe.org.

# Screenshot

![bug_3](https://cloud.githubusercontent.com/assets/2528195/9485290/80f7b9f0-4be1-11e5-8be8-c0a

[2015-08-26 04:09] #2237 closed

[2015-08-26 04:18] raniedwianugrah opened #2239 "[Bug] Can not run the flood hazard vector + building using InaSAFE Impact Function Centric Wizard"
# Problem

Can not run InaSAFE with the data of Jakarta flood hazard vector and building. The process uses InaSAFE Impact Function Centric Wizard.

# Detail

I analyze the data of Jakarta flood hazard vector and building using InaSAFE Impact Function Centric Wizard. During give keywords still running smoothly and when click run appear Python Error.
Source the data from InaSAFE training data in dat

[2015-08-26 04:26] #2239 closed

[2015-08-26 05:03] adissadis opened #2240 "[Bug] Unbound Local Error InaSAFE analysis for Flood Raster Hazard"
# Problem
Unbound local error when analysis Flood Raster Hazard with building polygon from OSMDownloader

# Detail
Me and my team get this error when tried to analysis Flood raster hazard with building polygon **only** from OSMDownloader. The problem come when we run InaSAFE analysis with Building polygon from OSMDownloader in bigger area. When we tried to run analysis again in smaller area, it wo

[2015-08-26 06:25] ismailsunni commented on #2230
hi @dewisulistio
Can you paste here the traceback also?

[2015-08-26 06:31] samnawi opened #2241 "InaSAFE Logo is gone"
# Problem
Dear All,

I try to print the report, and find that the Inasafe logo in the map is just appeared with red cross icon
![selection_136](https://cloud.githubusercontent.com/assets/8871958/9486803/153f1e3c-4bf6-11e5-982d-46982b7bb1df.png)

It's occur in both of old template and new template.

# Proposed Solution
Make the logo back in here :)

# CC
@ismailsunni @timlinux

[2015-08-26 06:39] ismailsunni commented on #2217
Hi @Charlotte-Morgan by removing the radio button, I will also set all IF to have multiple_events and single_event.

[2015-08-26 06:42] Charlotte-Morgan commented on #2217
hi @ismailsunni - i'm not really sure what you mean - except i think the IF is now reading this from the key words so its not needed in the IFCW

[2015-08-26 06:48] Charlotte-Morgan commented on #2167
Hi @cchristelis - perfect - fixed for me too. thanks !

[2015-08-26 06:58] Charlotte-Morgan commented on #2236
hi @raniedwianugrah - is this the same issue as  #2167?
I think it might be fixed now by @cchristelis

[2015-08-26 06:58] Charlotte-Morgan opened #2242 "UI: distorted logos & icons"
The new interface looks great. +1 :)

# problem
- [x] logo is distorted in the top bar of the impact function centric wizard
- [x] supporters logo is distorted in the About window

# proposed solution
make it happy

[2015-08-26 07:38] samnawi commented on #2228
@harrymahar a problem when you running the Flood IF with population is not occur in my computer.
I use the same data with you.
My computer platform is :
Linux Ubuntu 14.04 64-bit
RAM 7.7 GB
QGIS 2.8.3
InaSAFE 3.2.0 dev-4c5c078.

This is the result
![selection_137](https://cloud.githubusercontent.com/assets/8871958/9487844/958161a0-4bff-11e5-8bfa-193fafc3801e.png)

cc : @timlinux

[2015-08-26 07:39] Charlotte-Morgan opened #2244 "UI - About Window - updated text"
The ABOUT window needs some updates as follows:
 - [x] About tab - please use the following text - approved by DFAT - removes reference to AIFDR

InaSAFE is free software that provides a simple but rigorous way to combine data from communities, local governments and scientists to help assess the possible impact of future disaster events on communities, assets and infrastructure. It uses innovative

[2015-08-26 07:42] #1765 closed

[2015-08-26 07:47] raniedwianugrah commented on #2236
Hi @Charlotte-Morgan - Fix, InaSAFE can running these data..

[2015-08-26 07:49] Charlotte-Morgan commented on #2236
great - you can close the ticket if you are happy.

[2015-08-26 07:57] dewisulistio commented on #2230
Hi @ismailsunni

Problem:
The following problem(s) were encountered whilst running the analysis.
AttributeError

Suggestion:
You can try the following to resolve the issue:
Check that you have the latest version of InaSAFE installed - you may have encountered a bug that is fixed in a subsequent release.
Check the InaSAFE documentation to see if you are trying to do something unsupported.
Report th

[2015-08-26 07:57] timlinux commented on #2222
This error is raised if the MinimumNeedsProfile has no provenance

[2015-08-26 07:58] #2236 closed

[2015-08-26 08:02] adissadis commented on #2235
This problem also happen in Flood Raster with Building. I think detailed report produced more bigger result than the general report, which i think its really strange.

[2015-08-26 08:04] Charlotte-Morgan commented on #2050
disclaimer is covered in #2244
no idea what copyright i was thinking of
blog events are covered in #2216

I think this is good to close?
@MariaSolovyeva @rduivenvoorde - anything else?

[2015-08-26 08:13] fredychandra commented on #2238
It is run on my test
InaSAFE 3.2.dev-master; Qgis 2.8.3 - Windows 8 - 64bit

Data Used :
1. Mt. Ebulobo_SHP
2. Population SP2010_BPS.tif

![image](https://cloud.githubusercontent.com/assets/6345285/9488467/8d4dfdf4-4c04-11e5-97af-007f65d4acda.png)

[2015-08-26 08:14] #2153 closed

[2015-08-26 08:18] Charlotte-Morgan opened #2245 "UI: new look is missing bold"
# problem
The new look is great but we have lost the bold in the layer key words and report headings
eg
 - [ ] Layer keywords are not as easy to read without bold
![image](https://cloud.githubusercontent.com/assets/5743135/9488718/fd9a2b04-4c05-11e5-8258-f2242d268978.png)
 # solution
use bold for the key word categories (not the user entered values) ie Layer_purpose is in bold but hazard is not

-

[2015-08-26 08:28] timlinux commented on #2244
I updated the wording to make it clearer that 'Add' and 'Remove' are actually the names of icons :-P

I added in OCHA too thanks.

[2015-08-26 08:29] timlinux commented on #2244
For the disclamer text, I updated it in defaults.py, so it should be updated wherever that is referenced.

[2015-08-26 08:29] Charlotte-Morgan commented on #2094
Hi @ismailsunni - agree the behaviour is ok. I think we should reconsider changing the behaviour but this can wait till we finish the review of all impact functions (Minions working on this now) & we can write a new tickets
FYI - Minions are @fredychandra @samnawi @Charlotte-Morgan

[2015-08-26 08:31] Charlotte-Morgan commented on #2244
i already did that - see PR #2243

[2015-08-26 08:50] timlinux commented on #2233
Yes I think this is a bug

No - we need them to be aggregated to the same aggregation layer.

If both were created using entire area, I think we should be able to merge them

Warn the user nicely that it is not supported please :-)

Impact merge was very hacky - the idea was to rewrite it once we have proper IF metadata in e.g. json format so that we can parse the outputs in a more rigourous way -

[2015-08-26 08:58] cchristelis opened #2247 "UI: Icon is squashed in plugins screen"
# Problem

The icon in the plugins window looks cramped.

![screen shot 2015-08-26 at 10 55 06 am](https://cloud.githubusercontent.com/assets/2319504/9489426/58ce0146-4be1-11e5-9650-6cc0d77ce99a.png)

# Proposed solution

Use a icon here that has equal height and width.

[2015-08-26 09:55] timlinux commented on #2245
Strangely it works fine for me on Linux. I tested on OSX and get the no bold version like you do...

[2015-08-26 10:13] MariaSolovyeva commented on #2216
Hi @all

I have added the missed articles to the http://blogtest.inasafe.org/blog

[2015-08-26 10:26] timlinux commented on #2245
@Charlotte-Morgan can you test if #2248 on windows - works for me now on OSX...

[2015-08-26 10:28] #2222 closed

[2015-08-26 10:32] #2167 closed

[2015-08-26 10:33] Charlotte-Morgan commented on #2245
working on windows now.
FYI - metadata comments in the hazard details and exposure details - sourced from key words are still in a different font

[2015-08-26 12:08] cchristelis commented on #2240
This problem was introduced here: 9fc87d8cfe8d83cb3d965f018bc9a2dfaee6a233.

[2015-08-26 12:13] cchristelis commented on #2240
Hi @adissadis,

Could you please confirm, that the bug is fixed by PR #2252?

[2015-08-26 12:16] #2245 closed

[2015-08-26 12:16] roscoeKartoza opened #2253 "Report: Scale bar is not visible"
# Problem
The scale bar below the map is not visible.

![no_scale_bar](https://cloud.githubusercontent.com/assets/10434570/9493033/045888d6-4bfd-11e5-95a0-94eb32d987ea.png)

# Environment
In Windows as well as OSX.

# Proposed Solution
Opening the template and deleting the scalebar and creating the bar again with the same attributes seemed to work.

[2015-08-26 12:17] #2244 closed

[2015-08-26 12:45] timlinux commented on #2242
This should be fixed in #2254

[2015-08-26 12:54] #2240 closed

[2015-08-26 12:56] ismailsunni commented on #2217
I have set all IF to have single and multiple event. So, we only need to remove the radio button now. Under the hood, the radio buttons do not have any effects.

[2015-08-26 12:57] ismailsunni commented on #2107
Since we have set all IF to have both single and multiple event hazard category, we can close this ticket. See the PR #2251

[2015-08-26 12:57] #2107 closed

[2015-08-26 12:58] timlinux commented on #2242
And this should be fixed in #2255 ...

[2015-08-26 12:58] timlinux commented on #2241
I fixed this in #2254 - thanks @samnawi !

[2015-08-26 14:05] #2241 closed

[2015-08-26 14:05] #2247 closed

[2015-08-26 14:05] #2242 closed

[2015-08-26 14:19] roscoeKartoza opened #2257 "Tsunami: UnboundLocalError"
# Problem
Getting a 'UnboundLocalError' when running Tsunami function with Building Centroids.
![tsunami_building_centroid_error](https://cloud.githubusercontent.com/assets/10434570/9495910/18c45e4c-4c0e-11e5-8db1-0abc2043f4a1.jpg)

# Environment
Windows 8.1 64 bit
QGIS 2.8.3

# Scenario
Hazard layer: Tsunami
Exposure Layer: Building Centroid

# Traceback
[code]

[2015-08-26 14:19] cchristelis commented on #2235
Hi @adissadis,

The population count issue is fixed in PR 2256. Since this issue and the buildings issue seem quite unrelated, I'm going to pull the buildings comments into a new issue.

[2015-08-26 14:24] timlinux commented on #2257
[code]

[2015-08-26 14:26] cchristelis opened #2258 "[Bug] Buildings count discrepancy between impact report and detailed building type report"
# Problem

As per @adissadis's comment https://github.com/AIFDR/inasafe/issues/2235#issuecomment-134889994:
"""
This problem [count discrepancy] also happen in Flood Raster with Building. I think detailed report produced more bigger result than the general report, which i think its really strange.

![ac77a6fe-4c03-11e5-8bd1-0635c640ffca](https://cloud.githubusercontent.com/assets/2319504/9496123/2

[2015-08-26 14:27] cchristelis commented on #2235
The new buildings issue is #2258

[2015-08-26 15:39] ismailsunni commented on #2230
Hi @dewisulistio
I tried similar scenario (merapi volcano and building from OSM), all is fine.

May be we have problem specific to the data. Where can I get your test data?

[2015-08-26 15:54] ismailsunni opened #2259 "QGIS Closes Unexpectedly"
Problem
----------
I find this cases several times, and seems randomly. For example, when loading standard test data. But, when I was lucky enough, QGIS is running well.

Just a moment ago, I find again. And this time, I can replicate it:
0. Open QGIS with InaSAFE enabled. (If InaSAFE is disabled, everything is OK)
1. Load building-points.shp (safe/test/data/exposure/building-points.shp)
2. Load t

[2015-08-26 16:05] ismailsunni commented on #2257
Same scenario, but in Ubuntu, all is fine. Can't replicate this. Is it windows specific?

Can you try it @lucernae

[2015-08-26 16:36] ismailsunni commented on #2230
Hi @dewisulistio
I tried the data from data.inasafe.org. It's fine here. Can you update your InaSAFE first, and re-run the analysis?

![qgis 2 8 3-wien - yogyakarta_050](https://cloud.githubusercontent.com/assets/1421861/9499692/159109a4-4c4b-11e5-8147-e91e1aed3eec.png)

[2015-08-26 16:40] ismailsunni commented on #2238
Hi @raniedwianugrah
I tried the same data, and it's fine. Can you update your InaSAFE, and re-run the analysis?
![qgis 2 8 3-wien - yogyakarta_052](https://cloud.githubusercontent.com/assets/1421861/9499785/aa138d68-4c4b-11e5-893c-0c5c066718ac.png)

[2015-08-26 19:09] timlinux commented on #2259
I'll try to see if I can replicate it in the morning @ismailsunni

[2015-08-26 19:16] timlinux commented on #2238
@raniedwianugrah It seems like your InaSAFE is not too up to date - can you test with the most recent version please? Thanks!

[2015-08-26 19:18] timlinux opened #2260 "InaSAFE has gotten too big for its boots"
# Problem

There is a 10mb limit in the QGIS repo for plugins. As of today, the nightly build plugins are building to 11mb:

[code]

# Proposed solution

Compare subdirs with 3.1.2 package and see where the inflation is happening.

[2015-08-26 20:24] timlinux opened #2261 "Wizard should use an embedded version of the extents selector dialog"
On the extents screen of the Wizard, can we rather use the new extents selector dialog embedded into that screen?

[2015-08-26 20:35] lucernae opened #2262 "Impact Layer Merge with Unicode Aggregation Layer"
Related with #2229 #2233
It occured when we uses aggregation layer which contains unicode area.
The area name from aggregation layer somehow different than the keys in ```self.summary_report```
See this on generate_report method when trying to use aggregation layer.

This could be a big bug. The problem could be either on the report generation or when reading aggregation layer from source.

[2015-08-26 21:31] lucernae commented on #2257
I tried it:

Windows 10 64bit
QGIS 2.10 (Pisa)

Can't replicate this. Perhaps we need more details?

[2015-08-26 21:40] lucernae commented on #2228
@harrymahar @samnawi perhaps you can help me get the data? If I may, ping me in gitter channel. :)

[2015-08-26 21:43] lucernae commented on #2220
@timlinux I can't replicate this.

Hazard: Continuous Flood
Exposure: Roads
InaSAFE 3.2.0 dev-master

Windows 10
QGIS 2.10 Pisa

[2015-08-27 01:15] lucernae commented on #2200
Is this still valid?

I test this on Windows 10, QGIS 2.10 Pisa, and it ran happily...

[2015-08-27 01:53] samnawi commented on #2228
@lucernae I use the package data in this link http://data.inasafe.org/InaSAFE%203.1%20Training%20Data/DKI%20Jakarta.zip.

This data is for InaSAFE 3.1 Training, and I change the keyword to 3.2.

[2015-08-27 05:36] raniedwianugrah commented on #2238
hi @timlinux @ismailsunni The issue is fix, I can run the analysis and I've updated my InaSAFE..

[2015-08-27 06:52] samnawi opened #2265 "A Little Bug in the New Template"
Thank for all that work very hard to fix the bug in the new version of InaSAFE.
:+1: for this.

# Problem
A couple days ago, there is an update about the map template, both of the composition also the content.
Apparently, there is a little bug that I found in the new template :
1. @timlinux I think the first bug is come from my mistake. I'm not careful to notice all of element in the map. So, ther

[2015-08-27 07:18] ismailsunni commented on #2238
@raniedwianugrah can we close this then?

[2015-08-27 07:20] Charlotte-Morgan commented on #2265
I will look at problem 2 - then pass to others
@timlinux

[2015-08-27 07:25] Charlotte-Morgan commented on #2265
@samnawi - i think you might need to tweak the template. changing the line breaks makes no difference at this end

[2015-08-27 07:31] dewisulistio commented on #2230
Hi @ismailsunni

I tried run the scenario with update InaSAFE and it's successful

Thanks for help

[2015-08-27 07:34] samnawi commented on #2265
@Charlotte-Morgan I've been make some change in the new portrait template that I post in the above.

[2015-08-27 08:01] Charlotte-Morgan commented on #2050
hi @MariaSolovyeva - i had a go at editing the people page on the website. I updated the affiliations and replaced reference to AIFDR. I notice there are still some spare columns for role and description. Do we still need these or can they be removed? Or maybe you can say what should go in them?
thanks

[2015-08-27 08:30] samnawi commented on #2253
Hi @roscoeKartoza
In a couple of days ago, I've been created a new template for InaSAFE.
But it's still no scalebar, because It's still complicated to set the scale bar in here.
Like the fix the width --> although it available in QGIS 2.10
Set the number in scale bar, because it will be confuse if the user use the geographic system coordinate, and not activate the OTF.

I've been explained about i

[2015-08-27 09:08] #2258 closed

[2015-08-27 09:29] raniedwianugrah commented on #2238
@ismailsunni oke, you can close this issue

[2015-08-27 09:34] timlinux commented on #2265
Ok just reassign to me if you want me to do any follow up help. I saw another bug in the table report that I will write a ticket for now (probably unrelated to this).

[2015-08-27 09:38] #2238 closed

[2015-08-27 09:44] timlinux commented on #2259
I tested here and it worked fine without crashing - tested on Fedora 22 with QGIS 2.8.3 built from source. I will test on OSX too...

[2015-08-27 09:57] timlinux commented on #2259
Tested on OSX and I cant replicate. @ismailsunni I think we should close this out for now. If you have time later you can debug it on your own system using QtCreator....

[2015-08-27 09:57] #2259 closed

[2015-08-27 10:42] Charlotte-Morgan opened #2266 "BUG: Key words wizard - glitch"
# problem
The key words creation wizard has a glitch at step two fro both Exposure and Hazard.
The text that should guide the user says
MISSING CONSTANT: hazard_question
![image](https://cloud.githubusercontent.com/assets/5743135/9518697/327ad958-4ce3-11e5-90e9-226323c70711.png)

# proposed solution
send out a search party for the missing constant

[2015-08-27 10:49] Charlotte-Morgan commented on #2265
thanks @timlinux - over to you. I dont think editing the disclaimer helped. so i stashed the edit.

[2015-08-27 11:28] timlinux opened #2267 "Dock has too much padding up top...."
I added padding on top of the dock because of some mac issues, but now it seems it is too much, wasting 12px of precious dock real estate:

![selection_010](https://cloud.githubusercontent.com/assets/178003/9519493/77a84674-4cbf-11e5-9ce4-7a2faaa867dc.png)

[2015-08-27 11:39] timlinux opened #2268 "We need better presentation for the keywords in dock"
Currently our keywords look like this:

![screenshot from 2015-08-27 13-33-41](https://cloud.githubusercontent.com/assets/178003/9519627/78b0c63a-4cc0-11e5-9832-3d77e0b7e240.png)

There are a number of problems here:

* The text is not nicely laid out
* The titles have underscores and odd casing
* We could do a better job of ordering the information into a logical sequence

I am proposing to creat

[2015-08-27 11:47] timlinux commented on #2267
This is how it will look with PR applied

![screenshot from 2015-08-27 13-33-41](https://cloud.githubusercontent.com/assets/178003/9519790/239b404c-4cc2-11e5-9335-f45695de0cc2.png)

[2015-08-27 14:36] adissadis commented on #2268
I think its not a big issue for us. You can change it into table @timlinux

[2015-08-27 14:49] timlinux commented on #2268
@adissadis ok great, thanks

[2015-08-27 20:56] #2267 closed

[2015-08-27 21:00] timlinux commented on #2268
@Charlotte-Morgan and @adissadis I am proposing something like this:

<img width="345" alt="screen shot 2015-08-27 at 22 57 36" src="https://cloud.githubusercontent.com/assets/178003/9532972/30eccae8-4d0f-11e5-8601-8b73767c8e4b.png">

It only addresses the layout, will do more hacking to remove underscores and improve the ordering of rows...

[2015-08-28 00:03] lucernae commented on #2228
I test this on Linux and it fails. Strange... will look into this why sometimes it succeed and fails.

[2015-08-28 00:42] dynaryu commented on #2168
Thanks for the explanation, @lucernae. Should we use the same rule (either in absolute or relative ) regardless how large or small the original number is?

[2015-08-28 01:37] #2230 closed

[2015-08-28 02:40] harrymahar commented on #2228
hai @lucernae @samnawi  I just want to inform you guys, today I update InaSAFE from Git bash and try run again this impact function. But the result still same..

![typeerror1](https://cloud.githubusercontent.com/assets/2534179/9537908/bd3d79b2-4d68-11e5-8f03-c9957de9bae5.PNG)

[2015-08-28 02:40] samnawi commented on #2228
Hmmm.... It's strange. @lucernae I also try use the test layer and it run.
I also doing test in windows platform (Win 7 64-bit), use QGIS 2.8.3 and 2.10 and it run

This is the result
Using Ubuntu 14.04 64-bit and QGIS 2.8.3.
![selection_142](https://cloud.githubusercontent.com/assets/8871958/9537835/cefb849c-4d67-11e5-81da-c80b7b4539e8.png)

Using Win 7 64-bit and QGIS 2.8.3
![image](https://clou

[2015-08-28 03:29] adissadis commented on #2268
@timlinux yes it's great layout and i like that.

[2015-08-28 03:35] #2266 closed

[2015-08-28 03:36] ismailsunni commented on #2266
@Charlotte-Morgan can you check it now? It's been fixed in develop now.

[2015-08-28 03:55] ismailsunni commented on #2181
I think we can close this, right?

[2015-08-28 04:25] harrymahar commented on #2229
halo @lucernae @timlinux  today I try again to use impact layer and the result still same, PDF's created but the display area for each District has same display despite has different result numbers. I think there is still a bug for this function

[2015-08-28 04:34] adissadis commented on #2235
hi @cchristelis the problem still occur here. We tested again with padang earthquake from http://data.inasafe.org/InaSAFE%203.1%20Training%20Data/ and still produce a huge difference between population general and detailed.

This problem also happen with aggregation data. like this screenshoot below:
![image](https://cloud.githubusercontent.com/assets/2520159/9539201/ab31a076-4d78-11e5-8173-f20910

[2015-08-28 04:40] Charlotte-Morgan commented on #2268
+1 for this +2 for no underscores and sensible row order

[2015-08-28 04:43] Charlotte-Morgan commented on #2266
@ismailsunni - its fixed.. Thanks - search party can be stood down.

[2015-08-28 04:45] Charlotte-Morgan commented on #2235
@samnawi - can you please see if you found this same bug in your testing? If you did, please label this issue as a release blocker.

[2015-08-28 06:16] Charlotte-Morgan opened #2272 "Definitions: we need to update definitions"
We need to update definitions so that they are helpful to users.
Where possible we should use published international definitions for disaster related terms.
I propose updating definitions using this source http://www.unisdr.org/we/inform/terminology
unless anyone objects

# cc
@maning @assefay @adissadis @iyan31 @timlinux @vdeparday

[2015-08-28 06:27] harrymahar opened #2273 "Python Error Flood Impact using Hazard Vector with Building (OSM Downloader) + Aggregation RW Boundary (OSM Downloader) [Bug]"
# Problem

Python Error Flood Impact using Hazard Vector with Building (OSM Downloader) + Aggregation RW Boundary (OSM Downloader)

# Details
When I try to run Flood Impact in DKI Jakarta using Flood Jakarta 2013 (Vector) with Building and RW boundary which downloaded from OSM downloader, InaSAFE shows python Error Box at the end of run process. Result comes up with number of inundated buildings,

[2015-08-28 07:21] samnawi commented on #2235
OK @Charlotte-Morgan .
Yeah, I Also find this problem in my computer.

This is the result :
**EQ Raster & Population**
![selection_143](https://cloud.githubusercontent.com/assets/8871958/9540464/520fb18e-4d89-11e5-9c49-f381f8d2aae1.png)
![selection_144](https://cloud.githubusercontent.com/assets/8871958/9540471/5b367ebe-4d89-11e5-8417-908539178724.png)

I Think the data that use to run this IF is

[2015-08-28 07:27] timlinux commented on #2268
Here is how it looks now (with PR #2274 ) - open to suggestions on layer order:

<img width="342" alt="screen shot 2015-08-28 at 09 24 46" src="https://cloud.githubusercontent.com/assets/178003/9541267/d50adb2c-4d66-11e5-9218-4966103db412.png">

Logic is basically these keywords get listed first if present (and in this order listed):

[code]

After that the keywords are written out in whatever ord

[2015-08-28 07:35] timlinux commented on #2265
OK thanks...I have the baton :-)

[2015-08-28 08:36] cchristelis commented on #2228
Hi @samnawi , @harrymahar and @lucernae,

could you guys please confirm that #2275 fixes this problem for you.

[2015-08-28 08:48] cchristelis commented on #2235
Hi @Charlotte-Morgan, @adissadis and @samnawi,

The issue was closed before the PR https://github.com/AIFDR/inasafe/pull/2256 was applied. You should have more joy after pulling now.

[2015-08-28 08:49] lucernae commented on #2228
Still not fixed in my Linux env @cchristelis .

Environment:

Linux Ubuntu 14
QGIS Pisa 2.10

I'm trying to use standard test layers:

Hazard: Flood Polygon (Vector)
Exposure: Population (Raster)

Perhaps this will help you, I got the stack trace when it is failed.

The stack trace is different from @harrymahar

[2015-08-28 08:53] cchristelis commented on #2228
Hi @lucernae, I think we have 2 problems here. The PR fixes @harrymahar's problem. I'm not able to re-produce your issue, but let me try and fix it based on the stack trace.

[2015-08-28 08:58] samnawi commented on #2235
Ok @cchristelis I just pull again, and now the result is fine.

Thank you

[2015-08-28 09:01] samnawi commented on #2228
Hi @cchristelis there is no problem to run this IF in my computer. The IF can run and the result is fine

[2015-08-28 09:03] cchristelis commented on #2228
@lucernae, what is the error type that is thrown?

[2015-08-28 09:04] cchristelis commented on #2228
Thanks for checking @samnawi!

[2015-08-28 09:14] samnawi opened #2276 "BUG: Big difference result in the report (Volcano IF with Structure)"
# Problem
When I run the Volcano IF whit structure, I get some bug in here.

This is the result
**Volcano Point with Building Polygon**
![selection_154](https://cloud.githubusercontent.com/assets/8871958/9542982/68d7c6e8-4d9f-11e5-8be1-245e5919edfb.png)

**Volcano Point With Building Point**
![selection_152](https://cloud.githubusercontent.com/assets/8871958/9542997/8096a934-4d9f-11e5-92aa-2e03e82

[2015-08-28 09:29] Charlotte-Morgan opened #2277 "WEB: we need to update governance details"
We need to update governance details and affiliations

[2015-08-28 09:33] Charlotte-Morgan commented on #2276
proposed solution - only the affected should be in the total

[2015-08-28 09:46] #2268 closed

[2015-08-28 09:48] samnawi opened #2278 "BUG : There is no option available in "Might" (Flood Polygon & Structure Point)"
# Problem
I can not run the IF using Flood polygon and Structure point, because there is no option available in part of "Might"
![selection_155](https://cloud.githubusercontent.com/assets/8871958/9543593/2b6dbb78-4da4-11e5-8ed6-c7a440841336.png)

# Platform
Ubuntu 14.04 64-Bit
QGIS 2.8.3
InaSAFE 3.2.0.dev-4890424

# Proposed Solution
Make it happy, appear the option for this IF

# CC
@timlinux @Ch

[2015-08-28 10:16] ismailsunni commented on #2278
Can you paste here the keywords of both exposure and hazard?

Currently, we don't have specific IF for flood polygon vs building point. But we have generic IF for polygon hazard vs building point. But you need to assign generic classes for the hazard layer.

[2015-08-28 10:36] samnawi commented on #2278
@ismailsunni I look it in the IFCW, there is spesific IF for flood polygon vs Building
![selection_156](https://cloud.githubusercontent.com/assets/8871958/9544431/eb9dea02-4daa-11e5-9b5c-714496b4e9cf.png)
Is the function just for High, Medium, Low classification?

Actually I use the data, same with the data in this link http://data.inasafe.org/InaSAFE%203.1%20Training%20Data/DKI%20Jakarta.zip.

Th

[2015-08-28 10:41] #2262 closed

[2015-08-28 10:43] ismailsunni commented on #2278
Hi @samnawi
What I mean with specific IF is IF like FloodPolygonBuildingFunction. If you see under the table, there is available function : Classified polygon hazard on buildings. It's a generic IF, not a specific one.

And based on you keywords, the `vector_hazard_classification` has value `flood_vector_hazard_classes`. So, it won't be recognized by the Classified polygon hazard on buildings. You

[2015-08-28 10:48] samnawi commented on #2278
OK @ismailsunni , Sorry about it, I'm not notice about the available function. Maybe we can pending this stuff until we will meet when you come in Jakarta next month.

Thank you.

[2015-08-28 11:22] roscoeKartoza opened #2279 "Typo: Impact Function Wizard"
# Problem
"I would like to use a hazard layer already loaded in QGIS"
should be:
"I would like to use an aggregation layer already loaded in QGIS"

![image](https://cloud.githubusercontent.com/assets/10434570/9545211/a3fe6cf8-4d87-11e5-96b9-bd3cc0d560a1.png)

[2015-08-28 12:19] ismailsunni opened #2281 "Python Error on Show Next Analysis Extent"
Problem
-----------
- Opening two layers with CRS EPSG=32618 or 3857
- Wait..
- Python error comes out:
[code]
- After closing the python error window, QGIS closes.

Another scenario:
- When I reproject each layer to EPSG 4326, no error found.
- When I open first layer with EPSG 4326, and load second layer with EPSG 3857, no error found. May be becaue it's reprojected on the fly to 4326.
- When I

[2015-08-28 12:46] ismailsunni commented on #2279
Hi @roscoeKartoza
Those two sentence are the same.

[2015-08-28 13:26] roscoeKartoza opened #2282 "Impact Function Wizard"
![1](https://cloud.githubusercontent.com/assets/10434570/9547031/a112fa12-4d97-11e5-9c0a-b6d98b717e94.png)
When trying to select layers from disk, initially the 'Next' button is disabled but if I click 'Back' and make the same selection the 'Next' button becomes enabled. The data that was being used was from the testing data that had been added locally.
![2](https://cloud.githubusercontent.com/ass

[2015-08-28 13:32] roscoeKartoza commented on #2279
Hi @ismailsunni, my mistake, the second was supposed to be:
"I would like to use an aggregation layer already loaded in QGIS"

[2015-08-28 14:41] #2279 closed

[2015-08-28 14:55] ismailsunni commented on #1158
Need to fix #2281 first, since the layers are not in EPSG4326, and it will cause errors.

[2015-08-28 15:00] ismailsunni opened #2284 "String Freeze and Translation"
Problem
-----------
Since we will release version 3.2 on 4 September 2015, we need a feature freeze and translation.

- [x] **Feature freeze** will be on **Monday, 31 August 2015**
- [x] **Translation** will start on **Tuesday, 1 September 2015**.

If you want to help translating, please create account in Transifex, and go to InaSAFE project in Transifex (https://www.transifex.com/aifdr/inasafe-ap

[2015-08-28 15:08] ismailsunni commented on #2284
cc @AIFDR/inasafe-developers

[2015-08-28 15:11] #1361 closed

[2015-08-28 15:47] roscoeKartoza opened #2285 "Impact Function Wizard: Disabled "from QGIS" radiobutton."
# Problem
Cannot add  a hazard polygon with a point exposure. The 'already loaded in QGIS' is grayed out even though there are layers that have been loaded. The alternative is to use  'pick a hazard layer from disk', however this too is a dead end (See ticket  #2282).
![4](https://cloud.githubusercontent.com/assets/10434570/9550587/85d44412-4dac-11e5-9f24-6656168357d1.png)
![3](https://cloud.githu

[2015-08-29 00:26] ismailsunni commented on #2285
Hi @roscoeKartoza
This is the same case as in #2278
Short story, we do not only consider the layer geometry, but also the "unit" or the "classification".

Anyway, can you paste here the keywords layer?

[2015-08-29 06:03] borysiasty commented on #2282
@roscoeKartoza, could you please provide the sample layer (both tif and xml file) that causes the error? It seems the wizard can't load it for some reason.

[2015-08-29 21:40] timlinux commented on #2285
Also note that the layer actually needs to have keywords before it is listed...maybe that is a confusing distinction we make...

[2015-08-30 19:11] timlinux opened #2286 "Failure to create flood keywords using Keywords Wizard"
# Problem

I am trying to make keywords for a simple flood polygon layer. At the end of the process of using the keywords wizard, I get the following error:

[code]

[2015-08-30 19:21] timlinux commented on #2286
To fix we need to implement the virtual ``to_text`` method to messaging table class and the row and cell classes.

[2015-08-30 20:02] timlinux opened #2288 "Exception running flood on buildings"
[code]

Scenario:

[code]

[2015-08-31 00:42] ismailsunni commented on #2286
Another similar issue #2281

[2015-08-31 01:03] ismailsunni commented on #2281
It will be fixed by @timlinux PR in #2287 We can close this after the the PR have been merged.

[2015-08-31 01:40] Charlotte-Morgan opened #2289 "Impact on Buildings: we need a new data type"
# problem
All impact functions on buildings assume that the data are classified and have a 'type; field. This is fine if buildings data have been downloaded through OSM and data type field is added regardless of whether the data have any attributes or system of classification. This means that users can not use their own building data on a building analysis.

# proposed solution
add an "unclassifie

[2015-08-31 01:48] Charlotte-Morgan opened #2290 "WEB SITE: Search for AIFDR"
We need to update branding on the new website and search for any references to AIFDR and links to the AIFDR web site. Branding needs to be updated now that AIFDR ceases to exist.
# proposed solution

Backward looking references can be retained but web links might need to be updated
Forward looking references should be revised
InaSAFE related stories from the AIFDR website should be copied to the I

[2015-08-31 01:49] ismailsunni commented on #2173
We also need to keyword for hazard:

value_map : to store the value mapping in hazard classification as dictionary. If it doesn't use classification, let it empty.
field: to store the field name for hazard. The field contains the value for the hazard or the classes.

In the future, we want to use `hazard_field` and `hazard_value_map` to replace them. See #2074 Or we can do it in this iteration.

F

[2015-08-31 01:53] Charlotte-Morgan opened #2291 "User docs need to be updated"
There are some user docs that need to be updated for the 3.2 release.
Some of the material in the user docs is also duplicated in the socialisation training materials. We need to update one version and cross reference materials where possible.

Examples of docs needing update
http://inasafe.org/en/user-docs/toolbar.html
http://inasafe.org/en/user-docs/functionality.html
http://inasafe.org/en/user-

[2015-08-31 02:09] Charlotte-Morgan commented on #2289
on second thoughts - maybe this is a regression as the user docs describe classified and generic buildings

[2015-08-31 03:16] harrymahar commented on #2228
Good Morning @timlinux @lucernae @cchristelis @samnawi I have some update and problem for this bug today.

After I update my InaSAFE through GitHub today, I try again to run Flood Impact function using DKI Jakarta Flood (Vector) and Java Population (Raster). It seems run well and the result shows number of people affected and need evacuation. However, when I scroll down the dock, Detailed minimum

[2015-08-31 04:04] iyan31 commented on #2291
Let's discuss this on the meeting today

[2015-08-31 04:06] adissadis opened #2292 "[Bug] Python Error when analysis extent is not automatically setup"
# Problem
Python error when analysis extent is not automatically setup

# Detail
So i found this python error when i run InaSAFE EQ analysis with using '**user defined bounding box**' and then i open new project/new qgis with other hazard (flood hazard). And when i add both hazard and exposure data, a window popped out and said i got python error.

What I think it's because the user defined boundi

[2015-08-31 07:22] #2281 closed

[2015-08-31 07:22] #2286 closed

[2015-08-31 07:23] ismailsunni commented on #2292
Hi @adissadis
@timlinux just fixed the test. Can you test it again (after pull the latest update)

*Re-open to wait a response.

[2015-08-31 07:44] timlinux commented on #2180
It works for me now on both OS X (where original issue was encountered) and Fedora 22...closing....

[2015-08-31 07:44] #2180 closed

[2015-08-31 07:46] timlinux commented on #1807
Ah yes @ismailsunni you are right - but we should not be tagging MMI data as categorical, rather as continuous then right? In my view it **is** still continuous, but just with a constrained min max.

[2015-08-31 07:51] timlinux commented on #2257
Tested again - can't replicate. @roscoeKartoza please pull and re-test  - reopen if you still experience the issue.

[2015-08-31 07:51] #2257 closed

[2015-08-31 07:59] timlinux commented on #2220
Yes it still occurs. You need to set the analysis extent to somewhere whithin the bounding box of roads and flood, but that does not actually intersect with any roads. Here is the scenario I had:

[code]

Note that we should systematically check each IF for this kind of issue. In essence we should be telling the user 'Everything is ok, nothing will be affected because there are no roads in the ana

[2015-08-31 08:07] ismailsunni commented on #1807
@timlinux Yes, MMI data should not be tagged as categorical.

For EQ IF (MMI), we don't ask the user about the threshold. It's hardcoded in the IF.
For Flood IF (depth), we ask the user about the threshold (which range will will categorized as inundated area).

[2015-08-31 08:12] timlinux commented on #2200
Closing - I cant replicate any more...

[2015-08-31 08:12] #2200 closed

[2015-08-31 08:14] timlinux commented on #1807
@ismailsunni I more specifically was suggesting that we do not allow the user to set a categorical tag if the units are MMI

[2015-08-31 08:29] timlinux opened #2293 "Where possible we should support on the fly projection"
I am pretty sure that #2288 is actually caused by lack of on the fly projection support which we should be able to support pretty easily in cases like that.

Lets systematically work through all IF's and get them on the fly projection ready.

[2015-08-31 08:54] ismailsunni commented on #1807
@timlinux
Yes, we have that constraint for it already.
[code]
For generic IF, they don't use `unit_mmi`. So, if the user set the unit keyword to mmi, InaSAFE will only show the ITB and Pager EQ IF.

It's different case if the hazard is in mmi, but the user set the keyword to not mmi.

[2015-08-31 09:00] timlinux commented on #2291
Just a comment on this :

My intention is to gradually move all context help (which is currently pulled from user docs) content away from the user documentation and into in-code text and images so that it is translatable as part of the normal coding workflow and that we no longer need to have a browser popup to read this help. See the examples in OSM downloader and extent selector dialog when pres

[2015-08-31 09:04] timlinux commented on #2289
Yeah we used to have a 'non osm' building IF I think - maybe it got killed in one of our cleanups. @ismailsunni can you see if you can get the existing OSM based IF to also support layer with no ```Type``` keyword please?

[2015-08-31 09:10] timlinux commented on #1807
OK good thanks @ismailsunni I'm going to close this out. @Charlotte-Morgan feel free to re-open if you do not feel it is a fair treatment of the issue.

[2015-08-31 09:10] #1807 closed

[2015-08-31 09:10] #2221 closed

[2015-08-31 09:10] #2288 closed

[2015-08-31 09:19] ismailsunni commented on #2289
Hi @timlinux
We have this function, `get_osm_building_usage`. It will be used if the exposure layer doesn't have `structure_class_field` or set to None (or empty string). Is that what you mean?

But, I thought what @Charlotte-Morgan means if the user feels that the exposure layer doesn't have field that represent the type of building (or road), we should not try to classify (or group) the building

[2015-08-31 10:03] Charlotte-Morgan commented on #2291
+ 1 for context help in the software
We (Minions and HOT) just had a discussion about training materials; noted the duplication etc. We were hoping you will update docs but if not we will need to pull stuff into socialisation training and migrate as much as possible to context.

[2015-08-31 10:20] Charlotte-Morgan commented on #2289
I think users were able to have the generic option when assigning kw to building data - now they only have classified as an option

[2015-08-31 10:26] adissadis commented on #2292
hi @ismailsunni yes it already solved now. Thank you for your help!

[2015-08-31 10:26] #2292 closed

[2015-08-31 10:37] ismailsunni opened #2296 "Flood Polygon Building Says No Impact Incorrectly"
## Problem

I am trying to fix #1158
![qgis 2 8 3-wien - 1156_053](https://cloud.githubusercontent.com/assets/1421861/9576868/1aa7354e-5006-11e5-88e2-9acd8ba46b97.png)
It says that not buildings were impacted by this flood. But, if you look at the layer, there should be some impacted building.

The data : https://www.dropbox.com/s/6a1j624ja5g44y1/haiti.zip?dl=0

It happens after I pull from develo

[2015-08-31 10:59] timlinux commented on #2296
I think this is related to on the fly projection - see also #2293

The previous error you got was an invalid geometry type gdal exception right?

[2015-08-31 13:00] lucernae opened #2299 "Earthquake Vector Building Failed if the extent is too smal"

[2015-08-31 13:04] lucernae opened #2300 "Earthquake Vector Building Failed if the extent is too smal"
# Scenario:

# Details:

# Stack Trace:

# Possible cause:
Aggregated results contains NaN values, so it can't be classified according to StatisticsClasses

[2015-08-31 13:07] ismailsunni commented on #2296
Hi @timlinux yes, exactly. So, we will pass it to version 3.3 ?

[2015-08-31 13:08] roscoeKartoza commented on #2282
@borysiasty, the classified_flood.tif layer is exactly the same as the  test data layer calledClassified Flood, I just saved it onto my machine directly from there. But [**here**](https://www.dropbox.com/sh/obr9tswigiho1cg/AACs7p9pNjCM5iz6po97MlWMa?dl=0) it is just in case.

[2015-08-31 14:13] roscoeKartoza opened #2301 "Template Options: Custom Logo"
# Problem
When the custom logo option is selected, the custom logo replaces the default logo at the bottom on the Inasafe panel but it does not replace the logos on the templates that are generated.

![logo2](https://cloud.githubusercontent.com/assets/10434570/9580578/9e4059aa-4ffa-11e5-9465-87bcc2eb6ec1.png)

The logo is replaced in the Inasafe panel.
![logo](https://cloud.githubusercontent.com/a

[2015-08-31 14:44] roscoeKartoza opened #2302 "Minimum Needs Manager: Missing Tree"
# Problem
The file dialog in the minimum needs manager is not displaying icons in the tree panel on the left when the 'Import' and 'Export' buttons are clicked.

![file_dialog](https://cloud.githubusercontent.com/assets/10434570/9581362/5ef5e3c8-4fff-11e5-9e8a-1e6b94447555.png)

# Environment
Windows 8.1 (64bit)
QGIS 2.8.3 (64bit)
Inasafe 3.2.0

[2015-08-31 15:36] ismailsunni commented on #2302
I try in Ubuntu 14.04, looks good
![selection_054](https://cloud.githubusercontent.com/assets/1421861/9582615/ae8eef16-5030-11e5-9f87-12a17f371921.png)

Can you check it in Windows @lucernae

[2015-08-31 16:08] #2301 closed

[2015-08-31 16:09] ismailsunni commented on #2301
Hi @roscoeKartoza can you check it in you computer now (after pull from develop). Pleas re-open if it's not fixed yet.

Thanks

[2015-08-31 18:41] timlinux commented on #2296
Yes I think so unless I can come up with a fix in time....we can add it to our know issues list....for the release announcement.

[2015-09-01 00:48] lucernae commented on #2299
Duplicate issues with #2300

[2015-09-01 00:48] #2299 closed

[2015-09-01 00:56] lucernae commented on #2302
![image](https://cloud.githubusercontent.com/assets/831865/9593891/b9876fbc-507e-11e5-8d57-4a79a58c05de.png)

Looks good. Export, import, save as, all looks like this

Windows 10 64 bit
QGIS 2.10 (64bit)
Inasafe 3.2.0

Maybe @adissadis can check it too?

[2015-09-01 02:26] ismailsunni commented on #1158
Move to version 3.3 since we need to fix #2296 and #2293

[2015-09-01 02:28] lucernae commented on #2300
![image](https://cloud.githubusercontent.com/assets/831865/9594850/fae12cda-508a-11e5-900f-c7289be23143.png)

Add some details to the issue. Try the issue again with different extent.
After discussing it with @ismailsunni the extent seems strange
Instead of only calculating the building inside the blue box, it calculates everything?
The orange building is succesfully calculated and classified, mea

[2015-09-01 02:40] samnawi commented on #2302
![image](https://cloud.githubusercontent.com/assets/8871958/9595008/4293f92a-508d-11e5-8f7d-5f56617a7c0b.png)
Looks very well

Windows 7 64-Bit
QGIS 2.8.3
InaSAFE 3.2.0

[2015-09-01 02:46] adissadis commented on #2302
Looks good in me:

![image](https://cloud.githubusercontent.com/assets/2520159/9595058/1b81840a-508e-11e5-9b74-1822c51f704f.png)

Windows 7 64-Bit
QGIS 2.8.3
InaSAFE 3.2.0

[2015-09-01 03:31] ismailsunni commented on #2284
Strings have been pushed to transifex. There 406 untranslated strings.

[2015-09-01 07:20] ismailsunni commented on #2293
Is it possible to put it in IF base class? In prepare method or something like that.

[2015-09-01 12:50] timlinux commented on #2300
The extent will grow to include a minimum number of pixels needed for interpolation, so that behaviour is correct. The green box shows what the realised calculation area will be....

[2015-09-01 12:52] timlinux commented on #2300
I think in 3.3 we should systematically remove the use of interpolation in favour of 'greatest touching pixel' whereby the greatest value of any pixel that touches a building or road segment is considered to be the impact on the building.

CC @Charlotte-Morgan

[2015-09-01 13:01] timlinux commented on #2210
Just a ping on this to see if it is still an issue and if you can provide a little more light on the matter....Thanks!

[2015-09-01 17:29] lucernae commented on #2293
I think we could do that. We haven't filled anything in that method. It should be able to handle reprojection and extent clipping, but we haven't use that.

[2015-09-01 17:33] lucernae commented on #2229
Yes, I haven't fix the issue about the display. This tool has any other bug :). So I guess we expect the pdf also display relevant district right?

[2015-09-02 05:59] Charlotte-Morgan commented on #2210
Hi @timlinux
here is a snip of the dock message
![image](https://cloud.githubusercontent.com/assets/5743135/9623954/2e077bcc-5172-11e5-9589-6a553f59abe7.png)
which does not reflect the settings in the analysis area dialog
![image](https://cloud.githubusercontent.com/assets/5743135/9623962/51447284-5172-11e5-955d-57d756f73b01.png)
or that no aggregation was used.

FYI - jakarta flood raster on buil

[2015-09-02 06:01] Charlotte-Morgan commented on #2086
i think this is fixed

[2015-09-02 06:03] Charlotte-Morgan commented on #961
i think the road issue is not current any more?
maybe this can be closed

[2015-09-02 06:09] Charlotte-Morgan commented on #2300
+1 for not using interpolation.
i am not familiar with the 'greatest touching pixel' terminology. In Arc GIS we would call this maximum - ie the maximum value of any intersected pixel is assigned. This aligns well when the idea is to find a worst case scenario - ie what is the deepest water the building is in

[2015-09-02 06:12] Charlotte-Morgan opened #2305 "Website: needs intro text for realtime and user map"

[2015-09-02 09:10] ismailsunni commented on #961
yes, I think so. Closing this. If it comes up again, we can re-open this ticket.

[2015-09-02 09:10] #961 closed

[2015-09-02 09:10] #2086 closed

[2015-09-02 09:46] cchristelis opened #2306 "Bug: Volcano point on buildings causes QGIS crash if all categories are < 1 km"
# Problem

When running the Volcano point on buildings IF, it goes into an infinite loop when running with small categories.

# System

Tested on:
Fedora 22, OS X 10
2.8.2

# Reproduce

- Add test layers
- Select options
- Remove all categories
- Add the categories: 0.9, 0.5 and 0.1
- Run IF

[2015-09-02 14:35] #2217 closed

[2015-09-02 14:36] borysiasty commented on #1961
@Charlotte-Morgan: The radiobuttons are gone. Can we close this issue? There is one remaining checkbox with a question waiting for your answer;)

[2015-09-02 19:00] borysiasty commented on #2092
@Charlotte-Morgan, is it still valid? I can't reproduce.

[2015-09-02 20:24] borysiasty commented on #2075
Thanks @wonder-sk for this detailed investigation! Unfortunately it seems it only helps if you just open the Wizard without going to the Analysis tab. Once you launch the analysis on the last tab, the crash still occurs - probably because of signals connected to the MessageViewer. Well, now QGIS master crashes anyway (regardless of InaSAFE), so I have to wait with further tests.

[2015-09-02 20:58] timlinux commented on #2305
and

(taken from staging.insafe.org)

[2015-09-02 21:05] timlinux commented on #2210
@Charlotte-Morgan ah ok that makes sense now .. will clean that up - sorry @ismailsunni it will cause a string change to fix it :-(

[2015-09-02 22:42] kant opened #2309 "inasafe_es_ES.ts (typo?)"
On string 5325: minumun or minimum?

[2015-09-02 22:54] kant opened #2310 "inasafe_es_ES.ts (typo?)"
On string 5829:
"No feature selected.Please make sure you have checked one feature." there must be a space between "selected." and "Please"

[2015-09-03 01:11] Charlotte-Morgan opened #2311 "Wizard Behaviour - wizard not talking to extent selector"
I am testing the Impact Function Centric Wizard and found 2 problems

---------------------------------------------------------------------
# problem 1 - minor
scenario: QGIS has hazard  data loaded without  kw and no exposure data loaded
The path through wizard is to use hazard data loaded in QGIS but step out to assign KW
- this works fine except once KW are assigned - usre is asked the same que

[2015-09-03 01:33] Charlotte-Morgan opened #2312 "Wizard Terminology"
# problem
we do not have consistent naming for the wizard - tool tip, window header and tool title bar say different things

Tooltip says "Impact Function Centric Wizard" - good
Wizard window says "Impact Function Centric Wizard" - good
Tool title bar says "Guided impact assessment wizard" - confusing

![image](https://cloud.githubusercontent.com/assets/5743135/9648702/8731ae40-5215-11e5-95bd-9682

[2015-09-03 01:55] Charlotte-Morgan commented on #2311
the wizard pane that steps out to the extent selector should have the same text in the string as in the linked text
eg change "define it now" to "define the analysis extent now"

[2015-09-03 01:57] Charlotte-Morgan commented on #1961
Radio button are gone - we can close this now.
Thanks @borysiasty

[2015-09-03 01:57] #1961 closed

[2015-09-03 01:58] Charlotte-Morgan commented on #2092
no - i have not seen this for a while - closing this now

[2015-09-03 01:58] #2092 closed

[2015-09-03 02:05] Charlotte-Morgan opened #2313 "UI: We need consistent user facing terminology"
We have made some massive steps in developing terminology to help users understand their data and the impact functions but we still have a bit of 'geek speak' that may not make sense to users.

I propose we tweak the words so that user facing terminology is consistent and may not be the same words used by developers in the code. This should have no impact on code or how things work.

I propose tha

[2015-09-03 04:40] ismailsunni commented on #2312
+1 for the new sentence. I will update it.

[2015-09-03 06:58] #2309 closed

[2015-09-03 06:58] #2310 closed

[2015-09-03 07:01] ismailsunni commented on #2310
Thanks @kant

[2015-09-03 07:09] ismailsunni commented on #2313
Hi, we can do it by simply changing the name value of each item in definitions.py

[2015-09-03 07:17] Charlotte-Morgan commented on #2313
oh - so i can do this. but @timlinux could change the order in the dock?

[2015-09-03 07:35] #2312 closed

[2015-09-03 07:36] ismailsunni commented on #2284
All strings have been translated, but not compiled.
I will do the final step (checking all strings are translated and compile it, then push to develop) on Friday, 4 Sept 2015, 15.00 GMT+7

cc @AIFDR/inasafe-developers

[2015-09-03 08:02] ismailsunni commented on #2092
Hi, I checked this issue. So, it seems the wizard use scroll bar for it. Great.

![inasafe impact function centric wizard_059](https://cloud.githubusercontent.com/assets/1421861/9653293/a7129fbc-524c-11e5-9e4e-f289e083ca94.png)

[2015-09-03 08:15] borysiasty commented on #2075
@ismailsunni: Seems the MessageViewer embedded in the wizard doesn't play well. Besides damaging the window resizing policy (if not inside a QScrollArea), there is the problem above - I've just got lost in the tangled signals in AnalysisHandler interfering with the dock. Seems rewriting the AnalysisHandler to handle independently (and analogically) the Dock and the Wizard will be the must sooner o

[2015-09-03 08:29] samnawi commented on #2313
I've been tried to create the keyword wizard diagram.
It's like as flow chart which could guide to user to know about the whole process in the keyword wizard.
![selection_162](https://cloud.githubusercontent.com/assets/8871958/9653765/14789716-5250-11e5-8eb1-75845c5b4cea.png)

# cc
@Charlotte-Morgan @iyan31 @adissadis

[2015-09-03 08:36] ismailsunni commented on #2313
Hi @samnawi
Before creating the wizard, @borysiasty @timlinux and I also had a discussion about the workflow. And we created a similar diagram like yours for the wizard also.

Do you remember where do we put it @timlinux @borysiasty ?

[2015-09-03 08:55] fredychandra opened #2318 "Building Type Report Table mixing with zero and no data"
# Problem

The Building Type Report Table still reporting zero (o) and No data if run IF with aggregation. The implication is the report become too long and truncation in the lateral side.
The table still use OSM preset/attribute although the exposure data that being used is not come from OSM downloader.

![image](https://cloud.githubusercontent.com/assets/6345285/9654691/922c2e92-5256-11e5-9999-2

[2015-09-03 09:01] roscoeKartoza opened #2319 "Shakemap Converter: Failed to parse grid file"
# Problem
I'm getting 'GridXmlParseError: Failed to parse grid file.'

# Data
http://earthquake.usgs.gov/earthquakes/shakemap/global/shake/c000luwe/download/grid.xml

# Traceback
[code]
# Environment
Windows 8.1 (64bit)
QGIS 2.8.3
Inasafe 3.2.0

[2015-09-03 09:16] samnawi opened #2320 "BUG : The Detail report is just appear No Data / 0 "zero""
# Problem
Based on systematic testing that I and @fredychandra doing in last week, we foud some bug. One of them is the detailed report in the result is just appear "no data" or 0 "zero".

# Detail
![selection_163](https://cloud.githubusercontent.com/assets/8871958/9654518/8006e4f6-5255-11e5-85eb-1981d606722b.png)
![selection_164](https://cloud.githubusercontent.com/assets/8871958/9654524/8369f782

[2015-09-03 09:17] borysiasty commented on #2282
Seems you selected a function that only accepts continuous raster, so the wizard is right it's not suitable.  For example 'Raster flood on roads' only works on continuous data, although it's name doesn't says it. Perhaps the top message "You selected **Raster Flood** ads hazard input to **Raster flood on roads** function" should be extended with "This function only accepts **continuous** data".

@

[2015-09-03 09:24] ismailsunni commented on #2282
@borysiasty yes, +1 from me. Better information for the user.

[2015-09-03 09:28] #2276 closed

[2015-09-03 09:31] borysiasty commented on #2285
@timlinux - actually keywordless layers are listed too. The problem is when the keyword exists. For example, the *Classified polygon hazard on buildings* function won't work with the *Flood Polygon* sample layer because it's classified with *flood_vector_hazard_classes* while the function requires *generic_vector_hazard_classes*

[2015-09-03 09:32] Charlotte-Morgan commented on #2318
see #2320

[2015-09-03 09:32] samnawi opened #2321 "BUG : Detailed information in the report is truncated"
# Problem
When I and @fredychandra was doing systematic test to InaSAFE, one of a bug that we're found is truncated information in the report.

# Detail
![selection_164](https://cloud.githubusercontent.com/assets/8871958/9655009/a401ac08-5258-11e5-97c8-124d02ec7e74.png)
![selection_168](https://cloud.githubusercontent.com/assets/8871958/9655067/da45aa62-5258-11e5-8a05-a04a60197cc3.png)

# Where is

[2015-09-03 09:52] timlinux commented on #2313
Hmm - Borys made his in a desktop UML app I think - We also made a version which is here:

https://www.lucidchart.com/invitations/accept/463ccb7f-6494-465e-95eb-832bd4722f67

[2015-09-03 10:29] samnawi opened #2322 "BUG : Layer order of the impact result in the map"
# Problem
When we're doing some testing, we found that the layer impact in the result sometimes in the above, sometimes in the bottom of the result. Apparently, if occur because of the selected layer in the table of content.

1.If there is no layer that selected, the result automatically will appear in the above of all layers.
![selection_170](https://cloud.githubusercontent.com/assets/8871958/965

[2015-09-03 10:29] timlinux commented on #2313
I just discussed this with @Charlotte-Morgan  - what we are going to do is:

* @Charlotte-Morgan is going to ensure that the ``name`` field in definitions.py are consistent with the terms that she would like to see used
* @timlinux will update the keywords table generator so that it looks up the names instead of showing the keys with underscores removed
* @ismailsunni (really sorry to throw last m

[2015-09-03 10:38] Charlotte-Morgan commented on #2318
HI @fredychandra
i agree - if there is a total of 0 for any type the type can be removed
and if all values in a table are 0 or nodata - do not write the table

[2015-09-03 10:42] timlinux commented on #2321
See also #2320 - we should work to remove superfluous columns from the report

[2015-09-03 10:48] timlinux commented on #2322
So I will add some logic to always insert the impact layer 1 layer above the exposure layer.

[2015-09-03 13:29] Charlotte-Morgan commented on #2313
hi @ismailsunni @timlinux - I don't think that the terms I plan to change are in definitions.py or wizard_strings.py (eg value_map). I am not making any edits until you can confirm the correct file.

[2015-09-03 13:32] borysiasty commented on #2047
I'm closing it as the information is already included in the header. @timlinux, please reopen if you think it's insufficient.

[2015-09-03 13:32] #2047 closed

[2015-09-03 13:42] ismailsunni commented on #2313
Thanks @Charlotte-Morgan

@timlinux  I just look at the code, it's a little bit different, and needs to do some code in the dock.

Example:
Layer Purpose, see the definitions in https://github.com/AIFDR/inasafe/blob/231c826bd4c61966734ac61c58e3226d8dccca86/safe/definitions.py#L68

After I check, we haven't use this layer_purpose definitions anywhere. So, by changing its name will not make any diff

[2015-09-03 14:06] borysiasty commented on #2081
@Charlotte-Morgan - currently, the wizard lists all visible layers with matching keywords as well as those keywordless (with italic font). So if you can't see your layer it means either:
 - the layer has keywords, but they are unsuitable (or just obsolete!)
 - the layer visibility is off

I'm not sure what exactly do you want to change:
 - just the problem of obsolete keywords should be fixed
 - d

[2015-09-03 14:09] borysiasty commented on #2083
The point 2 is fixed (see #2282)

[2015-09-03 18:27] borysiasty commented on #2282
@roscoeKartoza @ismailsunni @timlinux @Charlotte-Morgan

Guys, what about this:

![bad_layer](https://cloud.githubusercontent.com/assets/1000043/9667084/16bd425e-527a-11e5-9db8-af1ce9114696.jpg)

[2015-09-03 18:43] borysiasty commented on #2285
Fixed in PR #2323 (see also #2282)

[2015-09-03 23:56] cchristelis commented on #2320
Hi @samnawi, thanks for this thorough bug report. The nan on minimum needs, I could reproduce with the test data and have made a fix https://github.com/AIFDR/inasafe/pull/2324. The other issues I could not reproduce with the test data. The only way that I could was by changing the keywords. Would it be possible to perhaps send me small clipped sections of these scenarios, so that I can see reprodu

[2015-09-03 23:57] cchristelis commented on #2320
Once the nan and zero issues are sorted, I'll see to reducing the reports. An alternative way to solve our real estate issue, is to transpose the tables.

[2015-09-04 03:04] Charlotte-Morgan commented on #2228
hi @harrymahar - if this is not resolved, please add your comment here and reopen (i have reopened)
please also see tickets #2318 #2320 and #2321

[2015-09-04 03:05] Charlotte-Morgan commented on #2228
@samnawi - please talk to @harrymahar to confirm that this was resolved for you

[2015-09-04 03:13] Charlotte-Morgan commented on #2320
hi @cchristelis - thanks for looking at this @samnawi - will check out the changes later.
Re the idea of transposing the report - this in unlikely to work unless there are only a few areas of aggregation. In many of our real world examples the aggregation report goes for many pages.

[2015-09-04 03:28] Charlotte-Morgan commented on #2081
i think this has been fixed - closing this one

[2015-09-04 03:28] #2081 closed

[2015-09-04 03:28] Charlotte-Morgan commented on #2083
i think this is fixed now

[2015-09-04 03:29] #2083 closed

[2015-09-04 03:33] Charlotte-Morgan commented on #2282
Hi @borysiasty - looks good in the screenie. Do you have a pull request?
Agree on fix now, polish later approach

[2015-09-04 04:22] Charlotte-Morgan opened #2325 "QGIS crash: assign KW to aggregation layer via IFCW"
# Ouch
I got the following error when i was selecting an aggregation layer from disk:
1. empty qgis project
2.IFCW - select flood vector on population & flood IF
3. Select jakarta flood 2013 data as hazard from disk and assign kw
4. select java population as exposure
5. select jakarta districts as aggregation = crash dump
![image](https://cloud.githubusercontent.com/assets/5743135/9676551/b210445e

[2015-09-04 04:33] Charlotte-Morgan commented on #2325
ran fine the next time

[2015-09-04 04:33] #2325 closed

[2015-09-04 04:41] Charlotte-Morgan commented on #2228
@harrymahar & @cchristelis - i can confirm that i have the same issue as Harry using Flood polygon on Population.
My system is QGIS 2.8.3 an windows .
I have also checked all other tests we have run on reporting and this situation is unique to this IF / data.

[2015-09-04 07:24] timlinux opened #2327 "Second run of keywords wizard shows finish button on first page"
If you run the keywords wizard on a layer, then immediately run it again, the first page 'next' button instead shows the text 'finish'

![screenshot from 2015-09-04 09 21 23](https://cloud.githubusercontent.com/assets/178003/9678539/a2f47ffa-52e6-11e5-8228-9337e21e5e82.png)

[2015-09-04 07:29] timlinux commented on #2313
@Charlotte-Morgan and @ismailsunni

My preference for undefined terms is that we simply add them to definitions.py as new terms..that way we collect all terms in one place and make it easy to review them later.

@ismailsunni I have been updating the ```show_generic_keywords``` method to read from definitions.py nicely and show the name rather than the keyword as read from the metadata file. The up

[2015-09-04 07:30] ismailsunni commented on #2311
Seems similar with #2261

[2015-09-04 07:45] Charlotte-Morgan commented on #2313
@timlinux
ok - makes sense. i will proceed with edits to definintions.py by tweaking names for existing terms and creating new terms with names (will need @ismailsunni to check this for me)

[2015-09-04 07:47] borysiasty commented on #2313
@samnawi, my diagram is here:

![wizard_workflow](https://cloud.githubusercontent.com/assets/1000043/9678867/d3e8b434-52e9-11e5-8dbd-de230a281b66.png)

[2015-09-04 07:48] cchristelis commented on #2320
understood @Charlotte-Morgan, transposing won't be an option. Let's continue the work on removing columns with 0's etc to #2321 and focus here on the 'No Data' and false Zeroes, which in is very NB.

[2015-09-04 07:49] Charlotte-Morgan commented on #2313
hehe - thanks @borysiasty - we don't want to scare the users :)
This is be really helpful for tracking the terminology & proposed changes

[2015-09-04 07:50] timlinux commented on #2313
OK check my income PR for an example of how to proceed (I added a stub definition for ```value_map```)

Before:

![screenshot from 2015-09-04 09 49 12](https://cloud.githubusercontent.com/assets/178003/9678928/4152f69c-52ea-11e5-945d-249541ad2057.png)

After:

![screenshot from 2015-09-04 09 47 52](https://cloud.githubusercontent.com/assets/178003/9678930/45d1de18-52ea-11e5-90cd-a4c7e1794f8f.png)

[2015-09-04 07:51] cchristelis commented on #2318
Hi @fredychandra, i am unfortunately unable to reproduce with the test data. Is there a way to get the exact scenario to me? Perhaps even just a representative clip of the data?

[2015-09-04 07:53] timlinux commented on #2313
On one more thing @Charlotte-Morgan for consistency I think it would be good to use leading title case for names i.e.

```Hazard category``` in preference to ```hazard category``` or ```Hazard Category```

This is the rule we use for user interface labels throughout InaSAFE and will add a sense of cohesion....low priority on the maslow's hierarchy of needs though ...

[2015-09-04 07:57] cchristelis commented on #2318
Yeah, the post processors seem to be written with only OSM building types in mind:
`
self.fields_values = OrderedDict([
            ('Medical', ['Clinic/Doctor', 'Hospital']),
            ('Schools', ['School', 'University/College', ]),
            ('Places of worship', ['Place of Worship - Unitarian',
                                   'Place of Worship - Islam',

[2015-09-04 07:59] borysiasty opened #2329 "Wizard: ged rid of eval() statements"
As @timlinux suggested, getattr should be rather used for accessing dictionaries from definitions.py.
A helper method will be written to get a definition whose key matches a given key.

[code]

[2015-09-04 08:10] timlinux commented on #2320
@Charlotte-Morgan sorry I never got a chance to explain why transposing would not word as I was handing over to @cchristelis / running out the door yesterday....

[2015-09-04 08:12] Charlotte-Morgan commented on #2313
noted

[2015-09-04 08:19] fredychandra commented on #2318
HI @cchristelis i used these data :
1. TTU_Earthquake.shp (Polygon) as Hazard
2. TTU_Infrastucture_BIG.shp as exposure (Non OSM data set)
3. TTU_Villagge_BIG.shp as aggregation layer

Please find the data that I have used for the test (IF : EQ Polygon with Point with Aggregation) on the link below.

https://drive.google.com/drive/folders/0B_gC8poAYEtefmxrMnRZdGQ5bl8xeHhVVlE4Y2J6T3N4aXVCMl9PcEFjbXZ

[2015-09-04 08:20] #2285 closed

[2015-09-04 08:20] #2282 closed

[2015-09-04 08:26] timlinux commented on #2319
@lucernae can you check this out please?

[2015-09-04 08:59] timlinux commented on #2253
For now I will remove the scalebar in our standard template - in next LTR we can add it back as it will have constrained width support

[2015-09-04 09:05] lucernae commented on #2319
I'm using the same grid.xml and can't replicate it.

# Environment

Linux 15. (64bit)
QGIS 2.10
Inasafe 3.2.0

[2015-09-04 09:52] cchristelis opened #2332 "Feature update: Softcode postprocessors"
# Problem

The postprocessors are built around the OSM data structures and naming conventions. This causes any non-conforming building or road exposure to cause false Zeros and 'No Data'

# Proposed solution

Softcode postprocessors' building and road types based on exposure layer.

# Related issues:
- #2318
- #2320

[2015-09-04 09:52] cchristelis commented on #2320
So the more I dig the bigger this issue turns out to be. What we are seeing here is not a bug at all it is a feature. The postprocessors where built around the OSM data structure. This is not how we are expecting the client to use this, but none the less it is how it is. I've created a feature update ticket to address that: #2332

[2015-09-04 10:36] Charlotte-Morgan commented on #2320
thanks @cchristelis - i think i may already have a ticket saying we need to be able to work with non osm buildings too.

[2015-09-04 11:05] #2253 closed

[2015-09-04 11:05] #2220 closed

[2015-09-04 11:05] #2300 closed

[2015-09-04 11:31] roscoeKartoza commented on #2282
Hi @borysiasty. That makes more sense, thanks.

[2015-09-04 11:33] Charlotte-Morgan commented on #2313
PR #2333 looks a bit like this
![image](https://cloud.githubusercontent.com/assets/5743135/9682670/1c064170-5333-11e5-9fe8-7c8496d6c79f.png)
![image](https://cloud.githubusercontent.com/assets/5743135/9682682/33b4c47c-5333-11e5-8c38-22093ed05d2c.png)

@timlinux - the order of items appearing in the dock table could still do with a tweak

[2015-09-04 11:39] Charlotte-Morgan opened #2334 "IFCW has a great error message"
nice - first time ive seen this
![image](https://cloud.githubusercontent.com/assets/5743135/9682848/a72201e4-5334-11e5-98f2-d21966c948a0.png)

[2015-09-04 11:50] timlinux commented on #2313
For ordering just let me know what you would like to change, no problem to do it

[2015-09-04 11:58] Charlotte-Morgan commented on #2313
we are thinking something like the same order the user assigns things with a few exceptions:
- [ ] title , purpose, hazard, scenario, geometry, data type, units / attribute field, attribute value / volcano name ; source, date, url, licence, kw version
- [ ] title, purpose, exposure, geometry, data type, units / attribute field, attribute value  ; source, date, url, licence, kw version
- [ ] title,

[2015-09-04 12:30] #2327 closed

[2015-09-05 21:21] timlinux commented on #2334
@Charlotte-Morgan glad you like the error message!

Is there some action that needs taking in order to close this issue?

[2015-09-06 02:43] Charlotte-Morgan commented on #2334
No action.
I started a bug ticket, then realised it was a bug. No way to delete tickets you write in error.
I'll close this now - no action required.

[2015-09-06 02:43] #2334 closed

[2015-09-06 05:54] lucernae opened #2340 "Get last shake event id in realtime doesn't count timezone probabilities"
Currently, after all this time, elapsed time in generated pdf report always shows 7 hours ago.
It turns out that it wasn't a timezone issues with the elapsed time, the report actually generated 7 hours after the shakemap from BMKG was received.
The problem lies when trying to get the last shake event id of the folder. It is calculated using ```datetime.now()``` which returned a datetime object for

[2015-09-06 09:53] #2340 closed

[2015-09-07 02:39] samnawi commented on #2313
@Charlotte-Morgan It's good.
For my propose about the order of table, maybe similar with the keyword step by step in the wizard.
i.e. Title, Purpose, Hazard, Scenario, Geometry, Data Type, Units, Source, URL, Scale, Date, License....

[2015-09-07 07:20] Charlotte-Morgan opened #2342 "EQ Realtime: remove AIFDR reference"
We need to update the Realtime report to remove reference to AIFDR.

replace 'population data derived by AIFDR from worldpop....." with
'population data derived by Australian Government from worldpop ..."

replace 'supported by Australia - Indonesia ....... and World Bank - GFDRR" with
'Supported by Australian Government ..... and World Bank- GFDRR"

hope this makes sense

[2015-09-07 08:19] timlinux opened #2343 "InaSAFE must be configured to use our own instance of OSM reporter for OSM downloads"
As per https://github.com/AIFDR/inasafe/wiki/Service-osm.inasafe.org, we need the downloader to point to the production url hosted on InaSAFE's own infrastructure.

[2015-09-07 19:22] #2343 closed

[2015-09-07 20:46] borysiasty commented on #2311
Problem 2 is fixed in PR #2346. I'm moving the minor one to a separate ticket.

[2015-09-07 20:46] #2311 closed

[2015-09-07 20:51] borysiasty opened #2347 "IFCW: after registering keywords in the KW sub-thread, the IFCW shouldn't display again the step from where it was called."
From @Charlotte-Morgan's #2311:

scenario: QGIS has hazard data loaded without kw and no exposure data loaded
The path through wizard is to use hazard data loaded in QGIS but step out to assign KW

- this works fine except once KW are assigned - usre is asked the same question again, ie identify your hazard data (nothing acknowledges the path through the KW wizard and success on assigning kw) - wo

[2015-09-07 21:00] borysiasty commented on #2261
Fixed in PR #2346

[2015-09-07 21:00] #2261 closed

[2015-09-07 21:09] borysiasty commented on #2329
See also PR #2323.

Timlinux says: see https://github.com/AIFDR/inasafe/pull/2328/files#diff-844316bf2c24e3915be331fde33f5059R679 for the final (re-usable) method I made to get a definition given a key. I will go ahead and apply this PR.

[2015-09-07 21:26] borysiasty opened #2349 "IFCW: Ensure the "non-matching keywords" table uses strings imported from definitions wherever possible"
See PR #2323. Also related to #2329.

[2015-09-08 15:10] timlinux commented on #2340
I think we had problems in the past where the wrong time stamps were being set in the grid and so we needed up with quakes in the future...but I think your approach is good and we rather deal with upstream inconsistencies via BMKG.

Thanks

Tim

[2015-09-08 18:22] timlinux commented on #2349
@borysiasty please see the helper method I wrote for keywords which you should be able to adapt or use:

https://github.com/AIFDR/inasafe/blob/develop/safe/utilities/keyword_io.py#L679

It might also be nice to use the message approach to construct the keywords so that the presentation in the wizard is analogous to the presentation of keywords in the dock. See show_generic_keywords method in https

[2015-09-09 02:59] #2284 closed

[2015-09-09 08:26] #2260 closed

[2015-09-09 08:30] cchristelis commented on #2320
This has been fixed by PR https://github.com/AIFDR/inasafe/pull/2345

[2015-09-09 08:31] #2320 closed

[2015-09-09 08:31] cchristelis commented on #2321
This has been fixed by PR https://github.com/AIFDR/inasafe/pull/2345

[2015-09-09 08:37] cchristelis commented on #2228
The no data / zero column removal has been added in https://github.com/AIFDR/inasafe/pull/2345. The non- osm data issues will be looked at a later stage and can be followed in: https://github.com/AIFDR/inasafe/issues/2318 and https://github.com/AIFDR/inasafe/issues/2289

[2015-09-09 08:37] #2228 closed

[2015-09-09 08:40] cchristelis commented on #2318
The no data / zero column removal has been added in #2345. The underlying issue is caused by non- osm data, which is not handled in the post processors.

[2015-09-09 08:41] cchristelis commented on #2318
This issue should be moved to #2332.

[2015-09-09 08:47] timlinux commented on #2313
@Charlotte-Morgan I would like to remove the release blocker label - we can continue making improvements post 3.3 release

[2015-09-09 09:53] Charlotte-Morgan commented on #2313
hi @timlinux - i agree with the comment from @samnawi that the order still needs a tweak to completely align with the user experience.
Your call on whether you have time to do this now or next week :)

[2015-09-09 17:40] kant opened #2353 "inasafe_es_ES.ts (typo?)"
On string # 4410 "DístrÜt's of Jakarta" is correct?
Or maybe "District's of Jakarta"?

[2015-09-09 18:48] timlinux commented on #2353
Hi. Those strings are intentional for Unit Tests to check that Unicode is working correctly! Great to see that you are translating to spanish!

cc @Charlotte-Morgan

[2015-09-09 18:48] #2353 closed

[2015-09-10 00:50] Charlotte-Morgan commented on #1695
i think this is done - we are working on data for 3.2 now :)

[2015-09-10 00:51] #1695 closed

[2015-09-11 03:52] Charlotte-Morgan opened #2354 "We need to update socialisation training"
# Problem
We need to update socialisation training materials for InaSAFE 3.2

The following files need to be updated - high priority (release blocker)
by Charlotte
- [x] index.rst
- [x] objective.rst
- [x] introduction.rst (new file)
- [x] inasafe_concepts (new file)
- [x] datasets.rst

by HOT
- [x] introduction to  qgis.rst
- [x] run basic inasafe.rst

--------------------------------------------

[2015-09-11 09:44] timlinux opened #2355 "We need to make the parameters widgets more attractive"
Currently there is a lot of padding in the parameters widgets and the widgets are not always laid out following 'normal' ui conventions. For example the checkbox items appear to the right of their labels instead of to the left. There are also too many frames which makes the parameters visually cluttered.

# Proposed solution

* Use NoFrame style for container widgets
* Move labels to right of chec

[2015-09-11 12:43] adissadis opened #2357 "InaSAFE produce a lot of 'safe_ag' columns in generated output"
# Problem
When i run InaSAFE for flood raster with building and i checked the attribute, i found that the output produced lot of 'safe_ag' columns such as safe_ag_1, safe_ag_2, safe_ag_3, ..., safe_ag_16. I think it should produced only one column which is only safe_ag column to explain whether the building wet, inundated or dry.

From my experience, it produce 'affected' column or 'inundated' col

[2015-09-11 13:15] #2355 closed

[2015-09-14 02:48] samnawi commented on #2357
@adissadis I also found somethings like you when I run Flood Raster Vs Building.  It's produce lot of safe_ag column in attribute table. Actually, in the realease version (3.1.3), the column name in attribute table is INUNDATED.

But, I also found it in the other **raster hazard Vs vector exposure** (i.e. Tsunami (R) Vs Building (V), Tsunami (R) Vs Road (V), EQ (R) Vs Building (V), etc), but it ju

[2015-09-14 03:52] samnawi opened #2359 "BUG : Some Problem in the Report (Flood Polygon VS Population)"
"No Data" Problem that found in the IF Flood Polygon VS Population is done by #2345.
But, when we run again for this IF, there is some problems that occur in here.

# Detail
Hazard : Jakarta Flood Polygon
Exposure : AsiaPop

With Aggregation
![selection_194](https://cloud.githubusercontent.com/assets/8871958/9841651/9c2cdb52-5acc-11e5-94f0-4268f1622dc4.png)

Without Aggregation
![selection_195](ht

[2015-09-14 09:03] samnawi commented on #2321
@cchristelis Could we re-opened this issue?
Mostly the truncated issue that I found and present like in the picture in above has done.
But, I still found the truncated issue that I found in the Flood hazard (both of vector and raster) VS roads.

This is the sightings
![selection_196](https://cloud.githubusercontent.com/assets/8871958/9846131/2ac8fe54-5afa-11e5-92c8-5e16118f7cd6.png)

Thankyou

[2015-09-15 03:23] samnawi opened #2361 "BUG : Different value at the report of roads inundation (Flood and Tsunami)"
# Problem
There is a different value that appear in the report, between in the "Breakdown by road type" and in the "Detailed road type report".
![selection_197](https://cloud.githubusercontent.com/assets/8871958/9866967/46900a76-5b93-11e5-8487-245cbef25317.png)

# Data
Hazard : Tsunami Maumere
               Jakarta Flood Polygon (RW Boundary)
               Jakarta Flood Raster (HKV - Modeling)
E

[2015-09-15 04:18] ismailsunni opened #2362 "Update API docs scripts"
Problem
-----------
Our API docs generator is out of date. We need to update it.

[2015-09-15 10:23] samnawi commented on #2359
Fix in #2360

[2015-09-15 10:23] #2359 closed

[2015-09-16 03:21] Charlotte-Morgan commented on #2354
Hi @adissadis @timlinux @rduivenvoorde @MariaSolovyeva
i have updated this file to show what has been merged in PR 285 & what actions are still to be done.
Thanks @adissadis for stepping in to finish the files i started.

[2015-09-16 03:34] samnawi opened #2365 "RFC : InaSAFE to analysis Haze Map /Smog (Forest Fire)"
# Problem
One of the annual catastrophic in Indonesia is the smog that resulted from land and forest fire. This disaster occurs at the dry season in Indonesia. In this year, the impact from El Nino Phenomenon has been cause the dry season longer, so the impact for this disaster is the worst if compare with the same case in the year before.

# Detail
When I read a news about it, I remember when I w

[2015-09-16 05:48] #2322 closed

[2015-09-16 06:40] timlinux commented on #2361
This is because the road types list is hard coded in the post processor file - see https://github.com/AIFDR/inasafe/blob/develop/safe/postprocessors/road_type_postprocessor.py#L41

[2015-09-16 07:47] samnawi opened #2366 "We Need to Update the Scenario Data"
In http://data.inasafe.org/ScenarioData/ there is some scenario data in there, and I think we must update it, also keep some relevant scenario and archive the other scenario that not relevant.
Make it more tidy, and in line with the new version of InaSAFE with new feature and new function in there.

# CC
@Charlotte-Morgan @fredychandra @iyan31 @adissadis

[2015-09-16 07:51] timlinux opened #2367 "Regression running analysis since #2322 was merged"
[code]

[2015-09-16 08:13] samnawi opened #2369 "BUG : Could not compute using BIG (Indonesia Geospatial Agency) data"
# Problem
I try to use the official data for basemap from BIG. I get the data from this link http://portal.ina-sdi.or.id/.
When I try to run with this data, in the detailed report, InaSAFE says that could not compute the road type report. Whereas, when I use OSM data, the detailed report is appear.
I found the bug in tsunami also flood hazard VS roads.

# Detail
Using BIG data
![selection_200](htt

[2015-09-16 08:29] fredychandra opened #2370 "BUG : The aggregation result not appear (Could not compute) when using BIG data (Non OSM)"
# Problem

The aggregation result could not compute when running IF Dock using BIG data

![image](https://cloud.githubusercontent.com/assets/6345285/9899903/223b1d24-5c87-11e5-8fb4-cc391a503591.png)
# Data

Hazard    : Polygon, EQ_TTU.shp
Exposure : Infrastructure_WGS84.shp (BIG data)
Aggregate : Village.shp (BPS data)
# Propose Solution

Make the aggregation work and classified the building/infra

[2015-09-16 08:49] samnawi commented on #2357
Apparently is not a bug.
@timlinux ask me to check the exposure data, and apparently the safe_ag1, 2, 3..... come from the buildings data.
It's my mistake not to check the data first before use it.

Thank you.

[2015-09-16 08:52] timlinux commented on #2357
Ok so I reviewed this issue with @samnawi and I believe it is only a data issue - the original input data set has all these extra ``safe_ag`` attributes. I am not sure if the ``safe_ag`` columns were added to the data explicitly for a test, but for now I would suggest to simply remove them.

A separate issue is the naming of the 'affected' column - @samnawi is going to compile a list of preferred

[2015-09-16 08:52] #2357 closed

[2015-09-16 08:53] timlinux commented on #2361
I have marked this as for 3.3 as fixing it is going to cause some major code churn.

[2015-09-16 09:01] #1297 closed

[2015-09-16 09:03] #2305 closed

[2015-09-16 09:05] #2367 closed

[2015-09-16 09:07] timlinux commented on #2370
I have an idea of a quick hack that might fix this and related issues when using non-oms data...I'll see if I can fix it this afternoon before 3.2 goes out.

[2015-09-16 13:12] akbargumbira commented on #2357
This is my signature :) https://github.com/AIFDR/inasafe/blob/2823beb685b4e9ff49aa3b5e8cdfc0d459fada61/safe/impact_functions/base.py#L83

When making vector impact layer, InaSAFE creates one extra column to mark the analysis output of each feature. This extra column is unique. You probably use the impact layer as exposure layer over and over again. The first impact layer will create one safe_ag co

[2015-09-17 02:43] samnawi commented on #2361
Ok @timlinux.
When I read your comment, it's problem because the road types list is hard coded, I curious about it. Then I try to run again using national data from BIG (Indonesia Geospatial Agency), apparently InaSAFE could not compute it. See #2369.

Is the problem also related about the classification in this link https://github.com/AIFDR/inasafe/blob/develop/safe/postprocessors/road_type_postp

[2015-09-17 03:43] Charlotte-Morgan commented on #2321
hi @samnawi - agree there is still a truncation issue. However this is because there are too many columns and not related to 0 values.
I think this is fixed - lets write a new ticket for 3.3. cross reference to this & then close this ticket

[2015-09-17 03:44] Charlotte-Morgan commented on #2318
this relates to non OSM data - lets look at this for 3.3
Milestone and label updated

[2015-09-17 03:46] Charlotte-Morgan commented on #2313
hi @timlinux - did you want to tweak the order for 3.2?

[2015-09-17 03:50] Charlotte-Morgan commented on #2273
hi @harrymahar - is this still an issue?

[2015-09-17 03:58] #2277 closed

[2015-09-17 04:02] samnawi opened #2373 "BUG : The roads IF report still truncated"
@cchristelis Thank's for fixed the issue #2321.
But, I still found the truncated issue that I found in the Flood hazard (both of vector and raster) VS roads.
Maybe it's because there are so many type in here.
![selection_196](https://cloud.githubusercontent.com/assets/8871958/9846131/2ac8fe54-5afa-11e5-92c8-5e16118f7cd6.png)

# Proposed Solution
Fixed it with the paper size.

# CC
@Charlotte-Morga

[2015-09-17 04:02] Charlotte-Morgan commented on #2342
@lucernae - is this under control?

[2015-09-17 04:15] #1565 closed

[2015-09-17 04:17] samnawi commented on #2273
@Charlotte-Morgan I also find this issue in my computer.
Similar with @harrymahar get, when I run All of DKI jakarta Province, there is a python error message.
But, when I try to make it smaller extent analysis, the IF run very well.

This the error message
![selection_202](https://cloud.githubusercontent.com/assets/8871958/9924827/83c82e00-5d2d-11e5-8aa7-3d4470fa3650.png)

# PC Platform
Linux Ubu

[2015-09-17 04:20] Charlotte-Morgan commented on #2185
hi @mach0 - can you help with this please ?

[2015-09-17 04:21] Charlotte-Morgan commented on #1824
@samnawi - please see if you get this too

[2015-09-17 04:22] Charlotte-Morgan commented on #2302
hmm - try changing windows version :)

[2015-09-17 04:23] Charlotte-Morgan commented on #2302
@roscoeKartoza
closing this as no one can replicate. Please reopen if it remains an issue

[2015-09-17 04:23] #2302 closed

[2015-09-17 04:27] lucernae commented on #2342
Will do it, but I think we will just let the old report be?

[2015-09-17 04:58] timlinux commented on #2313
Ok in the #2377 PR I set the order like this to match @samnawi's list:

[code]

Here is a little preview of how it looks:

<img width="394" alt="screen shot 2015-09-17 at 11 53 10" src="https://cloud.githubusercontent.com/assets/178003/9925257/72621594-5d33-11e5-9517-92b4c00f1ce3.png">

<img width="400" alt="screen shot 2015-09-17 at 11 53 24" src="https://cloud.githubusercontent.com/assets/178003

[2015-09-17 05:00] Charlotte-Morgan commented on #2342
please see comment for exact wording.
Old reports are fine to stay as they are.

[2015-09-17 05:20] timlinux commented on #1212
I'm busy downloading the test datasets....

[2015-09-17 05:26] Charlotte-Morgan commented on #2313
the top looks good
between unit and source - can we add attribute field, attribute values, classes, resample
...
then right at the bottom
...
source, url, scale, date, license, kw version

[2015-09-17 07:26] lucernae commented on #1986
The metada in the analysis_data folder is already updated.
This affects population raster.

[2015-09-17 07:26] #1986 closed

[2015-09-17 07:27] #2342 closed

[2015-09-17 07:31] samnawi commented on #2313
It's good.

But, could we make some change in this stuff?
- **Field** (3rd row from bottom) changes to **Analysis Field**
- **Name field**, maybe we can change to **Object name** and the value is the name of the object (depend on the attribute)

I propose it, because maybe user will confuse about the word "field" in this part.

Because, if I a new user in InaSAFE, maybe I have a think that all of

[2015-09-17 07:34] Charlotte-Morgan commented on #2313
hi @samnawi - i think we have already dealt with all this naming. The names we see are the names we use in the training materials and metadata. Lets leave the names as they are for now.
This final tweak was about the order.

thanks

[2015-09-17 07:37] samnawi commented on #2313
Ok @Charlotte-Morgan.

Thank you.

[2015-09-17 07:44] #2321 closed

[2015-09-17 08:03] timlinux commented on #1212
Hi @emirhartato I know you probably long forgot about this ticket now, but just a note to say that I downloaded the test datasets you referenced and ran the scenario on InaSAFE 3.2, QGIS 2.8.3, OS X Yosemite. Everything runs fine for me and I will close this ticket.

![Uploading Screen Shot 2015-09-17 at 14.58.57.png…]()

[2015-09-17 08:03] #1212 closed

[2015-09-17 08:09] timlinux commented on #2313
Based on chat with @Charlotte-Morgan we will put classes after data type (internally called layer_mode) so revised version will be:

[code]

I am also going to add some magic to present the attribute values in a more friendly way...

[2015-09-17 08:11] Charlotte-Morgan commented on #2313
what would a wizard be without some magic

[2015-09-17 08:39] severinmenard opened #2380 "Advice for sentences cuts for easier internationalization"
Currently translations the plug-in text https://www.transifex.com/aifdr/inasafe-apps/translate/#fr

One issue is that the sentences are sometimes truncated in Transifex in a way it makes direct translations impossible. Eg: "Click on the run button below" from the toggle panel is divided into:
- Click on the
- run
- button below

The thing is that in Latin languages the sentence is phrased with the

[2015-09-17 09:02] samnawi commented on #2306
@cchristelis I've tried to run it in my computer, and the result is fine although I run the all categories are < 1 km.
![selection_208](https://cloud.githubusercontent.com/assets/8871958/9929167/3a2c71ca-5d55-11e5-971c-c03260b1eb05.png)

But, the problem is appear when I add small range like 0.1. I think the processing goes into an infinite loop when there is a small radius like 0.1.

PC Platform

[2015-09-17 10:15] timlinux commented on #2313
Here is the next iteration.....

<img width="418" alt="screen shot 2015-09-17 at 17 12 43" src="https://cloud.githubusercontent.com/assets/178003/9930661/7507d2c6-5d5f-11e5-877a-47cc82b44aea.png">

@Charlotte-Morgan I think I will go ahead and add that special rule for classes too (and move it up under ```data_type``` too) as I can't cope with the non human friendly text there :-P

[2015-09-17 10:15] timlinux commented on #2313
btw the bullets are there because the high / med / low could contain more than one value each....

[2015-09-17 10:28] timlinux commented on #2313
<img width="394" alt="screen shot 2015-09-17 at 17 26 43" src="https://cloud.githubusercontent.com/assets/178003/9930920/515840de-5d61-11e5-9fcb-fbcd83ae5ecb.png">

@Charlotte-Morgan how about this? Alternative option is this:

<img width="399" alt="screen shot 2015-09-17 at 17 28 05" src="https://cloud.githubusercontent.com/assets/178003/9930942/7d9075d6-5d61-11e5-87b5-4de491b7c76a.png">

I also

[2015-09-17 11:38] timlinux opened #2381 "We need to update references to 'Attribute values' in the docs"
I found a problem in the defintions.py which refers to value maps incorrectly. To fix it I changed the term to ``Attribute value map`` .

Unfortunately (sorry everyone!) we will need to search and replace this term in the docs :

``Attribute values`` -> ``Attribute value map``

[2015-09-17 11:46] ismailsunni commented on #2273
Note for myself (or others)
The problem is caused by the ErrorMessage object want to add `NULL` (not None) in here https://github.com/AIFDR/inasafe/blob/develop/safe/messaging/error_message.py#L191. This `NULL` value is coming from here (https://github.com/AIFDR/inasafe/blob/develop/safe/impact_statistics/postprocessor_manager.py#L567). So, the `NULL` value is the result from `_generate_tables` me

[2015-09-17 11:59] ismailsunni commented on #2273
Further note:
I debug that `_generate_tables` method. Abracadabra. The bug is gone. It doesn't return the `NULL` value.

[2015-09-17 14:53] timlinux commented on #2313
Here is a little video showing the keywords rendered for each of the standard test datasets:

https://youtu.be/SJVmzJfgRLA

[2015-09-18 01:56] #2210 closed

[2015-09-18 02:02] #2313 closed

[2015-09-18 02:03] ismailsunni opened #2382 "Merge Ettiene's PR to Experimental Branch"
The PR is #2108

[2015-09-18 02:08] Charlotte-Morgan commented on #2313
LGTM - one final tweak :)
in aggregation can you rearrange so that logical pairs are adjacent. ie
youth attribute
youth default
adult attribute
adult default
elderly attribute
elderly default
female attribute
? female default (not there now)

[2015-09-18 02:23] ismailsunni commented on #2273
Finally, found the problem. There are some `NULL` values in the `NAME` attribute in the aggregation layer:
![selection_064](https://cloud.githubusercontent.com/assets/1421861/9950643/d5a7dc34-5de6-11e5-8963-7a4235925084.png)

[2015-09-18 06:56] samnawi opened #2384 "BUG : We need add one column for "Not Affected""
# Problem
In the report, espesially for the structures and roads exposed, I think we should add a new column for "Not Affected" value.

# Detail
![selection_220](https://cloud.githubusercontent.com/assets/8871958/9953490/7fecbbb4-5e0b-11e5-8b09-12ddbf89c838.png)

![selection_221](https://cloud.githubusercontent.com/assets/8871958/9953496/845a13d6-5e0b-11e5-9acf-6b317a9faa48.png)

So, the user will

[2015-09-18 07:09] timlinux commented on #2265
A little bug = a lot of work :-P

What do you think of this:

<img width="573" alt="screen shot 2015-09-18 at 14 03 57" src="https://cloud.githubusercontent.com/assets/178003/9953810/4efe6ad6-5e0e-11e5-863c-062f57e9cb86.png">

Some notes:

* Logo is properly overlaid onto orange bar
* fonts are all sans serif for consistency with our style guide
* Supporters title is more generic for when you swap

[2015-09-18 07:20] timlinux commented on #2265
More tweaks based on comments from @Charlotte-Morgan on gitter:

<img width="572" alt="screen shot 2015-09-18 at 14 17 23" src="https://cloud.githubusercontent.com/assets/178003/9954081/3d7f48c8-5e10-11e5-899f-74ced7813fdc.png">

* Logo made bigger
* Illustrates what it looks like with default disclaimer and logo
* Below is side by side of logo tweak

<img width="565" alt="screen shot 2015-09-18 a

[2015-09-18 07:25] samnawi opened #2385 "BUG : Sorting the hazard classification"
# Problem

Some of the hazard classification in the report, has no consistency order and the wrong order.
# Screenshot

![selection_224](https://cloud.githubusercontent.com/assets/8871958/9954024/d5abb22c-5e0f-11e5-9d65-9007508a6b7c.png)
![selection_227](https://cloud.githubusercontent.com/assets/8871958/9954098/6ece5c8e-5e10-11e5-8e9a-70c71248c69e.png)
![selection_226](https://cloud.githubusercon

[2015-09-18 08:34] samnawi opened #2388 "Add a Note in All Impact Function"
# Problem
When we doing systematics testing, we found that there is no Note in the roads impact (Both of flood and tsunami).
![selection_228](https://cloud.githubusercontent.com/assets/8871958/9955336/545fa72c-5e1a-11e5-8f15-2766c6175dd2.png)

# Proposed Solution
Give notes in here, to explain about the data and the process.

# CC
@Charlotte-Morgan @fredychandra @timlinux

Thankyou

[2015-09-18 08:41] samnawi opened #2389 "Action Checklists in all of IF"
# Problem
In Roads impacted report, there is no checklist action in the report.

![selection_229](https://cloud.githubusercontent.com/assets/8871958/9955453/69cdd5ec-5e1b-11e5-902e-efc382d92b83.png)

# Proposed Solution
Make the action checklist for the all of IF.
@fredychandra for the next version, maybe you can give the advice about the content of action checklist.

# CC
@Charlotte-Morgan @timli

[2015-09-18 08:57] samnawi opened #2390 "The name of volcano point hazard category"
# Problem
If we run the volcano point analysis, the name of hazard category is presented as the numeric format. I think it's not good and possibly make the user confuse.

![selection_230](https://cloud.githubusercontent.com/assets/8871958/9955667/116d130c-5e1d-11e5-9cbc-0093abaff2db.png)

# Proposed Solution
make it more nice, like 3 km, 5 km, or radius 3 km, 5km, or something like that.
@Charlott

[2015-09-18 10:56] Charlotte-Morgan commented on #2354
updated again - i think we are in a position to remove the release blocker status - but still need to keep working on this

[2015-09-18 21:37] kant opened #2395 "Typo on inasafe_en.ts?"
On string #5292 is right this word: extraKeywords or extra Keywords?

[2015-09-19 07:24] timlinux commented on #2395
Thanks will be fixed in PR

[2015-09-19 10:23] #2395 closed

[2015-09-19 18:04] #2265 closed

[2015-09-20 02:46] Charlotte-Morgan opened #2403 "Bug: new map templates"
The new map templates look very smart; however there are a few bugs.
- [ ] no default template is set.
- [ ] no disclaimer appearing on A3 portrait or landscape blue
- [ ] something has happened to the coordinates - what are these numbers? (it used to be in degrees)
- [x] template names "A3 - portrait - blue" might be a more logical naming convention

papercut
- [ ] do we need the top level headin

[2015-09-21 01:25] fredychandra commented on #2390
Hi @samnawi @Charlotte-Morgan @timlinux @ismailsunni @lucernae

The heading on the table is Hazard Category should change to be relevance with the content. The content actually say about radius  (distances) from center of volcano (eruption point) that might affect [people; building; road; crops].

I think the heading of the table result analysis  can be change into Hazard Buffer.

Thank you,

[2015-09-21 01:57] Charlotte-Morgan commented on #2390
I think the reason it says category is because it uses a categorical IF and the results try to relate to the words the user would have put into the analysis -
I would like to review all volcano related terminology together - rather than fix just one at a time

[2015-09-21 02:44] timlinux commented on #2403
Templates renamed in timlinux/inasafe@952c601

I actually never changed anything on the map element  - I will take a look...my guess is you are using on the fly projection?

[2015-09-21 02:46] Charlotte-Morgan commented on #2403
update - testing on another machine - coords are fine, disclaimer appears but the old one not the new one.

[2015-09-21 02:58] samnawi commented on #2403
@Charlotte-Morgan I've tried to run the newest pull, but this is my result, depend of your list :
- [ ] no default template is set. --> **yes** for the first
- [ ] no disclaimer appearing on A3 portrait or landscape blue --> **no**, the disclaimer is appear in my result
![selection_231](https://cloud.githubusercontent.com/assets/8871958/9984659/1e982df2-6046-11e5-91b2-b71b5bc03505.png)
- [ ] somet

[2015-09-21 07:11] timlinux commented on #2403
For the record these are local configurations side effects from your InaSAFE options

I think your map is using on the fly projection (not fully supported yet in InaSAFE).

[2015-09-21 07:12] Charlotte-Morgan commented on #2403
thanks - i think you are correct.
Nothing here that cant wait till 3.2.1

[2015-09-21 07:13] Charlotte-Morgan commented on #2381
@timlinux - is this still an issue?

[2015-09-21 07:14] Charlotte-Morgan commented on #2273
@ismailsunni - is this fixed?

[2015-09-21 07:34] #2273 closed

[2015-09-21 08:07] timlinux commented on #2361
Hi @samnawi correct - that road_type_postprocessor contains the hard coded list I was referring to. I am working on a fix for this.

[2015-09-21 10:30] ismailsunni opened #2406 "Add Help Page for Every Dialog"
Problem
----------
Add help button that will show help page for every dialog.

[2015-09-21 10:31] #2403 closed

[2015-09-21 18:44] kant opened #2407 "Typo on inasafe_en.ts?"
On string # 1299
"The minimal threshold is greater then the maximal specified threshold. Please check the values."
it should not be
"The minimal threshold is greater than the maximal specified threshold. Please check the values."

[2015-09-22 02:37] Charlotte-Morgan commented on #2290
Hi @timlinux
Grateful if someone can get on to this, especially now that the new site is live and the AIFDR site is coming down.

[2015-09-22 02:55] ismailsunni commented on #2407
hi @kant
It seems both of your strings are the same. Perhaps you made a typo?

Thanks

[2015-09-22 07:59] timlinux opened #2408 "Dock is missing 'in the event of' label on OS X"
# Problem

I have InaSAFE 3.2 installed on OS X Yosemite using QGIS 2.8.3 and the ``in the event of`` label is missing from the dock.

# Details

Tim changed the layout spacing in dock in the run up to the 3.2 release - maybe that caused the regression.

![screen shot 2015-09-22 at 14 48 38](https://cloud.githubusercontent.com/assets/178003/10013273/26ee0ae0-613a-11e5-83b8-2bad7b2c2a6b.png)

# Pro

[2015-09-22 10:19] timlinux commented on #2290
So I propose that we use ``DMInnovation`` instead of ``AIFDR`` for all 'current' links

[2015-09-22 10:25] #1468 closed

[2015-09-22 10:27] #2216 closed

[2015-09-22 11:18] Charlotte-Morgan opened #2409 "UI: reporting papercuts"
The following are some suggestions for consistent style and terminology in InaSAFE reports:
- [x] numbers are right aligned
- [ ] numbers use a separator (comma)
- [ ] terminology in the report matches terminology in the dock question and impact function. eg how many buildings will be flooded in a flood impact function should also use the words xxx buildings are flooded etc in the report.

a paper

[2015-09-22 11:26] Charlotte-Morgan opened #2410 "BUG: Flood raster on building - error in report"
# problem
The total number of  affected items listed in the report actions is incorrect - it is in fact the total number of items in the analysis area.

eg
Jakarta flood raster on buildings - whole analysis area
action list mentions 2016 closed schools and 128 closed hospitals
but this is the total number of schools and hospitals not just closed (affected)
![image](https://cloud.githubusercontent.

[2015-09-23 08:04] #2408 closed

[2015-09-23 09:15] MariaSolovyeva commented on #2290
Hello @Charlotte-Morgan
Here is the list of references to AIFDR on the website:

Home page: http://inasafe.org/ - just below the screenshot "InaSAFE is free software that was developed jointly by Indonesia (BNPB), Australia (AIFDR) and the World Bank (GFDRR)."

Press page: http://inasafe.org/about-inasafe/press/ - 3 last articles

Supporters page http://inasafe.org/about-inasafe/supporters/ - the

[2015-09-23 09:17] MariaSolovyeva commented on #2290
@Charlotte-Morgan , please let me know with what we exchange those links

[2015-09-24 02:06] timlinux commented on #2389
If you can provide input on what actions you would like to see, we can include this in 3.2.1

[2015-09-24 02:07] timlinux commented on #2388
Can you provide some input on what you would like to see in the notes please?

[2015-09-24 02:09] timlinux commented on #2381
@Charlotte-Morgan I need to trawl through the docs and check.

[2015-09-24 02:12] timlinux opened #2413 "CSS for geonode obscures toolbar"
Hi @MariaSolovyeva

Can you please add some padding to push the content further down in the geocode theme?

If you visit: http://staging.geonode.inasafe.org/maps/new you will see a page like this:

<img width="884" alt="screen shot 2015-09-24 at 09 59 03" src="https://cloud.githubusercontent.com/assets/178003/10064476/f6418fd8-62a2-11e5-8646-62c1c94a60d8.png">

Under the green second level nav men

[2015-09-24 02:29] timlinux commented on #2380
Hi @severinmenard

So let me try to explain what is going on in the code and then maybe things will make more sense for you. The phrase you refer to comes from this snippet:

[code]

(see https://github.com/AIFDR/inasafe/blob/develop/safe/gui/widgets/dock.py#L582)

So we have an abstraction layer for messages so that we can present them as plain text, html, markdown, or even JSON and we follow the

[2015-09-24 02:31] timlinux commented on #2370
Just a note that we agreed to defer this fix until 3.3

[2015-09-24 02:55] timlinux opened #2414 "Keywords wizard should not offer to use impact layer as hazard"
While showing InaSAFE to @akbargumbira the other night we were playing with the wizard and noticed that it will try to use the impact layer from a previous analysis as a possible hazard layer. Here is a screen sequence to illustrate:

<img width="1021" alt="screen shot 2015-09-24 at 09 41 16" src="https://cloud.githubusercontent.com/assets/178003/10064264/ce65e5ce-62a0-11e5-9ac8-207887ab4806.png">

[2015-09-24 04:08] ismailsunni commented on #2362
We have changed the way we generate the apidocs, from using python script to native sphinx.
Some improvents:
- [ ] Update index.html
[code]
- [ ] Change the color theme to green (coder theme)
- [ ] Remove the side menu
- [ ] Update the deployment details in wiki page
- [ ] Use apidocs specific theme
- [ ] Add make target for generating apidocs for OSX

Currently, we are only able to generate the a

[2015-09-24 13:35] timlinux opened #2416 "We need to publish an ISO codelist"
This will allow people receiving InaSAFE datasets which include ISO 19115 XML data to back reference the concepts which are domain specific to InaSAFE. See the transcript of the chat I had with @tomkralidis for more concepts below:

[code]

[2015-09-25 04:29] timlinux opened #2417 "Please allocate more CPUs to inasafe-docker"
Hi @hvisage

We need more processing power in the inasafe-docker container. Currently is shows only one CPU available:

[code]

Please allocate as many CPU's as you can to this container.

Please note that this is urgent.

[2015-09-25 07:15] timlinux commented on #2417
Please inform us before you do any system restarts...

[2015-09-25 07:18] timlinux commented on #2417
Thanks @hvisage! For future reference lets schedule any system restarts in a way that we can be around for it and inform our partners that we will have a scheduled downtime.

[2015-09-25 07:19] #2417 closed

[2015-09-25 08:03] hvisage commented on #2417
Sorry I read it was urgent.

---
replied from my small phone :)
--
Hendrik Visage

On 25 Sep 2015 9:19 AM, "Tim Sutton" <notifications@github.com> wrote:

[2015-09-25 09:46] ismailsunni commented on #2197
Can you check my update @timlinux ?

I am still not sure about `dynamic_translation`. I think it's not working anymore.

[2015-09-28 04:35] samnawi opened #2419 "BUG : Wrong Classification in the inundated building"
# Problem

When I run InaSAFE using flood raster VS building, I found some building that get wrong classification in the result. As in this picture :
![selection_219](https://cloud.githubusercontent.com/assets/8871958/10127591/5e1f5184-65ce-11e5-8770-0c2e49f3ea25.png)

Based on the legend, the dark blue has >= 1 m depth, the light blue has 0.5 - 1 m depth, and the cyan has 0.1 - 0.5 m depth.
Some

[2015-09-28 07:20] Charlotte-Morgan commented on #2290
hi @MariaSolovyeva
proposed changes
Home page: http://inasafe.org/ - just below the screenshot "InaSAFE is free software that was developed jointly by Indonesia (BNPB), Australian Government and the World Bank (GFDRR)."
use this link http://dfat.gov.au/geo/indonesia/development-assistance/Pages/disaster-risk-management-in-indonesia.aspx

Press page: http://inasafe.org/about-inasafe/press/ - 3 last

[2015-09-28 08:30] ismailsunni commented on #2416
Hi @timlinux
I am a little bit off here (even after reading the full conversation in gitter).

So, this codelist is a public reference to see what extra item that we store in our ISO 19115 XML?
If so, is it like making a custom XML "profile" for InaSAFE?

And how will be the workflow when other people/machines want to work with InaSAFE's ISO 19115 XML?
Lastly, I still don't understand the format o

[2015-09-28 09:14] fredychandra commented on #2389
HI @samnawi and @ismailsunni
Here are two check lists that I propose to use in  Road Impact Analysis Result. We can add more if find something else.

1.  Try to Identify which potential roads that able to access for evacuation and logistic distribution
     purpose. What type of transportation reliable to use in that order?
2. Identify what equipment needed to open access of affected roads. Where

[2015-09-28 09:53] ismailsunni commented on #2406
Hi @timlinux

I have finished adding help page for every dialog. I use the same schema (using stacked_widget) for all of them except dock. I think it will be too small to show the help in the dock, so I created new window for showing the help text. Moreover, I think it's good to put the all help in this windows.

Pass this ticket to your for completing the help text. :)

[2015-09-28 09:59] ismailsunni commented on #2362
hi @MariaSolovyeva
Can you help me for creating specific theme for InaSAFE api docs page? Currently, we use the theme in https://github.com/AIFDR/inasafe-doc/tree/develop/docs/themes/inasafe-theme and generate the api docs using sphinx.

[2015-09-28 10:07] Charlotte-Morgan commented on #2389
@fredychandra - thank you for your suggestion
Does this 'plain english version" fit with the other action list styles?
Which roads can be used to evacuate people or to distribute logistics?
What type of vehicles can use the unaffected roads?
What sort of equipment will be needed to reopen roads & where will we get it?

[2015-09-28 14:47] MariaSolovyeva commented on #2290
ok, done!

[2015-09-28 21:10] tomkralidis commented on #2416
Hi @ismailsunni: making ISO codelists are not quite ISO profiles.  They do allow a standardized way for us to provide a public standards-based reference to our vocabularies and reference them accordingly where ISO codelists are referenced in metadata.  The schema for codelist catalogues is available at http://www.isotc211.org/2005/gmx/.  More examples:

- http://www.isotc211.org/2005/resources/Cod

[2015-09-29 00:51] ismailsunni opened #2420 "Fix Typo and String Issues"
Problem
-----------
We got some input from translator in transifex, related to typo or something in the strings. See here: https://www.transifex.com/aifdr/inasafe-apps/translate/#fr/$/59607807?issue=yes

Any suggestions are welcomed :)

[2015-09-29 01:36] Charlotte-Morgan commented on #2290
Great - can you please grab the 3 articles and put them on the InaSAFE page? Not just links but grab the whole thing. It will all go off line on 30 September ie tomorrow.

[2015-09-29 03:37] fredychandra commented on #2389
:+1: Charlotte, this looks fantastic :)

[2015-09-29 03:55] fredychandra commented on #2388
Propose notes for road IF, Flood and Tsunami

This is for Flood impact report
1. Roads are flooded when flood levels exceed **1.0 m**
2. Roads are closed if they are flooded
3. Roads are open if they are not flooded

This is for Tsunami Impact report
1. Roads are inundated when water levels exceed **1.0 m**
2. Roads are closed if they are inundated
3. Roads are open if they are not inundated

**Th

[2015-09-29 04:05] Charlotte-Morgan commented on #2410
another proposed solution is to not quote the affected numbers in the action list.
see #2389 and apply same solution there too

[2015-09-29 09:12] ismailsunni commented on #2388
Hi @fredychandra
Thanks for the notes.

Btw, we also have flood polygon on road. And the notes above can't be applied in this IF since we use attribute value to identify which polygon is inundated. For example, in attribute FLOODPRONE, and the value can be YES / NO.

If you have notes for this IF, I can add it to the IF on version 3.2.1.

We can use the same notes for point 2 and 3. But for point

[2015-09-29 09:18] Charlotte-Morgan commented on #2354
hi @adissadis, @timlinux, @rduivenvoorde @MariaSolovyeva
I took the release blocker status off this ticket but it is still a really high priority.
Could eveyone please do their bit to get this into the bug fix release 3.2.1 this week?

[2015-09-29 09:38] samnawi commented on #2388
@ismailsunni My propose for point1, can we use like in the building?
So, the note will written like this :
1. Roads are said to be inundated when in a region with field "FLOODPRONE" in "YES" .

cc : @Charlotte-Morgan how about this?

[2015-09-29 09:43] Charlotte-Morgan commented on #2419
I think the "make it happy", needs to look at the analysis extent. Looks like buildings are being included in the impact assessment when they are not coincident with the hazard data.
@ismailsunni - i've assigned this to you, but feel free to pass it on :)

[2015-09-29 10:10] ismailsunni commented on #2389
Sample result:
<img width="377" alt="screen shot 2015-09-29 at 4 54 58 pm" src="https://cloud.githubusercontent.com/assets/1421861/10161043/81dbc3e8-66cb-11e5-930c-88e49fb7a90f.png">
The branch that I work on it: https://github.com/ismailsunni/inasafe/tree/fix_2388_2389

Please check @samnawi @fredychandra @Charlotte-Morgan

[2015-09-30 01:57] ismailsunni commented on #2388
@samnawi That's better. I will change it.

[2015-09-30 06:51] #2388 closed

[2015-09-30 06:53] ismailsunni commented on #2389
Closed in #2421

[2015-09-30 08:01] adissadis commented on #2278
@ismailsunni this issue still occured when i tried to run InaSAFE for Building Points and also in the IFCW i can still access the building points for flood vector hazard.

![image](https://cloud.githubusercontent.com/assets/2520159/10187648/1052dbb2-6784-11e5-9a5b-b72364445d6c.png)

[2015-09-30 12:23] MariaSolovyeva commented on #2050
hi @Charlotte-Morgan , the empty cells are removed

[2015-09-30 12:26] MariaSolovyeva commented on #2290
@Charlotte-Morgan , the articles are on the site

[2015-09-30 16:20] tomkralidis opened #2422 "add Keywords Creation Wizard confirmation dialog"
As part of the `Keywords Creation Wizard` workflow, it would be valuable to provide a confirmation dialog once the user completes this wizard to display what was saved and where it was saved to on disk.

[2015-09-30 20:04] timlinux commented on #2422
@borysiasty Could we add a final page on the wizard that confirms the keywords created (using ```keyword_io.to_message(keywords)```) and dropping the results in a web view would be fine. Also showing the names of the files that were written if applicable would be great.

[2015-10-01 04:36] ismailsunni commented on #2278
@adissadis
can you paste here the keywords of both hazard and exposure layers?

[2015-10-01 06:23] Charlotte-Morgan commented on #2050
that's great thank you

[2015-10-01 06:23] #2050 closed

[2015-10-01 06:29] Charlotte-Morgan commented on #2290
hi @MariaSolovyeva - thanks for rescuing the articles and cross posting. The articles contain internal links that are no longer valid ... so i might need to edit the articles to fix this.

Can you please also change the link on the supporters page:
Supporters page http://inasafe.org/about-inasafe/supporters/ - the Australian Aid logo leads to http://www.aifdr.org/
please use this link http://dfat.

[2015-10-01 06:49] Charlotte-Morgan opened #2423 "WEB: Bug - link to realtime"
the link to realtime map on inasafe.org does not connect to realtime page

#cc
@timlinux

[2015-10-01 06:58] adissadis commented on #2278
[code]

[code]

[2015-10-01 09:55] borysiasty commented on #2414
@timlinux what is the best keyword to detect the layer is an impact layer? I'm thinking about one of those three:

 - impact_summary
 - postprocessing_report
 - elapsed_time

Probably the first one, if it's not going to be changed soon.