[2015-03-12 01:54] timlinux opened #1744 "We need to remove the word 'experimental' from any production IF's"
# Problem

Currently we have some IF's that have titles with the word 'experimental' in them. This makes it look like the IF is not ready to be used. We should only have 'ready to use' IF's in our code base.

# Proposed solution

- [ ] Remove any IF's that truly are experimental
- [ ] Update all IF names to ensure that they are not marked as experimental

[2015-03-12 02:09] timlinux opened #1745 "Raster flood continuous on roads does not show up in master"
# Problem

I set my QGIS up with these layers:

* ``inasafe_data/hazard/Flood_Current_Depth_Jakarta_geographic.asc``
* ``jakarta_roads.shp`` (downloaded using OSM downloader)
* ``inasafe_data/hazard/Jakarta_RW_2007flood.shp``

If I hide the flood shape and have the raster flood and OSM roads visible, I get no IF shown in dock.
If I hide the raster flood and show the vector flood, the IF is shown a

[2015-03-12 02:12] timlinux commented on #1745
Note we tried updating the units to `m` in raster keywords but that also did not help.

[2015-03-12 02:14] timlinux opened #1746 "Selecting analysis area leaves blue box covering whole map"
# Problem

When I select the analysis area in master, the background in covered in a blue box which is not removed when I make my selections.

This is a regression and there was a previous ticket about this.

# Proposed solution

Investigate why the issue happens, fix and apply to master and develop

[2015-03-12 02:16] timlinux commented on #1746
See also #1417

[2015-03-12 02:52] timlinux opened #1747 "We need to finalise the new impact function base class"
# Requirement

We want to adopt the new IF architecture as per #1196

We need to finalise the base class. Currently our view is that is should have the following methods and properties:

[code]

For 3.1 we should do a minimal implementation that can be used by derived classes. In a future version we will add functionality to the base class (to be called ``ImpactFunctionBase``) such that many of th

[2015-03-12 06:21] timlinux commented on #1746
@Gustry can you take a look at this please?

[2015-03-12 06:56] #1744 closed

[2015-03-12 06:56] #1745 closed

[2015-03-12 07:25] Gustry commented on #1746
@timlinux  I can't replicate it. Both on master and develop, the blue background is removed when the windows is being closed.
I tried with the cancel button, the selection on the map, manual selection.
I get only the blue edges, which seems to be normal, I can toggle rubber bands from the toolbar.

[2015-03-12 10:46] cchristelis commented on #1671
Hi @Jannes123, it looks like this issue is related to the #1689. It might be good to chat with @akbargumbira at some point.

[2015-03-12 14:39] Gustry opened #1752 "Selecting analysis area needs to refresh the rubberbands when the window is closed"
I need to move the map canvas to get rubber bands refreshed when the window is closed.

[2015-03-12 14:42] Gustry commented on #1746
According to @akbargumbira on hipchat, I should try projects which are in inasafe_data. I tried all of them, but I can't still replicate.
The blue background is removed each time.
However, I noticed this little bug : https://github.com/AIFDR/inasafe/issues/1752

[2015-03-12 15:12] Gustry commented on #894
I can't replicate it.
With OTF enabled, it works.
With OTF disabled, I get
``The bounding box is not valid. Please make sure it is valid or check your projection!``
@timlinux Should the OSM downloader allow to download if OTF is disabled, and then activate it ?

[2015-03-12 15:12] #894 closed

[2015-03-13 05:04] gubuntu opened #1753 "We need an InaSAFE skin for geonode"
IsaSAFE's GeoNode instance, which is (will be) at http://geonode.inasafe.org needs to be themed to fit in with the rest of the InaSAFE ecosystem.

See 'Bootstrap and JQuery' section at http://geonode.org/dev_features.html for an overview of the technologies GeoNode uses. Most of the files to work on are probably here: https://github.com/GeoNode/geonode/tree/master/geonode/static/geonode.

I've sav

[2015-03-13 07:45] Gustry commented on #425
Ok to work on it.
Could you answer the questions above ?
What is the difference between the PR https://github.com/AIFDR/inasafe/pull/1676 ?

[2015-03-13 08:24] cchristelis commented on #188
I have created a little pixel counter script, that counts the number of pixels for a raster on a canvas. The script is in the following gist:
https://gist.github.com/cchristelis/29f89c854b375ec7f9ef
and can be tested out with a raster layer as the first layer in QGis.

This will be ideal as a validator in the new style IFs. The question is how many pixels will be a suitable amount to start issuing

[2015-03-13 08:24] #188 closed

[2015-03-13 09:18] ismailsunni commented on #1405
I have updated the ParameterContainer so that it can validate between parameter. I have made an example also in the repo.
I have added another update to give ParameterContainer show a desription text.

[2015-03-13 09:30] ismailsunni commented on #1405
And adding the message box that shows custom message if there is a validation error.

[2015-03-13 09:47] cchristelis commented on #210
The memory checker only considers raster layers. The number of features within the extents might be  a worthwhile additional checker. Its gonig to be a bit harder to map to memory usage than pixels in a raster, but there should be some correlation. Also the overhead of determining this number should not be ignored.

[2015-03-13 09:57] Jannes123 commented on #515
Hi @timlinux I get the following error when trying to save a scenario for the batch runner.

File "/home/jannes/.qgis2/python/plugins/inasafe/safe/gui/tools/save_scenario.py", line 171, in save_scenario
    title, 'extent_crs', self.dock.extent.user_extent_crs.authid())
AttributeError: 'NoneType' object has no attribute 'authid'

Maybe I'm doing something wrong but I think the code for saving a sc

[2015-03-13 10:12] Jannes123 opened #1755 "Save Scenario in InaSAFE plugin bug"
The following error is encountered when trying to save a scenario running QGIS on ubuntu 14.04.

* Traceback (most recent call last):
  File "/home/jannes/.qgis2/python/plugins/inasafe/safe/plugin.py", line 717, in save_scenario
    dialog.save_scenario()
  File "/home/jannes/.qgis2/python/plugins/inasafe/safe/gui/tools/save_scenario.py", line 171, in save_scenario
    title, 'extent_crs', self.do

[2015-03-13 13:42] cchristelis commented on #210
I had a look at counting features within a area of interest. This can also be included quite nicely in the new style impact functions' validator. The question is at how many features the analysis starts becoming unreasonably slow...

https://gist.github.com/cchristelis/c126d24986dc8e9df786

[2015-03-15 03:23] gubuntu commented on #1241
testing instance deployed at http://geonode.inasafe.org.

Geonode and geoserver in one docker container; PostGIS in another container. Geonode 2.4 pre-release (master) on Ubuntu 14.04.

Still some network issues to resolve.

[2015-03-17 07:41] #1755 closed

[2015-03-17 08:39] cchristelis commented on #501
I have been struggling to re-produce this as I don't find this data-set. It seems like there is 'no data' in the attribute table to begin with and hence carried forward.
Either as long as this cannot be reproduced, it can't be said for sure whether this is still a problem.

[2015-03-17 10:25] cchristelis commented on #501
This is expected behavior for no data.

[2015-03-17 10:25] #501 closed

[2015-03-17 16:05] cchristelis commented on #1727
The hazard data for the flood vector building impact function assumes there is an attribute that indicates the flooded status for each flood polygon. The impact function first looks for an attribute 'affected', after which it looks for an attribute 'FLOODPRONE'.
The problem you encountered is because the 'affected' attribute was not found and the 'FLOODPRONE' attribute was used.
I have not been ab

[2015-03-17 16:09] cchristelis commented on #1689
When looking at #1727, it became apparent, that we need to let the user select which parameter to use in the "flood_vector_OSM_building_impact" impact function. Using 'affected', 'FLOODPRONE' and 'inapolygon' as defaults where appropriate. This should be a drop down based on available features in the vector hazard layer.

[2015-03-17 16:37] akbargumbira commented on #1689
Yes, we already changed the IF to just look to an attribute specified in the parameter. See here https://github.com/AIFDR/inasafe/pull/1756/files#diff-d6fafa648ce30302acd36c02ba071de9R168, but it's still using the old parameter style

[2015-03-17 22:31] cchristelis commented on #1689
@akbargumbira +1, that looks good.

[2015-03-18 05:21] KathrynOwen commented on #1729
Hello!

I get the feeling that I my feedback might be outdated now given that InaSAFE 3.0 is out and my feedback relates to version 2.2.3 so instead of creating seperate tickets for each issue, i will just dump all the feedback relating to issues i found with running analyses and the data here for now.

So here it goes. All the following feedback relates to using InaSAFE 2.2.3, QGIS 2.6.1, the dat

[2015-03-19 08:43] cchristelis commented on #1728
After chatting with Tim about this, it became clear that for vector on raster operations, such as this example the rules of Zonal stats should be applied, which effectively means that the Null/NaN values are not contributing to the output (treated as 0, which was the first option.) For raster on raster operations, the Null/Nan values should be propagated.

[2015-03-19 09:29] cchristelis commented on #374
No longer relevant.

[2015-03-19 09:30] #374 closed

[2015-03-19 14:14] cchristelis commented on #1455
@akbargumbira I think you are right. I think there are a couple of issues with the current options system both internally and from a UI experience. We should re-think our approach here. This would be a worthwhile update in view of the great work being done on the IF rework. I will have a think about this and try and come up with a suggestion on how to handle these.

[2015-03-19 14:16] cchristelis commented on #1327
I didn't assign this to myself, so it got a little lost in the see of issues.

[2015-03-19 14:16] #1327 closed

[2015-03-19 14:21] cchristelis commented on #1317
Hi @mahardika, I just wanted to let you know that once the needs have been determined that I can help you with the formatting and adding it into InaSAFE.

[2015-03-20 02:39] akbargumbira commented on #1317
@cchristelis Dika is not working for AIFDR anymore. I think the items in @assefay's link can be converted to the needs profile we have as a start.

[2015-03-22 16:44] severinmenard opened #1757 "Translating the UI"
Would like to know wheter it is possible to translate the Inasafe UI in QGIS and if so, how to do it (I would do it into French). FYI I am a github basic user, I can edit files through it but I am not very comfortable with the forking process.

[2015-03-22 17:00] mach0 commented on #1757
Hi! As InaSAFE is a plugin and not in the QGIS source code it is unfortunately not possible to translate it in QGIS (If I correctly understood what you mean). But it would not matter anyway because the translation of QGIS UI is done the same way as the InaSAFE translation is done .. In transifex. So there would be no difference anyway.

[2015-03-22 17:26] severinmenard commented on #1757
Sorry if I was not clear, my intention was not to translate it from QGIS, but to know if it was possible to get the plugin UI translated so that eg French Speaking people can have the Pluing UI in French. So my question would be: is the plugin potentially multilanguage and if so, where should I go to start the translation (using Transifex)?

[2015-03-22 18:16] mach0 commented on #1757
Ah - ok.. well there is the inasafe_fr.ts in the i18n subfolder of inasafe. https://github.com/AIFDR/inasafe/tree/develop/i18n
You can translate this file with for e.g. Linguist (like in the former days of QGIS translation).
If you want you can just download it and translate it and send it to me and I commit it for you if you want to avoid forking and pull requests.
To summarize it: yes InaSAFE is

[2015-03-22 20:00] severinmenard commented on #1757
Yes, no problem, I can manage a text file :)
Once done, it will automatically show up in the local language when this language is set in the QGIS general preferences?

[2015-03-22 20:01] severinmenard commented on #1757
In the text, there are a lot of <translation type="unfinished"></translation>
Should I change the type?
Other things to be modified?

[2015-03-23 05:45] mach0 commented on #1757
Well, best way is to use a translation editor like qt-linguist (http://qt-apps.org/content/show.php/Qt+Linguist+Download?content=89360) or Kbabel (http://l10n.kde.org/tools/). It's more dangerous to directly edit the file with a text editor because if you forget something the file is damaged.
Hope this helps

[2015-03-23 08:17] #1679 closed

[2015-03-23 11:40] #1659 closed

[2015-03-23 12:50] timlinux commented on #1746
One theory I have about this is that it could be a side effect of having both InaSAFE master and InaSAFE develop loaded at the same time and double slot calls taking place. It would be good if the next time this issue raises its head that we check that there is only one InaSAFE copied into the QGIS plugins dir.

I am going to close out this issue as it is hard to replicate.

[2015-03-23 12:50] #1746 closed

[2015-03-23 12:52] timlinux opened #1758 "IF Options dialog has no top level form and tab layouts"
# Problem

Yegads, every form should have a top level layout!

Currently if you resize the options dialog the controls in the dialog do not absorb the new space.

# Proposed solution

Add grid layouts to both the form and the tab widgets.

[2015-03-23 12:56] timlinux commented on #1484
This was fixed in 3.0 release. I am adding a further fix to allow resizing on hidpi screens.

[2015-03-23 20:17] timlinux commented on #1681
# CC

@Gustry

[2015-03-24 06:37] Gustry commented on #1757
Hi Severin, I'm a french speaker too, so I can help you if you need.
It's easier to translate the file with QtLinguist.

[2015-03-24 08:20] Jannes123 opened #1762 "Impact functions options dialog: options tab"
update impactfunctions options dialog dynamic tab creation function to build widgets using parameter containers

#1689

[2015-03-24 08:28] Jannes123 opened #1763 "Integrate new-style parameters update into new-style IF code"
using @akbargumbira 's code to integrate,

 clonig from https://github.com/akbargumbira/inasafe/commit/270531e49c450c0394215f9adfc30e3fb1e8683b
last commit

this is part of #1689

[2015-03-24 12:29] #1758 closed

[2015-03-24 15:09] Gustry opened #1764 "Allow using bookmarks in the "Analysis area""
In the "Analysis area" window, we can set the area manually or with a rectangle on the map canvas.
It would be nice if the user can use one of his bookmark to set the extent.

# Expected outcome
* Users should be able to select the area manually, by drawing a rectangle on the map canvas or by using one of his bookmark.

[2015-03-24 22:58] cchristelis opened #1765 "Impact Report Mixin"
# Problem

The current IF inheritance architecture follows the commonality of layer types interacting. This is helping consolidate the impact function calculations. The reports have commonality along a different level. This is mainly along the exposure type.

# Proposed Solution

Factor the report commonality into a Mixin class. This class will provide the IF with the reporting methods as well as

[2015-03-24 23:02] cchristelis commented on #1765
Hi @akbargumbira,

I had a bit of a think about the above issue and have made a first order prototype. Have a look at the pull request and tell me what you think.

[2015-03-25 08:00] Jannes123 commented on #1763
Working on  resolving why the Needs to be evacuated option does not show up for the Flood population evacuation raster Impact Function.

[2015-03-25 10:06] akbargumbira opened #1767 "Volcano Population IF needs review"
I made a new simple test data for population around merapi (10 by 10 raster with the brigher pixel's value 1, the dark one is 0) and using merapi point (the point is right in the middle of population raster), I ran Volcano on Population IF. The result shows this:
![volcano pops clearer](https://cloud.githubusercontent.com/assets/992519/6822242/d04217a2-d310-11e4-8f51-c49de77e5da4.png)

The cumulat

[2015-03-25 11:02] akbargumbira commented on #1767
Oh right, the problem is in the rounding. The analysis result is very satisfying!
![attribute_table](https://cloud.githubusercontent.com/assets/992519/6823271/03af7a82-d319-11e4-9565-af2b4ad89f38.png)

[2015-03-26 08:29] Jannes123 commented on #1763
Updated inundated IFs with new-style parameters

[2015-03-27 05:52] #1764 closed

[2015-03-29 06:19] timlinux opened #1770 "OSM Downloader should always use extent in EPSG:4326"
# Problem

Currently if I use e.g. EPSG:3857 and try to use the downloader, it displays coordinates in m based on the spherical mercator projection and the download fails.

![inasafe openstreetmap downloader_023](https://cloud.githubusercontent.com/assets/178003/6884315/e5a23c66-d5eb-11e4-9c85-c8b46d613570.png)

# Proposed solution

- [x] For the OSM Downloader ensure that the CRS for extent coord

[2015-03-30 06:49] Jannes123 commented on #1763
Completed thepostprocessor tab's integration continuing with the options tab which forms part of #1762

[2015-03-30 06:49] #1763 closed

[2015-03-30 07:42] Gustry commented on #1770
The extent selector doesn't use the same method.

[2015-04-01 05:02] akbargumbira commented on #781
Can we open this again?
So, this is the workflow of running one postprocessor depends on its param:
![img_20150401_113939939_hdr](https://cloud.githubusercontent.com/assets/992519/6934882/72d97190-d866-11e4-845c-4bcc0c399aa0.jpg)

So as Kristy proposed the solution:
"Can the aggregation window be taken out if aggregation is "entire area", I think it isn't necessary to add another param 'disable_fo

[2015-04-01 07:03] Jannes123 commented on #1762
We need to builda custom Dict- and List-ParameterWidget class in order to display all the parameter types

[2015-04-02 06:54] Charlotte-Morgan opened #1774 "BUG: test not working"
this is a dummy ticket

[2015-04-02 06:54] timlinux commented on #1774
@Charlotte-Morgan can you provide a screenshot and some sample data please

(standing by for a picture of a dummy)

[2015-04-02 06:55] Charlotte-Morgan commented on #1774
hi @tim - can we add Iwan please. His github name is samnawi

[2015-04-02 06:56] Charlotte-Morgan commented on #1774
i have lots of tickets to assign to him :)

[2015-04-02 07:01] timlinux commented on #1774
Looks like @samnawi has already been sent an invite - he just needs to accept it

[2015-04-02 12:34] Jannes123 commented on #1762
Finished building DictParameterWidget

[2015-04-02 14:22] cchristelis commented on #1765
The nice thing about using the same functionality is there is now uniformity throughout the reports.

NEW:

![new_building_affected_by_earthquake_nexis_table pdf-0](https://cloud.githubusercontent.com/assets/2319504/6965686/cb95a4aa-d953-11e4-8465-d09f8e966597.jpg)
![new_building_affected_by_earthquake_nexis_table pdf-1](https://cloud.githubusercontent.com/assets/2319504/6965687/cb9e50c8-d953-11e4

[2015-04-02 23:31] Jannes123 commented on #1762
Just committed a ListParameterWidget class just for testing my own code.  @rizky please let me know how it goes I will also try to update some IFs after I integrate with christiaans latest work.

[2015-04-03 00:14] severinmenard commented on #1757
Seems QtLinguist is only for Windows or MacOS. As I use Ubuntu, I will try
with Localize (formerly Kbabel)

On Tue, Mar 24, 2015 at 6:37 AM, Etienne Trimaille <notifications@github.com

[2015-04-03 01:18] lucernae commented on #1762
I've read your commit. @Jannes123 , it is more or less the same idea with what I currently build. But, as I remembered, @timlinux mentions that we wanted to use something like QListWidget so we can select the options. I also made my changes in the AIFDR/parameters repo so we can easily replace safe_extras/parameters package.

For the last concern that I thought, I think we should make the dict_par

[2015-04-03 13:09] Jannes123 commented on #1762
Thanks @lucernae the changes look good to me can you please do a PR to my branch build_widget on inasafe so we can continue the reworking of the parameters with your changes included.   I'm not entirely sure how the inasafe and parameters repos work together but for now I think you can just copy your files in after you pulled buiuld_widget and commit.

[2015-04-03 18:43] mach0 commented on #1757
@severinmenard linguist is surely available for Linux too
I have running it on debian (in package qt4-dev-tools or qttools5-dev-tools). Ubuntu might have similar package names. See here: http://lalescu.ro/liviu/fet/forum/index.php?topic=703.0
Hope this helps

[2015-04-04 23:54] severinmenard commented on #1757
Thanks for the tip, I installed QTLinguist without any problem indeed. Issue now is I cannot open the ts file. I have the msg below about an unexpected tag:

![qtlinguist_error_msg_inasafe_fr_ts](https://cloud.githubusercontent.com/assets/1291055/6995160/8419ea86-db25-11e4-9f10-cf479a8c460e.png)

[2015-04-06 07:21] timlinux opened #1775 "We need an infographic report template"
# Problem

We need a snazzy looking infographic report from InaSAFE. This was a suggestion raised at the September 2014 workshop held in Jakarta. Here is the original (slightly ironic) mockup made by @ingenieroariel at the workshop:

![selection_002](https://cloud.githubusercontent.com/assets/178003/7001719/f6d7ec16-dc3e-11e4-9c8b-a2395c5d5f84.png)

I would very much like to see that it looks in s

[2015-04-06 10:14] akbargumbira commented on #1765
hi @cchristelis, from looking at the uniformity of the report, this is very nice! Thanks, I will look further tomorrow.

[2015-04-06 21:00] #598 closed

[2015-04-06 21:00] cchristelis commented on #598
This has been fixed in the Reporting Mixin update.

[2015-04-06 21:37] cchristelis commented on #1727
@timlinux it seems like this confusion could be caused by the different names for the affected field in the following impact functions:
- In flood_vector_osm_building_impact the metadata targets a field by default called 'FLOODPRONE' ('affected_field', 'FLOODPRONE').
- In flood_vector_building_impact_qgis the metadata targets a field by default called 'affected' ('affected_field', 'affected'),
It

[2015-04-06 21:42] cchristelis commented on #1179
There is a pull request for creating the exposure layer. This change set is found in:
https://github.com/AIFDR/inasafe/pull/1769

[2015-04-07 02:51] Charlotte-Morgan commented on #1775
hi @timlinux @borysiasty @MariaSolovyeva
I fully support the idea of introducing infographics to the InaSAFE reports. I believe @samnawi (Iwan - the new GIS Officer at AIFDR) has some experience with infographics from a previous project with BNPB and UN. Iwan will also pickup some ticket for map templates #1314 and report templates.
 @samnawi - please comment on this ticket and post a picture if y

[2015-04-07 03:52] akbargumbira commented on #1727
hi @cchristelis, I think we can remove flood_vector_osm_building_impact in favor of flood_vector_building_impact_qgis

[2015-04-07 03:57] samnawi commented on #1775
I think is good idea to make a report from InaSAFE using infographics, because in infograhics, beside there is information about map, also we can add the other related information. So, it's more efficient to explain to user / decision maker. In my previous project in BNPB, based on our experience, when we just use a map, some user still have some question, because not all of user is familiar to re

[2015-04-07 04:38] samnawi commented on #1314
For the map template, i think is better if we add more information to put on there. So, InaSAFE just produce one page that include all of information that resulted by InaSAFE. Based on the experience, some user / decision maker will quickly understanding about the information, if we put all of main information in one page. May be, this issue is similiar with #1775 that @Charlotte-Morgan referenced

[2015-04-07 05:56] maning commented on #1775
The above samples by @samnawi looks really nice.  I don't know how this can be automated in QGIS composer though.  But there are some ideas over the QGIS mailinglist of using [D3 + python bridges to interact with qgis/qt map composer](http://osdir.com/ml/qgis-user-gis/2014-10/msg00292.html)

[2015-04-07 06:23] akbargumbira commented on #1775
Yeah, as map composer already has HTML frame, I think it's possible to draw maps and its statistic just by using HTML frame on map composer using D3. This is a bit ironic though, perhaps there is some way to interact with layers loaded in QGIS

[2015-04-07 06:30] Gustry commented on #1757
Did you start editing the file manually ?
The file works well on my laptop. You should probably download it again :
https://raw.githubusercontent.com/AIFDR/inasafe/develop/i18n/inasafe_fr.ts

[2015-04-07 06:35] timlinux commented on #1775
Hi

@samnawi Oh yeah! Those look awesome!

@maning Yes as @akbargumbira mentioned we can probably cheat by using an HTML widget. We could also get @wonder-sk to look at the possibility of adding chart widgets to the core of QGIS composer (much nicer route IMHO). The concept could be:

* add a widget to the map layout
* in widget properties specify chart type (pie / bar) & colours (nice to use QGIS

[2015-04-07 07:16] Charlotte-Morgan commented on #1775
Action:
- [ ] @samnawi to design
- [ ] discuss requirements with @charlotte
- [ ] work out what is already possible in QGIS
- [ ] talk to @martin about what we really need in QGIS
- [ ]  @borys to implement
- [ ] happy users

[2015-04-07 07:22] wonder-sk commented on #1775
Support for charts in QGIS has been on my list for quite some time - it would be great to have that in the core.

I have some concerns regarding HTML frame + D3 (or some other javascript chart library). Not only things get more complicated to set up, but there may be some hidden issues. Just recently I have seen a case of D3-based charts in composer. It somehow worked... unless you wanted to print

[2015-04-07 07:28] #1774 closed

[2015-04-07 07:31] cchristelis commented on #1727
Hi @akbargumbira, I think your proposal looks good, we should have only one. Both these IFs are very similar and only lead to user confusion.

[2015-04-07 08:08] mbernasocchi commented on #781
I don't really agree with this, as there are postprocessors that make sense even with no aggregation.

[2015-04-07 08:17] mbernasocchi commented on #781
I think: if we have non user aggregation layer then we can hide the postprocessors that don'T make sense

[2015-04-07 08:33] timlinux opened #1776 "We need to catalogue mixins and decorators needed for new IF's"
# Problem

We would like to reduce duplication of code and provide a nice clear and simple sematic for writing IF's

For this ticket I am proposing that @cchristelis tabulate a list of all the mixins and decorators we can use and then start to refactor code in IF's to use mixins where functionality is common.

[2015-04-07 08:51] mach0 commented on #1757
Hi!
I was just about to say the same. Yesterday I tested both files (from master and develop branch) and both loaded nicely without any errors in my linguist. Which version of linguist are you using?

[2015-04-07 10:21] #491 closed

[2015-04-07 16:23] severinmenard commented on #1757
Seems it was the file indeed, I downloaded a third time, from your link,
and it works now, thanks !

On Tue, Apr 7, 2015 at 8:51 AM, Werner Macho <notifications@github.com>
wrote:

[2015-04-08 02:33] akbargumbira commented on #1757
Hi All, I think it's better for translators to translate InaSAFE UI in transifex, so that the translator don't need to install anything. There is some changes with the workflow on inasafe doc that affects the translation of the application in transifex.

@timlinux I can spare 2/3 hours of my time this week to set up a separate project in transifex for inasafe code if you want me to do it. This is

[2015-04-08 08:11] #1770 closed

[2015-04-08 10:52] akbargumbira commented on #1627
Hmm, we have implemented some of this in this PR https://github.com/AIFDR/inasafe/pull/1756 as the phase 1.

For the phase 2, these are some list that I have in mind:
- Streamline running an analysis.
Streamline the process of running IF just by having its instance with requested extent and all qgis layers as the input. At the moment, the process of running an analysis is quite tedious (dock -> an

[2015-04-08 13:39] akbargumbira opened #1777 "Make a new transifex project for InaSAFE and set up the scripts needed to push and pull the translations"

[2015-04-09 08:51] akbargumbira commented on #781
Based on the discussion, I removed the 'disable_for_entire_area_aggregation_param'. All the postprocessors make sense for both aoi mode and with aggregation layer provided. If user doesn't want to see the postprocessor, (s)he can always disable it prior to running analysis.

[2015-04-09 08:51] #781 closed

[2015-04-10 04:36] akbargumbira commented on #1757
Hi @severinmenard, instead of translating it to french in QtLinguist, can you make a transifex account and translate it there? https://www.transifex.com/projects/p/inasafe-apps/

There are some benefits using transifex:
- No need to install other applications.
- There is glossary so you can define some terms and what the translation of those terms should be
- Some small features: you can see the l

[2015-04-10 06:45] #1777 closed

[2015-04-10 06:45] akbargumbira commented on #1777
the new project in transifex is here: https://www.transifex.com/projects/p/inasafe-apps/

[2015-04-10 06:45] #1666 closed

[2015-04-10 06:46] #1667 closed

[2015-04-10 06:50] akbargumbira commented on #1511
This issue won't happen again in InaSAFE 3.0. I am closing it

[2015-04-10 06:50] #1511 closed

[2015-04-10 09:02] akbargumbira commented on #1448
Update per 10 April:
# safe.engine.test.test_engine.TestEngine
- [ ] safe.engine.test.test_engine.TestEngine#test_interpolation_from_polygons_error_handling
- [ ] safe.engine.test.test_engine.TestEngine#test_interpolation_from_polygons_multiple
- [ ] safe.engine.test.test_engine.TestEngine#test_interpolation_from_polygons_one_poly
- [ ] safe.engine.test.test_engine.TestEngine#test_interpolation_le

[2015-04-10 11:23] severinmenard commented on #1757
I already have a Transifex account and I used to it, basically I translated
part of the InaSAFE documentation into French with it.

I already started to translate through QT Linguist, so I make a pull
request with the file and continue with Transifex?

On Fri, Apr 10, 2015 at 4:36 AM, Akbar Gumbira <notifications@github.com>
wrote:

[2015-04-10 12:25] akbargumbira commented on #1757
Yes, that would be great. You can make a PR and I will merge it and update
it to Transifex. We will release InaSAFE 3.1 next week (20 April) and it
would be great to have some french translations included :)
On Apr 10, 2015 6:23 PM, "severinmenard" <notifications@github.com> wrote:

[2015-04-10 12:36] severinmenard commented on #1757
I think I will focus first on the UI, then on the reports

On Fri, Apr 10, 2015 at 12:25 PM, Akbar Gumbira <notifications@github.com>
wrote:

[2015-04-10 12:41] severinmenard commented on #1757
What is the best way to provide my file into GitHub? I forked the
repository under my account, now I just click on the Edit (pen Button)
alongside  inasafe/i18n/inasafe_fr.ts and replace the original text with my
text or is there a way to just browse directly to my file?

On Fri, Apr 10, 2015 at 12:35 PM, Severin Menard <severin.menard@gmail.com>
wrote:

[2015-04-10 13:22] akbargumbira commented on #1757
Hmm, I am not really sure about that since I think you edit the .ts file
from a not updated source. Can you email me the .ts file rather to
akbargumbira@gmail.com? I will sort it out and inform you afterward
On Apr 10, 2015 7:41 PM, "severinmenard" <notifications@github.com> wrote:

[2015-04-10 14:01] akbargumbira commented on #1757
Hi @severinmenard, I have updated transifex and inasafe develop with your changes, it's working well
![french](https://cloud.githubusercontent.com/assets/992519/7089223/7cd27aa6-dfc4-11e4-901b-b8d6473f8891.png)

The transifex project for InaSAFE UI is here https://www.transifex.com/projects/p/inasafe-apps/

Thanks!

[2015-04-10 14:21] severinmenard commented on #1757
Great. I just sent the request to "join the French team"

On Fri, Apr 10, 2015 at 2:01 PM, Akbar Gumbira <notifications@github.com>
wrote:

[2015-04-10 14:36] Gustry commented on #1757
Thanks @akbargumbira

[2015-04-11 00:58] severinmenard commented on #1757
Actually right now all the 1212 strings are mixed and presented as a whole
in Transifex. Would it be possible to breakdown by category, as it was in
QT Linguist, so that I can organize better the translation, eg focusing
first on translating the UI then the report strings?

On Fri, Apr 10, 2015 at 2:36 PM, Etienne Trimaille <notifications@github.com

[2015-04-11 13:11] severinmenard commented on #1757
here is a screenshot from QT Linguist that shows the categories I am talking about:
![inasafe_plugin_text_categories](https://cloud.githubusercontent.com/assets/1291055/7101501/074ef59c-e04c-11e4-8c0c-993aa1012e42.png)

[2015-04-11 13:49] akbargumbira commented on #1757
Hi Severin,

Yes that is a context given by the developers to the phrase (which usually
by the class name). I am not sure if in Transifex we can categorise based
on the context (I have no access to computer untill wednesday so I can't
really check it), but in each phrase there is an information box showing
the context, from which module that phrase is, etc.

If you are more comfortable with QtLing

[2015-04-11 13:55] akbargumbira commented on #1757
Please note that you better get the new .ts file again from github as I
updated it last night to reflect with the current source (
https://raw.githubusercontent.com/AIFDR/inasafe/develop/i18n/inasafe_fr.ts)

On Sat, Apr 11, 2015, 20:49 Akbar Gumbira <akbargumbira@gmail.com> wrote:

[2015-04-12 17:05] severinmenard commented on #1757
It is OK with Transifex, but could I have the rights to mark the text
strings as reviewed please?

On Sat, Apr 11, 2015 at 1:49 PM, Akbar Gumbira <notifications@github.com>
wrote:

[2015-04-13 03:39] adissadis opened #1784 "InaSAFE couldn't load at Startup (Python Error)"
# Problem
I cloned InaSAFE from Github and when i want to start QGIS, It showed python error like this
![inasafe_9](https://cloud.githubusercontent.com/assets/2520159/7109487/f4bf574a-e1c8-11e4-8146-035ff7fe9651.png)
This error only appeared in My Laptop and when i copied InaSAFE and gave to my friend, it didn't show an error like mine.

# Platform
I'm using QGIS 2.8.1 with Windows 64bit and InaSA

[2015-04-13 06:46] Gustry commented on #1757
Hi @severinmenard, done, you are a reviewer now.

[2015-04-14 07:00] lucernae commented on #1784
I think this is because of an old settings still persists in your computer, @adissadis .
I will look into it some more

[2015-04-14 07:42] adissadis commented on #1784
@lucernae What do you mean about old setting still persists? It is for InaSAFE or QGIS?

If i'm using InaSAFE from QGIS plugin repository, the problem won't appear. It only appear if i use InaSAFE from Github.

[2015-04-14 07:52] timlinux opened #1785 "We need to define all the required parameter widgets"
# Problem

We need a well defined, well designed set of parameters for InaSAFE to use.
# Proposal
- [ ] @Jannes123: Audit all IFS and catalogue the Parameters needed by each one into the table below
- [ ] @Jannes123 : Identify IF's that use parameters incorrectly e.g. having hardcoded attributes in the code (see for example ( https://github.com/AIFDR/inasafe/commit/84e2791ea96476745309f77f3cca6155

[2015-04-14 07:56] lucernae commented on #1784
@adissadis that is just a first guess. Does your friend also uses InaSAFE from Github?

[2015-04-14 07:58] adissadis commented on #1784
@lucernae yes it does. All of my friends use InaSAFE from Github and they didn't have any error like me.

[2015-04-14 08:19] Charlotte-Morgan commented on #1670
hi @Gustry - in general this looks fine and addresses the milestone deliverable.

I have no experience with this type of analysis but understand the concept and need for this capability.  I am aware of others running similar routing analysis manually for Contingency Plans in Indonesia and I am interested in getting their comments.

From me, I would like to look a little more closely at the data:
1

[2015-04-14 08:38] lucernae commented on #1784
@adissadis can you look at the InaSAFE options and verify that the custom organization logo exists? (In the template options tab)

[2015-04-14 08:59] adissadis commented on #1784
@lucernae i assume you want me to download InaSAFE from QGIS repository first and then look at InaSAFE Options right?

Because i cant use InaSAFE from Github and whenever the error appear, InaSAFE doesn't appear in QGIS. If i disable and enable the plugin through Manage and Install plugin, the error still appear.

[2015-04-14 09:10] lucernae commented on #1784
@adissadis yes that's right, sorry for not pointing it out :). This is just to make sure that the issue is caused by non existent custom organization logo. If it really does, then I have to do some error handling in the code.

[2015-04-14 09:22] akbargumbira commented on #1784
@lucernae it could also be that the org logo path is still using the old
style resources path e.g :plugins/x/y/z. I thought @timlinux has fixed
that? Do the checking if the file exists and you can just use the default
logo if it doesn't exist

On Tue, Apr 14, 2015, 16:10 Rizky Maulana Nugraha <notifications@github.com>
wrote:

[2015-04-14 09:24] lucernae commented on #1784
@akbargumbira the old logo path is already fixed. File exist check doesn't exist yet (pardon the pun :p).

[2015-04-14 09:28] akbargumbira commented on #1784
@lucernae cool! Just double check with the value from Adis's logo path. If
the value is still using the old style resources path, we need to replace
it to the new one in qsettings
On Apr 14, 2015 4:24 PM, "Rizky Maulana Nugraha" <notifications@github.com>
wrote:

[2015-04-14 09:30] adissadis commented on #1784
I think the logo path is wrong, from InaSAFE Option, it pointed:

C:\Users\Sony\.qgis2\python\inasafe\resources\img\logos\supporters.png

But actually it must be like this:

C:\Users\Sony\.qgis2\python\plugins\inasafe\resources\img\logos

So, it missing "plugin" folder before reach InaSAFE folder.

[2015-04-14 09:32] lucernae commented on #1784
@adissadis @akbargumbira , noted. I will try to fix it by the end of the day

[2015-04-14 09:37] adissadis commented on #1784
The problem fixed now, i adding "plugin" in logo path and when i use the InaSAFE from Github, the problem doesn't appear again.

Thanks @lucernae and @akbargumbira !

[2015-04-14 09:41] lucernae commented on #1784
@adissadis I add some error handling in the code. You can pull the latest develop and try to replicate the error again. If it is fixed, we can close the ticket :)

[2015-04-14 09:55] adissadis commented on #1784
@lucernae It fixed now. Thanks for error handling in the code that you put into the script.

We can closed the ticket now :)

[2015-04-14 09:55] #1784 closed

[2015-04-14 10:48] Jannes123 commented on #1785
I had to move table to excel as it wass getting big and messy in here. I will also paste doc in HipChat
![parameter_if_table](https://cloud.githubusercontent.com/assets/11268911/7135208/9753c834-e2a4-11e4-8d8e-3c7d733781f1.png)

[2015-04-14 10:53] Jannes123 commented on #1785
@lucernae and @timlinux I think the

[2015-04-14 11:38] timlinux commented on #1785
Yeah that looks great

**note** I think all layer lookup stuff should really come from keywords of hazard / exposure layer rather
- and impact function should be able to just say "hazard layer, which is your inundated column"?

[2015-04-14 11:48] timlinux commented on #1785
BTW even better would be to make a shared google doc so that others can edit it etc.

[2015-04-14 13:12] akbargumbira commented on #1785
Agreed. It is listed on my google docs for phase 2 of IF refactoring

On Tue, Apr 14, 2015, 18:38 Tim Sutton <notifications@github.com> wrote:

[2015-04-14 13:24] akbargumbira commented on #1785
Ah, just read the issue. I did ask @lucernae 2 weeks ago to document all the options in each IFs so that in phase 2 we can separate which options that could be taken from keywords (or naturally from it). Some of the options may have not be written to the current metadata system yet. So, I also asked @ismailsunni to look at this so that we can start working on it.

[2015-04-14 13:32] akbargumbira commented on #1785
The documents more or less list options like this (Excel would be better, with columns telling where the option should be taken: exposure layer, hazard layer, aggregation layer, IF)
e.g Flood Vector Building Impact QGIS. Options:
1. 'building_type_field', 'TYPE' # We should get it from exposure layer
2. 'affected_field', 'affected' # We should get it from hazard layer
3. 'affected_value', '1' # We

[2015-04-14 13:57] akbargumbira opened #1788 "Add some fields in base IF to reflect layers metadata"
This will allow IF to recognize the metadata of the given layers. Add those fields when we set those layers e.g

[code]

- Get the metadata from xml file. We are about to get rid of the keywords file in favor of the xml metadata.

# CC
@timlinux @cchristelis @ismailsunni @lucernae

[2015-04-14 20:24] lucernae commented on #1785
Should we differentiate on which tab the parameters that is currently being reviewed?
We should separate parameters that is used by the impact function and the post processor.

So perhaps we can have like 2 matrices, the first one is for the impact function to use and the other one is used by the post processor. but CMIIW, every post processor parameters for the IF looks the same for me, is there

[2015-04-15 03:24] akbargumbira commented on #1785
Hi @lucernae, yes we should separate the parameters used by impact functions and the postprocessors (right now we tend to call it all as 'IF options'), but from now on let's call it as IF parameters.

I propose to separate IF parameters for 3.2 as this:
1. IF Options
This option should focus on the behavior of the impact function itself. The example of this options are:
- X, Y, or displacement rat

[2015-04-15 03:37] iyan31 commented on #1670
Hi @Gustry & @Charlotte-Morgan I agree that this feature looks promising. Few comments though:
* I would not suggest using idp:camp_type since this tag is already outdated, but potential IDP proposed above is really recommended
* For other source of IDP is a bit of difficult. In Jakarta flood, they only provide IDP camp name and address without coordinates. We try to add to map the location manual

[2015-04-15 03:53] akbargumbira opened #1792 "Complete the postprocessors with the descriptions, help text, etc"
This doesn't look good for user
![postprocessing](https://cloud.githubusercontent.com/assets/992519/7152011/89e26fac-e35d-11e4-8a38-b354279e2e3d.png)

[2015-04-15 05:14] timlinux commented on #1792
Agreed, yes - @Jannes123 leave these for me and you focus on the parameters stuff. If you already did some descriptions for these in your branch please make a small PR for it and I will edit it.

[2015-04-15 07:44] Jannes123 commented on #1785
@akbargumbira and @lucernae   perhaps I don't understand your questions and comments above but I think definitely the postprocessors will not be integrated into the IF because the results can be obtained seperately.   Furthermore the postprocessors are separated in the postprocessors tab and should only be used by the postprocessor manager or related function.  @cchristelis please comment

[2015-04-15 07:48] timlinux commented on #1785
Agreed. In some cases (e.g. pager) we should hard code the parameters and not present them to the user. I do not think most users will understand the significance of these parameters or how to modify them in a meaningful way.

Agreed - and part of the validate() method should be to check that there are needed keywords in the Hazard or Exposure layers. One thing that might be an issue (though I thi

[2015-04-15 07:48] lucernae commented on #1785
I am just commenting the spreadsheet file, because it seems you put the IF
options and postprocessor in the same matrix, and I suggest to separate it
to have a clear separation of concept.
On Apr 15, 2015 2:44 PM, "Jannes Engelbrecht" <notifications@github.com>
wrote:

[2015-04-15 07:51] timlinux commented on #1785
@lucernae @Jannes123 can you please put a link to the spreadsheet in the original ticket above. I am a bit confused now which is the **official** one as @akbargumbira mentioned he had also been working on a similar tabulation. Can you check with him and consolidate the effort if needed so that we have one canonical reference point?

Thanks

[2015-04-15 08:19] wulankhairunisa commented on #1727
Hi @cchristelis @akbargumbira, 2 days ago Adit pulled InaSAFE from GitHub. Then we tested again to run flood impact function for buildings.
I used the hazard data that has attribute 'affected' (with values: 1, NULL) and 'FLOODPRONE' (values: YES, NULL).

(*I) In InaSAFE keywords creation wizard, I used 'affected' field that represents flood extent as wet/dry, on the next step I classified unique v

[2015-04-15 08:27] Charlotte-Morgan commented on #1785
Great discussion. I would like to consult the earth quake IF experts to get their thoughts on whether users should be encouraged / able to change the parameters in the ITB function.

[2015-04-15 08:29] timlinux commented on #1785
@Charlotte-Morgan yes good idea, thanks!

[2015-04-15 21:12] lucernae commented on #1727
@akbargumbira @cchristelis we can disable the IF via metadata key is_disabled or just delete them. I also seen some IF like flood_raster_road_qgis and flood_raster_road_qgis_gdal handles the same hazard and exposure types. Perhaps we wanted to enable just one?

[2015-04-15 21:28] lucernae commented on #1785
@timlinux It is actually the same spreadsheet but on a different tab. I added the link to the spreadsheet and moqups files at the original ticket above.

[2015-04-15 21:41] lucernae commented on #1675
@Gustry could you replicate again the error and see that does the commit fixes the bug?

[2015-04-16 02:08] Charlotte-Morgan opened #1795 "Bug: Load Test Data"
[code]

[2015-04-16 02:19] Charlotte-Morgan opened #1796 "BUG: Pyton error - Volcano on population"
[code]

[2015-04-16 02:40] akbargumbira commented on #1796
This is more likely that the population data has NaN value (probably when we encounter the NoData value and numpy treats it as NaN). @cchristelis can you look at this?

[2015-04-16 02:47] akbargumbira opened #1797 "Reverse the way we treat layers in IF"
Right now, in the IF, we need to have the layers as safe layer and pass it to the IF (if it's QgsMapLayer we wrap it using QgsWrapper class before - in the impact calculator class).

The proposed solution is that we always pass QgsMapLayer to IF, and convert it to safe layer instead in the IF if the IF is the old style IF

[2015-04-16 02:57] Charlotte-Morgan opened #1798 "New IFs: EQ polygon impacts"
# problem

We have acquired some official EQ polygon hazard data from Badan Geologi and would like to use these data in risk assessment work next week.
# proposed solution

use the existing Volcano polygon IF to create new EQ IF for EQ hazard zones. Exposure data will be population raster and OSM buildings.
# known issues

this is a short term solution to an immediate opportunity to deliver scienc

[2015-04-16 02:58] akbargumbira commented on #1795
This happens as we don't package ```safe.test.*``` modules in the release.sh script (when we package InaSAFE for a release) (the load_standard_layers function and the test data layers are all there) cc @timlinux @gustry

[2015-04-16 03:01] Charlotte-Morgan opened #1799 "BUG: Volcano polygon IF requests invalid parameters"
# problem
the Volcano polygon IF on population requests input to define distance. This is not relevant to the IF. Distance is only relevant in the volcano  point IF.

# proposed solution
make it happy
fix this before inheriting to EQ IF #1798

[2015-04-16 03:11] Charlotte-Morgan opened #1800 "No Data: we need to standardise the way we handle no data"
# problem
we need to identify a suitable  / standard way to handle nodata values

# proposed solution
the no data value should by default not be the same as a valid data value and should not be included in calculations or interpolation.

eg, a value of 0 is not acceptable as a nodata value if that is a valid data value (eg flood depth) as this will influence the analysis results

eg a value of 0 i

[2015-04-16 06:27] akbargumbira commented on #1799
This should be fixed in develop

[2015-04-16 06:27] Charlotte-Morgan opened #1802 "InaSAFE Use Cases: we need to document these"
We n

[2015-04-16 06:28] #1799 closed

[2015-04-16 06:49] akbargumbira commented on #1727
@wulankhairunisa Thank you for the very clear explanation! I am working on this and will push it for 3.1

[2015-04-16 09:18] Charlotte-Morgan commented on #1798
Hi @akbargumbira - I just discussed this with @timlinux & we agreed that it could be better to make this a generic polygon IF for impact on buildings and population so that users can use it for any hazard zone map, they would just need to specify the field and attributes

[2015-04-16 10:39] Charlotte-Morgan opened #1805 "BUG: Flood Polygon impact on Buildings not working"
# Problem
There are no IF available for the analysis of polygon flood impact on buildings

# data
Jakarta flood polygon; affected = 1
OSM Buildings:

# Platform
QGIS 2.8.1 Wien
InaSAFE 3.1.0 dev-master
Windows

# Screenshot
![image](https://cloud.githubusercontent.com/assets/5743135/7179260/06d855e6-e460-11e4-8961-b88870e89a1a.png)

# proposed solution
make it happy

# cc
@KathrynOwen - thanks for

[2015-04-16 11:03] Charlotte-Morgan opened #1807 "BUG: EQ categorical IF on population uses irrelevant default thresholds"
# problem
the default threshold values of 0.34, 0.67, 1 seem a little low for MMI values and return 0 impacted people.

I'm not sure what these defaults relate to.

# proposed solution
Generic impact functions should read key words and load different default values depending on the hazard type.

Users should be warned to check the thresholds and given some guidance on relevant values.

![Uploading

[2015-04-16 11:08] #1795 closed

[2015-04-16 11:10] akbargumbira commented on #1798
@Charlotte-Morgan no problem

[2015-04-16 11:24] #1805 closed

[2015-04-16 15:28] timlinux opened #1808 "We need to standardise the user experience across all dialogs"
Please note this ticket is still in draft

# Problem

We have many different user interface styles in InaSAFE and they cause a number of issues:

* **principle of least surprise:** Each dialog that differs from others creates a surprising and unintuitive interaction for the user
* **poor aesthetics:** Aesthetics are subjective, but some of our dialogs are not pleasing to look at

![screen shot 201

[2015-04-17 02:05] Charlotte-Morgan commented on #1808
+1

[2015-04-17 02:28] Charlotte-Morgan commented on #1805
solution - update keywords on flood data to use wet / dry unit

[2015-04-17 02:57] Charlotte-Morgan commented on #1808
here are some more screenies from different tabs in a single dialogue:
![image](https://cloud.githubusercontent.com/assets/5743135/7195329/0460f524-e4e8-11e4-9f4d-9a744a9bb5b4.png)
![image](https://cloud.githubusercontent.com/assets/5743135/7195334/0a27bbbe-e4e8-11e4-8d32-668f69332998.png)
![image](https://cloud.githubusercontent.com/assets/5743135/7195337/1053f264-e4e8-11e4-9891-6d61bf149b6e.png)

[2015-04-17 02:57] Charlotte-Morgan opened #1810 "We need to manage rounding in the minimum needs dialogue - wizard"
# Problem
The minimum needs dialogue summary in the IF Wizard shows rounded values resulting in some values being zero. This is misleading.
# Proposed solution
These values should either be rounded to 1 decimal or rounded up to avoid presenting zero values. see the screenie below:
![image](https://cloud.githubusercontent.com/assets/5743135/7195356/72caa104-e4e8-11e4-946e-6140e95044a1.png)

# cc
@c

[2015-04-17 03:58] Charlotte-Morgan opened #1811 "Error: Insufficient Overlap - new suggestion"
# Problem
the insufficient overlap error also results when the "set analysis extent" has been set and does not coincide with the extent of the current hazard and exposure data. It is easy for this to happen as the current analysis extent persists from the previous session.

# Proposed Solution's
1. Zoom to the current analysis extent when QGIS Opens & show the user that an extent is set.
2. add th

[2015-04-17 08:18] timlinux opened #1812 "We need to fix tif uploading for InaSAFE geonode"
# Problem

Currently you cannot upload tifs to the GeoNode running on http://geonode.insafe.org

![screen shot 2015-04-17 at 10 17 59](https://cloud.githubusercontent.com/assets/178003/7198289/11b55aa0-e4eb-11e4-8f44-2c13f07b86a6.png)
# CC

@ingenieroariel

[2015-04-17 08:21] timlinux opened #1813 "We need to fix invite user functionality in GeoNode"
# Problem

When I try to invite a user (in this case Charlotte), I get this:

![screen shot 2015-04-17 at 10 20 27](https://cloud.githubusercontent.com/assets/178003/7198321/68aaea96-e4eb-11e4-8d58-8463743d8caa.png)

I was trying to use this url:

http://geonode.inasafe.org/account/invite_user/

[2015-04-17 08:38] timlinux opened #1815 "We need admin accounts set up for Charlotte and Iwan"
Can you please give @Charlotte-Morgan and Iwan accounts on GeoNode and give them admin rights so that they can create more users as needed.

[2015-04-17 09:28] Jannes123 opened #1816 "RFC: ParamaterManager for parameter rework"
## Problem

Managing parameter creation and default value creation.  This will basically form the back end of parameter widgets.
## Proposed Solution

Implementing a Parameter Manager which :
1. Will be created on IF selection when an IF is selected from the registry when the IF is initialized.
2. Can query layers and get keyword names and available values.  These will be made available to the use

[2015-04-17 11:18] Jannes123 commented on #1762
Being absorbed into #1816

[2015-04-17 11:18] #1762 closed

[2015-04-17 11:36] timlinux opened #1817 "We need to get the geonode instance syled according to InaSAFE visual guidelines"
# Problem

We have http://geonode.inasafe.org now but it needs to be styled to look like the work @MariaSolovyeva has been doing on blogtest.inasafe.org

@gubuntu to assist with technical details as needed.

[2015-04-17 13:33] gubuntu commented on #1817
duplicate of #1753

[2015-04-19 12:45] timlinux commented on #1817
Closing as duplicate

[2015-04-19 12:45] #1817 closed

[2015-04-19 12:47] timlinux opened #1819 "We need to hide 'add some test layers' function in final releases"
# Problem

When building packages, the add some test layers button won't work since the test data are not distributed in the bundle. Users clicking on the icon will be presented with a python error.

# Proposed solution

Hide the button from the user interface if release status is ``final``.

[2015-04-19 12:57] timlinux commented on #1819
Already sorted out by Akbar

[2015-04-19 12:57] #1819 closed

[2015-04-19 13:34] timlinux opened #1820 "We need to clean up the menu for InaSAFE"
# Problem

The menu for InaSAFE is not consistency in:

* standardisation of capitalisation
* ordering of items
* logical separation of items
* Redundant use of 'InaSAFE' throughout

![screen shot 2015-04-19 at 14 58 10](https://cloud.githubusercontent.com/assets/178003/7219572/c24c114e-e6a6-11e4-84fc-446442fe39e0.png)

# Proposed solution

* Standardise on mixed case capitliationan throughout
* U

[2015-04-19 15:05] timlinux commented on #1820
![screen shot 2015-04-19 at 17 04 36](https://cloud.githubusercontent.com/assets/178003/7219915/3d0ff918-e6b6-11e4-8770-c3b8f1944fa7.png)

This is what my intermediate tweaked version looks like (for 3.1).

[2015-04-20 02:34] ismailsunni opened #1823 "New Metadata Keywords Migration"
Problem
======
The current metadata keywords in definitions.py and the structure are not well defined and make people confused. We also need to add more explicit metadata.

Solution
======
We have discussed about this in Jakarta Workshop in December 2014. Here the link of the discussion about new metadata keywords (starting page 2) https://docs.google.com/document/d/1UMG5SklkLrF12-lO5sS8ROLmB7JXx3

[2015-04-20 04:14] Charlotte-Morgan commented on #1820
Hi @timlinux - this is a good move and in general makes sense.
In keeping with your proposal the "Add Some Test Layers" should be capitalised too.

Regarding ordering / grouping and separators; to me the logic goes something like this:
Configuration: Options, Min Needs
Wizards: Key Words, Analysis
Data: OSM, Shake Grid, Test data
Analysis: Scenario Outline, Set Analysis, batch runner
Merging / Sav

[2015-04-20 06:19] Charlotte-Morgan commented on #1785
hi @timlinux @Jannes123 @lucernae @akbargumbira @ismailsunni
I have consulted the EQ experts and this is my recommendation:
Parameters for EQ impact functions should be hard coded & users should not be able to change the values from established / published models; however users should have the option as to which of te models they run (ITB or Pager) or potentially the option to upload their own mod

[2015-04-20 06:34] Charlotte-Morgan commented on #1785
should the minimum need provenance field be shown on the tab that says "parameters that can be modified for this IF" ??? I think this provenance box might belong elsewhere.

[2015-04-20 07:04] timlinux commented on #1785
That all sounds fine to me. In the interim for 3.1 can we simply remove all those options? Or shall we leave things as they are for 3.1 and work on this only in 3.2?

[2015-04-20 07:07] timlinux commented on #1785
For the other parts (user defined models etc.) lets have a bit of a think about it to see what will fit in nicely with our API too. I'd like to avoid making any more big architectural changes (other than those on our roadmap) unless really needed.

[2015-04-20 07:12] Jannes123 commented on #1220
@timlinux I wrote the POSIX compliant usage message from the requirements above.  It is only a minimal version of the CLI so I left out the short hands and a few options.  The parser seems to work fine. Please double check that usage examples make sense.

https://gist.github.com/Jannes123/9d018d3e79eea11a226a

[2015-04-20 07:34] Charlotte-Morgan commented on #1785
my preference would be to remove the EQ parameters ASAP & do the other bits later

[2015-04-20 07:50] adissadis commented on #1820
+1 grouping idea

Based on grouping idea from Charlotee, I think for Scenario outline, set analysis and toggle dock window can be put into Configuration group. And also for analysis group we can put merging and save scenario there.

As far as i know, this changes maybe affected the screenshot and some step by step. But we don't have any problem for this idea.

Also, is it possible to put InaSAFE i

[2015-04-20 07:51] Gustry commented on #1670
Hi @Charlotte-Morgan and @iyan31

* OSM buildings as IDP
  * I would like to add a new item in the OSM downloader to provide buildings that meet IDP requirements.
  * In the use-case diagram, or in the workflow list, we will should be able to identify IDP which are not flood affected. A manager should also be able to unselect an IDP, even if it is dry, in case if this IDP is full.

* Flood edge

[2015-04-20 08:53] Charlotte-Morgan commented on #1820
+ 1 for these enhancements

[2015-04-20 08:58] adissadis opened #1824 "[Bug] Different result for general result with detailed result"
# Problem
I run impact analysis for building OSM, using flood HKV raster hazard data and aggregate it with Jakarta Boundary. I notice that in the general result of **Total Building Affected is 2.914**
![inasafe_10](https://cloud.githubusercontent.com/assets/2520159/7226593/493661f0-e774-11e4-9736-789bfeb668fb.png)

but in the detailed Building type report is very different, it said **5.053 buildin

[2015-04-20 09:33] timlinux commented on #1820
OK thanks for this feedback. @Charlotte-Morgan agreed getting the consistency carried through to the dialog titles and other used terminology. @adissadis ok your suggestions make sense. Putting InaSAFE into its own menu is possible - though maybe it would be better to put it into one of the established menus e.g. 'Analysis' since adding a new menu is often not desirable in terms of QGIS human inte

[2015-04-20 09:55] Charlotte-Morgan opened #1827 "BUG: Missing Constant"
It appears there is a missing constant

Keywords wizard; hazard, earthquake, classes

[2015-04-20 10:00] timlinux commented on #1785
Assigned the first part (blocking the 3.1release) to @Jannes123  - hard code params into the IF and remove them from the parms dialog. In next cycle we can figure out a way forward for user defined params.

[2015-04-20 10:06] timlinux opened #1828 "We should not use the word 'experimental' in impact functions"
# Problem

Names like ``FloodRasterRoadsExperimentalFunction`` do not inspire confidence in the software we provide to our users. We should remove the word 'experimental' from our impact functions and also be sure to show user friendly names e.g. ``Flood raster on roads impact function`` rather than ``FloodRasterRoadsFunction``

![screen shot 2015-04-20 at 12 06 38](https://cloud.githubusercontent

[2015-04-20 10:10] Charlotte-Morgan commented on #1800
some impact functions convert the no data value to NaN and this will raise an exception. The ValueError message does not necessarily advise the user that this is the problem.

[2015-04-20 10:13] lucernae opened #1829 "Fix that rogue crazy fail test"
This is just to remind myself that we had this.

The failing test is:

- test_dock.py
  - test_issue71
  - test_result_styling

[2015-04-20 10:13] Charlotte-Morgan commented on #1785
yes - user defined parameters for EQ IF are low low priority

[2015-04-20 10:40] timlinux opened #1830 "Options dialog raises unhandled error"
# Problem

In current develop, if I click on options for flood on population I get

[code]

Scenario:

[code]

# Proposed solution

@Jannes123 can you please investigate?

[2015-04-20 10:47] #1827 closed

[2015-04-20 13:41] Jannes123 commented on #1830
@timlinux I am not able to replicate the issue on my machine.  It might be a system dependent bug.

[2015-04-20 14:29] timlinux commented on #1220
[code]

Thanks @Jannes123 - as standard practice will you also put context info directly into the ticket - it saves readers having to jump around trying to track the thread of the ticket.

[2015-04-20 14:30] timlinux commented on #1220
Also there are some options missing e.g. download and also the hazard and exposure should be options too since  they are not needed for --download

[2015-04-20 15:12] timlinux opened #1836 "Parameters should not have nested scrollboxes"
# Problem

![scrollbox](https://cloud.githubusercontent.com/assets/178003/7233197/3835fe54-e780-11e4-8592-907a5effcd61.png)

We should avoid scrollboxes in scrollboxes...I feel like I am in Alice in Wonderland and they will take me down a rabbit hole :-)

# Proposed solution

@Jannes123 Please use only scrollbox for the top level parameters collection.

[2015-04-20 18:09] lucernae commented on #1836
Since this is a widget problem, I think you can assign it to me :)

[2015-04-20 18:32] lucernae commented on #1829
Fixed by restoring the busy signal so the button is enabled again.

[2015-04-20 18:32] #1829 closed

[2015-04-20 18:40] lucernae commented on #1810
What about the postprocessors's section?

Is that supposed to be presented like that? e.g.  --> Gender: []

[2015-04-20 19:56] lucernae commented on #1810
Does the fix looks good? I rounded the decimal to 1 decimal place
I need some suggestions for postprocessors tab, though.
I didn't realize that it was already assigned to @akbargumbira previously :O.

![wizard](https://cloud.githubusercontent.com/assets/831865/7239070/3a7df3be-e7d1-11e4-8fa1-c7ad3c64829d.png)

[2015-04-20 21:31] Jannes123 commented on #1836
@lucernae  did you get this sorted out or must I ?

[2015-04-20 21:36] lucernae commented on #1836
Not yet, but I will try to sort it out. Since it is for 3.2 we can focus on 3.1 release blocker first.
But, if you already fixed it, you can go on.

I just realized that I changed the assigned. I was intending to ask first, previously.

[2015-04-20 22:51] #1810 closed

[2015-04-21 01:12] iyan31 commented on #1800
Hi @Charlotte-Morgan, I just asked the team yesterday, in the training for no data they simply left it blank or in QGIS this would mean NULL. I think it may be possible to sanitize the input (ex. detecting if value is NULL) in the impact function and then convert it into something processable.

[2015-04-21 06:21] timlinux commented on #1811
Hi

Part 1) of your solution is problematic in that QGIS has its own behaviour when opening an existing project - it zooms to the last used extent for that project. I think we might cause confusion if we override this behaviour.

For part 2 this is what I have come up with:

1) If no layers are loaded, show the normal getting started message
2) if layers are loaded and the extents overlap, show th

[2015-04-21 06:36] Charlotte-Morgan commented on #1811
hi @timlinux - that looks very neat and user friendly

[2015-04-21 07:38] Jannes123 commented on #1785
EarthQuake building functions still presents low_threshold, medium_threshold, high_threshold in the Options tab for this release

[2015-04-21 07:44] akbargumbira commented on #1800
These are the IF's that treat nan in the data as 0: continuous hazard population function, flood population evacuation raster hazard function, tsunami population evacuation raster hazard function, volcano point population, volcano polygon population

[2015-04-21 08:15] timlinux opened #1843 "We need to review the text for all impact function metadata.py files"
# Problem

Many of the phrases use incorrect grammar - we want our release to be filled with beautifully constructed sentances.

# Proposed solution

@timlinux to review all IF metadata files and make a PR with improved writing. @Charlotte-Morgan feel free to give my changes a once over when they are in.

[2015-04-21 09:10] cchristelis commented on #1820
Hi @Charlotte-Morgan, @adissadis and @timlinux:
For this release I've updated the PR to have the following behaviour (which is basically a merge of the ideas shared above.):
*Configuration*: General Options, Minimum Needs Configuration, Set Analysis, Toggle Dock Window, Toggle Scenario Outlines
*Wizards*: Keyword Wizard, Analysis Wizard
*Data*: OSM, Shake Grid, Minimum Needs Tool, Test data
*Analy

[2015-04-21 09:19] timlinux opened #1845 "We need to review the logic for classified raster population impact function"
# Problem

In ``safe/impact_functions/generic/classified_raster_population/impact_function.py`` we have logic like this:

[code]

The logic seems a little off to me - it makes assumptions about which thresholds may be undefined but does not check all the cross permutations. Perhaps I am not understanding the logic here.

# Proposed solution

@cchristelis please review the logic and tell me if I am

[2015-04-21 09:19] timlinux commented on #1845
Note we should also check the other IF's that may be using derivative code.

[2015-04-21 09:40] Charlotte-Morgan commented on #1843
@timlinux - do you want me to look at any now?

[2015-04-21 10:37] Charlotte-Morgan commented on #1811
however - sometimes we get nice messages when we don't need them like:
- [ ] when an IF has finished running and you want to see the result panel
- [ ] when an IF has run and has turned the data off to show the result layer

[2015-04-21 12:51] cchristelis opened #1851 "Philippine Minimum Needs profile break the options dialog."
When selecting the Philippine Minimum Needs profile and selecting "Earthquake Polygon" and "Population" exposure. Opening the Options dialog and closing it again via "OK" causes a python error.

[2015-04-21 12:55] #1792 closed

[2015-04-21 13:07] cchristelis opened #1853 "An exception is being raised when running the Earthquake polygon on population test data."
The Earthquake Polygon hazard on the Population exposure test data causes the following exception.
[code]

[2015-04-21 13:08] #1484 closed

[2015-04-21 13:19] Jannes123 commented on #1851
Looks like there are still some old-style parameters hanging around or merged in.  Will fix those first I think that will solve most of the problems.

[2015-04-21 13:23] lucernae commented on #1853
I'm testing the same thing and InaSAFE doesn't spit any errors?

[2015-04-21 13:24] lucernae opened #1854 "Fix zero post processor in Earthquake Polygon + Population"
When we ran Earthquake Polygon Hazard and Population Exposure using the test data, the report succesfully computed but the postprocessor returns zero results.

[2015-04-21 13:27] Gustry commented on #1752
Can't replicate anymore

[2015-04-21 13:27] #1752 closed

[2015-04-21 13:34] cchristelis commented on #1853
@lucernae, are you running this against develop with the latest commits included. It seems to be due to a recent commit. I'm assigning this to you @Jannes123.

[2015-04-21 13:36] lucernae commented on #1853
@cchristelis yes I'm running it against latest develop. @akbargumbira warns me about this #1854 though. I was trying to solve that issue actually.

[2015-04-21 13:43] #1836 closed

[2015-04-21 13:45] cchristelis commented on #1785
The hard coded values, which where the release blocker, have been done and merged in #1793. As such the this is no longer a release blocker and the remaining work can be left for 3.2.

[2015-04-21 14:32] cchristelis commented on #1811
@Charlotte-Morgan and @timlinux,
If we keep the current behaviour, after running an IF, we could choose to run another, so then after the first run == before the next run.
Maybe we should only show this warning if the user attempts to hit run, because then we know they are attempting another run and need this info.

[2015-04-21 15:27] cchristelis commented on #1853
@lucernae, I was looking to check the same problem, but when I ran it there was this problem. We were able to reproduce this on @Jannes123's machine.

[2015-04-21 16:15] timlinux opened #1857 "Vector flood on building, roads IFs fail when using projected data"
# Problem

When using a projected layer, we get a failure saying that no features with the Inundated attribute fall within the extent. The underlying cause is the QgsRequest uses a Geo Rect for filtering features which does not intersect with any projected features in the hazard layer.

# Proposed solution

In the new IF API, we have facility to set the CRS of the extent. For now we know that dock

[2015-04-21 16:25] vdeparday opened #1859 "Wrong text for Raster Exposure Wizard"
The text describes a Hazard layer rather than an exposure one and also mode continous and discrete are suggested when I am not sure if both are supported with exposure:
![screen shot 2015-04-21 at 6 23 24 pm](https://cloud.githubusercontent.com/assets/1036189/7257124/a7c4c790-e853-11e4-9ed8-00ef9bc93c41.png)

[2015-04-21 16:34] Jannes123 commented on #1851
@lucernae it seems like the get_parameter function returns (0.0)  when called in function_options_dialog.py

[2015-04-21 16:35] vdeparday opened #1860 "It is very unclear the different between the Flood (Experimental) and Flood"
It is really confusing for the user to pick which one to use. I almost feel like we should not give the user two choices, we should just have only one and one that works.

There is also no description in the wizard:
![screen shot 2015-04-21 at 12 18 46 am](https://cloud.githubusercontent.com/assets/1036189/7257308/056a1084-e855-11e4-9000-dfdc63d5a8a9.png)

[2015-04-21 16:37] lucernae commented on #1851
@Jannes123 I can't replicate the bug. But I do notices that I can't change Family Kits value. Is that also a bug? :v

[2015-04-21 16:43] lucernae commented on #1851
@Jannes123  I'm able to replicate it now. It seems dangerous because we can't modify some of the parameters because it already out of bounds.

[2015-04-21 16:51] timlinux commented on #1860
Agreed - I would like to disable one for now - just want to test to see which works well in different scenarios

[2015-04-21 18:37] lucernae commented on #1854
I have traced the problem and found that it is possible that it has the same root issue as #759.

# Problem

So, what happen is:
- The IF uses extent which is somewhat equal to the hazard extent, because it uses the hazard layer to put the population count. The IF runs normally and the impacted population is calculated correctly
- The aggregator uses optimal extent which is the same as the exposur

[2015-04-21 18:55] akbargumbira commented on #1860
I already removed it for 3.1

[2015-04-21 18:55] #1860 closed

[2015-04-21 21:57] timlinux commented on #1857
See also PR #1858

Note that this issue affects:

* safe/impact_functions/inundation/flood_vector_building_impact/impact_function.py
* safe/impact_functions/inundation/flood_polygon_roads/impact_function.py

[2015-04-21 22:34] #1857 closed

[2015-04-21 22:37] #1830 closed

[2015-04-22 00:09] vdeparday opened #1861 "Warning about keywords missing even when no layer is selected"
It is a little confusing as even when no layer is selected, the InaSAFE dialog is saying 'missing keyword' although all the layers have the proper keyword. Should be displayed only when a layer is selected

![screen shot 2015-04-22 at 2 08 39 am](https://cloud.githubusercontent.com/assets/1036189/7265092/8af630a4-e894-11e4-991c-ca4ddfb7f791.png)

[2015-04-22 06:04] #1828 closed

[2015-04-22 06:04] #1843 closed

[2015-04-22 07:01] Charlotte-Morgan commented on #1854
If the IF is counting the number of people affected inside the selected area, then the process should be either:
- [ ] clip the hazard raster to the analysis extent and write the output to the clipped polygon
or
- [ ] write the output to a raster with the same cell size as the population data.

I'm thinking this should be the case for all polygon on raster analysis where hazard is polygon and expo

[2015-04-22 07:06] akbargumbira commented on #1854
Agreed for both options (what you meant for the first option is  "clip the hazard POLY to the analysis extent..". Last night, I played around with the second option and it's working well. I will make a more comprehensive solution...

[2015-04-22 07:19] adissadis commented on #1820
@timlinux oh ok if there're any guidelines for menubar, we stick under 'Pluggin' menu.

Hi @cchristelis In my opinion, i think it's better to create some grouping item, something like this:

Configuration -> General Options
                          Minimum Needs Configuration
                          Set InaSAFE Analysis Area
                          Toggle InaSAFE Dock

[2015-04-22 07:44] cchristelis commented on #1820
Hi @adissadis,
Yeah, breaking it down is better and we should do that for 3.2. The screenie is just a partial implementation for 3.1.

[2015-04-22 09:19] cchristelis commented on #1853
The issue here is an overflow of #1851. The fact that that error prevents the user from selecting the correct name for the hazard_zone_attribute, causes the zones not to be found. This in turn leads to this problem. As you @lucernae, where using another profile you weren't able to reproduce.

[2015-04-22 09:19] #1853 closed

[2015-04-22 10:05] adissadis opened #1862 "InaSAFE Impact Merge Tools Error"
# Problem
I'm trying to use impact merge tool to combine population and building in Jakarta, but when i click OK it show this dialog:
![inasafe_1](https://cloud.githubusercontent.com/assets/2520159/7271867/b2d6b202-e910-11e4-9b5d-d056f3db702f.png)
It said that it's being used by another process but I'm don't know what process that open this file. I didn't print the impact result and open in pdf.

[2015-04-22 10:19] Charlotte-Morgan commented on #1800
I tested with the current develop version as at 4pm 22nd April 2014 (jkt time)
- [ ] Jakarta Flood Raster on Raster population - runs no error with both user defined and full extent
- [ ] Jakarta Flood Polygon on Raster Population - runs no error with both user defined and full extent
- [ ]SS EQ Hazard Zone polygon on Raster Population - error with analysis area set over the data edge or when anal

[2015-04-22 10:21] Charlotte-Morgan commented on #1800
yesterday - there were issues with jakarta too. but not now

[2015-04-22 11:36] lucernae opened #1863 "Rerun function with the same parameters"
Right now when we run functions with updated parameters the second time, it won't use the previous parameters.

[2015-04-22 17:45] Jannes123 commented on #1851
@cchristelis seems like the precision of the nrs remaim fixed at 2 for resource parameters.  So when you put a nr like 0,04 in its fine but 0.0003 will create that bug.

[2015-04-22 18:13] #1854 closed

[2015-04-22 18:17] cchristelis commented on #1851
Oh, so that is why we keep getting 0.00... I wonder whether we should increase the precision.

[2015-04-22 19:54] lucernae commented on #630
I think this is already resolved.

![image](https://cloud.githubusercontent.com/assets/831865/7283908/10c3d054-e964-11e4-972e-1c6759877c2d.png)

[2015-04-22 19:54] #630 closed

[2015-04-22 20:08] lucernae opened #1867 "Untranslated Postprocessor reports"
Some of the reports remains untranslated.

![image](https://cloud.githubusercontent.com/assets/831865/7284187/f27d4592-e965-11e4-8b23-44ccc16b39bf.png)

[2015-04-22 20:12] lucernae commented on #1867
On a closer look, this is provided via Minimum Needs Tools.

I will just close this.

[2015-04-22 20:12] #1867 closed

[2015-04-23 06:08] Jannes123 commented on #1851
@cchristelis  #1868  PR contains that update

[2015-04-24 07:08] akbargumbira commented on #1670
Hi All,

This is the IDP Camp for Flood 2014 registered to BNPB ArcGIS server: http://geoservice.bnpb.go.id:8399/arcgis/rest/services/Banjir_Jakarta_2014/Posko_Banjir_Jakarta_2014/MapServer

[2015-04-24 18:46] timlinux commented on #1811
Ok here is a fresh take on how we can manage the analysis behaviour - I think it will address all the various concerns and puts all the options relating to analysis extents in one place.

![screen shot 2015-04-24 at 20 34 18](https://cloud.githubusercontent.com/assets/178003/7326047/b2fe9f20-eac2-11e4-96c7-44665682dda5.png)

I made a short youtube clip to show how the warnings / notifications migh

[2015-04-24 21:58] timlinux commented on #1811
Note to self: probably better to leave it for 3.2 as we discussed on our call and just roll back the messages for now so that we can do the minimal changeset to get the 3.1 release out.

[2015-04-27 06:05] Charlotte-Morgan opened #1869 "Metadata Definitions: we need to consult the 'old timers'"
# problem
We are moving from old style to new style impact functions with associated changes to metadata and terminology. There is a risk that as terminology is standardized and IF are re written, some of the original intent may be lost.
We need to check with the 'old timers' to make sure none of the original intent is lost in the transition.

# proposed solution
can anyone please explain:
- [ ] d

[2015-04-27 09:40] Charlotte-Morgan commented on #1811
hi @timlinux
+1 for roll back and just insert 1 line for 3.1 or do nothing.
+1 for new style warning that is in the top of the map window and not in the dock

[2015-04-27 10:49] Charlotte-Morgan commented on #1861
this is related to #1811 and some new error messages that need to be rolled back

[2015-04-28 07:52] timlinux commented on #1861
I'm actually curious to know what you did to get the legend to a state with no selected layers. For me even when I deselect all layers by clicking in the white space of the legend, I still have an active layer (as designated by the underlined font for the active layer in the legend.

[2015-04-28 10:15] akbargumbira opened #1877 "Revisit raster clipping when the exposure is raster and the hazard is vector"
![screenshot from 2015-04-28 17 13 57](https://cloud.githubusercontent.com/assets/992519/7367503/1d52eca0-edca-11e4-8657-c5eb66809dc5.png)

[2015-04-28 20:35] lucernae commented on #1796
Does anyone resolves this issue?

[2015-04-29 00:35] akbargumbira commented on #1796
@lucernae I will resolve this in my branch (generic_polygon). This NaN issue should be informed to the user though (that's why I assigned this to Christian). User should know if they have no data value in their raster data and how we treat it in the analysis. In some cases it makes sense to treat it as 0 (e.g for counting total population in raster representing people count), but not in other case

[2015-04-29 05:16] akbargumbira opened #1879 "QDesktopServices can not open URL with unicode path"
e.g `QDesktopServices.openUrl(QUrl(u'file:///home/akbar/Documents/InaSAFE scenario\xfa'))`
It returns True without opening the directory

We use QDesktopServices in some places in InaSAFE code base

[2015-04-29 08:55] akbargumbira commented on #1845
Agreed, the logic is a bit off and not direct.

[2015-04-29 09:08] akbargumbira commented on #1845
The flaw is for example if 0 is actually a classification of one of the 3 hazard areas (e.g 0 means low hazard area), this will only calculate the impact in the medium and high. That also happens for other permutation of the case one of the hazard areas is 0

[2015-04-29 09:08] akbargumbira commented on #1796
Fixed here https://github.com/AIFDR/inasafe/pull/1871

[2015-04-29 09:08] #1796 closed

[2015-04-29 09:10] akbargumbira commented on #554
Right now, the volcano IF's will return the exposure layer (works for population and building exposure). Closing this

[2015-04-29 09:10] #554 closed

[2015-04-29 09:15] akbargumbira commented on #541
I am not clear with the intention here. We do have a parameter to get the attribute in which we get the volcano name. Or from Ole's comment, does it mean that we should have another attribute to specify what volcano (from volcanoes layer) that we want to run (if it's left blank, it will run all of the volcanoes)?

[2015-04-29 09:19] akbargumbira commented on #532
Gladly, we have this for 3.1. The IF will ask the attribute that contains the hazard areas. The result will show all the buildings affected for all unique hazard areas. There is also another IF that works on population. You can make another ticket if you have other ideas on the current state of those IF's. I am closing this.

[2015-04-29 09:19] #532 closed

[2015-04-29 09:42] akbargumbira commented on #522
I have implemented this one https://github.com/AIFDR/inasafe/pull/1871. All the IF's that basically work on polygon hazard and raster exposure will return the raster exposure (with some modification). Those IF's are:
- Classified Polygon on Population
- Volcano Point on Population
- Volcano Polygon on Population
- Flood Polygon on Population

The impact layer will return the population layer with

[2015-04-29 09:42] #522 closed

[2015-04-29 09:52] akbargumbira commented on #404
I am closing this. For 3.1 release, we remove the old style IF and use the QGIS-IF. This IF will ask for an attribute that represent the affected and the value of affected e.g the affected field is FLOODPRONe and the affected value is YES

[2015-04-29 09:52] #404 closed

[2015-04-29 10:00] akbargumbira commented on #276
@Gustry can you confirm that if we download the building points from the OSM downloader, the buildings polygons will be converted to its centroid? If so, we can close this

[2015-04-29 10:04] akbargumbira commented on #747
closing this

[2015-04-29 10:04] #747 closed

[2015-04-29 10:06] timlinux commented on #276
@akbargumbira yes the OSM downloader will fetch buildings centroids as an option now.

[2015-04-29 10:06] #276 closed

[2015-04-29 10:07] akbargumbira commented on #711
I am closing this. Right now, it has a parameter of hazard zone attribute from which we get all the hazard zones (so the hazard zones are not stricted anymore to those 3 values, it could be anything).

[2015-04-29 10:07] #711 closed

[2015-04-29 10:16] akbargumbira commented on #1098
I am closing this. All the concerns were addressed here https://github.com/AIFDR/inasafe/pull/1844

[2015-04-29 10:16] #1098 closed

[2015-04-29 10:35] akbargumbira commented on #1157
We removed this IF for 3.1 and just keep the QGIS style IF. I am closing this then

[2015-04-29 10:35] #1157 closed

[2015-04-29 10:38] akbargumbira commented on #1727
I am closing this. @wulankhairunisa and @harrymahar please try it again with the current inasafe develop and reopen if this still happens

[2015-04-29 10:38] #1727 closed

[2015-04-29 10:41] akbargumbira commented on #1800
Just a note for this. For Flood Polygon on Population, Classified Polygon on Population, Volcano Point/Polygon on Population, I treat Nan in the exposure as 0 when counting the affected population / total population. I added a sentence telling that in the Notes section of the impact result

[2015-04-29 20:46] timlinux commented on #541
Hi @akbargumbira

I think their intention was that you can enter 'Merapi' in the options dialog and that would then be propogated to the report etc. For me there are flaws in this idea:

* the name should come from an attribute rather
* it assumes only one volcano feature ever exists in the shapefile

I think it is superceded by having the volcano name attribute in the IF parameter so I am going t

[2015-04-29 20:46] #541 closed

[2015-04-29 23:16] lucernae opened #1882 "Image when calculating analysis in Windows is not loaded"
When the analysis is being run and qgis is waiting for the process to end, the dock shows waiting message. It contains an image but is not currently shown

[2015-04-30 02:24] Charlotte-Morgan opened #1883 "Flood polygon on population"
# Test environment:
Jakarta Flood Polygon
popmap10-all
jakarta districts
analysis run manually through doc.

Hey @akbar
thanks for adding this text to explain the analysis.

People are affected if in the area with the value of the affected field ("affected") equals to "1"

Can you please modify so that it reads
People are considered to be affected if they are within the area where the value of the

[2015-04-30 02:31] Charlotte-Morgan commented on #1883
and can you move this up to the people affected area of the notes - if that is easy?

[2015-04-30 02:36] Charlotte-Morgan commented on #1883
Bug:there is a problem if i include aggregation to Jakarta districts.
it considers the district boundary as the hazard layer and counts all the people in jakarta

[2015-04-30 03:09] Charlotte-Morgan commented on #1883
re no data statement
current statement : "No data values in the exposure layer are treated as 0 when counting affected population or total population"

tweaked statement: "nodata" values in the exposure layer are treated as 0 when counting the affected or total population

[2015-04-30 03:15] akbargumbira commented on #1883
@Charlotte-Morgan what do you mean if you use aggregatin layer it will consider that layer as the hazard? I can't replicate it

[2015-04-30 07:31] Jannes123 commented on #1851
#1881 fixes this issue

[2015-04-30 07:31] #1851 closed

[2015-04-30 09:39] lucernae commented on #1862
@adissadis I'm not be able to reproduce it. Could you tell me which layer did you use in the merge? Are you using QGIS 64 bit?

[2015-04-30 10:31] samnawi commented on #1314
I've tried to create some InaSAFE map template for portrait and landscape in A3 format.
![flood_landscape_r](https://cloud.githubusercontent.com/assets/8871958/7410837/beea7806-ef5c-11e4-87cd-fd6014c16778.jpg)
![flood_portrait_r](https://cloud.githubusercontent.com/assets/8871958/7410838/bf19f55e-ef5c-11e4-9b76-b425252d8e00.jpg)

I also include some layout templates that can be downloaded in this

[2015-04-30 13:09] timlinux commented on #1314
@samnawi These are looking really great.

OK

Yes - we just need to carry over the needed tags to the report

This is more tricky - we cannot easily pre-suppose which layers a user has.

One option would be to actually show a global countries dataset with InaSAFE and then use that. There are a few free alternatives that we could do this with.

[2015-04-30 15:39] akbargumbira commented on #1877
FIxed here https://github.com/AIFDR/inasafe/pull/1886#issuecomment-97782288

[2015-04-30 15:39] #1877 closed

[2015-04-30 15:40] #1883 closed

[2015-04-30 15:43] #1767 closed

[2015-04-30 15:43] #1712 closed

[2015-04-30 15:46] timlinux opened #1888 "We need to resolve the duplicate minimum needs text in Phillipines profile"
# Problem

The minimum needs IF options tab shows duplicate text:

![screen shot 2015-04-30 at 17 40 54](https://cloud.githubusercontent.com/assets/178003/7416503/1c89209a-ef60-11e4-9e2a-9ea6a3325f64.png)

This is because the Philippines profile contains the same entries for ``Resource description`` and ``Readable sentence``:

![screen shot 2015-04-30 at 17 43 43](https://cloud.githubusercontent.c

[2015-04-30 15:47] akbargumbira commented on #1728
For this specific analysis (vector on raster), all the IF's will treat the nodata values as 0 to count the total affected and total population. I also added a statement telling that in the Notes section. I am closing this particular issue then. The higher handling to inform the user if they have nodata values will be addressed on the other ticket by @cchristelis #1800

[2015-04-30 15:47] #1728 closed

[2015-04-30 15:48] timlinux commented on #1888
Note that users will need to remove their local profiles before they see the update.

[2015-04-30 15:51] akbargumbira commented on #1409
I have fixed this in all vector on raster analysis (treat Nan as 0). I am closing this

[2015-04-30 15:51] #1409 closed

[2015-04-30 15:53] akbargumbira commented on #1361
It comes from the option :) I guess you are asking why we give 1% as the default value?

[2015-04-30 15:56] akbargumbira opened #1889 "We need to make Flood Polygon on Buildings faster"
# Problem
Now that we removed the old style IF for this, we need to make the QGIS IF one faster. Running FLood Polygon on Buildings with Jakarta extent takes intolerable time for user to wait.

# CC
Perhaps @cchristelis or @timlinux can address this?

[2015-04-30 16:07] akbargumbira commented on #928
hey @emirhartato, we have changed the behavior for this analysis! For the point hazard IF (at the moment we only have Volcano Point on Population), if there is user analysis extent, we clip the exposure to that extent. If that extent does intersect with the point hazard extent, it will run the analysis. Otherwise, it will tell you that the extents are not overlapped to each other.

Note that for t

[2015-04-30 16:07] #928 closed

[2015-04-30 19:38] timlinux commented on #1889
Hi

Yes I agree we should make it faster. Through for me a higher priority is to get a good feedback mechanism in place so that the user can see how far the analysis has progressed (and cancel it if he gets bored). I don't think that we can expect to always deliver instant results to the user, but making them understand what the status of the analysis is will allow them to feel comfortable that 's

[2015-04-30 19:39] timlinux commented on #1361
Yeah the answer to that is lost in project history...

[2015-04-30 19:40] timlinux commented on #1889
@wonder-sk perhaps we can get you to take a look at this and come up with some improvements?

[2015-05-01 02:38] Charlotte-Morgan commented on #1314
Hi @samnawi
Thank you for updating this ticket. and for your efforts to solve this neatly.

- [ ] I like the way you harmonize with the BNPB map - ticket #752 .  I think this also uses colours from the InaSAFE style guide Maria? - are you also able to use the fonts from the InaSAFE style guide?

- [ ] Getting the map and report on a single page is important and also challenging. Considering they b

[2015-05-01 08:06] timlinux commented on #1314
Another thing we could do is get @Gustry to extend the OSM downloader to also download OSM political boundaries as another layer, and then set up canned, beautiful, localised styling for them like we have done for roads.

One problem with this is that we would need to ship the fonts with the plugin and also figure out an operating system independent way to use those fonts. We will need to research

[2015-05-01 09:45] timlinux opened #1890 "We need to update documentation that references which IF's we have"
Here are my notes for 3.1 release planning regarding what the state of play is pre 3.1 and as at 3.1:

Please note that as of 3.1 we do not yet have the intermediate base classes (shown as the second column in each image). I have left them in the diagram as they are useful to illustrate which types of input data can be used with each IF.
# Earthquake

![inasafe_impact_function_class_heirarchy_eart

[2015-05-01 13:21] cchristelis opened #1893 "Philippine Minimum Needs profile break when loading layers."
## Problem

After pulling from develop today (with Philippine minimum needs profile loaded) I load a project with several layers I get the following error:

[code]

## Proposed Solution

Fix.

[2015-05-01 13:24] cchristelis commented on #1893
Hi @Jannes123, please have a look at this asap if you can.

[2015-05-01 18:29] Jannes123 commented on #1888
PR #1894 contains the updated json file.

git gave a warning :  CRLF will be replaced by LF in resources/minimum_needs/Philippine Minimum Needs_en.json

[2015-05-01 18:49] #1863 closed

[2015-05-01 19:34] Jannes123 commented on #1893
@cchristelis I am unable to replicate the issue at the moment

[2015-05-01 19:34] #1893 closed

[2015-05-01 23:37] cchristelis opened #1897 "Problem with earthquake population"
## Problem

After loading test data and running `Earthquake` `Population` `Be impacted`, I get the following error:
[code]

[2015-05-02 02:47] akbargumbira commented on #1897
Fixed here https://github.com/AIFDR/inasafe/pull/1899

[2015-05-02 02:47] #1897 closed

[2015-05-02 02:48] akbargumbira commented on #1845
Fixed here https://github.com/AIFDR/inasafe/pull/1891

[2015-05-02 02:48] #1845 closed

[2015-05-02 21:34] timlinux commented on #1859
@ismailsunni So basically it would be good to have logic that says 'do any IF's support population as classified raster?' and then if not, don't allow the user to choose classified.

@vdeparday with regards to the reference to hazard or exposure, for me they are ok since the explanation is a generic one and it is not implying whether the data is one or the other.

[2015-05-04 03:23] samnawi commented on #1314
@Charlotte-Morgan, thank you for the feed back,
1. Yeah, i use the the HEX: #f57d35 color for the orange color in the top.
2. I also try to use the proportional portion like i've been discussed using sketch with you 3 weeks ago.
3. For the toponymy or admin boundary, i agree with you to prepare a data that can be shared. @timlinux can we set the data in server such as geonode, geoserver or the oth

[2015-05-04 07:20] Gustry commented on #1670
I'm posting here a preview of my actual work.
Cost : It's using only the length, except along a flood edge, the length is multiplied by 100, in order to avoid walking on an edge.
About the question where people should be landed, the cost of each exits to an IDP is represented by a color from green to red.
I still have to put some colors on the flood edge.
![map](https://cloud.githubusercontent.com

[2015-05-04 10:37] cchristelis commented on #1800
When null values are present they affect the output. The important issue is that they are not when we are doing raster on raster operations these null values should be carried through to the output.
This was done in PR #1898 together with a warning "`No data` cells where detected in the population layer. This may affect the result.".

Also other warnings where made conditional. This may be revised

[2015-05-04 10:39] #1690 closed

[2015-05-04 19:59] timlinux commented on #1670
Hi @akbargumbira

Do you know if they also publish WFS or GeoJSON? WMS isn't very useful for doing any analysis with.

Thanks!

[2015-05-04 20:12] timlinux commented on #1314
I would prefer if we can make this work in a generic way from OSM downloader rather than having to provide access to multiple online services. @iyan31 and @Gustry should be able to provide more input, but there are standard tags for pulling out admin boundaries from OSM that we can make use of.

[2015-05-04 21:40] lucernae commented on #1879
I tested this and it seems that QDesktopServices.openUrl will always return True regardless the file is exists or not. Not just because of the unicode in the Url.

I also try to open unicode path using QDesktopServices, and it actually opens the folder.
Perhaps the bug lies somewhere else?

For example, (because of the wrong filename format)
I tried to create a file using filename : 'scenario\xfa.

[2015-05-05 01:45] lucernae opened #1914 "Create 12 intermediate base class"
This is a subtask of #1890

List of 12 intermediate base classes:

- [x] ContinuousRasterHazardContinuousRasterExposure
- [x] ContinuousRasterHazardContinuousVectorExposure
- [x] ContinuousRasterHazardClassifiedVectorExposure
- [x] ClassifiedRasterHazardContinuousRasterExposure
- [x] ClassifiedRasterHazardContinuousVectorExposure
- [x] ClassifiedRasterHazardClassifiedVectorExposure
- [x] Continuou

[2015-05-05 04:13] KathrynOwen opened #1915 "dummy ticket"
this is a test ticket to understand waffle

[2015-05-05 04:15] Charlotte-Morgan commented on #1915
@akbar

[2015-05-05 04:29] KathrynOwen commented on #1915
# problem
 oh no

# error message
[code]

# cc
@akbargumbira

[2015-05-05 05:59] #1915 closed

[2015-05-05 06:32] Charlotte-Morgan commented on #1178
closing this because it is covered in #1216

[2015-05-05 06:33] #1178 closed

[2015-05-05 06:34] Charlotte-Morgan commented on #1200
@akbar - please update this ticket

[2015-05-05 06:36] Charlotte-Morgan commented on #1167
closing this as details in #1200

[2015-05-05 06:36] #1167 closed

[2015-05-05 06:47] akbargumbira commented on #1200
AIFDR server was broken in December 2014, we set it up again in Kartoza server.

[2015-05-05 07:15] akbargumbira opened #1916 "Make the IF as independent as possible to other modules in running analysis (e.g moving clipping etc)"

[2015-05-05 07:17] akbargumbira opened #1917 "Review Raster on Vector Interpolation based on September workshop discussion"
# Problem

With the current implementation, we get the interpolated values from the neighbours to the centroid of the vector. We discussed a bit about this and the intention is that we want to set the vector (not making it centroid) to the worst value of the grids that lie in that vector

[2015-05-05 07:18] akbargumbira opened #1918 "Implement Interpolation Algorithm (Raster on Raster, Raster on Vector, Vector on Raster, Vector on Vector) using QGIS API"
- [ ] Raster on Raster
- [ ] Raster on Vector
- [ ] Vector on Raster
- [ ] Vector on Vector

[2015-05-05 07:22] akbargumbira commented on #1917
cc @cchristelis as it's also related to NaN

[2015-05-05 09:15] timlinux opened #1919 "We need to deal with keywords in IFs in a generic way"
The proposal is that keywords should be used exclusively to drive IF behaviour related to layer specific attributes.

In IF base classes we should deal with keywords generically - for example - a categorised exposure IF should always have the category attribute red from keywords.

More specific keywords should be handled directly in concrete classes e.g. flood threshold mappings.

[2015-05-05 09:25] Charlotte-Morgan commented on #1811
is 'intersection' a better word than union in this case - ie the common area not the combined area?

[2015-05-05 09:37] Gustry commented on #1314
@timlinux @samnawi Which administrative level in OpenStreetMap do you need ?
Do you want each level in a layer, or every levels in one layer ?
You can have a look at this page to help : http://wiki.openstreetmap.org/wiki/Tag:boundary%3Dadministrative#11_admin_level_values_for_specific_countries

[2015-05-05 09:43] Charlotte-Morgan commented on #1314
my guess is separate layers with scale dependency - like the roads bundle

[2015-05-05 10:18] akbargumbira opened #1920 "Utilise TemplateComposition class to implement realtime report class"

[2015-05-05 13:26] cchristelis commented on #1765
The mixin for buildings hazard has been merged and is in the current release. We should continue with the population as well as the roads reports.
I am working on the population mixin now.

[2015-05-06 05:38] lucernae commented on #1765
Hi @akbargumbira @cchristelis , I'm trying to create the new 12 IF base classes, then I found out that the roads and buildings have different reports. I'm not sure what to do until I read this.

So, CMIIW, we will have a group of IF base classes  and a group of ReportMixin, and then we will pair each other for specific IF? This is just to make sure that I'm in the right track.

[2015-05-06 07:12] cchristelis commented on #1765
Hi @lucernae,
I've started with the work on the population report mixin and both that and the roads one will be done by 3.2.

In principle yes, the specific IF will be a combination between Report Mixin and IF calculation.

[2015-05-06 07:15] akbargumbira commented on #1765
@lucernae report mixin should be used in the implementation of an IF, not in the base class or 12 generic classes.

[2015-05-06 10:30] cchristelis opened #1921 "Population report issues"
# Problem

We are consolidating the reporting of the impact on population. It would improve the quality of our reports if they where not only consistent in form and presentation, but also in numbers and wording.
# Issues
- We have different ordering of the major elements in various IFs. These are impact summary (including breakdown where applicable), minimum needs, action checklist and notes.
- Te

[2015-05-06 10:34] cchristelis commented on #1921
For the ordering issue I propose using:
1. impact summary
2. minimum needs
3. action checklist
4. notes

[2015-05-10 23:27] Charlotte-Morgan opened #1926 "BUG: Minimum Needs Manager Window - unable to resize"
# Problem
the Minimum Needs Manager window height can not be resized & is bigger than a laptop screen size. This means that it is not possible to edit and save options or a new profile using this tool

# Environments
Windows
QGIS 2.8
InaSAFE 3.1 experimental (pre release version)

[2015-05-11 00:27] lucernae commented on #1926
I also encountered this and made some modification via #1878 earlier. I noticed that @timlinux 's PR in #1892 also includes it. So I expect it will solves this problem after it is merged

[2015-05-11 04:11] adissadis commented on #1862
@lucernae sorry for my late respond. I'm still encountered this error, even i update the plugin according to recent file in this repository, i'm still got this error.

Here my step by step:
1. I run impact analysis using building_osm_jakarta (from InaSAFE training data) and flood_hkv_jakarta (from InaSAFE training data) using district_osm_jakarta as aggregation layer.
2. I run impact analysis also

[2015-05-11 04:32] Charlotte-Morgan opened #1927 "BUG: Insufficient Overlap"
# Problem with raster on raster analysis

[code]

[2015-05-11 06:27] timlinux commented on #1927
Is this on the release version @Charlotte-Morgan ?

And can you tell me what steps you followed so I can replicate it?

[2015-05-11 06:52] Charlotte-Morgan commented on #1927
data: jakarta flood raster, popmap_all population raster.
Environment: fingers crossed, hold breath, squint
analysis extent: clear - then zoom in, or set etc nothing happy

[2015-05-11 08:32] akbargumbira opened #1928 "Update to InaSAFE 3.2 dev for EQ Realtime in Kartoza Server"

[2015-05-11 08:33] akbargumbira commented on #1928
Update the code base if necessary to get it working with InaSAFE 3.1

[2015-05-12 01:22] KathrynOwen opened #1930 "Minimum Needs Readable Sentence box needs more space"
# Problem
It is quite hard to read and edit the sentence in this small field
![image](https://cloud.githubusercontent.com/assets/10971278/7578505/4c2ce65a-f899-11e4-8dc9-ce1099ee1bd0.png)

# Proposed solution
Make the box bigger so that the full sentence is visible all at the same time

[2015-05-12 01:32] KathrynOwen opened #1931 "Minimum Needs Configuration - Provenance statement"
# Problem
A user can modify a profile without updating the provenance statement

# Proposed Solution
- [ ] User needs to be prompted to check that the Provenance statement is still current when saving an updated or modified minimum needs profile.
- [ ] This is a potentially a good place for a user warning message

[2015-05-12 03:07] akbargumbira opened #1932 "Make InaSAFE EQ Realtime work with InaSAFE 3.1"

[2015-05-12 06:03] KathrynOwen opened #1933 "Minimum Needs Manager - issue with default profile upon opening"
# Problem
Profile details do not match the profile listed in the Profile box when the Minimum Needs Manager is opened for a second time in a session. This could result in edits being applied to the wrong profile.

# Details
First time the Minimum Needs Manager is opened after opening QGIS, the default Profile and matching details are displayed - e.g. 'BNPB_en'

![image](https://cloud.githubusercon

[2015-05-12 11:41] MariaSolovyeva commented on #1753
Hello @gubuntu and @timlinux ,

Here is a mockup of the InaSAFE's GeoNode homepage. I hope the menu is not too complicated. As the link to the GeoNode will go from  InaSAFE > Users > Data, I kept the same structure and added the sublinks of the page here. We will just have to change the intro text, and the blocks intros as well.

![data2](https://cloud.githubusercontent.com/assets/10400420/7586368

[2015-05-12 21:24] timlinux opened #1935 "We need a use cases section on the new web site"
For Maria:

We would like to have a section for use cases where we can put up stories of different institutions that are using InaSAFE and how. @Charlotte-Morgan and HOT team would need to collaborate on getting some initial content and maybe @maning and NOAH folks, as well as @vdeparday could contribute some content for us?

**Other things to convey:**
Examples of InaSAFE being used for contingen

[2015-05-13 07:40] akbargumbira opened #1936 "Update the keyword assigned to the output of shakemap grid converter to tif"

[2015-05-13 07:40] MariaSolovyeva commented on #1935
@timlinux , should it go to About or Users section?

[2015-05-13 07:42] timlinux commented on #1935
I think in the about section

Thanks!

[2015-05-13 08:11] timlinux commented on #1927
I'm trying to replicate here:

This is with flood raster and pop, extents cleared and zoomed in:

![noclipping](https://cloud.githubusercontent.com/assets/178003/7606262/84c7d132-f957-11e4-97d4-756e44170dfd.png)

I get this:

![screen shot 2015-05-13 at 10 01 00](https://cloud.githubusercontent.com/assets/178003/7606272/972ff1d8-f957-11e4-8b4b-a2ae86ff97d5.png)

Enabling clip to view:

![screen sh

[2015-05-13 12:22] Jannes123 commented on #1930
Created new TextParameter and TextParameterWidget classes used them for Readable Sentence only
![text_widget](https://cloud.githubusercontent.com/assets/11268911/7610225/7931da6a-f97b-11e4-96e6-b1479037c3ab.png)

[2015-05-13 12:22] #1930 closed

[2015-05-13 12:41] MariaSolovyeva commented on #1935
Here is the Case Uses page http://blogtest.inasafe.org/en/about-inasafe/cases/
@timlinux , let me know what fields I can add there, e.g.:

- institution logo
- goals
- maybe dates ?

Thank you

[2015-05-14 07:08] #1933 closed

[2015-05-14 07:08] #1926 closed

[2015-05-14 07:46] Jannes123 opened #1941 "Readable Sentence Text Formatting"

[2015-05-14 07:49] Jannes123 commented on #1941
enable string formatting {{ varname }} of TextParameters

![readable_sentence_format](https://cloud.githubusercontent.com/assets/11268911/7628022/59a5cf00-fa1e-11e4-95f4-89dafa803a07.png)

[2015-05-14 10:11] Jannes123 commented on #1931
Hi @KathrynOwen what is the text message you would like to see after the Warning?
![profile_changed](https://cloud.githubusercontent.com/assets/11268911/7630034/5fe2a186-fa32-11e4-842b-d9a87997621e.png)

[2015-05-14 11:38] Jannes123 opened #1942 "LayerParameter Classes"
Options should present user with loaded layers and allow him to select

[2015-05-14 11:58] Jannes123 commented on #1942
Helper functions for:

* Name
* Type (rast/vect)
* Filename

[2015-05-14 12:35] Jannes123 commented on #1220
Investigationg using the following:

* QGIS.APP
* CANVAS
* IFACE
* QgsRasterlayer
* QgsVestorLayer
* Analysis -- > run
* Extent
* ImpactFunctionManager

[2015-05-14 12:51] timlinux commented on #1220
Some entry points for seeing existing logic:

* safe/test/utilities.py:68 - shows how we generate a QGIS_APP, CANVAS, IFACE instance (Ideally iface should not be required)
* safe.gis.test.test_qgis_raster_tools.TestQGISRasterTools#setUp shows how to create a QgsRasterLayer
* qgis._core.QgsVectorLayer.QgsVectorLayer#__init__ shows how to create  QgsVectorLayer
* safe.gui.widgets.dock.Dock#prepare_a

[2015-05-15 01:02] KathrynOwen commented on #1931
Hi @Jannes123 Perhaps 'Warning: Changes have been made to the above profile. Is the following provenance statement still correct?'

@Charlotte-Morgan what do you think?

[2015-05-15 01:45] Charlotte-Morgan commented on #1931
LGTM or if you want to keep it shorter.
Warning: profile changed. Please update the provenance statement.

[2015-05-15 06:11] maning commented on #1935
Write-up/Case study for the PH on me.

[2015-05-15 08:26] Jannes123 commented on #1941
@cchristelis not a bug, perhaps we should add more help text for this widget used to format readable sentence.

[2015-05-15 09:03] #1931 closed

[2015-05-15 09:04] cchristelis commented on #1941
Is there not enough information in the description text?
Here is the formatted description:
[code]
What do you propose we add?

[2015-05-18 10:01] adissadis opened #1944 "[BUG] Cannot resize Global Minimum Needs Configuration Window"
# Problem
I cannot resize Global Minimum Needs Configuration's Window vertically. In the first time the window appear was really big that i need to resize it to find OK button that located in bottom window, but I only can resize the window horizontally and when i want to resize the window vertically, i can't resize it. Here's the screenshot for initial window appear:
![inasafe_1](https://cloud.git

[2015-05-19 03:54] adissadis opened #1945 "Python Error when select different profile from Global Minimum Needs Configuration"
# Problem
I encountered python error when i want to change different profile in Global Minimum Needs Configuration
![inasafe_1](https://cloud.githubusercontent.com/assets/2520159/7695028/a1587b2e-fe13-11e4-8db4-e9c4159ab30c.png)

## Step for producing this error
1. Open InaSAFE Global Minimum Needs
2. Try to modified some item in one profile (for example, modified Rice in BNPB_en profile)
3. Don't

[2015-05-19 04:44] adissadis opened #1946 "Wrong action for Export and Import Buttons in Global Minimum Needs Configuration Tool"
# Problem
I want to import BNPB_en minimum needs configuration to my own custom minimum needs in *InaSAFE Global Minimum Needs Configuration*'s Windows.

Instead of import the file, it showed me *Save As..* action. Both **Export ...** and **Import ...** buttons act same behavior with **Save As** button.

![inasafe_2](https://cloud.githubusercontent.com/assets/2520159/7695629/71ba5c26-fe1c-11e4-867

[2015-05-20 04:25] adissadis opened #1947 "Found several bugs in InaSAFE Minimum Needs Tool"
# Problem
I found several bug when I want use *InaSAFE Minimum Needs Tool*.

### First bug
The **Affected people field** in InaSAFE Minimum Needs Tool its didn't change if we change **Affected people layer**. It still showed field in previous layer. For example, in this image, i have several layer in my layer list (building, building-points, and district_osm_jakarta).

![inasafe_1](https://cloud.g

[2015-05-20 09:05] akbargumbira opened #1949 "We need to update keyword assigned to the output of InaSAFE Converter tool"

[2015-05-20 09:06] #1949 closed

[2015-05-20 09:40] lucernae commented on #1944
This is a duplicate issue of #1926 I already included some commit but we haven't merge this.
Seeing this is a critical issue, I guess I will cherry pick the commit on separate PR.

[2015-05-20 09:45] Jannes123 commented on #1944
Please check that you are working from latest repo I have also fixed this
problem twice now once for master and for develop

On Wednesday, May 20, 2015, Rizky Maulana Nugraha <notifications@github.com>
wrote:

[2015-05-20 09:51] lucernae commented on #1944
Haha... yes, this is going crazy. But, this still occurs in develop branch. So, I assume my commit about this haven't been merged. I will make another PR and merge this ASAP, so we can move on :p

[2015-05-20 09:59] Jannes123 commented on #1944
Hi Rizky, yes I think your changes were not mergeable because there were
some other design changes with the scrollbars.

On 20 May 2015 at 11:51, Rizky Maulana Nugraha <notifications@github.com>
wrote:

[2015-05-20 11:53] timlinux commented on #1914
Please see also: https://www.lucidchart.com/invitations/accept/65997218-9953-474c-8905-0075638d128c

[2015-05-20 17:48] lucernae commented on #1945
I think it doesn't make sense that we had a close button. Perhaps we should hide the close button in the "edit resource" page.
But, we still have to handle the close action when triggered via escape button or quit [x] button

[2015-05-20 18:12] lucernae commented on #1946
After a bit browsing the codebase, it appears that the import button uses the wrong name. It should be "open"

[2015-05-21 04:49] akbargumbira opened #1951 "Regression on metadata work"
# Problem
If you use the shakemap converter tool and try to use 'grid.xml' file as the input, the metadata will override the original grid file (because the metadata will have the same file name).

# CC
@mbernasocchi @timlinux

[2015-05-21 09:19] vdeparday opened #1952 "QGIS crash after InaSAFE analysis"
On QGIS 2.8.2-1 and InaSAFE 3.1 experimental on Windows, QGIS totally crashed after running an analyis.
The output layer gets added to the workspace but one second later a pop window says

qgis-bin.exe has stopped working or something along those lines

QGIS closes.

[2015-05-21 10:54] #1936 closed

[2015-05-21 10:54] #1951 closed

[2015-05-21 10:55] akbargumbira commented on #1951
I will close this. For shakemap converter tool, I added the option to add the algorithm name in the tif output so that it keywords file have different name with the grid input

[2015-05-22 15:07] ismailsunni opened #1954 "Remove Keyword Dialog"
Problems
------------
Due to metadata update, keywords dialog will be broken. We need to update it so that it can work as before.

Solution
-----------
Some needed updates:
- [ ] Change category to layer purpose
- [ ] Remove subcategory and change it to exposure_type or hazard_type, dynamically (using impact function manager)
- [ ] Make sure the dialog still works for aggregation layer

[2015-05-22 16:19] #1947 closed

[2015-05-22 16:28] lucernae commented on #1947
@adissadis could you try this again? :)

[2015-05-22 18:41] timlinux commented on #1954
Do you mean the keywords editor above? I think we have agreed to remove it and use only the wizard? Can we go ahead with this. CC @Charlotte-Morgan

[2015-05-22 23:13] ismailsunni commented on #1954
@timlinux yes

But, iirc @Charlotte-Morgan said that she has a case for it when we were in Jakarta.

*I hope I was wrong.

[2015-05-23 04:43] akbargumbira commented on #1954
The case was that to add allow resample option/not, which she also had
agreed to remove keyword editor as the wizard asks this in one of the steps
in wizard. But please check if this option is properly assigned from the
wizard.
On May 23, 2015 6:13 AM, "Ismail Sunni" <notifications@github.com> wrote:

[2015-05-25 01:55] ismailsunni commented on #1954
Ok, so we agree, if there the wizard does the job properly, we will remove the keywords dialog?

Another thing is, the dock still uses the keywords dialog to assign some keywords, if not exist. What about this?

[2015-05-25 02:14] ismailsunni commented on #1869
Hi @Charlotte-Morgan
From the 3rd point, the ratios come from this comment in the code. It was @mbernasocchi 's research.

# https://www.cia.gov/library/publications/the-world-factbook/geos/xx.html
# Age structure:
# 0-14 years: 26.3% (male 944,987,919/female 884,268,378)
# 15-64 years: 65.9% (male 2,234,860,865/female 2,187,838,153)
# 65 years and over: 7.9% (male 227,164,176/female 289,048,221)

[2015-05-25 02:42] ismailsunni opened #1956 "Update Wizard Dialog with New Metadata Keywords"
Problems
-------------
Since we will have new metadata keywords, the wizard should be updated, so that it can work properly.

Current Status
-------------------
@borysiasty has made some initial work to do it, and will be merged to https://github.com/ismailsunni/inasafe/tree/new_metadata_keywords.

Solution
----------
Make it happy.

[2015-05-25 02:45] ismailsunni commented on #1956
From @borysiasty 's email:

Hi Ismail,

I made a PR for you. In separate commits there are some minor fixes for
new_definitions.py and impact_function_metadata.py

Thanks I will check it.

The wizard is alsmost working, however, it requires a few changes in the API
to finish the work:

1. The continuous_hazards_units_for_layer() always return all units (even
metres for earthquake). You can see it

[2015-05-25 02:56] akbargumbira commented on #1954
Yes

Simply just remove keywords dialog with wizard. I see that the usage is only for when user uses aggregation layer but the keywords is not valid.

[2015-05-25 07:18] adissadis opened #1957 "[Bug] There's no "Extent Selection" in Impact Function Centric Wizard"
# Problem
I'm using Impact Function Centric Wizard (Building and Flood hazard) and didn't have any layer in my layer list. So after i select my hazard and exposure data from my directory, the next section is not the "Aggregation" and "Extent Selection" instead it appear Error message like this:
![image](https://cloud.githubusercontent.com/assets/2520159/7793262/e56f9d60-02e6-11e5-8900-627063f89c46

[2015-05-25 07:44] ismailsunni commented on #1956
Hi @borysiasty
From your request above, I have done:
- Fix continuous_hazards_units_for_layer.
- Use default arguments for functions_for_constraint
- Return metadata for functions_for_constraint

I hope that's enough.

[2015-05-25 08:16] lucernae commented on #1957
@adissadis can I have more specific information on what are the layer filenames which is used?

[2015-05-25 08:47] adissadis commented on #1957
@lucernae i'm using building_osm_jakarta with hazard data using both flood_hkv_current_jakarta and flood_osm_bpbd18113_Jakarta

[2015-05-25 09:42] #1944 closed

[2015-05-25 09:42] #1945 closed

[2015-05-25 09:42] #1946 closed

[2015-05-25 10:04] #1475 closed

[2015-05-25 10:05] #1932 closed

[2015-05-25 22:34] borysiasty commented on #1956
@ismailsunni Thanks a lot - the PR is waiting for you.

[2015-05-26 02:01] ismailsunni commented on #1954
Ok, then I will remove it, and pop up a message box if the user use invalid keywords for aggregation layer on dock.

[2015-05-26 02:05] ismailsunni commented on #1954
I will change to "remove the keywords dialog"

[2015-05-26 03:28] akbargumbira commented on #1954
Rather than popping up a message box, I thin it's better to instantiate a wizard dialog

[2015-05-26 08:19] #1928 closed

[2015-05-26 09:17] Gustry commented on #1670
Edges are now splitted according to an IDP camp.
![map2](https://cloud.githubusercontent.com/assets/1609292/7808000/0f4055b8-0390-11e5-9216-6a640445f53f.jpg)
I will work soon on the template for the report, so comments are welcome about this proof of concept.

[2015-05-26 09:42] akbargumbira opened #1958 "Move provenance option into minimum needs section"
# Problem
The provenance is best to put in the minimum needs option. Move this to minimum needs section with the value from the minimum needs file itself. User can update this as perhaps they change a bit the minimum needs before running the analysis. The provenance at first should be fetched from the minimum needs file itself.

[2015-05-26 09:57] akbargumbira opened #1959 "Move to IF base class the target field and other necessary hardcoded options in current IF's"
# Problem
For the case of vector impact layer, we sometimes need to specify the target field in the impact layer and other variables (for example the string to write to the data when it's not affected). It will be nicer to move this to IF base class. With this in place, we can have:
1. Once in base class checking that the target field is not conflicted with the existing fields from input layers. W

[2015-05-26 13:02] ismailsunni commented on #1954
I had that idea also, but I prefer to do it after the wizard is finished. We will do it for sure.

[2015-05-26 13:34] ismailsunni commented on #1957
@borysiasty can you make sure that this won't happen in the new wizard?

The problem only occurs when the user select layer from disk. All is fine if the user select the layer from QGIS.

[2015-05-26 13:39] ismailsunni commented on #1956
Thanks @borysiasty for the wizards.

If anyone want to test it, please get it from https://github.com/ismailsunni/inasafe/tree/new_metadata_keywords.

cc: @Charlotte-Morgan @borysiasty @timlinux @akbargumbira @lucernae @cchristelis @Jannes123 @Gustry

[2015-05-26 13:55] ismailsunni commented on #1956
UI Things
- Click Load standards layers
- Choose Flood vs Structure
- Choose Raster vs Polygon
- Choose Flood raster building function
- Choose loaded from QGIS
- Got this UI. See the text in the right.
![inasafe_020](https://cloud.githubusercontent.com/assets/1421861/7814000/5f1fec66-03e9-11e5-8f7b-aa1e7f82bc0c.png)

[2015-05-26 13:58] ismailsunni commented on #1956
- UI Things
Better text for postprocessor (see green arrow)
![inasafe_021](https://cloud.githubusercontent.com/assets/1421861/7814086/f8907aa0-03e9-11e5-896e-25a8eacbaf0f.png)

[2015-05-28 04:18] ismailsunni commented on #1954
Done in PR #1809

[2015-05-28 04:18] #1954 closed

[2015-05-28 04:21] ismailsunni commented on #1823
The branch #1809 has been merged.
There are some missing description in definitions though. We can update it later.

[2015-05-28 04:21] #1823 closed

[2015-05-28 06:34] ismailsunni opened #1961 "Wizard's Issues"
Problem
----------
These are known issues in the wizards.
- [x] ~~Use `attribute` instead `field`~~ (we decided the `field` is ok)
- [x] Special case for volcano point. Currently, it doesn't make sense.
- [x] Don't hard coded option for continuous and classified (layer_mode step)
- [x] We should write layer_geometry to the keywords file
- [x] Generic IF makes the wizard able to assign un-matched h

[2015-05-28 07:31] borysiasty commented on #1956
Here is the workflow of the keyword creation mode:
![wizard_workflow](https://cloud.githubusercontent.com/assets/1000043/7854710/3f7d55fe-051c-11e5-88f3-a6334b6d20b4.png)

[2015-05-28 14:16] haytastan opened #1964 "The plugin exited with error status: 1"
I use QGIS 2.8 Wien. I haven't able to load InaSAFE v3.1.0 and got the error message:
The plugin exited with error status: 1
![error_message_inasafe-v3 1 0](https://cloud.githubusercontent.com/assets/7123870/7862229/3f2c042e-055d-11e5-9280-d4e0938418f6.jpg)

I need help.
Best regards,
Dr.Hayati Taştan
haytastan@gmail.com

[2015-05-28 15:16] akbargumbira commented on #1964
Hi, can you explain more about the crash?
- When you said it crashes when you load the plugin, is it when you install it? or when you enable it (checking the checkbox)?
- What kind of windows are you on? 32bit or 64?

Thanks

[2015-05-28 17:53] lucernae opened #1965 "Mismatch of metadata with the layer"
I'm not sure where to start. I'm also not sure is this the expected outcome?
Here's what I found:

### Earthquake Polygon can't be matched with any exposure layer we have in test data (safe.test package)

I tried possible combination of hazard and exposure. When I arrived at Earthquake Polygon, I assumed that it can be matched by building exposure, because we have classified polygon building IF? B

[2015-05-28 17:54] lucernae commented on #1965
In case this is a typo, just merge my PR, if not, just close it.

[2015-05-28 19:53] timlinux commented on #1964
I also tested here on Win8 64 bit and previously on Win 7 64 bit and it is working fine for me.

@haytastan could you perhaps also tell us which other plugins you have installed? It might help to diagnose the issue - and also perhaps try setting your locale in QGIS manually to English and see if that makes any difference?

[2015-05-29 04:24] akbargumbira commented on #1965
Thanks for the PR

[2015-05-29 04:24] #1965 closed

[2015-05-29 07:08] lucernae commented on #1914
Because we're not really sure on what to implement in the base class. Right now, I just put metadata checks and assign the base class to concrete IF implementations.

These are the lists:

## Inundation

### ClassifiedVHContinuousRE

- flood_polygon_population (FloodEvacuationVectorHazardFunction)

### ClassifiedVHClassifiedVE

- flood_polygon_roads (FloodVectorRoadsExperimentalFunction)
- flood_v

[2015-05-29 08:32] Charlotte-Morgan commented on #1961
# Problem
Some additional observations on the wizard.
- [ ] Step 1. Radio buttons for Hazard Scenarios should read "Single Event" and "Multiple Event"
- [ ] Step 1. Add text explaining what a single event and multiple event is here or it comes up on a later step.
is the radio button still needed if the hazard data will also have a key word assigned for this, ie the wizard can read from the metadat

[2015-05-29 09:04] akbargumbira commented on #1797
- [ ]  Remove packing unpacking layers. Thus remove functions like extract_layers, get_layer, etc in safe.enging.core
 - [ ] TBD

[2015-05-29 09:04] borysiasty commented on #1961
@Charlotte-Morgan, Thanks a lot for your remarks!

This will be DCW (data-centric wizard) - a task for next month. Initially, the first step of the IFCW was a function tree, the tables came later ;)

It should offer you just the selected hazard rasters plus, additionally, all rasters without keywords (or with obsolete  keywords), written with an italic font. Maybe it's the case?

@ismailsunni - we

[2015-05-29 09:08] Charlotte-Morgan commented on #1961
@borysiasty - yes I agree my comments are data centric and i think we abandoned that in favour of a single wizard. So you are correct, we are IFC right now
The wizard offered me all rasters regardless of hazard or exposure that were loaded in qgis. These all had relatively up to date metadata.
I'm just grabbing your pull request to make sure my comments are still valid

[2015-05-29 09:11] Charlotte-Morgan commented on #1961
ok - rasters offered are in italic but kw are current -1 version :)

[2015-05-29 09:14] borysiasty commented on #1961
@Charlotte-Morgan: if they are italic, it seems the layer_purpose keyword is missing.

[2015-05-29 09:25] borysiasty commented on #1961
Good question. According to the table in the *Metadata Conceptual Overview for InaSAFE* document, switching from Single to Multi Event should make raster volcanos cell enabled. It's the only difference, and it seems even it doesn't work :) It means the IF api finds the same possibilities for both scenarios.  So maybe we can drop the radiobuttons? If I'm right, the only effect will be the list of a

[2015-05-29 14:48] ismailsunni opened #1975 "Description Text to be Added in definitions.py"
Problems
------------
Some descriptions in definitions.py are missing:
- hazard_category_single_hazard
- hazard_category_multi_hazard
- exposure_land_cover
- exposure_people_in_building
- unit_kilogram_per_meter_square

The other are written in https://github.com/AIFDR/inasafe/blob/develop/safe/definitions.py

If you see improper definitions, please tell me.

[2015-05-29 15:58] timlinux commented on #1797
Yes I also like the idea of expecting QgsMapLayers and then casting them off to read_layer (gotta change that name some time) if needed.

[2015-05-29 16:01] timlinux commented on #1914
Yes as a first pass the base classes should be ensuring that the inputs comply with the specified layer modes.

[2015-05-29 16:17] timlinux commented on #1670
Ah man that looks awesome...well done!

[2015-05-29 16:28] timlinux commented on #1959
Can you point to a specific example of where we do this for the logs of this ticket? I wonder if it would not be nicer to:

* Strip original attributes from the impact layer
* Create a foreign key reference to the original layer in QGIS so user can still see the original attributes
* Use a simple algorithm to ensure that ``get_non_conflicting_attribute_name`` returns a guaranteed unique attribute

[2015-05-30 01:02] lucernae opened #1980 "Provenance is not displayed in some of the IFs analysis report"
When developing issue #1958, I noticed several concerns:

The provenance is not displayed in some of the IF or not consistent:
- classified polygon population (uses minimum needs, but not displaying provenance)
- flood raster population (uses minimum needs, but hard coded provenance in the report to show BNPB regulation)
- continuous hazard population (uses minimum needs, but not displaying proven

[2015-05-30 02:22] akbargumbira commented on #1980
Thanks for pointing this. I believe @cchristelis is working on this with
the Population Exposure Mixin. And just a note that the provenance
shouldn't be hardcoded, but rather take it from the runtime provenance in
parameter.

On Sat, May 30, 2015, 08:02 Rizky Maulana Nugraha <notifications@github.com>
wrote:

[2015-05-30 18:39] timlinux opened #1985 "We need to harmonise the application toolbar icons with the HIG guidelines"
# Problem

Our icon set is rather haphazard. We should have icons that are consistent with the design guidelines for InaSAFE (as per http://github.com/AIFDR/inasafe-graphics ).

@MariaSolovyeva has produced two options as proposed replacements:

![screen shot 2015-05-30 at 20 19 55](https://cloud.githubusercontent.com/assets/178003/7898783/ff0ee838-070b-11e5-9b6a-6ee62aea25b8.png)

or

![screen sh

[2015-05-31 14:46] borysiasty commented on #1956
As some of you may already know, Ismail and me realized that we need a third layer_mode.
Besides 'continuous' and 'classified', we need a mode where every feature has the same value, e.g. for volcano_point.
We called it temporarily 'none', ideas for a better name highly welcome.

On the diagram below, you can see the current imlementation of the wizard. At this moment, the full implementation is s

[2015-06-01 02:15] Charlotte-Morgan commented on #1956
Hi @borysiasty
I agree that there is a third layer mode. have a look at the Data Model diagram in the metadata definitions hierarchy https://docs.google.com/document/d/1UMG5SklkLrF12-lO5sS8ROLmB7JXx3E3w8bamB4JMqo/edit
This shows that raster data can be continuous or classified and that vector data can be classified or 'footprint' (not sure that is the best word).

This data model only describes th

[2015-06-01 03:19] #1958 closed

[2015-06-01 03:53] akbargumbira opened #1986 "Update necessary layers for Realtime analysis with the new metadata"

[2015-06-01 04:22] ismailsunni commented on #1961
hi @Charlotte-Morgan
for
[code]
The reason is, in generic IFs, we put all possible hazards and all possible units to be able to run in the generic IF.
After some thought, perhaps it will be better to put only all hazards, and only put `generic` unit or classifications.
What do you think?

[2015-06-01 04:31] Charlotte-Morgan commented on #1961
hi @ismailsunni
Is is possible to only offer some units depending on hazard?
Same - i am also looking at other issues for generic IF & wonder if units and thresholds can be set based on hazard? eg if i choose continuous raster hazard on population (but have already stepped through telling it that i want to look at flood) then should it know that only some units are suitable for continuous flood ra

[2015-06-01 09:11] borysiasty commented on #1956
Well, all I need is just a set of unambigious rules how the wizard should behave. In the diagram above there is my proposition of a strictly organized rule. There can be either:
- LAYER_MODE=classified and CLASSIFICATION=road_classes and FIELD=something
- LAYER_MODE=none/footprint/however and ROAD_TYPE_FIELD=something

The former implies 'things other than reporting', but actually none of them nei

[2015-06-01 09:24] borysiasty commented on #1956
Ok, now I realized we're departing from simple keywords in favour of hierarchical ones (eg. we have *raster_hazard_classification*, *vector_hazard_classification* etc. instead of just one *classification*, so maybe the goal is to drop the simple *field* and only use the *road_type_field* etc?

Anyway, I'm waiting for a final approval how it should work :)

[2015-06-01 09:48] Charlotte-Morgan commented on #1956
yeah - the lads are locked in a room working it out :)

[2015-06-01 10:05] borysiasty commented on #1956
Here is an editable version of the diagram: http://tmp.borysjurgiel.pl/wizard_workflow.svg

[2015-06-01 10:38] timlinux commented on #1956
Its giving a 404 borys

[2015-06-01 10:53] borysiasty commented on #1956
Strange... Not for me! :)

[2015-06-01 11:56] Jannes123 commented on #1220
CLI lite is on PR #1988.  Setting the extent and OSM downloader still needs to be implemented.

[2015-06-02 04:48] KathrynOwen opened #1989 "Wrong help page for User Extents/Analysis Area tool"
# Problem
When help is clicked in the User Extents/Analysis Area tool, the help text doesn't match the current ability of the tool.

Charlotte mentioned that the help page is meant for version 3.2, not the current 3.1 version.

Current options on the tool are only to use a bookmark, input co-ordinates or select extent on the map:
![image](https://cloud.githubusercontent.com/assets/10971278/7928625

[2015-06-02 07:08] timlinux commented on #1989
Hi

Just a note to say that the help file is in fact correct, but it will be defunct in 3.2, so it will need to be updated for that release. I am going to close this for now.

Thanks for the feedback.

Regards

Tim

[2015-06-02 07:08] #1989 closed

[2015-06-02 07:31] akbargumbira commented on #1959
This PR addresses this https://github.com/AIFDR/inasafe/pull/1970. Note that some of the code will be changed again when I do the analysis streamlining. Closing this

[2015-06-02 07:31] #1959 closed

[2015-06-02 07:37] akbargumbira opened #1990 "Standardize Building Type Parameter"
# Problem
All our IF's on building need a standardize way to get the building type.

# Proposed Solution
1. Remove all parameter in IF option related to building type field
2. Get the building type field from layer keywords
3. As a fallback, don't stop the analysis if the field doesn't exist in the building layer. But rather use the same old way that we do (looking for some attributes e.g amenity,

[2015-06-02 07:39] akbargumbira opened #1991 "Update the IF's to get some parameters from Layer's keywords"
See the task 4 in here https://docs.google.com/spreadsheets/d/1o8xRZ_Sa3gkt0H8sLrXwJg4OyBKKqtMjQG8h7scRkW8/edit#gid=973901724

[2015-06-02 07:50] timlinux opened #1992 "We need to deploy geonode into its own virtual server instance"
Currently we have geonode mixed in with other services on kartoza4. I prefer that it is discretely installed into its own server instance. This ticket lays out the deployment plans and requirements for Hendrik (@hvisage) to follow.

# Standard requirements

* Server installation should be scripted and repeatable with Ansible
* Virtual host installations should be scripted and repeatable with Ansib

[2015-06-02 09:43] Jannes123 commented on #1888
It seems like this issue was resolved either by me or @lucernae for master and develop branches. closing issue.

[2015-06-02 09:43] #1888 closed

[2015-06-02 10:39] #1941 closed

[2015-06-02 14:49] akbargumbira opened #1996 "Don't use test data directly from its path but rather copy it to inasafe temp dir when running tests"
We should not use test data directly in the test dir, but rather copy it to inasafe temp dir when running tests

[2015-06-03 02:12] timlinux opened #1997 "WPML Plugin for Wordpress is not redirecting to /en/"
Hi @MariaSolovyeva

I did some updates to the blog site so we can get it ready to go into production. I used a newer wordpress container which uses apache instead of nginx. Do you remember we had problems with urls like:

http://blogtest.inasafe.org/en/

Not redirecting properly? It was caused by the WPML plugin and I made these changes to the nginx configuration to fix it:

[code]

With the confi

[2015-06-03 03:52] wonder-sk opened #1998 "Align Rasters Tool"
# Align Rasters Tool

The idea is to add support for alignment of rasters to QGIS. By the alignment of rasters it is meant that several raster layers are resampled to a common coordinate reference system, having the same image size, cell size and cells are perfectly aligned among the individual raster layers. Aligned rasters are required for impact functions in InaSAFE when either hazard and expos

[2015-06-03 03:55] wonder-sk commented on #1998
CC @akbargumbira @Charlotte-Morgan @timlinux

[2015-06-03 04:16] timlinux commented on #1998
Hi @wonder-sk

Thanks for this well written ticket! A few comments / questions from me:

1. Note that we differentiate between
* **population count** - cells contain number of people present in that cell
* **population density** - cells contain number of people per m2 / km2 etc

So in your wireframe above the line item should be Population count. Maybe simply having a checkbox next to item with 'S

[2015-06-03 04:38] timlinux opened #1999 "Shakemap importer tool does not work on OSX"

[2015-06-03 04:59] timlinux commented on #1999
Actually it is working but maybe it would be helpful if it zoomed to the new layer if 'add to layer is enabled'

[2015-06-03 05:00] wonder-sk commented on #1998
Thanks for the comments:
- good idea with bookmarks. It seems there is no support for bookmarks in API yet (neither in core nor bookmarks combo box widget) - may be good to add that too. Or maybe even better to create a general "extent selector" widget - probably a combo box with basic choices (e.g. project extent, canvas extent), list of bookmarks and an option for custom extent.
- CRS selection

[2015-06-03 06:12] timlinux commented on #1998
Hi

Yes please - at the moment we do hacky stuff like this to get them:

https://github.com/AIFDR/inasafe/blob/develop/safe/gui/tools/extent_selector_dialog.py#L313

Yup that would be a good option too

OK cool!

[2015-06-03 06:40] #1483 closed

[2015-06-03 07:06] MariaSolovyeva commented on #1997
Ok it is fixed, I had to reset the permalink structure

[2015-06-03 08:39] Charlotte-Morgan opened #2003 "We need an InaSAFE T-shirt"
We need an InaSAFE t-shirt for significant project team members that can be worn during training, promotions etc. This is not a t-shirt for training participants.
- [ ] use the official t-shirt design developed by kartoza
- [ ] number & sizes to be determined by @timlinux
- [ ] production & delivery to be managed by HOT  @iyan31
- [ ] funded by AIFDR through Grant to HOT
- [ ] required by 10 June

[2015-06-03 08:56] lucernae opened #2004 "Keywords creation wizard is not working"

[2015-06-03 08:58] lucernae opened #2005 "Keywords creation wizard is causes QGIS to crash"
# Environment

- QGIS 2.8.1 Wien
- Linux, Ubuntu 14.04
- InaSAFE develop branch

# Steps to Reproduce

- Enable developer mode
- load standard layers
- select Flood Polygon layer
- click Keywords Creation Wizard
- click next all the way until it ends or crash

[2015-06-03 09:09] Charlotte-Morgan commented on #1998
hi @wonder-sk - this looks great.
i think its good for the user to be able to find information about their data in the tool and they can do that by trying each raster as a reference layer before they finalise the choice.
This also allows users to have a 'reference' raster (national grid in preferred coordinate system and cell size that they can use to resample things consistently.

[2015-06-03 11:41] timlinux commented on #1997
Oh awesome, thanks very much!

[2015-06-03 11:41] #1997 closed

[2015-06-03 12:49] iyan31 commented on #2003
Once we got the number and sizes, we will start the production immediately

[2015-06-03 16:47] timlinux commented on #2003
@iyan31 hi!

I think the number is up to you (how much budget you have), and also the sizes probably we want a mix of :

Size | Ratio |
------|----------|--
Small | 20% |
Medium | 50% |
Large | 20% |
X-Large | 10% |

That is just a guess as to a good split, if you can indicate from your previous runs  what a good ratio is, that will be great.

The t-shirt design is here.

https://github.com/AIFDR/

[2015-06-03 17:44] hvisage commented on #1992
Public accessible Ports to be setup?

Windows: RDP-3389
Geonode?
Docker: SSH-8967
 Which others?

The Idea will be a single firewall that will NAT accordingly

[2015-06-03 20:40] gubuntu commented on #1992
@timlinux where should the ansible code go, Somewhere in the InaSAFE repo?

[2015-06-03 22:34] emirhartato commented on #2003
Let me know when it's done? I'm willing to get one :)
I'll be in Indonesia from 31 July - 3 August form my sister's wedding so I hope I can get it while I'm back ;)

Cheers

[2015-06-04 01:56] timlinux commented on #1992
@gubuntu @hvisage @rduivenvoorde

We have this repo that we should use for maintaining configuration and deployment scripts.

https://github.com/AIFDR/inasafe-infrastructure

[2015-06-04 02:10] timlinux commented on #1992
@hvisage I have update the original ticket description with more details on this - we will obviously need to be able to adjust the rules over time as we add / reconfigure services.

Also note that I am changing the spec above to add a fourth partition that we can use for a geonode sandbox / testing server.

[2015-06-04 02:43] timlinux commented on #1992
**Notes:**

* Before closing this ticket, the details above should be transposed to the wiki
* We still need to make a plan for Jenkins (running on Linux)

[2015-06-04 02:48] timlinux commented on #2003
Hey @emirhartato

Yes a well-deserved tshirt should be allocated to you. Though probably nobody will ever see it since you are living in the frozen wastelands of New Zealand and so are bundled up with 15 layers of clothes everyday :-)

[2015-06-04 02:54] Charlotte-Morgan commented on #2003
ah @timlinux  - in NZ it is very fashionable to wear shorts and t-shirt over your long thermals.
Maybe @emirhartato should tell us what colour his thermal are so we can be sure he has a matching t-shirt?

[2015-06-04 03:13] emirhartato commented on #2003
@timlinux it is not too cold, I'm getting used to it :-) -- I think I can live with 2-3 layers.
@Charlotte-Morgan I got three colours: brown, white, and grey :-)

[2015-06-04 04:28] akbargumbira commented on #1921
# Rounding Problem
I just read  again the chat history in HipChat

"Akbar Gumbira	@christian for the implementation I think it would be better to handle that in the population mixin itself	5:18 PM
Akbar Gumbira	 so like I mentioned above, that rounding should be handled in 'presentation' layer	5:19 PM
 Delete	Akbar Gumbira	 IF could pass it to the mixin in un-rounded form	5:19 PM
Akbar Gumbira	 th

[2015-06-04 04:31] timlinux commented on #1921
I agree that rounding numbers only in the presentation layer would be the nicest approach. We should also indicate to users when numbers being displayed are rounded.

[2015-06-04 06:42] timlinux commented on #1956
See also the diagram we made during our discussion on skype with @borysiasty

https://www.lucidchart.com/invitations/accept/6de7e7cb-9e48-42e4-b835-a00a0b566818

![keywordwizardworkflows - new page](https://cloud.githubusercontent.com/assets/178003/7978440/915aca0c-0abf-11e5-8dd2-d2df2f857fb9.png)

[2015-06-04 09:04] gubuntu commented on #1992
@timlinux, a migration plan and time window needs to be scheduled for this. Since proxmox runs on a modified debian kernel, the host machine and VMs will need to be set up from scratch. Can/must the existing services be migrated to another host (kartoza3?) during setup, or can downtime be scheduled and services restored from backups / docker images / ansible?

[2015-06-04 09:22] lucernae commented on #2004
Ignore this. Already explained in #2005

[2015-06-04 09:22] #2004 closed

[2015-06-04 09:59] iyan31 commented on #2003
Hello all, here are the mockups for the Polo shirt design made by Regia based on the t-shirt design that Tim shared previously:
https://drive.google.com/folderview?id=0B0EZH6HSh0G1fk9pajVWT3B3QThpN3loeWFwTlJFbXQ1aC1ZNkVDZDR3a3N0QXlMeHRBRUk&usp=sharing.

Intially I want to put the mockups here directly but since the size of the file is quite big I choose to put it in Gdrive. Let me know if you have

[2015-06-04 10:51] wonder-sk commented on #1300
In #2007 there is work in progress to fix this

[2015-06-04 13:04] gubuntu commented on #1753
Nice @MariaSolovyeva ! ...seeing it deployed now at http://geonode.inasafe.org. Please note where the style is and how to deploy it.

[2015-06-05 03:01] wonder-sk opened #2010 "Postprocessing fails with QGIS-master (will be 2.10)"
When running some (all?) analyses (tested with flooding raster/roads), the postprocessing fails:

[code]

This is because `result` is actualy a `QPyNullVariant` object instead of a real number. Handling `TypeError` in `_calculate_total()` method could be a workaround, but it's better to investigate why it is null.

Running the same code with QGIS 2.6 works without issues.

[2015-06-05 03:10] timlinux commented on #2003
Ah I just realised that what I am calling 'gray' in the pictures is actually labelled 'white' in the file name. So to clarify: the only one that works under the current colour scheme is the white one, if we use any other (darker) colour, we should get @MariaSolovyeva to make a 'dark background' ready version of the t-shirt design.

[2015-06-05 04:15] iyan31 commented on #2003
Okay, looking forward for 'dark background' version. In the meantime is it okay if we proceed and produce one sample of the white polo shirt?

[2015-06-05 08:47] borysiasty commented on #2005
@lucernae: When exactly does it crash? I mean after what step? I can't reproduce it od Debian‚ will try with Ubuntu.

[2015-06-05 09:01] gubuntu commented on #1992
@timlinux, you refer to a new server, i.e. not kartoza4? Please provide IP etc. of the new server. Then, what is the fate of kartoza4?

[2015-06-05 09:30] timlinux commented on #1992
@gubuntu No usable IP yet until @hvisage is done with setting up proxmox and the basic installations, firewall etc on it.

Kartoza4 will be used for jenkins / testing and I will decommission kartoza2

[2015-06-05 10:11] timlinux commented on #2003
+1 To make a sample based on the white - @MariaSolovyeva will you make a variation of the tshirt artwork designed for a dark background?

[2015-06-05 12:07] borysiasty commented on #1956
So here's the wizard updated to match the diagram above:
![wizard_workflow](https://cloud.githubusercontent.com/assets/1000043/8005593/2061a2da-0b8c-11e5-86a2-7fa42eeee232.png)

[2015-06-05 13:05] timlinux commented on #1956
Hi @borysiasty (cc @ismailsunni @Charlotte-Morgan)

What I am not so sure about from your diagram is volcano. For volcano we can have two attributes of concert:

[code]

(from safe/impact_functions/volcanic/volcano_polygon_building/impact_function.py:93 )

So for the zone we should do the mappings for l, m, high. For the name we should have  a simple page that asks for the name of the field contai

[2015-06-05 13:29] borysiasty commented on #1956
Ok, so let's keep the `additional keywords` step for volcano_name_attribute.

If I understand correctly, the two fields are for polygon volcanos. For point volcanos, there is only volcano_name_attribute, isn't there? So for polygon volcanos the name field will be set in the `additional keywords` step, while for point volcanos the basic `field` step will be used. It's a small UX inconsistency but I

[2015-06-05 14:42] timlinux commented on #1956
yup!

Yes I think this works for me - @ismailsunni please add any comments if you can see any issue with the above layout!

Regards

Tim

[2015-06-05 15:07] MariaSolovyeva commented on #2003
Hello everybody,

Here are 4 variations for dark background, sorry I didn't find a polo
mock-up, so using common t-shirt.
The .svg files are attached as well

Let me know if you need to try more variants

Best,
Maria

On 5 June 2015 at 13:11, Tim Sutton <notifications@github.com> wrote:

[2015-06-05 15:09] MariaSolovyeva commented on #2003
Just to let you know, myself I prefer 2nd version )

all the best

On 5 June 2015 at 18:07, Maria Solovyeva <maria@kartoza.com> wrote:

[2015-06-05 15:13] timlinux commented on #2003
Thanks @MariaSolovyeva where shall we look for the mockups you made? I dont see them in the comments above...

[2015-06-05 16:32] MariaSolovyeva commented on #2003
Sorry, they are here.

![t-shirt-dark-4](https://cloud.githubusercontent.com/assets/10400420/8010535/8eef7588-0bb9-11e5-8d10-9dfa00f74109.jpg)
![t-shirt-dark-1](https://cloud.githubusercontent.com/assets/10400420/8010533/8ec4f682-0bb9-11e5-953b-3f2b8e077df7.jpg)
![t-shirt-dark-2](https://cloud.githubusercontent.com/assets/10400420/8010536/8ef2463c-0bb9-11e5-8f30-c2ec99360054.jpg)
![t-shirt-dark-3]

[2015-06-05 17:48] borysiasty commented on #1956
@ismailsunni, one more question: For point buildings (the Building Centroids layer), should the structure_class_field be set or skipped?

[2015-06-05 22:54] timlinux commented on #2003
Thanks Maria. I agree the second ine looks great! Can you share the original svgs with @iyan31 please?

[2015-06-05 22:57] timlinux commented on #1956
Hmmm Borys I think it should be kept... Will need to check in the code.

[2015-06-07 10:51] MariaSolovyeva commented on #2003
Hello @iyan31 !
Please let me know your e-mail so I can send you the SVG files

[2015-06-08 02:05] timlinux opened #2014 "We need to get BMKG to update their configuration for realtime"
# Problem

Currently we have given BMKG a fixed IP address as reference for uploading shake data. However this poses a problem since it makes it very difficult to move the service between hosts without interruptions. For this reason we need to contact them and ask them to update the ssh/config and any other places where they have referenced the specific ip address in favour of using a DNS entry.

[2015-06-08 02:21] #1999 closed

[2015-06-08 02:36] ismailsunni commented on #1956
Yes, it should be kept. It's needed to identify which field represent the structure_type

For the diagram, is it possible to choose the `classification (type)` first, then the `field or exposure class field`? It seems more natural that way.

I checked your PR, it looks great. But, before merging it, can you un-skip the unit tests for it? I skip them so that the tests will look good. Since, the wiz

[2015-06-08 04:33] ismailsunni commented on #1956
After some experiments with the wizard, I found something that need to be fixed:
- [ ] Set `allow_resample` option with current value in the layer's keyword file

[2015-06-08 04:51] wonder-sk commented on #1248
Fixed in #2007

[2015-06-08 04:51] #1248 closed

[2015-06-08 04:51] wonder-sk commented on #1300
Fixed in #2007

[2015-06-08 04:51] #1300 closed

[2015-06-08 05:08] #1862 closed

[2015-06-08 06:40] borysiasty commented on #1956
@ismailsunni: If you tick the checkbox, it sets `allow_resample = false`. Otherwise, it doesn't set this keyword at all. It was a request from ~ half a year ago. Did it change? If it should always set the keyword, probably the checkbox label would need to be updated from "never resample" to just "don't resample".

[2015-06-08 06:48] ismailsunni commented on #1956
It's different thing. What I mean is, if I have a layer that has `allow_resample=false` in its keyword file, and open the keyword wizard for this layer. Go to the `allow_resample` step, and we will get the option unchecked. It should be checked, the same value as in the keyword file.

[2015-06-08 07:01] borysiasty commented on #1956
Ok, sorry, now I got it.

[2015-06-08 09:38] lucernae opened #2018 "IF options help text and description"
We need help text and descriptions for several IF options and post processor:
1. Earthquake
   - Low Threshold
   - Medium Threshold
   - High Threshold
2. ITB Earthquake
   - Doesn't have any
3. Pager Earthquake
   - Doesn't have any
4. Generic Classified Polygon Building
   - Hazard Zone Attribute
5. Generic Classified Polygon Population
   - Hazard Zone Attribute
6. Generic Classified Raster Bu

[2015-06-08 12:27] Charlotte-Morgan commented on #1975
I've made some edits for single event and multi event. Just need to work out where they went :(

[2015-06-09 03:53] adissadis opened #2021 "[Bug] Several windows not resizeable"
# Problem
I found that several InaSAFE window is not resizeable as usual. Those windows are:
* InaSAFE Wizard
* InaSAFE OpenStreetMap Downloader
* InaSAFE Impact Function Centric

Here are the screenshots i got from each features that not resizeable:
![inasafe_2](https://cloud.githubusercontent.com/assets/2520159/8050282/c7e7867c-0e94-11e5-96d3-0b7d44e8b4e1.png)

![inasafe_3](https://cloud.githubu

[2015-06-09 04:11] ismailsunni commented on #2021
hi @timlinux or @borysiasty

It seems it should be similar with #1484. May be you can check this one out

[2015-06-09 04:29] ismailsunni commented on #1216
From discussion between @fredychandra, mas Iwan, and me. The things that need to be done first:

- [ ] Create IF polygon to polygon where the exposure has field for type of land (rice, corn, etc).
- [ ] Calculate the affected area by the hazard per type of land
- [ ] Calculate the percentage for each type of land

Additional notes:
It would be great if we can download data from http://portal.ina-s

[2015-06-09 05:01] #1889 closed

[2015-06-09 05:54] Charlotte-Morgan commented on #1216
thanks @ismailsunni
agree completely with above 3 steps.
- [ ] calculate area of land (needs projected coordinates) will be the next step to be able to add values to each crop in post processing ... much later on

Agree - down load is a low priority, especially as data are not compiled into a single dataset on the portal.

cc @samnawi @fredychandra @iyan31

[2015-06-09 06:14] timlinux commented on #1216
@ismailsunni I am just wondering if this might be a good thing to delegate to @wonder-sk if he is interested and has time after doing his current tasks. I know your hours are nearly used up and it might be easy for Martin to implement - at least for the core spatial analysis parts.

[2015-06-09 08:29] lucernae commented on #2005
@borysiasty I'm also using a debian based (ubuntu).
It doesn't crash anymore. Last time it crashed when we try to classify the hazard layer values to certain categories (wet/dry).

I will close this. Since it has been fixed.

[2015-06-09 08:29] #2005 closed

[2015-06-09 14:29] hvisage commented on #1992
firewall GUI: http://vfw1.inasafe.org:4433
Proxmox GUI: http://proxmox1.inasafe.org:8006

[2015-06-09 14:29] hvisage commented on #1992
Creating a 20GB base Image using Ubuntu 14.04 LTS that'll be cloned for the rest

[2015-06-09 15:42] timlinux opened #2026 "Impact on roads not showing correct totals in reports"
# Problem

When we generate report for impact on roads, the total is the same always as impacted. The total should actually represent the total in that category in the analysis area.

![screen shot 2015-06-09 at 22 40 28](https://cloud.githubusercontent.com/assets/178003/8062197/aafd044c-0ef8-11e5-9965-e38d4412a50e.png)

[2015-06-09 16:02] hvisage commented on #1992
Users (with keys from t4a) created on proxmox1.inasafe.org:
hvisage@proxmox1:~$ ls /home
admire  gavin  hvisage  jurgen  robert  tom

Could somebody please upload the required Windows .ISO and let me know in which directory they dumped it?

[2015-06-09 16:18] timlinux commented on #1992
Hi

Please remove admire, jurgen, robert, tom - note that this project is completely unrelated to T4A so no overlap in users except for myself and gavin. We will need to add accounts for

* Richard
* Ismail
* Rizky
* Christian
* Jannes
* Etienne
* Maria

 but we can sort the others out later.

I will upload it next week when I get back to SA.

Thanks!

[2015-06-09 16:46] hvisage commented on #1992
Created pull request for my current ansible for the proxmox settings

[2015-06-09 17:19] hvisage commented on #1992
three VMs created, and NATted via vfw1.inasafe.org (5.9.166.170)
docker 10.10.10.10 - sshport: 2022
geonode 10.10.10.11 - sshport: 2122
geonode-stage 10.10.10.12 - sshport: 2222

only the user "ubuntu" configured. If you have ansible playbooks ready for configuring them, please do/share.

so that I can incorporate the storage and mount them in the right places

[2015-06-10 03:13] wonder-sk opened #2028 "Python errors when configuring Categorical Thresholds"
I try to use ContinuousHazardPopulationFunction (with InaSAFE test data - earthquake in Padang 2009 / global population raster). When I open options dialog for the IF, I am able to configure categorical thresholds. There are however few issues with the dialog:

- if I configure fewer or more than three entries:
[code]
- if I enter by mistake a non-numerical value and click Add:
[code]
- the defaul

[2015-06-10 03:34] akbargumbira commented on #1196
Just to summarize the state of this RFC regarding the goals of this RFC:
- [x] Separate Impact Functions from their metadata
- [x] Use a more OOP based approach for Impact Functions
- [x] Get rid of docstring based metadata from Impact Functions
- [ ] Make Impact Functions stateful
- [ ] Make Impact Functions Independent
- [ ] Make aggregation and post processing part of the IF run process

[2015-06-10 03:36] akbargumbira commented on #1196
Related issues of this PR:
- Make the IF as independent as possible to other modules in running analysis (e.g moving clipping etc) https://github.com/AIFDR/inasafe/issues/1916
- Update the IF's to get some parameters from Layer's keywords (https://github.com/AIFDR/inasafe/issues/1991)
- IF Parameter Rework (https://docs.google.com/spreadsheets/d/1o8xRZ_Sa3gkt0H8sLrXwJg4OyBKKqtMjQG8h7scRkW8/edit#gi

[2015-06-10 03:41] akbargumbira commented on #1195
Just to summarize the state of InaSAFE now with this RFC, right now most of the old style numpy code are removed. The dependency left to that are the impact functions and safe layers module. We have chucked the dependencies in between and can just pass QgsMapLayers to the IF.

[2015-06-10 03:57] akbargumbira commented on #1671
This is resolved. I am closing this

[2015-06-10 03:57] #1671 closed

[2015-06-10 03:57] akbargumbira commented on #1099
This is resolved. I am closing this

[2015-06-10 03:57] #1099 closed

[2015-06-10 04:00] akbargumbira commented on #1083
I think the shifting intermediate layer was interfering the interpolation. I am satisfied with the interpolation result. Closing this

[2015-06-10 04:00] #1083 closed

[2015-06-10 04:05] wonder-sk commented on #906
The speed of raster flood on roads was significantly improved in #2007

[2015-06-10 04:05] #906 closed

[2015-06-10 04:05] akbargumbira commented on #768
Just to update this. Some bits that have not addressed at current InaSAFE:
- All results tables should be consistent and hold the same information (total number affected, action list, break downs, source etc). This could be solved by @cchristelis Population Exposure MIxin
- Ensure all impact results are constantly reported and formatted (json) (#587, #23)

[2015-06-10 04:07] akbargumbira commented on #767
I will close this. Right now there is no hardcoded attributes and moved them to parameters. Though we now want to move some of those to layer's keywords

[2015-06-10 04:07] #767 closed

[2015-06-10 04:10] akbargumbira commented on #707
I am closing this. We can pass to all Impact Function QgsMapLayer. The IF's will handle the converting by itself.

[2015-06-10 04:10] #707 closed

[2015-06-10 04:23] akbargumbira commented on #379
See my opinion here regarding separation between integration testing and validation testing so that we can have slow and fast tests

[2015-06-10 04:27] akbargumbira commented on #207
hmm, we don't have ITB Earthquake on Building IF or the current version is this one?

[2015-06-10 07:27] timlinux opened #2029 "We need to get context help sorted out"
Help to get context help system set up for InaSAFE? We need to chat about this.

[2015-06-10 10:21] Charlotte-Morgan opened #2030 "We need to tweak the InaSAFE Postcard"
The InaSAFE postcard is a massive hit. I find it invaluable to have some handy to give away whenever someone asks "what is InaSAFE"?

Minor tweaks are required before the next print run:
- [ ] make sure the text mentions QGIS :) - @timlinux
- [x] swap the "Who can use it?" & "How does it work?" headings to they match the relevant text.
- [x] update the logos. replace the AIFDR logo with the Austra

[2015-06-10 16:58] gubuntu commented on #1992
@hvisage I've added geonode guidelines to https://github.com/AIFDR/inasafe-infrastructure for you to work with.

I can't reach the firewall and proxmox GUIs you refer to above...?

[2015-06-10 17:04] hvisage commented on #1992
https://5.9.166.170:4433/ -> Tim still haven't added the DNS for
vfw1.inasafe.org
https://proxmox1.inasafe.org:8006/ <- This one definitely works.

On Wed, Jun 10, 2015 at 6:58 PM, Gavin Fleming <notifications@github.com>
wrote:

--
---
Hendrik Visage
Envisage Systems / Envisage Cloud Solutions
084-612-5345 or 083-675-5506
hvisage@envisage.co.za

[2015-06-10 17:05] hvisage commented on #1992
PS: check the pull request for my ansible prelimary stuff

On Wed, Jun 10, 2015 at 7:04 PM, H Visage <hvisage@envisage.co.za> wrote:

--
---
Hendrik Visage
Envisage Systems / Envisage Cloud Solutions
084-612-5345 or 083-675-5506
hvisage@envisage.co.za

[2015-06-11 02:00] timlinux commented on #2028
Hi @lucernae

I had in mind something more like this:

![parametersclasses 8](https://cloud.githubusercontent.com/assets/178003/8098286/5ae418b2-1018-11e5-99b4-e5145fa61f99.png)

[2015-06-11 04:38] samnawi opened #2033 "We should gracefully handle incorrect item types for composer layouts"
If I create a composer item with a token id - e.g. `impact-report` and the item type differs (e.g. we used an html item instead of a text item), we get an error at run time when trying to open the composer, and pdf generator fails silently.

[code]

We should trap for and raise a nice error message if this happens.

[2015-06-11 04:47] lucernae commented on #2028
@timlinux
Actually, this is what I have right now:

![image](https://cloud.githubusercontent.com/assets/831865/8099249/4c833a80-1024-11e5-8e24-f753a09d8862.png)

I am using GroupParameter like what I did in Age postprocessor, and in the code side we can add custom validation in the GroupParameter.

Is this ok?

Btw, we also have Tsunami Thresholds which can contains more than one thresholds. So I

[2015-06-11 05:08] ismailsunni commented on #1961
Hi @Charlotte-Morgan

What about adding additional information when we select an IF. Currently we only show Name and Overview. We can add `hazard_input` and `exposure_input` so that the user will have more information to choose. What do you think?

[2015-06-11 06:34] ismailsunni commented on #1467
I am closing this is obsolete. We are using matrix now.

[2015-06-11 06:34] #1467 closed

[2015-06-11 07:01] hvisage commented on #1992
Added NAT rules:
[image: icon]
<https://5.9.166.170:4433/firewall_nat_1to1.php?act=toggle&id=0> WAN
5.9.160.105 10.10.10.11 * geonode     [image: edit]
<https://5.9.166.170:4433/firewall_nat_1to1_edit.php?id=0>   [image: delete]
<https://5.9.166.170:4433/firewall_nat_1to1.php?act=del&id=0>  [image:
duplicate] <https://5.9.166.170:4433/firewall_nat_1to1_edit.php?dup=0>
  [image:
icon] <https://5.9.

[2015-06-11 07:08] timlinux commented on #1992
Please remove 22 - we run ssh on 8697 as standard practice

@gubuntu please advice which directories he should mount for storage I guess the geoserver data dir would be the main candidate...

[2015-06-11 08:17] hvisage commented on #1992
Once the ansible scripts have been run then yes. And running on a different
port is just a obfuscation, that us why I install and run sshguard

---
replied from my small phone :)
--
Hendrik Visage

On 11 Jun 2015 9:08 AM, "Tim Sutton" <notifications@github.com> wrote:

[2015-06-11 08:57] gubuntu commented on #1992
I normally put geoserver data in /data/geoserver_data. And a target for PostgreSQL dumps, like /data/dbbackups.

Ansible can use any ssh port specified (see how in T4A repo), that doesn't have to be a blocker.

[2015-06-11 09:03] timlinux commented on #1992
@gubuntu I was referring specifically to where geonode dumps it

[2015-06-11 09:18] hvisage commented on #1992
@gubuntu I've created the VMs, and I'm going to take a step from ansible as
my attempts to hammer T4A's into InaSafe submission have failed so I first
need to familiarize myself with what/where/etc. That is why I've tried to
say: you can go ahead with your ansible stuff to deploy if you know how and
have that fix the SSH port(s) etc. to your likings, I've set things up for
you to start working and

[2015-06-11 09:30] Charlotte-Morgan commented on #1975
these are all addressed in #2035

[2015-06-11 09:37] Charlotte-Morgan opened #2036 "We need to reconsider how we handle default hazard values."
# Problem
In definitions.py I see that some default settings that are not great for impact functions.

example
 key: volcano_vector_hazard_classes
default_class: high #unclassified values will go to this class

# proposed solution
Maybe unclassified values in all hazard data should default to a state where they can  not be used for an impact analysis. ie be handled like 'nodata'

# cc
@timlinux

[2015-06-11 09:44] #2028 closed

[2015-06-11 09:47] timlinux commented on #1992
Please see the notes above - I asked for ssh to run on port 8697 and pub/private key authentication to be enabled only on all hosts.

Yes it should be a large volume say 400gb and the remaining space for the /home

Can you please summarise everything nicely - I can't pick through the comments trail easily to find the needed info. Rather get everything set up and then give all the info in one go. A

[2015-06-11 09:50] timlinux commented on #2028
That looks much better thanks.

It would still ultimately be nicer to have a proper parameters widget implemented for tsunami since one of our design goals is to make intuitive, self explanatory UIs

[2015-06-11 09:55] Charlotte-Morgan opened #2037 "Raster Hazard Classes are invalid ?"

[2015-06-11 09:57] Charlotte-Morgan commented on #2037
# Problem
In definitions.py flood_raster_hazard_classes are described as being wet or dry  ..

This is appropriate for binary vector data but not raster data where the values should be numeric.

# proposed solution

[2015-06-11 10:13] #1975 closed

[2015-06-11 10:31] borysiasty opened #2038 "Fix postprocessor settings summary in the IFCW"
@ismailsunni @akbargumbira @Charlotte-Morgan @timlinux:

Is the following postprocessors summary formatting ok?
For checkboxes (like *Gender* and *MinimumNeeds*) put translatable strings "Disabled" and "Enabled"
For *Age*, there is a list: one checkbox and three numerical values, so I display the param names, of course except of the first boolean value to not duplicate the label.

![postproc](http

[2015-06-11 10:51] ismailsunni commented on #2038
hi @borysiasty
Looks great...

one comment, is it possible to make minimum needs items in a row by row?
So it will be something like:

-    | -                     | -
------------ | ------------- | -------------
Mimimun needs:    | Rice                     | 3kg
                              | Drinking water      | 18l
                              | Clean water         | 67l

[2015-06-11 11:02] borysiasty commented on #2038
Sure, will do

[2015-06-11 11:12] hvisage commented on #1992
On Thu, Jun 11, 2015 at 11:47 AM, Tim Sutton <notifications@github.com>
wrote:

Tim, I've been unexpectedly busier the past 2-3weeks, than the previous
6months. Yes I know, but I've setup those access to get to VMs for
Gavin/Rduivenvoorde/etc. to be able to log and prep while we were awaiting
the extra IPs, and the Ansible playbook to do that setup.

I'm replying via email as I have the time to ha

[2015-06-11 11:20] borysiasty commented on #1956
Diagram updated to recent change in step order: `Select classification` before `Field`
![wizard_workflow](https://cloud.githubusercontent.com/assets/1000043/8105781/80c21a9c-103c-11e5-94c3-9cdecd819c5c.png)

[2015-06-11 13:20] #2038 closed

[2015-06-12 03:34] ismailsunni commented on #1956
Hi @borysiasty
For set the value for `allow_resample` --> works

For UI Things Better text for postprocessor, it's much better. The only thing that I found is:
![inasafe_027](https://cloud.githubusercontent.com/assets/1421861/8123130/2f7926fa-10ee-11e5-82d0-1a73ea3625c8.png)
But when you click the little triangle, you will got the same text. So, there is double description
![inasafe_028](https://c

[2015-06-12 06:55] wonder-sk commented on #1998
Work in progress is in my QGIS fork:
https://github.com/wonder-sk/QGIS/tree/raster-alignment-tool

[2015-06-12 07:27] timlinux opened #2041 "We need a parting gift for @akbargumbira"
# Problem

@akbargumbira is leaving and I have no gift for him

# Proposed solution

Lets give him this:

![present](https://cloud.githubusercontent.com/assets/178003/8125367/575a683e-110f-11e5-8b26-6805142117a5.jpg)

# Expected Outcome

@akbargumbira opens box and finds everything he wishes for inside.

# CC

@Charlotte-Morgan @ismailsunni @lucernae

# Final Note

So long @akbargumbira and thanks

[2015-06-12 07:29] Charlotte-Morgan commented on #2041
+1  thanks for everything Akbar :)

[2015-06-12 08:06] akbargumbira commented on #2041
The expected outcome is not satisfied yet. Make it happy :)

[2015-06-12 08:06] akbargumbira commented on #2041
sorry, make me happy was what I meant :p

[2015-06-12 08:09] lucernae commented on #2041
Do you want a wife to make you happy, @akbargumbira ? :p

[2015-06-12 08:28] emirhartato commented on #2041
:+1:  for the wife idea! and whoever the wife is, she should close this ticket :p

[2015-06-12 10:39] timlinux opened #2042 "We need a backup scheme in place for the user map"
@rduivenvoorde Currently our docker project for the user map has no backups in place. Before migrating we need to make a dump and then we need to update the docker-compose.yml config to inlcude my pg-backup docker container which automatically makes backups.

[2015-06-12 10:47] timlinux commented on #2042
Here is how you run it interactively

[code]

[2015-06-12 10:48] rduivenvoorde commented on #2042
@timlinux all on kartoza4?

[2015-06-12 10:49] timlinux commented on #2042
I have set it running on kartoza4 - this ticket is more for when we migrate to the new server, it must be get the date migrated and backups running on the new server.

[2015-06-12 11:14] Gustry commented on #1675
Hi @lucernae it's look fine, thanks.

[2015-06-12 11:14] #1675 closed

[2015-06-12 12:57] borysiasty commented on #1956
I just import the safe.impact_statistics.function_options_dialog.FunctionOptionsDialog
@lucernae you were recently working on it, could you take a look please?

[2015-06-13 05:04] timlinux commented on #2041
I'm closing this ticket - @akbargumbira told me the thrill and honour of working on InaSAFE all this time has completely eclipsed any need for gifts.

[2015-06-13 05:04] #2041 closed

[2015-06-16 10:30] ismailsunni opened #2045 "Error when open Set InaSAFE Analysis Area"
Problem
-----------
Scenario : on develop branch, open QGIS, click button for launching Set InaSAFE Analysis Area, got this problem:
![python error_029](https://cloud.githubusercontent.com/assets/1421861/8181091/3e258704-144d-11e5-9f31-4e055ea05c23.png)

Does anyone get similar problem?

[2015-06-17 02:02] ismailsunni commented on #1859
This ticket is already fixed in the new wizard. Closing this....

[2015-06-17 02:02] #1859 closed

[2015-06-17 02:16] ismailsunni commented on #2036
I agree with @Charlotte-Morgan

My opinion, let's remove this default thing. Since unclassified value should be considered to "it won't be calculated". And state in the description that unclassified values will not considered in the calculation. (similar to `nodata` but just make sure that this is not editable)

It's easy to remove this since we haven't used this in any part of InaSAFE. (@borysias

[2015-06-17 02:43] ismailsunni commented on #2037
hi @Charlotte-Morgan

key as in
[code]

is used for accessing the class so that each class has different key. It's like mapping the value to the key.
It will be store in `value map` in keyword file. So, it's ok to have text key in raster dataset.

You can go to tweak the text string :)

[2015-06-17 03:35] Charlotte-Morgan commented on #2037
hi @ismailsunni.
thanks - i can look at strings. Raster Hazard keys are valid :)

[2015-06-17 03:36] Charlotte-Morgan opened #2046 "We need to update the InaSAFE icon in the user map"
# problem
The InaSAFE user map is still using the old icon in both the map legend and on the web page tab.
![image](https://cloud.githubusercontent.com/assets/5743135/8199289/03d1192a-14dd-11e5-9fd6-f9e1733e0f09.png)

# proposed solution
replace the icon with the new InaSAFE icon

[2015-06-17 06:04] timlinux commented on #2036
+1 - I think data should be explicit when it comes to defining what is a hazard.

[2015-06-17 06:20] timlinux commented on #2045
No I didnt get this - we dropped use of resources so I wonder why you are seeing it? Can you share the specific SHA for the core you are testing against?

[2015-06-17 06:37] ismailsunni commented on #2045
I use the latest commit: 0d9e8d246fee202934531132dd8a64facca2f74f

![selection_031](https://cloud.githubusercontent.com/assets/1421861/8200944/db0a070e-14f5-11e5-8926-d1dafe03e631.png)

[2015-06-17 07:50] borysiasty opened #2047 "Wizard: add a small generic summary paragraph on bottom of each page"
@timlinux  said:  As a general concept it is good if the wizard can carry over context info from one step to another. Maybe a small generic summary paragraph can be built and included as a standard in the bottom of each page, e.g.

- on page 1: [empty]
- on page 2: *You have selected Flood on population*
- on page 3: *You have selected raster flood on raster population and analysis will be done us

[2015-06-17 08:05] Charlotte-Morgan commented on #1800
i think nodata should persist and not be interpolated.
nodata in population should not affect results if we are summing ie total people affected
will affect density - but we are not calculating density.

no data in hazard should also persist

[2015-06-17 08:24] #1956 closed

[2015-06-17 08:46] cchristelis commented on #1800
Ok, that means that we are done with this.

[2015-06-17 08:46] #1800 closed

[2015-06-17 08:47] timlinux opened #2048 "Icons between sites and application should match"
Currently the size, placement and style of icons between http://blogtest.inasafe.org, http://docs.inasafe.org and http://geonode.inasafe.org are all different. Can we make these consistent and use the white icon / logo as per the t-shirt?

[2015-06-17 08:49] Charlotte-Morgan commented on #2048
and also can we please make icon on the internet page tabs consistent
![image](https://cloud.githubusercontent.com/assets/5743135/8202927/620c29be-1508-11e5-9162-380a138254a0.png)

[2015-06-17 09:00] lucernae commented on #2014
This is resolved by providing BMKG ssh access to sftp.inasafe.org

[2015-06-17 09:00] #2014 closed

[2015-06-17 09:16] Charlotte-Morgan opened #2049 "We need to replace the white on white icon in InaSAFE docs"
The current icon does not show up against the background

http://docs.inasafe.org/en/index.html
![Uploading image.png…]()

[2015-06-17 09:21] Charlotte-Morgan opened #2050 "We need to update the web page text"
This is a list (that will have more added) of things I spotted that need editing for content

Update Blog:
- [ ] Blog events - add missing
- [ ] people - this list needs updating (regularly ?)
- [ ] disclaimer - update branding
- [ ] copyright - update branding

# cc
@timlinux @MariaSolovyeva

[2015-06-17 09:34] samnawi commented on #1314
@Charlotte-Morgan I've been tried to make 2 InaSAFE maps template, after get the training from @timlinux to use element-ID also Element-Tokens.

I try to revise current map template to harmonize with BNPB's Map (with orange color in header).
This is the result for landscape and portrait format in A3 size.

Landscape
![merapi_landscape_1](https://cloud.githubusercontent.com/assets/8871958/8203002/e

[2015-06-17 09:36] timlinux commented on #1246
Lets rethink this and rather write native json for json outputs and not use (abuse?) the cdata block unless it makes sense to do so....

Really the use case is to have ability to write metadata to JSON

[2015-06-17 09:38] timlinux commented on #715
Maybe a candidate @wonder-sk to work on

[2015-06-17 09:43] #791 closed

[2015-06-17 09:46] rduivenvoorde commented on #2050
@Charlotte-Morgan @timlinux I actually made the old contents.html the index page:
http://docs.inasafe.org/en/
if you want another index.html I have to revert that....

[2015-06-17 09:50] rduivenvoorde commented on #2048
Is there a place where we can set the 'canonical' favicon?
This can be used for other key images like icons too.
Something like: http://inasafe.org/icons

So all webapps can use an url like: http://inasafe.org/img/...

[2015-06-17 10:00] timlinux commented on #2050
@MariaSolovyeva Also note that http://inasafe.org/en/general/governance/roles_and_responsibilities.html still needs to be migrated

[2015-06-17 10:10] Charlotte-Morgan commented on #2049
closing this as the page is redundant

[2015-06-17 10:10] #2049 closed

[2015-06-17 10:19] Charlotte-Morgan commented on #2003
I think this is done. Wonderful tshirts designed, delivered & handed out last week.
Thanks everyone. Lets make a separate ticket for the next production run. :)
Closing this ticket

[2015-06-17 10:19] #2003 closed

[2015-06-17 10:49] timlinux commented on #1314
CC @wonder-sk

[2015-06-17 11:15] rduivenvoorde commented on #2048
If I understand correctly this repo (should) contain all logo's etc:
https://github.com/AIFDR/inasafe-graphics

What about making that availabe as http://inasafe.org/graphics, so all apps could point to this, and we can keep it updated by a 'git pull'? Maybe add a separate directory for the live/online versions?

[2015-06-17 12:02] timlinux commented on #2003
+1 to that, great job everyone!

[2015-06-17 12:05] timlinux commented on #2048
Correct - for master copies anyway,

Do you mean for CSS etc so that we can update theming from one place? If yes that sounds like a nice route to take.

[2015-06-17 12:09] rduivenvoorde commented on #2048
Yes. So there is one canonical online image directory to be used for images in css and html: logo's, common used icons, favicon.ico etc
But the main reason behind it was that I was thinking where to put it online.

[2015-06-17 12:57] timlinux commented on #2014
Hi Rizky

We need to follow this up by ensuring that the back quakes are uploaded and new quakes run properly. Please write a new ticket for that!

Regards

Tim

—

Tim Sutton

Visit http://kartoza.com <http://kartoza.com/> to find out about open source:

* Desktop GIS programming services
* Geospatial web development
* GIS Training
* Consulting Services

Skype: timlinux Irc: timlinux on #qgis at

[2015-06-17 13:09] timlinux commented on #2014
Hi Rizky

We need to follow this up by ensuring that the back quakes are uploaded and new quakes run properly. Please write a new ticket for that!

Regards

Tim

—

Tim Sutton

Visit http://kartoza.com <http://kartoza.com/> to find out about open source:

* Desktop GIS programming services
* Geospatial web development
* GIS Training
* Consulting Services

Skype: timlinux Irc: timlinux on #qgis at

[2015-06-17 14:15] cchristelis opened #2051 "Wet and Inundated swapped around"
# Problem

It seems like commit dd88894a808ee17ccc81b854095251304bc0f9f3 swapped the inundated and wet categories for IF flood_raster_osm_building_impact.

# Proposed Solution

- [x] Re-order the category list.
- [x] Check that no other IF's have had this error introduced.

# Comments

This should be done asap and back ported to Master.

[2015-06-17 18:20] borysiasty commented on #1961
@Charlotte-Morgan, @ismailsunni, @timlinux:

The radiobuttons are only to slightly limit the number of available hazards/exposures, geometry types and functions. Actually they make more mess than convenience so I'll be happy to remove them.

[2015-06-17 18:23] #1957 closed

[2015-06-17 18:30] borysiasty commented on #1961
@Charlotte-Morgan:

So I'm not sure what is the conclusion:) Can I just remove this point?

[2015-06-17 18:55] borysiasty opened #2053 "Better metadata texts"
@Charlotte-Morgan, here I'll be collecting strings you offered to improve:

 - [ ] layer_mode_continuous['description']:

From #1961: The step where users select classified or continuous is a great addition however the descriptions should be tweaked to be consistent. There is no need to describe classified data in the continuous description. The current description of classified data in the contin

[2015-06-18 00:37] #2045 closed

[2015-06-18 01:00] ismailsunni commented on #1156
Hi @borysiasty

For the wizard, can we automatically set the CRS layer to ESPG 4326? See my solution for the problem in this comment : https://github.com/AIFDR/inasafe/issues/1184#issuecomment-52061290

[2015-06-18 04:00] Charlotte-Morgan opened #2057 "We need some posters"
# Background:
We (RnV) have been invited to contribute display materials for the CDSP (Capacity Development Support Program) closing event. This is an opportunity to showcase the work of AIFDR and in particular to promote the science program, the risk assessment & contingency planning work, OSM and HOT, InaSAFE and the end to end delivery of science to the community.

I have said yes we will do it

[2015-06-18 04:49] MariaSolovyeva commented on #2057
I confirm, awaiting for the materials! :)

[2015-06-18 04:58] Charlotte-Morgan commented on #2057
great thank you - i just updated the requirements again.

[2015-06-18 05:25] timlinux commented on #2057
Big +1 frim Kartoza to support this

[2015-06-18 05:37] lucernae opened #2058 "Make sure shakemaps is pushed from BMKG"
this is a follow up issues of #2014 .

We need to make sure all the shakemaps pushed is working and compatible with InaSAFE EQ Realtime

[2015-06-18 05:47] fredychandra commented on #2057
@MariaSolovyeva
Please find the rough concept of the Risk Assessment process that we plan to develop the info graphic. If you can not access the link, please send me your email address to chandra.fredy@gmail.com? I need it also to send some materials for your reference to capture the substance. Thank you.

https://docs.google.com/document/d/1BOJ_cbT9uRvPUtFxuMA-aSG5ta7jzmn3GSLHYmceWDU/edit

[2015-06-18 06:03] fredychandra commented on #2057
Update :
1. The info graphic size  : (80 x 200) cm (need to re-confirm)
2. We only need one Risk Assessment Process info graphic because it is same process in each provincial
3. CDSP (Widya) prefer the info graphic of the output of risk assessment from each provinces are developed separately (not include in risk assessment process info graphic), so each provinces have their own for detail. This ca

[2015-06-18 06:34] Charlotte-Morgan commented on #2057
@fredychandra - please set up a google folder for this project. Maria's email is maria@kartoza.com

[2015-06-18 06:41] Charlotte-Morgan commented on #2057
@MariaSolovyeva - the risk assessment process reports against 5 sectors: Human, Infrastructure, Social, Environment Resources (landuse, agriculture), Economic.  Maybe you can start by finding infographics for these sectors

[2015-06-18 07:18] borysiasty opened #2059 "Analysis error with Polygon flood on people run on the test data"
I get an analysis error with Polygon flood on people.

Steps to reproduce
-------------------------

1. Load the Population layer from the test dataset (pop_binary_raster_20_20.asc) .
2. Load the Flood Polygon Cross Kabupaten layer from the test dataset (flood_polygon_crosskabupaten.shp).
3. Set a reasonable analysis extent, for example covering all the Flood area (otherwise another error caused b

[2015-06-18 07:21] borysiasty commented on #2059
Btw. @ismailsunni suspects it's not related to #1158.

[2015-06-18 07:49] timlinux commented on #2048
Ok I like that.

I was also going to be linked to from http://blogtest.inasafe.org/for-contributors/for-documentation-writers-and-designers/design-and-media/

@maria at the bottom of the above page we should change the text on the small buttons to white.

[2015-06-18 09:24] MariaSolovyeva commented on #2057
@fredychandra I can access the link, thank you!

[2015-06-18 10:21] borysiasty commented on #1156
@ismailsunni: Do you mean to automatically export the layer to a new one? Sounds a bit complicated.
 - It could be a memory layer, but as far as I remember storing keywords for memory layers doesn't work well - all memory layers have the same uri, and the layer uri is the key in the keywords database.
- It could be a shapefile in /tmp directory, but exporting PG to SHP is a step backward... and ev

[2015-06-18 14:48] rduivenvoorde commented on #2048
ok, we created http://blogtest.inasafe.org/style as part of the wordpress blog site.

By putting it in the /home/web/inasafe.org/wp-content dir it is backed up together with the rest of the website (to be clear: it's not in git)

Added autoindx on it so you could view the images.

Tried to make it already available on http://inasafe.org/style too so everybody can already start using it, but that o

[2015-06-18 19:29] #1466 closed

[2015-06-18 19:29] #1578 closed

[2015-06-19 06:30] iyan31 commented on #2057
We already start sharing the maps inside folder that is shared by Fredy in "Map Products"

[2015-06-19 06:57] Charlotte-Morgan commented on #2057
Thanks @iyan31  & Hotties.
We need to stay focused on materials that are directly relevant for this purpose
Ideally, we want to use items that are:
- [ ] relevant to the priority provinces
- [ ] relevant to the risk assessment process
- [ ] illustrate specific aspects of the risk assessment process or products
- [ ] maps have marginalia that explain source, date, etc with current logos if possible

[2015-06-19 07:37] iyan31 commented on #2057
Understood, will revise and focus on the relevant materials

[2015-06-19 10:04] fredychandra commented on #2057
Update :
 1. The available space for Risk Assessment Process info graphic is 200 x 240 cm (Fix)
 2. There are 4 available space (size 120 x 80) at foyer. I think we can put InaSAFE postcard to fill one space to promote InaSAFE.
We just need to share the electronic file to ashep.ramadhan@gmail.com. Ashep will organize and print it then put it into that space.

[2015-06-19 10:56] Charlotte-Morgan commented on #2030
Hi @MariaSolovyeva - we have been asked to supply the post card file so that it can be turned into a standing banner for the CDSP closing event next week.
@iyan31 - please supply the translated files asap so Maria can make these tweaks to the files.
@MariaSolovyeva - can you make the tweaks so we can share updated files on monday?

# cc
@timlinux @fredychandra @adissadis @samnawi

[2015-06-19 10:59] Charlotte-Morgan commented on #2057
please see #2030 first before electronic file for the postcard is shared

[2015-06-20 08:20] Charlotte-Morgan opened #2062 "Wizard window is off the screen"
# problem
both the wizard windows are off the top of my screen.
environment: QGIS 2.8, InaSAFE 3.2dev, windows laptop

# proposed solution
make it behave

[2015-06-20 15:52] MariaSolovyeva commented on #2030
Hi @Charlotte-Morgan and @iyan31 ,
I added the banners PDFs to the shared folder
https://drive.google.com/a/kartoza.com/folderview?id=0B_OO5LIaN7-xfktHVmN6N3RLYmFyUV85SWU3bm0xVTB1clVfNnBRRkRadHdhQWQ2MnpZdTA&usp=sharing_eid&tid=0B_gC8poAYEtefm4yVzFtVWNtR1J1eGc2SEJjeVM3d1pnM3FUSGJqUkdVQWlKUGYxM1R1dzQ

All the best

[2015-06-21 05:48] Charlotte-Morgan commented on #2030
Hi @MariaSolovyeva - thank you so much for making the tweaks. Can you please confirm that you are working with the previously approved postcard file or have you made a new file with different proportions?

I have ticked off above the tweaks that have been made however there are some new things to fix :(
- [ ] InaSAFE should always be spelled "InaSAFE" - please fix first line
- [ ] typo in text - r

[2015-06-21 08:08] MariaSolovyeva commented on #2030
Hi @Charlotte-Morgan , I was working on the file with the new proportions. But it is OK, I will make the necessary changes to the poster files as well and will merge the both sides into one for the banner. I will upload the files today. All the best!

[2015-06-21 12:22] MariaSolovyeva commented on #1753
We need to edit the intro text on the main page of geonode.

[2015-06-21 12:52] MariaSolovyeva commented on #2030
The files are uploaded here: https://drive.google.com/drive/u/1/folders/0B_OO5LIaN7-xfktHVmN6N3RLYmFyUV85SWU3bm0xVTB1clVfNnBRRkRadHdhQWQ2MnpZdTA

[2015-06-21 15:31] borysiasty commented on #2062
Again??? :(( We'll see...

[2015-06-21 16:58] iyan31 commented on #2030
Apologies for the delay, the translated version can be accessed here: https://drive.google.com/folderview?id=0ByCluDMnTfMPfnZrendEQVhnemtWZlQwenlSN2tVSUo0VmNLblNVQTg1Q1NzQnVYenkzUWc&usp=sharing

[2015-06-22 01:06] Charlotte-Morgan commented on #2030
Thanks @iyan31. To you have the files in an editable format or at least the text in a format that @maria can cut and paste?

[2015-06-22 01:35] adissadis commented on #2062
it same with issue #2021

[2015-06-22 02:20] Charlotte-Morgan commented on #2030
@MariaSolovyeva - thank you this is looking great.
Banner: - wonderful :)
- [ ] bold in header should be on "free software" not "better planning"
- [ ] still need a QGIS mention - @timlinux

Postcard (English) - front
- [ ] bold in header should be on "free software" not "better planning"

Postcard (English) - back
- [ ] swap headings for "Who can use it" and "How does it work"
- [ ] logos are gre

[2015-06-22 02:27] iyan31 commented on #2030
Hi @Charlotte-Morgan and @MariaSolovyeva, we just found and uploaded the .psd file in the folder that I shared previously, or I can just put it here the link again:
https://drive.google.com/folderview?id=0ByCluDMnTfMPfnZrendEQVhnemtWZlQwenlSN2tVSUo0VmNLblNVQTg1Q1NzQnVYenkzUWc&usp=sharing#list

Let me know if you need anything else

[2015-06-22 02:31] Charlotte-Morgan commented on #2030
+1 - thanks.
lets make sure these final files are stored in Github and that becomes the place we go for files anytime we need to print / update etc.

[2015-06-22 06:21] borysiasty commented on #2021
I was sure my commit 3f2e89fdedfb fixed this problem previously... The reason is MessageViewer extending without limits. After lots of tries and experiments with the layout resizing policies the only way I found was to explicitly set the MessageViewer's maximumHeight. Now it seems even it doesn't help.

MessageViewer inherits from QWebKit, and QWebKit is directly used in OSM Downloader, so it must

[2015-06-22 08:02] MariaSolovyeva commented on #2030
Hi @Charlotte-Morgan and @iyan31 , the files are re-uploaded, Indonesian versions are added.
https://drive.google.com/drive/u/1/folders/0B_OO5LIaN7-xfktHVmN6N3RLYmFyUV85SWU3bm0xVTB1clVfNnBRRkRadHdhQWQ2MnpZdTA

[2015-06-22 08:25] timlinux commented on #2030
Agreed  - I am busy adding the updated versions to github inasafe-graphics.

[2015-06-22 08:30] fredychandra commented on #2057
Hi @maria. We need to finish the graphic tomorrow morning at 10 a.m. The Event Organizer will bring the material to the venue lately tomorrow 2 p.m.

[2015-06-22 08:40] Charlotte-Morgan commented on #2030
hi @MariaSolovyeva - this is all looking great.
Can you please correct the spelling on Indonesian Versions
correct spelling is "ANCAMAN" not "ANKAMAN"

@fredychandra @iyan31 @samnawi - can you please proof read Indonesian products ?

[2015-06-22 08:53] MariaSolovyeva commented on #2030
the spelling is fixed

[2015-06-22 08:55] Charlotte-Morgan commented on #2030
ooh - i just added some more :(

[2015-06-22 09:10] iyan31 commented on #2030
Thanks a lot @MariaSolovyeva! @Charlotte-Morgan @regiaandi can do some spelling edits and re-upload the result if that is okay

[2015-06-22 09:31] Charlotte-Morgan commented on #2030
thanks @iyan31  and @regiaandi - that would be great

[2015-06-22 11:27] Charlotte-Morgan commented on #2057
Hi @Maria - an update on requirements and materials supplied.
Thanks for your time to discuss the progress earlier today.

1. Risk Assessment Process Poster - in Indonesian
this is a single poster showing the general process which is the same in all provinces.
Text and links to illustration materials are shared in the Risk Assessment Process document. https://docs.google.com/document/d/1BOJ_cbT9uR

[2015-06-23 02:27] Charlotte-Morgan commented on #2057
Hi @Maria - thank you so much for turning our ideas into good looking products at such short notice.
Risk Assessment Poster:
We have a few minor corrections that we hope you can do by 2pm today when we can send the files for printing.
InaSAFE Banner: this is looking good - will be send for printing at 2pm today
TV Screen hazard map slide show: - ready for iwan to deliver Thursday morning
TV Screen

[2015-06-23 04:52] Charlotte-Morgan commented on #2057
hi @Maria - plan B
@samnawi is tweaking the Risk Assessment Poster - so that it is finished in time.
Can you please work on the TV Screen slide shows :)

[2015-06-23 06:06] Charlotte-Morgan commented on #2057
poster approved by Dom for DFAT :)

[2015-06-23 06:39] Charlotte-Morgan commented on #2030
InaSAFE Poster has been cleared by DFAT and approved for printing.
Thanks everyone

[2015-06-23 06:39] #2030 closed

[2015-06-23 07:09] ismailsunni commented on #1156
After some thought, I think giving user message if his layers are not in the same crs is not good for InaSAFE, is a nice idea.
But, talking about history, we had a ticket to automatically set the CRS on the fly (a long time ago).

May be @timlinux can give some opinions about this.

[2015-06-23 07:11] ismailsunni commented on #2059
I think it's not related. Based on the error message, it shows that it's related to postprocessor parameter (asking for float). *I just retell the error message :)

[2015-06-23 08:05] borysiasty commented on #1156
Oh, so does it work with OTFR enabled? If so, than enabling it will be easy. I thought the problem is some functions don't work even with OTFR enabled.

[2015-06-23 09:21] timlinux commented on #1961
@Charlotte-Morgan wrote:

@borysiasty wrote:

I think we should park this and get the wizard into use in the Real World (TM) and then do some survey / get feedback from training on whether / how we can optimise it in the future.

[2015-06-23 09:30] Charlotte-Morgan commented on #1961
+1 for real world testing. Sorry - I am not going to be able to look at anything until 6th July.

[2015-06-24 22:57] haytastan commented on #1964
Dear Akbargumbira and Dear timlinux,

I have been using windows-7 64bit. I got the following phyton error when I install it:
Best regards,

Dr. Hayati Tastan

---------------------------------------------------------------

inasafe plugin has not been installed due to an error when calling its classFactory() method

Traceback (most recent call last):
  File "C:/PROGRA~1/QGISWI~1/apps/qgis/./python

[2015-06-25 04:55] ismailsunni opened #2065 "Error When Run FloodVectorRoadExperimentalFunction"
Problem
-----------
I want to check the problem in issue #1156. But, I got different error from the one that posted in that issue. The error message is
[code]

[2015-06-25 05:04] ismailsunni commented on #1156
@borysiasty
I am not sure about the answer of your question.
The thing that I did was reproject the layer, and then it works.
But, I tried to look again at the problem this morning, I got different error like I posted in #2065

I am looking at the error in #2065, it has a good indication that it's failed when InaSAFE tried to write the impact layer. So, may be this issue is not relevant anymore, s

[2015-06-25 05:07] ismailsunni commented on #1156
I just looked at the impact function code. And @timlinux has fixed a simillar issue in #1857

@timlinux can you confirm that this issue (#1156) is the same as #1857? If yes, we can close this one.

[2015-06-25 05:16] Gustry commented on #2065
I have this bug too on QGIS Master. It's working fine with 2.8.2.
Can you confirm that ?

[2015-06-25 05:31] akbargumbira commented on #1156
Yes, IF can only deal with WGS84 now. The extent CRS field in the base
class is not used yet by the IF (not sure with Martin's changes converting
some native IFs to QGIS IFs recently)

On Thu, Jun 25, 2015 at 1:07 PM, Ismail Sunni <notifications@github.com>
wrote:

--

*-------------------*

*Akbar Gumbira*
*Software Engineer*
*Geospatial, NLP, Data Mining, Machine Learning, Artificial Intelligenc

[2015-06-25 06:43] ismailsunni commented on #2065
Hi @Gustry
I was using 2.8.1 when I got the error.

I just updated my QGIS to 2.8.2, still got the error.
![workspace 1_041](https://cloud.githubusercontent.com/assets/1421861/8348669/0b0ddc3c-1b40-11e5-8f7e-e0d9e0e65b3e.png)

[2015-06-25 10:31] wonder-sk commented on #1998
The raster alignment tool for QGIS is now ready in my branch - and it can be merged to QGIS master next week. The tool is available under menu Raster > Align Rasters.

Preview of the GUI:
![image](https://cloud.githubusercontent.com/assets/193367/8352453/d782c51c-1b67-11e5-82cc-3486faa4fba0.png)

Adding/editing a raster layer:
![image](https://cloud.githubusercontent.com/assets/193367/8352468/ebb7

[2015-06-25 15:47] #2036 closed

[2015-06-26 06:40] wonder-sk opened #2068 "Allow resampling keyword in wizard"
- the existing code expects 'allow_resampling' keyword name, but the wizard stores 'allow_resample' keyword
- the existing code assumes that 'true' / 'false' string, but the wizard stores True/False boolean

See get_clip_parameters() in safe.utilities.analysis module.

[2015-06-26 06:45] ismailsunni opened #2069 "Layer Keyword Version"
Problem
======
We need to store version of keyword that we uses in the layer's keywords

Proposed Solution
==============
Add layer's keyword version.
- Using key `keyword_version`.
- For the next release of InaSAFE v3.2 we will use keyword_version=3.2
- Handle the version writing in lower level class (KeywordIO or LayerMetadata class)

To Do (now)
==========
- [x] @ismailsunni to write the curren

[2015-06-26 07:13] timlinux commented on #2069
+1 for this, thanks @ismail

[2015-06-27 12:24] MariaSolovyeva commented on #1985
Here is the updated set of icons, I made a preview with gray background to show the transparency. @timlinux , please let me know if I didn't miss any?
![icons-preview](https://cloud.githubusercontent.com/assets/10400420/8391956/929dd94e-1ce0-11e5-8bd0-0c974c2cdd51.png)