[2017-03-20 09:54] ismailsunni commented on #3132
Hi @gubuntu @felix-yew

Last week, for some reason the geonode is down. I try to make it run again. But somehow the data is gone. I haven't got time to check why and where is the data. I have asked mas @samnawi , he still has the data, so we just need to upload it again.

It's different from the one  you worked before, since it has geosafe now and using qgis server backed.

Should I work on it? Or

[2017-03-20 11:24] hvisage commented on #3132
It’s on the ProxMox, but I’m not sure about the internals of the docker, if that is what you are asking?

---
Hendrik Visage
Envisage Systems / Envisage Cloud Solutions
084-612-5345 or 083-675-5506
hvisage@envisage.co.za

[2017-03-20 20:58] gubuntu commented on #3132
@ismailsunni, could you at least please add @felix-yew and me as admin users and see if you can find and apply the InaSAFE skin. Then the team can upload data.

@hvisage could you address the outstanding backup issue?

We need the backups because the curated metadata that the site should have needs to be protected.

When @lucernae has updated geonode upstream then we can update this one.

[2017-03-20 22:12] lrpower commented on #4057
Thanks  @gusty
I will try the keyword wizard again. I thought I had the most current version so I'm confused because it was definitely not changing units.

[2017-03-21 02:39] ismailsunni commented on #3132
@gubuntu I have added @felix-yew and you as admin to the geonode

[2017-03-21 02:49] felix-yew commented on #3132
Thank you @gubuntu and mas @ismailsunni , I will try to upload files, one by one.

[2017-03-21 07:22] hvisage commented on #3132
@Gavin Hmmm… we have 100GB of backup space, that is already 100% used up.

looking at the two main instances, we have:

/dev/mapper/docker_vg-dockers  410G   53G  358G  13% /var/lib/docker
/dev/mapper/docker_vg-home     615G  570G   45G  93% /home

/dev/mapper/geonode_vg-data    819G   46M  819G   1% /usr/share/geoserver/data
/dev/mapper/geonode_vg-backup  205G   33M  205G   1% /data/dbbackups

Th

[2017-03-21 07:43] Gustry commented on #4057
It will work if your layer **hasn't** keywords **yet**. If your layer has already some existing keywords, the wizard will use the classification which has been made before.

I merged the new classification for SSHWS. It will be in 4.1. Can we close this issue ?

[2017-03-22 01:12] Charlotte-Morgan commented on #3132
Hi everyone.
Just patching @timlinux back in on this discussion to make sure we are on the same page.
This geonode is an InaSAFE geonode to hold training data for all countries.  DMInnovation would like to upload training data with metadata for version 4.0. based on discussion with @timlinux - this is ready to go.
From my side; @samnawi @ivanbusthomi might be administrators for now and @felix-yew

[2017-03-22 01:31] Charlotte-Morgan opened #4062 "UNDO: rounding on infrastructure report"
### problem ###
This is a ticket to request that a previous feature request is reversed :)
When I run InaSAFE analysis on infrastructure, the results are rounded (as per user requirements). However; if I have only 1 nuclear power plant in the hazard area it can be alarming for users to see results suggesting that there are 10 nuclear power plants in the hazard area.

### proposed solution ###
that

[2017-03-22 05:34] ismailsunni commented on #3132
Hi @Charlotte-Morgan
I have added you, @ivanbusthomi @adissadis and @fredychandra. Please check your gitter message from me for the username

[2017-03-22 06:46] adissadis commented on #3132
Ok thanks @ismailsunni !

[2017-03-22 07:17] ivanbusthomi commented on #4047
So our option for this issue are either
* hide MMI below 5, and add some notes in the report too. Or,
* use only two columns in the legend.

In my oppinion, whichever is fine as long as it is happy :smile:
CMIIW
___
@Charlotte-Morgan @samnawi @felix-yew

[2017-03-22 13:16] NyakudyaA opened #4067 "Unbound local error for raster hazard"
### Problem
When running analysis using flood raster I get the error unbound local error. On QGIS 2.18 it causes the system to crash with a segmentation error

[code]

### Expected Behaviour

Run without  errors.

### Environment
* InaSAFE :  dev
* QGIS :  2.14.10 and 2.18.4(crashes with segmentation error)
* OS : Ubuntu 16.04
* Data used (filenames and paths so as to reproduce, a project is bette

[2017-03-22 14:06] NyakudyaA opened #4068 "AttributeError on assigning keywords for aggregation layer"
### Problem

When assigning keywords to an aggregation layer I encounter the following error:
[code]

### Expected Behaviour

Allow keywords to be assigned
### Environment
* InaSAFE :  dev
* QGIS :  2.14.3 and 2.18.3
* OS : Ubuntu
* Data used (filenames and paths so as to reproduce, a project is better):
  * Exposure :
  * Hazard :
  * Aggregation : `aggregation/grid_jakarta_4326.geojson`
  * Exte

[2017-03-23 06:19] myarjunar commented on #4068
this is something with my changes, but unfortunately I can't replicate the issue.

[2017-03-24 04:42] Charlotte-Morgan opened #4069 "RFC: Population analysis and reporting"
## Problem
We would like to enhance InaSAFE to provide a high level of support for Contingency Planning. To do this we need to enhance the ability of InaSAFE to analyse and report on population data; including  reporting against age, gender and vulnerability measures.

This work is a high priority under DFAT contract for InaSAFE development in Indonesia.

This diagram summarises the current capaci

[2017-03-27 06:29] samnawi commented on #4069
Hi @Charlotte-Morgan I've tried to make some mockup of the population keyword like in the picture below.

**Age Group (5 class)**
![image](https://cloud.githubusercontent.com/assets/8871958/24343266/c173b4bc-12ef-11e7-8f08-cc34cb8bba7d.png)
**Age Group (3 class - global)**
![image](https://cloud.githubusercontent.com/assets/8871958/24343297/f14c1cce-12ef-11e7-946e-9e83c15d028d.png)

**Gender**
![i

[2017-03-27 06:34] samnawi commented on #4069
I just think, I just think, for many steps to doing value mapping of some variables, if it possible we can make it automated by InaSAFE.
In the last conversation with Pak Wawan, he wants that InaSAFE using a credible data. He also says that BNPB and BPS already has a MoU for data sharing. I just imagine like in the [DIBI](http://dibi.bnpb.go.id/data-kependudukan) that have an access directly to BP

[2017-03-27 06:52] ivanbusthomi opened #4070 "Rich Reporting"
### Problem
Currently, we already have rich attribute data from the analysis extent. However, this data is not presented yet in the analysis report. We can actually combine some of the attributes and get a new detailed information regarding the result. This new information hopefully can enrich our analysis report and give the user better understanding on what InaSAFE capable of doing.

This is som

[2017-03-27 20:17] Gustry commented on #4057
I'm closing this ticket. Feel free to reopen if needed.

[2017-03-27 20:17] #4057 closed

[2017-03-27 20:17] Gustry commented on #4026
I'm closing this ticket. Feel free to reopen if needed.

[2017-03-27 20:17] #4026 closed

[2017-03-27 20:18] Gustry commented on #3980
Can you check if you still have this window @Charlotte-Morgan ?
Or close the ticket, thanks.

[2017-03-27 20:18] Gustry commented on #3974
I think we can close this ticket.

[2017-03-27 20:18] #3974 closed

[2017-03-27 20:19] Gustry commented on #3962
I think this ticket is fixed, I didn't see it anymore. Thanks @lucernae

[2017-03-27 20:19] #3962 closed

[2017-03-27 20:20] Gustry commented on #3971
This ticket should be fixed. Feel free to open a ticket if you have a similar problem.

[2017-03-27 20:20] #3971 closed

[2017-03-27 20:20] #3294 closed

[2017-03-27 20:20] #3355 closed

[2017-03-27 20:20] Gustry commented on #3419
This has been done in V4.

[2017-03-27 20:20] #3419 closed

[2017-03-27 20:22] Gustry commented on #3803
I'm closing this ticket as it should be fixed.

[2017-03-27 20:22] #3803 closed

[2017-03-27 20:22] #3944 closed

[2017-03-27 20:23] Gustry commented on #3898
@lucernae Can we close this ticket ?

[2017-03-27 20:27] Gustry commented on #1813
We can't replicate anymore. We reinstalled geonode

[2017-03-27 20:27] #1813 closed

[2017-03-27 20:29] Gustry commented on #4040
@myarjunar What is the status about this issue?

[2017-03-27 20:30] Gustry commented on #3998
@lucernae Can we close this ticket ?

[2017-03-27 20:31] Gustry commented on #3941
Ok, so I'm closing this ticket. Feel free to open a new ticket with every python error you can get ;-)

[2017-03-27 20:31] #3941 closed

[2017-03-27 20:34] Gustry commented on #3906
This is done now.

[2017-03-27 20:34] #3906 closed

[2017-03-27 20:34] #3887 closed

[2017-03-27 20:35] Gustry commented on #3755
Do we still need this ticket ?

[2017-03-27 20:39] Gustry commented on #3878
@ismailsunni Is it done or is it in the next sprint?

[2017-03-27 20:40] Gustry commented on #3874
I think we can close this ticket.
@timlinux Is there still something we should take care here ?

[2017-03-27 20:42] Gustry commented on #3793
Is this ticket still relevant @felix-yew ?

[2017-03-27 20:43] Gustry commented on #3706
I'm just adding a quick note that processing has been updated. 'runalg' doesn't exist anymore in qgis3.

[2017-03-27 20:45] Gustry commented on #3640
I'm closing this ticket as I don't think it's related to inasafe.

[2017-03-27 20:45] #3640 closed

[2017-03-27 20:47] Gustry commented on #3607
@lucernae I think we can close this ticket. You updated the code with these notes.

[2017-03-27 20:47] #3607 closed

[2017-03-27 20:48] Gustry commented on #3548
What is the status of this ticket @timlinux ?

[2017-03-27 20:50] #3373 closed

[2017-03-27 20:51] Gustry commented on #3216
Is there something we need to keep here @ismailsunni ?

[2017-03-27 20:52] Gustry commented on #3084
I think this is done in V4. I think I can close this ticket.

[2017-03-27 20:53] Gustry commented on #3085
I think we can also close this ticket.
Every reports have action checklist now.

[2017-03-27 23:49] lrpower commented on #4047
This is also happening for the Cyclone IF A4 portrait output.
I think the legend could be condensed to one column.
![image](https://cloud.githubusercontent.com/assets/10228025/24382724/f638153a-13a3-11e7-9357-dc118ec5904b.png)

[2017-03-28 00:24] lrpower commented on #3998
The legend text is overflowing for Cyclone IF landscape report. Maybe the (severe tropical cyclone) could be removed?
![image](https://cloud.githubusercontent.com/assets/10228025/24383474/c959c284-13a8-11e7-9167-0a509b26aec3.png)

[2017-03-28 02:47] ismailsunni commented on #3216
I think I will just close this. There are already many changes since this ticket is written. E.g not inasafe_fields.

[2017-03-28 02:47] #3216 closed

[2017-03-28 03:57] adissadis commented on #3755
Yes gustry, i still need this document to update training materials

[2017-03-28 06:21] Charlotte-Morgan commented on #3980
I think we can close this

[2017-03-28 06:21] #3980 closed

[2017-03-30 06:39] samnawi commented on #4070
https://github.com/inasafe/inasafe/issues/2455

[2017-03-30 06:50] samnawi commented on #4062
Yeah @Charlotte-Morgan I agree to undo the rounding process on infrastructure report. Because for some reason, the number of infrastructures affected will influence the decision of the action plan.

Also, like in the case when we have 3 infrastructures in 3 different class, it will be reported as 10 infrastructures affected per hazard zone, then if we doing calculation total affected for each haza

[2017-03-31 01:25] lrpower opened #4071 "Global Ratio defaults are not being used in the IF"
### Problem

I am changing the Ratio Global Default values but they are not carrying through to the IF
![image](https://cloud.githubusercontent.com/assets/10228025/24532479/8a7b9e82-160c-11e7-9e1b-d0720cd89cb2.png)
![image](https://cloud.githubusercontent.com/assets/10228025/24532580/51de1cfc-160d-11e7-8697-fd9f2d5e7a7a.png)

### Expected Behaviour
The global ratio values set will be used.

### En

[2017-03-31 01:58] ismailsunni commented on #4071
@lrpower did you re-assign your layer's metadata using keywords wizard again? You need to re-assign the metadata, since the metadata only stores the ratio, not global or not (to avoid changing result unexpectedly)

[2017-03-31 03:04] lrpower commented on #4071
Yes. deleted .xml and reran keywords.
Still not evident. :(

[2017-03-31 03:38] lrpower commented on #4071
And a QGIS reboot did not help either.

[2017-03-31 06:35] Gustry commented on #4071
* Is the value updated in your keywords? (when you click on layer in the legend, you should see keywords on the right)

* Can you copy paste InaSAFE logs here? Open the log panel with the small icon in the bottom right corner of QGIS, it looks like a bubble comic strip, run the IF and then copy/paste all logs from the InaSAFE tab. Thanks.

[2017-04-03 06:57] Charlotte-Morgan commented on #4069
@fredychandra - please add BOBOT ideas here too. No promise they will be included

[2017-04-03 07:09] ismailsunni opened #4072 "Create Parameter Widget for #4069"
### Problem
We need a parameter widget to handle this kind of widget:
![screen-shot-2017-04-03-at-8 53 22-am](https://cloud.githubusercontent.com/assets/1421861/24598576/46048bc6-1876-11e7-9643-764abb2ddcc6.png)

Some requirement:
1. Able to set the title and the radio buttons' name / text
2. The white box is actually a list box, user can drag something to it
3. Write the behaviour of each radio a

[2017-04-03 07:44] ivanbusthomi opened #4073 "InaSAFE Help icon is missing"
### Problem
Our InaSAFE help icon currently is not showing in the toolbar. We can still access the InaSAFE help from the toolbar by clicking on the empty space where the icon supposed to be.
![image](https://cloud.githubusercontent.com/assets/7351977/24599699/a019921e-187b-11e7-8a7c-92b3a8cacf73.png)

### Expected Behaviour
There should not be an invisible button in the toolbar, and the icons in t

[2017-04-03 07:52] timlinux commented on #3473
We need to make sure the rice and hygiene packs show up in the infographics please.

[2017-04-03 07:56] Charlotte-Morgan commented on #3959
I think this is in progress and separate ticket in place for action list

[2017-04-03 08:07] timlinux opened #4074 "We need to report on the analysis provenance"
We should create  new page in the report listing all the inputs and parameters used including keywords used for each dataset.

We should also write the above into a nicely formatted text file in the analysis output folder.

[2017-04-03 10:05] ismailsunni commented on #4073
Hi @ivanbusthomi
CMIIW, but I have checked, we don't have icon for help until now. I have checked in several version of InaSAFE, I couldn't find it.

Hi @MariaSolovyeva
Can you create one for us? Or do you remember that you have created one before? Maye be it's just lose.

cc @timlinux

[2017-04-03 12:53] ismailsunni opened #4077 "Metadata and Definitions Support for #4069"
### Problem
To be able support feature request on #4069 , we need to update metadata and defintions. Some requirements:
1. Some InaSAFE fields (e.g. youth, adult, female, etc) can be in several fields. It will be used in
2. We need grouping mechanism for InaSAFE fields. E.g. Age ratio for youth_ratio_field, adult_ratio_field, and elderly_ratio_field in age_ratio_group
3. The group should have a co

[2017-04-03 13:59] NyakudyaA opened #4078 "Pre populate all combinations for keywords when using shakemap converter"
### Problem
When you convert an xml grid for earthquake it immediately allocates keywords so  that the resultant layer can be used in Inasafe. The problem is that not all combinations of keywords are generated. Only the keywords on population classification are generated.

![earth_quake_hazard](https://cloud.githubusercontent.com/assets/2510900/24612548/e333b6ba-1885-11e7-9791-38f6844103e5.PNG)

#

[2017-04-03 14:32] NyakudyaA opened #4080 "Empty results and unexplained characters in Report"
### Problem

When running Earthquake on roads the pdf that is printed is empty and have some characters which do not explain anything relating to the results.

![empty_results](https://cloud.githubusercontent.com/assets/2510900/24614176/c13b88c6-188a-11e7-8411-fe366f6e736e.PNG)

### Expected Behaviour
Produce output that makes sense

### Environment
* InaSAFE :  dev
* QGIS :  2.18.5
* OS : Windows

[2017-04-03 14:34] timlinux commented on #4080
I'm actually surprised you could do EQ on roads since it is not supported...

[2017-04-03 14:37] ismailsunni commented on #4077
Hi @Gustry

With my PR above, we will have not only string for the fields, but also list of string (list of fields). I think you just need to sum the value in the fields if it's a list of fields to create the standard InaSAFE fields (e.g. youth_count_field). And the process should be the same after that. Is that ok for you?

CMIIW, the grouping will not affect your impact function, but rather in t

[2017-04-03 14:38] ismailsunni commented on #4080
@timlinux what does it not supported? I thought it will go through the general IF.

[2017-04-03 14:39] timlinux commented on #4080
Hmm I guess you are right.....

[2017-04-03 14:40] ismailsunni commented on #4078
I think it should be easy to set the classification. It just the matter of which classification that we want to set. Any suggestion @timlinux @Charlotte-Morgan

[2017-04-03 16:44] Gustry commented on #4080
Yes, we support EQ on roads :
![screen shot 2017-04-03 at 18 40 16](https://cloud.githubusercontent.com/assets/1609292/24620193/0635daa0-189d-11e7-9c2e-47e70408ac77.png)

I tried your analysis, everything is working fine for me.
![screen shot 2017-04-03 at 18 43 33](https://cloud.githubusercontent.com/assets/1609292/24620328/86809614-189d-11e7-849f-4a7e7bbd112c.png)

Can you run the analysis in de

[2017-04-03 22:49] ismailsunni commented on #4077
Per #4079 merged, we have addressed point 1 and 2. For point 3, since it's more complicated and can be implemented later after the tools / wizard has been finished, I will move to the new issue. Closing this.

[2017-04-03 22:49] #4077 closed

[2017-04-03 22:59] ismailsunni opened #4082 "Constraint for Population Group"
### Problem
For #4069 we will have more ratios in the age ratio fields. We should be able to use group to make a constraint. for example: the sum of them should be at most 1. This can applied to the other groups (e.g. gender group ratio).

### Proposed Solution
Currently, I use very hard coded trick to make it work on version 4.0. We need to define the constraint  in the group definition.

Supersi

[2017-04-04 02:01] ivanbusthomi commented on #4070
Other examples of new information that can be extracted from the table.

![age-by-gender](https://cloud.githubusercontent.com/assets/7351977/24638720/0c1783e2-1915-11e7-8282-bd6db8b56636.png)

[2017-04-04 02:52] myarjunar commented on #4040
Hi @Gustry @Charlotte-Morgan , I think by adding the option to launch the keyword wizard will make the keyword match the version 4 keyword. If so, we can close this issue.

[2017-04-04 07:04] NyakudyaA commented on #4080
@Gustry did you run it in windows

[2017-04-04 07:09] Gustry commented on #4080
No, I don't have windows.
Can you still run it in debug mode and check which step is failing ? Also copy/paste logs.

[2017-04-04 07:11] NyakudyaA commented on #4080
@Gustry will try it and paste the logs.

[2017-04-04 07:15] ivanbusthomi commented on #3998
@lrpower interesting, I haven't had the chance to test the cyclone scenario, and I thought it won't be that long. Do you think it is enough to just pull to the left a little bit more?

[2017-04-05 04:01] Charlotte-Morgan commented on #4062
hi @Gustry - is it possible to progress this work this week?

[2017-04-05 07:11] fredychandra commented on #4069
Hi @iwan and @Charlotte-Morgan

I try to incorporate the vulnerable population index concept into this RFC. In this concept we can try to develop model of vulnerable population in certain area. Then the model can be used to localized and analyzed to see a certain area that will be most affected inside homogenous hazard extend.

This concept basically uses Analytical Hierarchy Process (AHP) to defi

[2017-04-05 10:57] stanreb opened #4083 "Output problem with QGIS 2.18 and Mac OS 10.11.6"
### Problem
Analyses work OK and risk layers are created correctly.
But the output reports that are generated only include texts and charts, but no maps.

### Environment
* InaSAFE : 4.0.1
* QGIS : 2.18
* OS : Mac OS 10.11.6
* Data used (filenames and paths so as to reproduce, a project is better): "Rokatenda.zip" and "DKI Jakarta.zip" training data

Checklist (if applicable):
* [ ] Did you try to

[2017-04-05 11:47] stanreb commented on #4083
Thanks
I run 2.18.0
I'll try again after updating it.

[2017-04-06 01:00] lucernae commented on #3898
Yes we can close this I guess.

[2017-04-06 01:00] #3898 closed

[2017-04-06 03:08] fredychandra commented on #3626
Hi @ismailsunni @Gustry & @Charlotte-Morgan @ivanbusthomi

Here I try to incorporate ticket #3626 and #3947 with Land Cover Analysis feature value concept and its report. This concept feature might be relevant with elements at risk (assets) loss assessment establishment in the future.

![lc_featurevalue](https://cloud.githubusercontent.com/assets/6345285/24735397/f152c41a-1aac-11e7-860e-da0765358c

[2017-04-06 04:11] ivanbusthomi opened #4085 "Map Template: Suggestion to update map report"
### Problem
Currently, our legend and analysis information sections in map report show the information using labels and some template elements. In the template, most of the positions and size of these elements are fixed and there are extra space reserved so that if the text is quite long it will not overlaps other information. These will create some small gaps if the text is not long enough.
![ima

[2017-04-06 05:23] felix-yew commented on #3473
Hi @timlinux - I still search the reference of the hygiene packs and additional rice, one of them has been delivered by mas @fredychandra in https://github.com/inasafe/inasafe/issues/3607#issuecomment-285556569 -this ticket has been closed- about additional rice for pregnant and lactating women that come from **Sphere standard**. Maybe we can use it as a reference to the hygiene packs and addition

[2017-04-06 11:52] NyakudyaA opened #4086 "Earthquake on population results in blankd map and float error"
### Problem
When running earthquake on population using facebook population data and shakemap I run into errors with an empty map but results are visible.

The result generated by the analysis is:
![error_earth](https://cloud.githubusercontent.com/assets/2510900/24752635/1b266432-1acf-11e7-845d-469dca5935a5.png)

On printing the results i get empty results.

![error3](https://cloud.githubuserconte

[2017-04-06 12:03] Gustry commented on #4086
* The legend looks fine. We display nothing if it's 0 and brown if it's more than 1 displaced so I think it's fine. I can see some brown pixels on your map. Is it your 312 000 people displaced?
* I more concerned about values in the raster itself:
[code]
[code]
and also in your min/max.
* Can check the aggregation summary table? You will have numbers in it for sure.
* I will check for the rounding

[2017-04-06 12:06] NyakudyaA commented on #4086
@Gustry  The Brown pixels are not coming from the results. If you look at the legend of the population raster. That is where the color is coming from.

[2017-04-06 12:57] NyakudyaA opened #4087 "Unable to generate keywords for population raster using Keywords wizard"
### Problem
When using a population raster published by facebook I am not able to assign keywords using the Keywords wizard. I am however able to generate keywords using the IF wizard

![sa1](https://cloud.githubusercontent.com/assets/2510900/24754872/6605103a-1ad8-11e7-8db8-003a263e36cb.gif)

### Expected Behaviour
Asign keywords using both wizards

### Environment
* InaSAFE : 4.0.1
* QGIS : 2.18

[2017-04-06 13:10] Gustry commented on #4087
This is a duplicate of #3448. I'm going to copy/paste the content of this ticket here and close the old one.

### Problem

from @vdeparday:

Facebook just released the data that we had access to under NDA for the 5 countries above and it is available through CIESIN: https://ciesin.columbia.edu/data/hrsl/ and the announce of the release:https://code.facebook.com/posts/596471193873876/open-populatio

[2017-04-06 13:10] #3448 closed

[2017-04-07 06:06] lrpower commented on #4071
No, the value is not updated in the keywords.
The log isn't that descriptive
`
2017-04-07T16:01:43	0	Showing No Keywords Message
2017-04-07T16:01:43	0	Showing No Keywords Message
2017-04-07T16:02:07	0	Showing No Keywords Message
'

[2017-04-07 06:15] lrpower commented on #3998
@ivanbusthomi I don't think there is enough space on the left. This is what its trying to show
![image](https://cloud.githubusercontent.com/assets/10228025/24787636/da659b6e-1bac-11e7-94ca-2cb5542a1ee1.png)

It still needs at least 12 more spaces on the right

I think we should get rid of the **(severe tropical cyclone)** and **(tropical cyclone)**

[2017-04-07 06:33] Gustry commented on #4071
I'm trying to replicate your issue. Values are updated in my keywords:
* I changed my global defaults in InaSAFE
* I run the keyword wizard to update values
* Before the end of the wizard, I can see my old values in the dock and my new values in the wizard. As soon as I press "Finish", my keywords are updated in the dock. So for me, values are updated.

I tried my best, with subtitles ;-)
![defaul

[2017-04-07 06:38] Gustry commented on #4071
Ah yes. We can't assign global default on a raster.
Because global default can be used only on an aggregation layer (which can be only vector).

Can you tell us your scenario? What kind of exposure/hazard/aggregation (vector/raster) ?

[2017-04-07 06:39] Gustry commented on #4071
Do you mean using global default when we don't use an aggregation layer in the impact function ?

[2017-04-07 06:54] lrpower commented on #4071
Yes, I did mean using global defaults with no aggregation layer.
I was using a population raster and Tsunami raster which I now know doesn't work
However, I do have a polygon village that I can use for aggregation.
Will this work?
Although I think the answer will be no because it's not working for me now

[2017-04-07 07:13] Gustry commented on #4071
Ok, thanks. I could replicate the issue!

When I was asking for logs, you need to run the impact function.
The impact function is very talkative about ratios and counts ;-)
I can understand what is happening in the impact function.

![defaults](https://cloud.githubusercontent.com/assets/1609292/24789131/cabed4f4-1b71-11e7-9b02-4864133ad275.gif)

It's woking with an aggregation layer if you assign

[2017-04-09 03:43] Charlotte-Morgan opened #4089 "Project Portability - HTML file sharing"
### problem ###
I would like be able to take a project from one machine with all data and analysis results and put it on another computer and have it run under a different profile.

I would like to demonstrate the UNOCHA analysis at a workshop using a different machine to the one on which the analysis was run and share the project with working group members this week.

At present this is possible

[2017-04-09 04:03] Charlotte-Morgan opened #4090 "InaSAFE install - submodule tricks"
### problem ###
When the github inasafe code is cloned to a new machine it does not run until the user runs the git submodule init etc routine.

### proposed solution ###
an inasafe clone to a new machine install should not require a git submodule init etc routine to be run by the user. It would be great if this can be avoided or a maybe give  warning message to advise new users what to do. There

[2017-04-09 04:09] Charlotte-Morgan opened #4091 "Gender report - use real values"
### problem ###
The gender report calcs sphere min needs for females based on a hard coded formula. This means the extra rice for women is calculated regardless of whether the key word for female count was set in the exposure data or female rate was set in the aggregation layer.
This calc is using hard coded values; not values in data or defaults

### proposed solution ###
the calculation of femal

[2017-04-09 04:21] Charlotte-Morgan commented on #4069
I have been thinking about age, gender, population and vulnerability concepts.
I propose we use completely different terms for age and vulnerability.
Age in 5 classes: infant, child, youth, adult, elderly
Vulnerability in 3 classes: under 5, over 60, disabled
Gender in 3 classes: female, child bearing age, pregnant or lactating

Action: Charlotte to update concepts.py

[2017-04-09 04:21] Charlotte-Morgan opened #4092 "Update concepts.py - age, gender, vulnerability"
update concepts and icons to support analysis and reporting of age and gender
#4069
Age in 5 classes: infant, child, youth, adult, elderly
Vulnerability in 3 classes: under 5, over 60, disabled
Gender in 3 classes: female, child bearing age, pregnant or lactating

[2017-04-09 04:26] Charlotte-Morgan opened #4093 "Earthquake on vector population should calculate fatalities"

[2017-04-09 10:02] timlinux commented on #4089
My opinion to resolve the issue:

- [ ] Add an option in the options ui to allow the user to save resources (images, css etc) with the report
- [ ] When the above option is enabled, use relative paths for images and css, pointing to a directory in the output folder
- [ ] copy everything over to the output dir needed for the report to work

[2017-04-10 02:26] Charlotte-Morgan commented on #4089
Hi @timlinux
I like your idea to resolve the issue. I think there are two situations.
1. **want to share and package the whole project** to someone who will open in QGIS with InaSAFE.
I think your proposal will be great however as you say; lots of duplication. Maybe if we write the relevant resources to a resources folder in the user specified results location and make the html look for that?
This

[2017-04-10 06:27] samnawi commented on #4069
Hi @ismailsunni from your PR in #4094, I have a question for you.
Are we still keep the field mapping process in the keyword wizard?
![image](https://cloud.githubusercontent.com/assets/8871958/24848498/343c6bd6-1df1-11e7-83e1-d8b625805d84.png)

[2017-04-10 06:59] ismailsunni commented on #4069
@samnawi of course not. It's in my to do list to remove some of them (e.g. female count, youth count, etc) that can be set in the tool. I am planning to put the tool into the wizard, become one of the step of the wizard.

Btw, These are my to do list:
To do list:
- Write Metadata
    - [ ] drag and drop
    - [ ] Check spin box is stored properly
    - [ ] Save to metadata
    - [ ] Unit test for

[2017-04-10 08:11] timlinux commented on #4093
@Gustry so if I understand @Charlotte-Morgan correctly, we should first remove fatalities from the population and then calculate displacement.

[2017-04-10 08:42] timlinux commented on #4093
To support this we need to add fatality rates as part of the definitions. We discussed this at the sprint meeting today and propose to add a new keyword to the definitions for hazard_classes:

[code]

For each hazard we can then implement a fatality rate function - in the case of EQ that function could look at settings to see which EQ algorithm is active and computers the rate accordingly. Later w

[2017-04-10 08:50] timlinux commented on #4093
@Gustry also please be sure to add fatality rate to definitions_help.py too

[2017-04-10 09:06] timlinux commented on #4069
@fredychandra thank you for your table above. Could you maybe meet us on Zoom.us to do a walk through of your thinking here?

[2017-04-10 09:10] timlinux commented on #4069
@samnawi do you you have some examples of the tables you are looking for us to produce here?

[2017-04-10 09:44] Gustry commented on #4090
Instead of doing only:
[code]

You need to do
[code]

It's on a todolist to give a nicer warning about submodules.

[2017-04-10 09:46] timlinux commented on #3802
@mbernasocchi Just a ping on this - will you be able to work on it for 4.1 or shall we move it to another milestone?

[2017-04-10 09:51] #4040 closed

[2017-04-10 09:52] #3960 closed

[2017-04-10 09:53] #3959 closed

[2017-04-10 09:54] #3957 closed

[2017-04-10 12:08] Charlotte-Morgan commented on #4089
How to share html only
[PortableReports.zip](https://github.com/inasafe/inasafe/files/909967/PortableReports.zip)

[2017-04-10 14:12] ismailsunni commented on #4092
@Charlotte-Morgan no male in gender?

And IMHO, your gender class is more like female's class (since all of the class are only apply for female).

Btw, I have put the placeholder in concepts.py that you can fill with the concept defintion (in my PR).

[2017-04-11 01:06] fredychandra commented on #4069
Hi @timlinux
Yes, If the time is fit, I could join the Zoom meeting.

[2017-04-11 04:08] samnawi commented on #4092
Could we also include the sources of the definition and the grouping process in here?

[2017-04-11 04:20] samnawi commented on #4069
Hi @timlinux Did you mean the data sample with many populations attributes inside?

[2017-04-11 04:51] samnawi commented on #4091
Hi @Charlotte-Morgan Whether this stuff as a complement or replace this ticket https://github.com/inasafe/inasafe/issues/3607 ?

Just to add a note :
Based on the regulation from Ministry of Health (but I do know the number of regulation), childbearing age group is a female 15 - 49 years.

[2017-04-11 09:49] Gustry commented on #4083
hi @stanreb, is-it working now?

[2017-04-11 13:05] timlinux commented on #4069
@samnawi No I meant examples of the report tables you would like to see. @Charlotte-Morgan said you had in mind to produce some pivot tables too. We would like to start coding the logic for that this week if possible.

[2017-04-11 15:24] ismailsunni opened #4100 "Update Global Default Option for #4069"
### Problem
We have more global default values, it's better to group them like @Charlotte-Morgan 's comment in #4069.

### Proposed Solution
I think we can do it with tab to group them. But, it will be tabs inside tabs. Is that good @timlinux ?

Note: I made this ticket to have smaller and doable ticket.

[2017-04-11 15:57] stanreb commented on #4083
With QGIS 2.18.2, it now works.
Thanks !

[2017-04-11 16:03] Gustry commented on #4100
I think I will go for QGroupBox (QgsGroupBox) on the same frame.

[2017-04-11 16:03] Gustry commented on #4083
You're welcome !

[2017-04-11 16:03] #4083 closed

[2017-04-12 02:59] samnawi commented on #4069
Hi @timlinux Based on the contingency plan guideline from BNPB (still drafted), the table looks like this
![image](https://cloud.githubusercontent.com/assets/8871958/24939273/5b90cf3a-1f66-11e7-94e8-e39854cf0277.png)

[2017-04-12 09:24] timlinux commented on #4092
@samnawi yes I think we can use the standard citation system for this.

[2017-04-12 09:32] samnawi commented on #4085
Hi @ivanbusthomi I just curious, why we don't keep the gap? I prefer to keep it for consistency of the map report.

I just think the more important problem to prevent the legend (dynamic content) not appear beyond the available space.

[2017-04-12 09:35] samnawi commented on #4085
How about the font size?

I think it's okay to use the same font-size for legend, analysis information, and disclaimer, since all of this elements has a role as edge information of the map.

[2017-04-12 09:46] Charlotte-Morgan opened #4102 "We need to update the Postcard"

[2017-04-12 21:32] Gustry commented on #4062
Sorry, this was not finished.
@myarjunar Can you take it for the reporting side? (check my PR)

[2017-04-13 02:16] felix-yew commented on #3793
Hi @Gustry - I think the problem has been fixed in InaSAFE 4.0.1
![image](https://cloud.githubusercontent.com/assets/13621886/24987396/de3ff262-2029-11e7-83a5-cf0ba40d0909.png)

Thank you :pray:

[2017-04-13 02:16] #3793 closed

[2017-04-13 04:46] Charlotte-Morgan commented on #2696
@ivanbusthomi and @lucernae how is this going

[2017-04-13 05:08] ismailsunni commented on #4087
Checking at the code, this is the one that caused the problem:

[code]

It seems your layer has more than one band. So, it's not enabled. There is an issue for this problem: https://github.com/inasafe/inasafe/issues/3505

[2017-04-13 05:12] ismailsunni commented on #3505
Note: when implement @timlinux 's approach, don't forget to change which one of the band that will be used. Currently, we use `GetRasterBand(1)` by default in InaSAFE.

[2017-04-13 15:13] ismailsunni opened #4103 "Polishing Field Mapping Tool"
### Problem
The field mapping tool to address #4069 is already in this PR #4094. Most of the functionalities are working. But we can do some polishing before the release. This ticket will list all possible polishing to make the ticket more granullar:

- Write Metadata
    - [x] drag and drop
    - [x] Check spin box is stored properly
    - [x] Save to metadata
    - [x] Unit test for tab and widg

[2017-04-13 15:15] ismailsunni opened #4104 "Icon for Field Mapping Tool"
### Problem
This new tool needs an icon. I am not the best person to do this :) I will assign to @MariaSolovyeva

See detail in #4069 and #4103

Currently I am using InaSAFE logo.

cc @timlinux

[2017-04-13 15:18] ismailsunni opened #4105 "Help Text for Field Mapping Tool"
### Problem
This new tool new some help text to make the user understand what it is and how to use it. I have made the placeholder, but the content is empty.

I will work for the starter and ask  @timlinux to check.

More details #4069 #4103

[2017-04-18 10:17] samnawi commented on #4069
Hi @ismailsunni I've already tried your field mapping tool in the dev version.
Regarding your plan in [comment](https://github.com/inasafe/inasafe/issues/4069#issuecomment-292865602) to put the tool into a wizard, I still have a question for this stuff.

Whether this wizard also accommodate the data if they don't have an attribute that contains total population?
Such as the raw table that @Charlot

[2017-04-18 23:43] ismailsunni commented on #4069
Hi @samnawi
For InaSAFE itself, we never support population with no total field.
For the case that you mention, I think it's will be easier to just use field calculator to create total population field.
We can make it work automatically, but it will introduce more complex problem (or at least more discussion). For example, what if there is only female field but no male field (we always automatical

[2017-04-19 02:52] samnawi commented on #4069
Hi @ismailsunni I prefer not to make it automatically. I just think InaSAFE just recognize what user choose in the wizard. So, like in this step
![image](https://cloud.githubusercontent.com/assets/8871958/25125959/cf859508-245a-11e7-8a3a-b83dda90d3e7.png)
I imagine if the user can choose more than one field, then InaSAFE just calculate that.

[2017-04-19 02:59] ismailsunni commented on #4069
@samnawi Hmm that's a good idea to choose more than one field. Since it's should be also the same mechanism as in the field groups.

[2017-04-19 13:47] gubuntu commented on #3132
@ismailsunni can you confirm that this is done? i.e. that GeoSAFE + QGIS backend are deployed at http://geonode.inasafe.org on the new host and that the backups are in place? If so, this can be closed.

[2017-04-20 01:51] ismailsunni commented on #3132
The back up is not working yet. I am working on the other project yesterday. I will check it today.

[2017-04-21 05:15] lrpower opened #4106 "Not enough free memory to run Tsunami and Population Raster with Aggregation"
### Problem
Hi everyone, i briefly mentioned this on gitter the other day.
Tsunami and Population Raster work fine together but with an aggregation, it gets a Memory issue

From the Inasafe Log
[code]
From theProcessing Log
[code]

### Expected Behaviour
it runs!

### Environment
* InaSAFE : 4.0.0
* QGIS : 2.18.3
* OS :
* Data used (filenames and paths so as to reproduce, a project is better):
  *

[2017-04-21 05:15] lrpower commented on #4106
[TsunamiPopulationRasterAgregationTest.zip](https://github.com/inasafe/inasafe/files/946069/TsunamiPopulationRasterAgregationTest.zip)

[2017-04-21 13:12] timlinux commented on #4106
Hi Tested here @lrpower and can replicate:

![qgis](https://cloud.githubusercontent.com/assets/178003/25278867/f1d99c8e-26a4-11e7-8d27-db0549951922.gif)

[2017-04-21 13:55] timlinux commented on #4106
@lrpower as a work around, select just the aggregation areas that coincide with the hazard dataset - I tried that and it used significantly less memory:

![qgis](https://cloud.githubusercontent.com/assets/178003/25280579/c1df35ce-26aa-11e7-9b25-8d55931638a4.gif)

I think we might have a memory leak or something - I will need to investigate further in the code.

The full analysis did run for me but

[2017-04-24 08:06] samnawi commented on #4069
Hi @ismailsunni Is your wizard which you build already fixed? Because I cannot do population analysis.
![image](https://cloud.githubusercontent.com/assets/8871958/25327764/9e2b1ac4-28ff-11e7-8702-e5113b257f36.png)

[2017-04-25 02:19] felix-yew commented on #3132
Hallo mas @ismailsunni - is there any progress regarding the http://geonode.inasafe.org ?

[2017-04-25 04:33] ismailsunni commented on #4069
Hi @samnawi

The problem you got is coming from the analysis. The impact function hasn't been updated to handle the new keywords (it expects string, but it got list). I will work on it if @Gustry hasn't worked on it.

[2017-04-25 07:54] timlinux commented on #4069
![screen shot 2017-04-25 at 9 45 02 am](https://cloud.githubusercontent.com/assets/178003/25373947/eb750f1e-299b-11e7-89dd-7cb17e9c24d4.png)

We discussed in our call today with @samnawi  - we will make a small report per vulnerability group like the image above. Then we will take the definitions to put explanatory notes underneath each table. The whole lot will go into a new report sections calle

[2017-04-25 11:59] ismailsunni opened #4112 "Dynamic Fields, Post Processors, and Default Values Definitions"
### Problem
We have many fields, post processor, and default value defintions. I saw most of them has the same pattern:

`foo_concept`, `foo_ratio_field`, `foo_ratio_default_value`, `foo_count_field`, `foo_displaced_count_field`, and `post_processor_foo`.

I wonder if we can generate them dynamicly (like we do with the minimum needs).

If we can do it, we can have less defintions which is less err

[2017-04-26 06:53] myarjunar commented on #4069
@timlinux @samnawi @ismailsunni will we create a different section for each table generated from this new metadata or just one section but we categorize it just like what we did in actions list and notes?

[2017-04-26 07:24] ismailsunni commented on #4100
Done in #4109

[2017-04-26 07:24] #4100 closed

[2017-04-26 07:31] ismailsunni commented on #4072
Done

[2017-04-26 07:31] #4072 closed

[2017-04-26 07:34] ismailsunni opened #4113 "Polishing Option Dialog"
### Problem
Current state:
![Option Dialog](https://files.gitter.im/inasafe/inasafe/hfm9/Screen-Shot-2017-04-26-at-9.18.11-AM.png)

Suggestions from @timlinux :
- [x] Tab name: Global Default ->Demographic Defaults  #4121
- [x] The whole tab content needs to go into a scrollbox widget #4121
- [ ] If you have time, I think we should tweak the parameters widget so that each input has a little (?) ne

[2017-04-26 19:06] Gustry commented on #4113
Nice preview.
Is-it not better having only one scrollbar ? (with Age, Gender, Vulnerability... inside)

[2017-04-26 22:21] timlinux commented on #4106
@lrpower just checking in here - I think I mentioned in bitter that it should run successfully if you just select the aggregation areas of the main area where the tsunami hit for now. I have added some profiling tools to see where the leaks are happening but I don't have an immediate fix for the underlying issue, so I suggest to use the 'selection of aggregation areas' as a work around for now.

[2017-04-27 00:33] ismailsunni commented on #4113
@Gustry I hope it will be gone when we added scroll bar for the whole widget. Otherwise, I will set it to not use scroll bar. I agree, it's better to have only one.

[2017-04-27 06:47] #4104 closed

[2017-04-27 08:41] samnawi commented on #4092
Hi @timlinux I try to looking for some definition from what you ask in the last sprint meeting.

As the suggection from @ismailsunni, I try to take some definition from [here](https://github.com/inasafe/inasafe/blob/develop/safe/definitions/concepts.py#L566) then find the empty list also update some sentence from the existing.

To flag the sentence that I wrote, formatted into italic.

# Age Group

[2017-04-27 16:45] ismailsunni opened #4116 "Invalid Layer Error on Debug Mode"
### Problem
I got this issue first time from @samnawi in his comment https://github.com/inasafe/inasafe/pull/4114#issuecomment-297611120

The error was like this:

[code]

I thought it was caused by my code for sum fields. It turns out the bug exists also in master branch as well in develop.

I have made new scenario to test it in unit test. But it seems my scenario doesn't replicate the issue. I

[2017-04-27 17:04] ismailsunni opened #4117 "Minimum Needs Calculator's Output Location"
### Problem
Currently, there is no option to set where we want to save the output layer from the minimum needs calculator. I checked in the code, it will be stored in the same location (depends on the file name and user directory).

A problem will occur when a user try to do minimum needs calculation, with the same layer name but different content. It won't over write the old one (since data_store

[2017-04-27 17:05] #4073 closed

[2017-05-02 03:54] fredychandra commented on #4102
Hi @timlinux
Has the update/new postcard design ready? If this is ready, may you please share the raw data so it can be used by Biondi to print and bring it for upcoming event  PIT-4 IABI at 8 - 10 May 2017.
Thanks

[2017-05-02 04:14] fredychandra commented on #3626
Hi @ismailsunni
Can you confirm this ticket is **ready** for InaSAFE 4.1 or InaSAFE 4.2, please?
Thanks

[2017-05-02 08:45] samnawi commented on #4069
Hi @ismailsunni from a wizard that you create, I see that the pregnant and lactating women input is combined in one process.
![image](https://cloud.githubusercontent.com/assets/8871958/25610394/3c0f415e-2f4d-11e7-9577-90c966a38be6.png)
If we refer to this [table](https://github.com/inasafe/inasafe/issues/4069#issuecomment-293458590) (BNPB CP guideline), the result of pregnant and lactating women s

[2017-05-02 08:52] ivanbusthomi commented on #4085
To keep the consistency, I think we can apply the responsibilities only in the analysis details section only. So it will keep the disclaimer and legend section unchanged.
what do you think mas @samnawi and @myarjunar ?

[2017-05-02 10:34] ismailsunni commented on #3626
@fredychandra
I am afraid that it will be on 4.2. I have been working on #4069 which more or less the same amount of work as this ticket.

[2017-05-03 00:08] fredychandra commented on #3626
Hi @ismailsunni
Ok cool, I agree this work can be for InaSAFE 4.2

[2017-05-05 11:01] ismailsunni opened #4127 "Investigate Rule for Ratio vs Fields vs Global Default"
### Problem
Investigate if these rule are valid:

#### Rules

1. Population raster with no aggregation will use global defaults for demographics (based on ratios)
2. Population raster with aggregation will use aggregation defaults for demographics (based on ratios), falling back to globals if set in agg keywords
3. Population vector with no aggregation will use exposure keywords based on field map

[2017-05-05 11:09] Gustry commented on #4127
Read the IF logs, it's quite detailed inside about what is used, falling back default ...
Maybe add new logs with the new demographic system. We should be able to understand what is going on by reading the log.

[2017-05-08 04:54] ismailsunni opened #4128 "Keywords Changed After Analysis"
### Problem
I was running analysis with aggregation layer. When I tried to open Field Mapping Tool for the aggregation layer, the FMT doesn't show anything beside the dialog.

I tried to track down the problem, the I found out that the keyword monkey patching for the layer gave the wrong keywords.
The keywords/metadata for the aggregation layer become `aggregation_summary`.

The keyword wizard als

[2017-05-08 06:48] Charlotte-Morgan commented on #3132
hi @ismailsunni - is this the backup you are working on?

[2017-05-08 06:56] Charlotte-Morgan commented on #4069
@ivanbusthomi - can you please link to this ticket the work you were doing on the new pivot table reports?

[2017-05-08 07:00] gubuntu commented on #1243
partly addressed in https://github.com/kartoza/geonode/issues/156

[2017-05-08 07:35] ismailsunni commented on #4127
Here is my investigation's result @Gustry @timlinux
I made more detail cases here.

<img width="689" alt="screen shot 2017-05-08 at 14 21 25" src="https://cloud.githubusercontent.com/assets/1421861/25794111/bed3ac64-33f9-11e7-8de2-3a334ded0f73.png">

It seems everyt cases make sense. Beside...

The yellow one and red one is the one that I thought not consistent.

The red one makes sense, since we

[2017-05-08 07:52] ismailsunni commented on #3132
Hi @Charlotte-Morgan

Last update:
the sftp server is full, so @timlinux will give me new server for it. He said he already sent it to me, but I couldn't find it. I will ask him again, and all should be good.

[2017-05-08 08:16] timlinux commented on #3726
@Gustry can you update the status of this ticket and close if done?

[2017-05-08 08:29] Charlotte-Morgan commented on #4127
@samnawi & I need to provide comment on this

[2017-05-08 08:36] timlinux opened #4129 "General report floats to right in help_text branch"

[2017-05-08 08:37] timlinux commented on #4129
<img width="744" alt="screen shot 2017-05-08 at 8 52 42 am" src="https://cloud.githubusercontent.com/assets/178003/25796550/38009ab8-33da-11e7-9370-53d0b8bfd4be.png">

[2017-05-08 08:46] timlinux commented on #3998
For now lets try with a smaller font - 8 point for item font in composer might do it.

[2017-05-08 08:52] timlinux commented on #4047
Maybe a good solution for now is to use layer filtering in the map composer:

<img width="410" alt="screen shot 2017-05-08 at 10 51 35 am" src="https://cloud.githubusercontent.com/assets/178003/25797172/6cb2c1bc-33dc-11e7-9f1d-5467a8ab53a5.png">

[2017-05-08 09:02] Charlotte-Morgan commented on #4047
hi @ivanbusthomi - maybe we can try limiting the legend (ie only show some hazard classes) and or changing the font size for some elements in your templates

[2017-05-08 09:38] Charlotte-Morgan commented on #4091
hi @samnawi - thanks for the definition.
IMO it would be great to update InaSAFE to use real data when it exist and not have the calculation hard coded. What do you think?

[2017-05-08 09:48] Charlotte-Morgan commented on #4062
@myarjunar - can we close this?

[2017-05-08 09:50] Charlotte-Morgan commented on #3473
@felix-yew - have you shared the template for this with @myarjunar ?

[2017-05-08 09:56] timlinux commented on #4050
Duplicates #3967

[2017-05-08 09:58] timlinux commented on #4050
Short term fix: Display a message in minimum needs configuration to tell the user they need to restart QGIS for the change to take effect.

[2017-05-08 10:00] Charlotte-Morgan opened #4130 "Earthquake help text - set default options"
We would like to add a tab in the options for users to select the default EQ fatality model.

Tab should include help on each to support user choice

[2017-05-08 10:04] Charlotte-Morgan commented on #4086
@NyakudyaA  - is this still a bug?

[2017-05-08 10:05] Charlotte-Morgan commented on #4082
@ismailsunni - i think you have this under control

[2017-05-08 10:07] timlinux commented on #4117
As a quick fix we can use a unique file name for the output data package.

[2017-05-08 10:10] Charlotte-Morgan commented on #4092
@samnawi - can we please get the default rates for these concepts too please

[2017-05-08 11:51] timlinux commented on #4127
@ismailsunni can you attach the original spreadsheet above here? Thanks

[2017-05-08 23:47] ismailsunni commented on #4127
@timlinux here is the link https://docs.google.com/spreadsheets/d/1jARdLW6cxEBk0wiUV0MJrlYVvuLseuS2zeM8prRn1dc/edit#gid=0

[2017-05-08 23:48] ismailsunni commented on #4082
@Charlotte-Morgan yes, I just need to merge #4126 first

[2017-05-09 03:13] felix-yew commented on #3473
This is the new mock up for the infographic
![new infographic v 4](https://cloud.githubusercontent.com/assets/13621886/25834095/e6a600f6-349f-11e7-83b1-98a9a3b7e91c.png)
@myarjunar sorry for the late response.

[2017-05-09 04:32] felix-yew commented on #3360
To support the new population analysis in ticket https://github.com/inasafe/inasafe/issues/4069 and it will influence the infographic analysis results of the age, gender, and vulnerability, especially the icon. As the new mock up that I have been shared in [here](https://github.com/inasafe/inasafe/issues/3473#issuecomment-300049734), the missing icon is child bearing age. I modify this icon that

[2017-05-09 06:56] ismailsunni commented on #4113
Closing this, since all posible polishing have been implemented

[2017-05-09 06:56] #4113 closed

[2017-05-09 07:02] ismailsunni commented on #4103
We can close this now. The size is not high priority.

[2017-05-09 07:02] #4103 closed

[2017-05-09 07:06] ismailsunni commented on #4082
#4126 is merged, so we can close this.

[2017-05-09 07:06] #4082 closed

[2017-05-09 07:11] Charlotte-Morgan commented on #3473
@felix-yew - did you make a template in QGIS for this?

[2017-05-09 07:22] Charlotte-Morgan commented on #3360
thanks @felix-yew - I can add these and update the license file

[2017-05-09 07:47] felix-yew commented on #3360
you're welcome @Charlotte-Morgan

[2017-05-09 08:08] ivanbusthomi commented on #4047
@timlinux
I tried using the layer filtering like you mentioned and managed to hide some hazard classification that does not have features in it. But somehow I can not change the item font and number of column through the ".qpt" files.
![image](https://cloud.githubusercontent.com/assets/7351977/25840956/357b712a-34c8-11e7-94d1-ba6338731941.png)

@Charlotte-Morgan

After exploring the possibilities

[2017-05-09 08:52] ivanbusthomi commented on #4069
I am still trying to see what other combination of information that can be generated from the rich data that we get from the table. the link to the rich reporting ticket is https://github.com/inasafe/inasafe/issues/4070

[2017-05-09 09:26] ivanbusthomi opened #4134 "Report Enhancement"
### Problem
Currently, there are some enhancements that we can give to the analysis report. i.e:
* standardising each section title in the report https://github.com/inasafe/inasafe/issues/4134#issuecomment-300118593
* sectioning and ordering the items in notes and assumptions https://github.com/inasafe/inasafe/issues/4138
* sectioning and ordering the items in action checklist https://github.com/i

[2017-05-09 09:27] ivanbusthomi commented on #3998
Hi @timlinux , just like what I mentioned in https://github.com/inasafe/inasafe/issues/4047#issuecomment-300092635, It seems like changes that I made in the item font in map composer is not implemented in the pdf report.

mas @myarjunar - this is the updated qpt files.
[20170509_maplegend.zip](https://github.com/inasafe/inasafe/files/986146/20170509_maplegend.zip)

[2017-05-09 09:34] Charlotte-Morgan commented on #4134
thanks @ivanbusthomi - I know you have been working on this alrady and discussing with @myarjunar. We need to document and share this discussion so that we can schedule the implementation in weekly planning meetings.

Please share a pdf that you have as a work in progress or some screenies of the version with my scribble on it so that we can see where things are up to. This will also save people p

[2017-05-09 09:45] ismailsunni commented on #4128
Fixed in #4132

[2017-05-09 09:45] #4128 closed

[2017-05-09 09:59] ivanbusthomi commented on #4134
Some examples of our section title in the report at the moment look like this (using flood on population analysis):
* Detailed age report
* Detailed gender report
* Detailed minimum needs report

I think it will be good for us to also emphasise the idea that it is an estimated result that comes from the analysis. So my proposal is to change the wording of the above examples to this respectively:
*

[2017-05-09 10:54] ismailsunni opened #4136 "Update post_processor_additional_rice with value from layer's keywords"
### Problem
Currently, the formula to calculate the additional rice is using hard code value for `pregnant_rate` and `breastfeeding_rate`. Since in v4.1 we introduce pregnant and lactating field, it will be great if we can use it to calculate the additional rice.

For the first implementation, we will merge the rate of pregnancy and lactating.

cc @timlinux @Charlotte-Morgan @samnawi

[2017-05-09 10:58] ismailsunni opened #4137 "Add Field Group Description Under Each Tab in FMT and Keyword Wizard"
### Problem
We need to add description of field group  in this blue rectangle.
<img width="1044" alt="screen shot 2017-05-09 at 17 56 06" src="https://cloud.githubusercontent.com/assets/1421861/25847602/f60b0532-34e0-11e7-94c0-ecb33f2e3c22.png">

cc @timlinux

[2017-05-09 11:00] ismailsunni commented on #4068
Closing this, I can't replicate the problem. The only explanation is we forget to run `git submodule update`. If you still got this problem, run`git submodule update` or re-open this ticket.

[2017-05-09 11:00] #4068 closed

[2017-05-09 11:01] ismailsunni commented on #4031
Done in the current develop by using field mapping tools.

[2017-05-09 11:01] #4031 closed

[2017-05-09 11:03] ismailsunni commented on #3869
It will be handled nicely in the field mapping tool and field group. Closing this.

[2017-05-09 11:03] #3869 closed

[2017-05-09 11:04] ivanbusthomi opened #4138 "Section for the notes and assumptions"
### Problem
We need to categorise the notes and assumptions so that it will be easier to be read and understand.

### Expected Behaviour
The notes and assumptions could easily be read

### Proposed Solution
We can implement some sections like the one that we are going to implement on action checklists. This is the rough idea of how it will looks. It will contains `General Notes`, `Caveats`, `Hazar

[2017-05-09 11:45] #4137 closed

[2017-05-09 11:46] ismailsunni opened #4140 "Translation for 4.1"
### Problem
Current status for the translation in develop (2 days before release)
- Indonesia: 170 untranslated
- French:  179 untranslated

It would be nice to have 0 untranslated strings (especially for Indonesia one). Just ping me if you need help to translate it (just go to https://www.transifex.com/inasafe/inasafe-code/dashboard/ basically).

cc @timlinux @myarjunar @samnawi @ivanbusthomi @fe

[2017-05-10 03:49] #4136 closed

[2017-05-10 04:51] ivanbusthomi commented on #4070
This table shows the number of people in each aggregation areas affected by each hazard level. The example is using the flood on population analysis.
![image](https://cloud.githubusercontent.com/assets/7351977/25883684/de485abc-3576-11e7-8771-313a4f5cfb1e.png)

[2017-05-10 06:06] Charlotte-Morgan commented on #3360
hi @felix-yew can you please make an icon for child?
Its the same as youth but would be great if you can share the resized one. Thx

[2017-05-10 06:25] felix-yew commented on #3360
No worries, I have resized the child icon into 50 px.
PNG format
![child](https://cloud.githubusercontent.com/assets/13621886/25885603/92fbca96-3583-11e7-9141-52c440ab62fc.png)

SVG format (use the online converter)
[child.zip](https://github.com/inasafe/inasafe/files/988836/child.zip)

Let me know if the icon is not what you expected, I will correct it.

[2017-05-10 06:27] Charlotte-Morgan commented on #4092
Quick update from @samnawi and I on this work.
We are reviewing age, gender and vulnerability concepts / concept_groups to align with humanitarian standards.  thinking is being documented here: https://docs.google.com/spreadsheets/d/1NFGIRPyb69yO4I-8QkB4MaiGn-Te2L0gPd9yDaj6tiA/edit#gid=0

Steps to progress this:
- [ ] get icons for all concepts
- [ ] write definitions for all concepts
- [ ] set de

[2017-05-10 06:39] ismailsunni commented on #4092
Not related directly, but I also had an idea to put the icon in the defintions like I mentioned in https://github.com/inasafe/inasafe/issues/3470

+1 for the icon.

[2017-05-10 06:51] Charlotte-Morgan commented on #4092
Yes - i was just looking at my notes on how to do this.
Add icon files to the resources
Add entries to definitions.lic

I will also be working on concepts.py so if you can give me a sample line of code to add to the standard concept boiler plate, I can easily list the icon as you were thinking in #3470.

I think i discussed this with @timlinux before and recall for some reason we decided not to do

[2017-05-10 06:52] Charlotte-Morgan commented on #4092
here is the existing concept snip
[code]

[2017-05-10 07:21] felix-yew commented on #3360
this is for disable icon
![disable](https://cloud.githubusercontent.com/assets/13621886/25887298/c4218716-358b-11e7-8394-29d77e9a66aa.png)

[disable.zip](https://github.com/inasafe/inasafe/files/988970/disable.zip)

[2017-05-10 07:23] Charlotte-Morgan commented on #3360
thank you @felix-yew - you are a champion :)

[2017-05-10 08:42] samnawi commented on #4092
Please check this link
https://docs.google.com/spreadsheets/d/1NFGIRPyb69yO4I-8QkB4MaiGn-Te2L0gPd9yDaj6tiA/edit?usp=sharing

[2017-05-10 09:43] ismailsunni opened #4145 "Use Percentage for Ratio"
### Problem
Currently, we use (0.0 - 1.0) for representing ratio. It's better to use percentage for the ratio. We can still store the value like now (0.0 - 1.0), but we show in the spinbox by using percentage. We can use this approach:

http://stackoverflow.com/questions/19172262/pyqt4-qspinbox-value-format

We need to decide whether we want it in `parameters` or in InaSAFE base code.

Note from @

[2017-05-10 09:51] Charlotte-Morgan commented on #4092
@ismailsunni - following discussion with @timlinux and some reworking with @samnawi we would like to make some changes to the age concepts and group. Here is the proposal.
* We have 3 default classes as per UN and other international humanitarian standards.
* Youth, adult and elderly
* we allow 4 classes: infant, child, adult and elderly.

![image](https://cloud.githubusercontent.com/assets/574313

[2017-05-10 09:53] Charlotte-Morgan commented on #4092
@ismailsunni

Further to the above. We would like to take your advice and revise the gender group to include males and females.  We propose that all other concepts such as pregnant and lactating and child bearing age, belong elsewhere.
@felix-yew  - could you please make that 2 ice cream icons?

[2017-05-10 10:00] Charlotte-Morgan commented on #4092
@ismailsunni

Finally: we propose that we modify the vulnerability groups as follows:
Vulnerability age: under 5, over 60
Vulnerability gender: female, child bearing, pregnant and lactating
Vulnerability disability: disabled

CMIIW - this proposal uses the same concepts that are already define but changes some groups and adds more groups.
Is this something you are able to support or would you like

[2017-05-10 10:26] felix-yew opened #4146 "Infographic result show unusual display"
### Problem
I get the unusual display from infographic report. The vulnerability group (Gender, Age) and Minimum Needs has disappear.

![image](https://cloud.githubusercontent.com/assets/13621886/25894236/42b56dcc-35a5-11e7-9c22-3a7794c23a23.png)

### Expected Behaviour
The infographic result can display in normal report.

### Environment
* InaSAFE : 4.1.0b0
* QGIS : 2.14.10
* OS : Win-7 Professio

[2017-05-10 11:04] timlinux commented on #4092
So we take the one existing group and split it into 3 separate groups? Sounds fine to me

[2017-05-10 11:06] timlinux commented on #4092
I think this is fine too - we can make two groups:

**Gender group**: Males, Females
**Women group**: Pregnant, Lactating, Child Bearing Age

[2017-05-10 11:41] timlinux commented on #4092
It should not be possible to use any combination of child and youth or infant and youth.
These concepts and ratios are all in PR #4144 if you want to consider this proposal.

This one might be a bit more trick. Basically it implies another level in the heirachy:

Before:

![screen shot 2017-05-10 at 1 15 42 pm](https://cloud.githubusercontent.com/assets/178003/25896050/da5e66b0-3582-11e7-9bdc-2694

[2017-05-10 12:25] Charlotte-Morgan commented on #4092
I don't think we need the women group. I've put them as a vulnerability group

Sent from my iPhone

[2017-05-10 12:26] Charlotte-Morgan commented on #4092
Ok. Let's stick with three only for now and tuck infants and children away

Sent from my iPhone

[2017-05-10 18:22] lucernae commented on #3360
Note for whoever will implement the icon to the report 😄 (maybe @myarjunar ):

1. It is **very** recommended to have the icon as True SVG, which means it is a picture defined by svg syntax like graph, lines, etc. Check the svg content, it could be an SVG but on the inside is just base64 formatted png data. Big reason for using true SVG is the flexibility, you can color it, resize and scale program

[2017-05-11 04:02] Charlotte-Morgan commented on #3360
hi @lucernae - thank you for the great advice.
@felix-yew - please take note of this for the icons we need and get @ivanbusthomi or Kartoza to assist with making true SVG if necessary. Try Boxy SVG :)

[2017-05-11 04:35] ivanbusthomi commented on #3360
Hi mas @lucernae ,

So I checked the three files above provided by mas @felix-yew, and I can confirm that the last two files are true svg, while the women with child bearing age are still in a _png-inside-an-svg_ format.
Quick question,does any version of svg works? because I notice that the version is slightly older than the one we already used.

[2017-05-11 04:41] Charlotte-Morgan commented on #4092
@timlinux, @ismailsunni , @samnawi
thanks for the feedback and discussion around the demographic group. The more I think - maybe we need to separate the data handling and analysis from the reporting.
For the demography group - is it another level in the heirarchy or a group?

Separating data from reporting:
I think we should allow users to define all the concepts for infant, child, youth, adult an

[2017-05-11 05:03] ismailsunni commented on #4092
Hi @Charlotte-Morgan

At present the tool does not allow the same field to be assigned to to more than one class within a group. A simple solution may be to add a group rather than the heirarchy as suggested by @timlinux
ie turn age group into age group 3 and age group 4 - just like we have different hazard classifications.
This would then be a new tab in the tools.
I think this is a short term so

[2017-05-11 05:15] Charlotte-Morgan commented on #4092
hi @ismailsunni

For the reporting part, how can the reporting knows that youth = child + infant? I am not sure we want to hard code it (cmmiw @timlinux )

All good points. Maybe we should keep it simple for now and use a default of 3. We can keep the others but maybe disable infant and child for now.
When @samnawi reviewed the way different organisations work with age groups most use only 3 group

[2017-05-11 05:19] Charlotte-Morgan commented on #4070
hi @ivanbusthomi - this looks nice. Have you looked to see what is possible for age and gender from the current analysis data / tables?

[2017-05-11 07:38] timlinux commented on #4146
@myarjunar can you look at this when you get in tomorrow please?

[2017-05-11 07:40] timlinux commented on #4138
Good idea. @myarjunar are we going to be able to squeeze this in by 4.1 though? Can you give an indication of how much work it will be?

[2017-05-11 07:57] felix-yew commented on #4092
Ok @Charlotte-Morgan - this is a lot of ice cream for mas @ismailsunni
![noun_746208_cc](https://cloud.githubusercontent.com/assets/13621886/25938574/e753c3ba-3659-11e7-8c1b-9ee13edbc66d.png)

with the ice cream truck
![noun_1033650_cc](https://cloud.githubusercontent.com/assets/13621886/25938595/f5fdb33a-3659-11e7-8b24-e44b6ba2f65f.png)

Please enjoy! 😄

[2017-05-11 08:18] ivanbusthomi opened #4148 "Analysis report shows unusual display"
### Problem
Might be related to the issue in #4146, the analysis report also shows some tables that have a strange styling.

![image](https://cloud.githubusercontent.com/assets/7351977/25938829/e05e293c-365a-11e7-87fc-dec59a017ab9.png)

### Expected Behaviour
The reports should have a nice styling.

### Environment
* InaSAFE : 4.1.0b
* QGIS : 2.14
* OS :
* Data used (filenames and paths so as to r

[2017-05-11 08:46] Charlotte-Morgan commented on #4092
thank you mas @felix-yew

[2017-05-11 09:19] timlinux commented on #4105
This was done as part of #4123

[2017-05-11 09:19] #4105 closed

[2017-05-11 13:57] #4130 closed

[2017-05-11 14:14] timlinux opened #4151 "We need to display the demographic group help text"
### Problem

Demographic group's field's help text should be shown in the help window and also in the field mapping tool under each concept like this:

![screen shot 2017-05-11 at 4 13 04 pm](https://cloud.githubusercontent.com/assets/178003/25953836/d7022a82-3664-11e7-9ab3-2709eb508644.png)

## History

Based off discussion with @Charlotte-Morgan today.

[2017-05-11 15:23] myarjunar commented on #4129
closed in #4147

[2017-05-11 15:23] #4129 closed

[2017-05-12 06:18] ismailsunni commented on #4092
Thanks for the icon @felix-yew  @Charlotte-Morgan , I will create new ticket for the real one next week :D

[2017-05-12 07:30] myarjunar commented on #3964
closed in #4142

[2017-05-12 07:30] #3964 closed

[2017-05-12 07:58] ivanbusthomi commented on #4070
Apart from [the table that I post above](https://github.com/inasafe/inasafe/issues/4070#issuecomment-291371432), I haven't found another combination for age and gender. I have another combination idea for age and gender, but I will have to check whether it is a simple pivot table or not.

[2017-05-12 10:34] ismailsunni commented on #4151
Done for the field mapping (below the field list)

[2017-05-12 22:16] #4151 closed

[2017-05-12 22:17] timlinux commented on #4148
Duplicates #4129 - see #4147 I think we can close this - can you confirm please?

[2017-05-15 02:23] ivanbusthomi commented on #4148
Thank's @timlinux, closing this now.

[2017-05-15 02:23] #4148 closed

[2017-05-15 02:36] Charlotte-Morgan commented on #4145
I think we do need to review the way we use ratio.
In general we are using it as a proportion of 1; where a percent is a proportion of 100.
We do not use it as a true ratio; ie 1 per 100 or 1 per 1000

[2017-05-15 04:21] ismailsunni opened #4157 "Add Flag to Make Field Groups not Exclusive"
### Problem
Currently, when we move a field from field list (in the left) to any field group, it will make the field in the list gone (it's moved). The field is exclusive to a field group. In some case, we want to have different behaviour where we can assign the same field to several field groups.

[2017-05-15 04:29] ismailsunni opened #4158 "Add Male to Gender Group"
### Problem
Currently we calculate male as a complement of female one. We want to do it separately now.

- [x] Create custom post processor for male
- [x] Add male to gender field group
- [ ] Move child bearing age and pregnant or lactating fields to another new field group (i.e. female vulnerability). Consult with @timlinux @Charlotte-Morgan and @samnawi

[2017-05-15 04:58] lucernae commented on #3360
I haven't tested yet, but I think the version doesn't make so much difference.
If you want to upgrade the version, you can open it in Boxy SVG and save it again.

[2017-05-15 05:52] Charlotte-Morgan commented on #4070
ok - so the age gender report you did is possible from the existing rich data?

[2017-05-15 06:07] felix-yew commented on #3360
Hi mas @lucernae - I have already use the Boxy SVG to re-save the icon and @ivanbusthomi has tested the SVG and it works properly.

[2017-05-15 08:13] felix-yew commented on #3473
Hi @Charlotte-Morgan - I make this template in power point 😄 because it not used a huge memory when process it. And, I have asked @myarjunar that he work this template in html format. Or, do you want me to create this template with QGIS?

[2017-05-16 03:00] timlinux opened #4162 "Nice trees please"
### Problem

At the moment we generate a tree that shows the execution path for the InaSAFE analysis. I think this is potentially a very useful way to let the user understand the analysis workflow but its very hard to make out from the current ascii art representation of a tree that is shown during the analysis. I would like to see if we can rather use a tree representation for the profiler report

[2017-05-16 03:17] timlinux opened #4163 "We need to refactor the demographic groups"
### Problem

Based on our discussions with Charlotte during our site visit, we need to rearrange the demographic groups according to the following scheme:

* **Age**: Infant, Child, Youth, Adult, Elderly
* **Gender**: Male, Female
* **Age vulnerability**: Young children, Elderly
* **Gender vulnerability**: Females, Pregnant Females, Lactating Females
* **Disability vulnerability**: Disabled

### P

[2017-05-16 03:33] Gustry commented on #4116
Running the test_impact_function.py, the test_scenario_directory is broken :
[code]

[2017-05-16 03:59] felix-yew opened #4165 "We need icons to vulnerability gender group"
### Problem
We will have need icons to support the infographic report in a new population analyisis result in InaSAFE latest version. One of the new population analysis result, we will have a vulnerability gender group that consist of: `female`, `child bearing age`, and `pregnant and lactating woman`.
Problem, we still need icons for `lactating`.

### Expected Behaviour
We must have `lactating` ic

[2017-05-16 04:33] #4157 closed

[2017-05-16 06:14] Charlotte-Morgan commented on #4165
hi @felix-yew - thanks for writing up this ticket and reviewing available icons. If we have 2 icons (one for pregnant and one for lactating) and then combine those same ones to make pregnant / lactating it would be better than something completely different.
Can you please look for icons of a similar style to the ones we already have ? I think the UNOCHA  / noun project might have something suitab

[2017-05-16 06:27] Charlotte-Morgan commented on #3473
We need to find out from @myarjunar how he makes the template please and if he already has a template we can modify in future?

[2017-05-16 06:38] felix-yew commented on #4165
Hi @Charlotte-Morgan - for the `lactating` icon, I get the similar style and I think it is suitable from https://thenounproject.com/search/?q=breastfeeding&i=637611
![lactating_resize](https://cloud.githubusercontent.com/assets/13621886/26092673/7e49d0d0-3a3c-11e7-9887-8eac6dfd4a43.png)
This is the file
[PNG_SVG_format_noun_637611_cc.zip](https://github.com/inasafe/inasafe/files/1003398/PNG_SVG_fo

[2017-05-17 00:33] ismailsunni commented on #3633
I just found that we already creating metadata for all the output layers even though there is only `ExposureSummaryLayerMetadata` class. Do you know something about this @Gustry ?

[2017-05-17 01:32] Gustry commented on #3633
Yes, it's creating an XML file, using the base class I think. You know the metadata engine better than me.

[2017-05-17 03:27] #3878 closed

[2017-05-17 04:51] ismailsunni opened #4173 "Demographic Concept Groups Generator"
### Problem
Currently, it's not easy to create field groups. We need to define several things:
 - concept
 - field (ratio, count, displaced count)
 - default values for ratio
 - post processor
 - the field group itself.

We come up with the idea of making a script to generate all this thing from a `demographic population groups`. It's dictionary which has a structure and content like this:

[code]

[2017-05-17 07:10] myarjunar commented on #4089
closed in #4160

[2017-05-17 07:10] #4089 closed

[2017-05-17 07:17] Gustry commented on #4071
The PR has been merged into develop. The fix will be in 4.1.

[2017-05-17 07:17] #4071 closed

[2017-05-17 08:21] Charlotte-Morgan opened #4174 "Add earthquake notes to help file"
It would be good to add some notes to the help file about the earthquake fatality models; especially the default model and any limitations.

Please look at remmed out notes in definitions/earthquake.py for existing text supplied by @hadighasemi

[2017-05-17 08:29] Gustry commented on #4174
I added these notes to the help file I think.
Is it not 6.2.10.1.2 ?
<img width="748" alt="screen shot 2017-05-17 at 15 28 31" src="https://cloud.githubusercontent.com/assets/1609292/26145126/844d57fc-3b15-11e7-972a-3c9ca863186a.png">

[2017-05-17 08:36] Charlotte-Morgan commented on #4174
There are a heap of other notes including references, parameters, limitations and caveats that I think might be good to share in the help.

[2017-05-17 09:13] samnawi commented on #4092
I've already tested the calculation as what @Charlotte-Morgan asking on tuesday morning discussion about the gender group.

I think this is work as what we want.
![screenshot_10](https://cloud.githubusercontent.com/assets/8871958/26146432/5c1adee4-3b1a-11e7-9b47-d05fc3a345d6.jpg)

From the picture in above, we can see that as long the ratio is adjusted to the appropriate number (based on the total

[2017-05-17 10:59] ismailsunni commented on #4173
After some discussion with @timlinux , we got a plan:
1. Create the dictionary like above
2. Create some class for definition, concept, field, post processor, field groups, etc
3. Create a function to create a definition objet that hold all of the class above based on the dictionary
4. Use the definition object (similar with from `safe.definitions.fields import femaler_ratio_field`) to access the

[2017-05-18 02:24] ismailsunni opened #4178 "Create Help Text for Wizard"
### Problem
We need documentation for the wizard. This documentation will be useful also for a training. The ideal way to put the documentation is next to the code. Since we put each step / page in one class (and one file), we can put this in that file also.
If we do this by using messaging class, we can generate it as a app's help or pdf (training material).

[2017-05-18 04:18] timlinux opened #4179 "Documentation plan for QGIS 4.2"
### Problem

We need to provide technical documentation to make it easier for new developers to join the project and more importantly for power users to be able to understand the system from a higher level view. So I have identified a number of areas that should be nicely documented (with accompanying diagrams):

### Proposed Solution

**Processing workflow:** @Gustry

* **Input Layers:** What inp

[2017-05-18 04:23] gubuntu opened #4180 "add google analytics to all inasafe properties"
@gubuntu and @lucernae have already added it to inasafe-django

set up in the same GA domain and deploy to docs.inasafe.org etc.

[2017-05-18 04:47] samnawi commented on #4127
Just try to link with #3971

[2017-05-18 04:52] felix-yew commented on #4127
Hi mas @ismailsunni - I wanna ask about one of case from your investigation's result. It is about the yellow one, if I run the flood raster with population raster and aggregation vector (ratio not set), so from your investigation maybe (the yellow one means) it is not be working or there maybe can give a result? or give the result but no calculations produced in detailed report? because I run it w

[2017-05-18 07:27] ismailsunni commented on #4127
@felix-yew Your result is what's the expected, there should be not any breakdown since we specify to not use ratio/fields.
Perhaps the result in my test above is wrong. I will try to run it again.

[2017-05-18 07:55] felix-yew commented on #4127
Okay, maybe it will need some explanation in that detailed report why no calculations produced, so the user can make sure that the result is correct but because there are no ratio found or anything else so the calculations nothing happen.

[2017-05-18 09:42] Charlotte-Morgan commented on #3847
I think this is all done with pr #4176.

[2017-05-18 09:42] Charlotte-Morgan opened #4181 "Update help to include mutually exclusive values"

[2017-05-18 10:09] Charlotte-Morgan commented on #4134
Thanks @ivanbusthomi - I like these suggestions but I agree that the extra subtitle is a bit of duplication.
Have you shared your 'template' to @myarjunar and will it be possible to implement these changes soon?

[2017-05-18 10:13] Charlotte-Morgan commented on #4134
In addition: if the text in the blue bar is changed to say something like
"Estimated number of people displaced by age and aggregation area"
then we would no longer need to mention 'displaced' or 'count' for each column heading. Column heading would become simply the age group in this example.
![image](https://cloud.githubusercontent.com/assets/5743135/26197639/2358fbc6-3bed-11e7-891b-aa09857e2d36

[2017-05-18 10:58] ivanbusthomi commented on #4070
Sorry, I retested it again and we actually need to add a postprocessor to calculate the age gender using the ratio.

[2017-05-19 02:23] ismailsunni commented on #4127
@myarjunar can you add the comment from @felix-yew to the report?

[2017-05-19 02:48] Gustry commented on #4093
This is going to be fixed in #4101. This PR brings two new columns fatality ratio and fatality counts in the exposure summary when you do an EQ on vector pop.
@myarjunar Can you add the fatality count in the report?

[2017-05-19 05:47] Charlotte-Morgan commented on #4093
@myarjunar ... remembering that are specific rounding rules applied to the way fatalities are reported :)

[2017-05-19 05:49] Charlotte-Morgan commented on #4165
nice - thanks @felix-yew

[2017-05-19 05:59] #3847 closed

[2017-05-19 06:16] Gustry commented on #4093
Thanks @Charlotte-Morgan !
@myarjunar You will find the another rounding for fatalities : `fatalities_range` in the rounding file

[2017-05-19 06:16] Charlotte-Morgan commented on #4165
@felix-yew: do you have a combined pregnant / lactating icon too?

[2017-05-19 09:32] ismailsunni commented on #4179
Do we need to document the keywords also?

[2017-05-19 09:34] #4067 closed

[2017-05-22 10:44] felix-yew commented on #4165
Hi @Charlotte-Morgan - Sorry I reopen this ticket to make sure we also need an icon for pregnant & lactating women. I have create an icons pregnant & lactating women.
PNG format (I modify the lactating icon from above)
![pregnant_lactating](https://cloud.githubusercontent.com/assets/13621886/26304403/5f107cb8-3f15-11e7-8ce2-62ece7dbe18c.png)
SVG format [pregnant_lactating.zip](https://github.com/i

[2017-05-22 10:47] Gustry commented on #4093
The fatality count is now available in the attribute table.
@myarjunar will add the field into the report.

[2017-05-23 02:00] gubuntu opened #4189 "impact-report-output.pdf has en extra blank page"
and action-checklist-output.pdf.

Remove extra page.

[2017-05-23 02:41] timlinux commented on #4179
@ismailsunni yes we should definitely document the keywords IMHO

[2017-05-23 03:48] myarjunar commented on #4093
Thanks @Gustry , but I'm not getting the 'population_fatality_ratio_field' in the attribute table, it supposed to be there right?

[2017-05-23 06:36] Charlotte-Morgan commented on #4134
hi @myarjunar and @ivanbusthomi - can you please advise if this work will be in 4.1?
cc @timlinux

[2017-05-23 06:38] ivanbusthomi commented on #4047
Hi @timlinux and @myarjunar,
I tried just now on develop, and this issue still existed. Are we implementing the fix that we discussed above in 4.1 or are we going to have a bug fix for this?

[2017-05-23 06:52] Charlotte-Morgan commented on #4146
hi @myarjunar and @timlinux - is there an update on this issue?

[2017-05-23 07:00] Charlotte-Morgan opened #4192 "Options: earthquake tab"
It's great to see this tab with user options and notes.
![image](https://cloud.githubusercontent.com/assets/5743135/26342086/d2fd47f4-3fc0-11e7-9cef-cd3474e379da.png)

I think we need to tweak the text inviting users to select their preferred earthquake fatality model; and specifically state which one is the default. ie
change "Default earthquake fatality model" to

"Please select your preferred e

[2017-05-23 07:08] Charlotte-Morgan opened #4193 "Earthquake models not rates"
Pls change the text in the earthquake fatality rates to say ... fatality model.
ie the word model is better than the word rates

all this stuff ...
![image](https://cloud.githubusercontent.com/assets/5743135/26344192/f6a50036-3fc8-11e7-9519-6558aef467c6.png)
 and everywhere else ... it is used

[2017-05-23 07:25] Charlotte-Morgan opened #4194 "Options: add vulnerability groups"
Sunni - pls fix what Tim forgot :)
I think the non-group fields is not required and could sections for age vulnerability ratio and then gender vulnerability ratio.
![image](https://cloud.githubusercontent.com/assets/5743135/26344055/7989d41e-3fc8-11e7-9f39-f176ec060336.png)

[2017-05-23 08:07] Charlotte-Morgan commented on #4165
nice thank you @felix-yew

[2017-05-23 08:41] #4165 closed

[2017-05-23 09:58] ivanbusthomi opened #4200 "TypeError when running Flood vector on Population vector"
### Problem
When I tried running flood vector on population vector, I got this error message
[code]
When I tried updating the keyword of the hazard layer used in this case, the error disappeared, and I got a result. But when I tried updating it again, the error somehow reappeared.

### Expected Behaviour
It can be run without error.

### Environment
* InaSAFE : 4.1.0b0 (develop)
* QGIS : 2.14.10
*

[2017-05-23 10:04] gubuntu opened #4201 "url not JSON serializable"
After running an anlysis for 16h it failed with this error!

[code]

[2017-05-23 10:13] ismailsunni commented on #4194
Done in #4195

[2017-05-23 10:14] #4194 closed

[2017-05-23 10:19] samnawi commented on #4200
I got this problem tomorrow, but when I re-keyword the file, It's run properly

[2017-05-23 10:59] ismailsunni commented on #4200
Hi @ivanbusthomi @samnawi

I have found the problem.

Its because the InaSAFE fields that's not exist in the actual layer. In your case, your hazard layer has `M_65_Plus` field in the keywords as `Elderly count`, but the layer itself doesn't have the fields.

The problem is (99%) caused by the keyword wizard. I think it was like this:
1. You run keyword wizard for exposure layer. It has field mapp

[2017-05-23 11:43] Gustry commented on #4200
I'm working on solution 2 in the PR above.

@ivanbusthomi Thanks for reporting issues for tomorrow !

[2017-05-23 14:39] myarjunar commented on #4138
closed in #4131

[2017-05-23 14:39] #4138 closed

[2017-05-23 15:09] ismailsunni commented on #4200
@Gustry it is @samnawi not @ivanbusthomi :D

[2017-05-23 17:42] #4062 closed

[2017-05-24 00:21] gubuntu opened #4205 "shakemap converter dialog errors"
These messages don't change like they should when the correct files are specified.
[code]

Also, they should appear only after a file is chosen and if it is incorrect. The way they appear beforehand now gives confusing messages to the user.

[2017-05-24 03:26] Charlotte-Morgan opened #4207 "We need to update inasafe_graphics"
### Problem
Icons for recent new tools in InaSAFE are only available as SVG files in the InaSAFE / InaSAFE repo but not in the InaSAFE_graphics repo. This makes it hard to prepare presentation and promotional materials to explain new features and tools
### Expected Behaviour

We have  a reference collection of project graphic elements and icons in multiple formats for use in presentations and prom

[2017-05-24 03:39] #4192 closed

[2017-05-24 03:40] Gustry commented on #4193
We changed the display name.

[2017-05-24 03:40] #4193 closed

[2017-05-24 03:43] Gustry commented on #4200
I'm keeping this ticket for me

[2017-05-24 04:11] samnawi opened #4208 "The Sequence of the Field in The Attribute Table is Disordered"
### Problem
The sequence of the field in the attribute table of the population analysis result,  seems like disordered.
![image](https://cloud.githubusercontent.com/assets/8871958/26386390/c0bca1a6-4070-11e7-819e-9cf3bba036ce.png)

It's causing a little bit difficult for a user to see the result in the attribute table. Moreover, if they want to do some further analysis from this table.

### Expect

[2017-05-24 04:12] ismailsunni commented on #4200
Ah, the commit closed the issue :D

for more context why we keep this ticket https://github.com/inasafe/inasafe/pull/4206#issuecomment-303607647

[2017-05-24 04:16] samnawi commented on #4093
![image](https://cloud.githubusercontent.com/assets/8871958/26386678/57bbe53e-4072-11e7-874a-3791f159c923.png)

[2017-05-24 04:37] ismailsunni commented on #4158
It's done

[2017-05-24 04:37] #4158 closed

[2017-05-24 05:15] Gustry commented on #4093
@samnawi Should we look for a bug in your screenshot or is everything ok ? ;-)

[2017-05-24 07:14] ivanbusthomi opened #4209 "Missing information from the report in the Population analysis"
### Problem
Currently, some information is missing from the population analysis. This is the examples of the tables that appear in the report

* Detailed gender report
![image](https://cloud.githubusercontent.com/assets/7351977/26390676/cfdc636a-4089-11e7-980c-b1199709b431.png)
the information about the _hygiene pack_ and _additional rice for pregnant woman_ are missing. I used the global default

[2017-05-24 07:28] samnawi commented on #4209
We just see the result in the attribute table
![image](https://cloud.githubusercontent.com/assets/8871958/26391504/4022aba4-408d-11e7-8e6c-3e8727e0983c.png)

[2017-05-24 07:53] samnawi opened #4210 "Behaviour of Pregnant, Lactating, and Additional Rice"
### Problem
1. For Additional Rice
Currently, If I set Pregnant and Lactating as combine parameter, I can see additional rice in the result
![image](https://cloud.githubusercontent.com/assets/8871958/26391845/8f873dc6-408e-11e7-9b02-9eff7f130f8a.png)
![image](https://cloud.githubusercontent.com/assets/8871958/26391900/c57da9f6-408e-11e7-998f-d88e4fab525e.png)

If I set Pregnant and Lactating separ

[2017-05-24 08:04] ismailsunni commented on #4210
Hi @samnawi
Yes, you are right. Currently InaSAFE (develop) only calculate the additional rice when there is `pregnant and lactating` ratio.

I can make it also calculate when you only have `pregnant` or/and `lactating` ratio.

If the user have `pregnant and lactating`, `pregnant`, and `lactating` ratio, I haven't decided how it will behave. You can decide which behaviour it will be:
- use `pregna

[2017-05-24 08:23] ismailsunni commented on #4112
Similar with #4173
Closing this.

[2017-05-24 08:23] #4112 closed

[2017-05-24 08:29] ismailsunni commented on #4201
I tried to replicate this, but I can't.

I remember I have encountered this bug and I have fixed it.

[2017-05-24 08:31] ismailsunni commented on #4208
@samnawi can you give an example of tidier sequence for the layer above?

[2017-05-24 08:47] samnawi commented on #4093
Hi @Gustry I just want to show if it's working now.
That's for EQ raster, and this is for EQ Vector
![image](https://cloud.githubusercontent.com/assets/8871958/26394793/46d93296-4098-11e7-823e-ebc31a4bc899.png)

[2017-05-24 08:57] samnawi commented on #4208
Hi @ismailsunni Maybe like showing by group or something.... Like youth, adult, elderly as one sequence, male and female as one sequence.
For example, If I see in the picture in above, like under_5 and over 60 (age vulnerable) showed separately, there are field name "exposure_name" and "infant" in-between.

[2017-05-24 09:07] Gustry commented on #4093
I'm closing this issue.
@myarjunar added fatality rates into notes.

[2017-05-24 09:35] samnawi opened #4212 "TypeError When Run EQ Vector with Population"
### Problem
I got the type error problem when run EQ vector with Population
[code]
**Note :**
1. The "TypeError" problem just occured when the hazard set to Generic Class.
2. If the keyword set to Earthquake MMI Scale, InaSAFE can be working properly.

### Expected Behaviour
It should be working.

### Environment
* InaSAFE : 4.1 dev
* QGIS : 2.14.10
* OS : Win 7 64 bit
* Data used (filenames and p

[2017-05-24 09:36] ismailsunni commented on #3626
Continuing this ticket, we will need three fields to be defined (specify) in the landcover.

| Field | Unit | Description |
| ----- | ---- | ----------- |
| Productivity | Kwintal / Ha | Used in productiviy  |
| Producitvity cost | IDR/Ha | - |
| Productivity value | IDR/Ha | - |

Some questions
1. Should we manage for different unit? Or should we just ask the user to make sure their data using th

[2017-05-24 10:36] Gustry commented on #4212
How can we set generic classes in InaSAFE for population? The combobox is disabled.

![screen shot 2017-05-24 at 17 36 06](https://cloud.githubusercontent.com/assets/1609292/26399543/818fd91c-40a7-11e7-888e-d0117407e942.png)

[2017-05-24 11:26] samnawi opened #4214 "EQ Vector analysis with Landcover"
### Problem
As we know, EQ doesn't have an analysis for Landcover.
![image](https://cloud.githubusercontent.com/assets/8871958/26399523/6d33ecba-40a7-11e7-9015-054b8e0e9dbc.png)

But I still can run the analysis using EQ vector with Landuse. As the information from @Gustry it's because the EQ hazard still have Landcover value maps in the keyword.
After I re-keyword the hazard, I still can analysis

[2017-05-25 03:07] fredychandra commented on #3626
Hi @ismailsunni

I think we can do it both whether set up the other units and request users set their data using the appropriate unit. This can make this analysis tools more universal and flexible. For the second question, I don't think we need set the default value since the productivity values will change over time (dynamic data) depending on the governmental (agriculture data) release each year

[2017-05-25 03:17] gubuntu opened #4216 "4.1 papercuts?"
Observations doing earthquake raster on population raster:

- [ ] Displaced not displaced: legend for not displaced is transparent (100% transparent black as opposed to 'transparent fill') on the canvas and the map but black in the composer legend.
- [ ] It would be useful to have the MMI legend in the reports and there is space.
- [ ] The report shows all aggregation areas and does not indicate o

[2017-05-25 03:45] #4200 closed

[2017-05-25 04:43] #4212 closed

[2017-05-25 05:00] Gustry commented on #4080
Do you have some feedbacks in this ticket ?

[2017-05-25 05:04] Gustry commented on #4050
I just added a small label in the profile manager saying that QGIS needs to reboot.

[2017-05-25 05:05] #3874 closed

[2017-05-25 07:09] #4214 closed

[2017-05-25 08:26] gubuntu opened #4220 "Not all population included in displaced calculation EQ raster on pop raster"
### Problem
Running EQ raster on population raster, many population cells in MMI 6 (100% displacement) showed as 0 displaced population in the people displaced output layer. In this screenshot, the grey-white cells are displaced and black not displaced. All the black population in yellow MMI should be displaced but is not.

<img width="796" alt="screen shot 2017-05-25 at 14 49 39" src="https://clo

[2017-05-25 08:42] ismailsunni commented on #4127
@Charlotte-Morgan @timlinux
I just found out that when the user use `vector count population` but set count to `do not use` with `no aggregation`, InaSAFE still calculate the ratio (from default ratio)*

In my opinion, this is unexpected. Or do we have historical reason why we do it (the policy or rule) ?

cc also @Gustry

*: when the user doesn't use aggregation, InaSAFE create an aggregation lay

[2017-05-25 09:14] Gustry commented on #4127
@ismailsunni I'm reading again this graph and the current behaviour in InaSAFE is matching this :
https://cloud.githubusercontent.com/assets/1609292/22856309/21aa4f86-f08f-11e6-87ad-1adcc83132f2.png

But I agree, it's misleading.

[2017-05-25 10:25] ismailsunni commented on #4210
Note:
- We agree to use only `pregnant` and `lactating` only to calculate the addtional rice.
- We remove `pregnant_and_lactating` concept from InaSAFE

based on discussion with @samnawi @Charlotte-Morgan and @ismailsunni

[2017-05-25 14:22] gubuntu commented on #4201
closed via #4223

[2017-05-25 14:23] #4201 closed

[2017-05-25 15:08] Gustry commented on #4205
I made a quick fix in the PR above for 4.1.

[2017-05-25 15:08] #4205 closed

[2017-05-26 02:09] Charlotte-Morgan commented on #4127
Hi @ismailsunni
In my mind we have 3 ways to calculate values: global default, count on exposure data and rate on aggregation data.
I would expect precedence to be: count if used, rate if used, global default.
I think it is good to calculate these things always to make rich data.
I think we should let the user choose if they want to report on age or gender or vulnerability (this might be an option

[2017-05-26 02:14] Charlotte-Morgan commented on #4210
thanks @ismailsunni

[2017-05-26 02:30] ismailsunni commented on #4210
Implemented in #4222. Closing this.

[2017-05-26 02:30] #4210 closed

[2017-05-26 03:11] ismailsunni commented on #4127
Hi @Charlotte-Morgan
If it's the precendence and we want to always calculate the result, InaSAFE is in that state, like @Gustry said.

But since it will confuse the user (set to `do not use` but still calculating those things), we need to put the help / notes.

cc @timlinux

[2017-05-26 03:20] Charlotte-Morgan commented on #4127
yes - do not use means do not use the count or ratio.
The options dialog should ask - do not report

[2017-05-26 07:12] Charlotte-Morgan opened #4232 "Help file: bugs and papercuts"
### Problems
1. The InaSAFE help file lists information that is not relevant.
The concepts of affected, fatality rates and displacement rates only belong to hazard classifications; however these are also listed for exposure classifications eg places, structures etc
![image](https://cloud.githubusercontent.com/assets/5743135/26484579/1d36bbf8-421d-11e7-8226-25b822e3286e.png)

2. The generic hazard

[2017-05-26 08:34] Charlotte-Morgan commented on #3559
hi @Gustry - thanks for the chat today about earthquake calcs and for raising this ticket again.
I think you have self nominated as 'suitable geek'!
Lets explore how we can change the display to a graph as a standard way of reporting for earthquake fatalities for both InaSAFE and InaSAFE realtime.
Adding @ivanbusthomi, @lucernae , @gubuntu and @hadighasemi back into this trail and updating the mil

[2017-05-28 08:29] gubuntu opened #4238 "improve EQ raster on population raster performance"
This analysis took 19h

<img width="795" alt="screen shot 2017-05-28 at 10 23 35" src="https://cloud.githubusercontent.com/assets/496911/26527275/a92ac5b8-4390-11e7-83a2-83e4026efecc.png">

[Analysis Log.csv.zip](https://github.com/inasafe/inasafe/files/1034030/Analysis.Log.csv.zip)

InaSAFE 14.1 master
QGIS 2.18.2

[2017-05-29 02:07] adissadis opened #4240 "Could you bring back the old way to generate and style the map?"
### Problem

Currently in InaSAFE 4.0 and 4.1, all of the reports that user get from InaSAFE analysis process are stored in temp folder. Based on users experience & feedback from several training that we had in April, they confused to find where is temp folder for all InaSAFE analysis process. Although this can be solved by changing your Location for InaSAFE analysis results in InaSAFE options (wh

[2017-05-29 02:21] Gustry commented on #4240
Hi @adissadis,

This is still in our roadmap to bring back this feature. We are thinking about some nice things about reporting. I hope we will work on that for 4.2.

[2017-05-29 03:40] adissadis commented on #4240
Hi @Gustry,
Thanks for your information! Looking forward to get this features back to InaSAFE. :smile:

[2017-05-29 07:00] NyakudyaA commented on #4080
@Gustry will test it later during the day

[2017-05-30 04:53] samnawi opened #4242 "Inappropriate Aggregation ID in the result with the original"
### Problem
I already set the Aggregation ID in the keyword, but seems like not show up in the result.
I just see the ID that is generated from the InaSAFE.

![image](https://files.gitter.im/inasafe/inasafe/1aGz/image.png)
![image](https://files.gitter.im/inasafe/inasafe/xwBe/image.png)

### Expected Behaviour
The aggregation ID should be suitable with the original ID.

### Environment
* InaSAFE :

[2017-05-30 09:51] samnawi opened #4243 "EQ analysis with Pregnant and Lactating in the keyword not generating map and detail breakdown report"
### Problem
When I run EQ analysis with pregnant and lactating is set-up in the aggregation keyword, I got a strange behaviour from InaSAFE.
![image](https://cloud.githubusercontent.com/assets/8871958/26577461/a4ea510e-4556-11e7-9e91-0558ecd67eb6.png)

In the report, InaSAFE not generating information of the detailed breakdown.
![image](https://cloud.githubusercontent.com/assets/8871958/26577682/6

[2017-05-30 09:58] myarjunar commented on #4243
Thanks, gotta take a look at it asap.

[2017-05-30 14:11] myarjunar commented on #4243
Hi @Gustry , I've checked this problem and it turns out that currently, we don't have the inasafe_fields keywords for 'pregnant_displaced_count_field' and 'lactating_displaced_count_field' in the aggregation summary keywords, and we need it to show the fields in the report. How can we achieve this?

[2017-05-30 14:26] myarjunar commented on #4243
@samnawi Could you check for me whether `InaSAFE Impact Report class initialised` is printed twice in the log message?

[2017-05-31 02:10] samnawi commented on #4243
Hi @myarjunar this is my InaSAFE log message
[code]

[2017-05-31 03:10] Charlotte-Morgan commented on #4243
hey @myarjunar and @Gustry ; it is possible to get this ready for a bug fix release as soon as 4.1 is released?

[2017-05-31 03:25] ismailsunni commented on #4243
@myarjunar
You can add them in the list in `safe/definitions/fields.py` in `aggregation_summary_fields` list. Please check the other field list also to match with the current state (We add many things, I am not sure they have been added to the lists)

[2017-05-31 03:50] Gustry commented on #4243
and in `fields_groups.py`

[2017-05-31 04:32] myarjunar commented on #4243
@Charlotte-Morgan yes, it's ready in https://github.com/inasafe/inasafe/pull/4244, could you please try it @samnawi?

[2017-05-31 06:33] samnawi commented on #4243
Hi @myarjunar I already tried your PR in #4244
LGTM.

[2017-05-31 07:06] myarjunar commented on #4243
closed in #4244

[2017-05-31 07:06] #4243 closed

[2017-06-01 07:32] Charlotte-Morgan commented on #4240
hi @adissadis - agree, this is an important thing for us to address. However the work around is to share the *.qpt for users in the short term.

[2017-06-01 07:33] Charlotte-Morgan commented on #4238
hmm - have you considered testing with the QGIS LTR :)

[2017-06-01 07:35] Charlotte-Morgan commented on #4092
i think we can close this

[2017-06-01 22:58] ismailsunni commented on #4092
@Charlotte-Morgan I will help you to close this :)

[2017-06-01 22:58] #4092 closed

[2017-06-02 07:40] ivanbusthomi commented on #4134
Hi @Charlotte-Morgan - so this is the status of this ticket after the 4.1 release:

- [x] Standardising table title
![image](https://cloud.githubusercontent.com/assets/7351977/26714793/436f7a78-479d-11e7-8e17-6efec9afc9a6.png)
![image](https://cloud.githubusercontent.com/assets/7351977/26714831/7070533a-479d-11e7-8272-39d2d10698e9.png)

- [x] Sectioning notes and assumptions
![image](https://cloud

[2017-06-02 09:19] ivanbusthomi opened #4246 "Badan Geology Landcover classification update from PVMBG"
### Problem
In our previous workshop with our partner from PVMBG, we have the chance to show the InaSAFE realtime and also demo the InaSAFE desktop. At that workshop, we received a feedback regarding the land cover classification. They suggested changing the class `water supply` to be just `water`.

### Expected Behaviour
We have an updated classification.

### Proposed Solution
Make it happy.

--

[2017-06-02 09:46] Gustry commented on #4246
You can update it if you want in `safe/definitions/exposure_classifications`. Don't change the key, just remove 'supply` from the name.

[2017-06-05 07:58] ivanbusthomi commented on #4246
Hi @Gustry - I have tried changing the name in the exposure_classifications , but the column name still not using the name that I edited. This is how it looks like:
![image](https://cloud.githubusercontent.com/assets/7351977/26775496/6e181fe6-49ff-11e7-8c68-bfe18570313e.png)

[2017-06-07 05:13] felix-yew opened #4248 "The result became zero in age breakdown when setting count field in exposure KW"
### Problem
When I try to run the flood hazard raster with population vector, and setting keyword wizard of exposure then fill the age count tab in the field of infant, child, adult, and elderly, except youth field.
![image](https://user-images.githubusercontent.com/13621886/26861333-53cf1c88-4b6d-11e7-8d00-ec40214fca99.png)
But, I get zero result in the impact report in demographic breakdown sect

[2017-06-07 05:17] ismailsunni commented on #4248
The data that @felix-yew use:
[Jakarta_Flood_HKV_WGS84.zip](https://github.com/inasafe/inasafe/files/1056924/Jakarta_Flood_HKV_WGS84.zip)
[DKI_Jakarta_Population_Dukcapil_2013_WGS84.zip](https://github.com/inasafe/inasafe/files/1056925/DKI_Jakarta_Population_Dukcapil_2013_WGS84.zip)

[2017-06-07 06:09] felix-yew commented on #4248
thank you mas @ismailsunni and this data also I share in Real World Data.

[2017-06-07 09:38] samnawi commented on #4248
Hi @ismailsunni I also got this error message when using flood data from petabencana.id.
![image](https://user-images.githubusercontent.com/8871958/26872128-a7ecbce4-4b9f-11e7-8e7b-d8b3ba237b59.png)
![image](https://user-images.githubusercontent.com/8871958/26872137-b8d51308-4b9f-11e7-8f38-45268143b874.png)

[2017-06-07 10:10] #4246 closed

[2017-06-07 10:17] samnawi commented on #4248
Hi @ismailsunni I think for this case, when we set the count as "do not use", InaSAFE will automatically set it to global default.

![image](https://user-images.githubusercontent.com/8871958/26873758-295b3bb6-4ba5-11e7-840d-344cbe6fb334.png)

[2017-06-07 10:36] Gustry commented on #4248
For now, it's not a bug @samnawi , it's a feature ;-)
We already got some discussions about this : https://github.com/inasafe/inasafe/issues/4127#issuecomment-303956765 (cf

InaSAFE is following this logic : https://cloud.githubusercontent.com/assets/1609292/22856309/21aa4f86-f08f-11e6-87ad-1adcc83132f2.png

[2017-06-08 07:12] ismailsunni commented on #4140
Ahay, we can close this since we have merged the translation PR for version 4.1

[2017-06-08 07:12] #4140 closed

[2017-06-08 07:19] Charlotte-Morgan commented on #3626
@fredychandra - in the sprint planning meeting; we will start on this for 4.2 but expect to finish it well in 4.3. We expect it to take time and need some work for polishing

[2017-06-08 08:07] #3876 closed

[2017-06-08 08:08] #4074 closed

[2017-06-08 08:10] #4091 closed

[2017-06-08 08:14] #3085 closed

[2017-06-08 08:14] #3084 closed

[2017-06-08 08:15] #4069 closed

[2017-06-08 08:17] #1879 closed

[2017-06-08 08:18] #4174 closed

[2017-06-08 08:19] #4134 closed

[2017-06-08 08:20] timlinux commented on #4146
We are going to take a different approach here and implement the infographic as qpt layouts. @myarjunar to implement

[2017-06-08 08:21] lucernae commented on #3145
Honestly, I don't remember it anymore.
Maybe we can just close it? Since it happens only in QGIS 2.16 Windows?

[2017-06-08 08:22] timlinux commented on #3062
Maybe we can include these things (hazard category etc). Please review, ensure that the items mentioned above show in provenance report.

[2017-06-08 08:24] timlinux commented on #4017
Closing this in favor of having a tool for end users rather.

[2017-06-08 08:24] #4017 closed

[2017-06-08 08:25] #3145 closed

[2017-06-08 08:29] #3472 closed

[2017-06-08 08:30] #3934 closed

[2017-06-08 08:31] timlinux commented on #3057
@ivanbusthomi are we able to close this?

[2017-06-08 08:35] timlinux commented on #3857
Please just check if the dataset is a file and then ignore the filter and look for the xml next to the file

[2017-06-08 08:36] timlinux commented on #3802
Can we close this? Is if covered by the work you did in your last PR @wcarthur ?

[2017-06-08 08:40] mbernasocchi commented on #3802
well beside the time averaging issue it is all done. maybe we should move that to it's own issue

[2017-06-08 08:44] timlinux commented on #3478
Use WB time for this @ismailsunni

[2017-06-08 08:45] timlinux commented on #2033
@myarjunar please check & close

[2017-06-08 08:46] timlinux opened #4249 "Replace EQ workflow with standard vector analysis"

[2017-06-08 08:50] timlinux opened #4250 "We need to optimize the union algorithm"

[2017-06-08 08:51] timlinux commented on #4250
Tim to provide test scenario from Cape

[2017-06-08 08:54] timlinux opened #4251 "We need to store supplementary data as a character string"
Storing it as XML breaks parsing when we upload to GeoNode

See https://github.com/kartoza/geonode/issues/143 for context

[2017-06-08 08:58] timlinux opened #4252 "We need to implement an InaSAFE expression group"
@gustry to make first pass implementation

Start by exposing everything from the substitution list.

Make sure everything has help files too please.

[2017-06-08 08:59] timlinux opened #4253 "We need to have a way to make QGIS aware of the current analysis"
This is so we can have context when using expressions and doing reports.

[2017-06-08 09:02] timlinux opened #4254 "We need to implement infographic templates"

[2017-06-08 22:44] wcarthur commented on #3802
By time averaging I presume you mean extracting that from the metadata of the hazard layer? In the interim it should be in the hazard notes for cyclone

[2017-06-09 02:38] #4248 closed

[2017-06-09 10:11] felix-yew opened #4258 "Wrong Calculation in the Total Structures Report"
### Problem
When I run the generic hazard with structure point in TTU, I get some wrong calculation in the total structures report in Analysis detail. If you see the result in the image below
![image](https://user-images.githubusercontent.com/13621886/26970831-ea5248ce-4d34-11e7-99f5-419ad0a82321.png)
The calculation in total affected and not affected was wrong, or maybe swapped out in the code.

[2017-06-10 21:33] timlinux commented on #4258
@myarjunar I think it is better if you look at this first and then pass back to @Gustry if the problem is in the calculations themselves.

[2017-06-12 07:52] Charlotte-Morgan opened #4262 "RFC: Direction and distance tool"
We need a new analysis tool that calculates distance and direction from a point hazard. This tool will be based on the functionality in Earthquake  realtime analysis and will allow us to migrate realtime analyses to safe core.

## Requirements:
This tool will calculate the distance and direction from point hazards such as volcano vent and earthquake epicentre to a point exposure such as populated

[2017-06-12 08:33] timlinux commented on #4254
@myarjunar this resolve #4146

[2017-06-12 08:37] timlinux commented on #4254
@myarjunar please work with @ivanbusthomi on this

[2017-06-12 08:41] Charlotte-Morgan commented on #4039
please check - I think this is fixed?

[2017-06-12 08:41] timlinux commented on #4039
@gustry can you update on the status of this?

[2017-06-12 08:43] Charlotte-Morgan commented on #4163
@timlinux I think this is done

[2017-06-12 08:44] timlinux opened #4263 "We need to support multi band rasters"
This will fix issues where users have rasters with transparency layers.

[2017-06-12 08:45] Charlotte-Morgan commented on #3841
@Gustry is this still a bug

[2017-06-12 08:45] NyakudyaA commented on #4086
@Charlotte-Morgan  will look at this later and comment if it still a bug

[2017-06-12 08:46] ismailsunni commented on #4039
Checking the max value of QLongLong is 2^64 - 1. So, even if all of human affected (7*10^9), we will still be safe.

[2017-06-12 09:16] ismailsunni commented on #4263
From metadata point of view:
1. Should we set the different metadata for all band? Then which one that we want to use in the analysis?
2. Or, we just set one band? It will needs a new attribute to specify which band is the active one
3. Or we set the active band on the fly (when run the analysis). But it may be gives wrong value mapping

[2017-06-12 11:02] timlinux commented on #4263
Hi @ismailsunni

I think we just need something which indicates which band contains 'data' (so 2 in your list above).

In the wizard:

[2017-06-12 11:37] timlinux commented on #4262
@ivanbusthomi some useful links for you:

https://github.com/inasafe/inasafe/blob/realtime/realtime/shake_event.py#L442

This function calls out to various interesting bits - including the cardinality and distances:

        The following fields will be created for each city feature:
            QgsField('id', QVariant.Int),
            QgsField('name', QVariant.String),
            QgsField('popu

[2017-06-12 14:37] ismailsunni commented on #4263
@timlinux
Ah I see. It's easier than the other options. Just need to add the band, and use it. Currently, by default is 0th band.

[2017-06-12 14:38] #3857 closed

[2017-06-13 06:40] Gustry commented on #4263
@ismailsunni Let me know when keywords are ready. I will update the impact function

[2017-06-13 06:41] Gustry commented on #4263
@myarjunar We also need to add to provenance.

[2017-06-13 07:23] Gustry commented on #4086
In 4.2, we will remove the special EQ analysis on population, so this bug won't exist in 4.2.
I already started this work in #4257

[2017-06-13 07:26] Gustry commented on #4039
Yes, but I'm not sure QLongLong is supported then when we create layers (memory layer or geojson layer or any vector layer)

[2017-06-13 08:14] #3751 closed

[2017-06-13 08:16] ismailsunni commented on #3633
Fixed in #4265

[2017-06-13 08:16] #3633 closed

[2017-06-13 08:18] ismailsunni commented on #4263
@Gustry do we have multi band raster? We can create it with QGIS right? :D

[2017-06-16 14:35] severinmenard opened #4270 "Typos in the InaSAFE header in QGIS plugin list"
I am not a native English speaker, but I would rewrite:

"InaSAFE is free software that allows disaster managers to study realistic natural hazard impact scenarios for better planning, preparedness and response activities.

Developed for the Indonesian Government - BNPB, Australian Government - AIFDR and DMInnovation and, and World Bank - GFDRR"

this way:

**InaSAFE is a free software** that allo

[2017-06-19 00:09] mbernasocchi opened #4271 "'QgsComposerItem' object has no attribute 'setKeepLayerSet'"
### Problem
[code]
this assumes getComposerItemById returns a QgsComposerMap but in my case it returns a QgsComposerItem. why do we make this assumption? Am I missing something?

[code]

### Expected Behaviour

### Environment
* InaSAFE :  4.1.1
* QGIS :  2.18.9
* OS : ubuntu 17.4
* Data used (filenames and paths so as to reproduce, a project is better):
  * Exposure :
  * Hazard :
  * Aggregation

[2017-06-19 08:36] Charlotte-Morgan commented on #3132
hi @ismailsunni  - can we please make this high priority for June?

[2017-06-19 08:41] Charlotte-Morgan commented on #3132
Just to confirm: we would like to migrate training data from data.inasafe.org to the Geonode. We would like the kw and metadata to stick with the data, styling would be nice if it works. GeoSAFE is not required for this data sharing environment

[2017-06-19 08:44] timlinux commented on #3132
Update - we do have the sftp issue resolved.

Ismail to resolve the QGIS Project file issue with @Gustry

[2017-06-19 08:45] Charlotte-Morgan commented on #3132
please check @felix-yew  has an account

[2017-06-19 08:46] Charlotte-Morgan commented on #3626
@fredychandra - can you please update this ticket with the discussion you had with @ismailsunni

[2017-06-19 08:57] Gustry commented on #4249
@ismailsunni We need to remove the "allow resample" checkbox in the KW wizard. Thanks

[2017-06-19 09:00] timlinux commented on #3473
@felix-yew to design the page layout
@ivanbusthomi will make the template
@myarjunar to implement the layout in code

[2017-06-19 09:03] Charlotte-Morgan commented on #3473
From DMI side. @felix-yew  will work with DMI to design pages. @ivanbusthomi will work on templates and qpt etc

[2017-06-19 09:05] myarjunar commented on #4254
see #3473

[2017-06-19 22:13] ismailsunni commented on #3626
@Charlotte-Morgan
The short summary of the discussion: @ismailsunni will implement the basic feature first (adding 3 more extra fields for productivity, prod cost, and prod value). For the initial version, it will use static unit and currency. We can make it adjustable if we have agree on the workflow.

I will need to show it in the report also. CC @myarjunar

[2017-06-20 03:27] mbernasocchi commented on #3626
@ismailsunni from my point of view, definitely not IDR. I'd rather have the value being "monetary" than a foreign currency. regarding Ha, I think it is ok to have it static for now.

[2017-06-20 03:40] mbernasocchi commented on #3626
@ismailsunni what do you think about having a classification that allows having all the existing keys to be a class?
let's say in my data I have:

- unidentified forest
- Coconut trees
- unidentified forest
- unidentified forest
- Coconut trees
- Coconut trees
- Coconut trees
- grassland

and in the report I automatically have:
- unidentified forest ....
- Coconut trees ......
- grassland  .......

[2017-06-20 04:00] Charlotte-Morgan commented on #3132
hey @ismailsunni - @felix-yew  tells me the geonode is happy / more happy again. Thank you. Could you please add accounts for the whole DMI team (Fredy, Iwan, Ivan and Me) as well as Felix and also for @adissadis  so we can try again to share the data?

[2017-06-20 09:41] ismailsunni commented on #3626
@mbernasocchi no worries, the released version will have the adjustable currency. My comment above only tell about the step

For the classification, yes we can do it. But, in the current InaSAFE, we have already make a value mapping like we do in the building and road. So it will be grouped by the class. Or this is not what you want?

[2017-06-20 09:58] mbernasocchi commented on #3626
@ismailsunni regarding the classification I was wondering if it is still possible to _not_ group by class (as it was in inasafe 2.x (?)).
so basically the classification is fully data driven

[2017-06-20 10:17] Gustry commented on #3626
For now in inasafe v4, only census data (population vector) can be a continuous exposure (no InaSAFE classification in the keyword wizard). All other exposure data have to be classified in InaSAFE using our internal classification. I will think about it.

[2017-06-21 01:44] ismailsunni commented on #3626
@mbernasocchi
Is it possible ? Yes.
But, then we will have two grouping (group by internal class and group by the data). We need to decide how the user can specify which grouping that he want to use. Or we can put both of the in the report.

[2017-06-21 01:56] mbernasocchi commented on #3626
@ismailsunni maybe we can add an item to the classifications selection wizard called "classify using data values" or so and skip the next step
![image](https://user-images.githubusercontent.com/233663/27363528-373b71f8-5689-11e7-819e-08cffd93fe3e.png)

what do you think?

[2017-06-21 02:07] ismailsunni commented on #3626
@mbernasocchi Ah, that can work. We can also use it for the other exposure (if applicable)

[2017-06-21 02:09] mbernasocchi commented on #3626
yes, I think too. what do you think @Gustry ?

[2017-06-21 02:10] mbernasocchi commented on #3626
I wonder if we could just do it in the classifications file

[2017-06-21 02:28] ismailsunni commented on #3132
Here is the tutorial to upload a layer. Since there is a bug on it:
![geonode_upload_layer_xml.gif](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/53ba45ee7953d2fd0f723bdd/125516c66e82c728ace21e0d46ef91952d8d87acb0fcaf4fab5cf4ab25473e763b3bbb267cc7af6aaf50740b0a0c0abe4b4a5a42f8a8dd28aebe692189090bedd2655f74c16b45a5bc870da313f871d51bdaebe5c01982fa3737e58d854e3a170d1888fd5d36a79

[2017-06-21 06:14] ismailsunni commented on #4249
See my PR for removing `allow resample` in #4273

[2017-06-21 06:55] gubuntu commented on #3132
@ismailsunni please re-deploy with the production stack (geocode/2.6-qgis_server) and without GeoSAFE.

[2017-06-22 09:21] felix-yew commented on #3132
Hi @ismailsunni - I try your tutorial to upload layer and when upload the data below 100 Mb it run well. But, when I try to upload data up 100 Mb it failed.
![image](https://user-images.githubusercontent.com/13621886/27426635-861eb7ca-5766-11e7-9336-41a1e74d03e5.png)
This building data about 300 Mb.

[2017-06-22 09:31] severinmenard opened #4277 "Blocking bug with the FR translation"
Seems there is a typo in the FR translation that blocks the load of InaSAFE when starting QGIS. It provides the error msg below. Same blocking isue if you try to install InaSAFE from QGIS with locale set in French. It works fine if locale forced in US English

UnicodeEncodeError: 'ascii' codec can't encode character u'\xe8' in position 5: ordinal not in range(128)
Traceback (most recent call last)

[2017-06-22 10:09] Gustry commented on #4277
I installed InaSAFE yesterday on a computer in French. I didn't get any problem. I will have a look this afternoon.
Did you try to open a specific window?

[2017-06-22 10:53] severinmenard commented on #4277
Yesterday a full set of 6 trainees working on various systems (Ubuntu 16.04, EmmaBuntu and Win7) and QGIS 2.14 or 2.18 could not install InaSAFE, getting this error msg, except the only using QGIS in English. It was already installed on my Ubuntu 16.04 but with the mention that it was corrupted. Therefore I reinstalled it and got the same message than the trainees. Only solved it when I change the

[2017-06-22 11:31] Gustry commented on #4277
Ok thanks. I could notice another bug. On my computer, QGIS is in French but InaSAFE stays in English. That's why I didn't notice your bug. (I didn't notice Inasafe was in English despite French on QGIS).

[2017-06-22 11:51] gubuntu commented on #3132
@ismailsunni I ticked in the OP that backups are working

@ismailsunni will re-do the deployment to match geonode.kartoza.com, once @lucernae has got the latest production/stable stack running there. And also remove / disable GeoSAFE.

[2017-06-22 13:30] Gustry commented on #4277
I couldn't replicate my bug where QGIS is in French but InaSAFE in English.
Anyway, I made a PR to fix your bug @severinmenard. Thanks. I will try to use InaSAFE in French more often. We will release 4.1.2 soon (before next weekend for sure)

[2017-06-22 13:50] severinmenard commented on #4277
I don't know if it is a bug, but I think you can have InaSAFE in French
only if you force the locale in French. If your OS is in French and you do
not force the locale, then you have QGIS in FR and InaSAFE in EN

Le 22 juin 2017 14:30, "Etienne Trimaille" <notifications@github.com> a
écrit :

[2017-06-22 15:07] Gustry commented on #4277
If this is true, this is a bug. InaSAFE (like every other plugins) should follow QGIS locale, whenever the language is forced or not forced in QGIS.

I just tried on a windows machine in French, now QGIS and InaSAFE are in French, without using a forced locale. So I can't replicate this bug anymore now. Please report the bug if InaSAFE is not following the QGIS locale.

[2017-06-27 11:08] timlinux opened #4284 "Keywords wizard does not enable if layer keywords metadata error fails"
### Problem

When selecting a layer with no keywords in 4.1:

[code]

### Expected Behaviour

### Environment
* InaSAFE : 4.1
* QGIS : 2.14
* OS : Mac
* Data used (filenames and paths so as to reproduce, a project is better):
  * Exposure :
  * Hazard :
  * Aggregation :
  * Extent :

Checklist (if applicable):
* [ ] Did you try to run it in debug mode ?
* [ ] Is the data available ?
  * If yes, w

[2017-06-27 14:08] timlinux opened #4287 "Report does not show all active layers"
### Problem

I'm sure we have been here before but this is what I see on my screen:

<img width="874" alt="screen shot 2017-06-27 at 4 04 03 pm" src="https://user-images.githubusercontent.com/178003/27591536-4a23522c-5b52-11e7-937a-598af4164663.png">

And this is what it looks like on the PDF:

<img width="1506" alt="screen shot 2017-06-27 at 4 04 33 pm" src="https://user-images.githubusercontent.

[2017-06-27 17:19] timlinux opened #4288 "Why are we looking for mmi in flood analysis?"
### Problem

Running flood on raster pop gives this in my logs (``/var/folders/g6/fnh1vyx13q728xq52nw7yx400000gn/T/inasafe/2017-06-27/timlinux/logs``):

[code]

The part that is somewhat alarming for me is:

[code]

This looks a bit similar to the wierd issue we were getting with tests failing the other day. @Gustry and @ismailsunni can you look into this and figure out what is going wrong?

### E

[2017-06-27 17:27] timlinux opened #4289 "Analysis fails when using flood polygons with depth"
### Problem

I'm trying to run a scenario (data attached) with flood polygons with depth classes and raster pop. The analysis fails to run properly.

The same data works when I set the flood keywords to wet/dry classes.

[floods.zip](https://github.com/inasafe/inasafe/files/1105560/floods.zip)
[pop.zip](https://github.com/inasafe/inasafe/files/1105564/pop.zip)

There are actually two issues I see:

[2017-06-27 21:02] timlinux commented on #4289
@gustry can you look at the first issue above - the second is sorted out with my hay in PR #4290

[2017-06-28 09:23] Gustry commented on #4288
There is nothing wrong, it's by design, even if I can understand it can be misleading.

We start having a log of processors. We decided to run them all by default. But some postprocessors are specific for EQ, some have specific conditions like checking for a specific keyword ... InaSAFE is trying to launch them one per one.

We can't distinct postprocessors which should have run and postprocessors

[2017-06-28 09:33] Gustry commented on #4289
Nothing related to #4288.

Your flood zip is broken. Can you upload it again ? I would like to check this issue.

[2017-06-28 11:06] timlinux commented on #4289
[floods.zip](https://github.com/inasafe/inasafe/files/1108417/floods.zip)

The datasets are small enough they will be good to use for a unit test...

[2017-06-28 12:48] Gustry commented on #4289
Thanks, I'm looking at your issue. BTW, just looking at your screenshot, you need to update your QGIS ;-) You will get a nice vertically aligned attribute table.

[2017-06-28 12:50] Gustry commented on #4271
Is-this fixed?
I know you did a PR to avoid the python exception, but does it fix the original problem?

Thanks

[2017-06-28 17:42] mbernasocchi commented on #4271
nope.
his does not fix the problem which is that getComposerItemById returns
QgsComposerItem and we erroneously expect QgsComposerMap and
QgsComposerLegend.

can't find the comment now, but @lucernae  mentioned it was a bug in qgis api?

[2017-06-28 18:20] lucernae commented on #4271
I mentioned it on the Pull Request #4280

The problem comes from Python Bindings from getComposerItemById will always return QgsComposerItem for any (or maybe some) element because it was not type casted in the bindings, so python code doesn't know the original type.
I don't know if it's possible to cast the type from python side. If that's not possible then perhaps we have to fix the binding?

[2017-06-28 20:09] timlinux commented on #4288
OK that makes sense - maybe we can make some clearer messages in the log, or maybe I can just try to remember that next time :-) I'll close this out.

[2017-06-28 20:09] #4288 closed

[2017-06-28 20:22] timlinux commented on #4289
Updated to 2.14.14 now (nice version number eh?)

[2017-06-29 09:46] Gustry commented on #4271
Ok, thanks for your explanations. I will merge the backport to the master branch, but we keep this ticket. We need to fix this as 2.18 is the next LTR in 3 months.

[2017-06-29 10:16] Gustry commented on #4289
I'm starting fixing this issue in the PR above.
It seems a silly mistake ;-) Let's wait for travis, I expect it to fail.

[2017-06-29 18:02] Gustry commented on #4289
PR merged. I keeping the ticket open to do the frontport.

[2017-06-29 18:19] Gustry commented on #4289
Fix the division by zero in the PR above. Need to frontport this fix to develop.

[2017-06-30 12:58] Gustry commented on #4289
Both issues have been front-ported to develop : https://github.com/inasafe/inasafe/pull/4296

[2017-06-30 12:58] #4289 closed

[2017-06-30 12:58] Gustry commented on #4284
Can we close this one @timlinux ?

[2017-06-30 12:59] Gustry commented on #4277
We released InaSAFE 4.1.2 this morning to fix this issue. Please try again and report any issue you encounter ;-)

[2017-06-30 12:59] #4277 closed

[2017-07-01 20:58] #4284 closed

[2017-07-01 21:02] timlinux commented on #4270
In English we usually do not refer to 'a software'  - its a collective noun.

Thank you very much for you interest!

[2017-07-01 21:02] #4270 closed

[2017-07-01 21:26] timlinux opened #4297 "Reports are broken"
### Problem

When running an analysis the reports are not printing properly. This needs to be fixed ASAP.

<img width="1294" alt="screen shot 2017-07-01 at 9 48 39 pm" src="https://user-images.githubusercontent.com/178003/27765540-510428fe-5eb4-11e7-9f09-6190b77c8f33.png">

SVG's are not showing in the repot on MacOS (I believe it works still on Windows).
The impact layer is not showing the correc

[2017-07-03 06:06] timlinux commented on #4240
I'm thinking maybe a good workaround for this would be allow the user to mask the standard templates by placing their customized versions (with the same names as the package delivered ones) in their .qgis2/inasafe/ directory.

This way when InaSAFE scans for the template it will first look in the user directory, then in the InaSAFE plugin directory.

[2017-07-03 08:10] ismailsunni commented on #4240
Hi @timlinux
I just go back in time to see what's the old way of using custom template.
When the user click the print  button, we should show dialog to allow the user choose the template that he wants to use, like in the screenshot below:
<img width="918" alt="screen shot 2017-07-03 at 14 42 37" src="https://user-images.githubusercontent.com/1421861/27782936-82dce3ca-5ffe-11e7-9428-9cde83e95a52.pn

[2017-07-03 08:43] ismailsunni commented on #4297
Hi @timlinux,

I use the same env as you only different in QGIS (I use 2.14.10). All is good here:

<img width="1427" alt="screen shot 2017-07-03 at 15 41 53" src="https://user-images.githubusercontent.com/1421861/27784941-2f00bfee-6006-11e7-8bfe-19b3b5322dad.png">

[2017-07-03 08:58] myarjunar commented on #4287
@timlinux I thought we only want to show the context data and the impact layer, and show the hazard data by check the option in InaSAFE option (based on #2920) , is it correct?

[2017-07-03 09:14] Gustry commented on #4240
@ismailsunni What @timlinux meant is to first check in the '.qgis2/inasafe' directory if there is the same template (same name), if yes, use this one, if no, use the normal one that we are already providing. No new window (we want this feature in 4.1). It's just a quick workaround to overpass this missing functionality.

[2017-07-03 10:36] ismailsunni commented on #4240
Hi @timlinux
After I dig deeper, it's not simple to do that. Firstly, the report is generated right after the analysis is finished. The reason is we need to get the current IF object's state to generate the report (to avoid this, we need to make the IF serializable). Because of that, even we have changed the template, we will still get the same map report for the analysis that have been run before

[2017-07-03 10:39] ismailsunni commented on #4240
@Gustry ah sorry, my tab didn't auto-refresh. I didn't see your comment. I will try to do it. It should be simple although I think I have an edge case which makes the print button won't work. Anyway, I will try to do it.

[2017-07-04 03:53] ivanbusthomi commented on #4262
Hi @Charlotte-Morgan and @timlinux ,
this is my to do list for this ticket

- [ ] design the workflow of the tools
- [ ] design the user interface
- [ ] write the function

[2017-07-04 07:50] ismailsunni commented on #3505
Duplicated in #4263

[2017-07-04 07:50] #3505 closed

[2017-07-04 07:51] ismailsunni commented on #4263
Related issue: #4087

[2017-07-05 04:54] ismailsunni commented on #4263
Hi @Gustry I have made a PR to support multi band in metadata and wizard https://github.com/inasafe/inasafe/pull/4301

[2017-07-06 14:08] MMANGA opened #4302 "How can I get the InaSAFE documentation for coders"
### Problem
I am new user/developer of InaSAFE from Zanzibar Tanzania, as one among the peoples who want to use this great services from you, I need to know how to start to make modification or preparing new plugin based in our environment.

Regards
[code]

### Expected Behaviour

### Environment
* InaSAFE :
* QGIS :
* OS :
* Data used (filenames and paths so as to reproduce, a project is better):

[2017-07-06 14:27] timlinux commented on #4302
Hi @MMANGA Thank you for your ticket - I will be happy to help you during the training course - just tell me what you need to know!

Regards

Tim

[2017-07-06 14:27] #4302 closed

[2017-07-06 14:30] MMANGA commented on #4302
Thanks @timlinux, just setting of InaSAFE together with Architecture of it, others I will take care. I am waiting ...........

[2017-07-06 19:50] Gustry commented on #4302
Welcome !

[2017-07-07 08:27] ivanbusthomi commented on #3473
Hey @Charlotte-Morgan and @timlinux ,

This is my attempt in designing the qpt template for infographic with atlas feature for each aggregation areas.
![infographic_atlas](https://user-images.githubusercontent.com/7351977/27949653-a71d1106-6328-11e7-8c23-6cdfc200f8c6.gif)

[2017-07-07 09:03] timlinux opened #4303 "Feature: Templating review in InaSAFE"
### Problem

We need a more flexible printing system in InaSAFE. I've been thinking about this a lot and here is what I propose:

1) **Support atlas prints**: Currently we can use an atlas map layout but the call to generate the atlas is different to the print call from a non atlas map.

**Outcome:** When the user has created a template that has atlas enabled, we should render the atlas to PDF.

2

[2017-07-07 11:19] lucernae commented on #4303
@timlinux I'm also interested to see where the discussion goes.
Is it going to be implemented by improving our current report package or creating another one?
If it is still using current report system, I might be able to share some comments.
It also might help us with GeoSAFE.

1. I'm still not familiar with atlas. Perhaps we only need a code branching to invoke atlas print?

2. This operation is

[2017-07-07 15:03] idyuham opened #4304 "Analysis fail to complete"
### Problem

I was trying to run analysis of floods on roads, then building then on pop, all of the failed. I run them separately.  UGANDA dateset provided for training in Kampala.
[code]

### Expected Behaviour

### Environment
* InaSAFE :
* QGIS :
* OS :
* Data used (filenames and paths so as to reproduce, a project is better):
  * Exposure :
  * Hazard :
  * Aggregation :
  * Extent :

Checklis

[2017-07-07 15:23] remigio-chilaule opened #4305 "Analysis fails when doing floods on OSM buildings for Uganda"
### Problem
I'm using the data set that Tim/Gavin gave us during InaSAFE training in Kampala, July 2017.
Note: When creating the keywords I put all the available building types under the "others" option in value mapping.

[uganda_osm_buildings.zip](https://github.com/inasafe/inasafe/files/1131424/uganda_osm_buildings.zip)

[code]

### Expected Behaviour

### Environment
* InaSAFE :
* QGIS :
* OS :

[2017-07-07 15:27] remigio-chilaule opened #4306 "Save scenario tool fails"
### Problem

[code]

### Expected Behaviour

### Environment
* InaSAFE :
* QGIS :
* OS :
* Data used (filenames and paths so as to reproduce, a project is better):
  * Exposure :
  * Hazard :
  * Aggregation :
  * Extent :

Checklist (if applicable):
* [ ] Did you try to run it in debug mode ?
* [ ] Is the data available ?
  * If yes, where (BTSync, data.inasafe.org, zip) ?

### Proposed Solution

[2017-07-10 05:42] Charlotte-Morgan commented on #3473
Hi @ivanbusthomi  If you are going to 'atlas' the report for the affected population by location I think the donut will also need to be for the same location ie have some 'atlas' work too

[2017-07-10 06:11] ivanbusthomi commented on #4306
Hi @remigio-chilaule - could you please paste here the full path of the folder where you want to put the scenario? It seems like the error occured because of the unicode character in the folder name.

[2017-07-10 06:24] felix-yew commented on #3132
Hi @ismailsunni - is there any update for this issue?

[2017-07-10 06:28] ismailsunni commented on #4258
@felix-yew please review this ticket. It's already merged. Just tell @myarjunar if you find something funny. Otherwise, we can close this one.

[2017-07-10 07:13] felix-yew commented on #4258
Okay, I will check it

[2017-07-10 07:31] felix-yew commented on #4258
Yes, this issue has been fixed, I get the correct result
![image](https://user-images.githubusercontent.com/13621886/28007072-3594b574-657c-11e7-8a6c-6518a67e6feb.png)

:+1: LGTM

Thank you

[2017-07-10 07:31] #4258 closed

[2017-07-10 09:17] ismailsunni commented on #3132
Hi @felix-yew
No. I still need to wait an update from @lucernae like @gubuntu said above. I will let you know if I have new update.

[2017-07-10 11:20] Gustry commented on #4306
@ivanbusthomi We need to remove the 'str' function. Some users have an accent in their path for instance.

[2017-07-10 11:58] ismailsunni commented on #4306
@ivanbusthomi may be you can try using an accent in when you save the scenario to replicate it.

[2017-07-11 02:42] ivanbusthomi commented on #4306
Hi @Gustry and @remigio-chilaule , I still can't replicate the error.
I tried using this path to save the scenario, and  no error occured
```D:\temp\REMÃ`GIO\01_ARQI\02_URBAN\outros\KAMPALA\Dia5_OSM QGIS InaSAFE\FINAL EXAM =)\fichiers_à_télécharger```
how about you mas @ismailsunni ?

[2017-07-11 02:46] ismailsunni commented on #4306
Hmm, i tried in my laptop also, I set it to `~/temp/aååß∂ƒ∆Ω≈/Volcano_Point.txt`, but I can't replicate it.

[2017-07-11 11:34] timlinux opened #4307 "Report map only prints when project CRS if 4326"
### Problem

Currently there is no map on the report if the project CRS is set to a projection other than 4326.

Proposed solution:

Reproject the map dimensions to the project CRS when setting up the map report.

[2017-07-12 02:37] ivanbusthomi commented on #4306
After looking at the error code again, it seems like the character that causes the error is `Í`. I tried modifying the directory again and then saving the scenario to that directory, but still got no error.
```D:\temp\REMÍGIO\01_ARQI\02_URBAN\outros\KAMPALA\Dia5_OSM QGIS InaSAFE\FINAL EXAM =)```

[2017-07-12 07:40] Gustry commented on #4304
Thanks for reporting the issue.
This is due to invalid geometries. I'm try to have a look.

[2017-07-12 09:03] Gustry commented on #4220
I'm closing this issue. This is not relevant anymore with InaSAFE 4.2

[2017-07-12 09:03] #4220 closed

[2017-07-12 09:04] Gustry commented on #4039
I already put my solutions in the post : https://github.com/inasafe/inasafe/issues/4039
Nothing more for now

[2017-07-12 22:15] akbargumbira opened #4309 "Python Error : can't multiply sequence by non-int of type 'float'"
### Problem
- Load isv4/project.qgis
- Run:
  * hazard: tsunami_vector
  * exposure: population_raster
  * no aggregation

[code]

### Expected Behaviour

### Environment
* InaSAFE : latest dev
* QGIS : 2.18
* OS : Ubuntu 16.04

[2017-07-13 04:04] Gustry commented on #4309
Thanks for reporting the issue.
We got this issue last week during the training in Kampala with people using Ubuntu, like you.
@myarjunar can you replicate the issue?

[2017-07-13 11:43] gubuntu commented on #4238
this is probably moot since raster earthquake on raster population on its way out.

[2017-07-13 11:53] gubuntu commented on #3132
@ismailsunni please go ahead and deploy the production stack on geonode.inasafe.org as it is on geonode.kartoza.com (geonode 2.7), __without GeoSAFE__.

NB: user accounts, layers and metadata that have already been loaded must not be affected.

[2017-07-13 12:31] Gustry commented on #4238
Yes, I will remove the special EQ function tomorrow, the PR is nearly finished: https://github.com/inasafe/inasafe/pull/4257

So you will need to test again with the new version.

[2017-07-13 12:31] #4238 closed

[2017-07-13 16:27] akbargumbira opened #4311 "Logic Error in Sanity Check"
### Problem
I tried to make a unittests with hazard=tsunami_vector.geojson, exp = population.asc. Both from gisv4. But when running the impact function, I got this error:
[code]
After some debugging, this is the real field and the inasafe_fields being checked:
[code]
inasafe_fields has 43 fields while real_fields has 42 fields (ok real_fields has indeed less fields, not sure how it should be), but

[2017-07-13 16:54] akbargumbira commented on #4311
I got a workaround by setting impact_function.datastore.default_vector_format = 'geojson', but still if the datastore is specified, the default format right now is shp. The problem would still persist

[2017-07-13 17:25] lucernae commented on #4311
Side note: @akbargumbira can you try using QGIS 2.14:LTR. It doesn't play nicely with 2.18 for the reporting part, because of possible wrong python bindings.

Also, I think @ismailsunni or @Gustry is better informed for this than I am.

[2017-07-14 02:27] ismailsunni commented on #4178
Done in #4187

[2017-07-14 02:27] #4178 closed

[2017-07-14 03:51] ismailsunni commented on #4263
Done in #4301

[2017-07-14 03:51] #4263 closed

[2017-07-14 04:33] ismailsunni opened #4312 "Translation for version 4.2"
### Problem
We need translation be ready for 4.2. Current status per 14 July 2017:
- Indonesian: 109 untranslated strings
- French: 184 untranslated strings

*not as many as I thought

### Proposed Solution
Since we want to release version 4.2 on 31 July 2017, I propose these dates for the translation:
- [ ] Last day to submit new string: Tuesday, **25 July 2017**
- [ ] Last day to translate (0 un

[2017-07-14 05:14] felix-yew commented on #4312
Oke @ismailsunni :+1:

[2017-07-14 05:52] Gustry commented on #4311
Yes, we expect to have exactly the same attribute table as in keywords `inasafe_fields`. I know, this can't work anymore with shapefile because our columns are much longer.

The logic is correct. We use `inasafe_fields` to know which column is what. We would need to truncate `inasafe_fields` so as to fix this. It would be better if you can switch to geojson.

[2017-07-14 05:53] Gustry commented on #4311
You can set our own default format in the Folder datastore. You won't have this problem. Or let the impact function the datastore for you.

[2017-07-14 05:57] Gustry commented on #4242
This should be fixed in the develop branch now.

[2017-07-14 05:57] #4242 closed

[2017-07-14 11:41] lucernae commented on #3132
@ismailsunni can you remind me later what sorts of feedback do you need?
For the **without GeoSAFE** part, you can exclude GeoSAFE settings in deployment.

[2017-07-14 23:34] ismailsunni commented on #3132
I was asking whether geonode.inasafe.org is on prod stack or not. I think @gubuntu has answered it.

Do you use the latest ansible script to deploy the production? I didn't check it lately,

[2017-07-17 05:30] #4117 closed

[2017-07-17 05:30] #3998 closed

[2017-07-17 06:06] Charlotte-Morgan commented on #4312
hi @ismailsunni - @felix-yew is available to help with the Indonesian translation. He will work on it in between his other activities. @felix-yew - please schedule some time for this this week and next to make sure the strings are happy by 26th July

[2017-07-17 06:08] Charlotte-Morgan commented on #4039
@samnawi - can you please see if this is still a problem?

[2017-07-17 06:57] ismailsunni commented on #4312
Thanks @felix-yew and @Charlotte-Morgan
@myarjunar and I will also help translating it (and review it).

[2017-07-17 12:51] akbargumbira commented on #4309
I fixed this here https://github.com/inasafe/inasafe/pull/4316 (I needed this to be fixed since I can't generate report on my unittests)

[2017-07-18 03:59] ismailsunni commented on #3132
@gubuntu @felix-yew
I have updated geonode.inasafe.org. It seems all is good.

Some notes:
1. For some reason, there is still geosafe, although I have set `use_geosafe=False`
2. I didn't do the scaling, I got
[code]
So, I commented out the task to make it work.

Perhaps @lucernae can give some light to the issues above.

[2017-07-18 04:17] ismailsunni commented on #3478
Hi @NyakudyaA
Can you give me a way to get the metadata which has InaSAFE keywords and has different header/footer?
Currently, I get either the InaSAFE keywords or the different header/footer, but not both in the same file.

[2017-07-19 09:31] #4309 closed

[2017-07-20 08:38] NyakudyaA commented on #3478
@ismailsunni  Please find the attached metadata file.  This one has InaSAFE keywords with different header and footer.
[metadata.zip](https://github.com/inasafe/inasafe/files/1161668/metadata.zip)
Notice how the InaSAFE keywords look like. This is because when you add them in the geonode UI they get escaped when being stored in the database

[2017-07-20 08:58] timlinux commented on #4303
@lucernae thanks for your comments, inline replies below:

Yes we just need a small conditional that checks if atlas is enabled in the QPT and if it does, uses the atlas SVG generator, if not continue with the 'normal way'.

Interesting but I was thinking more in terms of using the composer table object type, not html frames. One of the object properties of QgsComposerTable *should* let you set th

[2017-07-20 09:17] timlinux commented on #4303
@myarjunar In terms of specific tasks for 4.2 please do these:

-[ ] Add support for printing when atlas is enabled
-[ ] Move all templates except a4 blue landscape QPT into a resources folder called 'examples' which we can use during training if needed or users can adapt to their own needs.
-[ ] Rename a4 landscape to simply 'inasafe-report'
-[ ] Ensure that of the user has an inasafe-report.qpt

[2017-07-20 09:46] felix-yew opened #4320 "Additional minimum needs not shown in impact report of InaSAFE 4.1"
### Problem
I run the tsunami raster with population vector and get the impact report of InaSAFE 4.1 then see the different report when present the additional minimum needs that not shown anymore. Additional minimum needs are additional weekly rice for pregnant and lactating women + weekly hygiene packs.
![image](https://user-images.githubusercontent.com/13621886/28411261-662c1cb8-6d6a-11e7-80f9-7

[2017-07-20 10:28] ismailsunni commented on #3478
@NyakudyaA do you also expect that InaSAFE can read your metadata (with escaped inasafe keywords) ?

[2017-07-20 10:36] NyakudyaA commented on #3478
@ismailsunni   The escaping issue is a metadata issue in geonode. When you add metadata in geonode UI it is saved in the database in that format.  I think I documented it in another ticket.  We should be able to download geonode metadata from geonode and use it in QGIS. Without any modification. Currently, I had to escape the metadata so that the keywords are properly defined.

[2017-07-20 10:44] ivanbusthomi commented on #3473
@Charlotte-Morgan - Yes, the donut should also be customizable if we want to implement atlas for infographic.
I will put the final qpt template for the infographic without the atlas soon after the updating of the design is finished.

[2017-07-20 10:46] ivanbusthomi commented on #4303
Hi @timlinux , these are what I have in mind:

I think this is a very good idea, we maybe need to add an option (maybe in the dock?) for the user to enable the atlas if the analysis involves an aggregation. What I am concern is do we need a separate template for the atlas that contains atlas related item (ie: page X of X, title that contains aggregation name, etc) or we can just make the default t

[2017-07-20 21:45] myarjunar commented on #3626
Hi mas @fredychandra, I think I will separate the `productivity` specific information to its own table. It would be something like this:

![selection_110](https://user-images.githubusercontent.com/11134669/28439846-e996f682-6dcd-11e7-8320-539985cfeca0.png)

I separate the `productivity` specific information from the analysis table because I think it would be irrelevant with the table title if we p

[2017-07-21 00:58] fredychandra commented on #3626
Hi @myarjunar ...

It looks good, I agree to separate the information and like the shape/table you present the land cover analysis. This should relevant only for crops related field such as farm, corn, etc.  If we put whole land cover type there, it can create be a mis-leading information for the user/reader. Take e.g Residential have no productivity with Quintal unit, production cost as well as p

[2017-07-21 06:01] Gustry commented on #1159
I can't replicate anymore. I'm closing this one. Feel free to reopen a ticket if any problem with UTF8

[2017-07-21 06:01] #1159 closed

[2017-07-21 06:05] Gustry commented on #3106
I think we will drop this issue soon.
In QGIS 2.18, the next LTR in a few months, there is a `QgsFileDownloader`. It will solve this issue.

[2017-07-21 06:12] Gustry commented on #3720
I'm closing this ticket as I can't replicate.
It might happen I think, but it's a very precise workflow.

[2017-07-21 06:12] #3720 closed

[2017-07-21 06:14] Gustry commented on #2587
We don't have any raster output in InaSAFE. I'm closing this ticket.

[2017-07-21 06:14] #2587 closed

[2017-07-21 06:17] Gustry commented on #2972
IMHO, the GIF doesn't show anything @timlinux . We can't see your browser or where you take your layer.

You can still add you layer first in QGIS and then use the wizard.

[2017-07-21 06:20] Gustry commented on #2851
We don't provide `Open in composer` for now in 4.1

[2017-07-21 06:24] Gustry commented on #4249
All done !

[2017-07-21 06:24] #4249 closed

[2017-07-21 06:47] ismailsunni commented on #3626
Hi @fredychandra
Yes, I agree we shouldn't put the unrelevant land cover in the report. But just bear in mind, that the data that I use above is a dummy one. I am sure, the real data of land cover should only contains that crop related. (or, may be I am wrong here).

If there is a dataset that mix between crop related and not crop related, there are some alternatives to address it:
1. Ask the user

[2017-07-21 06:55] Gustry commented on #3626
No need for a new panel, we can add easily a new group in the exposure classification 'Do not report'. It's different behaviour with  the `Other` group. We will discard this group in the `prepare layer` step.

[2017-07-21 07:06] Gustry commented on #4232
Point 1 has been fixed in the PR above.

Still missing 2 and 3 AFAIK

[2017-07-21 07:34] ismailsunni commented on #3626
@Gustry ah yes, that's good idea that we can also implement. Less complex than my 3rd idea :)

But, still, I am not really sure we need to implement that unless we have real data that's mixed.

[2017-07-21 10:05] timlinux commented on #4303
I think we will probably need to have separate templates. Personally I prefer that the user does not need to choose anything in the dock - we just enable atlas if it is present in the template, and if not, print 'normally'. What about we provide two standard templates:

1. Report summary template (which includes a map page and an infographic page)
1. By-area breakdown template which includes a map

[2017-07-21 10:05] Gustry commented on #4306
I'm not sure, as we can't really replicate the issue, I may have fixed it now. @remigio-chilaule you will have to try (InaSAFE 4.2 will be released end of this month)

[2017-07-21 10:11] Gustry commented on #4216
1. I won't fix. Displaced raster doesn't exist anymore
2. I think it should be ok now with the new analysis for EQ on population. No ?
3. @myarjunar you should have a look to this one. To display only aggregations which are selected in the report, or highlight them.
4. Link to issue #3726
5. Link to issue #4287
6. Done
7. Bug, we need more informations how to replicate. See #3720
8. Will try to im

[2017-07-21 18:38] Gustry commented on #4303
Very interresting to look at this! Unfortunetaly, there is not yet some data defined properties in the Attribute table widget. So to add one, like the source layer, I first need to understand how to implement the QgsExpressionContext in the attribute table widget etc. So it will take a little bit of time to understand this. But if someone is already familiar with these expressions context etc, it

[2017-07-22 09:33] gubuntu commented on #3132
@lucernae please respond to @ismailsunni. Does the geosafe disabling not work or did Ismail not do something? Disabling GeoSAFE needs to be a reliable option.

[2017-07-23 13:07] timlinux commented on #4303
Hi @Gustry

Thanks for the update - maybe this is something you can look into during the hackfest in Nodebo?

@ismailsunni and @myarjunar can you check in and confirm you are on board with your tasks above (and taking @ivanbusthomi 's comments into account)?

[2017-07-24 00:07] ismailsunni commented on #4303
Hi @timlinux
I will work on my task today.

[2017-07-24 02:32] Gustry commented on #2700
Done in pr above

[2017-07-24 02:32] #2700 closed

[2017-07-24 02:55] ismailsunni commented on #4303
Hi @timlinux

Since some of the provenances are not string, which one do you prefer?
1. Force converting to string. Number is easy. For another data type, I will use json representation. But if you want to retrieve the value, we will need to parse it.
2. Make a naming convention for the variable key. For example, for dictionary it will be something like: `dictionary_key__dictionary_key`: `value`.

[2017-07-24 04:46] myarjunar commented on #4303
Hi @timlinux , checked in. Will be my priorities for today.

[2017-07-24 06:54] Gustry commented on #3726
@Charlotte-Morgan , @timlinux and I made this PDF for the training in Kampala about   outputs in InaSAFE : https://raw.githubusercontent.com/kartoza/QGISTrainingWorkshop/master/InaSAFE/6-impacts-overview.pdf
If it can help ;-)

I will check this afternoon what is missing now in InaSAFE about terminology so as to close this ticket for 4.2

[2017-07-24 09:12] samnawi opened #4327 "Type Error : Landcover contain "Null" value"
### Problem
I've got a problem when running Landcover with "Null" value inside
[code]

### Expected Behaviour
It should can run, because for the default dataset (i.e from BIG), also include settlement, water, etc that don't have any productivity value

### Environment
* InaSAFE : 4.2-dev
* QGIS : 2.14
* OS : Win7-64 Bit
* Data used (filenames and paths so as to reproduce, a project is better):
  *

[2017-07-24 09:25] Gustry commented on #4327
Can you tell us where are these NULLs ? In which column?
Any small dataset you can share? (just a geojson with a few features for instance)

[2017-07-24 09:32] samnawi commented on #4327
This is the Null value in the field that I set to use as productivity, total cost and value
![image](https://user-images.githubusercontent.com/8871958/28517131-a67e35c8-708d-11e7-87c3-108b4d0a8a48.png)

[2017-07-24 12:19] lucernae commented on #3132
Hi @gubuntu I already replied @ismailsunni on back channel.
For the record on this issue, the option that he uses is for the development environment (`use_geosafe=False`).
It won't work on production because he had to create custom docker-compose.override.yml for his specific case in production.
I will assist him by giving a sample docker-compose.override.yml later.

[2017-07-24 19:33] timlinux commented on #4303
@ismailsunni

Referring to your question above, I think JSON would be difficult to work with in the context of an expression - at least for not so geeky users. I think we should take two approaches:

1. I like your key__key__key: value scheme that would be a good approach for when users want to access single values.

2. Where we want a result that resolves back to a table, I think we should return

[2017-07-25 00:31] Charlotte-Morgan commented on #4327
hi @samnawi  - please tell us what data you are using to test this

[2017-07-25 02:18] ismailsunni commented on #4303
Hi @timlinux
Ok, I will implement the key__key__key: value.

I think in the provenance, there is no html. So we don't need to handle it. Or may be I misunderstand your's comment?

[2017-07-25 02:19] ismailsunni commented on #4327
I think I know the problem. I will try to replicate here and make a PR soon.

[2017-07-25 02:19] samnawi commented on #4327
Hi @Charlotte-Morgan this is the landcover data that I've downloaded from BIG. I already put the data in the realWorlddata btsync --> Flood/DKI Jakarta / 02 Exposure Data

[2017-07-25 02:31] ismailsunni commented on #4327
Hi @samnawi
Please check my PR https://github.com/inasafe/inasafe/pull/4328 for the fix.

[2017-07-25 02:33] samnawi commented on #4327
OK @ismailsunni

[2017-07-25 03:25] #4327 closed

[2017-07-25 03:59] ismailsunni commented on #2800
Can we close this? I don't think the ordering is worth the effort

[2017-07-25 04:01] ismailsunni commented on #2558
We only have one IF. I don't think we need to create it to help people create new IF.
For the metadata, we have had already a definitions for each property.
Let's close this.

[2017-07-25 04:01] #2558 closed

[2017-07-25 05:30] Gustry commented on #2558
We should have documents to explain how to add new exposure, new hazard, new hazard classification, new postprocessor ... ;-)

[2017-07-25 05:50] Charlotte-Morgan commented on #4320
Hi @felix-yew - I think this was a deliberate move at 4.1 because we did not have a reference for the source of the additional minimum needs - ie we always referenced BNPB Perka 7 / 2008.
Now that we have a reference for the additional needs, it is good to add them back and make sure they are referenced accurately.

[2017-07-25 05:58] Charlotte-Morgan commented on #4127
thanks @ismailsunni - I will look more later this week and provide a note for users if its still not clear

[2017-07-25 05:59] Charlotte-Morgan commented on #3726
Hi @Gustry  - I will look more at this later this week. I think the summary you made will help me :)

[2017-07-25 06:48] ismailsunni commented on #2558
Haha, true...

[2017-07-25 11:42] Gustry commented on #3726
Instead of
`Impact Layer- Exposure Summary`
can we have
`Exposure Summary- Impact Layer`?

Because of the legend in QGIS is not wide enough, we can't know easily what is the layer about.
<img width="366" alt="screen shot 2017-07-25 at 13 33 44" src="https://user-images.githubusercontent.com/1609292/28568302-fe9c264c-713d-11e7-906e-bda11f8d92a6.png">

Usually, it's too narrow:
<img width="288" alt=

[2017-07-26 01:53] ismailsunni commented on #3726
+1 to put `Impact Layer` at the end of the name.

[2017-07-26 06:48] Charlotte-Morgan commented on #3726
Hi @Gustry - some thoughts on names and logical order.

Your table saying if E / H or A are in it really helps I think.

I think the name should be more explicit for what it contains.
If it has everything then its an impact layer
if it has a summary then call it a summary
if it has aggregation then mention aggregation (but not aggregate please)
layer for spatial data / table for table

a bit like

[2017-07-26 07:00] Charlotte-Morgan commented on #4127
Hi @ismailsunni - I think the change you have made is fine. Maybe we can add a little more text to provide instruction to the user.
Maybe add: By default, InaSAFE will calculate the default ratio however users have the option to include this in the analysis report. If you do not want to see the default results in the report choose "do not report".
I think it belongs with the text in the red box or

[2017-07-26 07:23] Charlotte-Morgan opened #4334 "Population Report tweak"
The population report is looking nice with additional information added in 4.1; however the information is a little inconsistent.
I propose to add a little more info in some places and remove some that may not be relevant.
At the bottom of the general report - please add definitions for exposed people, affected people and displaced people from concepts.py
in here
![image](https://user-images.githu

[2017-07-26 08:16] Gustry commented on #3726
So I need to add `Layer` at the end:
* Analysis Summary Layer
* Hazard Summary Layer
* Hazard Aggregation Summary Layer
* Aggregation Summary Layer

[2017-07-26 10:55] Gustry commented on #4116
it should be fixed now

[2017-07-26 10:55] #4116 closed

[2017-07-26 12:24] myarjunar commented on #4320
Hi mas @felix-yew how if we put the additional minimum needs under the min. needs breakdown table? because previously we put it along with the gender breakdown table and IMHO it seems irrelevant with the table title. What do you think?

cc @Charlotte-Morgan @timlinux

[2017-07-26 16:55] Gustry opened #4339 "InaSAFE is using English if we don't force the language in QGIS Settings"
### Problem

| OS     | Language forced in QGIS | QGIS is in | InaSAFE is in |
|--------|-------------------------|------------|---------------|
| French | No                      | French     | English       |
| Fetch  | Yes, in French          | French     | French        |

In some other words, InaSAFE can be English, even if QGIS is in French.
So as to have InaSAFE in French, you have to force

[2017-07-27 00:12] ismailsunni commented on #4339
What do you mean with `Language forced in QGIS`?
I have tried this:

| OS     |  QGIS is in | InaSAFE is in |
|-------|-------------|---------------|
| English |  English (no override)     | English       |
| English |  English (override to English)   | English       |
| English |  Indonesia (override to Indonesia )   | Indonesia       |
| Indonesia |  Indonesia (no override)   | Indonesia       |

[2017-07-27 04:28] ismailsunni commented on #3726
LGTM @Gustry
Perhaps we need to implement this, since everyone is on leave :D

[2017-07-27 04:30] ismailsunni commented on #4253
I have implemented the project's variable for the provenance

[2017-07-27 04:41] Gustry commented on #4339
Forced in qgis = override in qgis settings.

Why do I have this problem?

[2017-07-27 04:42] Gustry commented on #3726
It's already done in my PR. Waiting for your review about my question!

[2017-07-27 05:07] ismailsunni commented on #4339
May be this part of code:
[code]
 May be the system name (`QLocale.system().name()`) has different format. I am not sure. I want to try again, but I need to restart my laptop to change the language :D

[2017-07-27 05:46] myarjunar commented on #4307
closed in #4330

[2017-07-27 05:46] #4307 closed

[2017-07-27 11:38] Gustry commented on #4304
I'm trying to replicate, but I can't.

This exception is raised because of invalid geometries when we create the spatial index. But we are already doing a first step to validate geometries (before the union algo starts), so I don't know what else I can do for now (as I can't replicate)

[2017-07-27 15:06] ismailsunni commented on #4304
Perhaps it's OS specific? We can ask @samnawi or @felix-yew to check

[2017-07-27 15:34] Gustry commented on #4304
She was on MacOS ;-)

[2017-07-27 15:41] ismailsunni commented on #4304
Really? The path looks like a Windows path.

[2017-07-27 16:06] Gustry commented on #4304
Ah yes sorry. But I got one woman with the same error in Kampala, she was using MacOs.

[2017-07-28 03:50] samnawi commented on #4334
Hi @Charlotte-Morgan the definition that you mean is refers to the definition in the concept.py?

[2017-07-28 06:14] felix-yew commented on #4320
Hi @myarjunar - yes I agree. LGTM

[2017-07-28 06:48] ivanbusthomi commented on #3473
Hi @myarjunar
this is the qpt template that I create based on @felix-yew templates
* Project and templates
[infographic_templates.zip](https://github.com/inasafe/inasafe/files/1182222/infographic_templates.zip)

* Page 1
![export_png](https://user-images.githubusercontent.com/7351977/28705086-670e22b4-7398-11e7-97b7-d39a6d8e0088.png)

* Page 2
![export_png_2](https://user-images.githubusercontent.

[2017-07-29 06:00] Gustry commented on #3726
I think I will close this one. Checking the results

[2017-07-30 18:53] myarjunar commented on #4254
Hi @timlinux , I need your confirmation here :grimacing: @ivanbusthomi already provided the template for the infographic here https://github.com/inasafe/inasafe/issues/3473#issuecomment-318575052. And looking to the template, I think we need at least around 100 variables to fill all elements in the template. Is it alright?

[2017-07-31 06:19] timlinux commented on #4254
It seems like something is wrong if we need so many vars
we should be getting the diplacement etc numbers from the data table
have you figured out how to change the data source of a table at run time using the python api?
if not you may need to do some xml manipulation to change it manually before loading the renderer
(== ugly hack for now until @Gustry gets the data driven table source implemente

[2017-07-31 06:20] timlinux commented on #4254
Can you provide an enumerated list of all the vars you think we need?

[2017-07-31 06:29] timlinux commented on #4254
It seems like something is wrong if we need so many var.
We should be getting the diplacement etc numbers from the data table
Have you figured out how to change the data source of a table at run time using the python api?
if not you may need to do some xml manipulation to change it manually before loading the renderer
(== ugly hack for now until @Gustry gets the data driven table source implemente

[2017-07-31 06:32] myarjunar commented on #4254
AFAIK if we are using expression, then we can set the layer and feature source for the value that we want to show. And here is the list of variables if we want to replace all of the elements using variable (only 1 page of template):

[code]

[2017-07-31 08:42] myarjunar commented on #4254
@timlinux we still need a lot of vars if we use data table to get the value (number), because there are a lot of dynamic label that may changed based on the value from the table. For example when we want to show the data about displaced infant we need:
- denominated value of the total displaced infant. we could get this from the table.
- scale of the value (thousand, mill, bill, etc). we could sto

[2017-07-31 09:49] Gustry commented on #4304
I fixed another ticket related to invalid geometries. I don't know if my PR could fix this one. I can't replicate this issue so I'm updating labels.

[2017-07-31 16:40] Gustry commented on #4305
Same problem as in https://github.com/inasafe/inasafe/issues/4304, I can't replicate really replicate the issue.

Which hazard layer did you use? Flood 2007? Full extent?

I know we have some problems with invalid geometries sometimes, and these issues are difficult to debug.

[2017-07-31 17:54] Gustry commented on #4253
So we can close this?

[2017-08-01 10:04] ivanbusthomi commented on #4254
Hi mas @myarjunar - this is the template with variable

[infographic_variable.zip](https://github.com/inasafe/inasafe/files/1190201/infographic_variable.zip)

[2017-08-02 05:36] myarjunar commented on #4303
Hi @timlinux , there is no available method from qgis api to extract atlas as PDF so I create the atlas renderer manualy. But I'm stuck in this problem, the atlas won't zoom to the extent of the aggregation feature, here is the example:

[a4-landscape-blue.pdf](https://github.com/inasafe/inasafe/files/1192742/a4-landscape-blue.pdf)

do we need to show the aggregation layer in the map canvas to get

[2017-08-02 07:43] felix-yew commented on #3132
Hi @gubuntu and mas @ismailsunni - I think I finish upload training data to the http://geonode.inasafe.org/ and I got a few problem that I found when I upload some data layers.

1. Failed to upload building data (312 Mb) of Nagekeo Buildings
2. Failed to upload population raster data (178 Mb) of Nusa Tenggara population and (144 Mb) of West Sumatera population
3. Sinabung mount not shown the thumb

[2017-08-02 15:10] ismailsunni commented on #4253
Yes, let's close this.

[2017-08-02 15:10] #4253 closed

[2017-08-02 15:55] myarjunar commented on #4303
@timlinux I create a simple example of atlas printing and somehow I can solve my problem :sweat_smile: . Is this what you expecting with atlas printing?
[a4-landscape-blue.pdf](https://github.com/inasafe/inasafe/files/1194504/a4-landscape-blue.pdf)

[2017-08-07 04:52] felix-yew opened #4352 "Impact result from land cover vs flood raster with aggregation not complete polygon"
### Problem
When I try the analysis of land cover vs flood raster with aggregation, I get the impact result map is not in complete polygon. It is different when I run the analysis of land cover vs flood raster without aggregation, that show the complete polygon.
![image](https://user-images.githubusercontent.com/13621886/29012552-a6463dd8-7b66-11e7-975c-87f99457ec36.png)
When I check the total num

[2017-08-08 05:45] Gustry commented on #4352
Thanks for reporting the issue.
I'm going to have a look to the analysis itself with your data.
@myarjunar Can you have a look to the debug mode, it looks failing in the extractor.

[2017-08-08 08:12] Gustry commented on #4252
This is done I think in the PR above. @myarjunar is working on some new expressions. We need to check that we have what we need for now.

[2017-08-08 08:13] Gustry commented on #4312
Let's close this ticket. ID and FR are both on their way for 4.2

[2017-08-08 08:13] #4312 closed

[2017-08-09 03:31] Charlotte-Morgan commented on #3626
Hi @fredychandra @ismailsunni @Gustry @myarjunar @mbernasocchi @samnawi
apologies for rejoining this conversation again so late in the development.
I like what i see here and the option for data driven classification.

I wonder too if there is room for a new "productive landcover" classification which would include only those land covers types for which it is relevant to expect values and to calcu

[2017-08-09 03:50] Charlotte-Morgan commented on #2975
Hi @Gustry and @timlinux
I think i'm spotting the same issue and would like to see more of the wizard especially as all the user help is hidden at the bottom of the scrolling.

Expanded wizard window still uses limited real estate
![image](https://user-images.githubusercontent.com/5743135/29104511-6c498514-7d09-11e7-89c3-47dba0434a5a.png)
But all the user help is down the bottom
![image](https://u

[2017-08-09 11:57] ivanbusthomi commented on #3473
This is some changes in the wording on the template that I mentioned to you earlier.
![infographic_updated_marked](https://user-images.githubusercontent.com/7351977/29120467-7c43d368-7d34-11e7-84ce-3649f22c1d7e.png)

[2017-08-09 12:37] akbargumbira opened #4356 "RFC: Going 'micro' for easy use of inasafe in other services"
## Problem
The current setup in other services (InaSAFE Realtime and GeoSAFE) is not quite nice: For those 2 services, we use this branch: https://github.com/inasafe/inasafe-realtime/tree/realtime-backport-cherry-pick. This branch is basically an InaSAFE repository that still have realtime package. @lucernae has explained that InaSAFE team decided to remove the realtime package and since he was bu

[2017-08-10 06:43] Gustry commented on #4352
Even without debug mode
[code]
My hazard keywords
[Jakarta_Flood_HKV_WGS84.xml.zip](https://github.com/inasafe/inasafe/files/1213848/Jakarta_Flood_HKV_WGS84.xml.zip)

[2017-08-10 07:09] felix-yew commented on #4352
[Jakarta_Flood_Landcover_Aggregation_xml.zip](https://github.com/inasafe/inasafe/files/1213905/Jakarta_Flood_Landcover_Aggregation_xml.zip) --> all keyword

[2017-08-10 07:30] myarjunar commented on #4254
closed in #4353

[2017-08-10 09:36] myarjunar commented on #4352
I can fix the extractor but it's not what causing some areas are missing.

[2017-08-10 10:12] Gustry commented on #4352
Yes, I'm looking the first part of this issue (some areas which are missing)

[2017-08-10 13:58] myarjunar commented on #4320
closed in #4337

[2017-08-10 13:58] #4320 closed

[2017-08-10 14:06] myarjunar commented on #4146
closed in #4353

[2017-08-10 14:06] #4146 closed

[2017-08-10 14:18] myarjunar commented on #4209
close in #4337

[2017-08-10 14:18] #4209 closed

[2017-08-10 14:24] Gustry commented on #4216
Is 3 done @myarjunar ?
Which PR was it?

[2017-08-10 16:15] Gustry commented on #4271
I put the label `Release blocker`, because even if it might be an upstream bug, it's a high priority for us.
I have the same issue with pictures, no more pictures in my report:
[code]
`setPicturePath` doesn't exist on my object.

[2017-08-10 18:44] timlinux commented on #4271
@Gustry what code is this affecting? Infographics stuff? Is this not similar to the SIP error we used to have on Mac  OS which was actually a problem with SIP rather than QGIS?

[2017-08-11 21:41] myarjunar commented on #4334
closed in #4361

[2017-08-11 21:41] #4334 closed

[2017-08-14 11:09] Gustry commented on #4352
Thanks @myarjunar It's working now for the reporting side.

But for the impact function, it's a problem with invalid geometries which are dropped when we intersect the exposure and the aggregate hazard. https://github.com/inasafe/inasafe/blob/develop/safe/impact_function/impact_function.py#L2040

Unfortunately, we are already cleaning geometries for both layers just before this algorithm. Looking

[2017-08-14 12:38] Gustry commented on #4352
Both layers have invalid geometries before the intersection algorithm according to the geometry checker in QGIS.

[2017-08-15 01:24] Germante opened #4364 "Inasafe Plugin installation error"
Plugin is broken Python said ascii Problem

[2017-08-15 10:35] timlinux commented on #4356
Thanks for this @akbargumbira

Is this the only import that uses the safe_extras path for the import? If we switch to using packaged raven etc. we will need to figure out how to package for the desktop nicely. I saw the folks at boundless use a tool (paver I think) to fetch and bundle deps in their plugins - I wonder if they also use relative paths for the imports. If we can get rid of safe_extras

[2017-08-16 06:23] Gustry commented on #4364
Thanks for reporting an issue, but you need to give more informations so as to help us debugging.
Can you check in your `logs` panel? (the small bubble in the bottom right corner of QGIS, check in each tabs if there is something related to InaSAFE)

What is your full path where you `.qgis2` folder is located?

[2017-08-16 06:31] Gustry commented on #4240
@myarjunar Can you do that with the new infographics template?
This has been done in 4.1 about the map report.

[2017-08-16 06:49] myarjunar commented on #4240
@Gustry I already did in my last PR :wink:

[2017-08-16 06:59] Gustry commented on #4271
Every python bindings in the composer, so infographics and map reports.

It's not specific to MacOS as @mbernasocchi has the issue on Linux too.

Can you give your results for
[code]

I have:
[code]

[2017-08-16 07:02] Gustry commented on #4240
Ah thanks! Which one? Better to link PR with tickets

[2017-08-16 07:16] myarjunar commented on #4271
I don't have this problem on my machine.
[code]

[2017-08-16 07:33] Gustry commented on #4271
I just tried an old QGIS app 2.14.8 released in November 2016, map reports were working well but it has the same SIP version:
[code]

[2017-08-16 14:02] Gustry commented on #4271
@myarjunar and I could fix the issue we think. We got a hint from Martin by email, but it was still tricky with these IDs which are strings or integers. Something working for Rohmat was not working for me.

I think this issue can be closed. Let's wait a little to check everything is working nicely

[2017-08-16 14:27] Gustry commented on #4216
For point 3, it's not obvious which aggregation have been used for the analysis on the map report PDF.  Even if InaSAFE will zoom on these aggegations areas. I have highlighted them with the red line:
<img width="1421" alt="screen shot 2017-08-16 at 16 25 19" src="https://user-images.githubusercontent.com/1609292/29368312-a7ed4240-829f-11e7-9caa-fed791896641.png">

[2017-08-18 00:50] lrpower opened #4370 "Add Evacuation Centres as a Structure Keyword"
Add 'Evacuation Centres' as a Classified Unique Value to the Generic Structure Classification

This will allow the user to identify if dedicated evacuation centres are potentially affected.
Otherwise they just get lumped in 'Other'.

Thanks

[2017-08-18 07:29] myarjunar opened #4371 "Quick review on Infographic"
### Problem
https://files.gitter.im/inasafe/inasafe/bk0t/Screen-Shot-2017-08-16-at-11.53.32.png
https://files.gitter.im/inasafe/inasafe/7mxS/Screen-Shot-2017-08-16-at-12.02.34.png

So quick review (from @Gustry):
- Some strings in French are longer, I wonder if we can set the font size by an expression according to size of the sentence? It will be I guess out of scope for now. Users should create/

[2017-08-20 09:54] EmanueleAcito89 opened #4375 "Earthquake Padang doesn't run for overlap problem ..."
### Problem
Hi people! There is a problem during the assignment of the keywords at the EQ Padang exercize. Run button is not active after the completion of the procedure and the error is Inasafe: The requested extent is not overlapping your layers.
[code]

### Expected Behaviour

### Environment
* InaSAFE : 4.1
* QGIS : 2.18
* OS : Windows 10
* Data used (filenames and paths so as to reproduce, a

[2017-08-20 12:54] akbargumbira commented on #4356
Yes I've changed the importing.

Agreed. But I will put it as low priority (using paver for release/development setup)

Another blocker I have right now is about versioning. So I am trying to render map in realtime project and I have this error:
[code]
The problem is that metadata.txt is on the same level as safe package (which is needed for the plugin). And I remembered that we removed ```__versi

[2017-08-20 13:03] akbargumbira commented on #129
It seems that __version__ attribute is removed and the case mentioned above is on point where now I am packaging SAFE...

[2017-08-20 13:04] akbargumbira commented on #4356
See here for the standard header discussion: https://github.com/inasafe/inasafe/issues/129

[2017-08-20 23:06] ismailsunni commented on #4375
Hi @EmanueleAcito89
Can you check your extent? Based on the error message, your extent is not overlapping with your exposure/hazard/aggregation layers. You can do it by using `Toggle Scenario Outlines` tool button.

If you don't want to use requested extent, you can do it by clicking `Set Analysis Area` tool button. Then set it to the first or second option.
<img width="853" alt="screen shot 2017-

[2017-08-21 01:55] lrpower opened #4376 "Population Exposure Definitions appearing in Structures Impact Report"
### Problem
Population Exposure Definitions appearing in Structure impact reports.

![image](https://user-images.githubusercontent.com/10228025/29500724-abff9c78-8666-11e7-81d4-03dadc6e7e5a.png)

### Expected Behaviour
Population exposure definitions only to appear in population analysis reports
### Environment
* InaSAFE : 4.2.0b0
* QGIS : 2.18.10
* OS :  Windows
* Data used (filenames and paths s

[2017-08-21 04:53] felix-yew commented on #4376
Hi @lrpower - I also find this problem after I git pull this morning.
![image](https://user-images.githubusercontent.com/13621886/29504027-d60143be-8666-11e7-9919-86b48f76876d.png)
Last week when I run it with batch runner and I have check the result, I did not find this problem. I agree with your expected that population exposure only appear in population reports.

[2017-08-21 05:28] Gustry commented on #4375
I need to find the exercise, but this should be written in the exercise about this setting. CC @adissadis

[2017-08-21 06:00] Gustry commented on #4370
Yes, this is possible.

[2017-08-21 06:12] Charlotte-Morgan commented on #4304
@felix-yew  - could you take a look at this and see if you can get it to run. Kartoza will share the data with you

[2017-08-21 06:13] timlinux commented on #4304
@timlinux to put the Uganda data into btsync for @felix-yew to try to replicate

[2017-08-21 06:13] Charlotte-Morgan commented on #4305
hi @felix-yew - great if you can take a look at this one too. Kartoza to share the data

[2017-08-21 06:23] timlinux commented on #3726
@timlinux to check that the wording in the table matches @Charlotte-Morgan's updated definitions

- [ ] Tim to make sure the above table appears in the manual
- [ ] Tim to make sure the training materials in QGISTrainingWorkshop contains updated content from the table
- [ ] Tim to check that definitions exist for all above mentioned output layers.

[2017-08-21 06:28] adissadis commented on #4375
Hi @Gustry here is the link about the exercise:
http://docs.inasafe.org/en/training/socialisation/run_other_hazards.html#run-project-name-for-earthquake

When i first time run the exercise, it work without problem. It can run smooth without extent layer warning. But i will add more sentences to remind the user to check about the extent layer.

[2017-08-21 06:55] timlinux commented on #4303
Yeah that look s good @myarjunar

[2017-08-21 06:56] timlinux commented on #4086
@NyakudyaA can you check this with develop?

[2017-08-21 07:02] timlinux commented on #4240
In 4.2 we are adding support for QPT overrides in the user directory and we have added project variables for the things that we used to rely on the impact function instance to provide. In 4.3 we can try to bring back the chooser dialog...

[2017-08-21 07:12] timlinux commented on #4252
@myarjunar  in the templates can you please remove any substitutions in favor of expressions. Please see https://github.com/inasafe/inasafe/wiki/Map-Composer-Templating#element-tokens - I would like to see all of this Replacement Tokens removed from the above page and implemented rather as QGIS / InSAFE Expressions which can be inserted into the template.

Also for the logos and images which can h

[2017-08-21 07:13] #4303 closed

[2017-08-21 07:15] timlinux opened #4378 "We need to support hazard-exposure specific reports"
See #4304 - we should let the user create per hazard/exposure combination report templates.

[2017-08-21 07:15] #4254 closed

[2017-08-21 07:16] timlinux commented on #4250
We can look at using ST_Subdivide as per @wonder-sk 's suggestion in Nødebo

[2017-08-21 07:18] timlinux commented on #3967
See #3976 - maybe we can take another look for 4.3

[2017-08-21 07:20] timlinux commented on #2670
Maybe in 4.3 we can look at this again - we should be able to retrieve the needed state from the project variables now? Or make a little helper that can deserialize an IF from the project variables?

[2017-08-21 07:24] timlinux commented on #4179
TODO @timlinux:

- [ ] add keywords to the definitions help
- [ ] add IF centric wizard help to definitions help
- [ ] add kw wizard to the definitions help

[2017-08-21 07:30] timlinux commented on #3727
The PDF renaming is going to have a lot of side effects - I am holding this over to 4.3 as we won't be able to resolve it in time for 4.2

[2017-08-21 07:31] timlinux commented on #3068
@ismailsunni has been adding help files for 4.2 - can you please review his work @ivanbusthomi and close if you are happy?

[2017-08-21 07:32] timlinux commented on #3360
Can we get an update on the status of this issue @felix-yew ?

[2017-08-21 07:36] timlinux commented on #2572
See also #4318 for more thoughts on this

[2017-08-22 01:04] lrpower opened #4381 "Event Location map does not wrap around the international dateline"
### Problem
Event Location map in Infographic report does not wrap around the international dateline.
Below is an example of Tonga as the event location.

![image](https://user-images.githubusercontent.com/10228025/29543965-309f6564-8728-11e7-8ebf-17d912453638.png)

### Expected Behaviour
The Event Location map centres to the area of interest.

### Environment
* InaSAFE : 4.2.0b0
* QGIS : 2.18.10

[2017-08-22 02:38] felix-yew commented on #3360
Yes @timlinux I think we have updated the icon. I think we can close this ticket, but, we can open again if necessary.

[2017-08-22 02:38] #3360 closed

[2017-08-22 07:56] Gustry commented on #3786
Thanks Ismail for this first step.

I'm just thinking about exposure ID, hazard ID, aggr ID, can't we add the field name plus a number with brackets (or percent) and italic in the combobox?

[2017-08-22 08:53] felix-yew opened #4383 "Keyword Creation Wizard and IFCW button not work properly"
### Problem
I find a trouble after I git pull this morning. Nothing happen when I try to set the keyword in a layer, the KW's and IFCW's dialog box did not appear.

[code]

### Expected Behaviour
The button can work properly and run normally to set the keyword in a layer (KW) and set the impact function (IFCW).

### Environment
* InaSAFE : 2.14.14
* QGIS : Essen
* OS : Win-7 64bit/12GB RAM
* Data

[2017-08-22 08:56] ismailsunni commented on #4383
Can you try this fix in the wiki:
https://github.com/inasafe/inasafe/wiki/Common-Problem-in-Developing-and-Testing-InaSAFE#can-not-load-plugin-after-switching-branch-importerror-no-module-named-parameters

It looks like the same issue.

[2017-08-22 09:01] felix-yew commented on #4383
Ok, I will try it @ismailsunni

[2017-08-22 09:20] felix-yew commented on #4383
@ismailsunni - did not work, mas

[2017-08-22 09:28] ismailsunni commented on #3786
Yes, I am thinking the same solution also for that. I think it's possible to do it. I will try to implement it.

[2017-08-22 09:29] ivanbusthomi commented on #4383
Hi @ismailsunni , Strangely I don't get the error and I have no problem opening the keywords wizard.

[2017-08-22 16:50] Gustry commented on #4252
We only remove tokens only from existing templates @timlinux? But we keep them in the code, because if we remove them, then it's a API break.

I added expression help in the dialog. We may need some polishing. Like translations will be missing with the current implementation.

[2017-08-23 02:25] felix-yew commented on #4304
Hi @Charlotte-Morgan @timlinux - sorry for the delay response, where I can find the Uganda data? I can not find in `Real World Data`

[2017-08-23 02:34] Charlotte-Morgan commented on #4304
hi @felix-yew - I think maybe @timlinux has not shared the data yet. maybe @Gustry has the data he can share?

[2017-08-23 02:40] felix-yew commented on #4304
Hi @Gustry - could you please to share the data? so I can try this issue. Thank you.

[2017-08-23 03:09] felix-yew commented on #4305
Hi @remigio-chilaule - the zip file that you share only contain the xml file, could you please share the complete data that include the shapefile?

Cc: @timlinux @Gustry

[2017-08-23 06:59] ivanbusthomi commented on #4262
Hi @timlinux and @ismailsunni :
What I initially have in mind working on this function is creating it as a tool that can be used by the user through a dialog box, like the multibuffer tool. Do you think the function only something like a postprocessor?

### Workflow
![ddt_diagram](https://user-images.githubusercontent.com/7351977/29602393-28dcf4ee-880a-11e7-995c-1984183d96d6.png)

### UI
![directi

[2017-08-24 04:18] lrpower opened #4389 "Infographic Report bugs/suggestions"
### Problem
Minor bugs/suggestions with the Infographic Report

1. Not all colours appear in the doughnut legend and not all labels appear on the graph
![image](https://user-images.githubusercontent.com/10228025/29648545-1a895ff4-88d2-11e7-88ff-e8dd6acb81ca.png)

2. People displaced - Counts greater than a thousand have unit text which means counts less than a thousand look like they are missing u

[2017-08-24 04:23] ivanbusthomi commented on #4381
Hi @lrpower ,
The raster image that is used in the event location section above is captured from the openstreetmap. The initial idea when I implemented this in the template is that the map will be static while the red boxes will dynamically move around it depends on the extent of the analysis. While this method is a simpler way to implement an overview of the event location, it will raise some iss

[2017-08-24 04:42] Charlotte-Morgan commented on #4389
Hi @felix-yew can you please look at points 1 and 2 in this ticket.

[2017-08-24 04:43] Charlotte-Morgan commented on #4389
@lrpower - did you look at the demographic definitions for point 3. Maybe that will help. We have different definitions for age and vulnerbility.

[2017-08-25 00:36] Charlotte-Morgan commented on #4389
@lrpower - regarding your points about definitions. The age classes are not mutually exclusive but reflect some of the most common categories used in the humanitarian sector which does not have any good standards for us to follow.
Similarly, the overlap between age and vulnerability is apparent as you have pointed out.
We could add the definitions for the default classifications to the infographic

[2017-08-25 00:39] Charlotte-Morgan commented on #3335
Hi @samnawi , @ivanbusthomi & @felix-yew - this is an RFC about the next important phase of UI development for InaSAFE. Please review this proposal and make comments. What UI tools do you think are most relevant to DM users in Indonesia; what should be a priority for DMI to fund and support?  This work will be our priority in the next quarter and for InaSAFE 4.3

[2017-08-25 04:09] felix-yew commented on #4389
Hi @lrpower -

image

In the design of infographic, I also put the labels in the chart, but somehow the result of infographic can not show the label in the certain space in chart. Maybe mas @myarjunar can explain better related to the chart and also about the colour appear in the legend.

Good point Lauren, if the people displaced less than a thousand, ie. in a hundred(s), it should appear `Hundre

[2017-08-25 12:43] ismailsunni commented on #4383
Epilog:

Another issue after we fixed this problem with PR #4385 is like this:
[code]

The reason is that the user also installed another plugin that has same module name (`parameter` in http://plugins.qgis.org/plugins/EmergencyMapper/ plugin for this case). The module is not up to date, but it's loaded first (perhaps because the alphabetical order).

The solution is disabling that plugin then all

[2017-08-25 12:43] #4383 closed

[2017-08-28 01:01] ismailsunni opened #4398 "Nightly Build is not Working Properly"
### Problem
The nightly build in http://nightly.inasafe.org is currently not working. I investigated it, the packaging script is not working in Ubuntu (checked by @myarjunar and in my docker). Perhaps it is just a simple mistake in the release script.

### Expected Behaviour
Nightly build is working properly

### Proposed Solution
Check the release script in Ubuntu

### Notes
I put it here so that

[2017-08-28 01:27] ismailsunni opened #4399 "Adding Field Unit"
### Problem
In the land cover we have several field that need a unit to be making sense (e.g. productivity, productivity cost). Currently, we use the global setting to set the unit (the currency only). It would be more natural if we can have unit for each field (if needed).

And then in the keyword wizard, we should make the user able to choose which unit that they want to use.
https://files.gitte

[2017-08-28 06:11] Charlotte-Morgan commented on #4399
+1 for more units to be listed

[2017-08-28 06:15] #4271 closed

[2017-08-28 06:17] #4252 closed

[2017-08-28 06:20] timlinux commented on #3132
Lets ask @NyakudyaA to show Felix how to use the management command for large datasets for now. @ismailsunni is waiting on improvements to ansible scripts before we can do a full update.

[2017-08-28 06:23] timlinux commented on #4304
@timlinux to get the data to @felix-yew

[2017-08-28 06:24] timlinux commented on #4305
@timlinux to get the data to @felix-yew

[2017-08-28 06:24] timlinux commented on #4304
To do as bug fix post 4.2 release

[2017-08-28 06:24] timlinux commented on #4305
To do as bug fix post 4.2 release

[2017-08-28 06:29] Charlotte-Morgan commented on #3062
reference this in the rich report

[2017-08-28 06:33] timlinux commented on #3057
@ivanbusthomi Closing, please re-open if there is still something needed.

[2017-08-28 06:34] Charlotte-Morgan commented on #3057
@felix-yew - can you please give an update on the status of actions and notes for all reports? use the results from the batch runner to let us know what is missing

[2017-08-28 06:35] #3068 closed

[2017-08-28 06:51] Charlotte-Morgan commented on #3676
still needs to be fixed in standards

[2017-08-28 07:51] timlinux commented on #4304
@felix-yew the RO BTsync key is BWHM2A7KLHG5LFARSOZMQ4KUL7AM25XM6 (includes the full training course memory stick contents)

[2017-08-28 07:52] timlinux commented on #4305
@felix-yew the RO BTsync key is BWHM2A7KLHG5LFARSOZMQ4KUL7AM25XM6 (includes the full training course memory stick contents)

[2017-08-28 08:48] NyakudyaA commented on #4086
@timlinux @Gustry  I have confirmed and everything is working well.
![working](https://user-images.githubusercontent.com/2510900/29766239-61e6b338-8bde-11e7-943e-7eacb186d87c.png)

[2017-08-28 09:23] #4086 closed

[2017-08-28 19:39] myarjunar commented on #4371
I have no clue about missing translations.

[2017-08-29 01:46] felix-yew commented on #4304
Ok thank you @timlinux - I already add it. It maybe will sync later.

[2017-08-29 01:46] felix-yew commented on #4305
Ok thank you @timlinux - I already add it. It maybe will sync later.

[2017-08-29 02:42] felix-yew commented on #3132
Ok @timlinux - I am happy if I can also learn it

[2017-08-29 08:11] samnawi opened #4402 "The sequence number in the InaSAFE always change for every click"
### Problem
If I click InaSAFE help, for the every click, I got the different sequence of the number in there

### Expected Behaviour
It should have the appropriate sequence number that not change for every click.

### Environment
* InaSAFE : 4.2 - dev
* QGIS : 2.14.10
* OS : Win 7 64 Bit

### Proposed Solution
Make it happy

[2017-08-30 01:49] lrpower commented on #4389
I agree it's not usual to use the unit word Hundred and Tens would look even weirder! It just confused me when I first saw it because I wasn't sure if it was 460 (four hundred and sixty) or if the thousands text was missing (four hundred and sixty thousand). Removing the decimal point for values less than a thousand would help.
And the percentage text and divider looks good!

[2017-08-30 04:16] lrpower commented on #4389
@Charlotte-Morgan so I can't find anything in the help doc clarifying if _Under 5: Persons aged under 5 years_ is 5 and under (0-5) or Under 5 (0-4). The demographic defaults are also both set to 0.9 (which I know can be changed) so are these the same or not? If _Under 5_ is 0-4 then that's the same as Infant and the symbols/definitions should reflect this.
Side note... the help doc, demographic d

[2017-08-30 06:22] NyakudyaA commented on #3132
@felix-yew  let me know when you are available so that I can walk you on this.

[2017-08-30 14:18] timlinux opened #4409 "We need to formalise the API"
### Problem

InaSAFE realtime and cli should use a formalised API exposed by InaSAFE.

Long ago we used to have an api.py file that exposed the API file. We canned this file because it basically exposed every symbol in InaSAFE and did not really provide a clear coherent API.

Currently our consideration an API break is when we make breaking changes e.g.. when the file formats used by InaSAFE chang

[2017-08-31 01:58] felix-yew commented on #3132
Hi @NyakudyaA - thank you, I will let you know if I am ready.

[2017-08-31 02:02] felix-yew commented on #4389
Hi @lrpower -

Sounds good, I will discuss with our team first.

Thank you, okay we can use the colour.

[2017-08-31 02:21] Charlotte-Morgan opened #4411 "Wizard real estate"
This is  a known issue but we may  need to  look for a tidy solution.
## problem ##
Some wizard screens for demographic fields are compromised by the limited real estate and the amount of supporting text shown.
Resizing the window does not improve the use of the realestate. With the detailed help informaiton, we find the actual space fro the wizard window is very small.
![image](https://user-image

[2017-08-31 02:45] Charlotte-Morgan opened #4412 "InaSAFE reporting bugs"
A few bugs in the reports - Jakarta flood analysis.

### problems ###
- [x] the report mentions aggregation area when no aggregation was used
![image](https://user-images.githubusercontent.com/5743135/29904163-dcbc6b52-8e4a-11e7-8350-0c0d8743c946.png)
- [x] map reference is not computing
![image](https://user-images.githubusercontent.com/5743135/29904198-ff69dd9c-8e4a-11e7-81b3-3c0042305a75.png)
-

[2017-08-31 08:49] Gustry commented on #4412
I'm only gonna fix the CRS element @myarjunar, it's in my next PR

[2017-08-31 14:55] akbargumbira commented on #4409
+1. Headless is using 3 functions from CLI to:
* run IF
* build report
* get_layer

Would be much more makes sense if those are rather provided from SAFE core directly. Also routines like reading or writing keywords

[2017-09-01 14:40] akbargumbira opened #4414 "Failed to build map report"
### Problem
Hi @lucernae @myarjunar, I have a weird problem. I am trying to build a map report (the same with test_qgis_map_pdf_report in test_impact_report.py). But the problem seems that when extracting context for map_elements, 2 out of 3 layers are None). Looking at composer_extractor and debugging it, it happens at this point:
![composerextractor](https://user-images.githubusercontent.com/992

[2017-09-04 08:26] timlinux opened #4419 "We should move or reference the sources of hazard wiki in the help"
### Problem

It is a common question: Where can I get hazard data? We should include a reference to https://github.com/inasafe/inasafe/wiki/Sources-of-hazard-data in the definitions_help, or move the wiki content into the help itself.

[2017-09-04 14:20] timlinux commented on #4414
@akbargumbira Are you perhaps loading / unloading the layers in your processing flow? Can you share your full code? @myarjunar can you dip and and take a look (on WB time please)

[2017-09-04 14:35] akbargumbira commented on #4414
Yes, to the map layer registry

[code]

[2017-09-04 15:36] akbargumbira commented on #4414
Put aside why the hazard ID is different in provenance and the one registered in layer registry, in this line https://github.com/inasafe/inasafe/blob/develop/safe/report/extractors/composer.py#L248, why is it necessary to match them? Why not for example just get the hazard layer from impact report instance? i.e ```impact_report.impact_function.hazard```

[2017-09-04 20:24] myarjunar commented on #4414
@akbargumbira because it's a different layer object, https://github.com/inasafe/inasafe/blob/develop/safe/report/extractors/composer.py#L248 will return a layer object from the map canvas (registry), and composer need the object layer from the map canvas. I've checked the qgis source code, in qgis 3 we can simply use this `impact_report.impact_function.hazard` because they have a capability to aut

[2017-09-05 07:50] lucernae commented on #4414
Hi @akbargumbira sorry if I missed this.

@myarjunar is right. Previously there is some weird case in QGIS 2.14 (the version on where I wrote this). That line is just me being paranoid to make sure that we get the actual layer stored in layer registry to be used. The way impact_function worked previously, there is no guarantee that `impact_function.hazard` is the one that is being loaded in layer

[2017-09-05 08:22] Gustry commented on #4414
I'm half reading the thread, not sure I got the problem.

Layers which are loaded in the IF and layers that you get at the end for exposure, hazard and aggregation are definitely different. The impact function is creating new layers and we are replacing old layers with the new one.