[2016-11-16 14:27] #3399 closed

[2016-11-17 03:46] timlinux opened #3448 "We need to validate that InaSAFE works with FaceBook population data"
### Problem

from @vdeparday:

Facebook just released the data that we had access to under NDA for the 5 countries above and it is available through CIESIN: https://ciesin.columbia.edu/data/hrsl/ and the announce of the release:https://code.facebook.com/posts/596471193873876/open-population-datasets-and-open-challenges/ (some other press coverage: https://techcrunch.com/2016/11/15/facebook-support

[2016-11-17 12:32] timlinux opened #3454 "Report numbers need to be rounded"
### Problem

![screen shot 2016-11-17 at 2 24 20 pm](https://cloud.githubusercontent.com/assets/178003/20389489/83f20540-acd2-11e6-9e93-48b9dd3b5dca.png)

### Expected Behaviour

Please consult #2920 and docs/standards.md and make sure distances and areas are rounded off nicely.

Also please include units after count column headers)

### Environment
* InaSAFE :
* QGIS :
* OS :
* Data used :
  * Ex

[2016-11-18 06:40] #3374 closed

[2016-11-18 06:40] #3377 closed

[2016-11-18 06:40] #3379 closed

[2016-11-18 06:41] Gustry commented on #3325
Done

[2016-11-18 06:45] #3178 closed

[2016-11-18 06:45] #3179 closed

[2016-11-18 06:45] #3180 closed

[2016-11-18 06:45] #3182 closed

[2016-11-18 06:45] #3184 closed

[2016-11-18 06:45] #3186 closed

[2016-11-18 06:45] #3187 closed

[2016-11-18 06:45] #3188 closed

[2016-11-18 06:45] #3189 closed

[2016-11-18 06:45] #3190 closed

[2016-11-18 06:45] #3191 closed

[2016-11-18 06:45] #3192 closed

[2016-11-21 09:21] felix-yew opened #3460 "We need a sharing data test"
### Problem
We always use the training data to share the problems we find in the analysis with InaSAFE. But, it is very wasting time if we also do to zipping the data training. And, sometimes the data that we use is very large.

### Expected Behaviour
We need a sharing of test data, maybe we can call it "Real World Data". We can make into the smallest area that comes from training data and share t

[2016-11-21 09:25] Charlotte-Morgan commented on #3460
hi @felix-yew - this is a great idea. Why not make a btsync file with some real world data that Minions use for testing. We can then share data via the btsync with Kartoza team when we report bugs with real world data.

[2016-11-21 12:57] ismailsunni commented on #3460
+1

[2016-11-21 22:26] #3247 closed

[2016-11-21 22:47] ismailsunni opened #3463 "Setting for Keyword Assignment"
### Problem
Currently, we have default value for some field (e.g. youth_ratio_field) and we have default value for it. We need a setting windows to set this value.

![inasafe_default_values_setting](https://cloud.githubusercontent.com/assets/1421861/20515377/eff5bed6-b0c3-11e6-96cf-37fdd9fbe72e.png)

This window will be put in the setting tab.

[2016-11-22 00:28] felix-yew commented on #3460
Hi, @Charlotte-Morgan - sounds good, OK I will make it.

[2016-11-22 02:32] felix-yew opened #3464 "Find odd number in analysis result when run tsunami raster on population raster"
### Problem
I try the new architecture InaSAFE 4.0 develop with the new technical git submodule update. I have clipped the area analysis only in Ambon city, and it can produce 'aggregate hazard impacted' as the impacted layer analysis but the number of Count is strange. Not only in the Analysis Results but also in Minimum Needs results, there are no thousand separators.
![image](https://cloud.gith

[2016-11-22 04:12] ismailsunni commented on #3195
Update:
We agree to implement this like the other post processor. Thus, we need to:

- [ ] Define field post processor based on the current default minimum needs (sphere, BNPB, Tanzania, etc)
- [ ] Create grouping mechanism for the minimum needs post processor. It will be the _profile_ of the minimum needs
- [ ] Add setting to check which post processor or group that will be run in the analysis
-

[2016-11-22 04:16] Gustry commented on #3463
Add a button `Restore to defaults` to restore these defaults user values by hard-coded values.

[2016-11-22 05:35] Gustry commented on #3463
And also, why not using QgsExpressionContextScope ?

[2016-11-22 06:43] samnawi opened #3465 "Show Question Button is Gone"
### Problem
In the new InaSAFE developer version, after I run an analysis, the show question button disappeared.
It usually appears at the top of the InaSAFE dock. So, I cannot run the analysis again.
![image](https://cloud.githubusercontent.com/assets/8871958/20513574/57f5a754-b0b9-11e6-947c-300e95af9a38.png)

But, when I remove the resulting layer from the previous analysis, the guideline questi

[2016-11-22 07:20] Gustry commented on #3465
Or if you don't want to remove your layer, you can just move one layer up or down in the tree. (disable the impacted layer).
But I agree, we should fix that.

[2016-11-22 07:28] samnawi commented on #3465
Ok @Gustry I can see the guideline question again.
But, I think it's not a best solution,hahaha....
I agree with you to fixed it.

[2016-11-22 07:45] ivanbusthomi opened #3467 "Earthquake Realtime filter not showing properly"
### Problem
In earthquake realtime, the filter button for end date input is not showing properly.
![eqeqeq](https://cloud.githubusercontent.com/assets/7351977/20514898/22e3a9e6-b0c1-11e6-966d-002d04f9e0dd.PNG)

The input for start date is working fine like this screenie below
![eqeq](https://cloud.githubusercontent.com/assets/7351977/20514897/21bb72c4-b0c1-11e6-9539-9f6821c8a177.PNG)

### Expected

[2016-11-22 08:02] ismailsunni commented on #3463
Added to the wireframe. Will do it.

Never use that before. What's the benefit of it compared to store it in QSettings for this use case?

[2016-11-22 08:28] Charlotte-Morgan commented on #3206
Hi @felix-yew - this is very comprehensive.
In terms of testing and demonstrating new functionality for version 4.0 beta,  I recommend we keep it simple and focus on one example of an infographic report - as discussed: the priority is for a population report for minimum needs.  I suggest you write a new ticket "We need an infographic report for Population Minimum Needs" and cross reference to this

[2016-11-22 08:43] Charlotte-Morgan commented on #3360
@felix-yew - we need to progress this. Lets focus on the population and minimum needs only for now.
I think it would be good to have different icons for women and hygiene packs. Is it possible to find a different icon for the hygiene packs? Once we have the icons agreed - we need to find the svg icons and share them. You need to compile them (only the ones we need now for your template) and I can

[2016-11-22 11:15] timlinux commented on #3360
Thanks @Charlotte-Morgan

@felix-yew could you prepare these in a standard folder (containing .svg icons plus an accompanying license file for each icon). @Charlotte-Morgan I have been thinking about the discussion we had in JK about adding icons to definitions and I think there is a better way:

For a given definition e.g.:

[code]

We save the icon using the key name e.g.:

[code]

For minimum n

[2016-11-22 13:44] Gustry opened #3469 "Improve the GIS overlay analysis if it's a point exposure with raster hazard"
### Problem
For now, we reclassify, polygonize every hazard raster.

We can improve the workflow if it's a raster hazard and point exposure by doing a pixel lookup. It will improve a lot the processing time.

[2016-11-22 14:22] ismailsunni opened #3470 "Add image or icon in the definition"
Currently, we get the image or icon of a hazard / exposure in the wizard from something like this:
[code]

This is not very neat. We should put the image resource in the definitions. By doing this we can get the image resource path from another module easily

This is a low priority though.

[2016-11-22 21:25] timlinux commented on #3195
@ismailsunni that sounds good thanks!

[2016-11-23 02:52] felix-yew commented on #3360
Hi, @Charlotte-Morgan - thank you for your feedback. That is good, so I can focus to create the population and minimum needs reports.
About the icons for women and hygiene packs, I still don't get the proper icon to support the hygiene packs. Please let me know if there is some suggestion to support the hygiene packs icon, I really appreciate it. And, I will compile the icon in svg and share it.

[2016-11-23 02:54] felix-yew commented on #3206
Hi, @Charlotte-Morgan - thank you for the feedback, I will draft first about it.

[2016-11-23 03:40] Charlotte-Morgan opened #3472 "Graphic Elements for Infographic Reports"
# problem
We want to make infographic reports in InaSAFE but we do not know what is possible.

# proposed solution
@felix-yew will make a template for a simple infographic report for population and minimum needs #3473
This template will use icons and graphic elements.
Icons will come from UNOCHA as svg files (to be uploaded and added to definition @charlotte)
Graphic elements are supplied here for

[2016-11-23 03:42] Charlotte-Morgan opened #3473 "Infographic template for population and minimum needs"
## Problem
We need an infographic template for population and minimum needs report. We have a good report on a map and table result from InaSAFE analysis, in the future we must try in an easy way to represent the data to the infographic style. I have written a RFC about infographic #3206 but in the short term maybe is a good time to introduce in a simple report to show the impact analysis of popul

[2016-11-23 08:20] Charlotte-Morgan commented on #3206
hi @lucernae  - please see #3472 with the action for you to follow up on this ready for 4.0beta

[2016-11-23 10:26] NyakudyaA opened #3475 "Allow users to use remote metadata file with inasafe keywords in QGIS"
### Problem

Hazard data,exposure data has been uploaded to geonode with inasafe keywords. A user intends to use a remote layer coming from that geonode instance in running analysis in QGIS. Currently no method exist to use existing metadata from a remote source. The user has to redo the keywords.

### Expected Behaviour
Allow a user to use remote metadata example  what is happening in geosafe

##

[2016-11-23 13:52] Gustry commented on #3382
The affected postprocessor has been created.

[2016-11-23 13:52] #3382 closed

[2016-11-24 02:44] Charlotte-Morgan commented on #3360
Hi @timlinux - thanks for the feedback.

Can I please confirm a couple of points:
1. I think I understand that we need to use standard file names for icons to match the definitions.
Does this mean we need to add definitions for all things like adult, youth, elderly etc etc etc?
Do these belong in concepts.py or can we use fields.py ?

2. What is the format of the licence file?
I'm guessing it will

[2016-11-24 10:23] #3387 closed

[2016-11-24 10:40] ismailsunni commented on #3001
Hi @timlinux and @Gustry
I have another suggestion for this issue:
In the wizard, we use AnalysisHandler class to run the impact function. It only needs to :
1. Create the analysis handler
2. Setup and run the Impact Function
3. Set action for print and report composer button.

I think, we can do it also in Dock. So, Dock, will not call the Impact Function directly, but it will do the same  as the

[2016-11-24 13:16] timlinux commented on #3001
@ismailsunni sorry if its a bomb question - but why do we need analysis handler at all? Cant IF just handle all the activities of model execution + print production? I think it will be much cleaner and easier to explain / train people with...

[2016-11-24 14:41] ismailsunni commented on #3001
No worries, I like to discuss to prevent future problem :D

- model execution, yes the IF can do it. The AnalysisHandler will help to get the parameter to setup from dock and wizard. It's not a big benefit of using AnalysisHandler.
- print production. Currently, still no. I saw in the current state, the dock still handle it. Now, I remember that we want to put the print production in the Impact Fu

[2016-11-24 14:54] timlinux commented on #3001
Big +1 fro me. At the end of the IF run the dock / wizard could just ask the IF for its message and it can say whatever went right / wrong.

And yeah making pdf print happing in IF is a task for @lucernae

Thanks @ismailsunni

[2016-11-24 15:42] Gustry commented on #3001
So all the reporting should go in the IF ? (generate the report and print it to pdf)

Big +1 to manage exceptions in the IF it self. It's too much work for a client class now. We have many client : dock, wizard, command line, geosafe ...
The IF should have 3 states at the end :
* everything was fine, we display the report
* something went wrong from the user (invalid keywords, no features impacted

[2016-11-24 18:38] lucernae commented on #3001
For the printing part in the IF, yes we absolutely can do it.
Right now reporting logic is nicely separated (I already refactor some reporting logic in the dock). To move it to IF will be to just instantiate ImpactReport inside IF. Then have dock transferred user choices like chosen template or report location or needs profile, when the report is generated.
So, what can I think of about pdf printi

[2016-11-25 01:14] Charlotte-Morgan commented on #3475
cc @samnawi - you may like to think about this for Indonesian use cases. Do you have any comments?

[2016-11-25 10:02] ismailsunni commented on #3001
Hi @lucernae

Actually, I was thinking the IF will send signal that the interface (dock, wizard, headless, etc) can receive it. It will have all the message. Then the interface will need to connect the signal receiver to the correct method. For example, show to in the dock for Dock, stdout in the command line, depends on the interface.

By doing this, we don't need extra class.

Basically, I put @

[2016-11-25 11:58] NyakudyaA opened #3478 "Support metadata with different headers than the custom inasafe generated ones"
### Problem
Using a layer with metadata that is for instance generated with geonode does not work in inasafe because of the differences in the headers for the two metadata documents.  Currently  the only way to make geonode metadata usable in inasafe is to search and replace the headers and footers on the metadata record generated by csw.

Attached is the header that shows the main differences:
![

[2016-11-28 04:36] Charlotte-Morgan commented on #3285
Hi @lucernae - I just realised that this follow up work from the code sprint had not been assigned to you :(
Is it possible for you to review the edit requests and implement them soon. We would really like to wrap this work up by the end of the month to meet reporting requirements.
cc @timlinux

[2016-11-28 06:57] ivanbusthomi opened #3479 "We need to fix missing earthquake event in EQ Realtime"
### Problem
Due to the connection problem with BNPB server, some shake events are missing from EQ realtime. Now that the connection is already fixed again, we need to add the missing event to realtime so that the report of the event can be seen and tracked for future purposes.

The missing event ID is:
* 20161116211705
16-Nop-2016 Jam 22:10:11 WIB
Magnitudo 6.2 SR, 127 km Tenggara KAB-MALANG-JATIM

[2016-11-30 04:48] gubuntu opened #3480 "expand keyword creation wizard columns to fit window"
### Problem
in the two-column view used to assigned keywords to categories, if you expand the window, the columns widen but they remain the same height (sometimes they widen beyond the window, which might be related)

### Expected Behaviour
The column height should resize to fit the window, so the user can see the maximum number of categories

### Environment
* InaSAFE : 3.5.2
* QGIS : 2.14.7
* OS

[2016-11-30 04:52] gubuntu opened #3481 "key error when running IF"
### Problem

[code]

### Expected Behaviour

### Environment
* InaSAFE : 3.5.2
* QGIS : 2.14.7
* OS : Ubuntu 16.04
* Data used :
  * Exposure : osm_buildings (from PostGIS)
  * Hazard : osm floods
  * Aggregation : Tanzanian admin areas

### Proposed Solution

[2016-11-30 05:06] gubuntu opened #3482 "IF Wizard does not complete"
### Problem
When re-attempting the same analysis as #3481 fro the Wizard (and after changing the osm flood layer from generic to flood keywords), I get to the end of the wizard (choosing the aggregation layer) and hit next. All that happens is that the canvas is filled with another layer of blue each time I hit Next.

### Expected Behaviour
Complete the Wizard and start the analysis.

### Environm

[2016-11-30 14:34] timlinux commented on #3479
@lucernae can you look into this and respond please?

[2016-11-30 15:15] lucernae commented on #3479
Sorry, it's done. I forgot to close this.
http://realtime.inasafe.org/realtime/?sorts[time]=-1&perPage=20&queries[search]=20161116221011
http://realtime.inasafe.org/media/reports/earthquake/pdf/20161116221011-en.pdf

No event with that ID, but I found correct shake with the same timestamp.

[2016-11-30 15:15] #3479 closed

[2016-11-30 15:42] timlinux commented on #3479
Thanks @lucernae

[2016-12-01 03:24] ivanbusthomi commented on #3479
thanks mas @lucernae

[2016-12-01 03:43] ivanbusthomi commented on #3285
Hi @Charlotte-Morgan and @timlinux
I've already informed Ibu @estukriswati about the current state of the realtime volcanic ash website and also the report, and still waiting the feedback from her.

mas @lucernae , when I tried opening the report from the page, I keep receiving pop-up messages that the report is still being generated. When I tried checking the directory in *Home > Realtime Applica

[2016-12-01 05:43] #2839 closed

[2016-12-02 03:51] ivanbusthomi commented on #3285
## Status Update
Selamat Siang Ibu @estukriswati, Mas @willi09 and Mba @prastanti,
This is summary of some tweaks that has been added by Mas Rizky Maulana (@lucernae ) to the staging version of Realtime Volcanic Ash website based on our discussion in the Codesprint Meeting .
### Report Template
* Latitude and Longitude words on location section in the report has been removed.
![image](https://clou

[2016-12-02 04:07] Charlotte-Morgan commented on #3285
Wow - thanks @lucernae for fixing all these things and @ivanbusthomi for the update :)

[2016-12-02 07:30] timlinux commented on #3285
@lucernae yes thank you from me too - I know you had a lot going on this week so well done for your effort, and thanks to @ivanbusthomi for helping us to keep our eye on the ball

[2016-12-02 09:48] lucernae commented on #3285
I added a timezone field (Read only).
Just to make the user remember that the time he input is based on the timezone he currently in.
This is to fix some discrepancies with the timezone.
The time in the report itself will be displayed in WIB (GMT+07:00).
So, for example, if a mountain erupts at 15:00:00 in WIB, then if the user is filling the form from Makassar (GMT+08:00), then he should fill 16:

[2016-12-02 10:07] Charlotte-Morgan commented on #3285
Hi Rizky
Can you also look at the landing page and make the default order to have most recent reports on the top?
Thanks

[2016-12-06 07:24] timlinux commented on #3360
Hi @felix-yew and @Charlotte-Morgan

So here are my thoughts...

**PROS for using definition key based names:**

* changing or localising the icons (e.g. different symbol for rice in Japan than in Indonesia) will not need any code changes.
* we could mix icons from different sources yet still have a consistent icon naming scheme.
* cleaner definitions files - we don't need to litter SVG entries ar

[2016-12-06 08:46] felix-yew commented on #3360
Hi @Charlotte-Morgan ,

About the population and minimum needs, I have written the RFC at #3366

Hi @timlinux ,

Thank you for your feedback, a suggestion from you, we will need the patience to prepare it.

https://github.com/inasafe/inasafe_data/blob/master/exposure/DKI_buildings.lic
Its going to be a bit of work to create one for each file but it has the advantage that we can automatically test

[2016-12-06 10:00] Charlotte-Morgan commented on #3473
Hi @felix-yew - thanks for updating this ticket.
Can you please put the details about icons in the icons ticket for population and min needs #3360
This ticket is about the template - ie page layout can you please put your templates in here?

[2016-12-06 10:16] Charlotte-Morgan commented on #3360
Hi @timlinux  - thanks for the advice. Biggest con is it looks like we have a lot of work to do on this, and creating a burden to maintain.

* entry in concepts.py for every parameter we report against
* icon for each
* licence file for each

If all the icons are in one folder, can we make a single license file with records for each icon?

I agree with @felix-yew that the license file format may n

[2016-12-06 10:18] Charlotte-Morgan commented on #3366
@felix-yew - can you please put the final list of proposed icons with file names and where you got them in this ticket please so people can provide feedback on the suitability of the icons.

[2016-12-06 21:21] timlinux commented on #3360
I think the burden is less in my approach. In the one case we have the burden placed in creating lots of image entries in each dictionary so that we can reference it properly by name, in the other we need to rename the images to a standard naming and add some dictionary items.

Yes. I think a lot of these will go into the postprocessor definitions for example here: https://github.com/inasafe/inasa

[2016-12-06 21:24] timlinux commented on #3360
(concepts.py and other related definitions I meant to say above)

[2016-12-07 08:29] Charlotte-Morgan commented on #3285
Hi @lucernae, I notice on the upload ash button the use is asked to upload a collection of hazard files in zip format.  For volcanic ash realtime, we expect the user to upload a single tiff file. This is created using the ash modelling software and then the netcdf to tiff converter.  There will be only one file for each ash event entered by a user.  Could you please change the upload parameters to

[2016-12-08 07:37] felix-yew commented on #3473
Hi, @Charlotte-Morgan - about the template for population and minimum needs, I have an example of an infographic. First, we only represent the population and minimum needs data from InaSAFE analysis so it will be great if we can represent and print it into the fit size paper, like in A5 size (148 x 210 mm). I have an example of the pattern to show or represent the population and minimum needs anal

[2016-12-08 11:43] Gustry commented on #3480
I think it's a duplicate of https://github.com/inasafe/inasafe/issues/2975, I'm going to close this one.

[2016-12-08 11:43] #3480 closed

[2016-12-08 11:46] Gustry commented on #3481
I think you should try with InaSAFE v4. The code has been written from scratch.

[2016-12-08 11:50] Gustry commented on #3454
Can you apply the rounding if the debug mode is off ?

[2016-12-09 16:10] Charlotte-Morgan opened #3487 "Dock does not display selected impact layer results"
# Problem
The impact layer results in the dock do not reflect the results for the selected impact layer.

eg If an impact analysis eg area 1 is run the impact results are displayed correctly
If a subsequent impact analysis is run for area 2, the impact results are displayed in the dock.
If i then highlight / select the results for area 1 (previously saved as an impact layer.tiff) the results in th

[2016-12-09 16:18] Charlotte-Morgan opened #3488 "InaSAFE produced unexpected impact layers"
# problem - maybe
InaSAFE analysis produces 3 output layers
the expected impact layer
2 unexpected layers
![image](https://cloud.githubusercontent.com/assets/5743135/21056217/3de081ac-be67-11e6-9f7c-a6d1677f0846.png)

# Scenario
Aceh earthquake raster - downloaded via shakemap converter
Aceh raster population
Aceh admin boundaries

# Expected behaviour
Only a single impact layer will be produced

[2016-12-10 03:05] Charlotte-Morgan commented on #3488
This only happens with aggregation.

[2016-12-10 03:06] Charlotte-Morgan commented on #3487
Unable to replicate - possibly an issue with no space on drive. However, I'm pretty sure @fredychandra had this same issue on a different machine

[2016-12-11 05:01] Charlotte-Morgan opened #3489 "Incorrect analysis results"

[2016-12-11 07:15] Charlotte-Morgan commented on #3489
hi @dynaryu  - we might need your assistance on this one please

# cc
@RikkiWeber

[2016-12-11 09:14] Charlotte-Morgan commented on #3489
Advice from Jono is that not all affected people are displaced.
He thinks displaced comes in at MMI 6 (that would be bigger than 5)

in our notes and assumptions it states that:
people are displaced if they experience and survive a shake or more than 5 on the MMI scale
and
the maps show the estimated displaced population.

proposed solution:
calculate affected and displaced (should be different)
s

[2016-12-11 09:26] Charlotte-Morgan commented on #3489
Advice from David:
Go ahead and use > 5 MMI for impact map and to calculate min needs.

[2016-12-11 10:43] Charlotte-Morgan commented on #3489
# solution to be implemented
affected = displaced = MMI >5
this layer is used on impact map and to calc min needs by aggregation
This makes more sense than the current approach where affected = MMI > 2 and min needs are calculated for all these slightly shaken people

[2016-12-11 12:24] Charlotte-Morgan commented on #3488
Hmm - fixed this - these are the intermediate processing layers. Go to InaSAFE options and turn this off and they go away.
@fredychandra - I think you were confused by all these layers too?

[2016-12-11 12:24] #3488 closed

[2016-12-11 12:25] Charlotte-Morgan commented on #3487
@fredychandra  - please confirm you have this problem. If not we can close this

[2016-12-11 23:26] dynaryu commented on #3489
In the aggregation table, the number of people affected is just the sum of fatality and displaced, which should not be the case. Also computing of the number of people affected is not a part of the impact function and this calculation is taking place somewhere else.

[2016-12-12 20:54] timlinux commented on #3487
Just a note from me that I tried to replicate it with 3.5.3 but it behaves normally. I will stand by in case you figure out how to replicated it reliably.

[2016-12-13 13:07] Charlotte-Morgan commented on #3489
thanks @dynaryu  for the input - its great to see you here

[2016-12-13 16:08] timlinux opened #3492 "Please btsync share shakemaps-extracted for realtime"
### Problem

## Data Sync

We currently sync the grid inputs but I would like to have a synced folder of the

* PDF reports generated (I thought we already have a btsync share for this)
* the shakemaps-extracted folder - so that we can also have the derivative products.

Currently if someone asks for the extracted products we dont have a smooth way to provide them and also if we spin up a new serv

[2016-12-13 21:36] timlinux opened #3493 "z-order in realtime quake report seems incorrect"
### Problem

It looks like the MMI contours in our EQ realtime report are being obscured by land / population data:

From event 20161207050336:

![screen shot 2016-12-13 at 11 32 34 pm](https://cloud.githubusercontent.com/assets/178003/21160220/b1ff6d8c-c18c-11e6-9688-2b2019acb171.png)

Loading the same data in QGIS:

![screen shot 2016-12-13 at 11 32 20 pm](https://cloud.githubusercontent.com/ass

[2016-12-14 11:19] timlinux commented on #3489
Can we clarify the terminology then? I guess you mean:

* **affected** - anyone who was in a zone of shaking >= 2 (in reality 1.5 since step is 0.5)
* **displaced** - anyone who was in a shaking >= 6 (again actually 5.5 due to step size of 0.5)
* **fatalities** - anyone who was killed (based on fatality rate function)
* **???????** - combination of displaced and fatalities above

[2016-12-15 01:45] Charlotte-Morgan commented on #3489
Hi @timlinux - I think the terminology needs to align with our work in the standards.
.. \.qgis2\python\plugins\inasafe\safe\definitionsv4\concepts.py
We then need advice from hazard experts on what thresholds should be applied to those terms for their hazard.  GA will discuss this more once the dust settles and we have the chance to review.
I wonder if @dynaryu is aware of any literature that wou

[2016-12-15 01:48] Charlotte-Morgan commented on #3489
DMI received good feedback from UNOCHA on the InaSAFE analysis. They will use the estimated displaced data in the field to test assumptions about displacement and community behaviour vs DM preparedness assumptions.  We can expect some feedback from the actual data for displacement rates which we may choose to use in an update of the analysis and reporting.

[2016-12-15 01:50] Charlotte-Morgan commented on #3493
+1 to fix this - good catch thanks @timlinux

[2016-12-15 01:57] Charlotte-Morgan commented on #3492
sounds good - I definitely think we would like to make the MMI contours available and the named places.
I checked with @samnawi that named places are actual places and not polygon centroids - so I think this is ok.
@dynaryu @RikkiWeber - please advise if there are any issues with sharing the MMI contours generated in the InaSAFE realtime analysis

[2016-12-15 07:47] Gustry commented on #3465
The button should be back in develop.

[2016-12-15 07:47] #3465 closed

[2016-12-16 04:26] Charlotte-Morgan commented on #3487
Further note on this. The issue also relates to trying to save and share the analysis results as data. If we right click on the layer and save in QGIS and then let the data load in the map, the JSON file is not saved. However, with the new layer in the map if we click on it we still see results of a different layer in the dock and assumed the results we see in the doc were from the saved results.

[2016-12-16 04:27] Charlotte-Morgan opened #3496 "Rounding: EQ raster analysis on population report"
# problem
The earthquake raster on population raster analysis report results are not rounded. This may lead InaSAFE users to think that the results are more accurate than the modelled estimate intends.
These reports also include estimates of fatalities.

# proposed solution
The earthquake raster on pop raster reports should have the same rounding applied as in all other InaSAFE on population analy

[2016-12-16 04:42] Charlotte-Morgan opened #3497 "Default IF: EQ raster on population raster"
# problem
There are 3 EQ raster on raster population impact functions. The default is currently set as the ITB Fatality model. This is not the recommended model for the estimation of impact on people (ie fatalities and displacement).

# proposed solution
Following discussion with EQ experts at GA, we propose that the default IF be set as the ITB Bayesian Model

# cc
@RikkiWeber @dynaryu @griffij @

[2016-12-16 06:54] Charlotte-Morgan opened #3498 "Min Needs Calculator: py error and error handling"
# problem
the min needs calculator returns an error when supplied with data containing 0 and NULL values

# error message
[code]
# environment
QGIS 2.14.3
InaSAFE 3.5.3
Windows

# sample data
[20161216_0900_IDP_MinNeeds.zip](https://github.com/inasafe/inasafe/files/656564/20161216_0900_IDP_MinNeeds.zip)

# proposed solution 1
the min need calculator can handle real world data
if a 0 population is

[2016-12-16 07:03] Charlotte-Morgan opened #3499 "Min Needs Calculator: incomplete report"
# problem
The min needs calculator returns spatial data with values for min needs but has no reference to the input fields. eg attribute table of output data
![image](https://cloud.githubusercontent.com/assets/5743135/21254575/c5c20bfa-c398-11e6-865c-8364a783cddd.png)

see #3498 for sample input data

# proposed solution - part 1
Include the input fields in the output results
![image](https://clou

[2016-12-16 07:14] timlinux commented on #3487
Ah ok that makes sense. I think we should keep this open and patch the custom save as slot we have to make sure that it also copies over the JSON. @Gustry can you take care of that while you are refactoring the dock?

[2016-12-16 07:22] Gustry commented on #3487
Nice catch ! Yes we can use the signal. But I'm wondering if we keep the JSON file for inasafe v4 ?

[2016-12-16 13:57] Gustry commented on #3375
Have a look on https://github.com/inasafe/inasafe/issues/3497 for the default EQ

[2016-12-17 08:49] timlinux commented on #3499
@ismailsunni can confirm but in 4.0 all these additional data should be written in the attribute table and not only in the JSON. So the question is do you need a quicker short term fix? We could as a quick fix write out the needs data to a caveat file...

[2016-12-17 08:49] timlinux commented on #3499
Sorry I meant CSV file

[2016-12-17 09:18] timlinux commented on #3498
@ismailsunni can you please take a look?

[2016-12-18 22:20] ismailsunni opened #3505 "Support Multiband Datasets"
### Problem
From @vdeparday and @timlinux 's email:

On the historical notes, we had this support in the old InaSAFE but was not used (and I am not sure whether it work properly or not).

### Proposed solution
From @timlinux:
- Add keyword to indicate which band is being used.

Old InaSAFE's approach:
There were one keyword set per band.

cc @timlinux @vdeparday @Charlotte-Morgan

[2016-12-18 22:32] ismailsunni opened #3506 "Option for All Feature has the Same Hazard Level"
### Problem
From @vdeparday and @timlinux 's email:

Sample case: A user has a flood layer, but there is no field that indicate the level or the hazard level. He/she knows that all polygons (features) have the same hazard level, which is wet.

### Proposed solution
I suggest we put this feature in the future hazard generation tool (see: #3367). My reason is:
- The layer doesn't have hazard field,

[2016-12-19 01:07] ismailsunni commented on #3498
Hi @Charlotte-Morgan
I tried the data but couldn't replicate the error. I have also tried with Null and 0 data, but it still give me fine result. The Null is calculated as 0, but no error message.

I will make a fix to return Null for Null value and put it in 3.5.5 release.

Looking at your path of file, there might be a permission problem. Can you try it again after copying the file to another pl

[2016-12-19 01:16] Charlotte-Morgan commented on #3498
Hi @ismailsunni  - my apologies, I thought I shared the data that caused the problem in the original ticket.

Please try this one.  The IDP count is in the field IDP_16Dec
[IDP_SubDistrictReports.zip](https://github.com/inasafe/inasafe/files/659845/IDP_SubDistrictReports.zip)

[2016-12-19 01:58] ismailsunni commented on #3498
Hi @Charlotte-Morgan

I have tried that one, it gives me no error but all null set to zero.

[2016-12-19 02:03] Charlotte-Morgan commented on #3498
@felix-yew  - can you please take a look at this and see if you can replicate the error I reported - ie do you get a python error?

[2016-12-19 05:19] felix-yew commented on #3498
Hi @Charlotte-Morgan and mas @ismailsunni

I try the IDP data from Charlotte (IDP_SubDistrictReports.zip) and run it with InaSAFE 3.5.3 and QGIS 2.14.7 get some error
[code]

But, if I run this data with InaSAFE 3.5.4 and QGIS 2.14.7, it has a result like this:
![image](https://cloud.githubusercontent.com/assets/13621886/21301986/ffeca972-c5e4-11e6-8b53-e71b62ad4abb.png)

[2016-12-19 05:45] Charlotte-Morgan commented on #3498
@felix-yew  - you are telling me its fixed in 3.5.4?
That is good :)

[2016-12-19 06:22] Charlotte-Morgan commented on #3498
@ismailsunni  - i can confirm that in 3.5.4 the python error is fixed. I would still prefer that if input is NULL then output is NULL and if input is 0 output is 0

[2016-12-19 06:24] Charlotte-Morgan commented on #3285
Hi @lucernae  - please remove reference to zip file in the upload page. This is misleading for users. thank you

[2016-12-19 06:27] lucernae commented on #3285
@Charlotte-Morgan I'm trying to fix it with some other bug in the report. Also, just for confirmations: do I need to accomodate shapefile too now?

[2016-12-19 06:29] Charlotte-Morgan commented on #3285
@lucernae  - please see my comment above. The only input for now is *.tiff file.

[2016-12-19 06:38] ismailsunni commented on #3498
@Charlotte-Morgan yes, agree. I am investigating to make NULL return NULL now. It's harder than I imagine due to the custom vector layer from Ole :)

[2016-12-19 08:24] felix-yew commented on #3473
Another mock up of infographic report:
![people and minimum needs 3](https://cloud.githubusercontent.com/assets/13621886/21305140/5865f2b8-c5fc-11e6-9bc2-0f43d53e7f83.png)

Or,
![people and minimum needs 4](https://cloud.githubusercontent.com/assets/13621886/21305164/7ec8bd32-c5fc-11e6-910d-466687258240.png)

Consider with another template:

- The number of people and vulnerability affected use ro

[2016-12-19 12:27] timlinux commented on #3473
Just a note to say this is on our radar @felix-yew - Rizky is going to respond with more detailed feedback. I would just like to clarify how you envisage the workflow here: Do you intend the user should see this in the dock widget (I would very much like this)? If se we also need to consider that we will need a vertical layout version of this. I asked @lucernae to use some responsive styling so th

[2016-12-19 13:54] timlinux commented on #3492
OK thanks - we will await any feedback from @dynaryu and @RikkiWeber and then go for it...

[2016-12-20 01:50] felix-yew commented on #3473
Hi, @timlinux - thank you for your feedback.

That is a great idea if the user can see the infographic in the dock widget, although the user can also print the result, too?. I will try to create a vertical layout. After I finish the vertical template, I will share it again.

[2016-12-20 09:02] Charlotte-Morgan commented on #3473
Hi @timlinux and @felix-yew - the intention here was to produce a template for a page layout in the first instance to 1) test if its possible to make the graphic elements - @lucernae to provide advice; and 2) as a demonstration of new functionality to be released in v4.0 in January.

@felix-yew, based on the purpose of this work, making a vertical template is not a priority.

[2016-12-20 09:06] Charlotte-Morgan commented on #3473
@felix-yew  - I really like the changes you made to the template to use panels to highlight elements and to change the emphasis of the icons and text. - I think it looks good.  Can you please make sure that the icons and sources are all documented for this one example so that we can add them to the code?

[2016-12-20 09:27] felix-yew commented on #3473
Hi, @Charlotte-Morgan -

The icons support already created in #3366 . I only modify for the adult's icon, unify the icons of man and woman (Source: UNOCHA) and the icons are in the same tickets #3366 .

[2016-12-20 09:30] Charlotte-Morgan commented on #3473
Hey @felix-yew  - that is great. What about the 'default size' of icons - did you make some smaller

[2016-12-20 09:55] timlinux commented on #3473
@Charlotte-Morgan ok sounds good - @lucernae take note of her comments above and focus only on the print layout for now.

[2016-12-20 10:25] Charlotte-Morgan commented on #3473
@timlinux @lucernae  - i was not expecting this to be implemented till 4.0 release.
ie none of the work to load the icons or document them has been done yet

[2016-12-20 18:52] lucernae commented on #3473
@felix-yew so, what @timlinux meant by print layout is basically we might want to support different layout for the infographic. For example, this is a landscape version of the report. But in InaSAFE's dock, the report needs to be in portrait orientation if we want to show it in the dock. It is just about the arrangement of the elements. Something like **Responsive Web Design**, it doesn't have to

[2016-12-21 01:05] Charlotte-Morgan commented on #3473
hi @lucernae, @felix-yew @timlinux - we need to be clear on our intention here. Maybe I can explain.
Imagine you are walking though a market and someone offers you a taste of the latest tasty snacks ... mmmm ... yum. You like it and you decide you want to buy snacks to share with your friends; but the company is not ready to go into production, they are just testing the market. They have many snac

[2016-12-21 01:06] Charlotte-Morgan commented on #3360
@timlinux  - can we please discuss this so we are clear on how to progress. See #3473

[2016-12-21 01:13] Charlotte-Morgan commented on #3473
@lucernae - I think we would like some assurance from you that the elements proposed in the RFC and tickets are possible - do you have feedback for us?
`It is just about the arrangement of the elements. `

[2016-12-21 05:32] timlinux commented on #3473
@Charlotte-Morgan understood:

* we are going to focus on producing an A4 Landscape only for 4.0 final

[2016-12-21 08:50] Charlotte-Morgan commented on #3473
hi @felix-yew - I am looking at the population icons and I do not have the 'people icon" in the #3366 files

[2016-12-22 06:03] #3366 closed

[2017-01-03 13:15] Gustry opened #3531 "We need to review the inasafe command line"
### Problem

InaSAFE command line is not using the version 4.

[2017-01-04 19:25] mbernasocchi opened #3533 "KW dialogs layout does not resize properly"
### Problem
KW dialogs layout does not resize properly and does not take up all available space. seems like the QDialog was not given a base layout
![screenshot from 2017-01-04 20-20-35](https://cloud.githubusercontent.com/assets/233663/21655813/d35335be-d2bb-11e6-9a2b-d6cbd95ea6cf.png)

### Expected Behaviour
the content should resize nicely

### Environment
* InaSAFE : ee117250efb8aba012fb4c7b2b

[2017-01-04 21:34] timlinux commented on #3533
I'm on ee117250e too and don't have the problem. In the past we had a lot of issues trying to manage the size of the wizard on small displays - the content that gets placed in the dialog is extremely variable. Our main fix is to use a scrollbox underneath the top level layout (which we do have as you can see in this image).

![qgis](https://cloud.githubusercontent.com/assets/178003/21660026/428e05

[2017-01-05 17:32] Gustry opened #3538 "Some cosmetics on the default values window"
### Problem
![screen shot 2017-01-05 at 18 16 14](https://cloud.githubusercontent.com/assets/1609292/21690175/6628e598-d373-11e6-987e-c67a99770aaa.png)

* [x] Items are not ordered. Adult, Elderly and Youth are at the top. Youth is at the bottom.
* [ ] The UI with the sentence just after each item is misleading. I often think the text is a title for the next item but it's not. The text explains th

[2017-01-06 11:05] mbernasocchi opened #3540 "KW wizard threshold step wrong behavior when classes are higher than the max value in data"
### Problem
when classes thresholds are higher than the max value in the data, all the thresholds are set to the max value from the data. This results in an incomprehensible dialog where the user does not know in which class the max value will land.
![blob](https://cloud.githubusercontent.com/assets/233663/21715960/b8354c16-d407-11e6-8702-0aaf65d897c9.png)

### Expected Behaviour
the classes thres

[2017-01-09 03:38] timlinux opened #3545 "Shake grid convertor keywords need to be updated for V4"
### Problem

The shake grid convertor tool needs to be updated to work with InaSAFE v4. This should mainly entail updating the generated keywords.

### Expected Behaviour

Extractor should work in V4

[2017-01-09 03:56] timlinux commented on #3545
Tested and confirm this already works in V4

[2017-01-09 03:56] #3545 closed

[2017-01-09 04:11] timlinux opened #3548 "Editorial review needed for definitions"
### Problem

We need to review definitions and make sure the language is all neat & tidy.

### Proposed Solution

Make it nice!

[2017-01-09 11:41] Gustry opened #3552 "We need to fix the minimum calculator"
We need to fix the minimum need calculator to use the new architecture :
* remove the `Vector` layer.
* need to use the new minimum needs postprocessor.

[2017-01-09 11:44] Gustry opened #3553 "Percentage of evacuated people is missing in V4"
### Problem

In InaSAFE 3, we had the number of people who need evacuation based on a percentage.
This feature is missing in the V4.

[2017-01-10 02:52] ismailsunni opened #3555 "Skip Step in Wizards which Can be Skipped"
Example:

![](https://files.gitter.im/inasafe/inasafe/QOj5/Screen-Shot-2017-01-10-at-09.47.20.png)

[2017-01-10 05:43] ismailsunni commented on #3540
Fixed.

[2017-01-10 05:43] #3540 closed

[2017-01-10 08:23] timlinux opened #3559 "We need to clarify why we use median on EQ fatality calculations"
### Problem

In https://github.com/inasafe/inasafe/blob/version-3_5_4/safe/impact_functions/earthquake/itb_earthquake_fatality_model/impact_function.py#L283 median is used on the fatalities array before fatalities are subtracted from exposed.

[code]

It would be good to clarify with a comment why we subtract the median of fatalities rather just the fatalities themselves.

CC @Charlotte-Morgan @wo

[2017-01-10 08:25] Charlotte-Morgan commented on #3559
@dynaryu @RikkiWeber - greatful if you can please review and discuss with EQ experts at GA to provide advice this week as we march toward InaSAFE 4.0 release

[2017-01-10 10:02] ismailsunni opened #3560 "Support Exposure Spesific Hazard Classification"
### Problem
Currently we use the same classification for all exposure layer in the analysis. In fact, 1 meter flood has higher level hazard to population than structure.

### Expected Behaviour
We need to support exposure specifit hazard classification (including value mapping for classified hazard and threshold mapping for continuous hazard layer).

### Proposed Solution
To support this feature w

[2017-01-10 11:10] ismailsunni opened #3561 "Update Keyword wizard to assign multiple hazard classifcation"
### Problem
See #3560

### Proposed Solution
In the keywords wizard for hazard layer, we need a step to assign classification for each exposure layer, and then set the threshold or value mapping. Based on discussion with @timlinux , we come out with this wireframe:

![wizard_multiple_hazard_classifications](https://cloud.githubusercontent.com/assets/1421861/21804117/d9eb1dee-d75f-11e6-8173-36292c5

[2017-01-11 02:03] ismailsunni opened #3563 "Add support to store multiple hazard classification in hazard layer metadata"
### Problem
See #3560

### Proposed Solution
[code]

There is no support for multiple threshold or multiple value maps for a exposure. If it's ok, we can add it later to do the single threshold for a exposure.

Updated: Adding support for multiple valuemaps and threshold for each exposure.

cc @timlinux @Charlotte-Morgan @Gustry @lucernae

[2017-01-11 02:57] timlinux commented on #3561
Note that we will assume that the same field is used for all thresholds.

[2017-01-11 08:50] Charlotte-Morgan commented on #3472
hi @lucernae  - this is the ticket with the proposed requirements for graphic elements. Once we have your advice on whether this is possible we can be more specific with the templates and ideas we prepare.

@timlinux  - FYI

[2017-01-11 10:00] samnawi opened #3570 "Error Message on Population Ratio with Aggregation Ratio"
### Problem
Currently, we can set up the ratio or count field for female, youth, adult, and elderly in both of population vector keyword and aggregation keyword to enrich the report.

![image](https://cloud.githubusercontent.com/assets/8871958/21842692/82a80e00-d81a-11e6-8c7a-0b3c8ac8de31.png)

But, when I try to run the analysis using population that already set the ratio and aggregation that alr

[2017-01-12 01:55] ivanbusthomi opened #3572 "We need to update map report for version 4"
### Problem
Currently, our map report does not contain data source and spatial reference. This information may help users to better understand the context of the event and how the analysis is prepared in the background.
This is the link to the reporting standard for reference
https://github.com/inasafe/inasafe/blob/develop/docs/reporting-standards.md

### Expected Behaviour
Map report should displ

[2017-01-12 02:00] ivanbusthomi commented on #3572
I have created some template that contains additional information and some other few changes. The template that I update are the size A4-blue portrait and landscape template. It should be easily adapted to the A3 size
* this is the portrait
![a4_portrait_v2](https://cloud.githubusercontent.com/assets/7351977/21874093/6fef120a-d8a5-11e6-883a-0662e428d8f7.png)

* this is the landscape
![a4_landscape

[2017-01-12 02:21] ivanbusthomi commented on #3572
These are some changes that I proposed:
* update legend information according to the reporting standard
![image](https://cloud.githubusercontent.com/assets/7351977/21874323/f1756ff8-d8a6-11e6-9004-91c67946cd6d.png)

* Additional information in the analysis information
![image](https://cloud.githubusercontent.com/assets/7351977/21874442/8048dcf6-d8a7-11e6-8890-a3638c50f25e.png)

* a few changes in

[2017-01-12 02:22] ismailsunni opened #3574 "Create Unit Test based on JSON for Keyword Wizard"
### Problem
Currently, we create one unit test for each scenario. It will be better if we can do the similar thing like in test scenario in impact function where we use json to set up the scenario and check the state of the wizard.

The challange is how to give input to the wizard for each step and put it in the same json scenario file.

This is great idea from @Gustry, but we will postpone it til

[2017-01-12 02:31] Charlotte-Morgan commented on #3285
@lucernae - we would really like to see these fixes implemented so that we can work with partners to deliver this product.

@timlinux

[2017-01-12 02:52] lucernae commented on #3472
My feedback on this:

# requirements for donut graphic

* What happened if the slice is very small and the labels doesn't fit?
* Does it mean the percentage and labels is inside the slice (in the sample, it was outside). Labels in the outside might be difficult to implement if it doesn't have any rule.

# requirements for scalable icons

* have fixed size for whole population (can be implemented)

[2017-01-12 03:07] lucernae commented on #3572
* What is the rounding rule when it is not a population exposure?
* Have you already made the qpt template?

[2017-01-12 03:31] lucernae commented on #3285
If it's a priority, I can work on this first.

[2017-01-12 03:33] ivanbusthomi commented on #3572
I need to check with the standard first.

I've created the template, but I haven't tokenized it yet. I will upload the tokenized template here. Do you think all of those suggestions are possible?

[2017-01-12 03:44] lucernae commented on #3572
I need to check the legend thing to know that it is possible to put the number there. I do think it is possible though, but the legend is coming from the layer, so I think the legend in qgis will have to be changed too.

For the analysis information, it is possible. @ismailsunni is making some of the text available for me to put in the report (like analysis time).

[2017-01-12 04:14] wonder-sk commented on #3559
Doing more inspection of the code, I have realized that the ITB "standard" model and Pager model assign a scalar value for displacement rate for each MMI level, however in ITB Bayesian model, the displacement rate for each MMI level is a vector of 15999 elements (the code reads the vectors from an auxiliary file worden_berngamma_log_fat_rate_inasafe_10.csv).

The variable "fatalities" is calculate

[2017-01-12 04:37] wonder-sk commented on #3103
Calculation of number of displaced people is not consistent with the way how number of fatalities is calculated, leading to these negative results.

For displaced people the impact function sums up medians of a fatality rate vectors. For fatalities it is the other way round: the vectors are first summed up and then the median is calculated.

Related issue: #3559

[2017-01-12 07:42] ismailsunni commented on #3559
+1

[2017-01-12 08:56] ismailsunni opened #3579 "Checklist - suggestion for InaSAFE Wizard"
From our meeting on Monday, 9 January 2016

- [x] Is the max included in the threshold range? Perhaps put < or <= sign,
- [x] Rename Setting as Global Default
- [ ] Fix combo box in field, to show all option at once. #4028
- [x] Aggregation ID shown in exposure layer keywords. (Fixed in #3577)
- [ ] Add setting to choose currency
- [ ] Make the description lower case in Default Values Setting #402

[2017-01-12 10:21] ismailsunni commented on #3555
Closed in #3568

[2017-01-12 10:21] #3555 closed

[2017-01-13 00:11] dynaryu commented on #3559
The ITB bayesian model provides a distribution of fatalities, instead of a scalar value. If the distribution is used, then the number of displaced also has a distribution.

[2017-01-13 01:28] ivanbusthomi commented on #3572
Hi mas @lucernae , this is the tokenized template for a4 portrait and landscape
[final_template.zip](https://github.com/inasafe/inasafe/files/703305/final_template.zip)

and this is the updated supporter logo. @Charlotte-Morgan, is this OK?
![updated-supporters](https://cloud.githubusercontent.com/assets/7351977/21915082/12796c0e-d96a-11e6-982f-51b0e91f3dde.jpg)

[2017-01-13 02:56] wonder-sk commented on #3559
hi @dynaryu thanks for the clarifications!

The way how number of displaced people is calculated is indeed inconsistent with calculation of fatalities - see #3103.

Would it be possible to shed some more light on the associated data in the file ```worden_berngamma_log_fat_rate_inasafe_10.csv``` ? I understand that each column represents one MMI level and each level's fatality rate is modeled as a

[2017-01-13 02:59] Charlotte-Morgan commented on #3559
hi @dynaryu  - can you please pass this request to Hadi if you prefer.

@RikkiWeber

[2017-01-13 05:06] timlinux opened #3586 "Move realtime to its own repo"
### Problem

* Realtime still uses the old InaSAFE logic - which we will probably keep in place for now until 4.0 is considered stable.
* Realtime is also very much a discrete project with specific interest to Indonesian audience.
* Realtime still uses inasafe_data for testing which is undesirable for the main code tree since we are deprecating the use of large datasets in testing.

### Proposed S

[2017-01-13 06:07] Gustry commented on #3586
Maybe you can have a look @myarjunar ? ;-)

[2017-01-13 07:07] Gustry commented on #3559
@wonder-sk made some testing in the PR below :

Testing results:
- Padang earthquake scenario
- extent 100.2077, -1.0384, 100.5444, -0.7960
- no aggregation

| value    | PR #3581 InaSAFE 4.0 | InaSAFE 3.5 |
|----------|---------|-------------|
| exposed  | 935,717 | 935,386     |
| fatalities ITB      | 387     | 387         |
| fatalities PAGER    | 123     | 124         |
| fatalities BAYES

[2017-01-13 07:16] ismailsunni commented on #3579
cc @samnawi and @felix-yew and @ivanbusthomi

[2017-01-13 07:17] ismailsunni commented on #3560
cc @samnawi and @felix-yew and @ivanbusthomi

[2017-01-13 07:17] ismailsunni commented on #3561
cc @samnawi and @felix-yew and @ivanbusthomi

[2017-01-13 07:17] ismailsunni commented on #3563
cc @samnawi and @felix-yew and @ivanbusthomi

[2017-01-13 08:18] Charlotte-Morgan commented on #3579
Some thoughts on the process of assigning key words to continuous population vector count data with the following attributes: id, village, total_pop, female, youth, adult, elderly.

Stepping through the KW wizard: exposure: population: continuous: count:
In the next step I think this should ask "Please select the attribute in this layer that represents the **total** number of people"
**Next step**

[2017-01-13 08:37] Charlotte-Morgan commented on #3579
The same comment applies to the key words for **aggregation** - however this is a little different because aggregation data do not have units therefore it is possible for someone to have count or ratio data in aggregation layers & possibly a combination of both. ie total_pop count and female ratio in a single layer.

Stepping through the wizard: exposure; aggregation
Is it possible to use the next

[2017-01-13 08:40] Charlotte-Morgan commented on #3579
Please remove the population count and ratio screens from the key words for **buildings.**
Please put the exposure id and feature rate in a screen after the selection of the classes and the remapping screen.

[2017-01-13 08:55] Charlotte-Morgan commented on #3579
Please remove the population count and ratio screens from the key words for **land cover**
Please add a screen for exposure ID and feature rate as the penultimate screen in the wizard

[2017-01-13 09:01] Charlotte-Morgan commented on #3579
Please remove the population count and ratio screens from the key words for places. This attribution is not currently supported and there is no plan to document or report against it.  It would be useful to have support for population exposure data as raster, vector poly and vector point in the future; but probably not as a 'place' exposure layer which is about showing the name of a location or air

[2017-01-13 09:02] lucernae opened #3588 "Reporting papercut"
Infographic papercut check lists.

- [x] Exposure count in legend in Map Report
- [x] Provenance in Map Report
- [x] SVG file in HtmlFrame wasn't rendered in QtWebView (no alternatives)
- [x] SVG file in HtmlFrame wasn't rendered in QGIS Composer PDF (alternative: use QtPicture, but will not become a dynamic report)
- [x] SVG tag in HtmlFrame wasn't rendered in QGIS Composer PDF (alternative: use

[2017-01-13 09:04] Charlotte-Morgan commented on #3579
In the key words wizard for roads; please add the request to identify the exposure ID to the feature rate screen,

[2017-01-13 09:04] Charlotte-Morgan opened #3589 "Feature rate - post processor"
Some thoughts on the feature rate concept.
As well as asking users in the key words which field has the feature rate, should we also ask them the units that apply to the rate ie m2 or hectares or km 2

We should also consider that it may tke 2 fields to determine the value of something
eg in landcover there may be more than one rate one for yield in tonnes per hectare  and one for crop value in cu

[2017-01-13 09:14] Charlotte-Morgan commented on #3572
Thanks @ivanbusthomi for the work on this.  I think the BNPB logos looks a bit bigger than the others. You might want to check the visual size as opposed to the file extent if you understand :) the Crest may have white space.
The order is perfect and its good to have World Bank logo stacked.

[2017-01-13 09:15] Charlotte-Morgan commented on #3572
I've added @lucernae to the assignees - I hope this is ok :)

[2017-01-13 09:21] lucernae commented on #3572
Yes, of course it is ok :)

[2017-01-13 09:56] wonder-sk commented on #3559
@dynaryu I am not sure I understand the question... do you mean simply the probability "fatalities / exposed" from the numbers reported above? Or fatality rates for individual MMI levels? Or something else?

[2017-01-13 10:56] samnawi commented on #3572
Hi...

I just have some thoughts about the template :
1. Should we keep the hazard in the map and legend?
2. For population style, I think it's better to show it just in **one color (using hash style) (for "affected = true")**. In my opinion, we will visualize the information in the map, and the focus in the population analysis to show the location of the people live and affected. So, the user can

[2017-01-13 11:10] dynaryu commented on #3559
@wonder-sk
The file named "Worden_berngamma_log_fat_rate_inasafe_10.csv" contains sampled fatality rate per each mmi bin. The methodology is described in the paper entitled "An Empirical Fatality Model for Indonesia Based on a Bayesian Approach", which will be published in Geohazards in Indonesia: Earth Science for Disaster Risk Reduction (https://www.geolsoc.org.uk/SP441).

The output that I'd li

[2017-01-13 11:29] Charlotte-Morgan commented on #3084
hi @timlinux  - I guess this is the sort of thing we are looking to have implemented in version 4.0

[2017-01-13 11:43] wonder-sk commented on #3559
I have not ported that code to InaSAFE 4 yet, so there is not much to compare there. The results from prob_fality_mag have not been used in the EQ impact report in InaSAFE 3.5, so I skipped that bit for now. If it is decided to switch the reporting of fatalities to PAGER-like output with magnitudes, I will of course reintroduce that code.

Is there any chance to get hold of the paper before it is

[2017-01-13 20:30] dynaryu commented on #3559
@wonder-sk  Actually, the sampled mmi per mmi can be approximated by a known distribution, but I did not. You can find the draft version of the paper here (https://www.dropbox.com/s/bo5dylilol0djtg/SengaraEtAl_FatalityPaper_revision_August2016.pdf?dl=0).

[2017-01-15 04:21] ismailsunni commented on #3586
Hi @myarjunar
I write some step by step to help you address to move inasafe realtime to https://github.com/inasafe/inasafe-realtime
1. Clone InaSAFE repository to your local machine, but only the realtime directory (to keep the history of realtime directory).
2. Fork InaSAFE Realtime repository
3. Add your InaSAFE repository as remote repository for first step
4. Fetch and merge InaSAFE Realtime r

[2017-01-15 06:07] Gustry commented on #3586
Thanks @ismailsunni. I don't see or understand when you need to add the inasafe submodule with the 3.5 version.

9. We can add [landscape](https://landscape.io/dashboard) to the realtime repo.

[2017-01-15 07:38] ismailsunni commented on #3586
Ah yes, I forget to write that

10. Add InaSAFE 3.5 version as submodule

[2017-01-16 07:15] Charlotte-Morgan commented on #2920
hi @felix-yew - can you please share all the links to the documents that are used to make the tables and pictures in this ticket so we can edit and update images please?

[2017-01-16 07:38] felix-yew commented on #2920
Hi @Charlotte-Morgan - this is the shared document

https://docs.google.com/document/d/1dAM4j05vpE6kUChMjjWsHwfmN4AtiP7xuimfoB2JyPM/edit?usp=sharing

[2017-01-16 07:38] Charlotte-Morgan commented on #3498
hi @timlinux - this was related to the Min Needs tool

[2017-01-16 07:39] Charlotte-Morgan commented on #3499
@timlinux - this is also for the min needs tool

[2017-01-16 08:10] samnawi opened #3600 "Some of the Input For IFCW 4.0"
### Problem

![image](https://cloud.githubusercontent.com/assets/8871958/21975039/f56bd7c4-dbfc-11e6-86c9-7084c4e2c2a5.png)

Today, I and @felix-yew  doing a quick view of the IFCW to be ready to release in the beta 2 version.
After we discuss with @Charlotte-Morgan we have some proposed to do soon, and to do later.

**Soon**
1. Disable Place for all hazard
2. Disable Road for cyclone
3. Disable l

[2017-01-16 08:15] Charlotte-Morgan commented on #2920
thanks - and the one for the legend examples - we need to update examples to show rounding

[2017-01-16 08:22] Charlotte-Morgan commented on #3600
Thanks @felix-yew and @samnawi - this is a good summary.
The reason we ask for some things to be disabled is because we do not have that data type - eg volcano raster  and landcover raster; or we have no intention to generate notes and action lists such as for place.
With cyclone hazard , the advice is that it is expected to run on buildings, population and landcover.

[2017-01-16 08:32] wonder-sk commented on #3559
@dynaryu Many thanks for the link to the paper. So if I understand correctly, the values are random samples from the mixed Bernoulli/log-normal distribution as given in Eq.1 in the paper, with fixed values of parameters mu, sigma and p. Is that correct? If it is, I would be keen to update the code to draw samples from that distribution as needed rather than reading pre-generated samples every time

[2017-01-16 08:49] ismailsunni commented on #3600
@samnawi
I have addressed  1, 3, 4, 5 on #3601. Can you check?

[2017-01-16 09:43] felix-yew commented on #2920
Ok - or I can help to revise the legend examples?

[2017-01-16 17:13] timlinux commented on #3499
@myarjunar Probably this is for you since you will be looking at this tool

[2017-01-16 17:14] timlinux commented on #3498
@myarjunar For you to look at when you are looking at minimum needs....

[2017-01-17 01:40] Gustry commented on #3552
As you will look to the postprocessor tool @myarjunar, I put your name ;-)

[2017-01-17 02:26] ismailsunni commented on #3586
It has been moved now by @myarjunar

Last step, remove realtime directory from InaSAFE code.

[2017-01-17 03:39] Charlotte-Morgan opened #3606 "Fix the dock logo"
# Problem
We have a new partner logo in the dock.  The logo is very low resolution and appears pixellated on the screen.

![image](https://cloud.githubusercontent.com/assets/5743135/22007086/c14790fe-dca2-11e6-8910-568c1dfedc3b.png)

The new logo in the dock is the draft logo included on the draft map template being developed by @ivanbusthomi for version 4.0 #3572; however this has not been docume

[2017-01-17 03:52] lucernae opened #3607 "Needs value for hygiene packs and weekly rice for pregnant and lactating women"
CC @Charlotte-Morgan

I just need to know/confirm the value of these minimum needs (based on number of females displaced):

1. Weekly hygiene packs:

[code]

   in the code:
   displaced female * 0.7937 * ( 7 days / 7 days)

2. Additional weekly rice for pregnant and lactating women:
    in the code:
    rice for lactating women = displaced female * 2 * 0.033782
    rice for pregnant women = displ

[2017-01-17 03:55] Charlotte-Morgan commented on #3607
@samnawi  - can you please check this one for @lucernae ?

[2017-01-17 04:12] ivanbusthomi commented on #3606
Hi @Charlotte-Morgan , I noticed that I forgot to add the "InaSAFE Supporter" text from our old logo. Do you still want to add it in the new one?
![image](https://cloud.githubusercontent.com/assets/7351977/22007528/dd84a826-dca5-11e6-840a-ab0d3d347c7f.png)

[2017-01-17 04:17] timlinux commented on #3606
How does this look @Charlotte-Morgan and @ivanbusthomi ?
![screen shot 2017-01-17 at 11 10 51 am](https://cloud.githubusercontent.com/assets/178003/22007592/798fc6ce-dca6-11e6-8f08-5f20e3ce81a0.png)

[2017-01-17 04:18] timlinux commented on #3606
If we really want good quality we should probably think about tweaking InaSAFE to have a low res supporters logo for the dock and a hi-res logo for reports.

[2017-01-17 04:20] timlinux commented on #23
Yay we can do this in version 4!

[2017-01-17 04:20] #23 closed

[2017-01-17 04:23] timlinux commented on #62
Closing as old

[2017-01-17 04:23] #62 closed

[2017-01-17 04:24] timlinux commented on #81
I'm closing this as old. We did have the impact merge tool but it was removed in 3.5. In the future we can look at re-instating it using 4.0 architecture.

[2017-01-17 04:24] #81 closed

[2017-01-17 04:24] ivanbusthomi commented on #3606
I was also thinking that might be the issue why the current new logo looks a bit odd because it is from the high-resolution

[2017-01-17 04:25] timlinux commented on #123
I'm closing this - counts are dealt with using zonal stats in InaSAFE 4.0 (or aligned rasters in EQ on Pop specific scenario). We can open up a new ticket there if we encounter any issues.

[2017-01-17 04:25] #123 closed

[2017-01-17 04:28] timlinux commented on #129
I'm closing this off - standards for this are maintained in https://github.com/inasafe/inasafe/wiki/Coding-Standards#standard-headers

Devs should incrementally improve existing headers as they work on modules.

@ismailsunni yes the copyright should reflect the year when the module is created.

[2017-01-17 04:28] #129 closed

[2017-01-17 04:32] timlinux commented on #164
I'm closing this. Symbology rules are defined in docs/standards.md  - see also #2828

[2017-01-17 04:32] #164 closed

[2017-01-17 04:33] samnawi commented on #3607
OK @Charlotte-Morgan I'll check it

[2017-01-17 04:34] timlinux commented on #190
I'm closing this. I dont think it is good to invest any more time in it right now since we have moved on to Travis CI, Landscape and friends.

[2017-01-17 04:34] #190 closed

[2017-01-17 04:36] lucernae opened #3610 "Rethink about minimum needs behaviour"
Right now we had several issues:

**Problem**

- Minimum needs is calculated pretty much like post processors but it is being defined as ResourceParameter
- Minimum needs have additional informations such as unit, but post processor does not. It is possible to add unit key in the field or in post processors
- Minimum needs can be configured by user. This makes their post processor needs to be crea

[2017-01-17 04:37] timlinux commented on #186
Happy to say that with Version 4.0 these considerations will all be moot since we work with pretty much every permutation. I think it would be good to have more hazard specific documentation on the methodologies used but I think that is a topic for a new ticket. Closing this off for now. See also #3548

[2017-01-17 04:37] #186 closed

[2017-01-17 04:39] timlinux commented on #192
Given that this is going to take considerable funding and effort I am going to close this out for now pending time and resources to make it happen. Please re-open if you want to pursue this further.

[2017-01-17 04:39] #192 closed

[2017-01-17 04:42] timlinux commented on #207
Already works in 3.5 and beyond

[2017-01-17 04:42] #207 closed

[2017-01-17 04:50] timlinux commented on #210
In 4.0 we have callbacks for analysis progress. I will add a paragraph to limitations like this:

![screen shot 2017-01-17 at 11 48 53 am](https://cloud.githubusercontent.com/assets/178003/22008157/25e90a30-dcab-11e6-81c5-646fc40a77fd.png)

[2017-01-17 04:54] timlinux commented on #233
I don't think we have a good solution for this. Lets park if for now and return to the idea if we have fresh demand.

[2017-01-17 04:54] #233 closed

[2017-01-17 04:54] timlinux commented on #275
Closed as old

[2017-01-17 04:54] #275 closed

[2017-01-17 04:56] timlinux commented on #198
Closing this as old - translations are working well under our current system

[2017-01-17 04:56] #198 closed

[2017-01-17 04:58] timlinux commented on #367
This will be resolved in 4.0. Closing.

[2017-01-17 04:58] #367 closed

[2017-01-17 04:59] timlinux commented on #379
Our new test suite is much faster and with 4.0 still faster as we are getting rid of inasafe_data repo.

[2017-01-17 04:59] #379 closed

[2017-01-17 05:00] timlinux commented on #386
Fixed in 4.0 we no longer use storage but rather QGIS Geometries

[2017-01-17 05:00] #386 closed

[2017-01-17 05:01] timlinux commented on #386
@Gustry cc

[2017-01-17 05:02] timlinux commented on #391
I'm closing this. In InaSAFE 4.0 we vectorise data (except for earthquake) so the pixel dimensions should no longer be a consideration.

[2017-01-17 05:02] #391 closed

[2017-01-17 05:04] timlinux commented on #407
I'm going to close this. Next year we will port to QGIS 3 and python 3 will be a requisite.

[2017-01-17 05:04] #407 closed

[2017-01-17 05:06] timlinux commented on #411
I'm closing this out. We will create a new ticket when we have specific requirements.

[2017-01-17 05:06] #411 closed

[2017-01-17 05:07] timlinux commented on #412
Closing this pursuant to having a direct requirement and specification

[2017-01-17 05:07] #412 closed

[2017-01-17 05:08] timlinux commented on #413
Closing as old, no details, no active requirement.

[2017-01-17 05:08] #413 closed

[2017-01-17 05:11] timlinux commented on #416
Closing as old, no details, no active requirement. Post 4.0 it should be more easy to do this, but not for now.

[2017-01-17 05:11] #416 closed

[2017-01-17 05:13] timlinux commented on #418
Closing as old, no details, no active requirement. Will be nice to add in future.

[2017-01-17 05:13] #418 closed

[2017-01-17 05:16] timlinux commented on #422
Note that in #3548 I added detailed overview of the analysis process in definitions / docs. Closing this out for now. We can revisit adding more hazard specific methodology in the future.

[2017-01-17 05:16] #422 closed

[2017-01-17 05:20] timlinux commented on #425
This is done in V4.0

[2017-01-17 05:20] #425 closed

[2017-01-17 05:22] timlinux commented on #456
Closing as old. We have our workflows in place, hopefully @ismailsunni is using beautiful terminology :-)

[2017-01-17 05:22] #456 closed

[2017-01-17 05:22] timlinux commented on #457
Closing as old, no details, no active requirement.

[2017-01-17 05:22] #457 closed

[2017-01-17 05:22] timlinux commented on #482
Closing as old, no details, no active requirement.

[2017-01-17 05:22] #482 closed

[2017-01-17 05:24] timlinux commented on #487
Closing as old. @mbernasocchi can you add your notes for the processor creating an hazard + classifications to the wiki? Note that we dont really have the same concept of impact functions any more in V4 so it would be better to focus on how to define hazards and thresholds.

[2017-01-17 05:24] #487 closed

[2017-01-17 05:26] timlinux commented on #510
@ivanbusthomi I am closing this this. In options you can set the working directory and from v4.0 pdfs go to the data store. I think that should take care of this. Feel free to reopen if needed.

[2017-01-17 05:26] #510 closed

[2017-01-17 06:26] timlinux commented on #511
Closing as old, I think it is better to write functional tests and then use the batch runner in production (nightly batch runs using head from develop branch).

[2017-01-17 06:26] #511 closed

[2017-01-17 06:27] timlinux commented on #514
This is already done:

![Uploading Screen Shot 2017-01-17 at 1.27.14 PM.png…]()

[2017-01-17 06:27] #514 closed

[2017-01-17 06:39] Charlotte-Morgan commented on #3607
hi @lucernae  - seems like this is a good question.
The minimum needs for this are not specified in the BNPB Perka 7 / 2008 nor in sphere standard.
We need to review some old tickets to find out when this was added to the code and where the advice came from.
@timlinux

[2017-01-17 06:54] Charlotte-Morgan opened #3615 "BUG Python Error"
# problem
I get the following python error when running pop raster and flood vector analysis with no aggregation layer

results are produced in dock but the system is still spinning ...

# error message
[code]

[2017-01-17 06:58] timlinux commented on #516
Closing as old, no details, no active requirement.

[2017-01-17 06:58] #516 closed

[2017-01-17 06:59] timlinux commented on #519
Please close if no longer relevant

[2017-01-17 06:59] timlinux commented on #552
Closing as old, no details, no active requirement.

[2017-01-17 06:59] #552 closed

[2017-01-17 07:00] timlinux commented on #582
Closing as old, no details or no active requirement plans.

[2017-01-17 07:00] #582 closed

[2017-01-17 07:00] timlinux commented on #588
Closing as old, no details or no active requirement plans.

[2017-01-17 07:00] #588 closed

[2017-01-17 07:01] timlinux commented on #597
Closing as old, no details or no active requirement plans.

[2017-01-17 07:01] #597 closed

[2017-01-17 07:03] timlinux commented on #627
Closing as old, no details or no active requirement plans.

[2017-01-17 07:03] #627 closed

[2017-01-17 07:04] felix-yew opened #3617 "Odd number in hazard raster vs population raster result"
### Problem
I try to run the hazard raster vs population raster and I get the odd number. In the analysis results,
![image](https://cloud.githubusercontent.com/assets/13621886/22010530/60c355fa-dcbc-11e6-9f85-e886fbd6ce43.png)
and detailed minimum needs report
![image](https://cloud.githubusercontent.com/assets/13621886/22010726/908483a8-dcbd-11e6-9a10-e571d1251452.png)

But, I also get the error

[2017-01-17 07:04] timlinux commented on #558
We still need threading support for this to work. Closing as old, no details or no active requirement plans. Post QGIS 3.0 we can revisit this idea as we can use the QGIS threading task manager.

[2017-01-17 07:04] #558 closed

[2017-01-17 07:05] timlinux commented on #651
Closing as old, no details or no active requirement plans. Configuration should be done by keywords now. In case of the volcano example above, user should prepare the datasets with desired buffer zones first.

[2017-01-17 07:05] #651 closed

[2017-01-17 07:06] timlinux commented on #671
Closing - In InaSAFE 4.0 we will not have a use case for direct editing of impact functions.

[2017-01-17 07:06] #671 closed

[2017-01-17 07:07] timlinux commented on #680
Closing as old, no details or no active requirement plans.

[2017-01-17 07:07] #680 closed

[2017-01-17 07:07] Charlotte-Morgan commented on #3606
hi @timlinux - I think that looks clearer than  the previous one

[2017-01-17 07:07] timlinux commented on #715
Closing as old, no details or no active requirement plans.

[2017-01-17 07:07] #715 closed

[2017-01-17 07:11] timlinux commented on #727
We have this in 4.0

![qgis](https://cloud.githubusercontent.com/assets/178003/22010938/dbd4adf0-dcbe-11e6-983f-9198413ee7c2.gif)

[2017-01-17 07:11] #727 closed

[2017-01-17 07:13] timlinux commented on #761
@Charlotte-Morgan can we close this please and pick up the work via #2920?

[2017-01-17 07:14] timlinux commented on #768
Closing as old, no details or no active requirement plans. Impact functions are dead in InaSAFE 4...

[2017-01-17 07:14] #768 closed

[2017-01-17 07:15] timlinux commented on #771
Yes - closing thanks.

[2017-01-17 07:15] #771 closed

[2017-01-17 07:18] timlinux commented on #808
In InaSAFE 4.0 we discard the outer hazard or exposure so this ticket is resolved in 4.0.

[2017-01-17 07:18] #808 closed

[2017-01-17 07:20] timlinux commented on #909
Close as old, no longer replicable in InaSAFE 4.0

[2017-01-17 07:20] #909 closed

[2017-01-17 07:21] timlinux commented on #897
Hard clip is dead in InaSAFE 4.0....long live new QGIS Geometries.....

[2017-01-17 07:21] #897 closed

[2017-01-17 07:23] timlinux commented on #912
Please check @myarjunar  - take note of comments above about broken geom.

[2017-01-17 07:24] timlinux commented on #934
In InaSAFE 4.0 we no longer constrain the CRS type.

[2017-01-17 07:24] #934 closed

[2017-01-17 07:27] Charlotte-Morgan commented on #2920
re opening this as a reference - it has only been part fixed

[2017-01-17 07:32] felix-yew opened #3618 "Chapter numbering in InaSAFE Help"
### Problem
We have a wonderful InaSAFE help document, now. After I observe it, I get confuse about the chapter numbering, while the content was complete. For example:

![image](https://cloud.githubusercontent.com/assets/13621886/22011197/5a93eb14-dcc0-11e6-8d02-1603bf14673e.png)
==================================================================
and,
![image](https://cloud.githubusercontent.com/as

[2017-01-17 07:35] timlinux commented on #949
I'm very pleased to say that the architecture in InaSAFE v4.0 is aligned to and implements this RFC.

[2017-01-17 07:35] #949 closed

[2017-01-17 07:37] Charlotte-Morgan commented on #761
@timlinux - we can close this.
@ivanbusthomi  - FYI - polishing reports has been ongoing activity

[2017-01-17 07:37] #761 closed

[2017-01-17 07:44] timlinux commented on #769
We can do this in the future using a prep tool that combines the two hazards but there are lots of notches here so we need clear use cases and descriptions before we can implement. I am going to close for now and we can re-approach this when we know what problem we are trying to solve.

[2017-01-17 07:44] #769 closed

[2017-01-17 07:47] timlinux commented on #1011
No longer relevant in InaSAFE v4.0

[2017-01-17 07:47] #1011 closed

[2017-01-17 07:54] timlinux commented on #981
@Charlotte-Morgan in the last site visit and on Skype we discussed removing support for density in population data. I don't have written record of the conversation so if you share this recollection, can you please confirm that here and close this issue if you agree. If not we will keep it on the table for the future.

[2017-01-17 08:06] timlinux commented on #1085
I'm pleased to say this works perfectly in InaSAFE v4.0. Check out the screencast below.

![qgis](https://cloud.githubusercontent.com/assets/178003/22012426/8dafe6aa-dcc6-11e6-95fe-1acd18ac84a6.gif)

[2017-01-17 08:06] #1085 closed

[2017-01-17 08:08] timlinux commented on #1085
I should have mentioned that in the above screencast, the admin boundary is filtered to "DESA"='WOLOMARANG' and the buildings layers is filtered to "TYPE"="SCHOOL". The analysis runs just on the subset features and nicely returns a result.

[2017-01-17 08:30] timlinux opened #3619 "Problem in KW wizard for flood hazard definitions: Missing constant"
### Problem

I get this when defining the keywords for a flood layer in my postgres database:

![screen shot 2017-01-17 at 3 27 37 pm](https://cloud.githubusercontent.com/assets/178003/22013068/bb8ff580-dcc9-11e6-89f1-72176cf4face.png)

I don't think the issue is specific to the fact that the layer is in postgres.

### Expected Behaviour

A more sensible message should be shown to the user in the

[2017-01-17 08:31] Charlotte-Morgan commented on #3548
Hi @timlinux - its great to see all this in one place and at the same time a bit scary :)
For the user it may be a bit overwhelming to have all this info - I like the hyperlinked TOC - that helps.
There seems to be some overlap between this document and the help files available in the doc and tools; raising the question as to whether the content should only appear in one place or if additional hel

[2017-01-17 08:38] samnawi commented on #3607
Hi @Charlotte-Morgan I still not found about the regulation of the stuff in above. I just found some link in your comment https://github.com/inasafe/inasafe/issues/1230#issuecomment-60903150 that refers to some standard. But I'm not find anything about the specific number like in above.

[2017-01-17 08:54] dynaryu commented on #3559
@wonder-sk
The parameter values are not fixed but sampled as well. That's why I used the pre-sampled values.

[2017-01-17 09:06] Charlotte-Morgan commented on #3548
point 9 above fixed in #3620

[2017-01-17 09:14] timlinux commented on #22
In InaSAFE 4.0 PostGIS data is working nicely. We still need to test with WCS and WFS.

[2017-01-17 09:14] Charlotte-Morgan commented on #3607
@samnawi  - thanks for looking. This could go way back to some of the original work.

[2017-01-17 09:25] timlinux commented on #2971
I tested this both in the IFCW and dock and everything is working fine now thanks

![screen shot 2017-01-17 at 4 21 39 pm](https://cloud.githubusercontent.com/assets/178003/22014682/71c93580-dcd1-11e6-8b2d-51be3f725c14.png)

![screen shot 2017-01-17 at 4 22 57 pm](https://cloud.githubusercontent.com/assets/178003/22014683/73e6b96e-dcd1-11e6-8d78-8ab84cac1ce4.png)

![screen shot 2017-01-17 at 4 24

[2017-01-17 09:25] #2971 closed

[2017-01-17 09:33] timlinux commented on #2972
We can already  do this. See the screenshot below. We just need to change the wording in the wizard to say 'browse for layer' or something.

![qgis](https://cloud.githubusercontent.com/assets/178003/22014860/25508324-dcd2-11e6-947c-94afb53172d5.gif)

@ismailsunni Could you change the wording on the wizard from 'I would like to pick an XXXXX layer from disk' to 'I would like to choose an XXXXX laye

[2017-01-17 09:35] timlinux commented on #3481
I'm closing this as we can't replicate and buildings in InaSAFE 4 works for me.

[2017-01-17 09:35] #3481 closed

[2017-01-17 09:39] timlinux commented on #1091
I'm closing this out. In InaSAFE 4.0 we use a different workflow completely for generic hazards. I would suggest to start a new discussion if there are issues there, but we cannot constructively address it by talking about the old logic.

[2017-01-17 09:39] #1091 closed

[2017-01-17 09:43] samnawi commented on #3607
Hi @Charlotte-Morgan I found a ticket that seems like an initial discussion about a vulnerable group in here https://github.com/inasafe/inasafe/issues/312, but I still try to find a ticket of the further discussion about it.

[2017-01-17 10:09] ismailsunni commented on #3617
Hi @felix-yew
Can you test it again from develop? I got similar error, and @lucernae has pushed a fix to develop.

[2017-01-17 10:11] ismailsunni commented on #949
Cool

[2017-01-17 10:38] timlinux commented on #1086
![screen shot 2017-01-17 at 5 35 02 pm](https://cloud.githubusercontent.com/assets/178003/22017102/6c7fc526-dcdb-11e6-9455-0822810f0bfe.png)

This is now resolved in InaSAFE 4.0 since we use the 'highest hazard touched' algorithm.

[2017-01-17 10:38] #1086 closed

[2017-01-17 10:41] timlinux commented on #1097
Closing this out - we need to review test coverage again given all the refactors for 4.0 but we can make a new ticket if still needed as this one is stale.

[2017-01-17 10:41] #1097 closed

[2017-01-17 15:57] #210 closed

[2017-01-17 15:58] #3606 closed

[2017-01-17 16:48] timlinux commented on #3548
Thanks for the review @Charlotte-Morgan

Yes it repeats the help dialog giving a single reference for everything in InaSAFE that we have guides for. I was hoping that people would just dive in to the parts they need.

In the new v 4.0 analysis you add analysis layers and fields. Its not clear in the doc what the Type 2,3,4,5, and 6 mean.

There is a technical issue with getting the types out for t

[2017-01-17 17:20] Gustry commented on #1448
We can close this one in V4

[2017-01-17 17:20] #1448 closed

[2017-01-17 17:23] Gustry commented on #2148
We don't have the storage package anymore in inasafe v4, I will close this ticket.

[2017-01-17 17:23] #2148 closed

[2017-01-17 17:24] Gustry commented on #3097
GeoJSON is working fine in InaSAFE V4 now, I will close this ticket.

[2017-01-17 17:24] #3097 closed

[2017-01-17 17:28] Gustry commented on #2629
I'm going to close this one due to InaSAFE v4

[2017-01-17 17:28] #2629 closed

[2017-01-17 17:29] Gustry commented on #2572
We still need to fix the command line with inasafe v4.

[2017-01-17 17:30] Gustry commented on #2765
We can now close this ticket with inasafe v4.

[2017-01-17 17:30] #2765 closed

[2017-01-17 17:30] Gustry commented on #2769
We can now close this ticket with inasafe v4.

[2017-01-17 17:30] #2769 closed

[2017-01-17 17:32] Gustry commented on #3375
This has been done this week with a lot of help from Martin

[2017-01-17 17:32] #3375 closed

[2017-01-17 17:33] Gustry commented on #3167
We can now close this ticket with inasafe v4.

[2017-01-17 17:33] #3167 closed

[2017-01-17 17:34] timlinux commented on #3548
Ok regarding this:

Comments on code arising:

I made a fix for this by building a simple map to lookup the types:

![screen shot 2017-01-18 at 12 32 32 am](https://cloud.githubusercontent.com/assets/178003/22032177/df6fc2c2-dd15-11e6-84b7-8a7b3113a010.png)

[2017-01-17 17:34] Gustry commented on #2473
We can now close this ticket with inasafe v4.

[2017-01-17 17:34] #2473 closed

[2017-01-17 17:35] Gustry commented on #2592
We can now close this ticket with inasafe v4.

[2017-01-17 17:35] #2592 closed

[2017-01-17 17:38] Gustry commented on #2419
Interpolation has been removed in InaSAFE V4. We can now close this ticket.

[2017-01-17 17:38] #2419 closed

[2017-01-17 17:40] Gustry commented on #1918
We are no using interpolation anymore in inasafe v4. We can now close this ticket.

[2017-01-17 17:40] #1918 closed

[2017-01-17 17:43] Gustry commented on #3248
Let's close this one ;-)

[2017-01-17 17:43] #3248 closed

[2017-01-17 17:47] Gustry commented on #2830
We added a value mapping for landcover in InaSAFE V4.
Can we close this issue ?

[2017-01-17 17:48] Gustry commented on #2715
The mixin does not exist anymore in V4.

[2017-01-17 17:48] #2715 closed

[2017-01-17 17:49] timlinux commented on #2830
Yes I think we can close it

[2017-01-17 17:49] #2830 closed

[2017-01-17 17:49] Gustry commented on #2772
This is not relevant in V4, we use the pivot table in the waterfall. (summary calculation)

[2017-01-17 17:49] #2772 closed

[2017-01-17 17:51] Gustry commented on #2728
We use landscape now

[2017-01-17 17:51] #2728 closed

[2017-01-17 17:52] Gustry commented on #2672
Done 👍

[2017-01-17 17:52] #2672 closed

[2017-01-17 17:52] Gustry commented on #2670
It could be nice to do this one @lucernae.

[2017-01-17 17:54] Gustry commented on #2075
Let's close this ticket now inasafe v4.

[2017-01-17 17:54] #2075 closed

[2017-01-17 17:55] timlinux commented on #3618
Thanks @felix-yew this is fixed in #3623

[2017-01-17 17:55] Gustry commented on #2010
This is not relevant anymore with inasafe v4.

[2017-01-17 17:55] #2010 closed

[2017-01-17 17:58] Gustry commented on #3586
Done by @myarjunar thanks !

[2017-01-17 17:58] #3586 closed

[2017-01-17 18:28] timlinux commented on #1105
In InaSAFE 4.0 we no longer use interpolation and so you should not see these shifting artifacts. Also we have a new system for threshold definition and so I think this RFC is not valid anymore. It is fairly trivial to add a new threshold and associate it with a hazard , so I think we can deal with this further there. Thanks!

[2017-01-17 18:28] #1105 closed

[2017-01-17 18:33] #3618 closed

[2017-01-18 01:39] ivanbusthomi commented on #518
This feature is actually very useful, and I haven't implemented it yet. I will try adding this for the final release if possible

[2017-01-18 01:42] ivanbusthomi commented on #519
Closing this as per https://github.com/inasafe/inasafe/pull/3597, PDF report is always saved in either the same directory as scenario directory or other directories that user specified from the dialogue.

[2017-01-18 01:42] #519 closed

[2017-01-18 01:55] timlinux opened #3624 "run-env-osx.sh script misses QGIS python directory import"
### Problem

I was reviewing this script and noticed that the QGIS python dir was not being imported. This prevents us running Pylint and PEP8 and make test etc. from a shell in Mac OS

### Proposed Solution

Import it

[2017-01-18 02:29] ismailsunni opened #3626 "Update Landcover Classification and Fields"
### Problem
Currently, we use a very basic classifications for land cover classes. We should have a better classification and reference.
<img width="1097" alt="screen shot 2017-01-18 at 09 21 58" src="https://cloud.githubusercontent.com/assets/1421861/22048449/aea634f6-dd5f-11e6-9e58-66190024b982.png">

We also needs more field to the land cover exposure:
- [ ] Productivity Kwt/HA
- [ ] Productivi

[2017-01-18 02:41] Gustry commented on #3626
Fix `industrial` -> `Industrial`

[2017-01-18 02:54] timlinux opened #3627 "Fix typo in error message"
### Problem

![screen shot 2017-01-18 at 9 51 30 am](https://cloud.githubusercontent.com/assets/178003/22049122/02e8b814-dd64-11e6-9dee-44c15f21888a.png)

There is not feature -> There is **no** feature

### Expected Behaviour

Fix the text

[2017-01-18 04:10] ismailsunni opened #3632 "Provenance is not written to the XML"
### Problem
The provenance data is not written to the exposure impacted metadata xml.

### Expected Behaviour
It should be there.

[2017-01-18 04:18] #3627 closed

[2017-01-18 04:41] #3624 closed

[2017-01-18 05:11] ismailsunni opened #3633 "Create Metadata for All Analysis Output Layers"
### Problem
Currently, we only add metadata to exposure_impacted_layer after the analysis. We should add to the other outputs also.

### Expected Behaviour
All output layer has metadata.

[2017-01-18 05:21] ismailsunni commented on #3197
I think we can close this since we have implemented value post processor.

[2017-01-18 05:21] #3197 closed

[2017-01-18 05:23] ismailsunni commented on #3201
We have it now. Closing this.

[2017-01-18 05:23] #3201 closed

[2017-01-18 05:24] ismailsunni commented on #2940
Done in version 4.

[2017-01-18 05:24] #2940 closed

[2017-01-18 05:25] ismailsunni commented on #2829
Done in version 4

[2017-01-18 05:25] #2829 closed

[2017-01-18 05:25] ismailsunni commented on #2803
We use geojson now. Closing this one.

[2017-01-18 05:25] #2803 closed

[2017-01-18 05:49] timlinux opened #3634 "RFC: We should standardize terminology around impacted, affected, displaced etc."
### Problem

Something for the standards doc (and #2920), we should also think about how we report on population and other exposures in terms of what is affected, exposed etc. and the nuances between them. My proposal is we contract a logical framework like this:

![inasafe4 0architecturedetailedarchitecture](https://cloud.githubusercontent.com/assets/178003/22844441/f792c30c-efe6-11e6-9fe5-99711c

[2017-01-18 07:20] mbernasocchi commented on #487
will do

[2017-01-18 08:17] ismailsunni commented on #2119
We do not use simplejson anymore. Closing this.

[2017-01-18 08:17] #2119 closed

[2017-01-18 08:18] ismailsunni commented on #2074
No longer valid for the current metadata.

[2017-01-18 08:18] #2074 closed

[2017-01-18 08:19] ismailsunni commented on #2018
No longer valid for InaSAFE v4.

[2017-01-18 08:19] #2018 closed

[2017-01-18 08:21] #2630 closed

[2017-01-18 08:21] Gustry commented on #2630
We have the reporting standard now.

[2017-01-18 10:12] samnawi opened #3636 "Wrong Calculation in the Total Population Report"
### Problem
![image](https://cloud.githubusercontent.com/assets/8871958/22059582/16f53832-dda0-11e6-9232-0016a2dd1123.png)

I got some weird number in the Total Population, Because if you see the number in above, Total Population is more than the real population number in the exposure data. We can see the real number of population in the picture below
![image](https://cloud.githubusercontent.com/a

[2017-01-19 02:32] ismailsunni opened #3637 "Update Wizard"
### Problem
From @Charlotte-Morgan
- [x] Enable place for volcanic ash
- [x] Enable road for cyclone
- [x] Enable all options if in developer mode

[2017-01-19 02:34] ismailsunni opened #3638 "Map report doesn’t show the building color properly"
### Problem
When @timlinux gave presentation about InaSAFE update, he got a map report. But the building in map report doesn't have the colours like in the legend (all is grey, iirc).

### Expected Behaviour
The building's colour should be the same as the legend (high, medium, low hazard)

[2017-01-19 02:41] ismailsunni opened #3639 "Better error message if the extent is out side the view extent"
### Problem
When @Gustry try to run the analysis, the message that he got when the extent is out side the view extent is not quit good.

### Expected Behaviour
Make it more understandable and less worrying.

Please add more detail if you have @Gustry

[2017-01-19 02:44] ismailsunni opened #3640 "QGIS crash after clicking the raster cell in DKI Jakarta analysis"
### Problem
When @timlinux run the analysis with raster flood hazard in Jakarta, and click in one of the cell of the hazard layer that has been classified, it makes the QGIS crash.

### Expected Behaviour
Fix it.

If you have more details, please add @timlinux

[2017-01-19 03:19] felix-yew commented on #3617
Ok mas @ismailsunni

[2017-01-19 03:42] felix-yew commented on #3617
Hi mas @ismailsunni - I still get error message

[code]

try with the same data.

[2017-01-19 03:47] felix-yew commented on #3617
When I try earthquake raster vs population raster, I get different error message

[code]

Data used :
Exposure : Population Raster
Hazard : Padang Earthquake Raster
Aggregation : No

Cc: @Gustry @ismailsunni

[2017-01-19 04:32] Charlotte-Morgan opened #3641 "PetaJakarta Flood Hazard Data: migration to Petabencana.id"
# problem
PetaJakarta has migrated to petabencana.id where the service will eventually be expanded to Jakarta, Surabaya and Bandung.

![image](https://cloud.githubusercontent.com/assets/5743135/22093807/4325c14c-de3b-11e6-8359-6aa16d080265.png)

What impact does this have on flood realtime and the petajakarta download tools.
@ivanbusthomi  - please check if flood realtime is working
@ivanbusthomi

[2017-01-19 04:34] samnawi commented on #3636
Hi @Gustry This morning, when I try to do a population analysis for Jakarta Flood, I found a weird number in the result, similar to the comment on above. I found it when I run the InaSAFE analysis using data :
Hazard : Jakarta Flood raster
Exposure : Jakarta Population Raster
Aggregation : Jakarta District (Then just select 2 area)
![image](https://cloud.githubusercontent.com/assets/8871958/220937

[2017-01-19 05:21] Charlotte-Morgan commented on #3548
hi @timlinux  - the new type look up is a great help.
wrt consistent tables / presentation of definitions, I think there is a case for 2 different version. Where the table has text values, I propose that the default min and default max are dropped and that would allow more room for the fields.

[2017-01-19 07:23] timlinux opened #3643 "Consolidated list of realtime issues needing attention"
### Problem

This is a meta ticket - please refer to the sub tickets (or create sub tickets) to for details.

Ticket # | Notes | Status | Who
--------|-------|-------|---------
#0 | Double earthquakes  | open | @ivanbusthomi  , @hadighasemi , @Charlotte-Morgan
#0 | Make sure that BMKG knows that we are still using their sftp push | open | @ivanbusthomi
#0 | We need to resolve data flows and have a

[2017-01-19 07:46] ismailsunni commented on #3548
Hmm, it seems I missed to read this issue from notification since there are too many emails two days ago

Ah I saw you fix it @timlinux :)

There is some values of  them, see belo.:
<img width="1251" alt="screen shot 2017-01-19 at 14 45 00" src="https://cloud.githubusercontent.com/assets/1421861/22097870/efee882c-de55-11e6-85f1-9f1e6a9ab87c.png">

[2017-01-19 07:46] ismailsunni commented on #3548
Additional idea, add search bar or something like that if possible.

[2017-01-19 10:04] #3637 closed

[2017-01-19 10:23] Charlotte-Morgan opened #3649 "Check the definitions again"
We need to check definitions and update concepts.py again before implementing new exposure concepts.
- [ ] exposed
- [ ] affected
- [ ] displaced
- [ ] evacuated
- [ ] impacted
- [ ] killed

[2017-01-19 10:28] Charlotte-Morgan opened #3650 "Vulnerability Icons"
We need to add vulnerability icons, definitions and licence file updates
- [ ] infants
- [ ] disabled
- [ ] pregnant

[2017-01-20 02:04] lucernae commented on #3607
@samnawi I don't know if this will help, but you can find the value in InaSAFE code here:

https://github.com/lucernae/inasafe/blob/e97187fda0f91ecc388995600abfe444ce0fa389/safe/postprocessors/gender_postprocessor.py#L110-L110

There is also some comments related to it.

[2017-01-20 02:14] lucernae commented on #2572
Ah so this is going to be in the final

[2017-01-20 02:34] lucernae commented on #3615
This should have been fixed by now

[2017-01-20 02:46] ismailsunni commented on #3607
@samnawi
Sorry, I missed to read this thread, perhaps because of the full of notifications.
And no, I didn't know much about it. I think we should ask @mbernasocchi about it. It seems he wrote the code. https://github.com/lucernae/inasafe/blame/e97187fda0f91ecc388995600abfe444ce0fa389/safe/postprocessors/gender_postprocessor.py#L110-L110

[2017-01-20 05:14] Gustry commented on #3615
<img width="871" alt="screen shot 2017-01-20 at 12 11 35" src="https://cloud.githubusercontent.com/assets/1609292/22136823/b5929d58-df09-11e6-807e-4ca1f51583c1.png">

@lucernae I still have this error. I have updated from develop just now :
* Aggregation : grid jakarta 4326
* Hazard : flood multipart
* Exposure : population 20 * 20

@Charlotte-Morgan and I used an exposure raster continuous.

[2017-01-20 05:15] Gustry commented on #3615
We should catch every exceptions and stop the busy cursor in any case.

[2017-01-20 05:41] Charlotte-Morgan opened #3653 "Standards: map legends - syntax and rounding requirements"
# problem

The map legend standards are a bit confusing.
In https://github.com/inasafe/inasafe/blob/develop/docs/reporting-standards.md it states

However the examples do not show this. The examples do not have rounded values and they do not include the threshold.

# proposed solution
- [ ] confirm that legends will alway have threshold or only if hazard is continuous raster data
- [ ] Update stan

[2017-01-20 06:42] Gustry commented on #3653
Thanks @Charlotte-Morgan I will wait on this before to continue on implementing the standards about map legends.

[2017-01-20 07:17] Charlotte-Morgan opened #3654 "Earthquake analysis"
# problem
We need to ensure that legacy details are retained in the migration of InaSAFE3.5.3 earthquake analysis to the new version 4 architecture.

In version 3.5.x we had 3 earthquake impact functions for impact on population: pager model, ITB fatality model, ITB bayesian fatality model  and one for impact on buildings: earthquake building

![image](https://cloud.githubusercontent.com/assets/57

[2017-01-20 07:49] Charlotte-Morgan commented on #3607
hi @mbernasocchi. We are hoping you can dredge back in your memory and maybe recall where the default values and calculations come from for InaSAFE post processing for hygiene packs and extra rice for pregnant and lactating women?
For some reason I had assumed that this was included in the BNPB perka 7/2008 but when we checked its not there and we can't find a source for this.  We would like to kn

[2017-01-20 08:49] ismailsunni commented on #3654
Hi @Charlotte-Morgan

Reading the code and recalling the history, this NEXIS is used to indicate whether the IF can run more calculation or not.

The work flow is:
1. The IF check whether there is attribute called `FLOOR_AREA`, `BUILDING_C`, and CONTENTS_C are in the exposure layer. It refers to a attribute for area of the building, the cost of the building, and the cost of the content of the buil

[2017-01-20 08:54] Gustry opened #3655 "The raster is clipped with a smaller extent than the analysis extent."
### Problem
![screen shot 2017-01-20 at 15 50 37](https://cloud.githubusercontent.com/assets/1609292/22142305/5aad4afe-df28-11e6-8926-4b467a37a220.png)

This is the Maumere scenario.
We can see that one building is marked as 'not exposed' as the tsunami raster is clipped with a smaller extent that the analysis area.

### Expected Behaviour
The clipped raster should have one row more to cover the a

[2017-01-20 09:37] Charlotte-Morgan commented on #3654
hi @ismailsunni  - oh this is wonderful. :)
Thankyou for explaining it so clearly.  @lrpower - you may be interested in this functionality in InaSAFE

[2017-01-20 10:42] lucernae commented on #3638
@ismailsunni could you provide a pic, so I can see what it is?

[2017-01-20 10:45] lucernae commented on #3641
Wow, this is actually very important...

[2017-01-20 14:01] timlinux commented on #3641
Just to note that I did test the tool in InaSAFE desktop so it should be working in real-time. There is however the question as to whether they are still pushing data to the old api or not...

[2017-01-20 15:40] timlinux commented on #3655
Maybe make a 1pix distance buffer around the edge of the aggregation area?

[2017-01-20 15:44] timlinux opened #3657 "We need a note about the possibility of errors of omissions"
### Problem

@charlotte-morgan raised the issue that in some cases it may be possible for a building to extend beyond an aggregation (where it is tagged as not flooded) into a hazard pixel / polygon that is not in an aggregation area - and in so doing be incorrectly counted as not flooded.

### Expected Behaviour

Users should understand the limitations of the analysis environment.

### Proposed S

[2017-01-20 20:12] timlinux commented on #3640
Note that the crash happened when using the identify tool to check the raster value.

QGIS Version 2.14.10
OS : MacOS

[2017-01-22 22:50] timlinux opened #3658 "gis.raster test fails in windows"
### Problem

Running the test I get a key error for ['HOME']

### Expected Behaviour

No error

### Environment
* InaSAFE : dev
* QGIS : 2.14.11
* OS :  Windows 10

### Proposed Solution

Replace ``['HOME']`` with ``os.expanduser('~')`` - see https://github.com/botify-labs/python-simple-workflow/issues/41

[2017-01-22 22:53] #3658 closed

[2017-01-23 13:38] lucernae opened #3664 "Displaced postprocessors behaviour"
We need some well defined behaviour for Displaced postprocessor:

- What are hazard classifications with displaced ratio?
- What is the displaced ratio for each hazard class in that particular hazard classification?
- Displaced postprocessor only applied for "affected" population
- Minimum needs is calculated from displaced count as input
- Gender, Youth, Adult, and Elderly field is calculated fro

[2017-01-23 16:26] Gustry commented on #2934
We don't have this field `safe_ag` anymore in inasafe v4.

[2017-01-23 16:26] #2934 closed

[2017-01-24 02:02] ismailsunni commented on #3638
@Gustry is it you or @timlinux who got the issue? Can you guys give more details or screenshot if you can replicate it?

[2017-01-24 04:10] ismailsunni commented on #3664
Do we need something like: displace female, affected female?

[2017-01-24 07:38] timlinux commented on #3367
Just an update that we propose a more simple ui for this:

* Input layer:
* Buffer distances (m):
* Output layer:
* Help ...Cancel....Create

[2017-01-24 07:55] lucernae opened #3666 "Check Reporting behaviour is correct for Earthquake"
Reporting logic is generic, so we need to check that it is produced correctly for Earthquake.

[2017-01-24 07:56] timlinux commented on #3367
Added note: After the user creates the buffer then can use the value mapping functions in the keywords wizard to map the class to the hazard classes.

[2017-01-24 08:06] timlinux opened #3667 "We need to add PetaJakarta flood thresholds"
### Problem

We discussed with @Charlotte-Morgan having more sensible hazard thresholds for floods. Currently You can choose between generic (High, Medium, Low) classes and Flood (wet, dry) classes. It would be much better to also provide classes similar to those used in PetaJakarta:

![screen shot 2017-01-24 at 10 04 49 am](https://cloud.githubusercontent.com/assets/178003/22238925/a5bb7484-e21c-

[2017-01-24 08:36] Gustry commented on #3654
Proposed solution 1 is done in the PR above.

We just need some improvments we will be able to to do proposed solution 2 according to @ismailsunni.

[2017-01-24 08:37] Gustry commented on #3497
This has been fixed in master 3.5 and in develop 4.0

[2017-01-24 08:37] #3497 closed

[2017-01-24 08:42] timlinux commented on #3654
Just one note about this:

There may be a gotcha here if they have a single value for floor area pre-computed as ``levels * base floor area`` - we should provide similar logic if needed and also clarify different definitions between ``base_floor_area`` and ``total_floor_area``.

[2017-01-24 09:19] felix-yew commented on #3653
Hi, @Charlotte-Morgan - As I remember when we discussed with the minion team in a meeting a couple months ago, there is an adjustment for the tsunami threshold into 0.7 m that comes from Pak Hamzah as tsunami expert. See the table below:
![image](https://cloud.githubusercontent.com/assets/13621886/22240090/0a24748c-e24c-11e6-8762-ffed899e60d1.png)

But, in the new InaSAFE version, the analysis wil

[2017-01-24 09:19] Gustry commented on #3653
I have some questions :
- [ ] Do we need to round every values ? (not only population, but also roads, buildings) CF https://github.com/inasafe/inasafe/blob/develop/docs/reporting-standards.md#legend-label-rounding
According to the document, we need to apply the rounding to every kind of exposure. Is-it correct ?

- [ ] Do we need to add a new row in the impact summary about the `not exposed` ? ht

[2017-01-24 09:37] lucernae commented on #3664
For the report, I think we agreed that the number of females reported (and weekly hygiene + additional rice) is based on displaced female.

[2017-01-24 09:49] Charlotte-Morgan commented on #3653
hi @felix-yew - looks like you may have misunderstood the requirement for this ticket.
Your response is very detailed but misses the fact that we are aware that InaSAFE 4.0 needs exposure specific thresholds for each hazard #3560 #3561 #3563
Its also worth noting that polygonising things does not change thresholds.

There are 2 simple questions to address in this ticket:
- [ ] will legends always

[2017-01-24 09:52] Charlotte-Morgan commented on #3653
hi @Gustry : the standards say we will apply rounding to all exposures and to make it easy I used the same standard for building etc as for people. So yes, we do need rounding.

Is it possible for you to take all the other questions about tables to a separate ticket and assign it to me? - I would like this ticket to stay focussed on the legend only

[2017-01-24 09:59] Gustry commented on #3653
Yes sorry I will do.

@lucernae So we need to do the rounding to every kind of exposures.

[2017-01-24 10:05] Charlotte-Morgan commented on #3653
I think so - although it has only been population in the past. Your call if its possible to do all or only population now

[2017-01-24 10:13] Charlotte-Morgan commented on #3654
thx for implementing solution 1

[2017-01-24 10:25] Charlotte-Morgan commented on #3634
This RFC needs to be followed by two more:
- [ ] hazard specific displacement rates
- [ ] how this population exposure terminology relates to DM instruments ie contingency planning, risk assessment and response planning

[2017-01-24 10:26] Charlotte-Morgan commented on #3664
Do you think we can implement this for any hazards apart from earthquake until we have displacement rates for other hazards?  I think maybe not and that we should wait for #3634 to be discussed before its implemented

[2017-01-24 10:28] Charlotte-Morgan commented on #3607
ping @mbernasocchi - please respond

[2017-01-24 10:29] Gustry commented on #3356
We have now a fatality count in the EQ on population function.
Do we need it only in this hazard ?

[2017-01-24 10:31] Charlotte-Morgan commented on #3356
for now yes - but with the work @samnawi is doing and that he showed in his work on population repoorting for contingency plans; there are fatality estimates for other hazards too

[2017-01-24 10:32] Gustry commented on #3664
We need at least a displacement value for every kind of hazard as we need this value to compute minimum needs.

[2017-01-24 10:34] lucernae commented on #3664
What I can propose now is to set the displacement rates to 1.0 for other hazard. So the number will be the same as affected.

[2017-01-24 10:35] Charlotte-Morgan commented on #3572
@samnawi - I think these are good suggestions. If its not possible to implement in 4.0, something to implement soon after

[2017-01-24 10:35] Charlotte-Morgan commented on #3563
+1 for this. Is this for 4.1?

[2017-01-24 10:37] Charlotte-Morgan commented on #3563
+1 for this. Is this planned for 4.1?
@ivanbusthomi @felix-yew - this relates to the ticket about legends and thresholds

cc @Gustry

[2017-01-24 10:41] Charlotte-Morgan commented on #3367
FYI - we hope to get data from PVMBG that will have vent location and buffer distances listed - ie we can make the data once and not have to do it again

[2017-01-24 10:42] Charlotte-Morgan commented on #3667
@felix-yew - please note that we need to incorporate plans here in the standards for flood hazard thresholds

[2017-01-24 10:43] Charlotte-Morgan commented on #3641
@felix-yew  - can you please check when there is flooding in Jakarta if this is working?

[2017-01-24 10:45] Gustry commented on #3634
@timlinux I think we can remove the section `Add the concept of 'exposed' to hazard classifications`. According to @Charlotte-Morgan the all dataset is `exposed`.
The definition of `not exposed` is :
* no data if the hazard is a raster.
* no polygons if the hazard is a vector layer.

We need to update the diagram to `Exposure Terminology in InaSAFE` because this is not specific to population.

[2017-01-24 10:45] lucernae commented on #3572
So, just to confirm:

1. What should we put in the map and legend? only hazard layer or only impact layer?
2. In population style, show hazard and population?

[2017-01-24 10:54] lucernae commented on #3634
Just to confirm, so features in tsunami dry classes is exposed, but not affected? (because I'm getting confused. :p)

[2017-01-24 10:59] Gustry commented on #3634
Yes, it is. So i think you need to update the report @lucernae. Let's wait from @Charlotte-Morgan to confirm that we need to update reporting (in the summary analysis)

[2017-01-24 11:00] Charlotte-Morgan commented on #3634
We need to update the diagram to include all hazard classifications.
In general:
- Any exposure element (people, builidings, landcover) within the extent of a hazard dataset is exposed.
- Only those exposed elements within certain hazard classes are affected (affected = true)
- Only a percentage of exposed people within each hazard class will be displaced.  Right now we do not know what percentage

[2017-01-24 14:45] lucernae commented on #3473
Just to tag the picture for the blue version

![Blue Template](https://cloud.githubusercontent.com/assets/831865/22251690/460c6324-e27e-11e6-969d-60850a0a33c1.png)

[2017-01-24 20:23] timlinux commented on #3473
@lucernae is that a picture of what you producing, or just the blue version of the mockup that @felix-yew made?

[2017-01-24 21:08] timlinux commented on #3664
@lucernae personally I don't think it makes sense to use 1.0 for each affected class. If we are going to use anything as a default I would put it to zero (with a note indicating that displacement rates are not yet defined) or use a nominal rate like 0.01, again with a note that a nominal displacement rate of 1% was used in the absence of input from hazard experts.

[2017-01-24 21:26] timlinux commented on #3563
@Charlotte-Morgan I've asked @ismailsunni to get it done for 4.0. We will need to look at the release blockers and see what might be candidates for culling from the blocker list, but I would keep this on the 'must have' list for now....

[2017-01-24 21:30] timlinux commented on #3356
As with the displacement rate, I think we should take the same implementation path and assign fatality rates per hazard class / threshold. I would suggest to default them to 0 and have a note indicating that the fatality rate is not defined. See similar notes in this vein for displacement here: https://github.com/inasafe/inasafe/issues/3664#issuecomment-274939121

[2017-01-24 21:39] timlinux commented on #3653
+1 from me to apply uniformly to all exposure types. We just need to make sure that the notes about rounding get added to all reports....

[2017-01-24 22:00] timlinux commented on #3497
Thanks @Gustry

[2017-01-25 02:24] Charlotte-Morgan opened #3675 "Notes: check rounding notes are on all reports"
In Version 4.0 we apply the standard rounding to all exposure types.
We need to check that this is documented in the notes for maps and reports where it is applied.

[2017-01-25 02:29] Charlotte-Morgan commented on #3653
hi @felix-yew - as discussed, we agree that all the syntax for legends in the standards is correct and that we would like all legends to include a threshold.  We believe this is possible for all hazards regardless of whether the hazard is continuous raster or classified vectors. The most difficult cases will be generic hazard and volcano buffers if the buffer distance is not included in the hazard

[2017-01-25 02:30] Charlotte-Morgan commented on #3653
please note: we are only discussing syntax and rounding requirements for map legends in this ticket.

[2017-01-25 02:44] Charlotte-Morgan opened #3676 "Standards: we need to update the standard to reflect the new flood classes"

[2017-01-25 03:06] Charlotte-Morgan commented on #3676
@felix-yew - can you please prepare the pictures to illustrate this and I can add them to the standard

[2017-01-25 03:37] ivanbusthomi commented on #3563
+1 for this too, thank you mas @ismailsunni

[2017-01-25 03:49] felix-yew commented on #3653
Hi, @Charlotte-Morgan - thank you for your explanation, this is some examples of map legends:
- People affected by tsunami event
![image](https://cloud.githubusercontent.com/assets/13621886/22276825/0adb8f8a-e2e9-11e6-91b4-0a069b32cb16.png)

- People affected by volcanic ash event
![image](https://cloud.githubusercontent.com/assets/13621886/22277143/d44409f4-e2eb-11e6-84b3-330a582fde53.png)

- Bui

[2017-01-25 04:04] ivanbusthomi commented on #3641
Last flood event is more than two months ago (14 - 11 - 2016). I am both happy and worried. Happy that there is no flood in Jakarta, worried that they are not pushing new data to the **petajakarta** API.

[2017-01-25 04:19] ivanbusthomi commented on #3572
Hi @samnawi and @lucernae,

and

I will try and make some possible combination of layer and its style. I will update here once I've finished

[2017-01-25 04:36] Charlotte-Morgan commented on #3649
I have reviewed these definitions.
We can use exposed, affected, directly affected, indirectly affected, displaced, evacuated, relocated, killed, and missing.  We should not use impacted.

These concepts have been updated in concepts.py but it does not mean we need to use them all or make post processors for them; its just a reference.

[2017-01-25 04:36] timlinux commented on #3653
One case that may not fit well are flood wet /dry classes....Could you please include in your draft how we should deal with those? Same for volcano hazard zones and generic hazard classes. I guess we need to figure out a rule to omit the parentheses in these cases?

[2017-01-25 04:39] Charlotte-Morgan commented on #3653
hi @timlinux - i think there should always be a number or area of things affected?

[2017-01-25 04:43] Charlotte-Morgan commented on #3634
@timlinux following review of concepts in #3677 could you please update your beautiful diagram and
- [ ] replace the word "impacted" with "directly affected"
- [ ] replace the words "not impacted" with "indirectly affected"

[2017-01-25 04:52] Charlotte-Morgan opened #3678 "Translation: we need to translate the code"
# problem
InaSAFE v 4.0 has many new strings to be translated

# proposed solution
@felix-yew will help to translate short strings with no tags.
@ivanbusthomi will help to translate more complicated english terms and strings with tags

[2017-01-25 05:21] Charlotte-Morgan commented on #3657
hi @timlinux - i think this may fit well in caveats. We do not seem to be using existing caveats well. Can you please remind me how to add them to the notes for different exposures?

[2017-01-25 06:42] Charlotte-Morgan commented on #3572
Hi @lucernae - I think we are implementing the standards which is impact layer however this might be different for population exposed to earthquake

[2017-01-25 06:42] ivanbusthomi opened #3679 "Assertion Error on Earthquake Raster vs Population Raster"
### Problem
As @felix-yew mentioned in this issue https://github.com/inasafe/inasafe/issues/3617#issuecomment-273674821 , There is an `Assertion Error` when I run earthquake raster on population raster.

[code]
### Expected Behaviour
It should be able to run without error

### Environment
* InaSAFE : develop
* QGIS : 2.14.10 Essen
* OS : Windows
* Data used : West Sumatra case
  * Exposure : Popul

[2017-01-25 06:45] ivanbusthomi commented on #3617
Hi mas @felix-yew , I've moved your comment https://github.com/inasafe/inasafe/issues/3617#issuecomment-273674821 to a new issues in https://github.com/inasafe/inasafe/issues/3679. Hopefully, if the new issue is fixed this issue here will also be fixed, and we can close both of them.

[2017-01-25 06:46] felix-yew commented on #3617
Thank you @ivanbusthomi - copy that.

[2017-01-25 07:07] mbernasocchi commented on #3607
@Charlotte-Morgan looking, funny enough I get plenty of notifications but not when I'm mentioned... need to fix that

[2017-01-25 07:17] lucernae commented on #3473
from @felix-yew. I put it here so it doesn't get lost in the original PR>

[2017-01-25 07:20] Charlotte-Morgan commented on #3653
@felix-yew - this is looking more complete now that it has thresholds, rounding and units.
I think that some of these examples still do not match well with the approach described in the standard.
https://cloud.githubusercontent.com/assets/5743135/17542495/6b968a16-5ef3-11e6-8622-af1cab2e0a5f.png
According to this figure from the standards:
- [ ] dry zone should only be included in the legend for r

[2017-01-25 07:21] mbernasocchi commented on #3607
@Charlotte-Morgan @ismailsunni

indeed, and he is happy to have put in the doc string where the value come from :)

[code]

now where _that_ paper is to be found it is a whole different question. It was a word file I got given printed out in 2012 in my first JK assignment. I searched my emails and local files but I don't have it. it was written by an external consultant IIRC. @vanpuk or @uniomni m

[2017-01-25 07:23] Charlotte-Morgan commented on #3607
hi @mbernasocchi - that is a help. Seems like no one else saw the comment in the doc string :)
I can have a rummage in the files here to see if I have access to that source.

[2017-01-25 07:46] Gustry commented on #3653
If we use a vector flood polygon for instance (wet/dry), there is no thresholds. The same for generic. What should we display so ?
* High Hazard Zone
* Medium Hazard Zone
* High Hazard Zone

For volcano polygons, I guess it's the distance @timlinux :
* High Hazard Zone <= 1000m
* Medium Hazard Zone > 1000m - 2000m
* High Hazard Zone > 2000m
Is-it correct like this @felix-yew and @Charlotte-Morgan

[2017-01-25 07:49] Charlotte-Morgan commented on #3653
For wet dry there are no thresholds (I think we are changing the default to petajakarta)
For volcano it will be buffer distance
For generic I think its not possible to show a threshold

[2017-01-25 07:54] timlinux commented on #3653
Ok the tricky thing for buffer distances is actually knowing what they are - we would need to get @myarjunar to write that info as metadata or column data in the buffer generation tool.

[2017-01-25 07:56] vanpuk commented on #3607
Hi all,
Can't recall the article, but wonder if Widya would?

On Wed, 25 Jan 2017 at 18:23, Charlotte-Morgan <notifications@github.com>
wrote:

[2017-01-25 08:36] felix-yew commented on #3653
Hi @Charlotte-Morgan - I have updated the examples.

@Gustry yes, just like what Charlotte said.

[2017-01-25 08:54] ivanbusthomi commented on #3152
This issue might be related to this https://github.com/inasafe/inasafe/issues/3653. This is current state of the map legend on volcanic ash,
![image](https://cloud.githubusercontent.com/assets/7351977/22283649/0426bcc8-e316-11e6-9c98-adb01b41a021.png)

[2017-01-25 09:05] Charlotte-Morgan commented on #3653
wow @felix-yew - that looks great thank you :)

[2017-01-25 09:05] ivanbusthomi commented on #517
Hi @timlinux , could you please explain a little bit related to this issue? I still don't get the idea yet, or maybe if this is not relevant anymore can we close this?

[2017-01-25 09:08] felix-yew commented on #3676
Hi, @Charlotte-Morgan - about the petajakarta (or petabencana, Now) flood classes, we can adapt it to our standard colour based on the standard report in shared document. If we refer to the colour of our standard report the hazard classes should be like this:
![image](https://cloud.githubusercontent.com/assets/13621886/22284104/38d85614-e318-11e6-9601-ac97e5ff4c5b.png)
I have updated the standard

[2017-01-25 09:08] Charlotte-Morgan commented on #3607
Hi @vanpuk, nice to see you here. I can'f find anything in the archives. I will try and see if Widya has any info.

[2017-01-25 09:11] ivanbusthomi commented on #3676
Hi mas @felix-yew , I wonder if it is possible to use other color for `Use Caution`?

[2017-01-25 09:13] Gustry commented on #3152
@ivanbusthomi I'm working on it. I will make a PR today.

[2017-01-25 09:14] ivanbusthomi commented on #515
Now that we have the information on how to use batchrunner in InaSAFE help, I think we can close this issue.

![image](https://cloud.githubusercontent.com/assets/7351977/22284313/526339ae-e319-11e6-8874-360d177e325f.png)

[2017-01-25 09:15] felix-yew commented on #3676
`Use caution` in here I use the `very low hazard zone` class to keep the hazard classes. But, feel free to give a suggestion. Thank you

[2017-01-25 09:22] Charlotte-Morgan commented on #3653
@Gustry - I see this comment also in the standards.
**Note: thresholds are not included in the legend label for multiple event hazard data.**
This means that thresholds are only included for single scenario hazard data; ie for hazard events not hazard zones

[2017-01-25 09:30] Charlotte-Morgan commented on #3653
@Gustry - a few points to note. Please pay attention to capitalisation; legend order from high to low; and no dry zone for people or landcover exposure.

[2017-01-25 09:49] Gustry commented on #3653
This is my current status in my work.
![screen shot 2017-01-25 at 10 41 22](https://cloud.githubusercontent.com/assets/1609292/22285164/de5964d0-e2ea-11e6-8764-99b6ac52dd30.png)

I need to check this one.

The legend comes from the definitions, you can change the label there. https://github.com/inasafe/inasafe/blob/develop/safe/definitions/hazard_classifications.py

After the work from @ismailsunn

[2017-01-25 09:52] Charlotte-Morgan commented on #3653
To make the label change do we need to change this string  from 'name': tr('Medium Hazard Zone'),
to 'name': tr('Medium hazard zone'),?

[2017-01-25 09:54] Gustry commented on #3653
to 'name': tr('Medium hazard zone'),?

Yes everything is driven by definitions in v4 ;-)

[2017-01-25 09:55] Charlotte-Morgan commented on #3653
ok - i have git mess right this minute - i need to fix my workflow before i can do more changes

[2017-01-25 10:15] lucernae commented on #3473
I just realized that for infographics (for donut charts), does it still makes sense/consistent?

- Donut chart is showing affected population per hazard class
- Total population is showing total affected population (or displaced?)
- Vulnerabilities is showing based on displaced population
- Minimum needs is showing based on displaced population

Should I go on with this or is there some revision?

[2017-01-25 10:24] Charlotte-Morgan commented on #3473
hi @lucernae - I think this is all fine with discussion in #3634

The only change i would make to your list above it the total population - I think it should be for the analysis area.
-  Donut for affected by class (where affected is true)
- Total population can show total population in the analysis area
- Vulnerabilities  are based on displaced population
- Minimum needs are based on displaced po

[2017-01-25 10:25] lucernae commented on #3473
Ok, thanks!

[2017-01-25 10:26] Charlotte-Morgan commented on #3473
I hope that is easy :)

[2017-01-25 10:52] #3653 closed

[2017-01-25 13:19] #3649 closed

[2017-01-25 13:19] #3657 closed

[2017-01-25 13:19] #3675 closed

[2017-01-25 13:20] timlinux commented on #3473
@lucernae can you post a screenie of how the infographics you are working on look from time to time so we don't get a huge surprise when you are done?

[2017-01-25 13:30] timlinux commented on #3657
Hi @Charlotte-Morgan

To add a caveat to a hazard or exposure the general workflow is:

1) Define the caveat in caveats.py

[code]

2) Import the caveat in hazards.py or exposures.py

[code]

3) Add the caveat to the notes list for the hazards you want it in.

[code]

THE END

Perhaps it will be useful to have some standard hazard and exposure caveats that apply to all exposures and caveats - some

[2017-01-25 13:31] lucernae commented on #3473
Sure.
Note that:
- donut chart looks funny because there is still an issue with the affected calculations (total affected is not consistent)
- vulnerabilities not rendered because gender/age ratios not set in aggregations
- all the icons now in png, instead svg. Since, even if the format is svg (from what @felix-yew gave us), it is in fact a png inside. So, it is better to use png again.

<img wid

[2017-01-25 13:35] Gustry commented on #3473
Is-it the issue that you gave me a long time ago ?
or is it since the new definition ? (total = total affected + total not affected + total not exposed)

[2017-01-25 13:36] timlinux commented on #3473
Thanks @lucernae that is looking good .... and I love the funky donut :-)

Yes I think we should ask Maria to fix this (pngs embedded in SVGs) - we are going to get very fuzzy looking images if we scale them up and it breaks the benefit we get from using SVG. I think it is fine as a general approach to rasterize the SVG's at the point they go into a report and we know what size they should be.  Wi

[2017-01-26 00:47] Charlotte-Morgan commented on #3657
thanks @timlinux - I have filed this for future reference

[2017-01-26 01:28] Charlotte-Morgan opened #3686 "Generate a 'super' report"

[2017-01-26 01:40] Charlotte-Morgan commented on #3473
Hey @lucernae - great to see the progress on this.  Can I ask where AusAid is coming from in the bottom banner? @felix-yew - is this something you added or in an existing token?

[2017-01-26 01:48] felix-yew commented on #3473
Hi, mas @lucernae - :+1: this is awesome, glad to see it.

@Charlotte-Morgan - yes, I add this as the supporters title (like in a template that I sent in Asana) or any suggestion for that?

[2017-01-26 01:52] Charlotte-Morgan commented on #3473
@felix-yew - there are a number of places you can check this. Please take a look at inasafe.org to see how we describe the project supporters. Also look at footers on realtime maps for what is used as a standard. refer to the standard disclaimer text ....
We stopped using AusAID about 2 years ago :)

[2017-01-26 02:14] felix-yew commented on #3473
@Charlotte-Morgan - Okay, I will revise it.

![image](https://cloud.githubusercontent.com/assets/13621886/22317610/8182be56-e3a7-11e6-9a88-1fa7d8b9d1c6.png)

Mas @lucernae , fyi: I revise the supporters title.
(Indonesian Government-Australian Government-World Bank-GFDRR)

[2017-01-26 06:42] Charlotte-Morgan opened #3688 "Report template papercuts"
We have new report templates for InaSAFE version 4.0 with updates to address the reporting standards - thanks @lucernae .

# papercuts
There are some small changes to make this report match well with the reporting standards.
- [x] please add the analysis question
- [x] please move the general table heading into the blue bar above and included the word estimated
- [x] please remove "total" from the

[2017-01-26 07:03] myarjunar commented on #3367
![inasafe 4 0 0b0 hazard layer generator tool_006](https://cloud.githubusercontent.com/assets/11134669/22322601/bf0a3f06-e3cf-11e6-9c52-acade3bbc959.png)
Here is a screenshot of the tool dialog. Any feedbacks will help :smile:

[2017-01-26 07:59] timlinux commented on #3367
That is looking great @myarjunar. Some tweaks:

- [ ] Please change the title to 'Multiple buffer tool'
- [ ] New classification -> New buffer
- [ ] Reserved classification -> Hazard classes
- [ ] Also please use HIG (captilise only first letter of label text)

[2017-01-26 08:01] felix-yew commented on #3641
@Charlotte-Morgan - sure.

[2017-01-26 08:05] timlinux commented on #3653
Hi

I was thinking about this some more:

@Charlotte-Morgan

@timlinux

@Charlotte-Morgan are you assuming always one volcano in the hazard layer? If we have more than one volcano then I think it does not make sense to put the buffer distances in the legend - theoretically they might be different for each volcano.

[2017-01-26 08:07] Charlotte-Morgan commented on #3653
@timlinux - I was assuming and yes it would not be sensible for multiple volcanoes

[2017-01-26 08:07] felix-yew commented on #3667
@Charlotte-Morgan - yes, we will update this to our standard report and we need to discuss it related to the colour will we use, the same colour or we use with our standard colour adapt to the hazard class colour like an example that I create in https://github.com/inasafe/inasafe/issues/3676#issuecomment-275055224

[2017-01-26 08:11] Gustry commented on #3653
Does it mean the inasafe should detect if the hazard layer has many volcanoes ? And display the distance accordingly

[2017-01-26 08:15] Charlotte-Morgan commented on #3653
Would a single volcano be a single event and many volcanoes be multiple events?
We could use key words to make a rule on the behaviour?

[2017-01-26 08:45] Charlotte-Morgan commented on #3460
@felix-yew - can we close this ticket?

[2017-01-26 08:46] Charlotte-Morgan commented on #3155
hi @felix-yew - this ticket was a joke :)

[2017-01-26 08:47] Charlotte-Morgan commented on #1775
@felix-yew - I think this is done ? You can comment and close if you like.

[2017-01-26 08:50] felix-yew commented on #3460
@Charlotte-Morgan - yes

[2017-01-26 08:50] #3460 closed

[2017-01-26 08:53] felix-yew commented on #1775
Thank you

[2017-01-26 08:53] #1775 closed

[2017-01-26 08:54] lucernae opened #3689 "PDC we need to have check why quakes are not publishing"
I have no proposed solutions at the moment, just to create new ticket first.

[2017-01-26 08:55] lucernae opened #3690 "Ash - change zip message on upload page"
Change it to regular tiff message.
And add extent checker.

[2017-01-26 08:57] lucernae opened #3691 "Standby server"
Ongoing discussion about standby server:
Standby server is used by Realtime as a fallback server in case primary server fails.

- Where it will be deployed? Cloud? Physical again?

[2017-01-26 08:59] Charlotte-Morgan commented on #3689
hi @lucernae - I think this is quite urgent to fix.  DMI are working with BMKG on the issue of duplicate reports.  I believe PDC people are in Indonesia next week. Is it possible we should schedule a meeting to discuss the issue?
cc @timlinux @hadighasemi @lucernae @RikkiWeber

[2017-01-26 08:59] lucernae opened #3692 "Ordering issues in Realtime reports"
Layer in map view were not ordered correctly.
Need workaround.

[2017-01-26 09:00] Charlotte-Morgan opened #3693 "Map template sawcuts"
We now have new report template for InaSAFE version 4.0 with many new features to address reporting standards - thanks to @ivanbusthomi and @lucernae

# sawcuts
There are some changes required to the template to make it really happy.
- [x] the legend is very complete with label, threshold and counts. I think we might need to reduce the font size of both the title (12) and the labels (10) to give s

[2017-01-26 09:00] lucernae opened #3694 "EQ use ITB Bayesian model"
Switch impact function to use ITB Bayesian Model.
Should be trivial.

[2017-01-26 09:02] lucernae opened #3695 "Realtime Report Bug fixes list"
- [ ] Show Shake ID or Flood ID somewhere in the report
- [ ] Need name of IF on report

[2017-01-26 09:24] lucernae opened #3696 "Migrate issues, code, and architecture to new realtime repo"
Note that, in the future, we need to move all Realtime issues to the new repo along with the new deployment that point to that repo.

[2017-01-26 09:27] lucernae opened #3697 "Improve celery monitoring"
- We have to know somehow when celery task stopped or hanging
- Alternatively, make a periodic celery task refresh using cron
- Try use flower for celery monitoring

[2017-01-26 09:36] lucernae opened #3698 "List of possible problems from Realtime Shake data"
- [ ] Shakemap were pushed very late (From BMKG)
- [ ] BNPB btsync not working
- [ ] ID in folder name and inside of grid.xml and the time were mismatched
- [ ] Shakemap pushed, but no output/grid.xml file.

[2017-01-26 09:47] Charlotte-Morgan opened #3699 "BUG: We need to manage the map extent in default maps"

[2017-01-26 09:52] timlinux commented on #3653
@Charlotte-Morgan I don't think that rule would work if the buffers represent KRB zones arent those based on multiple events? I guess using Etienne's approach could work but we still have the issue that we need to some how know that the hazard zones are based on buffers and what the buffer distances were -  I think my preference would be to not display buffer distances by computation. We could ask

[2017-01-26 09:54] Charlotte-Morgan commented on #3653
sure - lets try that.

[2017-01-26 09:56] lucernae opened #3701 "Additional functionality for Realtime"
- Enable downloading derived product (contours, flood hazard, etc)
- Ensure download icons and tooltips on flood and eq are consistent (change flood & volcano to match eq page)
- Missing hazard download tool in flood
- Translate realtime flood to Indonesian

[2017-01-26 10:00] lucernae commented on #3643
Note that all InaSAFE realtime ticket will be migrated to the new repo after architecture migrations.

[2017-01-26 10:08] Gustry commented on #3693
This should be fixed in PR https://github.com/inasafe/inasafe/pull/3702
`Not exposed` is disabled in the legend for landcover and population exposure. You still find it in the attribute table.

[2017-01-26 10:33] myarjunar opened #3704 "New icon: Multi buffer tool"
### Problem
We need a new icon for multi-buffer tool in InaSAFE toolbar.

[2017-01-26 11:01] Gustry commented on #3553
@lucernae added `displaced_rates` in each hazard classification.
The thing is that the user can't update this value for now as it's hard coded in definitions.

[2017-01-26 11:52] timlinux commented on #3553
For me it is ok to hard code the displacement rates for v4.0. I think we must just make sure they are clearly documented in definitions help so that if users want to understand what displacement rates were used they can easily access that information.

[2017-01-26 12:46] Gustry opened #3706 "List of cool things we will do with QGIS3 !"
### Problem
We are currently working with QGIS 2.X. But soon, QGIS3 will be released.
Let's keep a list of things we will be able to do with QGIS 3 :

* Use QgsTaskManager for multithreading : https://qgis.org/api/classQgsTaskManager.html
* Use QgsFieldComboBox more (because of empty field allowed) : https://qgis.org/api/classQgsFieldComboBox.html#aeca17cab7279da056d7b2d3af00e71f7
* Use QgsGeometr

[2017-01-26 14:19] myarjunar commented on #3704
![donut-icons-65984](https://cloud.githubusercontent.com/assets/11134669/22334152/357cf34a-e40c-11e6-8788-f274b017e487.png)
Hi @MariaSolovyeva , just my idea, maybe we can make the icon looks like a donut but with InaSAFE theme. Because if the input is a point, the output layer after buffer will look like a donut :smile:

[2017-01-26 17:24] timlinux commented on #3699
Can you add some more description for this @Charlotte-Morgan? Thanks!

[2017-01-26 18:11] timlinux commented on #3693
+1 for introducing the concept of sawcuts where papercuts do not cut it :-)

[2017-01-27 03:19] Charlotte-Morgan commented on #3694
@lucernae To be clear, this should be the ITB Bayesian Fatality model and it's kinda really important to make this happen soon please :)

[2017-01-27 04:06] ivanbusthomi commented on #3693
Hi @lucernae ,
I've made some changes in both the portrait and landscape template files. Here are the changes:
* Make `InaSAFE Supporters` text in the supporters logo properly centered
![image](https://cloud.githubusercontent.com/assets/7351977/22359857/89c29e7a-e47d-11e6-8a67-6d2fe31544d4.png)
* Make a few adjustment on legend font and placement
![image](https://files.gitter.im/ivanbusthomi/zsP8/

[2017-01-27 04:48] Charlotte-Morgan commented on #3699
hi @timlinux - I've had a look and this ticket was based on  a product from the batch runner where maybe zoom to impact layer is not selected.  I think we can close this .. I'll write a different ticket for maps

[2017-01-27 04:48] #3699 closed

[2017-01-27 04:49] Charlotte-Morgan opened #3711 "BUG: Map PDF shows exposure layer"
### problem
the PDF map shows the exposure layer as well as the impact layer even though the option to hide the exposure layer is checked.
![image](https://cloud.githubusercontent.com/assets/5743135/22360887/edc3305c-e486-11e6-91cf-d4fdcb650e79.png)

![image](https://cloud.githubusercontent.com/assets/5743135/22360909/26c7d826-e487-11e6-9c1f-7caed3ff5b3e.png)

### expected behaviour
the exposure l

[2017-01-27 04:53] timlinux commented on #3699
Ok thanks @Charlotte-Morgan

[2017-01-27 04:55] Charlotte-Morgan opened #3712 "Add options for printing analysis maps"
In InaSAFE 4.0 - the analysis runs quickly and the reports and maps are printed automatically.

# problem
The print button in the dock actually opens the pdfs that were produced when the analysis ran. This is great (maybe rename the button to say "Open Reports") but its not easy for a user to make a small change and print a custom map.

ie turn off one component of the default legend (eg dry in a

[2017-01-27 04:56] timlinux commented on #3711
Ah I think this is the same thing we saw when I was doing a walk through in Jakarta last trip. @ismailsunni you made a ticket for that already right?

[2017-01-27 05:07] Charlotte-Morgan commented on #3704
yum - good suggestion @myarjunar

[2017-01-27 05:37] Charlotte-Morgan commented on #2613
I think this is done in version 4.0

[2017-01-27 05:37] #2613 closed

[2017-01-27 05:39] Charlotte-Morgan commented on #3711
I'm not sure if there is already a ticket

[2017-01-27 06:04] ismailsunni commented on #3711
Is it this one? https://github.com/inasafe/inasafe/issues/3638

[2017-01-27 06:16] Charlotte-Morgan commented on #3711
Yes - same thing. I just checked the buildings and it is the same. The original exposure layer is drawing over the top or instead of the impact layer.

[2017-01-27 06:18] Charlotte-Morgan commented on #3638
Same as #3711 - it looks like the map report has the original exposure layer still showing and its over
![image](https://cloud.githubusercontent.com/assets/5743135/22362140/0698402a-e493-11e6-8dae-bae6ec21545e.png)

[2017-01-27 06:21] ivanbusthomi commented on #3701
This ticket is about realtime flood translation into Indonesian.

[2017-01-27 06:31] Charlotte-Morgan opened #3713 "Jakarta aggregation data errors"
### problem
In Version 4.0 the Jakarta district and subdistrict boundary data used for aggregation show up  as being invalid.

### proposed solution
we need to fix the data (using spatial tools - please do not redigitise it!!)

###
make it happy :)

[2017-01-27 06:53] Gustry commented on #3713
For subdistrict, I could have the error easily :
![screen shot 2017-01-27 at 07 50 53](https://cloud.githubusercontent.com/assets/1609292/22362767/6c5652ea-e465-11e6-80a3-6e36ebb3575c.png)

But for the district layer, the processing tool 'Check validity' says everything is ok 🙁
But the problem is when you use the district layer in inasafe, QGIS can't compute the union.

[2017-01-27 06:54] ivanbusthomi opened #3714 "Realtime earthquake translation in Bahasa Indonesia"
### Problem
Similar issue with InaSAFE Realtime flood translation (https://github.com/inasafe/inasafe/issues/3291), currently InaSAFE Realtime Earthquake in Bahasa Indonesia is not 100% translated yet. Some parts that need to be translated are:

* Menu section
![image](https://cloud.githubusercontent.com/assets/7351977/22362666/f61c21ea-e496-11e6-81fc-fb8fa1e6246b.png)
 * Description section
![ima

[2017-01-27 07:01] timlinux opened #3715 "Displacement thresholds need to be shown in the impact function notes"
### Problem

When we run an analysis, we should show what the displacement rates used were.

### Proposed Solution

Please include a line in the notes to indicate what the rates used were e.g.

For this analysis, the following displacement rates were used: High - 50%, Medium: 10%, Low: 1%

[2017-01-27 07:27] Gustry commented on #3713
Or should I try to make it valid on runtime ? @timlinux

[2017-01-27 07:28] lucernae commented on #3473
Ok, noted. I will change in the current PR.

[2017-01-27 09:29] timlinux opened #3717 "We should have a test to ensure that all SVGs have licenses in definitions"
### Problem

As we add definitions related icons, we should ensure that they all have license files.

### Expected Behaviour

We should have a test fail if there is an unknown icon in the resources/img/definitions

### Proposed Solution

Update the resources tests to check this

[2017-01-27 09:32] timlinux commented on #3715
See #3553

[2017-01-27 10:02] Charlotte-Morgan opened #3719 "Assertion Error - earthquake raster on population raster"
### Problem
The InaSAFE analysis stops with an assertion error and writes a DEBUG folder (empty) when not in debug mode
### Expected Behaviour
InaSAFE analysis will run and be happy with no error

### Environment
* InaSAFE : 4.0.0b0
* QGIS : 2.14.0
* OS : windows
* Data used :
  * Exposure : Aceh population raster
  * Hazard : Pidie Earthquake
  * Aggregation : none

### Error Message
Problem

The

[2017-01-27 10:06] Charlotte-Morgan commented on #3713
hi @Gustry - this is a ticket to @samnawi to fix the data at this end, nothing for InaSAFE I don't think. Just letting you know we have a problem in the data and that I have not been able to fix it.
QGIS thinks it is invalid but Arc is happy when i run checks and fix. Even when I save and get back into QGIS its still not happy.

[2017-01-27 10:09] Charlotte-Morgan opened #3720 "Return of the purple patch"
### Problem
When the analysis extent is set using extent on map, I got a big purple patch that did not go away.
It stayed there when the results were displayed

### Proposed Solution
I'm sure I've seen this before and it was fixed.

[2017-01-27 10:12] Charlotte-Morgan opened #3721 "KW Wizard - resample population raster data"
### Problem
The key word wizard asks if you want to resample the population raster or prevent this from happening.
I think this may be a legacy option and maybe its not relevant to ask this or have this key word for continuous population rasters?

### Expected Behaviour
Users will not be asked unnecessary steps

### Proposed Solution
Confirm if this is still required in version 4.0

[2017-01-27 10:13] Gustry commented on #3713
![screen shot 2017-01-27 at 11 11 03](https://cloud.githubusercontent.com/assets/1609292/22367381/8f01254c-e481-11e6-89ee-4089ee3dc412.png)

[2017-01-27 10:14] Charlotte-Morgan commented on #3713
Yes - I'm sure he will fix it - or talk to the custodians

[2017-01-27 10:24] Charlotte-Morgan commented on #3473
I think this needs to include some acknowledgement of the source of the icons too.
Icons source: OCHA

[2017-01-27 10:57] timlinux commented on #515
Thanks @ivanbusthomi - closing this.

[2017-01-27 10:57] #515 closed

[2017-01-27 10:58] timlinux commented on #517
I think we can close it. In earlier versions we had the ability to batch run a number of times to stress test InaSAFE. We have since removed this.

[2017-01-27 10:58] #517 closed

[2017-01-27 11:06] timlinux commented on #692
I'm closing this  - action lists are now defined in definitions package and there is no redundant data store. In future we can make an action list editor if someone thinks that that is important.

[2017-01-27 11:06] #692 closed

[2017-01-27 11:09] timlinux commented on #755
This seems like an easy thing to add with our new architecture eh @Gustry ?

[2017-01-27 12:22] timlinux commented on #1111
@maning In InaSAFE 4 we are moving to showing only displaced population as a binary output.  And then we would show hazard zones over that.  I think for now we don't have priority to work on blend modes etc. in the future maybe it is something we could consider.  Since this issue has sat for a long time with no movement I would prefer to close it - we can re-open it again if you still need this be

[2017-01-27 12:22] #1111 closed

[2017-01-27 12:23] timlinux commented on #1190
Is this still an issue @lucernae ? If not please close this.

[2017-01-27 12:24] timlinux commented on #1196
InaSAFE 4.0 is here - death to old style IF's!

[2017-01-27 12:24] #1196 closed

[2017-01-27 12:26] timlinux commented on #1201
@samnawi is this still a priority? If not can we close this?

[2017-01-27 12:34] timlinux commented on #1206
I am going to close this - we should use the QuickMapServices plugin for tiled map layers rather - or the baked in add OSM button that I added a few versions back.

![screen shot 2017-01-27 at 2 32 49 pm](https://cloud.githubusercontent.com/assets/178003/22371085/a3bebabe-e49d-11e6-957c-6b893ccc9fa9.png)

[2017-01-27 12:34] #1206 closed

[2017-01-27 15:21] Gustry commented on #1206
Or use the builtin QGIS TMS provider

[2017-01-27 22:08] timlinux commented on #3713
@Charlotte-Morgan these data have been broken since I can remember - I always left it like that because its an imperfect world and working with a bit of ropey data is a better reflection of how our users are probably working. I think the onus should be on us to either report these issues to the user, or deal with them seamlessly where we can....

Anyway happy to be overridden on this if you want t

[2017-01-27 22:10] timlinux commented on #3713
BTW when I investigated the data before it had interior rings that comprised only two vertices iirc. If you want to fix it I suggest using a tiny buffer and then a tiny inverse buffer - it will dissolve the interior rings.

[2017-01-27 22:12] timlinux commented on #3721
Hi

This is a an option that @maning and friends added / asked for (can't remember which) because they wanted to force raster resampling to be to the size of the population data rather than the hazard data. I'd also prefer to remove this now since with the new architecture I don't see much need for this behavior any more. It will also make the wizard simpler which is a +1

[2017-01-27 22:31] timlinux commented on #3714
Thanks for this @ivanbusthomi . Could I ask that when you make realtime related tickets, you label them with realtime and assign Gavin (@gubuntu) and Rizky to the issue so that they can be aware of them? Thanks!

[2017-01-27 22:34] timlinux commented on #3638
@ismailsunni Yeah it was me. Just run a flood on buildings analysis and then look at the PDF....

[2017-01-27 22:36] timlinux commented on #3704
+1 for donuts on the next site visit too :-)

[2017-01-27 22:40] timlinux commented on #3712
@lucernae any thoughts on the best way to do this? I would still like to see the report classes moved into the ImpactFunction class. @Charlotte-Morgan it is on our plan but I am wondering how much of a blocker it is for you for 4.0? I know it is a functional regression so probably we should make a plan to at least let the user open the composer template as you have suggested....

[2017-01-27 22:42] timlinux commented on #3694
@lucernae first thing to do would be to confirm that we can actually use the Bayesian IF for the report. If not we need to think about either porting realtime to InaSAFE 4.0 or patching the Bayesian IF to give you any outputs that may be missing.

[2017-01-28 06:24] timlinux commented on #3678
Thanks very much! @ismailsunni to provide support if they need any help with the process...

[2017-01-28 17:11] timlinux commented on #3689
@gubuntu cc for you too

[2017-01-28 17:12] #3155 closed

[2017-01-30 01:13] ismailsunni commented on #3721
This one maybe : https://github.com/inasafe/inasafe/issues/1008 ?

[2017-01-30 01:25] ismailsunni commented on #3678
Sure, I will help :)

[2017-01-30 01:35] ismailsunni opened #3723 "Update Test in InaSAEF"
### Problem
Currently, we have
[code]
on travis. Can you check each of them, and see if you can make a useful unit test from them? It will be great if we have better unit test and coverage.
It will be good for @myarjunar to understand the code base faster while waiting for the next urgent issue to be fixed.

Personal request: can you check unit test under test_function_centric_wizard and fix them?

[2017-01-30 01:43] Charlotte-Morgan commented on #3721
I agree - it is important to control resampling behaviour. But if resampling is not part of the process any more, then we can remove this preference.  If resampling is still part of the process for data preparation or analysis, then this should stay.

[2017-01-30 01:46] Charlotte-Morgan commented on #3712
@timlinux - agree its a functional regression. I would prefer to not add a blocker but more to look for a workaround for now. Maybe there is some easy way to give access to the template in map composer and some notes for trainers in the short term.
Maybe this can be on the list for an early bug fix release?

[2017-01-30 02:04] Charlotte-Morgan commented on #3641
Hi @felix-yew - as discussed, can you please check this regularly now that it has started raining?

[2017-01-30 02:08] #3650 closed

[2017-01-30 04:44] Charlotte-Morgan opened #3726 "InaSAFE 4.0 Analysis terminology and layer names"
### Problem
InaSAFE 4.0 moves away from the traditional concept of an Impact Layer and produces up to 5 data sets from the analysis. However, the terminology introduced for these data sets is not clear and users are likely to be confused especially with the use of the word aggregate to mean many things.

I find it very hard to understand what is being described, and I am an experience GIS user, un

[2017-01-30 04:48] timlinux commented on #3721
I think yes.#1008. I am wondering if we have any pop density based tests @ismailsunni? Maybe good to assign this to @rohmat who can close it after adding a test case for pop density

[2017-01-30 04:56] Charlotte-Morgan opened #3727 "InaSAFE 4.0 Impact Map and Report naming conventions"
### Problem
InaSAFE 4.0 generates a folder for impact analyses (yay) but the files in the outputs folder do not have unique names. These files (map and reports) are the files most likely to be shared but they only have names based on templates

### Expected Behaviour
File names for maps and reports should be more explicit in their file naming, preferably unique.

### Proposed Solution
1. make the

[2017-01-30 06:53] timlinux commented on #1689
This is no longer relevant - impact function options dialog is gone in 4.0

[2017-01-30 06:53] #1689 closed

[2017-01-30 06:54] timlinux commented on #1798
I think we can close this - as it is handled in 4.0

[2017-01-30 06:54] #1798 closed

[2017-01-30 06:57] timlinux commented on #1964
Hi. Sorry for the really long delay in replying here. Do you still have this issue with the latest released InaSAFE? I'm going to close out this issue, please re-open if you are still having the issue and we will investigate further.

Regards

Tim

[2017-01-30 06:57] #1964 closed

[2017-01-30 06:57] #2181 closed

[2017-01-30 06:59] ismailsunni commented on #3721
@timlinux no as far as I know. Perhaps we can ask @felix-yew or @samnawi if they have test data for it

[2017-01-30 06:59] timlinux commented on #2182
This is dealt with in the standards and in the new IF architecture, I think it is better we continue the conversation there.

[2017-01-30 06:59] #2182 closed

[2017-01-30 07:01] timlinux commented on #2166
We already have this:

![screen shot 2017-01-30 at 9 00 38 am](https://cloud.githubusercontent.com/assets/178003/22414745/a3dfc608-e6ca-11e6-9110-8628ce1c28c9.png)

[2017-01-30 07:01] #2166 closed

[2017-01-30 07:01] Charlotte-Morgan opened #3728 "Py Error: 3.5.4 - Flood analysis"
### Problem
User got this error message

[code]

### environment
Windows
QGIS 2.18.3 - warning it may not work

### proposed solution
make it happy and back port if a biggie

### cc
reporting this for Gallant Bradley <gallantbradleygame@gmail.com> who popped in to chat on the gitter channel with this bug report https://files.gitter.im/inasafe/inasafe/OaD6/TEST-1.gif

[2017-01-30 07:16] timlinux commented on #2185
I think we can deal with this another way. Closing for now.

[2017-01-30 07:16] #2185 closed

[2017-01-30 07:39] mach0 commented on #2185
Is there still something missing? Shall I search for passwords? I only got this message right now ..

[2017-01-30 07:43] timlinux commented on #2185
@mach0 Will be great if you can track down the ZOHO details for inasafe and share with me - I will add to my keypads

[2017-01-30 07:44] timlinux commented on #2290
@MariaSolovyeva can you replace the link for the Australian Gov in the logos on supporters page with this one:

http://dfat.gov.au/geo/indonesia/development-assistance/Pages/development-assistance-in-indonesia.aspx

Then we can close this.

[2017-01-30 07:48] timlinux commented on #1217
In InaSAFE 4 (and even in 3.x) we can directly use census data as polygon census areas. Normalising for settlement vs rural distributions is IMHO something that should come from census experts and not be core functionality of InaSAFE. I am going to close this out as we can already support vector population data in InaSAFE. Please re-open if you wish to continue the discussion. Thanks

[2017-01-30 07:48] #1217 closed

[2017-01-30 07:49] timlinux commented on #1242
@Charlotte-Morgan  Can I suggest we close this out and revisit it when we have our action plan in place for 2017 activities?

[2017-01-30 07:50] Charlotte-Morgan commented on #1242
Can we put this on the agenda for Wednesday meeting please

[2017-01-30 07:52] timlinux commented on #1234
I would still like that we do this and propose moving up the priority to be in an early 4.x release. e.g. 4.1. Many of these items are actually dealt with in standards and notes too but I would also like to see in the dock some contextually aware messaging to the user to try to inform them about possible issues with their planned analysis. @Gustry I am going to make this your baby ok?

[2017-01-30 08:01] timlinux commented on #1219
It seems we could just be using generic IF for this. In the paper cited above they work on high/medium/low hazard zones. I think the actual hazard zone calculations described in that paper are beyond the scope of what we can should in InaSAFE. Perhaps we should focus on custom hazard classes (so we can use landslide specific wording) and hazard specific actions and notes for now.

It we are going

[2017-01-30 08:37] Charlotte-Morgan commented on #1219
Yes - generic is fine for this. Originally we had use cases for landslide analysis from Pak Trias and GeoRisk but this is not a priority for the DMI funded work. However, this would be well regarded as a topic for training new developers how to write additional code as it has wide application assuming inputs are available from Landslide hazard experts

[2017-01-30 08:38] Charlotte-Morgan commented on #1234
+ 1 to make this happen

[2017-01-30 08:55] felix-yew commented on #3641
Hi, @Charlotte-Morgan - yes, if the rain comes in Jakarta I will check it. Today, there is no rain puddles in https://petabencana.id/map/jakarta and no update from our flood realtime (last update on 14 - 11 - 2016).

[2017-01-30 09:00] timlinux commented on #3326
Can we close this?

[2017-01-30 09:00] lucernae commented on #3326
We can close this.

[2017-01-30 09:00] #3326 closed

[2017-01-30 09:46] Gustry commented on #3721
Yes, for EQ raster on population raster, we are still using the keyword `allow_resampling` https://github.com/inasafe/inasafe/blob/develop/safe/gis/raster/align.py#L75 so as to align these rasters.

[2017-01-30 09:47] Charlotte-Morgan commented on #3721
ok - thanks to confirm.  Your call if it should stay in the wizard or move to options - ie what fatality function would you like to use and is it ok to resample your population data

For now - i think leave it in

[2017-01-30 10:04] Gustry commented on #3723
You may have a look to these issues #2977 and #2942 @ismailsunni and @myarjunar

[2017-01-30 10:26] ismailsunni commented on #3563
Based on my discussion with @timlinux we decide to do it like this:
[code]

By doing this, we will:
- Remove classifications property from hazard layer
- Need to add `active` key in the classification

[2017-01-30 11:17] Gustry commented on #3538
@ismailsunni I think you fixed some of these issues, right ?

[2017-01-30 11:18] Gustry commented on #3552
This has been fixed in 4.0 by @myarjunar

[2017-01-30 11:18] #3552 closed

[2017-01-30 11:25] #912 closed

[2017-01-30 11:38] myarjunar commented on #3499
closed in #3645

[2017-01-30 11:38] #3499 closed

[2017-01-30 11:39] myarjunar commented on #3498
closed in #3645

[2017-01-30 11:39] #3498 closed

[2017-01-30 12:19] timlinux commented on #1242
Ok I will chat with you about it in our next meeting.

[2017-01-30 13:01] NyakudyaA commented on #2852
The open map composer option is now redundant in version 4.

[2017-01-30 13:01] #2852 closed

[2017-01-30 13:10] NyakudyaA opened #3729 "Empty report map after running flood on roads in ver 4"
### Problem

After running Flood on roads in version 4. When printing the results nothing come through in the results.

![out-1](https://cloud.githubusercontent.com/assets/2510900/22424179/1435ab88-e6fe-11e6-90f2-17d8b435faae.gif)

### Expected Behaviour

Draw results when printing.

### Environment
* InaSAFE :  develop
* QGIS :  2.18.3
* OS :  Ubuntu
* Data used : `safe/test/data`
  * Exposure :

[2017-01-30 13:17] timlinux commented on #3335
@mbernasocchi has plans to start implementing these tools too....

[2017-01-30 13:22] NyakudyaA commented on #1333
WCS layers now work properly. Keywords are properly saved in the database.
![wcs](https://cloud.githubusercontent.com/assets/2510900/22424601/e3e89466-e6ff-11e6-9f8a-b79036a51fe6.png)

[2017-01-30 13:22] #1333 closed

[2017-01-30 13:29] Gustry opened #3730 "The report needs to display `not exposed`"
### Problem
![screen shot 2017-01-30 at 14 27 07](https://cloud.githubusercontent.com/assets/1609292/22424770/4be277e2-e6f8-11e6-8a1f-065c4ffc7694.png)

As we can see, Affected + Not Affected ≠ Total.

### Expected Behaviour
We should have a new line for Not exposed.
Affected + Not Affected + Not Exposed = Total.

There is a new column in the analysis layer.

[2017-01-30 13:31] Gustry opened #3731 "Numbers need a thousand separator."
### Problem
![screen shot 2017-01-30 at 14 27 07](https://cloud.githubusercontent.com/assets/1609292/22424837/a95491bc-e6f8-11e6-907c-8798645c9770.png)

Numbers should have a thousand separator.
You can have a look to #3718

[2017-01-30 13:33] Gustry commented on #2691
@lucernae Is there an easy way to highlight some columns in the reporting ?

[2017-01-30 13:36] Gustry commented on #2907
@ismailsunni Can you confirm this will be covered soon ? As we will have many thresholds for the same  hazard.

[2017-01-30 13:38] Gustry commented on #1917
This is now done in 4.0. We assign the highest hazard class to buildings.

[2017-01-30 13:38] #1917 closed

[2017-01-30 13:39] Gustry commented on #2985
This ticket needs to be updated with InaSAFE v4.

[2017-01-30 13:40] NyakudyaA commented on #2985
I will look at it @Gustry

[2017-01-30 13:41] Gustry commented on #2385
This seems to be fixed in version 4.
Please re-open if you want.

[2017-01-30 13:41] #2385 closed

[2017-01-30 13:46] Gustry commented on #2900
In version 4.0 we don't have any raster with a color ramp. Can we close this ticket ?

[2017-01-30 13:48] Gustry opened #3732 "EQ Raster on Population raster : raster symbology"
### Problem
With an EQ raster on population raster, InaSAFE V4 produces a raster of displaced people.

This raster doesn't have any symbology for now.

We agreed to display the raster with a binary style.
Can you provide the style (colors) that we should use ?

[2017-01-30 14:02] Gustry opened #3733 "Reports should work with a EQ raster on raster population"
### Problem
![screen shot 2017-01-30 at 15 01 31](https://cloud.githubusercontent.com/assets/1609292/22425785/082b102c-e6fd-11e6-9617-43cf952a5050.png)

You should wait for PR #3669 to be merged

[2017-01-30 14:25] NyakudyaA commented on #2985
The problem still occurs:
QGIS Version: 2.14.3
Inasafe Version: develop
![error](https://cloud.githubusercontent.com/assets/2510900/22426500/1c56a2c2-e708-11e6-92cd-26a94c6c59d4.gif)

QGIS Version 2.18.2
Inasafe version: develop
Problem:
![errors](https://cloud.githubusercontent.com/assets/2510900/22426569/64d2f258-e708-11e6-87b1-0b12a0e25735.png)

[code]

[2017-01-30 14:25] NyakudyaA commented on #22
In Inasafe 4.0 WCS and WFS working nicely. Tested with layers from http://oondra.kartoza.com/
![mix](https://cloud.githubusercontent.com/assets/2510900/22425141/5ae68292-e702-11e6-96cb-e5646190564e.png)

[2017-01-30 14:28] NyakudyaA commented on #432
WFS, WCS work nicely in inasafe version 4

[2017-01-30 14:48] Gustry commented on #2985
So with both inasafe develop :
* Working with QGIS 2.14
* Not working with QGIS 2.18, but a different error the original ticket.

Correct ?

[2017-01-30 14:49] Gustry commented on #432
Thanks @NyakudyaA.
Let's close this ticket.

[2017-01-30 14:49] #432 closed

[2017-01-30 14:50] Gustry commented on #22
Thanks @NyakudyaA for the comment.
Let's close this ticket.

[2017-01-30 14:50] #22 closed

[2017-01-30 16:07] Gustry commented on #3723
Can you also have a look to tests named `Xtest` ? We put a X to disable them, but I think we should do something about them.

[2017-01-30 16:40] Gustry commented on #3726
This seems ok and more logical to me, thanks for your inputs. I will work on that later in the week.

The only thing not correct I think.
What we called the Aggregate Hazard Impacted comes from the union between the aggregation layer and the hazard layer. So IMHO this is not a hazard summary (we have some informations about the aggregation area).

In 4.1, I would like to provide the *hazard summar

[2017-01-30 18:26] timlinux commented on #1190
Closing as this issue has been moved to the dedicated realtime repo.

[2017-01-30 18:26] #1190 closed

[2017-01-30 18:26] timlinux commented on #1201
Closing as this issue has been moved to the dedicated realtime repo.

[2017-01-30 18:27] timlinux commented on #2212
Closing as this issue has been moved to the dedicated realtime repo.

[2017-01-30 18:27] #2212 closed

[2017-01-30 18:27] timlinux commented on #2495
Closing as this issue has been moved to the dedicated realtime repo.

[2017-01-30 18:27] #2495 closed

[2017-01-30 18:28] timlinux commented on #2497
Closing as this issue has been moved to the dedicated realtime repo.

[2017-01-30 18:28] #2497 closed

[2017-01-30 18:29] #1201 closed

[2017-01-30 18:43] timlinux commented on #2662
Closing this as the realtime work has been moved to its own repo and a ticket has been opened there.

[2017-01-30 18:43] #2662 closed

[2017-01-30 18:45] timlinux commented on #2696
Closing this as the realtime work has been moved to its own repo and a ticket has been opened there.

[2017-01-30 18:45] #2696 closed

[2017-01-30 18:45] timlinux commented on #2736
Closing this as the realtime work has been moved to its own repo and a ticket has been opened there.

[2017-01-30 18:45] #2736 closed

[2017-01-30 18:46] timlinux commented on #2738
Closing this as the realtime work has been moved to its own repo and a ticket has been opened there.

[2017-01-30 18:46] #2738 closed

[2017-01-30 18:47] timlinux commented on #2739
Closing this as the realtime work has been moved to its own repo and a ticket has been opened there.

[2017-01-30 18:47] #2739 closed

[2017-01-30 18:48] timlinux commented on #2783
Closing this as the realtime work has been moved to its own repo and a ticket has been opened there.

[2017-01-30 18:48] #2783 closed

[2017-01-30 18:49] timlinux commented on #3230
Closing this as the realtime work has been moved to its own repo and a ticket has been opened there.

[2017-01-30 18:49] #3230 closed

[2017-01-30 18:51] timlinux commented on #3282
Closing this as the realtime work has been moved to its own repo and a ticket has been opened there.

[2017-01-30 18:51] #3282 closed

[2017-01-30 18:53] timlinux commented on #3285
Closing this as the realtime work has been moved to its own repo and a ticket has been opened there.

[2017-01-30 18:53] #3285 closed

[2017-01-30 18:54] timlinux commented on #3315
Closing this as the realtime work has been moved to its own repo and a ticket has been opened there.

[2017-01-30 18:54] #3315 closed

[2017-01-30 18:54] timlinux commented on #3337
Closing this as the realtime work has been moved to its own repo and a ticket has been opened there.

[2017-01-30 18:54] #3337 closed

[2017-01-30 18:56] timlinux commented on #3347
Closing this as the realtime work has been moved to its own repo and a ticket has been opened there.

[2017-01-30 18:57] timlinux commented on #3641
Closing this as the realtime work has been moved to its own repo and a ticket has been opened there.

[2017-01-30 18:57] #3641 closed

[2017-01-30 18:57] timlinux commented on #3654
Closing this as the realtime work has been moved to its own repo and a ticket has been opened there.

[2017-01-30 18:57] #3654 closed

[2017-01-30 18:58] timlinux commented on #3689
Closing this as the realtime work has been moved to its own repo and a ticket has been opened there.

[2017-01-30 18:58] #3689 closed

[2017-01-30 18:59] timlinux commented on #3690
Closing this as the realtime work has been moved to its own repo and a ticket has been opened there.

[2017-01-30 18:59] #3690 closed

[2017-01-30 19:00] timlinux commented on #3714
Closing this as the realtime work has been moved to its own repo and a ticket has been opened there.

[2017-01-30 19:00] #3714 closed

[2017-01-30 19:00] timlinux commented on #3701
Closing this as the realtime work has been moved to its own repo and a ticket has been opened there.

[2017-01-30 19:00] #3701 closed

[2017-01-30 19:03] timlinux commented on #3694
Closing this as the realtime work has been moved to its own repo and a ticket has been opened there.

[2017-01-30 19:03] #3694 closed

[2017-01-30 19:03] timlinux commented on #3643
Closing this as the realtime work has been moved to its own repo and a ticket has been opened there.

[2017-01-30 19:03] #3643 closed

[2017-01-30 19:04] timlinux commented on #3467
Closing this as the realtime work has been moved to its own repo and a ticket has been opened there.

[2017-01-30 19:04] #3467 closed

[2017-01-30 19:04] timlinux commented on #3343
Closing this as the realtime work has been moved to its own repo and a ticket has been opened there.

[2017-01-30 19:04] #3343 closed

[2017-01-30 19:06] timlinux commented on #3342
Closing this as the realtime work has been moved to its own repo and a ticket has been opened there.

[2017-01-30 19:06] #3342 closed

[2017-01-30 20:13] timlinux commented on #1221
I'm closing this - we have ash since 3.5

[2017-01-30 20:13] #1221 closed

[2017-01-30 20:25] timlinux commented on #1277
@Charlotte-Morgan In 4.0 / develop we have now these tsunami hazard classes:

[code]

We could easily add an indonesian tsunami profile using the thresholds you describe above. Would you  like me to go ahead and do it?

[2017-01-30 20:35] timlinux commented on #1288
Closing this - we have already implemented bookmark support.

[2017-01-30 20:35] #1288 closed

[2017-01-30 20:43] timlinux commented on #1298
@lucernae and @gubuntu One for the realtime / web side of things. We can use the wiki to describe the full procedure. We should aim to have all the services restorable from the backups and regularly tested by doing a full restore on the staging servers we plan to set up.

[2017-01-30 20:51] timlinux commented on #1301
Thankfully another thing we don't need to deal with since we polygonise rasters. @wonder-sk I am closing here but it would be great if you comment on whether the QGIS Raster Alignment tool works well with different X & Y dimensions to raster pixels.

[2017-01-30 20:51] #1301 closed

[2017-01-30 21:00] timlinux commented on #1443
@maning in the new architecture for 4.0 we can easily add new hazards and thresholds by creating definitions in ``hazards.py`` and ``hazard_classifications.py``. In the future we plan to also develop GUI tools for creating these definitions. I think we can close this issue and rather focus on specific hazard contributions to the above mentioned files.

[2017-01-30 21:00] #1443 closed

[2017-01-30 21:08] timlinux commented on #1481
@Gustry Can you take note of the comments here? Lets close this out when you have finished your ratios work for 4.0

[2017-01-30 21:11] timlinux commented on #1530
I'm closing this out since in 4.0 we have only one IF

[2017-01-30 21:11] #1530 closed

[2017-01-30 21:14] timlinux commented on #1594
I'm closing this out as it lacks detail.

[2017-01-30 21:14] #1594 closed

[2017-01-30 21:16] timlinux commented on #1681
I'm going to close this out as it is old. @Gustry is taking care of translations for French.

[2017-01-30 21:16] #1681 closed

[2017-01-30 21:37] Gustry commented on #3719
This should be fixed in #3669

I guess you were using QGIS 2.14.

[2017-01-30 21:38] Gustry commented on #3679
This should be fixed in #3669

I guess you were using QGIS 2.14.

[2017-01-30 21:38] timlinux commented on #1279
See https://github.com/inasafe/inasafe/pull/3718#event-941309122

[2017-01-30 23:24] ismailsunni commented on #3538
Hmm, I don't think so @Gustry . I was mostly working on the wizard lately. I just change some text and fix the typo in `eldery`

[2017-01-30 23:25] ismailsunni commented on #2907
Yes, it will covered when we have many thresholds for the same hazard

[2017-01-31 01:32] wonder-sk commented on #1301
Hi there... QGIS raster alignment tool indeed work seamlessly also with non-square cells - both for input rasters and for output ones.

[2017-01-31 04:20] Charlotte-Morgan opened #3736 "We need to update the web site"
I stumbled across the following pages that need to be updated when trying to find something to help a new user:

http://docs.inasafe.org/en/user-docs/toolbar.html
http://inasafe.org/for-users/releases/
One page jumps out to the wiki and can't go back

There were more but its frozen ....

[2017-01-31 04:22] Charlotte-Morgan commented on #2900
Yes - we have a work around - don't display raster results :)

[2017-01-31 04:22] #2900 closed

[2017-01-31 04:35] Charlotte-Morgan commented on #3732
hi @Gustry - I think @ivanbusthomi has already supplied this. Maybe to @lucernae
If not; I'm passing this to @ivanbusthomi to follow up

[2017-01-31 04:58] Charlotte-Morgan commented on #2907
let me follow up with @RikkiWeber on this one. I had forgotten we had this ticket :(

[2017-01-31 05:04] ismailsunni opened #3737 "Make Sure Release Package is Working"
### Problem
Currently, we put
`from safe.test.utilities import monkey_patch_keywords` in `datastore.py`. But, we remove test directory when do the packaging since we don’t put test related code to the package.
There is `rm -rf ${WORKDIR}/${DIR}/safe/test` in the `release.sh`

### Expected Behaviour
User can install from release package.

### Environment
* InaSAFE :
* QGIS :
* OS :
* Data used :

[2017-01-31 05:09] Charlotte-Morgan commented on #1277
@timlinux - what we have is what Pak Hamza advised we should have when we were working on Tsunami IF for Ambon support. This ticket is ancient and I think is superceded by #2907
May I suggest we do nothing on this now, but  think about adding standard Indonesian thresholds for all hazards (not just Tsunami) in 4.x
We will need to get someone to document them.

[2017-01-31 05:36] Charlotte-Morgan commented on #1277
For further clarification: Perka 2 / 2012 is about standards for risk assessment. This would be relevant to the display and analysis of multi event data for risk assessments.

The classes we have and the revision in #2907 would be specific to scenario data ie for contingency planning

[2017-01-31 05:40] Charlotte-Morgan commented on #2907
I have my doubts about this change. I think we actually should offer thresholds for single event scenarios (as per advice from Pak Hamza) and thresholds for risk assessment as per Perka 2 / 2012 which are relevant to multiple event / hazard maps. Different data --> different purpose --> different thresholds --> different reports.
let me talk to @RikkiWeber and others @fredychandra @samnawi @ivanbu

[2017-01-31 06:47] timlinux commented on #1277
Ok thanks for the feedback @Charlotte-Morgan I'm going to close this out in favour of #2907

[2017-01-31 06:47] #1277 closed

[2017-01-31 06:49] Charlotte-Morgan commented on #1277
problem with 2907 is that it is tsunami specific.
The RFC is for all hazards

[2017-01-31 06:49] NyakudyaA commented on #2985
yes @Gustry  It is giving a different error in 2.18.2 but running in QGIS 2.14.3 with the same error as the ticket stipulates

[2017-01-31 06:58] timlinux commented on #3291
Closing this in favour of the ticket in inasafe-realtime repo

[2017-01-31 06:58] #3291 closed

[2017-01-31 06:58] timlinux commented on #3493
Closing this in favour of the ticket in inasafe-realtime repo

[2017-01-31 06:58] #3493 closed

[2017-01-31 06:59] timlinux commented on #3691
Closing this in favour of the ticket in inasafe-realtime repo

[2017-01-31 06:59] #3691 closed

[2017-01-31 07:00] timlinux commented on #1298
Closing this in favour of the ticket in inasafe-realtime repo

[2017-01-31 07:00] #1298 closed

[2017-01-31 07:00] timlinux commented on #2058
Closing this in favour of the ticket in inasafe-realtime repo

[2017-01-31 07:00] #2058 closed

[2017-01-31 07:00] timlinux commented on #2160
Closing this in favour of the ticket in inasafe-realtime repo

[2017-01-31 07:00] #2160 closed

[2017-01-31 07:01] timlinux commented on #2589
Closing this in favour of the ticket in inasafe-realtime repo

[2017-01-31 07:01] #2589 closed

[2017-01-31 07:04] timlinux commented on #2698
Closing this in favour of the ticket in inasafe-realtime repo

[2017-01-31 07:04] #2698 closed

[2017-01-31 07:05] timlinux commented on #2792
Closing this in favour of the ticket in inasafe-realtime repo

[2017-01-31 07:05] #2792 closed

[2017-01-31 07:05] timlinux commented on #2937
Closing this in favour of the ticket in inasafe-realtime repo

[2017-01-31 07:05] #2937 closed

[2017-01-31 07:05] timlinux commented on #3022
Closing this in favour of the ticket in inasafe-realtime repo

[2017-01-31 07:05] #3022 closed

[2017-01-31 07:06] timlinux commented on #2986
Closing this in favour of the ticket in inasafe-realtime repo

[2017-01-31 07:06] #2986 closed

[2017-01-31 07:07] timlinux commented on #3256
Closing this in favour of the ticket in inasafe-realtime repo

[2017-01-31 07:07] #3256 closed

[2017-01-31 07:07] timlinux commented on #3261
Closing this in favour of the ticket in inasafe-realtime repo

[2017-01-31 07:07] #3261 closed

[2017-01-31 07:08] timlinux commented on #3262
Closing this in favour of the ticket in inasafe-realtime repo

[2017-01-31 07:08] #3262 closed

[2017-01-31 07:09] timlinux commented on #3698
Closing this in favour of the ticket in inasafe-realtime repo

[2017-01-31 07:09] #3698 closed

[2017-01-31 07:10] timlinux commented on #3697
Closing this in favour of the ticket in inasafe-realtime repo

[2017-01-31 07:10] #3697 closed

[2017-01-31 07:11] timlinux commented on #3492
Closing this in favour of the ticket in inasafe-realtime repo

[2017-01-31 07:11] #3492 closed

[2017-01-31 07:11] timlinux commented on #3695
Closing this in favour of the ticket in inasafe-realtime repo

[2017-01-31 07:11] #3695 closed

[2017-01-31 07:12] timlinux commented on #2928
Closing this in favour of the ticket in inasafe-realtime repo

[2017-01-31 07:12] #2928 closed

[2017-01-31 07:12] timlinux commented on #3696
Closing this in favour of the ticket in inasafe-realtime repo

[2017-01-31 07:12] #3696 closed

[2017-01-31 07:13] timlinux commented on #1816
Closing this as we have a different implementation in InaSAFE 4.0

[2017-01-31 07:13] #1816 closed

[2017-01-31 07:14] timlinux commented on #1882
Closing this as we have a different implementation in InaSAFE 4.0

[2017-01-31 07:14] #1882 closed

[2017-01-31 07:14] timlinux commented on #1890
Closing this as we have a different implementation in InaSAFE 4.0

[2017-01-31 07:14] #1890 closed

[2017-01-31 07:17] timlinux commented on #1921
In InaSAFE 4.0 numbers are rounded at the presentation layer. We also have standards proposals e.g. #2920 which cover these requirements more precisely. Closing this.

[2017-01-31 07:17] #1921 closed

[2017-01-31 07:19] timlinux commented on #1998
Thanks @wonder-sk closing this. In V4.0 we are using the alignment tool in EQ functions too.

[2017-01-31 07:19] #1998 closed

[2017-01-31 07:19] timlinux commented on #2033
@lucernae can you take this ticket please

[2017-01-31 07:30] Gustry commented on #3730
![screen shot 2017-01-31 at 08 28 17](https://cloud.githubusercontent.com/assets/1609292/22455850/464cf702-e78f-11e6-93d9-c4f53176ed2c.png)

Thanks Rizky. I think we need to invert unaffected and not exposed in the report.

PS : @lucernae There is no thousand separator and rounding.

[2017-01-31 07:35] #3737 closed

[2017-01-31 08:03] #2806 closed

[2017-01-31 08:05] NyakudyaA opened #3741 "Failure to run flood on buildings using IF Wizard vers 4"
### Problem
When running flood on buildings using wizard there is an error that comes.

![out](https://cloud.githubusercontent.com/assets/2510900/22456585/10a4a4a8-e79c-11e6-908f-b01e821b189b.gif)

[code]

### Expected Behaviour
Run analysis without errors

### Environment
* InaSAFE :  develop
* QGIS : 2.18.3 and 2.14.3
* OS :  Ubuntu 16.04
* Data used : `safe/test/data`
  * Exposure :  `exposure/

[2017-01-31 08:38] Gustry commented on #3741
Thanks, I got this one too

[2017-01-31 08:56] Gustry commented on #2985
![screen shot 2017-01-31 at 09 55 15](https://cloud.githubusercontent.com/assets/1609292/22458150/6ee7fbc4-e79b-11e6-937d-0ce6067e303e.png)

Everything is working in 2.14.10. I would need some inputs @NyakudyaA as I can't replicate.

[2017-01-31 09:05] Gustry opened #3742 "We need to report on hectares, not on square meters"
### Problem
![screen shot 2017-01-31 at 10 02 41](https://cloud.githubusercontent.com/assets/1609292/22458361/743e4366-e79c-11e6-80b4-3123d3dec7a7.png)

We do an analysis on landcover, we need to report with hectares, not, square meters.

[2017-01-31 09:08] Gustry commented on #3487
This has been fixed. We now save the JSON file

[2017-01-31 09:08] #3487 closed

[2017-01-31 09:20] Gustry commented on #3289
I think we can now close this one @timlinux , you did it !

[2017-01-31 09:20] #3289 closed

[2017-01-31 09:30] Gustry commented on #3195
I think we can now close this one, or is there something we need to implement ? @ismailsunni @lucernae

[2017-01-31 10:51] ismailsunni commented on #3741
I got this one also today. Strange, may be I break the code somewhere, it was working before. Ouch, we really need a better unit test.

[2017-01-31 10:52] ismailsunni commented on #3195
Not from my side. I think @lucernae took over this part. :) You are a good guy @lucernae

[2017-01-31 10:59] ismailsunni commented on #1333
Amazing I must say :D, I never check again the keyword for remote layer, and it's still working :)

[2017-01-31 11:10] #3639 closed

[2017-01-31 11:23] Gustry commented on #3007
Sorry Charlotte, they are definitely nameless ...

[2017-01-31 11:23] #3007 closed

[2017-01-31 11:27] Gustry commented on #2293
We can now manage layers using different CRS. We will always use the exposure CRS for reporting.

[2017-01-31 11:27] #2293 closed

[2017-01-31 11:28] Gustry commented on #1996
We make a copy when needed, We have some helpers for that.

[2017-01-31 11:28] #1996 closed

[2017-01-31 11:30] Gustry commented on #1757
I'm closing this issue. We are using transifex. If any problem, feel free to open a new ticket.

[2017-01-31 11:30] #1757 closed

[2017-01-31 11:34] Gustry opened #3743 "InaSAFE should be French friendly"
### Problem

When we use InaSAFE V4 in French :
![screen-shot-2017-01-26-at-22 05 07](https://cloud.githubusercontent.com/assets/1609292/22463333/660ddaf8-e7b1-11e6-98d8-2c8587b8eb55.png)

@lucernae If you have an idea how to fix it easily in the report.

I will have a look too.

[2017-01-31 11:42] Gustry commented on #2572
@myarjunar Can you have a look to this ticket ?

[2017-01-31 11:43] Gustry commented on #3531
@myarjunar Can you have a look to this ticket ? This is low priority.

[2017-01-31 11:59] NyakudyaA commented on #3741
@Gustry , @ismailsunni  It seems most of the IF wizard is broken. Have just tested with Ash raster on building centroids and have the same error as above.

![ifc](https://cloud.githubusercontent.com/assets/2510900/22463996/67157710-e7bd-11e6-81d8-f201165ee0f1.png)

[2017-01-31 12:03] Gustry commented on #3741
I would say, in inasafe v4, we have only one IF ;-)
And this bug is in the wizard, so it will happen whatever the layer you use.

[2017-01-31 12:06] NyakudyaA commented on #2985
@Gustry  I can replicate in 2.14.3 will try to run in 2.14.10 and 2.18

[2017-01-31 12:46] NyakudyaA commented on #1725
All logos are not proportional and can be easily viewed.

![logo](https://cloud.githubusercontent.com/assets/2510900/22465364/030fde2a-e7c4-11e6-9341-cf7720d0acb6.png)

[2017-01-31 12:50] NyakudyaA commented on #1952
Is this still the case.  We need to test with current LTR of QGIS

[2017-01-31 12:55] NyakudyaA commented on #1813
Is this still a valid case?

[2017-01-31 13:07] NyakudyaA commented on #2985
I have tested this and all works. Will proceed to open a related ticket.

[2017-01-31 13:07] #2985 closed

[2017-01-31 13:19] NyakudyaA opened #3744 "Inasafe results disregard layer's order panel after completing analysis ver 4"
### Problem

When running analysis in inasafe the results are automatically placed at the top of the layer list so that they become visible. This makes all layers visible but not in situations where you have multiple layers and the rendering of layers is being controlled by the layer order panel.

![wizard_2](https://cloud.githubusercontent.com/assets/2510900/22466317/65442232-e7c8-11e6-8e13-a38b1

[2017-01-31 13:21] MariaSolovyeva commented on #3704
hi @myarjunar, @Charlotte-Morgan  and @timlinux , here is the very simplified donut, let me know!
I cannot attach SVG here, so here is the PNG preview with added gray background. I will copy it as a letter to Tim with SVG file.
![multi-buffer](https://cloud.githubusercontent.com/assets/10400420/22466422/3d2011a4-e7d1-11e6-9268-a20d6e292e3d.png)

[2017-01-31 13:22] MariaSolovyeva commented on #3704
Another version

![multi-buffer2](https://cloud.githubusercontent.com/assets/10400420/22466483/7d9ecb6c-e7d1-11e6-8fce-6a261aefe4e5.png)

[2017-01-31 14:02] NyakudyaA commented on #1729
Most of the issues are not valid anymore. The grammar issues have been addressed by Reporting standards. Connection timeout is mainly internet connectivity and OSM server/by pass which fluctuates.

[2017-01-31 14:39] NyakudyaA commented on #1812
We can close this. Raster layers can be uploaded to geonode

[2017-01-31 14:40] timlinux commented on #1729
Agreed thanks. Thanks for your feedback @KathrynOwen - I think you will find these issues are largely addressed in the upcoming version 4.

[2017-01-31 14:40] #1729 closed

[2017-01-31 14:41] #1812 closed

[2017-01-31 15:48] timlinux commented on #1725
I'm not sure we are ready to close this....in The default layout they are clipped which will be an issue for our supporters I think.

[2017-01-31 17:30] lucernae commented on #3638
Is this still become an issue?
<img width="899" alt="screen shot 2017-02-01 at 00 28 47" src="https://cloud.githubusercontent.com/assets/831865/22476574/730513c0-e815-11e6-8d61-7e4f39a7a6f9.png">

[2017-01-31 17:41] lucernae commented on #1243
Is this still relevant? I don't understand the context?

[2017-01-31 18:00] timlinux commented on #1952
I think we can close this out - I have not seen reports like this recently.

[2017-01-31 18:00] #1952 closed

[2017-01-31 18:13] lucernae commented on #2691
The easiest way is to apply css class.
What is possible now would be:
- Apply highlighting using css class in jinja2 template
- Double header (Affected, then hazard classes. Not affected, then hazard classes). But, I assume our terminology now is slightly different?

I think we can add it to Reporting Standard, so I can have a reference. Also do we want it to apply to not just roads exposure?

For

[2017-01-31 18:16] lucernae commented on #3733
The PR is now merged. So I should check on this, right?

[2017-01-31 18:39] lucernae commented on #3195
@ismailsunni I remembered you were assigned on grouping postprocessor based on definitions, but not for 4.0 final :D.
Also, I checklisted what I think already done :). I think we can close this and move on.

For this, currently post processors runs based on its input definitions. I don't know if we still needs settings for this?

[2017-01-31 18:47] lucernae commented on #3743
LOL at the title :D.
Is it unicode problem? Was it affecting just the report or with the legend too?

[2017-01-31 19:14] Gustry commented on #3733
I created the ticket before your merge. We will check. Thanks

[2017-01-31 19:17] Gustry commented on #3743
I guess yes.

Yes, the report. The legend is fine.

I noticed some other problems when using inasafe in french.

[2017-01-31 19:26] lucernae opened #3747 "Report should be defined for help friendly"
All the input used inside extractors should be defined in report definitions so it can be displayed in help easily.

[2017-01-31 19:30] lucernae opened #3748 "InaSAFE Settings needs to be defined properly"
Right now, it is hard see the connections of what settings is used where and what it is about.
These settings needs to be defined properly in definitions (currently in default_settings.py).
Not just for key value pair, but what the value type is, descriptions, and default value.
Plus point, it can be displayed nicely in help.

CC: @ismailsunni @timlinux

[2017-01-31 20:48] timlinux commented on #3727
Hi @Charlotte-Morgan can you clarify the meaning of the 'on' prefix in your examples above?

+1 To have names of datasets with meaningful names.

[2017-01-31 20:49] timlinux commented on #1219
OK thanks for this @Charlotte-Morgan I am going to close this out and we can use landslide as the basis for training materials for advanced users / beginner developers.

[2017-01-31 20:49] #1219 closed

[2017-01-31 20:51] timlinux commented on #3418
Closing this - reports are in V4 code base - nice work @lucernae !

[2017-01-31 20:51] #3418 closed

[2017-01-31 20:52] timlinux commented on #3376
This is done right @Gustry ? can we close?

[2017-01-31 20:55] timlinux commented on #3372
@Gustry can you update this ticket with the table showing how we propose to manage ratios?

[2017-01-31 21:03] timlinux commented on #3370
Hi @feyeandal My apologies that we missed this ticket until now. We did have a tool 'impact merge tool' that allowed you to run two analyses independently and then merge the results into a single report. In the version 4.0 code that comes out soon (and the later 3.x releases) we removed that tool because it was buggy and hard to use.

I think that multihazard is something we could do in the future

[2017-01-31 21:03] #3370 closed

[2017-01-31 21:05] timlinux commented on #3434
@Gustry lets move this into the 4.1 milestone unless you have some concrete plans to implement it now (presumably with an ifdef based on QGIS version so that the old code path still works?

[2017-01-31 21:07] timlinux commented on #3744
@NyakudyaA I think using layer ordering is an advanced feature in QGIS and pretty much you can expect this kind of behaviour when using it. Yes we can patch it to work but I prefer to focus on more mainstream issues for now.

[2017-01-31 21:08] timlinux commented on #3742
@Gustry  and @Charlotte-Morgan should we not do the same for roads (km vs m when the length exceeds 1000m?)

[2017-01-31 21:10] timlinux commented on #3706
Can we move this to a wiki page rather and close this. I think it is better to keep tickets with actionable things in them around and keep the issue list otherwise clean.

[2017-01-31 21:13] timlinux commented on #2037
This is also dealt with nicely in v4 code where you can have either string values or numeric ranges (and in so doing catering for raster and vector data).

[2017-01-31 21:13] #2037 closed

[2017-01-31 21:15] timlinux commented on #2042
@lucernae set up a backup system for it some time ago I think. @lucernae will you please check one of the dumps restores nicely? I will close this in the meantime.

[2017-01-31 21:15] #2042 closed

[2017-01-31 21:17] timlinux commented on #1879
I suspect that just wrapping the uri in QString or u'' might fix this. @lucernae please confirm if we can close this issue out?

[2017-01-31 21:18] timlinux commented on #1980
This is old and superceded by the v4 architecture. Closing.

[2017-01-31 21:18] #1980 closed

[2017-01-31 21:22] timlinux commented on #2168
I'm going to close this out - In v4 all rounding should be managed centrally and at report rendering time, so I think it is better to create any rules in standards (e.g. like in #2920) and then we apply them uniformly to all scenarios.

[2017-01-31 21:22] #2168 closed

[2017-01-31 21:26] timlinux commented on #2197
@ismailsunni your update generally looks ok for me,. I think / hope we are still using dynamic translations to deal with translatable strings coming from the user's data. Thanks for making these updates.

[2017-01-31 21:26] #2197 closed

[2017-01-31 21:37] timlinux commented on #2291
We have our new shiny help system. I do think there is more we need to add e.g. toolbar descriptions - I hope to spend some more time on that next week and then we can hopefully close this.

[2017-01-31 21:43] timlinux commented on #3638
@lucernae yes the houses show but a different issue now - it is not showing all the layers visible in the project in the map report.

![2017-01-31 23_41_36-](https://cloud.githubusercontent.com/assets/178003/22485607/f4660e8a-e80e-11e6-9436-26f8f9485742.png)

[2017-01-31 21:46] timlinux commented on #2413
@ismailsunni We actuall are missing our InaSAFE branding on the new GeoNode you span up - can you re-instate it?

[2017-01-31 21:48] timlinux commented on #1243
Yes - the idea is to be able to create data packs that can be used for training courses. The trainers can update GeoNode layers at any time and then download the pack which is ready to run.

[2017-01-31 22:15] timlinux commented on #3548
wrt consistent tables / presentation of definitions, I think there is a case for 2 different version. Where the table has text values, I propose that the default min and default max are dropped and that would allow more room for the fields.

@Charlotte-Morgan  I'm not sure if it will make sense to do that - the text and numeric min max are both valid - the former being used for categorical data an

[2017-01-31 22:17] timlinux commented on #3548
Is it possible to add some styling and remove the extra "post processor" words in front of Input Types, Input Values, Process types?

Just for a note, I did try do do this but it broke a lot of tests doing that and I don't know if the time I will spend making that work is well apportioned. After the 4.0 dust has settled I can do another attempt to remove those.

[2017-01-31 22:20] timlinux commented on #3506
I'm not sure writing a whole tool to add 'wet' column to a polygons layer is justified. We can just as well explain how to use the field calculator. Lets park this for 4.1 for now.

[2017-01-31 22:23] timlinux commented on #3203
See #3335

[2017-01-31 22:25] #3195 closed

[2017-01-31 22:26] #3208 closed

[2017-01-31 22:27] timlinux commented on #3172
This is fixed in v4 right @ismailsunni ? Can you test and validate @dewisulistio ?

[2017-01-31 22:29] timlinux commented on #3145
Please close if this is fixed @lucernae

[2017-01-31 22:30] timlinux commented on #3132
Where are we with this?

[2017-01-31 22:32] timlinux commented on #3103
Lets close this in favour of #3559

[2017-01-31 22:32] #3103 closed

[2017-01-31 23:48] ismailsunni commented on #3195
@lucernae yes, but after the final :)

[2017-01-31 23:52] ismailsunni commented on #2413
Hmm, I need to check where I left this ticket after feature freeze.

[2017-01-31 23:53] ismailsunni commented on #3132
@timlinux Only back up system that we don't have yet.

[2017-01-31 23:57] ismailsunni commented on #3748
Agree. And perhaps more uniform format of the keys. Right now ,it's like this:

[code]

[2017-01-31 23:59] ismailsunni commented on #3172
It was fixed, but somehow it's broken again. See #3741

[2017-01-31 23:59] ismailsunni commented on #3741
Yes, it's the IFCW that cause the bug.

[2017-02-01 01:29] Charlotte-Morgan commented on #3506
Agree - I think v 4 will run well with this data if it is value mapped

[2017-02-01 01:33] Charlotte-Morgan commented on #3742
sounds like a good idea - do I need to update the standards?

[2017-02-01 01:36] Charlotte-Morgan commented on #3727
Oh - that looks silly.
I think it was supposed to say something like:
 <hazard>on<exposure>_map_A4.pdf
 <hazard>on<exposure>_report.pdf

Happy for your team to work out what is possible now

[2017-02-01 01:38] Charlotte-Morgan commented on #2691
Agree - the concept of a double header is already in the standards. Though you are right @lucernae, the terminology might change a little once we refine the way we use affected / displaced

[2017-02-01 01:40] Charlotte-Morgan commented on #3704
Hi @felix-yew and @samnawi - can you please look at this and comment on this icon for the new buffer tool?

[2017-02-01 04:33] wonder-sk commented on #3559
Just to clarify the state of implementation of the ITB Bayesian model in InaSAFE 4 as of now:
- it is not 1:1 port of InaSAFE 3.5 code - there will be some differences in the number of reported fatalities for ITB Bayesian model between InaSAFE 3.5 and 4.
- the auxiliary file with sampled probabilities (worden_berngamma_log_fat_rate_inasafe_10.csv) is not used, the implementation only uses median o

[2017-02-01 04:58] timlinux commented on #3727
Ah maybe you put angle brackets in the names above. Editing your comment above to put the example in back ticks might fix it.

[2017-02-01 06:42] Charlotte-Morgan commented on #3727
:) done

[2017-02-01 06:55] timlinux commented on #3727
👍

[2017-02-01 06:58] timlinux commented on #3727
I guess one hitch with this while I am thinking about is is we will need to add another layer of logic in the metadata to keep track of what the output layers are and what their significance is. I wonder if it would not be better to give the output folder a meaningful name, the layer titles meaningful names but the actual on-disk file names adhering to a standard naming so that we can point to an

[2017-02-01 07:23] Gustry commented on #2296
I'm going to close this one because we have now InaSAFE 4.0 with only one IF

[2017-02-01 07:23] #2296 closed

[2017-02-01 07:29] timlinux commented on #3721
Ok, agreed lets leave it in for now!

[2017-02-01 07:29] #3721 closed

[2017-02-01 07:33] myarjunar commented on #3367
closed in https://github.com/inasafe/inasafe/pull/3708

[2017-02-01 07:33] #3367 closed

[2017-02-01 07:37] timlinux opened #3749 "help_text should be the long information in definitions"
### Problem

We need to review definitions and make sure that help_text is always the longer information for a field and description is always the shorter one. This will avoid issues like this:

![screen shot 2017-02-01 at 9 37 00 am](https://cloud.githubusercontent.com/assets/178003/22498592/0c6cbd64-e862-11e6-8d14-06df86a6e84f.png)

![screen shot 2017-02-01 at 9 37 08 am](https://cloud.githubuse

[2017-02-01 07:43] timlinux commented on #3749
@ismailsunni to make sure code usages correct, @timlinux to make sure definitions are correct.

[2017-02-01 07:47] timlinux opened #3750 "OSM downloader is not working"
### Problem

When I click OK I get this

![screen shot 2017-02-01 at 9 46 06 am](https://cloud.githubusercontent.com/assets/178003/22498833/61fbf938-e863-11e6-8604-d91acd7e3bda.png)

### Expected Behaviour

The data should be downloaded when pressing OK.

### Environment
* InaSAFE :
* QGIS :
* OS :
* Data used :
  * Exposure :
  * Hazard :
  * Aggregation :

### Proposed Solution

Investigate and

[2017-02-01 07:50] Gustry commented on #3750
Hehem this comes from me yesterday :(

[2017-02-01 07:53] Gustry opened #3751 "We have keywords.db and metadata.db, we need to remove one"
### Problem

We have metadata.db : https://github.com/inasafe/inasafe/blob/develop/safe/metadata/metadata_db_io.py#L61

And keyword.db :
https://github.com/inasafe/inasafe/blob/develop/safe/utilities/keyword_io.py#L249

### Expected Behaviour
We should remove one I think. @ismailsunni Can you confirm ?

[2017-02-01 07:53] timlinux opened #3752 "PetaJakarta is not working anymore"
### Problem

In our Jan 2017 site visit we found out that PetaJakarta is moving to PetaBencana but the old API still seemed to work for fetching data. Now it seems to just return nothing....

### Expected Behaviour

Working PetaJakarta tool...

### Environment
* InaSAFE :
* QGIS :
* OS :
* Data used :
  * Exposure :
  * Hazard :
  * Aggregation :

### Proposed Solution

@timlinux write to Tim from