[2017-02-01 08:00] timlinux opened #3753 "Tsunami on pop fails for Maumere"
### Problem

Running tsunami on pop in maumere fails with this error:

[code]
### Expected Behaviour

IF should run.

### Environment
* InaSAFE : develop
* QGIS : 2.14
* OS : OSX
* Data used :
  * Exposure : pop
  * Hazard : tsunami
  * Aggregation :

### Proposed Solution

Fix please

[2017-02-01 08:25] lucernae commented on #3638
@timlinux @Charlotte-Morgan
So what is the rule? Do I need to show all the layer or only the impact layer?

[2017-02-01 08:36] myarjunar commented on #3750
earlier this morning I got another error message actually, it's something like `server unreachable` and the log is `host not found: http://staging.osm.kartoza.com/`. I don't know if it's a different thing or the same thing.

[2017-02-01 08:48] Gustry commented on #3750
It's another problem.
http://staging.osm.kartoza.com/ should work, but it's 502 for now. I'm going to restart on the server side.
@timlinux Is-it not possible to restart on rancher yet ?

@myarjunar You can still fix the issue, it should be very easy.

[2017-02-01 08:50] Gustry commented on #3750
I think you just need to remove line : https://github.com/inasafe/inasafe/blob/develop/safe/utilities/osm_downloader.py#L85 :D

[2017-02-01 08:57] myarjunar commented on #3750
Argh you should not tell me, I nearly find it hahaha. :joy:  thanks anyway

[2017-02-01 08:59] Gustry commented on #3750
You should check !

Small hint, you can disable developer mode in your inasafe settings to use the not staging site : http://osm.inasafe.org You will be able to test your fix

[2017-02-01 09:27] timlinux opened #3754 "Need call to action to download on InaSAFE.org"
### Problem

The website needs to have clear call to action for download and install:

Users: - for users page
Early adopters: - http://nightly.inasafe.org
Developers: - wiki pages for win/mac/osx

[2017-02-01 09:30] timlinux opened #3755 "We need to document behavior changes for 4.0"
### Problem

We need to make a document showing old procedures versus new procedures

We can write this collaboratively on google docs.

[2017-02-01 09:31] lucernae commented on #3727
I'll put some more thought on this:

- We can put some description for each output/component in the report metadata, so it can be explained to user using help, perhaps.
- We can create another key in report metadata, so we can easily group which component is the final product (like most pdf output) and which is just intermediate product (like infographic donut chart svg). This allows us to fetch a

[2017-02-01 09:41] Gustry commented on #3750
http://staging.osm.kartoza.com is up again.

Are you working on this issue ?

[2017-02-01 09:44] Gustry commented on #3719
New error from this morning using Aceh scenario :
[code]

[2017-02-01 09:45] #3679 closed

[2017-02-01 09:56] Gustry commented on #3753
I could't replicate with your scenario @timlinux

[2017-02-01 10:29] myarjunar commented on #3750
@Gustry ah I'm sorry, been afk for a while. Cool, it's working now.

[2017-02-01 10:36] ismailsunni commented on #3751
I think we use metadata.db, let me check again after feature freeze.

[2017-02-01 10:39] ismailsunni commented on #3749
![0fa3bfaa-e862-11e6-99b0-8fa70221df4a](https://cloud.githubusercontent.com/assets/1421861/22503638/39f5d91c-e8a5-11e6-8706-93d0173a2f22.png)

Just to confirm:
- red arrow = description, shorter
- blue arrow = help text, longer

isn't it?

[2017-02-01 10:39] ismailsunni commented on #3367
Thanks @myarjunar

[2017-02-01 10:41] ismailsunni commented on #3506
What if the hazard field doesn't have field that represent the hazard class / level / depth ?

[2017-02-01 10:45] myarjunar commented on #3750
closed in https://github.com/inasafe/inasafe/pull/3756

[2017-02-01 10:45] #3750 closed

[2017-02-01 11:04] Charlotte-Morgan commented on #1242
Happy to close this and make it a task for DMI work plan

[2017-02-01 11:04] #1242 closed

[2017-02-01 11:08] Gustry commented on #3506
What if the hazard *layer* doesn't have field that represent the hazard class / level / depth ?
I agree with the question from @ismailsunni. We can't do value mapping.

[2017-02-01 12:00] lucernae commented on #3733
Ah, no, I meant your PR #3669 :D.
So, what do we want to report here?
Is it MMI levels instead of hazard zones?

[2017-02-01 12:44] timlinux commented on #3506
But you can just use field calculator and create a new field 'wet' that you assign to each polygon. Then use Flood Classes on the layer when setting keywords.

[2017-02-01 12:46] timlinux commented on #3750
@Gustry We can deploy it easily in rancher I think. But for now just spin it up manually as I will get lost in a pile of docker tweaks otherwise...

[2017-02-01 12:47] timlinux commented on #3749
Confirmed @ismailsunni

[2017-02-01 12:49] Gustry commented on #3506
Yes of course. It's just not out-of-box as we usually do with inasafe.

[2017-02-01 12:53] Gustry commented on #3753
Ok could have the same kind of error.

Check PR #3757

[2017-02-01 12:55] timlinux commented on #3727
Ok that sounds good thanks @lucernae

[2017-02-01 12:57] Gustry commented on #3733
I think it's a duplicate of #3666

[2017-02-01 12:57] #3733 closed

[2017-02-01 12:57] timlinux commented on #3638
@lucernae I would have thought at least hazard, impact and aggregation layers should show. Personally I would have liked to see other layers that are loaded in QGIS too, maybe @Charlotte-Morgan has different ideas. Can you check in the standards?

[2017-02-01 13:01] Gustry commented on #3666
# Current problem :
![screen shot 2017-01-30 at 15 01 31](https://cloud.githubusercontent.com/assets/1609292/22425785/082b102c-e6fd-11e6-9617-43cf952a5050.png)

No, we don't display the breakdown I think.
I think in 3.5, we were using low, medium and high. I need to check.
We can have it with https://github.com/inasafe/inasafe/blob/develop/safe/definitions/hazard_classifications.py#L114 so in that

[2017-02-01 16:22] Gustry commented on #3720
Can you provide a screenshot or how can I replicate ?
I couldn't see it.

Thanks

[2017-02-01 16:24] Gustry commented on #3640
I think this is not related to InaSAFE.
We should check deeper.

[2017-02-01 16:37] Gustry commented on #3719
The issue is from the align raster tools I think. I need to check if it comes from qgis core or from inasafe.

[2017-02-01 16:44] Gustry commented on #2828
In V4, we are now using 8 colors defined here :
https://github.com/inasafe/inasafe/blob/develop/safe/definitions/styles.py#L11

[2017-02-01 16:44] #2828 closed

[2017-02-01 16:48] Gustry commented on #3376
No, I did nothing

[2017-02-01 16:55] Gustry commented on #3617
![screen shot 2017-02-01 at 17 54 58](https://cloud.githubusercontent.com/assets/1609292/22516899/9f32359e-e8a7-11e6-8c93-459b144058ec.png)

Can we close this issue @felix-yew ? I could run an analysis with a tsunami on population.

[2017-02-01 16:58] Gustry commented on #3489
I think this ticket has been fixed in the master branch in december and we are now calculating minimum needs on the displaced field.
We also had a nice session in JK where we could clarify the terminology between displaced, affected etc.
Can we close this ticket ?

[2017-02-01 21:39] Gustry commented on #3636
Can you check that this ticket is still relevant ?
I couldn't replicate with DKI Jakarta dataset and Ambon. I will try again, maybe some different aggregation area.

[2017-02-01 23:48] RikkiWeber commented on #2907
Pak Hamzah and BG both use the same thresholds which are for single scenarios.
low hazard = <1m
medium hazard 1-3m
high hazard >3m

You can introduce a 4th category if you wish, which would be the "dry zone"
The above is for buildings/infrastructure. For impact on people:
low hazard = <0.7m
medium hazard = 0.7-3m
high hazard = >3m

I am not familiar with what Perka 2/2012 states, however if it is

[2017-02-02 00:43] ismailsunni commented on #3506
IMHO, it's easier to tell / teach the user to use field calculator rather than creating new tool (which is the same function as field calculator).
- If the user has already known the field calculator, it's great. No need to teach anything.
- If the user doesn't know the field calculator, it's better for them to able to use field calculator.

CMIIW, but field calculator is very common tools for com

[2017-02-02 01:10] ismailsunni commented on #3007
We have temporary name actually, Super Mega Flux Capacitor :)

[2017-02-02 01:12] ismailsunni commented on #1243
Is similar with the QGIS as interface to interact with GeoNode? In very simple way of course.

[2017-02-02 02:29] felix-yew commented on #3704
Hi @MariaSolovyeva - the icon is awesome, I like the simple one in another version :+1: so we still see the grey light buffer :smile:

[2017-02-02 02:32] Charlotte-Morgan commented on #2907
thank @RikkiWeber  - lets discuss more next week

[2017-02-02 02:33] Charlotte-Morgan commented on #3636
@samnawi  - can you please review this

[2017-02-02 02:38] samnawi commented on #3713
OK @Charlotte-Morgan I'll try to looking up the problem and fix it.

[2017-02-02 02:57] samnawi commented on #3727
<hazard>on<exposure>_report.pdf
Happy for your team to work out what is possible now

Hi @Charlotte-Morgan I agree for this.
But, to make it unique, I proposed to add date and time as an ID for the result.

[code]

[2017-02-02 02:59] felix-yew commented on #3617
Hi @Gustry that's nice, I try and it fixes. Thank you.
![image](https://cloud.githubusercontent.com/assets/13621886/22535505/33e79c7a-e92e-11e6-93fb-053dbda17ff2.png)
:+1: :+1: :+1:

[2017-02-02 02:59] #3617 closed

[2017-02-02 06:27] #3753 closed

[2017-02-02 06:33] Charlotte-Morgan commented on #3607
hi @fredychandra - can you please follow up with Widya regarding the origin of the extra rice and hygiene kits that we use in the minimum needs.  Maybe she has the paper mentioned by @mbernasocchi above

[2017-02-02 06:49] fredychandra commented on #3607
Hi @Charlotte-Morgan,
I will try looking for information about this issue with Widya. Will back soon after it.

[2017-02-02 07:52] timlinux commented on #3727
One confusion that may come from adding date/time to the file name is that we need to make it clear it is not the event time, but the analysis time.

[2017-02-02 07:55] timlinux commented on #2749
I'm closing this - I rolled back to an older version of WP for now. In the next contract I would like to rethink our website strategy a bit. Perhaps migrate to mezzanine so it can be part of our standard web stack along with geonode, geosafe and realtime...

[2017-02-02 07:55] #2749 closed

[2017-02-02 07:58] Gustry opened #3759 "Census does not report all population"
### Problem
![screen shot 2017-02-02 at 08 50 08](https://cloud.githubusercontent.com/assets/1609292/22541125/b86da91c-e924-11e6-8b6d-212653b0fad0.png)

In the census layer, we have 146 816 people.

If we use all the exposure data in an analysis, we should have total = 146 816 too :

![screen shot 2017-02-02 at 08 53 37](https://cloud.githubusercontent.com/assets/1609292/22541240/8259382c-e925-11e

[2017-02-02 08:25] Gustry commented on #3759
![screen shot 2017-02-02 at 09 23 35](https://cloud.githubusercontent.com/assets/1609292/22541897/747d0702-e929-11e6-9ce6-6b2ca265f849.png)

For the total, it was due to a census area without geometry.

Let's check for the minimum needs

[2017-02-02 08:45] #3156 closed

[2017-02-02 08:45] Gustry commented on #3106
@myarjunar I tried to fix this one, but I couldn't really fix this issue.

I made a PR to show you what I started. If you have an idea how to fix it, please feel free to make a PR.

[2017-02-02 08:45] Charlotte-Morgan commented on #3156
implemented in version 4.0
Thanks for all the feedback :)

[2017-02-02 08:47] timlinux commented on #1158
This should be resolved in 4.0 - closing

[2017-02-02 08:47] #1158 closed

[2017-02-02 08:55] myarjunar commented on #3106
@Gustry cool! I'm having a look

[2017-02-02 08:57] ismailsunni commented on #3463
@myarjunar the only thing that we need to do is adding "Restore to default" button

[2017-02-02 08:59] ismailsunni commented on #3579
@ismailsunni will create smaller ticket per check box

[2017-02-02 09:05] Gustry commented on #3463
For the button, think about the QButtonBox Reset button

[2017-02-02 09:08] ismailsunni commented on #3579
@ismailsunni make super short term fix for sum == 1

[2017-02-02 09:08] Gustry commented on #3376
Let's close this one and we will reopen a ticket if we can notice an issue about the zonal stats.

[2017-02-02 09:08] #3376 closed

[2017-02-02 09:08] timlinux commented on #3579
The ratio validation on wizard is a release blocker

[2017-02-02 09:08] Charlotte-Morgan opened #3761 "Make groups in concepts"

[2017-02-02 09:09] lucernae commented on #3743
How can I replicate this @Gustry ? Is it using a specific dataset, or can I just switch my qgis locale to french?

[2017-02-02 09:12] timlinux commented on #3372
We are going to ship 4.0 without density support - will add it back in a future release.

[2017-02-02 09:15] timlinux commented on #3743
Cheese and olive oil will fix it

[2017-02-02 09:26] Charlotte-Morgan opened #3762 "Add displacement rates and notes"
We need to consult experts to find displacement rates for all hazards and then update notes to explain the rates that are assigned

[2017-02-02 09:27] samnawi commented on #3636
Hi @Gustry I've got a python error message when try to run the Ambon Dataset. The process is stuck at 80%.
![image](https://cloud.githubusercontent.com/assets/8871958/22543426/0bfc8538-e963-11e6-96e1-4c5a6e093944.png)

This is the error message
[code]

But, it's **working properly** for DKI Jakarta Dataset.
![image](https://cloud.githubusercontent.com/assets/8871958/22543586/c269b5fc-e963-11e6-83f

[2017-02-02 09:33] Gustry opened #3763 "We need to manage ratios in the aggregation layer"
### Expected Behaviour
![screen-shot-2017-01-25-at-9 25 16-am](https://cloud.githubusercontent.com/assets/1609292/22543910/f099a288-e932-11e6-88be-5f7205e93ba1.png)

* Hazard no count, no ratio.

* Vector Exposure can have counts :
  * Exposure Population : female, youth, adult, elderly
  * Exposures Road/Building/Landcover : value
* Vector Exposure can have ratios :
  * Exposures Road/Building/La

[2017-02-02 09:34] Gustry commented on #3636
Can you update with the develop branch, I already made a fix for this one this morning. Thanks.

[2017-02-02 09:41] samnawi commented on #3636
Ok @Gustry I'll try to update my develop version

[2017-02-02 09:46] samnawi commented on #3636
Ok @Gustry

Done.

The analysis is running very well.

[2017-02-02 09:48] Gustry commented on #3636
Thanks, can we close this one ?

[2017-02-02 09:49] Gustry commented on #3636
I remember you got an issue when you selected 2 aggregations areas and you got very big numbers. Is-it fixed ?

[2017-02-02 09:52] myarjunar commented on #3463
@ismailsunni @Gustry Reset or Restore Defaults button?? :smiley:

[2017-02-02 09:57] Gustry commented on #3152
I made a PR and it has been merged already in develop.
Is this ticket still relevant ?

[2017-02-02 10:00] samnawi commented on #3152
![image](https://cloud.githubusercontent.com/assets/8871958/22544852/1bc19818-e969-11e6-8e46-73117a52c760.png)

I guess it's already done

[2017-02-02 10:02] #3152 closed

[2017-02-02 10:04] Gustry commented on #3570
This ticket is also related to #3763

[2017-02-02 10:07] samnawi commented on #3636
Oh yeah @Gustry , I remember.
I still got this problem
![image](https://cloud.githubusercontent.com/assets/8871958/22545076/f222e182-e969-11e6-80aa-7db3c364f66e.png)

It's relevant with this ticket? or should we create a new ticket for this?

[2017-02-02 13:12] Gustry commented on #3463
Ahah, sorry I meant check the QButtonBox class, there is one role for this kind of purpose. I didn't want to mean use **this** one.

Let's use a RestoreDefaults

[2017-02-02 13:50] Gustry commented on #3741
Also as  I reminder, the IF is now returning more errors with the `prepare` that the wizard also need to catch : https://github.com/inasafe/inasafe/blob/develop/safe/definitions/constants.py#L42

I think we should make some groups.

[2017-02-02 13:57] Gustry commented on #3759
The minimum needs should be fixed in the PR above.

[2017-02-02 14:04] Gustry commented on #2455
I think we can work on that for the 4.1 release. It something we can provide with the 4.0 architecture. We talked a little bit in Jakarta to provide one table per aggregation area too. We need to check that together.

[2017-02-02 14:05] Gustry commented on #3600
@ismailsunni Do you still to work on this one ?

[2017-02-02 14:16] timlinux commented on #1243
Ok more clarification:

* add a new model in GeoNode for 'collections' e.g. Jakarta Training Collection, Malawi training collection
* provide a UI for user to assign one or more layers to a collection
* provide a button that lets the user download all datasets in a collection in a zip file

We should make this as a discrete django app that can be provided as a contrib module to GeoNode.

[2017-02-02 14:18] #3759 closed

[2017-02-02 15:34] Gustry opened #3765 "Display some unique values when we choose a field"
### Problem

The KW wizard is a **modal** window so we need to make it easy for the user to choose fields.

In this window, the user can have a preview of the content for each fields :
![screen shot 2017-02-02 at 16 25 53](https://cloud.githubusercontent.com/assets/1609292/22555619/8db3e214-e964-11e6-9bbf-d064f9825a86.png)

This is quite useful IMHO.

But in the next window, we don't have this pre

[2017-02-03 04:01] samnawi commented on #3636
Hi @Gustry I try to do a simple analysis to check some strange calculation in the aggregation.
I create a dummy administrative boundary and vector population like you in the picture below
![image](https://cloud.githubusercontent.com/assets/8871958/22578732/87264fce-e9fd-11e6-93d2-4676b1f5b405.png)

![image](https://cloud.githubusercontent.com/assets/8871958/22578744/9f52e40e-e9fd-11e6-9916-eba917a

[2017-02-03 06:26] Gustry commented on #3636
@samnawi For ambon, can you tell me exactly which files did you use and the name of these aggregation areas that you tried to use ?

And thanks a lot for your tests above. It would very nice if you can share this dataset with us for testing (zip or btsync). We can also include this dataset on travis and write a unittest to check that these results are correct. If you can have a full dataset with a

[2017-02-03 07:08] ismailsunni commented on #3678
Some comments:

English text | Your translation |  Proper translation | Notes
----------- | ---------------- | ------------------ | ------
from {number_affected} affected | dari {jumlah_terdampak} terdampak | dari {number_affected} terdampak | Do not translate sting inside { }
Analysis initialisation | Analisis Inisialisasi | Inisialisasi Analisis |
Hazard preparation | Persiapan ancaman bencana |

[2017-02-03 09:49] ismailsunni commented on #3678
Propossed date for the translation:
- [ ] 9 Feb 2017 : All strings are translated
- [ ] 10 - 13 Feb 2017 : Additional urgent strings / translation
- [ ] 14 Feb 2017 : Merging translation to develop branch

cc @timlinux @Charlotte-Morgan @ivanbusthomi @felix-yew @Gustry

[2017-02-03 09:52] ismailsunni commented on #3563
Done in #3767

[2017-02-03 09:52] #3563 closed

[2017-02-03 09:55] ismailsunni commented on #3560
I have done the first 2 items in the list. The other 2 are for the next InaSAFE as it's optional for now.
I will remove Release Blocker label and move to the milestones .

[2017-02-03 09:57] ismailsunni commented on #3561
Done in #3767

[2017-02-03 09:57] #3561 closed

[2017-02-03 10:12] Gustry commented on #3454
I think this is done now.

[2017-02-03 10:12] #3454 closed

[2017-02-03 10:29] ismailsunni commented on #3135
@Gustry tomorrow has finally come :D

[2017-02-03 10:45] mbernasocchi commented on #1159
@ismailsunni can you check if this is still happening when a Layername (in layer properties) includes utf8 I get:

[code]

[2017-02-03 11:00] ismailsunni commented on #3619
We don't have robust system to generate the step description. It happened because we change `metres_depth` to `metres` in units.py key.
In the `wizard_strings.py`, I only got `flood_metres_depth_question`, which won't be discovered since we try to find `flood_metres_question` now, like in your example.

I don't know a better way to fix it, beside renaming the variable.

But, this is not good, when

[2017-02-03 11:15] ismailsunni opened #3770 "Better definitions Function"
### Problem
Currently we have this `definition` function to get the full definition from a key. So far so good, until we have two definition which have the same key. It was unit `generic` in units.py and `generic` in hazards.py.

It's not good since we can get the wrong definition.

### Expected Behaviour
We should have a better mechanism to get the full definitions

### Proposed Solution
One of t

[2017-02-03 11:18] Gustry commented on #3770
Thanks, it was scary for me this `definition` function ;-)

[2017-02-04 22:20] timlinux commented on #3770
Yeah this is why I suggested before that we should use a naming scheme that makes all keys unique. Also that we should have a unit tests that fails if we find two keys the same. I prefer this approach to having a second parameters as we will still have hell if we move definitions between files.

I can help to come up with a better naming scheme for keys....

[2017-02-04 22:25] timlinux commented on #3619
Can you point to the logic of how it is currently generated?

[2017-02-06 03:13] #3135 closed

[2017-02-06 03:28] ismailsunni commented on #1159
@mbernasocchi
I didn't get the same problem with you. But, when I tried to replicate your problem, I got another problem when I used unicode filename, then set the title with unicode, `self.tr` will coplain (when it try to show in dock or widget). But, `tr` is fine.

What did you do to get the error?

[2017-02-06 03:42] ismailsunni commented on #3619
@timlinux  https://github.com/inasafe/inasafe/blob/develop/safe/gui/tools/wizard/wizard_utils.py#L39

[2017-02-06 03:44] ismailsunni commented on #3770
Ah yes, I didn't thought that there is a case to move definitions....

I prefer to use a naming scheme now

[2017-02-06 03:46] ismailsunni commented on #3600
Ah yes, I have done all of them.

[2017-02-06 03:46] #3600 closed

[2017-02-06 07:51] ismailsunni commented on #3373
I will review this while fixing my new keywords.

[2017-02-06 08:20] Gustry commented on #3615
I think this has been fixed by @lucernae We don't have this error.

[2017-02-06 08:20] #3615 closed

[2017-02-06 08:20] Gustry commented on #3320
What is this ticket @timlinux ?

[2017-02-06 08:22] Gustry commented on #3373
If you want to have a look to this ticket : https://github.com/inasafe/inasafe/issues/2800

[2017-02-06 08:57] ismailsunni commented on #3749
Done in code @timlinux

[2017-02-06 10:08] ismailsunni commented on #3463
Done in #3768

[2017-02-06 10:08] #3463 closed

[2017-02-06 10:12] ismailsunni commented on #3770
In the meeting we decided to review all the keys and make sure to avoid conflict. We will improve it later in the next version.

[2017-02-06 10:15] timlinux commented on #3320
I think we can just close it. Thanks!

[2017-02-06 10:15] #3320 closed

[2017-02-06 16:21] Gustry commented on #3678
@ismailsunni You should use the glossary for that :
https://www.transifex.com/inasafe/inasafe-code/glossary/fr/

Sometimes, one english word can have many equivalents in French. Using the glossary, I put one word in French so I always use the same word later. I also put notes sometimes.

[2017-02-07 03:22] Charlotte-Morgan opened #3777 "Python Processing Error message"
We have a nice warning for users to say that there is a problem with the processing plugin.
May be the suggestion would be clearer if users are told to remove or delete the processing plugin  to that InaSAFE will use the QGIS processing.

![image](https://cloud.githubusercontent.com/assets/5743135/22676668/ed2fd33a-ed40-11e6-946d-06fe3d193fc9.png)

[2017-02-07 04:12] samnawi commented on #3636
Hi @Gustry I'm sorry for late response.
This is the data that I use for Ambon Analysis (I see it's already there in your laptop)
Exposure : Ambon_Malteng_Population_Vector_WGS84.shp
Hazard : Ambon_Banda_Tsunami_FD_90m_WGS84.tif
Aggregation : Ambon Village

Yeah @Gustry I 'm very happy to share the test data in above. But, I don't know why if I try to add a zip file in here, I always got this messa

[2017-02-07 04:15] Charlotte-Morgan commented on #2907
Valuable discussion with @RikkiWeber today.
Tsunami hazard data produced by Badan Geologi in Indonesia is all single scenario; this includes the published  hazard maps and raster scenarios.

### recommendation ###
Default hazard classes in InaSAFE should reflect those used on the published maps and in Perka 2 / 2012
high hazard >3.0m
medium hazard 1.0 -3.0m
low hazard  <1.0m

Please include a dry

[2017-02-07 04:27] Charlotte-Morgan opened #3778 "BUG: Type error"
### problem ###
the following error occurred when running Ambon tsunami impact on population

[code]

[2017-02-07 04:33] Charlotte-Morgan opened #3779 "Tsunami on Population: displacement rates"
Following discussion with Tsunami hazard experts; please assign the following affected status and displacement rates for tsunami hazard classes in #2907

The same rates apply regardless of the 3 or 5 class classification

![image](https://cloud.githubusercontent.com/assets/5743135/22678127/df395912-ed4b-11e6-932f-1c3565fa83db.png)

[2017-02-07 05:42] Charlotte-Morgan opened #3780 "InaSAFE help enhancement"
It would be great to be able to minimise the help window or click outside it to interact with the main window without having to close the help each time

[2017-02-07 05:48] Charlotte-Morgan opened #3781 "Hazard data: volcanic ash"

[2017-02-07 07:21] Gustry commented on #3780
For now @Charlotte-Morgan, you can right click on the page and choose `Open in webbrowser`.

@myarjunar Can you have a look to this issue ?

[2017-02-07 08:09] ivanbusthomi commented on #3781
Hi @Charlotte-Morgan :

In the potential impact table on Volcanic ash Realtime report, there are descriptions of the impact on both buildings and roads, even though the unit is in cm.

![image](https://cloud.githubusercontent.com/assets/7351977/22682739/10991128-ed47-11e6-87be-b238de922c31.png)

Should we change it in the future?

[2017-02-07 08:14] Gustry commented on #3778
I never got this issue.
Can you tell me which dataset you used in Ambon ?
I tried : '01 Hazard/Tsunami/Raster/Ambon_Banda_Tsunami_FD_90m_WGS84.tif'
For the population, did you take a vector or a raster ?

[2017-02-07 08:16] ivanbusthomi opened #3783 "TypeError when running volcanic hazard on land cover"
### Problem
When I tried running volcanic hazard on land cover, I got following error
[code]
### Expected Behaviour
It should run without error

### Environment
* InaSAFE : 4.0 develop version
* QGIS : 2.14.10
* OS : Windows
* Data used : Nagekeo dataset
  * Exposure : Landuse (NGK_Landuse_250K_WGS84.shp)
  * Hazard : Volcanic Hazard (NGK_KRB_Ebulobo_WGS84.shp)
  * Aggregation : Villages (NGK_Vill

[2017-02-07 08:29] Charlotte-Morgan commented on #3781
No, probably not.  This is something we can discuss with PVMBG soon.
For now the comments are for desktop applications. No change to realtime.

On 7 Feb 2017, at 7:03 PM, Ivan Busthomi <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @Charlotte-Morgan<https://github.com/Charlotte-Morgan> :

In the potential impact table on Volcanic ash Realtime report, there are descriptions

[2017-02-07 09:03] Gustry commented on #2984
What about this one @ismailsunni ?

[2017-02-07 09:05] Gustry commented on #2370
I think this ticket has been fixed in InaSAFE v4.

[2017-02-07 09:05] #2370 closed

[2017-02-07 09:11] #3783 closed

[2017-02-07 09:21] ivanbusthomi opened #3785 "Zero affected when running Volcano Polygon on Buildings"
### Problem
When I tried running volcano polygon on buildings, I got zero total affected and Unaffected, even though there are buildings inside the hazard area. Instead, all of the buildings are marked as not exposed.
![image](https://cloud.githubusercontent.com/assets/7351977/22684885/cfd04b66-ed50-11e6-8327-47323417c934.png)

### Expected Behaviour
The result should properly shows the number of

[2017-02-07 09:41] Gustry opened #3786 "Wizard : Improvements when we select the name field in the aggregation layer"
### Problem

In this step, we need to select a field which should be unique.

![screen shot 2017-02-07 at 10 34 47](https://cloud.githubusercontent.com/assets/1609292/22685600/38abb312-ed21-11e6-93ac-57d10e8d0e53.png)

### Expected Behaviour

It could be helpful we can know the number of features in the layer and also the number of unique values. We will quickly notice of this field is a kind of I

[2017-02-07 09:47] ivanbusthomi opened #3787 "Zero rows in detailed agregate result on Popoulation exposure"
### Problem
When I tried running volcano and tsunami hazard on population exposure using aggregation, I got zero rows for each village that doesn't have affected people
![image](https://cloud.githubusercontent.com/assets/7351977/22685935/dc96748e-ed54-11e6-9532-420bb5c85baf.png)

### Expected Behaviour
Columns and rows containing only 0 or "No data" values are excluded from the tables.

### Enviro

[2017-02-07 10:03] ivanbusthomi commented on #3780
I also noticed that everytime I open help, it creates new temporary file instead of calling already created one. Is it intended?

![image](https://cloud.githubusercontent.com/assets/7351977/22686603/4a27363a-ed57-11e6-8b09-73db6cd1fc79.png)

[2017-02-07 10:07] felix-yew opened #3788 "Phyton error when change into the other profile in minimum needs configuration"
### Problem
I find the phyton error when I want to change the minimum needs profile in minimum needs configuration, ie: from BNPB_en profile to the BNPB_id profile.
[code]
I find these phyton error when I run the population raster with Maumere tsunami raster.

### Expected Behaviour
Can change the minimum needs profile without phyton error and the analysis can work properly.

### Environment
* Ina

[2017-02-07 10:13] Gustry opened #3789 "Wizard : multi hazard classification"
### Problem

* [x] 1 : What does `No classification` mean ? We should not be able to launch an IF according to the exposure in the dock and wizard if the user didn't set this exposure in the hazard keywords ?
For now, it will raise an exception if you launch an IF with an exposure which has not been defined.
![screen shot 2017-02-07 at 10 43 09](https://cloud.githubusercontent.com/assets/1609292/2

[2017-02-07 10:18] Gustry commented on #3780
Yes, I guess this is not a problem. And it's easier for us to create a new one.

[2017-02-07 10:21] ivanbusthomi opened #3791 "Hazard thresholds information in dock is not properly styled."
### Problem
I noticed that after we implemented the new thresholds, the dock shows it without a style. I think it is a little bit hard for the user to understand.
![image](https://cloud.githubusercontent.com/assets/7351977/22687045/13576efc-ed59-11e6-8767-fdae59896f95.png)

### Expected Behaviour
The dock should show the thresholds nicely :smile:

### Environment
* InaSAFE : 4.0 develop
* QGIS : 2

[2017-02-07 10:23] ivanbusthomi commented on #3789
Hi @Gustry , maybe https://github.com/inasafe/inasafe/issues/3791 is related to this.

[2017-02-07 10:27] Gustry commented on #3785
I tried, I couldn't replicate your issue :
![screen shot 2017-02-07 at 11 26 18](https://cloud.githubusercontent.com/assets/1609292/22687436/51da6cbe-ed28-11e6-932d-68c3a4b3d3c0.png)

Did you launch the hazard keyword wizard ? I guess yes.
Can you tell me which extent or aggregation area it happens ?

[2017-02-07 10:30] Gustry commented on #3791
Thanks, I forgot to put this one in my big ticket.
@ismailsunni is already aware about this issue.

[2017-02-07 10:32] Gustry commented on #3730
Thanks @lucernae I think we can close this one.

[2017-02-07 10:32] #3730 closed

[2017-02-07 10:32] Gustry commented on #3731
Thanks @lucernae I think we can close this one.

[2017-02-07 10:32] #3731 closed

[2017-02-07 10:32] Gustry commented on #3779
I did it in the PR above @Charlotte-Morgan

[2017-02-07 10:34] Gustry commented on #3788
Hi @felix-yew This should be fixed in develop. Thanks.

[2017-02-07 10:34] #3788 closed

[2017-02-07 10:35] Gustry commented on #3743
I could fix some issues when we use InaSAFE in French. Let's close this one for now.

[2017-02-07 10:57] felix-yew commented on #3788
LGTM :+1:

[2017-02-07 11:07] Gustry opened #3792 "ValueError while generating the report"
### Problem
![screen shot 2017-02-07 at 12 02 14](https://cloud.githubusercontent.com/assets/1609292/22688608/53ba5972-ed2d-11e6-9ed4-eb3838da118f.png)

Using this dataset in debug mode.
[Dummy Data.zip](https://github.com/inasafe/inasafe/files/757351/Dummy.Data.zip)

If we don't use debug mode, we can see the exception quickly :
![exception](https://cloud.githubusercontent.com/assets/1609292/2268

[2017-02-07 11:11] felix-yew opened #3793 "Zero result in minimum needs"
### Problem
I find the zero result in minimum needs analysis when I run the Maumere tsunami raster on population raster, but there is a result in affected summary. Please see the image below:
![image](https://cloud.githubusercontent.com/assets/13621886/22688669/d6f73e18-ed5f-11e6-803c-f219f4ecf194.png)

### Expected Behaviour
The minimum needs can produce the correct result.

### Environment
* Ina

[2017-02-07 11:23] Gustry commented on #3793
@felix-yew This is not a bug.

The minimum needs run on the `Displaced people`, not on the `Affected people`.
In case of a tsunami hazard, @Charlotte-Morgan provided us displacement rates to use this morning : ticket #3779 and PR #3782

I just tried with the PR #3782, it works as expected :
![screen shot 2017-02-07 at 12 22 22](https://cloud.githubusercontent.com/assets/1609292/22689230/4158f2c2-e

[2017-02-07 14:58] ismailsunni commented on #3678
@Gustry ah thanks, I forget that transifex has it. I will check

Btw, I just push latest strings to transifex. Hopefully there won't be much change later.

[2017-02-07 15:19] Gustry commented on #3678
We should have merge this PR : https://github.com/inasafe/inasafe/pull/3775

[2017-02-07 15:21] Gustry commented on #3636
Thanks a lot. Well spotted. This should have been fixed in https://github.com/inasafe/inasafe/pull/3794

[2017-02-07 15:26] #3619 closed

[2017-02-07 16:04] Gustry commented on #3780
We can also on the right click menu save it as a PDF.

[2017-02-07 17:07] Gustry commented on #3325
I think we need to rollback on this feature. See ticket #3763

When we use a postprocessor, the priority should be :
1. Exposure count
2. Exposure ratio
3. Aggregation ratio
4. Defaults (ratio and count)

Or by doing these 4 cases above from @ismailsunni , we don't take care about the aggregation ratio.

[2017-02-07 17:08] Gustry commented on #3325
I think we need to rollback on this feature. See ticket #3763

When we use a postprocessor, the priority should be :
1. Exposure count
2. Exposure ratio
3. Aggregation ratio
4. Defaults (ratio and count)

Or by doing these 4 cases above from @ismailsunni , we don't take care about the aggregation ratio.

[2017-02-07 20:57] timlinux commented on #3780
It only creates that file if you use the open in browser context menu. Its not a problem if it does that, your OS should clean that away again....

[2017-02-07 21:46] timlinux commented on #3791
Eeesh yeah that does not look nice. @Gustry can you repurpose my logic for that from definitions_help.py?

[2017-02-07 21:46] timlinux commented on #3791
Ah sorry @ismailsunni above comment should apply to you since you are assigned.

[2017-02-07 21:52] timlinux commented on #3789
Thanks for the detailed review @gustry. For 1 : What does No classification mean ?  - the behaviour IMHO should be that whenever there are no thresholds defined, the default thresholds should be used. Whenever there is no classification if is probably better to inform the user. I think when user is in dock or wizard and sets the exposure and hazard, we should do a runtime check to see if the class

[2017-02-07 21:55] Gustry commented on #3789
So we should disable the button and display a message ? ok I will have a look

[2017-02-07 21:58] timlinux commented on #3789
Thanks @Gustry

[2017-02-07 21:59] Gustry commented on #3789
Maybe for value mapping, it makes sense. I'm not convinced, not sure.
But for a value mapping, it doesn't make any sense to use the "default value mapping". The main purpose of the value mapping is to match your attribute table with inasafe concepts. If you don't do it, the wizard is useless. Am I wrong ?

[2017-02-07 22:03] timlinux commented on #3789
I agree - for thresholds we should be able to use defaults, for value mapping I think there are few cases where defaults would actually match user's data (perhaps one exception being for OSM downloaded data).

[2017-02-07 22:07] Gustry commented on #3789
Yes, but the value mapping is done automatically if some field names match. Isn't it @ismailsunni ?

[2017-02-08 00:46] Charlotte-Morgan commented on #3752
@timlinux - apologies for the delay getting you this info.
Here are contact details for the former PetaJakarta principle investigators:
Etienne e-mail: turpin@mit.edu or etienne@anexact.org
Tomas: tomasholderness@gmail.com

I hope you have success with these contacts; if not I am happy to follow up with UoW to find out if they are able to help.

[2017-02-08 00:52] Charlotte-Morgan opened #3798 "NEXIS building exposure data"

[2017-02-08 01:04] Charlotte-Morgan commented on #3798
here is the earthquake on building IF from InaSAFE master - with reference to NEXIS exposure data and specific attributes
[code]

[2017-02-08 02:04] ivanbusthomi commented on #3785
Hi @gustry, I used the whole area with aggregation and without aggregation. Let me try it again.

[2017-02-08 02:06] felix-yew commented on #3793
Ok, we hope it will be a great result for the minimum needs result.

[2017-02-08 02:19] ivanbusthomi commented on #3785
Hmmm, I still got the bugs. @felix-yew or @samnawi could you also please check this?

[2017-02-08 02:29] samnawi commented on #3636
OK @Gustry I'll try it

[2017-02-08 02:39] samnawi commented on #3636
Oh... apparently teh PR is already merge, hahaha

[2017-02-08 02:52] felix-yew commented on #3785
Hi, @ivanbusthomi I also get the same problem when running the buildings + volcano polygon, with the same data.
![image](https://cloud.githubusercontent.com/assets/13621886/22721477/929e95d4-ede3-11e6-95bd-e5e5f3dfdc78.png)
The result just show the not exposed (grey color) although the buildings inside the hazard area.

[2017-02-08 03:28] samnawi commented on #3636
I think the problem is already fixed. Should we closed this issue @Gustry ?

[2017-02-08 04:06] lrpower opened #3799 "Bug InaSAFE report not totaled correctly"
###Problem###
Estimated number of structures by type is not correct
![image](https://cloud.githubusercontent.com/assets/10228025/22723157/5916a59a-ee10-11e6-9c31-965f3d1adeeb.png)

###Proposed Solution###
Add up the numbers

[2017-02-08 04:25] samnawi commented on #3785
I guess.... the problem is come from the hazard data, because it's occurred on all of the exposure data.
**building**
![image](https://cloud.githubusercontent.com/assets/8871958/22722769/dbce5e08-edeb-11e6-93b2-bf077101eebb.png)
**building point**
![image](https://cloud.githubusercontent.com/assets/8871958/22722812/100512d4-edec-11e6-9dbd-54d6befabd07.png)
**landcover**
![image](https://cloud.gith

[2017-02-08 06:30] samnawi commented on #3713
Hi @Charlotte-Morgan I already fix the problem, and put it in the minion testing data

[2017-02-08 06:36] Gustry commented on #3713
Hi @samnawi Where is the minion testing data ?
I often use this link but DKI Jakarta is not updated yet : http://data.inasafe.org/InaSAFE%203.5%20Training%20Data/
or is-it in BTSync ?

[2017-02-08 06:39] Gustry commented on #3798
The previous ticket about NEXUS data and how we can deal with it in V4 : https://github.com/inasafe/inasafe/issues/3654#issuecomment-274012837

[2017-02-08 07:21] ismailsunni commented on #3763
Based on my discussion with @Charlotte-Morgan
For ratio, we will use one of the two options below:
- Use default value (need to create new field in the attribute table)
- Use the data in the attributes tables as it is (No need to replace `None` or empty value)

[2017-02-08 07:23] timlinux commented on #3763
Just a note that in Jakarta in Jan 2017 we discussed that the behavior for defaults should be:

If a column is selected for a ratio e.g. female ratio, the values in that column should be used exclusively - defaults should not be used when no data is encountered.

Same thing as @ismailsunni is saying above but expressed in different words.

[2017-02-08 08:29] Gustry commented on #3799
Thanks for the report @lrpower.
This is a side-effect from rounding at two different levels.
We compute the total from raw numbers, then we apply the rounding rule for each exposure type AND the total. This brings some discrepancies.

If I run the impact function in 'debug mode',  we can notice the calculation is correct :
![screen shot 2017-02-08 at 09 24 29](https://cloud.githubusercontent.com/a

[2017-02-08 08:30] Gustry commented on #3636
Yes, thanks for the report.

I'm going to make another change about size, counts and ratios today. I hope it's gonna be ok.

[2017-02-08 08:30] #3636 closed

[2017-02-08 09:08] ismailsunni commented on #2984
We can close this. I have moved to its own properties. See https://github.com/inasafe/inasafe/blob/develop/safe/metadata/exposure_impacted_layer_metadata.py#L182

[2017-02-08 09:08] #2984 closed

[2017-02-08 09:11] ismailsunni commented on #3789
Thanks so much @Gustry I will check one by one :)

[2017-02-08 09:16] ismailsunni commented on #3791
See also #3373

[2017-02-08 10:34] Gustry commented on #3763
![screen shot 2017-02-08 at 11 33 24](https://cloud.githubusercontent.com/assets/1609292/22733559/8504da00-edf2-11e6-8946-680c3e05b737.png)

[2017-02-08 10:35] Gustry commented on #3763
Can you please check, I'm confused @timlinux @ismailsunni

![screen shot 2017-02-08 at 11 33 51](https://cloud.githubusercontent.com/assets/1609292/22733572/90eb2fc2-edf2-11e6-8429-59e0afc9f415.png)

[2017-02-08 12:23] timlinux commented on #3763
This is my take on how the logic works, maybe it is easier to read:

![inasafe4 0architecturedetailedarchitecture](https://cloud.githubusercontent.com/assets/178003/22737094/3403c0d6-ee0a-11e6-9bef-ed8b371e14c9.png)

[2017-02-08 12:24] timlinux commented on #3763
To honor nulls means that we will not 'fill in' null values from global or aggregation defaults.

[2017-02-08 12:25] #3780 closed

[2017-02-08 21:53] Charlotte-Morgan opened #3802 "Hazard Classes: Cyclone needs work"

[2017-02-08 21:58] timlinux commented on #3802
cc @mbernasocchi

[2017-02-08 22:05] Charlotte-Morgan commented on #3802
hi @samnawi - can you please look at BNPB perka 2 / 2012 and update this ticket with hazard classification used for strong wind in Indonesia?  How many classes and what are the thresholds and what units are used.?

[2017-02-08 22:07] Charlotte-Morgan commented on #3802
hi @maning - in InSAFE version 4.0 we are introducing cyclone impact analysis for partners in the Pacific.  Do you have any advice on hazard classification for wind hazard in the Philippines?

[2017-02-08 22:11] mbernasocchi commented on #3802
Hi @Charlotte-Morgan I asked @wcarthur to have a look at this.
re the indonesia scale, IIRC it is the same as the Aus scale

[2017-02-08 22:19] Charlotte-Morgan commented on #3802
hey @mbernasocchi - thanks for getting back so quickly. I will get a chance to talk to Craig and Martine tomorrow. I'm fairly confident there is a problem, but let me discuss with them over a whiteboard for more clarity. The current scale suggests that you have multiple categories in a single event and that is not my understanding.

[2017-02-08 22:24] mbernasocchi commented on #3802
how do you mean @Charlotte-Morgan?
in one event you can have multiple zones with different wind speed, is that what you mean with multiple categories?

[2017-02-08 22:45] Charlotte-Morgan commented on #3802
You would not have multiple categories in a single event.
A cyclone would be described as Category 3 at any given time; it may be upgraded or downgraded during its approach and as it crosses land. At landfall it will be a certain category with wind speed predicted up to a certain speed.
Its a scale issue: the category classification is between events; we need classes within events.
Have a look at

[2017-02-08 23:04] mbernasocchi commented on #3802
well not really @Charlotte-Morgan usually the cyclone is classified to its maximum intensity (usually the eye wall) but then at further distance from the eye it is not the same wind speeds that are expected. this is exactly what tcrm does calculate.

this is a TCRM screenshot with a "random" scale where the buildings are assigned the intensiti of cyclone that should touch them. Does this make sens

[2017-02-08 23:10] mbernasocchi commented on #3802
also, if yo look here http://www.bom.gov.au/cyclone/about/warnings/sample/map.shtml you see that the bom also bublishes circles with differnt wind intensity.

[2017-02-08 23:16] wcarthur commented on #3802
The hazard categorisation can be thought of similar to the MMI scale for EQ shaking - the defined class of wind speed varies over the region. In warning contexts, agencies refer only to the maximum category.

I've got to take a look at the defined scales in the code and provide advice on the descriptions etc.

[2017-02-09 00:43] wcarthur commented on #3802
It's important to note that different agencies and basins have different categorisations. For example, AUstralia has the categories 1-5, plus Tropical Low. US has 1-5, plus Tropical Storm, but a Tropical Storm intensity is the same as a Category 1 in Australia. North West Pacific has three categories - tropical storm, Typhoon and super typhoon. I'll dig out my table of categorisations and share th

[2017-02-09 00:56] Charlotte-Morgan commented on #3802
thanks everyone - looks like this may be fine; the explanation that public warnings only refer to the highest class would explain my misunderstanding.

[2017-02-09 02:25] dynaryu commented on #3559
@Charlotte-Morgan @wonder-sk
I have a few comments on the changes to the ITB Bayesian model in InaSAFE 4.

1. It is proposed that the sampled fatality rate (a vector per each mmi bin) would be replaced with median fatality rate (a constant value per each mmi bin), and hard-coded. This is not a proper implementation because the result will be different. I'd like to know what concerns the most in us

[2017-02-09 03:59] ivanbusthomi opened #3803 "KeyError in Earthquake Raster vs Population Raster"
### Problem
I got this error when running earthquake raster on population raster.
[code]

### Expected Behaviour

### Environment
* InaSAFE : 4.0 develop
* QGIS : 2.14.10
* OS : Windows
* Data used : West Sumatra dataset
  * Exposure : Population Raster
  * Hazard : Earthquake raster
  * Aggregation : villages

### Proposed Solution
Make it Happy
___

CC @ismailsunni @timlinux @Charlotte-Morgan @s

[2017-02-09 04:50] ismailsunni commented on #3789
From my side, it's more convenient for user to see message, "You can't run this analysis because you don't have classification / thresholds / value maps for this EXPOSURE in you HAZARD layer".
By doing this, we can avoid user to run analysis without knowing what's the thresholds / value maps.

[2017-02-09 04:51] ismailsunni commented on #3789
Yes, we did it for the user, if possible.

[2017-02-09 05:54] Charlotte-Morgan commented on #3634
@lrpower - FYI the terminology discussion

[2017-02-09 09:39] ismailsunni commented on #3789
- Solution for poin 1, 2, 3a, 6:
User no longer able to choose no classification and click next. Shoul avoid the problem.
- Solution for poin 3b:
Fixed
- Solution for poin 4:
Temporarily hide it. I am not sure this is a blocker. I prefer to work on the other blocker issue. Comments are open :)
- Solution for poin 7:
Open edit panel directly after changing combobox.

[2017-02-09 10:23] wcarthur commented on #3802
I've updated the google-docs spreadsheet that was circulated a few days back with a review of the classification descriptions, and the NHC classification. I'll run it past the engineering experts at GA for comment, but don't expect significant changes.

This does however raise a problem. The NHC and BoM use a different time averaging measure of the wind speed to define their classes. NHC use a 1-m

[2017-02-09 10:48] ismailsunni commented on #3789
4a : remove the number 1. Keyword: header.

[2017-02-09 14:20] #3777 closed

[2017-02-09 14:21] #3770 closed

[2017-02-09 16:11] Gustry opened #3809 "We should disable radio buttons if a field is selected."
### Problem
![screen shot 2017-02-09 at 17 08 51](https://cloud.githubusercontent.com/assets/1609292/22791710/9c1de90e-eeea-11e6-9969-81670d252927.png)

It's confusing to have radio buttons enabled if we set a field.

### Expected
Correct me if I am wrong :
* If a field is selected (different than 'No Field') -> Disable every radio buttons, remove the checked radio button, even if it's disabled.
*

[2017-02-10 02:12] myarjunar commented on #3809
sorry, which dialog is this? @Gustry @ismailsunni

[2017-02-10 03:08] fredychandra opened #3811 "Python error : Landcover Exposure Keyword Setup"
### Problem

I get python error while set up the Exposure Keyword.

[code]
### Expected Behaviour
Make it work :)

### Environment
* InaSAFE : InaSAFE 4.0 Develop
* QGIS : 2.14.10
* OS : Windows 8
* Data used :
  * Exposure : Landcover BIG
  * Hazard : Bojonegora Flood
  * Aggregation :

### Proposed Solution

@timlinux @ismailsunni @Gustry @felix-yew @samnawi @ivanbusthomi @Charlotte-Morgan

[2017-02-10 03:51] ismailsunni commented on #3809
@myarjunar it is keyword wizard, in InaSAFE Default Step.

@Gustry yes, I agree with this behaviour, same one with I discussed with @Charlotte-Morgan and I put in the #3579

Do you want to work on it @myarjunar ?

[2017-02-10 04:33] samnawi opened #3812 "Flood & Roads Analysis not appear the result when using aggregation"
### Problem
I got the problem when run the analysis using flood and roads, but it has a little bit differ with issue #3729 .
It's working properly when I do analyze without aggregation, but the problem appeared when I run using aggregation.

Actually, the process is working, but show nothing in the end.
1. When I use flood vector, it's just produce like the picture in below, without any informatio

[2017-02-10 06:04] myarjunar commented on #3741
closed in #3805

[2017-02-10 06:04] #3741 closed

[2017-02-10 06:11] ismailsunni commented on #3789
End note:
After discussion with @Gustry , we agree to remove all cancel button, so that the behaviour would be natural when opening edit panel from edit button or changing the combo box.

All is done, the PR is merged. Closing this.

[2017-02-10 06:11] #3789 closed

[2017-02-10 08:09] felix-yew opened #3814 "Attribute Error : landslide hazard with population vector"
### Problem
I find an attribute error when I try to run the landslide vector in Nagekeo with population vector.
[code]

### Expected Behaviour
The analysis can work properly.

### Environment
* InaSAFE : InaSAFE v.4 develop
* QGIS : 2.14.10
* OS : Win. 7
* Data used :
  * Exposure : population vector
  * Hazard : landslide risk
  * Aggregation : no

### Proposed Solution
Make it happy :smile:

###

[2017-02-10 08:29] Gustry commented on #3814
It seems we still have some problem with the union algorithm from QGIS. Some geometries are None.

CC: @wonder-sk

[2017-02-10 08:32] felix-yew commented on #3785
I also find this case in drought potential zone (vector) vs population vector no aggregation.
![image](https://cloud.githubusercontent.com/assets/13621886/22819714/f172619e-efa5-11e6-99af-89387b8dac76.png)

[2017-02-10 08:34] wonder-sk commented on #3814
Were the input geometries valid? If so, would be good to see a minimal reproducible case.

One thing I am aware of where the alg output may be incorrect is when union produces geometry collection (e.g. a polygon and a linestring) but it looks like here the returned geometry is null, suggesting invalid input.

[2017-02-10 08:42] Gustry commented on #3785
Thanks a lot for your comments.
I will have a look.
@felix-yew Can you share your data for the last one ?

[2017-02-10 08:52] ismailsunni commented on #3811
Hi @fredychandra
Can you explain how did you get this error? You said you got it while set up exposure keywords. Is it from wizard?
I check the error message, it's related to dock / impact function.

[2017-02-10 08:57] samnawi commented on #3781
If I look at the default classification in the keyword wizard, It has same classification with the realtime.
![image](https://cloud.githubusercontent.com/assets/8871958/22820429/53b320b6-efa9-11e6-8b91-fab9714581b6.png)

And if we see the explanation in the realtime, it also mention the impact for building and road.

[2017-02-10 08:58] Gustry commented on #3811
After setting the keywords ?

[2017-02-10 09:05] Gustry commented on #3763
First PR #3808
Next PR coming : #3815

[2017-02-10 09:18] lucernae commented on #3785
I think I need to see this too.

[2017-02-10 09:19] lucernae commented on #3787
Fix is on the way

[2017-02-10 09:19] lucernae commented on #3792
Fix is on the way. Apparently char d is typed while I'm trying to Ctrl+S

[2017-02-10 09:22] Gustry commented on #3785
@lucernae The legend is also empty on the left side, so it's also in the summary calculation.

[2017-02-10 10:09] Gustry commented on #3785
Looking at the data @ivanbusthomi the problem is in your keywords :

The attribute table is not following your keywords :
![screen shot 2017-02-10 at 11 01 18](https://cloud.githubusercontent.com/assets/1609292/22822781/1617bfdc-ef81-11e6-9920-50a62bed289b.png)

Run the keyword wizard and do a correct value mapping for the building exposure :
![screen shot 2017-02-10 at 11 06 38](https://cloud.git

[2017-02-10 10:10] ismailsunni opened #3816 "Add Option to Set All Exposure Classification at Once"
### Problem
Currently, we can assign different classification for different exposure in the keyword wizard. Most of the time, user will set the same classification for all exposure. It takes quite long steps to do it.

### Expected Behaviour
We should have option to set classification for all exposure at once, if they are the same.

### Environment
* InaSAFE :
* QGIS :
* OS :
* Data used :
  * Exp

[2017-02-10 10:26] ismailsunni commented on #3785
@ivanbusthomi @felix-yew @samnawi
Yes, I discussed with @Gustry yesterday, and make an update to keyword wizard this morning. Like @Gustry said, it caused by "bad" value mapping. In my new update, you will see classify panel if you change the classification combo box. This will prevent the user from "bad" value mapping.

Can you try it again with the newer keyword wizard?

[2017-02-10 20:25] lucernae commented on #3752
The REST API now:

[code]

It is returned as REST result (not as GeoJSON directly)

[code]

So we need to get the value in the "result" mapping.

Also they provided a testing server with fixed data:

[code]

[2017-02-10 20:38] timlinux commented on #3752
Thanks @Charlotte-Morgan

Just for follow up I did write to Tom who has replied with some hints. @lucernae is now looking into it. @myarjunar will you please make sure the desktop tool works too once @lucernae has figured out the procedure to follow?

Thanks

[2017-02-10 21:17] timlinux commented on #3634
@Charlotte-Morgan By the way I have update the diagram accordingly....

[2017-02-10 21:25] lucernae commented on #3752
Ah, I already made the fix since it is straightforward. @myarjunar you can review and take over from there.

[2017-02-11 18:20] Gustry commented on #3763
Graph tha we made with Tim :
![inasafe4 0architecturedetailedarchitecture](https://cloud.githubusercontent.com/assets/1609292/22856309/21aa4f86-f08f-11e6-87ad-1adcc83132f2.png)

This should be fixed in these 2 PR above.

[2017-02-11 18:20] #3763 closed

[2017-02-13 01:45] ivanbusthomi commented on #3785
@ismailsunni OK I will try it again

[2017-02-13 02:01] fredychandra commented on #3811
Hi @ismailsunni and @Gustry
I got the error while I set up the keywords creation wizard, but after I git pull and check it out again a minute ago. it has worked  :)

[2017-02-13 02:51] ismailsunni commented on #3811
@fredychandra can we close this then? :)

[2017-02-13 02:52] fredychandra commented on #3811
Ok om @ismailsunni we can go forward.

[2017-02-13 02:52] ismailsunni commented on #3811
Thanks

[2017-02-13 02:52] #3811 closed

[2017-02-13 03:05] ismailsunni commented on #3785
@ivanbusthomi can we close this then?

[2017-02-13 05:59] #3785 closed

[2017-02-13 07:05] Gustry commented on #3570
@samnawi Can you try again your expected behaviour ?
![image](https://cloud.githubusercontent.com/assets/8871958/21843766/bf22dd34-d81e-11e6-9d10-b622d673ba03.png)

We made some fix in develop. Ratios and counts should work now. If you get another exception, please open another ticket.

[2017-02-13 07:11] samnawi commented on #3570
OK @Gustry I'll try it again

[2017-02-13 07:11] Gustry commented on #3812
Can you check my PR @samnawi ?

[2017-02-13 07:14] Gustry commented on #3812
Can you also have a look to https://github.com/inasafe/inasafe/issues/3713 ? I can't try this dataset anymore to fix this bug.

[2017-02-13 07:49] samnawi commented on #3570
Hi @Gustry Since there are some changing in the keyword wizard, the expectation behavior on the table was not relevant again.
I just focus on the 2 last line
![image](https://cloud.githubusercontent.com/assets/8871958/22874396/57b5692a-f1f8-11e6-8759-6b9f7e313f0b.png)

Yes.... It's already work

[2017-02-13 07:50] Gustry commented on #3814
@felix-yew Can you share your data ?

We made a step before the union to make the layer clean. I can check once the data is provided.

@wonder-sk The error comes from : https://github.com/inasafe/inasafe/blob/develop/safe/gis/vector/union.py#L247 so the geometry is not straight from inputs. There were already some computations on the geometry, which may lead to a None geometry, isn't it ?

[2017-02-13 07:52] Gustry commented on #3570
Yes I agree, we updated the wizard.

So I'm going to close this issue.

[2017-02-13 07:52] #3570 closed

[2017-02-13 07:56] Gustry commented on #3812
Is this issue fixed @samnawi ?
If yes, you can close it.

[2017-02-13 08:20] samnawi commented on #3713
Hi @Gustry I just put in the real world data

[2017-02-13 08:31] samnawi commented on #3812
Hi @Gustry I see you already merge the PR.
But, I still see the same error.

Is it because of the data? you can try the same data that I already put in the realworld data sync.

[2017-02-13 08:33] Gustry commented on #3713
Thanks, I see BTSync is syncing. I will try.

[2017-02-13 08:40] Gustry commented on #3812
![screen shot 2017-02-13 at 09 34 46](https://cloud.githubusercontent.com/assets/1609292/22876196/be621dae-f1cf-11e6-8fef-8a66b3ad676c.png)

I took your "OK" for a "Ok it works !" ;-)
I wil ltry

[2017-02-13 08:49] lucernae opened #3821 "KeyError: Flood Polygon on Population Failed if used without aggregation"
# Problem

Using current develop

1. Load Test Layer
2. Pick Flood Polygon hazard
3. Pick Population
4. Make sure Aggregation set to Entire Area
5. Run Analysis.

Error:

[code]

# Solutions

Maybe because inasafe_fields keywords not prepopulated since we're not using aggregation area?

blocker to #3818

[2017-02-13 09:01] samnawi commented on #3812
OK for I'll try, hahaha....

[2017-02-13 09:03] samnawi commented on #3812
Sorry for the misunderstood

[2017-02-13 09:17] Gustry commented on #3058
It's a small release blocker

[2017-02-13 09:20] timlinux opened #3822 "When generating reports, the QPT should be made available to the user"
### Problem

When we generate the PDF's  for reports, please also generate and provide links to the QGIS composer templates:

![screen shot 2017-02-13 at 11 19 21 am](https://cloud.githubusercontent.com/assets/178003/22877505/592d8824-f1de-11e6-8968-21d77ee2bdd6.png)

[2017-02-13 09:24] lucernae commented on #3693
Fix for this already merged

[2017-02-13 09:24] #3693 closed

[2017-02-13 09:25] lucernae commented on #3664
Can we close this? Our current implementation is to use displacement rate 1% for flood.

[2017-02-13 09:26] samnawi commented on #3803
Hi @ivanbusthomi I also found the "Key Error" problem in Flood raster VS Population Raster and Tsunami raster VS population raster.

Hi @Gustry Should I open new ticket for it, or it's still relevant with this ticket?

[2017-02-13 09:29] lucernae commented on #3711
Can we close this? @ivanbusthomi ?

[2017-02-13 09:32] timlinux opened #3823 "IFCW should filter available IF combinations when in non dev mode"
### Problem

![screen shot 2017-02-13 at 11 30 56 am](https://cloud.githubusercontent.com/assets/178003/22877831/eada4fc2-f1df-11e6-83a2-d2ae834ac7ba.png)

Cyclone : Only structures
Earthquake: no roads / landcover

@Charlotte-Morgan please give any further feedback as to which should be disabled

### Expected Behaviour

### Environment
* InaSAFE :
* QGIS :
* OS :
* Data used :
  * Exposure :
  *

[2017-02-13 09:34] lucernae commented on #3638
Check lists:
- [ ] impact layer should be on top
- [ ] toggle in the InaSAFE settings should work #3711
- [ ] impact layer symbolized according to standards
- [ ] extent should match if only using particular aggregation area

[2017-02-13 09:44] lucernae opened #3824 "Map extent not properly used in Map Report"
### Expected Behaviour

- [x] Extent should hover to analysis area being used
- [ ] Extent should hover to aggregation area being selected for analysis

CC @Charlotte-Morgan @timlinux

[2017-02-13 10:07] lucernae commented on #3752
@myarjunar can you take over from here?
We need to refactor all PetaJakarta, petajakarta, Peta Jakarta references to PetaBencana in the code.

[2017-02-13 10:13] Gustry commented on #3803
Can you open a new one @samnawi ?

EQ IF is a special one so your error might be different. Thanks

[2017-02-13 10:15] Gustry commented on #3638
I guess you need to zoom to the analysis layer. (whenever you have aggregation layer or not, selected features or not)

[2017-02-13 10:33] Gustry commented on #3824
I think you can just focus on the first checkbox

[2017-02-13 10:45] myarjunar commented on #3752
@lucernae ok sip :+1: , I will take care of this issue

[2017-02-13 11:07] lucernae commented on #3792
Should not occured anymore.

[2017-02-13 11:07] #3792 closed

[2017-02-13 11:09] lucernae commented on #3787
Try it again @ivanbusthomi and close this ticket if it is solved.

[2017-02-13 11:10] lucernae commented on #3752
Thank's @myarjunar I merged the PR. You can start another one :)

[2017-02-13 11:13] Gustry commented on #3823
What about using the dock ?
@ismailsunni Is the KW wizard also limited (not able to set roads in the hazard keywords) when we are not in dev mode ? But what a layer with valid keywords but not in dev mode ?

[2017-02-13 11:57] Gustry commented on #3821
It seems working now @lucernae with my PR. Can you check ? Thanks

[2017-02-13 12:41] Gustry commented on #3812
For number 1, as I can see on your screenshot, you are in the debug group. It means you got a python exception.
Please copy/paste your logs when you run the IF as we will be able to see what is the exception. (wait for PR #3825 )

For number 2, you shouldn't have this error anymore since #3820 .

[2017-02-13 14:57] #3821 closed

[2017-02-13 14:59] Gustry commented on #3553
I think we can close this issue.
 Displacement rate has been implemented.

[2017-02-13 14:59] #3553 closed

[2017-02-13 15:08] Gustry opened #3827 "IF Wizard should skip extent selector if an aggregation layer is provided"
### Problem
![aggregation](https://cloud.githubusercontent.com/assets/1609292/22888578/8db07d72-f206-11e6-9106-31b1350674e0.gif)

If the user has an aggregation layer in the IF wizard, then user shouldn't be able to use the extent selector dialog.

[2017-02-13 15:24] Gustry opened #3828 "Enable size rate postprocessor"
### Problem
In V4.0, we started a size rate postprocessor.
Before the release, we decided to rollback a little bit and to disable it for 4.0.

It seems we need to improve it before to release it. (for 4.1).
* The cost should be at the exposure classification.
* It doesn't make sense to use a global default for value (100000) https://github.com/inasafe/inasafe/blob/develop/safe/definitions/default_

[2017-02-13 16:44] lucernae commented on #3688
@Charlotte-Morgan I have some parts unclear on this one:

- What should I do if the source is empty, can I put ```Layer name - source not available - ```
Also for @timlinux @ismailsunni
- How do I get the part: ```published reference for this type of analysis``` for now?

[2017-02-13 19:13] timlinux opened #3834 "PetaJakarta downloader fails with requests error"
### Problem

Trying to use PetaJakarta downloader on QGIS Windows gives an error:

[code]

### Expected Behaviour

We should **never** use requests - all network access should go though QGIS Network Manager class to be proxy friendly.

### Environment
* InaSAFE : dev
* QGIS : 2.14.11
* OS : Windows 10

### Proposed Solution

Update to use QGIS Libs for network requests.

[2017-02-13 19:38] timlinux commented on #3828
I agree we should disable it and do a similar process to ratios to properly define the workflows.

[2017-02-13 19:40] timlinux commented on #3827
Thanks - I agree it doesn't make sense.

[2017-02-13 20:27] timlinux commented on #3823
@Gustry I think we can assume @Charlotte-Morgan wants the dock filtered too...Again keeping the dev mode behaviour would be good.

[2017-02-13 20:31] Gustry commented on #3823
So we need to disable these combinations in the keyword wizard too.
I don't think I will do something to the dock as we shouldn't get layers compatible for these IF. (only and only if the layer keywords have been generated with developer mode and then if we use the dock not in developer mode)

[2017-02-13 20:34] timlinux commented on #3664
I think we can close it and add specific displacements on a case by case basis.

[2017-02-13 20:34] #3664 closed

[2017-02-13 20:37] timlinux opened #3835 "Minimum needs for entire displaced population should be shown in report"
### Problem

In our walk through today @Charlotte-Morgan noted that minimum needs reporting is only showing for the aggregation areas, but we don't have one for the entire analysis area. Please add a table with minimum needs for all displaced people above the aggregation area break down minimum needs.

[2017-02-13 21:17] timlinux opened #3837 "KW Wizard traceback on windows"
### Problem

Setting keywords on windows for JK Subdistricts raises an exception which is not caught:

![screencapture](https://cloud.githubusercontent.com/assets/178003/22903772/8417967e-f242-11e6-8d5b-8193c3dcfb17.gif)

[code]

### Expected Behaviour

### Environment
* InaSAFE : develop
* QGIS : 2.14.11
* OS :  Windows 10 Pro
* Data used (filenames and paths so as to reproduce):
  * Exposure :

[2017-02-13 21:18] timlinux commented on #3837
Ah maybe it is just not up to date parameters...

[2017-02-13 21:21] timlinux commented on #3837
confirmed it was stale parameters submodule....

[2017-02-13 21:21] #3837 closed

[2017-02-13 21:46] lucernae commented on #3835
It should be in the report already. can you tell me the combination?

[2017-02-13 21:59] timlinux commented on #3835
Ah sorry you are right:

![2017-02-13 23_58_38-inasafe](https://cloud.githubusercontent.com/assets/178003/22905295/71d95ba4-f248-11e6-99c1-4bdef9558631.png)

Thanks @lucernae

[2017-02-13 21:59] #3835 closed

[2017-02-13 22:29] lucernae commented on #3822
So, I assume I only need to provide the links for now/

[2017-02-13 23:05] Gustry commented on #3666
@Charlotte-Morgan Did you get some inputs in this issue ?

[2017-02-13 23:41] Gustry commented on #3743
I got some other issues today

[2017-02-13 23:57] Gustry opened #3841 "Wrong HTML page if we open in webbrowser"
### Problem

In the IF wizard, if we click 'Generate PDF', we get this new screen :
[code]
but then, if we press open in webbrowser, we get the HTML page, I was expecting the report.

![open_pdf](https://cloud.githubusercontent.com/assets/1609292/22908671/15618b14-f250-11e6-868e-918447cd4d9a.gif)

This is not a big bug.

[2017-02-13 23:58] Gustry commented on #3743
The HTML is fine but the PDF is still ugly.

[2017-02-14 00:55] Charlotte-Morgan commented on #3799
@lrpower - i think there is a note to say that totals may not agree because of rounding. If you want to edit or can think of a better note to add to explain this - please supply some text and we can add it to the notes on reports.

[2017-02-14 01:29] Charlotte-Morgan commented on #3688
Hi @lucernae - I think the easiest thing to do for now it to make the report have exactly the same details as we have included on the map template. This is three rows; one for hazard data, one for exposure and one for aggregation. There is also information about the analysis used.
Where aggregation is not used - it states 'not used'.

![image](https://cloud.githubusercontent.com/assets/5743135/229

[2017-02-14 01:45] Charlotte-Morgan commented on #3823
Agree - is an analysis should not be run then it should be disabled in all places for users. However, it is important to have access to all combinations in debug mode to test things and to ensure notes and documentation are complete.
Why do we want to disable things: simply because there is no use case yet or the analysis is 'silly' . This applies to the volcanic ash and I will endeavour to update

[2017-02-14 01:52] Charlotte-Morgan opened #3845 "User warning: exposure specific thresholds not set"
### problem ###
In InaSAFE 4.0 when I load flood raster (Jakarta 2007) which does not have exposure specific thresholds defined in key words - I do not get a warning to say that key words need to be updated.
![image](https://cloud.githubusercontent.com/assets/5743135/22911642/561417a6-f293-11e6-859f-5e8453ed30e4.png)

ie the user does not know why the run button is not active in the dock.

### pro

[2017-02-14 01:57] Charlotte-Morgan opened #3846 "BUG: Wizard mess up when setting exposure thresholds in key words"
### problem ###
I get a python error when i try to edit valued for flood classes

Key words wizard for setting population classifications in flood hazard data (jakarta raster 2007)
![image](https://cloud.githubusercontent.com/assets/5743135/22913320/9b57ac0c-f29c-11e6-90bb-2f3d755ac837.png)

[code]

### proposed solution ###
user can set values and any test to confirm they are within range / mutua

[2017-02-14 02:56] #3823 closed

[2017-02-14 02:57] ismailsunni commented on #3827
Fix in #3843

[2017-02-14 02:57] #3827 closed

[2017-02-14 03:06] Charlotte-Morgan opened #3847 "We need to update the hazard information"
I need to update hazard classifications and notes following discussion with hazard scientists:
- [ ] volcanic ash
- [ ] tsunami
- [ ] earthquake
- [ ] cyclone

In this review I will attempt to address:
- [ ] hazard classes & thresholds with references
- [ ] affected classes
- [ ] displacement rates for population exposure
- [ ] notes on event types, assumptions
- [ ] mutually exclusive classes

cc

[2017-02-14 03:07] ivanbusthomi commented on #3791
I think we can close this since the dock is looking really nice when showing the hazard classifications.

[2017-02-14 03:17] Charlotte-Morgan commented on #3755
@ivanbusthomi - can I get you to start this please. maybe a google doc that we can all contribute to?

This needs to be a list of things to share in a socialisation - whats new in version 4.
eg - what used to be options and are now key words
what used to be options in the dock but now options in the settings

[2017-02-14 03:17] Charlotte-Morgan commented on #3732
@ivanbusthomi - if this is finished - please close the ticket

[2017-02-14 03:34] Charlotte-Morgan commented on #3781
@RikkiWeber - do you have any descriptions for volcanic ash hazard classes other than the one provided in the table above for realtime?
As the team note; while we say ash thickness is not relevant for the analysis of impact on buildings  or people, the descriptions seem to be more about the hazard class as a whole.

[2017-02-14 03:43] RikkiWeber commented on #3781
@Charlotte-Morgan - I think that we best put this on the list of things to discuss with BG next week.
You are right that the table gives examples of what will be impacted by various ash thicknesses and the table is correct. I have provided a bit more detail on my understanding below, but let's leave it and make sure we are doing what BG actually wants as having three different measures will be mor

[2017-02-14 03:53] ismailsunni opened #3849 "Min Max Thresholds Discussion"
### Problem
Based on my discussion with @Charlotte-Morgan this morning (14 Feb 2017), we agree that the minimum is excluded, but maximum value is included. Example:
[code]

So, in the keyword wizard it will be:
`Min > [  ]  Max <= [  ]`

IIRC, in our current IF code, we use the reverse (include min, but exclude max). So, we need to update the code also. I am not sure if it's easy, but perhaps @Gus

[2017-02-14 05:18] ismailsunni commented on #3791
Thanks @ivanbusthomi

[2017-02-14 05:18] #3791 closed

[2017-02-14 06:09] Charlotte-Morgan opened #3851 "Population count and default ratios"
### problem ###
I have raster population data (haha - quess where - Jakarta) and I want to run  a flood analysis. When I set the population key words i am not asked about the default age and gender profile on my data.

If I run without aggregation data, then I do not get an age gender report or detailed min needs for this analysis.

### proposed solution ###
allow users to set age gender defaults

[2017-02-14 06:32] Charlotte-Morgan opened #3852 "Dry "class" - is this just a cartographic requirement"

[2017-02-14 06:39] samnawi commented on #3812
Hi @Gustry This the logs when I run the analysis for number 1.
[code]

[2017-02-14 06:52] samnawi commented on #3852
In some case, dry zone is like not exposed.
So, that zone is an area beyond the hazard zone.

[2017-02-14 07:09] Gustry commented on #3845
The dock has many panels. Some of them are triggered by clicking on a layer, some are  triggered by pan&zoom, some by changing combobox in the question area.

So it is already done @Charlotte-Morgan but maybe you clicked on a layer, so it will show layer keywords. If you pan/zoom, it will display again the incompatibility between exposure/hazard.

[2017-02-14 07:29] Gustry commented on #3732
I didn't get any feedback on this one.
How should we style the exposed raster (binary style) and the vector aggregation ?

[2017-02-14 07:38] Gustry commented on #3852
Do you consider 'dry zone' as a synonym for 'not exposed' or is-it two different concepts ?

[2017-02-14 07:39] lucernae commented on #3688
@Charlotte-Morgan have you looked at this PR yet? #3832

Ok, I will show it for this.

What should I do if the source is empty for hazard, exposure, or aggregation? Is it ok if I put it like this:

[2017-02-14 07:40] Charlotte-Morgan commented on #3559
@wonder-sk and @timlinux - are you able to progress this with the feedback from @dynaryu ?

[2017-02-14 07:40] Gustry commented on #3809
We can close this one. Thanks @myarjunar !

[2017-02-14 07:41] Gustry commented on #3828
Now it has been disabled. I'm gonna update the ticket to ask to enable it

[2017-02-14 07:42] myarjunar commented on #3809
closed in #3813

[2017-02-14 07:42] #3809 closed

[2017-02-14 08:00] Gustry opened #3853 "EQ Impact function in IF and KW Wizards"
### Expected Behaviour

We need to enable in the KW Wizard :
* EQ Vector on Roads
* EQ Vector on Population
* EQ Vector on Structures
* EQ Raster on Roads
* EQ Raster on Structures

We don't want EQ Raster on Population Raster, as it's hard coded in the Earthquake function.

In the IF Wizard :
* We want all of them.

For EQ Raster on Population Raster keywords, I would appreciate if you can still

[2017-02-14 08:02] timlinux commented on #3853
Also please take note of @Charlotte-Morgan 's request:

So add to the notes for EQ the following line:

"Displacement rates calculated for Earthquakes are not derived from fragility curves. A nominal rate of 100% for MMI levels greater than 5 is used."

[2017-02-14 08:10] wonder-sk commented on #3559
Hi @Charlotte-Morgan

I think first we need an executive decision :-) on how to report number of fatalities - whether to 1) display estimated number or 2) display graph with probabilities of magnitudes of fatalities.

To address comments from @dynaryu:
I am aware that the ITB Bayesian model in 4.0 is not correct as mentioned above - I used the hard-coded values just to get "something" out of it wh

[2017-02-14 08:12] timlinux commented on #3853
Summary of actions needed for EQ:

1) Add the note for EQ as described above
2) Move the logic for defining displacement rates out of earthquake.py and enable it in hazard_classifications.py so that displacements are defined consistently for all hazards. (we will keep the same rates as we currently have > 5mmi = 100%)
3) We will disable editing of exposure thresholds in KW wizard for EQ for popula

[2017-02-14 08:23] timlinux commented on #3851
@Charlotte-Morgan in our discussion in JK in Jan we agreed to do ratios on exposure and global defaults only and not on the exposure layer. So it's not a regression its a requested enhancement :-P

[2017-02-14 08:33] Gustry commented on #3851
So the graph is not finished : https://github.com/inasafe/inasafe/issues/3763#issuecomment-279165240 right ?
We missed if it's a raster population exposure. In this case, we don't take care of aggregations ratios, right ?

[2017-02-14 08:36] Charlotte-Morgan opened #3854 "Remove generic hazard class option for tsunami hazard"
Tsunami hazard classes are well defined.
Please remove the option for generic classes to be used with tsunami hazard data.
@RikkiWeber - as discussed

[2017-02-14 08:51] Charlotte-Morgan commented on #3853
+ 1 for note to track source of displacement rate

[2017-02-14 09:31] Charlotte-Morgan opened #3855 "We should internationalise the Pager EQ function."

[2017-02-14 10:04] #3688 closed

[2017-02-14 10:04] lucernae commented on #3688
Closing this. Fix merged.

[2017-02-14 10:11] lucernae commented on #3824
Closed

[2017-02-14 10:11] #3824 closed

[2017-02-14 10:11] Gustry commented on #3058
I think we can close this, @lucernae did it

[2017-02-14 10:11] #3058 closed

[2017-02-14 10:12] #3638 closed

[2017-02-14 10:12] lucernae commented on #3638
Fix is merged

[2017-02-14 10:14] Charlotte-Morgan commented on #3559
hi @wonder-sk - I appreciate you pitching in with your advice. @dynaryu is also not funded to work on this project either so I am happy to make an executive decision that we should  retain the full functionality in the function if we can and not 'dumb it down' too much.
For now I think we should stick with the estimated number and in 4.1+ look to change the displace to a graph.

@timlinux - over t

[2017-02-14 10:20] Charlotte-Morgan commented on #3853
I added a note in #3850

[2017-02-14 10:41] Charlotte-Morgan commented on #3846
hi @ismailsunni the edit is working well but I still get weird display. It was happy while i set classes for population then went silly whey I chose another one

[2017-02-14 11:17] ismailsunni opened #3857 "Local Layer Treated as Remote Layer"
### Problem
In InaSAFE we have two kinds of layers, local and remote. Local is the one that sit in your computer. Everything else is remote layer.

But, in InaSAFE we only use simple checker to see if a layer is local or not :
`self._layer_is_file_based = os.path.isfile(layer_uri)`
https://github.com/inasafe/inasafe/blob/develop/safe/metadata/base_metadata.py#L236

This method is not enough for a

[2017-02-14 11:27] ismailsunni commented on #3846
Can you explain what silly looks like?  Screenshot / gif is better if possible
Unfortunatelly, I can't replicate the error.

[2017-02-14 14:53] timlinux opened #3860 "Deprecated API calls being used"
### Problem
Lots of warnings are showing when running Flood on buildings using flood classes from #3667 :

[code]

I believe these are not specific to the IF I was running but more general issues.

### Expected Behaviour

### Environment
* InaSAFE : develop
* QGIS : 2.14.11
* OS : Windows 10 Pro
* Data used (filenames and paths so as to reproduce):
  * Exposure :
  * Hazard :
  * Aggregation :

##

[2017-02-14 14:57] Gustry commented on #3860
4 over 5 are in the reporting, for @lucernae ;-)
One is the size calculator.

Ok, we will have a look later, these will stay on the 2.X branch. We should have a label 'QGIS3'

[2017-02-14 14:59] lucernae commented on #3860
Ah, how do you generate this message?

[2017-02-14 15:03] timlinux commented on #3860
Its in the QGIS log window @lucernae

[2017-02-14 15:05] timlinux commented on #3860
Done!

[2017-02-14 15:06] timlinux commented on #3857
This was originally by design so that in theory a layer with a filter on it could have different keywords to another filter applied to the same layer. However I think it will be better & simpler to make it work so that we only ever regard the non-filtered part of the layer for local layers.

[2017-02-14 15:07] Gustry commented on #3860
We will have a lot of issues for QGIS 3 :
* QT5
* Python 2
* API break from QGIS upstream

[2017-02-14 15:22] timlinux opened #3861 "Flood on buildings with no aggregation fails"
### Problem

I get the following when trying to run flood (petajakarta flood classes) on buildings for Jakarta with no aggregation:

[code]
The analysis results seem to be computed correctly, but the map products (PDF's) are not produced.

### Expected Behaviour

### Environment
* InaSAFE : Dev
* QGIS : 2.14.11
* OS : Windows 10 pro
* Data used (filenames and paths so as to reproduce):

[jakarta_f

[2017-02-14 15:23] Gustry commented on #3861
It seems coming from the reporting

[2017-02-14 15:25] lucernae commented on #3861
@timlinux What's the scenario?

[2017-02-14 15:27] Gustry commented on #3861
ahah, even Tim is not filling our beautiful template (where we ask explicitely filenames and paths) ! 🙂

According to Gitter :

[2017-02-14 16:21] myarjunar commented on #3214
closed in #3810

[2017-02-14 16:21] #3214 closed

[2017-02-14 16:22] myarjunar commented on #3834
closed in #3858

[2017-02-14 16:22] #3834 closed

[2017-02-14 16:34] Gustry commented on #3752
@myarjunar Can we close this one too ?

[2017-02-14 16:42] lucernae opened #3862 "Aggregation result template when using Entire Area"
### Problem

This is what currently happens when we tries to report total affected by aggregation, if we're not using aggregation area.

<img width="1177" alt="screen shot 2017-02-14 at 23 21 10" src="https://cloud.githubusercontent.com/assets/831865/22937925/b07ba50a-f30c-11e6-844f-bb42c9825216.png">

### Question

Should we just Delete 'Total' Rows or 'Entire Area' Rows? Or perhaps hide entire t

[2017-02-14 18:28] timlinux commented on #3861
@gustry Sorry I hadnt filled it in yet because I was still drafting the ticket.

Also note taht I think teh PetaBencana flood classes do not have evacuation rates set yet (I will add them), but the reports should not fail if these are missing.

[2017-02-14 18:43] timlinux commented on #3752
I would like to add one last small tweak request: If it returns zero rows, don't add a layer to QGIS but rather use e.g. a QGIS status message to tell the users 'there are no floods at this time'. An empty flood layer is not very useful in the legend.

[2017-02-14 18:52] timlinux commented on #3861
Tried again with displacement_thresholds defined, still get the same issue:

[code]

Hopefully @lucernae PR will fix it

[2017-02-15 03:05] Charlotte-Morgan commented on #3846
Hi @ismailsunni - the python error is fixed. I still have a problem with the display in this step of the wizard. Its the same as the screenie above and again replicated today.
![image](https://cloud.githubusercontent.com/assets/5743135/22958905/c8cf6936-f364-11e6-8c0a-61d9e74ed31b.png)

When I get to the wizard screen to set exposure specific thresholds for each hazard the screen is fine.
When I s

[2017-02-15 03:43] Charlotte-Morgan commented on #3732
maybe we are all stuck with key error :(
@ivanbusthomi  - please supply the symbology we developed for Pidie.

[2017-02-15 03:48] Charlotte-Morgan commented on #3666
@Gustry - we did not discuss this one. I still think we need to add a new classification for the full MMI range. I am not sure where the existing classification comes from.  I would need to check it against BNPB requirements and published maps

[2017-02-15 03:55] Charlotte-Morgan commented on #3862
Hi @lucernae - I am happy to leave it for now. I would be far more concerned that the totals are not adding up in the aggregation report.
Leaving it for now gives us a cross reference for checking totals

[2017-02-15 03:57] Charlotte-Morgan commented on #3851
Ok. Sounds like i should not expect to set population attributes for raster population data. But the missing report implies that my global defaults were also not applied.  If they were, I should get an age gender report for any population analysis

[2017-02-15 04:09] Charlotte-Morgan commented on #3667
@felix-yew - we need to have exposed elements symbolised the same as others in the standard. How hazard data are shown is a separate issue. In this case I think we should use the same colours as we do for the download and as per pertabencana maps

[2017-02-15 04:12] Charlotte-Morgan commented on #3845
thanks @Gustry - i saw this warning now

[2017-02-15 04:13] lucernae commented on #3862
the total in the second screenshot not adding up because of the rounding in each row.
What approach do you like to address this?
maybe add another notes?

[2017-02-15 04:21] Charlotte-Morgan commented on #3835
Um - sorry, I do not see a min needs report if there is no aggregation in the screenie above. But it is working now thank you

[2017-02-15 04:22] Charlotte-Morgan opened #3865 "BUG: report rounding has disappeared"
### problem ###
Rounding in all areas of the report been replaced by values with multiple decimal places.
![image](https://cloud.githubusercontent.com/assets/5743135/22960584/69695cb0-f371-11e6-877a-944ccb219d68.png)

### expected behaviour ###
rounding is applied according to the standards.

[2017-02-15 04:33] Charlotte-Morgan commented on #3862
ah - ok.  Its more obvious with small numbers. Hopefully not such a problem with real numbers. We already have a note so I think its fine.

[2017-02-15 04:35] lucernae commented on #3835
there should be two minimum needs section if we use aggregation. both will not show up if all minimum needs zero. then, only one section will show up (for total area) if no aggregation used.

[2017-02-15 06:36] Charlotte-Morgan commented on #3855
@hadighasemi - please confirm that the table I link to here is the correct one

[2017-02-15 06:44] ivanbusthomi commented on #3814
Hi @Gustry and @felix-yew ,
I tried today using landslide and population vector. I don't receive any error and got the result. Maybe it has been fixed?
![image](https://cloud.githubusercontent.com/assets/7351977/22963269/c3988c34-f384-11e6-8a43-5db87b81cf30.png)

[2017-02-15 06:46] ivanbusthomi commented on #3755
OK @Charlotte-Morgan , I will start making a list of changes that I am aware of.
I will share the link to the google doc here.

[2017-02-15 06:50] ivanbusthomi commented on #3711
@lucernae , Yeah I think we can close this, last time I tried opening a map pdf, the exposure layer has already been hidden. Thanks.

[2017-02-15 06:53] ivanbusthomi commented on #3678
Hi mas @ismailsunni ,
I check today there is no string to be translated for Indonesian, but some to be reviewed.
And the glossary feature in Transifex is a great help to standardize the translation of some words and terms.

[2017-02-15 07:07] Charlotte-Morgan commented on #3678
Hi @ivanbusthomi - sometimes i see some strings that look dodgy in English. When you are translating and see dodgy English, please let someone (me) know and we can attend to that before you translate it

[2017-02-15 07:08] lucernae commented on #3865
What is the scenario for this?

[2017-02-15 07:08] lucernae commented on #3865
Ah perhaps you're using debug mode? @Charlotte-Morgan

[2017-02-15 07:57] Gustry commented on #3845
Unfortunately, these messages are not centralised in one file.
You will find a lot in safe/impact_function/impact_function.py between lines L665 and L1097.
This warning message you are talking about is L811 : https://github.com/inasafe/inasafe/blob/develop/safe/impact_function/impact_function.py#L811

[2017-02-15 08:01] Gustry commented on #3855
This could be nice indeed. Can we add this after 4.0 ?

[2017-02-15 08:02] #3711 closed

[2017-02-15 09:52] Gustry commented on #3752
PetaBencana has 3 cities in the API : https://data.petabencana.id/cities
* jbd for Jabodetabek
* bdg for Bandung
* sby for Surabaya

Can't we add a combobox to support Bandung and Surabaya ?

[2017-02-15 09:54] Gustry commented on #3678
Didn't you get some issues like this in transifex ?
'Default value for feature rate per mÂ²' ?

[2017-02-15 10:44] Charlotte-Morgan commented on #3865
@lucernae - i think you are right. I owe you an ice cream for sure! :)

[2017-02-15 10:48] Gustry commented on #3865
Shame, I woke up too late 🙂

[2017-02-15 10:48] #3865 closed

[2017-02-15 10:51] Gustry opened #3868 "We need to clean the wiki"
### Problem

I think there is a lot of old wiki pages which are outdated :
* How to write impact function : https://github.com/inasafe/inasafe/wiki/Writing-impact-functions
* Jenkins
* ...

### Proposed Solution
We need to do some cleanup there.

[2017-02-15 11:12] timlinux commented on #3752
That would be cool.

[2017-02-15 11:17] Gustry commented on #3752
You can go ahead @myarjunar ;-)

[2017-02-15 11:21] Charlotte-Morgan opened #3869 "Demographic groups"
Here are some thoughts on demographic variables in InaSAFE.
We set age and gender variables and generate age and gender reports. This information should help with the definition of demographic groups and the validation of values.
Most of the concepts are already defined in concepts.py but may not have been applied.
### now ###
* we have age variables:
youth
adult
elderly
these should add up to 100

[2017-02-15 11:22] timlinux commented on #3868
please make a calendar invite and invite us to have a wiki cleanup session otherwise this ticket will become one of the 200 orphans....

[2017-02-15 11:28] Gustry commented on #3868
Yes I agree. But this is a very low priority. We will do it after 4.0

[2017-02-15 11:32] myarjunar commented on #3752
Ok then! The truth has been spoken

[2017-02-15 11:52] Gustry commented on #3743
@lucernae I could fix weird characters in reports when we display them in the dock.
<img width="434" alt="screen shot 2017-02-15 at 12 44 15" src="https://cloud.githubusercontent.com/assets/1609292/22973003/872625ca-f37c-11e6-988a-e8493ea329b8.png">

The HTML is OK in the browser. But then the PDF is bad:
![screen shot 2017-02-15 at 12 47 33](https://cloud.githubusercontent.com/assets/1609292/2297

[2017-02-15 12:12] Charlotte-Morgan commented on #3752
Point to note here.  Is there any data? I think this is ok for the download tool though it may not work if there are no data yet. I am also reluctant without metadata on the API - we know very little about the data nor if it is validated. Please do not change flood realtime as this is a product negotiated with partners in Jakarta and DMI has no plan to extend realtime flood to other cities.

[2017-02-15 15:09] #3861 closed

[2017-02-15 16:07] lucernae commented on #3752
@Charlotte-Morgan realtime will not be affected on this repo. I will keep note that flood realtime will only use API for JBD only, (but we have to update the API).

For the data, just some suggestion, maybe we should provide a way to switch the url to PetaBencana's dev url? The data is dummy though, but it might be useful to check the keywords/styles and see what it will look like without having t

[2017-02-15 16:13] ivanbusthomi commented on #3787
Hi @lucernae , sorry for late response.
I tried using volcano hazard on landcover, population and buildings with aggregation. In the report for buildings and landcover, there are no zero rows or columns appear in aggregation result. But in population, I got no aggregation result section. Only the estimated summary, action checklist, notes and assumption, and analysis details sections.

[2017-02-15 17:15] Gustry commented on #3752
@myarjunar I think make a file in definitions for petabencana with these cities and these two URLs.

As it's dummy data, we will not switch often to dev API, so I think we can keep it simple and switch easily by changing a variable in is enough, no ? If you want a checkbox, display it only if dev mode is on.

[2017-02-15 21:51] hadighasemi commented on #3855
Hi Charlotte,

The link in your message is referring to the original USGS report. However
the coefficients for the USGS fatality model as implemented in Inasafe are
actually the updated version and are extracted from the spreadsheet file
available at:
https://pubs.usgs.gov/of/2009/1136/​

   - *PAGER Implementation of Empirical Model.xls*
   <https://pubs.usgs.gov/of/2009/1136/pdf/PAGER%20Implemen

[2017-02-15 23:52] ismailsunni commented on #3846
Hmm, strange, I tried again this morning, followed your scenario, but still not get the problem.
Yes, showing via zoom can help :) Let me know if you are ready to show :D

[2017-02-16 00:27] Gustry commented on #3812
@samnawi Can you try again with the develop branch for number 1 ?
Tell me what is your log.

And what about number 2 ? Is-it working ?

[2017-02-16 01:37] ivanbusthomi commented on #3755
Hi @Charlotte-Morgan and @timlinux ,
This is the shared Google doc that I've created. Thanks.
[InaSAFE v4.0 Changes ](https://docs.google.com/document/d/10RDnPlMT7OgM4VfurEIsEnmO3UDwEGvgFwheDNefoUQ/edit)

[2017-02-16 01:41] Charlotte-Morgan commented on #3752
supporting anythin but Jakarta is a low priority for now and can wait

[2017-02-16 01:43] Charlotte-Morgan commented on #3855
@Gustry - yes - this is for the future

[2017-02-16 01:47] Charlotte-Morgan commented on #3855
@hadighasemi - thanks for confirmation, I think we are referring to the same file :)

[2017-02-16 02:23] ivanbusthomi commented on #3732
This is the symbology that we did for the Pidie Earthquake raster on raster population.
![image](https://cloud.githubusercontent.com/assets/7351977/23004402/18cdc166-f429-11e6-8f4e-7bdc859ca6c8.png)

Zip containing the .qml files [Aceh_EarthquakeOnPopulation_Subdistrict_WGS84.zip](https://github.com/inasafe/inasafe/files/778899/Aceh_EarthquakeOnPopulation_Subdistrict_WGS84.zip)

[2017-02-16 02:53] felix-yew commented on #3814
Hi @Gustry - sorry for the delay response. I still find the Attribute Error in this morning. This is the data that I use for analysis

- Exposure : population vector [NGK_population_vector_SP10_BPS.zip](https://github.com/inasafe/inasafe/files/778931/NGK_population_vector_SP10_BPS.zip)
- Hazard : landslide risk [NGK_Landslide_Risk.zip](https://github.com/inasafe/inasafe/files/778934/NGK_Landslide_

[2017-02-16 02:53] samnawi commented on #3812
Hi @Gustry I try to run analysis for **number 1**, and I got the "exception"
![image](https://cloud.githubusercontent.com/assets/8871958/23005066/bc949470-f42c-11e6-8105-553e0985e11d.png)

This is the logs
[code]

I also got the "exception" too for **number 2**
![image](https://cloud.githubusercontent.com/assets/8871958/23005179/7fe63d0c-f42d-11e6-82b6-3d29bf83745a.png)

And this is the logs
[code

[2017-02-16 03:02] ismailsunni commented on #3853
Hi @timlinux

Is it for both raster and vector EQ ? I saw @Gustry 's comment, EQ Vector should be enabled in the KW Wizard.

Does it means only structure that shown in the KW wizard? In @Gustry 's comment above, road also needs to be shown.

Hi @Gustry

What about classified EQ Raster on Population? Should I also hard code the value maps?

[2017-02-16 04:33] ismailsunni commented on #3845
So, should I do something still?

[2017-02-16 04:38] ismailsunni commented on #3678
@ivanbusthomi yes, I have finished all translation on Tuesday night. But, new strings will come soon.
@Charlotte-Morgan yes, I also recognize some typos after working in transifex.
@Gustry I did. But I just copy and paste the `mÂ²`. Not sure if it will work or not.

Note to other developer @timlinux @myarjunar , I think it's a good practice to set the string in python code, not in .ui file. The re

[2017-02-16 04:40] ismailsunni commented on #3869
Just a note, I have done for make the ratio's limit from 0 to 1. It's already in develop. For sum up to 1, I am still working on it. The hacky fix is not easy since we use a framework to generate the GUI.

[2017-02-16 05:03] Charlotte-Morgan opened #3874 "Earthquake Hazard MMI"
### problem ###
Earthquake hazard is not well defined in terms of MMI classes

### proposed solution ###
We need to make sure that MMI classes are whole numbers (no decimal places) and preferably in roman numerals.
ie in this edit option in the KW wizard - only whole numbers should be available for classified data

We need to update the Earthquake MMI classes to include a complete MMI classificati

[2017-02-16 05:19] Charlotte-Morgan commented on #3874
@hadighasemi - can we please discuss this when you are in Jakarta
@RikkiWeber - FYI

[2017-02-16 05:27] hadighasemi commented on #3874
Sure :)

Sent from my Samsung GALAXY S5

-------- Original message --------
From: Charlotte-Morgan <notifications@github.com>
Date: 16/02/2017  16:19  (GMT+10:00)
To: inasafe/inasafe <inasafe@noreply.github.com>
Cc: hadighasemi <hghasemi@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [inasafe/inasafe] Earthquake Hazard MMI (#3874)

@hadighasemi - can we please discuss this when you

[2017-02-16 07:18] Gustry commented on #3855
So I remove the milestone

[2017-02-16 07:42] lucernae commented on #3787
Hi @ivanbusthomi, It will not show up if all the aggregation result is empty. Perhaps you could use a bigger dataset? All population calculation is using displaced with ratio 1%, so you have to at least have 100 people affected?
If this is a problem, maybe we should keep the section but tell the user that it is empty.

[2017-02-16 07:49] Gustry commented on #3787
And the displacement rate is 0 for some hazards.

I though we said we should display a message @lucernae ? At least to show them that's not a bug.

[2017-02-16 08:37] lucernae opened #3876 "Review Standard Report"
### Problem

<img width="400" alt="screen shot 2017-02-16 at 15 32 59" src="https://cloud.githubusercontent.com/assets/831865/23013480/5eaf5422-f45d-11e6-9461-2d1dead349df.png">

Make this section obey standard.

### Solution

ongoing drafting solutions

[2017-02-16 08:40] lucernae opened #3877 "Add displacement rates description in the notes"
### Problem

We need to add displacement rates description in the notes

### Expected Behaviour

It will show up in the notes and assumptions section in the report

### Proposed Solution

Create a generic template to show each displacement rates for each hazard zone

[2017-02-16 09:15] ismailsunni opened #3878 "Use ISO 19115 Metadata in Keywords"
### Problem
Currently, we can set some variables in ISO 19155 tab in options dialog. But, this values aren't used in the keyword assignment or in analysis result

### Expected Behaviour
The ISO 19155 variables should be used in the metadata.

[2017-02-16 09:32] ismailsunni commented on #3846
Assign this to @timlinux since he is the Windows-User now :)

I tried in Windows, it seems, it's Windows specific indeed.

[2017-02-16 09:34] lucernae opened #3879 "Make maps showing all layer related with analysis"
### Problem

Only impact layer and exposure (toggled in InaSAFE option) that is shown.

### Proposed Solution

- Hazard, exposure and aggregation should be able to be shown in map report.
- Create a toggle in InaSAFE option to toggle showing up only impact layer, or all related layer in analysis.
- Proposed layer order (bottom to top): exposure, hazard, outputs, aggregation

[2017-02-16 09:37] Gustry commented on #3325
See ticket above for future reference

[2017-02-16 09:37] #3325 closed

[2017-02-16 09:41] Gustry commented on #3877
See #3715

[2017-02-16 09:49] lucernae opened #3880 "Making InaSAFE option linked with map report"
### Problem

Custom logo and disclaimer in InaSAFE option not linked with map report

### Expected Behaviour

It should be linked

[2017-02-16 09:53] NyakudyaA opened #3881 "Create a cron job to run all possible combination of IFs using the batch runner"
### Problem
We need a cron job to run batch processor with all scenarios using the test data .

### Expected Behaviour
Run all processes with pdf generated in the output folder

### Environment
* InaSAFE :  4.0
* QGIS :  2.14.11
* OS : Ubuntu 16.04

* Data used (filenames and paths so as to reproduce, a project is better):
   Any datasets that is available from InaSAFE sample datasets and test dat

[2017-02-16 10:00] Charlotte-Morgan commented on #3874
here is a source for the MMI scale descriptions
https://earthquake.usgs.gov/learn/topics/mercalli.php

[2017-02-16 10:10] #3853 closed

[2017-02-16 10:10] #3854 closed

[2017-02-16 10:41] Gustry commented on #3726
@Charlotte-Morgan Can you review 12.7 ? Then I can do that for 4.0.
Do you need some inputs from me ?

[2017-02-16 10:43] Gustry commented on #3743
Thanks for your inputs @lucernae. I will close this issue until I find the next problem.

[2017-02-16 10:43] #3743 closed

[2017-02-16 12:05] timlinux commented on #3755
Thanks @Ivan - I would like to include this in the change log too ok? It might be actually better to just directly manage this on the changelog (I can give you write access so you can doodle there too).

Regards

Tim

—

Tim Sutton

Co-founder: Kartoza
Project chair: QGIS.org

Visit http://kartoza.com <http://kartoza.com/> to find out about open source:

Desktop GIS programming services
Geospatial

[2017-02-16 21:36] Gustry commented on #3814
@timlinux made a fix : https://github.com/inasafe/inasafe/pull/3672/files#diff-e0f739584700d8aa0080c5b55c8a6d95R247

[2017-02-17 06:00] Charlotte-Morgan commented on #3726
hi @Gustry - maybe next week I can look at this

[2017-02-17 06:03] #3729 closed

[2017-02-17 06:05] lucernae commented on #3715
duplicate of #3877

[2017-02-17 06:06] #3715 closed

[2017-02-17 06:09] lucernae commented on #3712
We'll be using #3822 for now to just provides the composer template

[2017-02-17 06:09] #3712 closed

[2017-02-17 06:13] lucernae commented on #3610
Closing this.
These behaviour is accepted for now.

[2017-02-17 06:13] #3610 closed

[2017-02-17 06:19] lucernae commented on #3588
We convert svg chart to png on the fly so it will be rendered by QGIS Composer.

[2017-02-17 06:19] #3588 closed

[2017-02-17 06:20] lucernae commented on #3572
This is fixed.

[2017-02-17 06:20] #3572 closed

[2017-02-17 06:24] lucernae commented on #3472
ping @felix-yew for feedback.
Also, if we can't have SVG, could you clean up the PNG provided?

[2017-02-17 06:25] lucernae commented on #3464
mas @felix-yew Is this still a problem?

[2017-02-17 06:26] lucernae commented on #3423
What's the status for this?

From reporting:
- [ ] Makes each report component arguments metadata-driven (not yet).

[2017-02-17 06:29] lucernae commented on #2670
Woops, 4.0 and we still haven't done it.
Needs to have impact_function serializable first in dock.

[2017-02-17 06:34] lucernae commented on #2961
We don't have any use for it now, right? @timlinux

[2017-02-17 07:13] ismailsunni commented on #3423
@lucernae I am not sure what's the status. It's just a ticket to list hacky or non-metadata driven.

[2017-02-17 10:24] ismailsunni commented on #3851
Hi @Gustry
I did a chat with @Charlotte-Morgan on [February 17, 2017 5:12 PM](https://gitter.im/inasafe/inasafe?at=58a6cca40ad50ac31529d521)

So, it seems I don't need to restore the raster default ratio step in the wizard. But, we just need to make sure the result has gender report for population analysis.

cc @timlinux also.

[2017-02-17 13:50] Gustry opened #3887 "Missing some translations in exposure classification"
### Problem

Exposure value mapping is translated in the wizard :
![screen shot 2017-02-17 at 14 44 25](https://cloud.githubusercontent.com/assets/1609292/23067439/9dc9d462-f51f-11e6-8ae5-af322cfc7ac7.png)

* But then, in the dock, it's not translated anymore, for @ismailsunni :
![screen shot 2017-02-17 at 14 43 08](https://cloud.githubusercontent.com/assets/1609292/23067458/b189cd0e-f51f-11e6-86d

[2017-02-17 17:49] Gustry commented on #3814
@timlinux I'm giving you this one as it's in your PR

[2017-02-17 17:57] Gustry commented on #3849
Is-it finished @ismailsunni ?

[2017-02-17 18:01] Gustry commented on #3678
I know you don't like having HTML in transifex, but for my side, translating in French, it's much easier to translate one sentence with HTML inside instead of having many small sentences in transifex. The order of words is slightly different. The perfect solution doesn't exist.

There were there to fix them ;-)

[2017-02-18 18:53] timlinux commented on #3678
@Gustry OK sure happy to do things in the way that is easiest for translations...

[2017-02-18 18:56] timlinux commented on #3814
Thanks @Gustry - note that I only fixed on case - maybe we should treat the other the same....

[2017-02-18 20:06] timlinux commented on #3851
@Gustry @ismailsunni Yes correct - just make sure the defaults are read but don't add back support for defaults on the exposure layer. Thanks.

[2017-02-18 20:16] timlinux commented on #3874
@Gustry, @myarjunar  and @ismailsunni I chatted with @Charlotte-Morgan about this on Friday. We probably want to include this in 4.0. The main things to do will be:

* Update the EQ Shakemap Convertor tool to create a classified raster (where half decimal on either side of the mmi level get assigned eg. 0.5 - 1.5 get reclassed as 1)
* Ideally we should prevent any smoothing or interpolation of the

[2017-02-18 20:39] timlinux commented on #2961
Yes I think we can shelve this for now thanks @lucernae

[2017-02-18 20:39] #2961 closed

[2017-02-18 20:42] timlinux commented on #3472
@lucernae and @felix-yew please ping me on this too - I think @MariaSolovyeva also sent me some cleaned up SVG's which I need to share with you. @MariaSolovyeva could you send them directly to rizky@kartoza.com too? Thanks.

[2017-02-19 09:27] Charlotte-Morgan commented on #3874
I can do the "add hazard classifications with descriptions and displacement rates" if you want

[2017-02-19 09:41] Gustry commented on #3851
I think we can close this one @Charlotte-Morgan, it has been merged in develop.

[2017-02-19 15:02] timlinux commented on #3874
That would be great thanks @Charlotte-Morgan

See also https://en.wikipedia.org/wiki/Mercalli_intensity_scale#Modified_Mercalli_Intensity_scale (I am sure you have that anyway from some more official source). We do have the hazard class colours in our code somewhere. Hopefully we will stick with those since they seem to be somewhat standard (I think USGS uses them too).

[2017-02-20 01:14] ismailsunni commented on #3678
Yes, I agree for the part that you mentioned. But I was pointing at html boiler plate tag, like this
[code]
or this
[code]

[2017-02-20 02:05] ismailsunni commented on #3851
Closing this.

[2017-02-20 02:05] #3851 closed

[2017-02-20 02:20] ismailsunni commented on #3849
@Gustry almost. Waiting for #3890 to be merged.

[2017-02-20 02:48] ivanbusthomi commented on #3874
Hi @Charlotte-Morgan , this is the color code that you asked. You can find it in the code in /safe/utilities/styling.py at line 564

1 white (#ffffff)
2 blue (#209fff)
3 light_blue (#00cfff)
4 cyan (#55ffff)
5 light_cyan (#aaffff)
6 yellow (#fff000)
7 light_orange (#ffa800)
8 orange (#ff7000)
9 red (#ff0000)
10 dark_red (#dd0000)
11 brown (#880000)
12 dark_brown (#440000)

![image](https://cloud.g

[2017-02-20 03:25] ismailsunni commented on #3749
Hi @timlinux I made a unit test here to compare the help text and description. I am not sure if we need this or not : https://github.com/ismailsunni/inasafe/tree/unit_test_definitions

[2017-02-20 03:43] ismailsunni commented on #3704
@myarjunar can we close this? Since we have been using the icon in the tool?

[2017-02-20 03:43] #3704 closed

[2017-02-20 04:38] timlinux commented on #3749
@ismailsunni thanks for that. I guess there could be some edge cases where the description is not actually longer than the text, but as long as the test fails with a clear message, it should be easily fixable by making the help_text more verbose....

[2017-02-20 07:16] ismailsunni commented on #3849
- [ ] Add threshold and classification in the concepts.py (@ismailsunni)

[2017-02-20 07:20] timlinux commented on #3559
@Charlotte-Morgan and @wonder-sk thanks. I am proposing to remove blocker status for now, move this to 4.1 and we will add bins / histogram support in the future. @wonder-sk we have budgeted for more time from you for our new contract and so will liase with you for when you are available to work on this again if needed.

[2017-02-20 08:17] myarjunar opened #3893 "Multibuffering function is inconsistent"
### Problem

Multibuffering function shows inconsistent/unexpected/unpredictable pattern and behaviour with various input order.
![selection_022](https://cloud.githubusercontent.com/assets/11134669/23116767/e9e9e254-f77e-11e6-8077-223a23e9e62d.png)

### Expected Behaviour
Create a perfect donut for the outer layer.

### Proposed Solution
stronger unit test

[2017-02-20 08:31] Gustry commented on #3893
@myarjunar The multi-buffer algorithm takes an OrderedDict : https://github.com/inasafe/inasafe/blob/develop/safe/gis/vector/multi_buffering.py#L38

I see in your code, you are giving a `dict` and not a `OrderedDict`.
Here : https://github.com/inasafe/inasafe/blob/develop/safe/gui/tools/multi_buffer_dialog.py#L192
Just update this line of code.

Keep in mind that python dictionaries are not ordere

[2017-02-20 08:33] myarjunar commented on #3893
@Gustry I already updated my code with the ordered dictionary as we discussed. But the behaviour is still the same. Let me check again.

[2017-02-20 08:50] myarjunar commented on #3893
@Gustry thanks. I only sort it automatically on the view, so it was sorted descending. :sweat_smile: ready to push.

[2017-02-20 10:01] Gustry commented on #1160
I think we did what @timlinux said in V4.0.

[2017-02-20 10:04] Gustry commented on #3814
What are the others @timlinux ?
What you did was maybe a hack to overpass the error. Maybe this geometry was needed.

[2017-02-20 10:04] uswatunkh21 opened #3895 "Failed to Save Scenario"
### Problem
Failed to Save Scenario for all scenario without aggregation feature

[code]

### Expected Behaviour
Save Scenario can work well

### Environment
* InaSAFE : 4.0
* QGIS : 2.14.8
* OS : Windows 10
* Data used (filenames and paths so as to reproduce, a project is better):
  * Exposure : Java_Population_WGS84.tif
  * Hazard : Jakarta_Flood_18113_WGS84.shp (also happen when I use Jakarta_F

[2017-02-20 10:11] Gustry commented on #3895
Thanks for the ticket @uswatunkh21
@myarjunar Can you have a look to this ticket ?

[2017-02-20 10:17] #3822 closed

[2017-02-20 10:28] lucernae commented on #3880
<img width="845" alt="screen shot 2017-02-20 at 17 26 56" src="https://cloud.githubusercontent.com/assets/831865/23121149/db76f91a-f791-11e6-995e-3ad2c1d0e415.png">

Um @timlinux , I'm not familiar with Prompt me in cases of there is missing elements.
Is this will be shown in dock?

[2017-02-20 11:10] #3849 closed

[2017-02-20 13:18] lucernae opened #3898 "Detailed report section"
I had some question about this section here in reporting standard:

<img width="927" alt="screen shot 2017-02-20 at 20 17 38" src="https://cloud.githubusercontent.com/assets/831865/23126598/fedc5716-f7a9-11e6-8594-0838bfb9160e.png">

These 3 cases were seemingly very different pattern. So, I had some questions:

1. In first sample (people or population) where can I get the values for male column?

[2017-02-20 17:18] lucernae commented on #3898
If it is possible, I would like to have all remain consistent. In reporting standard, the sentence/phrase: "Length of roads" does not have a unit (m) on it. So, where should we move the unit (m)?
In #2691 , there is a suggestion to put it on Road type. Is this still valid? Other option is to put it on table header, like in Affected (m).

[2017-02-20 19:23] #3862 closed

[2017-02-20 20:33] timlinux opened #3904 "Displacement rate should be shown in definitions help"
### Problem
Currently we can't see the displacement rate.

### Expected Behaviour

Add it to the table like this:

![2017-02-20 22_33_20-inasafe help](https://cloud.githubusercontent.com/assets/178003/23140872/9e52cb06-f7bc-11e6-9ce0-78123fc154f5.png)

### Environment
* InaSAFE :  4 dev
* QGIS : 2.14.11
* OS :  all

### Proposed Solution

Tim add it....

[2017-02-20 21:20] timlinux opened #3906 "Extra exposure notes should be shown in definitions help"
### Problem

See comment here https://github.com/inasafe/inasafe/pull/3891#issuecomment-281034766

Currently these definitions do not make it into any reporting:

[code]

### Expected Behaviour

Users should see these notes.

### Proposed Solution

I am going to add it into the definitions_help. We need to see it added in the IF notes too. @Gustry can you look at that? I think we might need to re-

[2017-02-21 01:49] ismailsunni opened #3908 "Update Script for Releasing on Linux / Ubuntu for Nigthly Build"
### Problem
Currently, the release script is OSX specific. It doesn't work properly in Ubuntu. Unfortunatelly, we still use it for nightly build that use Ubuntu. Thus, the nightly build is failed.
[code]

### Expected Behaviour
Make nightly build works again

### Proposed Solution
Create new linux specific release script.

[2017-02-21 02:21] ismailsunni commented on #3908
I assign this to you @myarjunar since you are using Ubuntu :)
Let me know if you need any help

[2017-02-21 05:03] #3904 closed

[2017-02-21 05:20] Charlotte-Morgan commented on #3898
Hi @lucernae - i will try to add some detail.
`In first sample (people or population) where can I get the values for male column? Also, was it coming from postprocessors calculations? If it is, then was it a duplicate of the information in aggregation report for population (the one with female and age section)`
 - we do not calculate male specifically, but you can get male by subtracting female fr

[2017-02-21 05:25] Charlotte-Morgan commented on #3898
Regarding the question about units; number of people and buildings does not have a unit in english but a unit is required in Indonesian.
I prefer to use the unit in the table heading. You will see in the examples:
Estimated number of people
Estimated length (m) of roads

I would not add units to type. I think it is much better to use a table title and include units there. If not it belongs with ea

[2017-02-21 05:27] Charlotte-Morgan commented on #2691
I do not entirely agree with this ticket. We do need to add units but not on the type.

[2017-02-21 06:23] Charlotte-Morgan commented on #3472
Hi @lucernae - a few comments. Thanks for your inputs above.
For small slices is it possible to make these at the origin and horizontal to make it easier to put a label in?

Scalable icon - my thought would be to fix the bottom left and scale down so the icons remain bottom aligned.

Proportional  icons we might expect the unit for each to change depending on the scale of the disaster;
eg if there

[2017-02-21 06:28] Charlotte-Morgan commented on #3755
Thanks @ivanbusthomi - I have added some more ideas. We need to share this with HOT so they can document things they think of when doing their testing. Especially what needs to be changed or mentioned in socialization and user refresher training.
@lrpower FYI and @adissadis @samnawi

[2017-02-21 06:49] Charlotte-Morgan commented on #3726
to review this I need to be able to run some analyses (that work and look at the layer) - its not going to happen today or tomorrow

[2017-02-21 07:31] ivanbusthomi commented on #3876
hi @lucernae ,
according to the standard document, this is the changes that I proposed for this ticket. Feel free to add feedback or another suggestion
![image](https://cloud.githubusercontent.com/assets/7351977/23154821/48e82d60-f842-11e6-8243-142d406e1346.png)

[2017-02-21 08:09] #3877 closed

[2017-02-21 08:11] #3880 closed

[2017-02-21 08:48] Gustry commented on #3887
BTW, we should check that the value mapping and exposure breakdown is ordered following the exposure classification. For instance, 'Other' should always be at the bottom IMHO.  ( @lucernae  and @ismailsunni )

[2017-02-21 08:50] lucernae commented on #3887
How do we sort it? Do we have something like definition for the order?

[2017-02-21 08:52] Gustry opened #3914 "We should provide some notes which exposure and hazard specifics"
### Expected Behaviour
We should be able to provide some notes which are specifics to an exposure and a hazard.
For now we can only provide notes which are hazard specific or exposure specific.

For instance, we should have some notes for earthquake on population.

[2017-02-21 08:54] Gustry commented on #3887
Yes we have ordering in definitions :
https://github.com/inasafe/inasafe/blob/develop/safe/definitions/exposure_classifications.py#L43

[2017-02-21 12:51] Gustry commented on #3678
Some comments after @ismailsunni https://github.com/inasafe/inasafe/issues/3678#issuecomment-277179419

We should translate between square brackets.

[2017-02-21 12:56] timlinux commented on #3799
@lrpower and @charlotte-morgan I propose that we add this text to the rounding note to clarify things further:
[code]

[2017-02-21 21:06] timlinux opened #3916 "Concepts are not all shown in definitions help"
### Problem

We have lots of nice definitions for concepts, but they don't all show in the help dialog.

### Expected Behaviour

Make them visible in help

### Proposed Solution

Change concepts.py to use an ordered dict and then create a nice glossary of terms like this:

![2017-02-21 23_05_39-inasafe help](https://cloud.githubusercontent.com/assets/178003/23184956/519864e6-f88a-11e6-965c-576e635

[2017-02-21 21:39] timlinux commented on #3916
![screencapture](https://cloud.githubusercontent.com/assets/178003/23186160/d35e6bca-f88e-11e6-8ed3-5bd02cea5a42.gif)

Here is what I implemented. I added a grouping element in concepts so that they can be put into logical groups.

[2017-02-22 02:14] ismailsunni commented on #3579
I have merged my PR #3913 for the release blocker. I will remove the release blocker label in this issue. @Charlotte-Morgan @timlinux

[2017-02-22 06:46] myarjunar commented on #3752
closed in #3866

[2017-02-22 06:46] #3752 closed

[2017-02-22 07:11] Gustry commented on #3713
According to @Charlotte-Morgan this issue has not been fixed and it's a release blocker : [February 22, 2017 1:08 AM](https://gitter.im/inasafe/inasafe?at=58acd66d872fc8ce626896b7)

[2017-02-22 09:25] Gustry commented on #3713
![buffers](https://cloud.githubusercontent.com/assets/1609292/23205139/15eb1a9c-f8e9-11e6-9e2d-4618c8d215c3.gif)

Very strange, even if I create a buffer of 0, one feature is dropped.

[2017-02-22 09:27] myarjunar commented on #3846
It happens on Ubuntu as well :sweat_smile:

[2017-02-22 09:50] Gustry commented on #3846
@myarjunar So you can work on it too ;-)

[2017-02-22 09:54] Gustry commented on #3713
I made a PR to fix geometries on the fly.

[2017-02-22 11:35] NyakudyaA opened #3922 "InvalidLayerError when running analysis"
### Problem
 Using the test data I try to run impact analysis and I get error InvalidLayerError.

[code]

### Expected Behaviour
Run analysis properly.

### Environment
* InaSAFE : 4.0
* QGIS : 2.18.2 and 2.14.3
* OS :  Ubuntu
* Data used (filenames and paths so as to reproduce, a project is better):
  * Exposure :  `safe/test/data/exposure/building-points.shp`
  * Hazard : `safe/test/data/hazard/

[2017-02-22 11:57] NyakudyaA commented on #3922
Pulled latest code and tested and seems everything is fine

[2017-02-22 11:57] #3922 closed

[2017-02-22 13:28] myarjunar commented on #3895
Thanks @uswatunkh21

I couldn't replicate the error with this description. It would be nice if you could give me the dataset that produced this error.

[2017-02-22 13:37] Gustry commented on #3895
I can replicate @myarjunar.
I used the gisv4 project in the test directory. But I don't think it's related to the data itself.
The error comes from save_scenario, because the extent is a now QgsGeometry in V4. Before we used a QgsRectangle, that's why it's failing. We need to transform the QgsGeometry to a QgsRectangle.

BTW, I think we should save in the exposure CRS now.

[2017-02-22 13:52] timlinux commented on #3347
@MariaSolovyeva I'm trying to track down if you did this for us - can you check and share again?

[2017-02-22 14:15] myarjunar commented on #3895
@Gustry I really couldn't replicate it, I tried all layers in the project and it works fine. And I also tried to transform the extent to QgsRectangle and it gives the exact same extent. So, do we still need to transform it to QgsRectangle?

[2017-02-22 18:00] #3799 closed

[2017-02-22 18:00] #3916 closed

[2017-02-22 22:35] Gustry commented on #3812
Ok, I think I found your issue @samnawi !
During the IF, your road layer (linestring layer) become a multilinestring. The function we use to compute the length of the road is returning 'Nan' (Not A Number) when it's a multi. I updated the function to compute line per line in the PR above.

[2017-02-22 22:51] Gustry opened #3925 "The minimum need profile combobox is empty"
### Problem

In the minimum need configuration window, the combobox is empty. We can not change the profile.
![screen shot 2017-02-22 at 23 46 56](https://cloud.githubusercontent.com/assets/1609292/23236391/4d62c2ac-f959-11e6-8021-6f13d8017350.png)

### Expected Behaviour

We need to see every profiles in the combobox.

I guess this is related to the folder we changed a few weeks ago :
.qgis2/mini

[2017-02-23 02:37] felix-yew commented on #3464
Hi, mas @lucernae - sorry for the delay, we still check the raster population data that I use before. But, I try with the other raster population data from inaRISK, it can work properly and show the good result, too.
![image](https://cloud.githubusercontent.com/assets/13621886/23242481/98366c1e-f9ab-11e6-9c69-aa4bfc32d68c.png)
LGTM :+1:

[2017-02-23 03:09] myarjunar opened #3927 "Minimum needs calculator error on census data"
### Problem
Minimum needs calculator error on census from test data.

1.
![error while calculating minimum needs_025](https://cloud.githubusercontent.com/assets/11134669/23243094/49fb18d4-f9af-11e6-8f95-2bf4af0fa699.png)

2.
[code]

### Expected Behaviour
Works flawlessly

### Environment
* InaSAFE : 4.0
* QGIS : 2.14.11-Essen Essen
* OS : Ubuntu
* Data used (filenames and paths so as to reproduce

[2017-02-23 03:46] Charlotte-Morgan commented on #3781
This was discussed with Ibu Estu adn Pak Nugi at PVMBG.
The advice is that ash thickness can be used as a surrogate for density and concentration, is easier for general users to understand and is thus relevant to all exposure types.
#3928 addresses some of this. more work is needed on thresholds for each exposure type but for now we will use the classes defined in Ash realtime.
@estukriswati @Rikk

[2017-02-23 04:45] myarjunar commented on #3927
turns out that there is a feature in census data that has no geometry. we should handle that.

![qgis 2 14 11-essen_027](https://cloud.githubusercontent.com/assets/11134669/23245204/6bc27f6c-f9bd-11e6-8fd7-fd21f21de123.png)
![census features total 4 filtered 4 selected 4_026](https://cloud.githubusercontent.com/assets/11134669/23245210/76fe23f4-f9bd-11e6-81d8-43b7427c5158.png)

[2017-02-23 04:55] ismailsunni commented on #3678
Note for developers @myarjunar @Gustry @timlinux @lucernae
If you want to use `tr` function and token or argument, please make sure the `tr` method only get the raw string as parameter. Perhaps with example is easier:
[code]

test 1 and test 4, will not work
test 2 and test 3 will work properly

It's better to write like test 3, easier for the translator.

[2017-02-23 05:06] samnawi commented on #3713
Hi @gustry So, it's should already be fixed?

[2017-02-23 05:17] ivanbusthomi commented on #3787
Hi mas @lucernae , and @Gustry
So I tried using bigger population dataset from Worldpop, and this is how the data look like,
![image](https://cloud.githubusercontent.com/assets/7351977/23245358/658c063a-f9be-11e6-9760-29fac625b305.png)

---
 and this is the result table that I got. there is still no aggregated result.
![image](https://cloud.githubusercontent.com/assets/7351977/23245366/776f7404-f9

[2017-02-23 06:40] lucernae commented on #3678
:+1: for test_3, I'm recommending this too since translator can reorder the words if necessary. with test_2, they can't do that.

[2017-02-23 06:45] Gustry commented on #3787
Hum, yes we missed it now

[2017-02-23 06:47] Gustry commented on #3713
Yes, it has been merged to develop. Feel free to reopen if you still have an issue.

[2017-02-23 06:47] #3713 closed

[2017-02-23 06:49] Gustry commented on #3719
This should have been fixed. I'm going to close this one.

[2017-02-23 06:49] #3719 closed

[2017-02-23 06:49] Gustry commented on #3803
This has been fixed. I'm going to close this one.

[2017-02-23 06:51] Gustry commented on #3732
The raster styling has been done in the PR above.

[2017-02-23 06:51] #3732 closed

[2017-02-23 07:09] Charlotte-Morgan opened #3931 "Note on displacement should only apply to pop exposure"
### problem ###
Flood impact on building includes the following in notes:
For this analysis, the following displacement rates were used: High - 5.00%, Medium - 3.00%, Low - 1.00%, Use caution - 0.00%

### proposed solution ###
this note should only be used on pop exposure
a similar note stating thresholds for each zone would be useful

[2017-02-23 07:33] myarjunar commented on #3927
closed in #3929

[2017-02-23 07:33] #3927 closed

[2017-02-23 07:33] samnawi opened #3932 "We Should Re-enable Analysis in Volcanic Ash for all of Exposure"
### Problem
Currently, based on the ticket https://github.com/inasafe/inasafe/issues/3781 if we see in the Volcanic ash analysis just remain the analysis for 2 exposure (landcover and places)
![image](https://cloud.githubusercontent.com/assets/8871958/23248559/80d0096e-f9d2-11e6-9ca7-c4a871398498.png)

Yesterday, @Charlotte-Morgan, @RikkiWeber, @ivanbusthomi, @lucernae, and me have a meeting with

[2017-02-23 07:40] felix-yew commented on #3778
Hi, @Gustry - I also find the same error when I run the same IF with aggregation.
![tsu_r_pop_r inarisk_agg_typeerror](https://cloud.githubusercontent.com/assets/13621886/23249025/e40c44fa-f9d4-11e6-962f-fae24e9e4d9d.png)
[code]
But, when I try in small area, this IF can work properly.
![tsu_r_pop_r inarisk_agg_result_small area](https://cloud.githubusercontent.com/assets/13621886/23249071/1156ad8

[2017-02-23 07:45] lucernae commented on #3931
Ok. Noted, I haven't implement that one

[2017-02-23 07:49] timlinux commented on #3874
Chatting today with @gustry we think the fatality rate can be fetched from the definitions too because when we work with classified integer based MMI raster then the fatality rate should be a constant per MMI level. Etienne tells me this is already the case in the code.

[2017-02-23 07:53] Gustry commented on #3778
Thanks @felix-yew I'm gonna try this one

[2017-02-23 07:58] Gustry opened #3933 "Need to display if we use some selected features or not"
### Problem
In the dock, we need to display if we use a subset of features in the aggregation layer.
![screen shot 2017-02-23 at 08 49 02](https://cloud.githubusercontent.com/assets/1609292/23249504/f9ca857a-f9a4-11e6-8300-d69fb7e4b57c.png)

### Expected behaviour
Change the text if have some selected features or not :
* In the event of [hazard], how many [exposure] will be affected? Summarise the

[2017-02-23 07:59] Gustry commented on #3927
Thanks @myarjunar I often forgot this layer has a missing geometry too.

[2017-02-23 08:28] Gustry commented on #3874
Before to do that, we need to implement many fatality rates for one hazard class :

[code]

And for Pager, we need to keep in mind this ticket : https://github.com/inasafe/inasafe/issues/3855

[2017-02-23 08:40] #3812 closed

[2017-02-23 08:40] Gustry commented on #3812
I'm closing this one as it should be fixed.

[2017-02-23 08:41] #3464 closed

[2017-02-23 08:58] ivanbusthomi commented on #3787
Hi @Gustry and @lucernae,
We have discussed this and agreed that it may be OK to not shows them because there are no displaced people, because if we show them it will show zero column like this.
![image](https://cloud.githubusercontent.com/assets/7351977/23251368/a0cf7c74-f9df-11e6-9ee6-bb34532afa03.png)

I agree with what @Gustry said. What we suggest is that we add some text in the notes and ass

[2017-02-23 09:08] lucernae commented on #3787
@ivanbusthomi another note, @Gustry and I think that we should show "Total displaced" column Aggregation minimum needs, gender, and age. Should we replace Total population with total displaced or just have both in the table (we might want to change Total population to Total affected population to be clear).

[2017-02-23 09:12] ivanbusthomi commented on #3787
yeah, sorry, I forgot to add that in my comment above.
we also discussed about that too, that if the table are shown it should be total displaced instead, because the other column is about displaced people, not affected people (which I believe the total population column that I showed refers to total affected population, right?). That's why I got misunderstood that the table are not shown is a bug

[2017-02-23 09:26] lucernae opened #3934 "Infographics behaviour"
### Problem

Right now we had this kind of infographics:

<img width="1066" alt="screen shot 2017-02-23 at 16 18 19" src="https://cloud.githubusercontent.com/assets/831865/23252542/c7cfaafc-f9e3-11e6-86c7-26fe44c43287.png">

We had some behaviour that needs to be clarified:
Affected or displaced?
- Pie chart is showing total population affected for each hazard zone (perhaps change it to displaced?

[2017-02-23 09:28] lucernae commented on #3787
Ok. thank's for the clarification.

[2017-02-23 09:41] Gustry commented on #3925
Thanks, it has been fixed.

[2017-02-23 09:41] #3925 closed

[2017-02-23 09:42] #3893 closed

[2017-02-23 09:45] Gustry commented on #3678
Indonesian is 100%, I'm removing the release blocker from this issue.
I'm still working on the French translations but it's not a blocker as we have 96%.

[2017-02-23 09:48] Gustry commented on #3667
Can we close this one @timlinux ?

[2017-02-23 10:10] ismailsunni commented on #3678
Yes, death to `%s`.
Another note, please don't put `tr` in your logger. Most user won't see it and make the translator happier.

[2017-02-23 10:17] ismailsunni commented on #3932
Just a note, I can do it, just let me know whether we want to do it for 4.0 or not.

[2017-02-23 11:39] felix-yew commented on #3934
Hi, mas @lucernae - maybe I can add some suggestion about the:

Maybe we still show the total population in pie chart (Affected + Not Affected + Not Exposed)

In the people section we can add the new icon and information for displaced, maybe we can add in the right side of affected icon. I think the number of displaced is the key to the vulnerability and minimum needs section (cmiiw).

![image](ht

[2017-02-23 11:42] Gustry commented on #3678
Can you summarize these rules @ismailsunni in the wiki ?
Because this ticket will be closed soon. Thanks

[2017-02-23 12:48] myarjunar commented on #3846
It would be good if you could test it in windows @timlinux

[2017-02-23 13:06] Gustry commented on #3778
I made a pull request for this issue.
It was because some None values were in the attribute table after zonal stats. (You are using a population raster exposure)

[2017-02-23 13:10] Gustry commented on #3814
@felix-yew Do you still have the issue ? Can we close the ticket ?

[2017-02-23 13:38] Gustry commented on #3751
In inasafe options, my settings is keywords.db, I don't know if the value by default :
![screen shot 2017-02-23 at 14 37 01](https://cloud.githubusercontent.com/assets/1609292/23261238/a8b7aa38-f9d5-11e6-8672-a5a60c808a57.png)

[2017-02-23 13:38] #3879 closed

[2017-02-23 13:55] lucernae commented on #3787
I added extra messages:

If total displaced count 0:
for minimum needs
<img width="1183" alt="screen shot 2017-02-23 at 18 47 03" src="https://cloud.githubusercontent.com/assets/831865/23258314/3c41d048-f9fa-11e6-8667-2026a28e7857.png">

for aggregation postprocessors
<img width="1187" alt="screen shot 2017-02-23 at 18 57 30" src="https://cloud.githubusercontent.com/assets/831865/23258317/3dc6c23e

[2017-02-23 14:01] lucernae commented on #3787
changed column header to "Total displaced population" and add "male displaced count"
<img width="1205" alt="screen shot 2017-02-23 at 20 58 13" src="https://cloud.githubusercontent.com/assets/831865/23261880/0d2cb5d2-fa0b-11e6-8c44-0e5be1c21f67.png">

[2017-02-23 14:34] timlinux commented on #3846
It works beautifully now:

![screencapture](https://cloud.githubusercontent.com/assets/178003/23262713/56aaf222-f9e4-11e6-8fac-bbed86dc489e.gif)

[2017-02-23 16:00] Charlotte-Morgan opened #3941 "BUG: Impact analysis fails to run"
### problem ###
when I click run it goes away thinks and then comes back and tells me to click run again

### environment ###
QGIS 2.14.10
windows
InaSAFE dev 4.0

### data ####
Aceh earthquake raster
inaRISK population raster
BPS village boundaries - much larger extent than hazard and exposure

![image](https://cloud.githubusercontent.com/assets/5743135/23267076/3bbe9e7c-fa1c-11e6-978f-67a0b0e1b8

[2017-02-23 16:15] Gustry commented on #3941
@Charlotte-Morgan Can you give your logs ? It means something went wrong in the IF.

And the issue about nothing has been displayed, it's already fixed in my PR #3940 !

[2017-02-23 16:36] lucernae commented on #3666
I included displaced and fatalities to Analysis result, in case we want to show it.

<img width="404" alt="screen shot 2017-02-23 at 23 34 07" src="https://cloud.githubusercontent.com/assets/831865/23268525/9bf0d1e4-fa20-11e6-9c55-327f6ae5a4ef.png">

Also I prepared another section in case we want to show it:
For this one, I need mmi-related fields in analysis layer (for each mmi levels and each e

[2017-02-23 17:44] Gustry commented on #3895
It should be fixed in the PR above.

@myarjunar It was not related to layers. This bug happens on every dataset if the user is using a requested extent, so it means :
* no aggregation layer
* and checkbox 2 or 3 or 4 (when the user is selecting the requested area).
![screen shot 2017-02-23 at 18 42 28](https://cloud.githubusercontent.com/assets/1609292/23271498/e6b21536-f9f7-11e6-90be-25c7564c1600

[2017-02-23 17:55] myarjunar commented on #3895
@Gustry ah.. I see. I look at your code and that's exactly what I did (`boundingBox()`). I was not sure before because I couldn't replicate the problem. So, I didn't know if it fix the problem. :sweat_smile:   Cool.

[2017-02-24 07:51] uswatunkh21 opened #3944 "Map Extent is Too Large in the PDF Map"
### Problem
Map extent is too large in the printed (PDF) map. The extent is based on exposure layer, instead of the analysis area. It happened only when I ran scenario with population layer exposure, either with or without aggregation.
[a4-landscape-blue.pdf](https://github.com/inasafe/inasafe/files/798630/a4-landscape-blue.pdf)

### Expected Behaviour
Map extent in printed (PDF) map should be the

[2017-02-24 09:52] Charlotte-Morgan commented on #3846
Sorry - this much better but still having problems in windows

[2017-02-26 12:32] myarjunar commented on #3846
@Charlotte-Morgan ah sorry to hear that. Does the problem remain the same on your Windows?

[2017-02-27 02:27] Charlotte-Morgan commented on #3846
hi @myarjunar - the problem is not as bad as it was but still quite messy on my windows.
I now have the scroll bar on the left, but the left and right sides of the wizard screen overlap if i chose a different classification.
![image](https://cloud.githubusercontent.com/assets/5743135/23346679/fb01944c-fcce-11e6-9d6f-38d16f182b53.png)
I am happy to demo on zoom when I am at my desk :)

[2017-02-27 07:34] #3933 closed

[2017-02-27 09:16] #3895 closed

[2017-02-27 09:17] #3749 closed

[2017-02-27 09:18] timlinux commented on #3787
Can we close this issue now?

[2017-02-27 09:31] timlinux opened #3945 "Wizard thresholds editor leaves combo in greyed out state"
### Problem

Bug in wizard when assigning thresholds on pop:

* When editing the thresholds for tsunami on pop, after pressing  save the combo remains greyed out
* On windows when editing exsiting keywords for tsunami, editing the pop thresholds leaves the html content behind the widgets.

![screencapture](https://cloud.githubusercontent.com/assets/178003/23355726/cebb0eb6-fcdf-11e6-80ee-25c4ff618

[2017-02-27 09:37] timlinux commented on #3762
Hi @Charlotte-Morgan can we move this to 4.1 or 4.0.1? I don't think we will have all the info we need by 4.0?

[2017-02-27 09:38] #3667 closed

[2017-02-27 10:23] timlinux commented on #3747
Lets move this to 4.1 @lucernae

[2017-02-27 10:25] timlinux commented on #3068
Can we get an update on this @ivanbusthomi ...or can you close it if you are happy?

[2017-02-27 10:27] timlinux commented on #3057
I could add a report like @fredychandra 's mockup to InaSAFE help if you think that is useful? Can we otherwise close this if you are happy with what is in the help?

[2017-02-27 10:29] timlinux commented on #2920
I'm going to move this over to 4.1 on the assumption that whatever is not done in 4.0 will be carried over....

[2017-02-27 10:34] timlinux commented on #3727
@lucernae any feedback on this? Maybe we can assign to  @myarjunar

[2017-02-27 10:38] timlinux commented on #3473
@myarjunar can you take this over please

[2017-02-27 10:40] Gustry commented on #3874
I'm just trying to see where the Low, Medium and High come from for EQ classification :
* For EQ on Buildings (NEXIS) : https://github.com/inasafe/inasafe/commit/bbdcea69bd142a82da20a07cd23fc0b3f742bb01

[2017-02-27 11:31] ivanbusthomi opened #3947 "Landcover Classification"
### Problem
We need to make the classification for landcover exposure match with the volcanic ash landcover classification. The landcover classification came from Badan Geologi.
![lc](https://cloud.githubusercontent.com/assets/178003/14305277/e0fd1d78-fbe4-11e5-80ae-b92335877840.png)
We might also need to automatically assign the value map from BIG landcover data to the classes because the value i

[2017-02-27 11:45] Gustry commented on #3678
Another one I found :
[code]
In transifex, we only see :
`"Youth" is defined as:`
so we missed everything after a concatenation. We should not do this.

[2017-02-27 14:12] Gustry commented on #3887
Thanks @lucernae It's working for your side.

[2017-02-27 14:19] Gustry commented on #3876
@lucernae I still have the `hazard zone` for me (in French), did you remove it already ?

[2017-02-27 14:43] timlinux commented on #1083
Example of flood impact in new V4 architecture

![2017-02-27 16_42_55-qgis 2 14 11-essen - dki_jakarta](https://cloud.githubusercontent.com/assets/178003/23365451/d4ede67e-fd0b-11e6-9de2-14a8f03ad48b.png)

[2017-02-27 16:53] lucernae commented on #3876
I haven't removed it.
The problem is, we got the label 'Hazard Zone' from hazard classification definition, and I'm not sure on the approach to fix this. We can:

1. Change the 'name' key-value to omit 'zone' in the hazard classification (the easiest). But perhaps it will conflict with other standards, such as in legends or in table attribute, we need to review.

2. Create a substitution rule in r

[2017-02-27 23:13] Gustry commented on #3742
Just to be sure, in a legend, is-it ok if we have two units (km and m for instance) ?
* Length of roads
  * High hazard zone (900m)
  * Medium Hazard zone (1.2km)
  * Low Hazard Zone (120m)

Or should we check if every values can be converted first ? (all to km if it's possible).

I think we can't do that for reports as units are in headings. I'm talking about the legend.

[2017-02-28 01:17] ismailsunni commented on #3678
@gustry Thanks

Will add it to the wiki.

[2017-02-28 08:04] ivanbusthomi commented on #3787
@timlinux yes, I agree. Thanks for the fix mas @lucernae

[2017-02-28 08:05] #3787 closed

[2017-02-28 08:10] myarjunar opened #3955 "Fail to run batch runner scenario from save scenario tool"
### Problem
cannot find path generated from save scenario

### Expected Behaviour
path generated from save scenario tool is recognized by batch runner

### Environment
* InaSAFE : 4.0 develop
* QGIS : 2.14
* OS : Windows
* Data used (filenames and paths so as to reproduce, a project is better):
[code]

[2017-02-28 08:12] myarjunar opened #3956 "Batch runner UI"
### Problem

https://files.gitter.im/inasafe/inasafe/YriY/screencapture.gif

### Expected Behaviour
good looking batch runner

### Environment
* InaSAFE : 4.0 develop
* QGIS : 2.14
* OS : Windows

[2017-02-28 08:19] Charlotte-Morgan commented on #3932
Yes please - this should be in 4.0

[2017-02-28 08:23] myarjunar opened #3957 "More specific title on report"
### Problem

https://files.gitter.im/inasafe/inasafe/t8VM/2017-02-28-10_13_11-.png

### Expected Behaviour
The title should be `Estimated number of people affected per MMI intensity` (for first table)

### Proposed Solution
include that in reporting standard

[2017-02-28 08:25] Charlotte-Morgan commented on #3742
hi @Gustry  - I think it would be better to use only one unit in the legend.  In the example above I would use meters- 1200m is better than 0.9 km if you are to be consistent.

[2017-02-28 08:29] Gustry commented on #3742
Ok so, in the legend, only if all values are greater than 1000 we switch to kilometres if I understood.

[2017-02-28 08:31] Charlotte-Morgan commented on #3762
Hi Tim,
I have consulted earthquake, tsunami, flood and volcano people.  I think we are making good progress and should get these numbers in for 4.0. Its not a big deal to put something in even if we add a note that it is an estimate.
If displacement rates are left as 0 there will be no min needs or age gender reports.
Null reports is a bigger issue for me than documented guesses.

I have a few mo

[2017-02-28 08:39] Charlotte-Morgan commented on #3934
Hi @felix-yew - I like your suggestions above, especially the affected to displaced is nice.
For now I think we should not add new requirements. ie this report is only produced for BNPB min needs profile.

[2017-02-28 08:46] Charlotte-Morgan commented on #3934
I have some more thoughts:
Maybe the donut could show the number of people exposed to each hazard zone (regardless of affected) with the total exposed population.
Then the people affected can say which hazard zones or classes they are in.
It would be good to separate age from gender from vulnerability.
This report must include an acknowledgement of the source of the icons. Source: OCHA

maybe also

[2017-02-28 08:48] Charlotte-Morgan commented on #3666
Fatalities should always be shown as a range. Not an exact number or even rounded.
Let me get more advice from @hadighasemi on this on Thursday.
FYI - @RikkiWeber

[2017-02-28 08:52] Charlotte-Morgan commented on #3057
We still need more notes and assumptions but we have made good progress on this.
I think we can link this ticket to the work @ivanbusthomi will do for version 4.1 to work on report templates.

[2017-02-28 08:52] Charlotte-Morgan opened #3959 "InaSAFE report"
We need to reorder the InaSAFE report and move the action checklist to the end

[2017-02-28 08:54] Charlotte-Morgan opened #3960 "InaSAFE action list"
We should separate the action checklist as its own report.
This would allow us to restyle the report with actions by sector.
See #3057

[2017-02-28 08:57] Charlotte-Morgan commented on #2920
Sure - its an RFC - no milestone required

[2017-02-28 08:58] Charlotte-Morgan commented on #3473
see #3934

[2017-02-28 09:03] myarjunar commented on #3846
@Charlotte-Morgan could you please check this again? I already merged another PR regarding this issue. Actually, I cannot replicate your problem. But, looking at your screenshot, my PR should fix the problem.

[2017-02-28 09:13] Charlotte-Morgan opened #3961 "We need notes and actions for specific hazard exposure combinations"
Proposing we are able to add notes or actions for specific hazard exposure combinations.  ie the following action is for people exposed to volcanic ash

    'volcanic_ash_actions': [   # these are volcanic ash specific actions
        tr('Do you have enough masks for people in the affected area?'),
    ],
 see exposure.py

[2017-02-28 09:15] Gustry commented on #3961
Duplicate of #3914

[2017-02-28 09:16] Charlotte-Morgan opened #3962 "Displacement rate note should only appear for population exposure"
currently the displacement rate note appears for all exposures. It should only appear for population exposure

[2017-02-28 09:16] Gustry commented on #3914
Closing this one, I will keep the ticket from Charlotte.

[2017-02-28 09:16] #3914 closed

[2017-02-28 09:19] Gustry commented on #3962
Do you see these displacement ratios in reports or in QGIS layers ? Or both ?

[2017-02-28 09:23] Charlotte-Morgan opened #3964 "InaSAFE report column order"
### problem ###
the detailed report for buildings and roads could be simplified a little by changing the order of columns and making good use of double headers
![image](https://cloud.githubusercontent.com/assets/5743135/23399319/66875446-fdd2-11e6-8bca-356a66dbe548.png)

### proposed solution ###
the total affected column is placed with the other affected columns
ie under the affected heading will

[2017-02-28 09:42] Charlotte-Morgan commented on #3962
I am looking at the pdf report and i see a note that is not relevant to the exposure data

![image](https://cloud.githubusercontent.com/assets/5743135/23399952/cefa6ad4-fdd4-11e6-9374-007c66dcb980.png)

This note is in a report for buildings

[2017-02-28 09:45] Charlotte-Morgan commented on #3914
aw - sorry @Gustry - I'm pleased we agree :)

[2017-02-28 09:46] myarjunar commented on #3955
@Gustry @timlinux do we support json format for layer?

[2017-02-28 09:47] Charlotte-Morgan commented on #3742
I think its more about the range of values
if you have 20m in one class and 20,000m in another I would use metres for all.

However; if you get 1500m and 986000m then it would be better to use km ie 1.5 and 986Km

[2017-02-28 09:47] timlinux commented on #3955
Yes sure - any valid QGIS supported format should be able to work....

[2017-02-28 09:59] Gustry commented on #3742
Yes, so my rule works ;-)

[2017-02-28 10:02] ivanbusthomi commented on #3964
I created some mockups based on @Charlotte-Morgan paintings :smile:. And just to confirm, it might be based on previous result where we still have `hazard zone` in the classification table.
Let me know if I missed any point :smile:
![image](https://cloud.githubusercontent.com/assets/7351977/23400734/8aea8330-fdd7-11e6-9487-4b4a52bd3e3e.png)

[2017-02-28 10:16] lucernae commented on #3666
Yes, @hadighasemi clarified some of my question just today.
CMIIW, @hadighasemi .
So, also a note for @Gustry and @timlinux
In Earthquake, fatalities is a range of number and can be **with** a probability for that MMI range.
Hadi showed me this:

![cpebpnvwsaagbpe](https://cloud.githubusercontent.com/assets/831865/23401066/f2231016-fdd8-11e6-9b51-f7b1714c6ac7.png)

So fatalities can be a number wi

[2017-02-28 10:38] myarjunar commented on #3945
closed in #3952

[2017-02-28 10:38] #3945 closed

[2017-02-28 11:47] adissadis opened #3967 "[Bug] Cannot change Minimum Needs Profile"
### Problem
When I ran InaSAFE analysis for flood raster impact on population raster, i cannot change minimum needs profile into different minimum needs profile (for example Sphere or Philippines).

Here's my video about the bug:
![gifrecord_2017-02-28_183708](https://cloud.githubusercontent.com/assets/2520159/23404198/534d656e-fde6-11e6-942a-b37df9bd894c.gif)

If i want to change the minimum need

[2017-02-28 12:04] timlinux commented on #3967
Hi @adissadis I think it is written in the help that you need to restart QGIS after switching needs profiles. Perhaps @myarjunar can find away to remove the need for the restart....

[2017-02-28 12:55] Gustry commented on #3967
We need to check why we need a restart.
Can't we make a manual refresh before we launch the IF ?

I agree, we should at least display a message. Not a lot of people read helps, especially when it's in another window.

When I give a training, it's also not obvious for users that the last profile selected in the combobox will be the default one. It could be nice if we can review this.

[2017-02-28 14:29] adissadis commented on #3967
Hi @timlinux i'm sorry i didn't read the Help about restart QGIS when we want to change minimum needs. Because in previous InaSAFE version (i forget what version), you only need to click "Save" button to change minimum needs profile.

[2017-02-28 16:41] Gustry commented on #3961
This possible in PR #3968

[2017-02-28 21:33] timlinux commented on #3967
Hi @adissadis no I think its always been a requirement since it was first added. Lets see if @myarjunar can remove the need for doing that for us....

[2017-02-28 21:41] timlinux commented on #3666
Probably we should use roman numerals for MMI too. @lucernae please update with what info you think will be needed in order to generate a histogram like in pager.

[2017-03-01 02:16] felix-yew commented on #3814
Hi, @Gustry - sorry, for late response
![image](https://cloud.githubusercontent.com/assets/13621886/23443171/86088398-fe5f-11e6-9f2c-36b6de54d10e.png)
LGTM :+1: it work, thank you

[2017-03-01 02:16] #3814 closed

[2017-03-01 03:49] Charlotte-Morgan commented on #3666
Hi - this example of the pager histogram is for InaSAFE realtime when it migrates to versioin 4.0 - not for now :). We should discuss this in the realtime repo.
@hadighasemi @RikkiWeber

[2017-03-01 03:59] Charlotte-Morgan opened #3971 "InaSAFE analysis results are incorrect"
### problem ###
In a review of the analysis behavour for population exposure @samnawi has identified some incorrect analysis results.

The testing reviewed the analysis of population counts in exposure data and the application of ratios in aggregation data using both vector and raster population data.

Example 1.
In vector flood and raster population with vector aggregation - the global default ag

[2017-03-01 06:27] Charlotte-Morgan opened #3972 "Python error: exposure layer combobox in the dock is empty"
### problem ###
analysis fails to complete

### log message ###
[code]

[2017-03-01 06:44] felix-yew opened #3973 "Male displaced count show the negative results"
### Problem
I run the flood vector vs population vector and find a negative number of male displaced count in the detailed gender report.
![image](https://cloud.githubusercontent.com/assets/13621886/23448593/822676b6-fe84-11e6-8b95-152e28e4737c.png)

### Expected Behaviour
Show the right total displace for male.

### Environment
* InaSAFE : v.4.0.0b0
* QGIS : 2.14.10
* OS : Win 7
* Data used (file

[2017-03-01 06:58] Gustry commented on #3972
Thanks for the report.
Despite these GEOS geoprocessing error, everything was fine in this analysis.
There isn't an error message from InaSAFE in these logs :

[2017-03-01 08:33] samnawi commented on #3971
I try to investigate the behavior of InaSAFE population analysis to calculate age & gender.
I the table below, show the result of the analysis that I doing today.

Hazard : Jakarta Flood (Peta Bencana.id)
Population : Dummy Vector Population
Aggregation : Dummy Aggregation

![image](https://cloud.githubusercontent.com/assets/8871958/23451209/8939923c-fe91-11e6-9950-c69054e7b56f.png)

Hazard : Jaka

[2017-03-01 08:37] felix-yew commented on #3934
Hi, @Charlotte-Morgan - thank you for your feedback

I agree

Maybe the donut could show the number of people exposed to each hazard zone (regardless of affected) with the total exposed population.
Then the people affected can say which hazard zones or classes they are in.

Yes I agree, I think it will more help to explain each section in the infographic, too

Maybe in this section we can create t

[2017-03-01 08:56] #3961 closed

[2017-03-01 09:00] Gustry commented on #3947
I put the label release blocker because I though it was. If it's not, you can remove it. Should we go with this classification ? Should we remove the old one ?

[2017-03-01 09:08] samnawi commented on #3971
Hi all,

This is the debug file for 3 problems that I highlight in above.
The folder name refers to the ID process in above.
Please find the data in [here](https://drive.google.com/open?id=0B3b8OAVI_hAiZjNoSjNWeW5EUkE).

Thank you.

[2017-03-01 09:11] Charlotte-Morgan opened #3974 "We need an affected note"
we need an affected note that says which hazard classes are affected

[2017-03-01 09:43] Gustry commented on #3778
This PR has been merged. I'm closing this ticket.

[2017-03-01 09:43] #3778 closed

[2017-03-01 09:49] Gustry commented on #3742
These 2 PR have been merged. I'm going to close this issue.

[2017-03-01 09:49] #3742 closed

[2017-03-01 09:55] Gustry commented on #3973
@felix-yew Thanks for reporting this ticket and sharing your data.
But none of your zip (exposure and hazard) have a shapefile in (.shp).
I will try another dataset.

[2017-03-01 10:08] felix-yew commented on #3973
woops :pray:  sorry, I upload again
* Exposure: [DKI_Jakarta_Population_Dukcapil_2013_WGS84.zip](https://github.com/inasafe/inasafe/files/810297/DKI_Jakarta_Population_Dukcapil_2013_WGS84.zip)
* Hazard: [Jakarta_Flood_18113_WGS84.zip](https://github.com/inasafe/inasafe/files/810303/Jakarta_Flood_18113_WGS84.zip)
or you can check it in Real World Data in Flood folder.

let me know if there is some

[2017-03-01 12:50] Gustry commented on #3973
I used the data from RealWorldData :
I run the keywords wizard and everything runs fine for me :
![screen shot 2017-03-01 at 13 48 17](https://cloud.githubusercontent.com/assets/1609292/23460467/d6b3f45a-fe85-11e6-98fe-dd5d9e63042c.png)

I used this scenario :
[code]

Did you try to run the keyword wizard ?

[2017-03-01 13:43] myarjunar commented on #3955
closed in #3966

[2017-03-01 13:43] #3955 closed

[2017-03-01 13:43] myarjunar commented on #3956
closed in #3966

[2017-03-01 13:43] #3956 closed

[2017-03-01 14:45] gubuntu commented on #3132
can we update this to apply to InaSAFE 4 and to be covered by WB Extension?

[2017-03-02 02:20] felix-yew commented on #3973
Hi, @Gustry - I have set the keyword wizard of population data before I run the analysis, but I use the (female, youth, adult, and elderly) count. The count field attribute after the ratio field attribute.
![image](https://cloud.githubusercontent.com/assets/13621886/23489943/e5e97bb4-ff27-11e6-8da0-616e21922f3f.png)

I use the formula that have been explain by mas @samnawi in #3971
![image](https:

[2017-03-02 03:48] ivanbusthomi commented on #3947
Hi @Gustry,
I am thinking maybe we can just add another classification for BIG landcover, and make it automatically value mapped if using the remark or FCODE field based on the table above.
And I believe it is not a release blocker. What do you think @Charlotte-Morgan ?

[2017-03-02 04:53] Charlotte-Morgan commented on #3972
hi @Gustry - I still have this problem.
here is the error message
[code]
and the screenie
![image](https://cloud.githubusercontent.com/assets/5743135/23493500/d09a2bc0-ff3e-11e6-9a65-9abd36c31675.png)

[2017-03-02 05:58] lucernae commented on #3666
Yes @Charlotte-Morgan , I'm quoting it just to explain that fatalitites, is not a fixed number, rather a range with probabilities.

The Roman numeral will be coming directly from the layer. For the MMI Detail section, it is just a section I propose (special section for EQ), and right now it is disabled and only showed up when using debug mode.

[2017-03-02 06:06] Charlotte-Morgan commented on #3666
Hi @lucernae - i have discussed the reporting of eq fatalites now with @hadighasemi.
he recommends that we report in the following classes:
0 - 100
100 - 1,000
1,000 - 10,000
10,000 - 100,000

This compares to the way the report is today, which does not apply the previous rules for reporting fatalities.
![image](https://cloud.githubusercontent.com/assets/5743135/23495011/e82946d6-ff48-11e6-9694-3d

[2017-03-02 06:09] Charlotte-Morgan commented on #3803
hi @Gustry - i got key error for earthquake raster on pop raster with aggregation boundaries this morning

[2017-03-02 06:13] Charlotte-Morgan commented on #3846
Hi @myarjunar - this is looking much better.
Still a little squashed but nothing like the overlap issues previously.
Thanks for fixing

[2017-03-02 06:30] Charlotte-Morgan opened #3980 "BUG: gdal.exe window pops up"
when i run earthquake raster on pop raster the dgal.exe window pops open and then closes.

Solution: this should not be visible to users

[2017-03-02 07:01] lucernae commented on #3934
For the text, for future reference, you can even change it yourself in this definitions file:
https://github.com/inasafe/inasafe/blob/develop/safe/definitions/reports/components.py#L465

All of the text in the report can be customized in that file. So later if you feel you want to change just the text, you can go there.

[2017-03-02 07:04] Gustry commented on #3947
Yes, good.
Do you want to do it @ivanbusthomi ?
You need to add new classification here : https://github.com/inasafe/inasafe/blob/develop/safe/definitions/exposure_classifications.py
(CC @myarjunar )

[2017-03-02 07:19] Gustry commented on #3846
What is the little issue? Do you have a screenshot?
Should we check deeper? or can we close the issue?

[2017-03-02 07:22] Gustry commented on #3803
Is-it the same KeyError ?
Can you copy/paste logs ?

[2017-03-02 07:26] lucernae commented on #3887
Nice!
Was translation working too?

[2017-03-02 07:28] Gustry commented on #3972
Thanks @Charlotte-Morgan.
@myarjunar Can you have a look to this ticket ?
I guess it happens when in your settings you hide the exposure layer after the analysis and you had only one exposure layer.

[2017-03-02 07:29] ivanbusthomi commented on #3803
Hi @Gustry , actually I tried using west sumatra dataset in Real world data and it works. But when I tried using another data set, I got a key error. these are the diagnostics
[code]

[2017-03-02 07:32] Gustry commented on #3803
What is the other dataset @ivanbusthomi?

[2017-03-02 07:41] ivanbusthomi commented on #3803
Hi @Gustry this is the data:
[maluku_clip.zip](https://github.com/inasafe/inasafe/files/813026/maluku_clip.zip)

[2017-03-02 07:50] ismailsunni commented on #3973
I can replicate it. I will work on it @felix-yew @Gustry
<img width="1428" alt="screen shot 2017-03-02 at 14 50 09" src="https://cloud.githubusercontent.com/assets/1421861/23497847/94d32fce-ff57-11e6-9529-5a99de9bed62.png">

[2017-03-02 07:59] timlinux commented on #3726
@lucernae please go ahead and make the changes we can from @Charlotte-Morgan 's list above - we can add the hazard area layer in 4.1

[2017-03-02 08:01] timlinux commented on #3726
For 12.7 for now let us just call it:

[2017-03-02 08:02] timlinux commented on #3726
We will add ``Impact Layer - Hazard Summary`` in 4.1

[2017-03-02 08:12] timlinux commented on #3874
I think we must just remove the low/medium/high EQ classification

[2017-03-02 08:13] timlinux commented on #3874
I am going to remove blocker for this:

-[ ] Ideally we should prevent any smoothing or interpolation of the imported grid dataset (currently we use invdist)

But:

-[ ] please lets remove the h/m/l classification

[2017-03-02 08:14] Gustry commented on #3172
#3741 is fixed so let's close this one @ismailsunni

[2017-03-02 08:45] lucernae commented on #3666
I made it like this:
<img width="1180" alt="screen shot 2017-03-02 at 15 43 52" src="https://cloud.githubusercontent.com/assets/831865/23499553/2567c002-ff5f-11e6-863a-3244f393a1da.png">

[2017-03-02 09:05] ismailsunni commented on #3971
After some discussion with @Gustry the first case (vector count) is related to #3973. The problem is we use wrong formula for ratio. I will fix it soon.

[2017-03-02 15:13] Gustry commented on #3971
@ismailsunni is fixing this issue with vector exposure at the same time as #3973
I'm fixing this issue with raster exposure in the PR above.

[2017-03-02 16:43] #3860 closed

[2017-03-02 18:54] lucernae commented on #3962
duplicate of #3931. Shouldn't it be fixed by now? I already merged PR for this.

[2017-03-02 19:36] timlinux commented on #3846
@Gustry I am going to close and we can re-open if someone reports it again.

[2017-03-02 19:36] #3846 closed

[2017-03-02 20:29] lucernae commented on #3964
We don't yet have total exposed in the qgis layer.
Otherwise, it's possible.

[2017-03-02 20:32] lucernae commented on #3944
Should be fixed by now

[2017-03-02 20:37] lucernae commented on #3727
What's the feedback on this @samnawi ?

Was <hazard> and <exposure> is the layer title respectively?

[2017-03-02 21:01] timlinux commented on #3727
@lucernae I think just make a call on this and go with @samnawi 's last suggestion:

[code]

[2017-03-02 21:58] Gustry commented on #3496
This ticket has been superseded in https://github.com/inasafe/inasafe/issues/3666#issuecomment-283565297
@lucernae made a PR #3982

[2017-03-02 21:58] #3496 closed

[2017-03-02 22:00] Gustry commented on #3947
Check #3626

[2017-03-03 00:14] Gustry commented on #3803
So we got two kinds of KeyError in this ticket:
* In the Aceh scenario from @Charlotte-Morgan it was due to an invalid aggregation layer. In the logs, I could see some message saying that geometries were still invalid after cleaning. I ran a `Select by expression` with `$geometry IS NULL` and I got two results in the layer:
![screen shot 2017-03-03 at 00 10 01](https://cloud.githubusercontent.com/

[2017-03-03 01:38] wcarthur commented on #3762
Proposed displacement rates for TC:

cat 1: 0.00
cat 2: 0.06
cat 3: 0.55
cat 4: 0.97
cat 5: 1.00

These are based on examination of building fragility curves developed for the Greater Metro Manila Area Risk Assessment Project, which was undertaken by University of the Philippines Institute for Civil Engineering. The rates are based on the assumption of low-rise, timber framed construction, with po

[2017-03-03 03:51] samnawi commented on #3971
Yeah @Gustry I think this issue was fixed in https://github.com/inasafe/inasafe/pull/3984

[2017-03-03 04:01] felix-yew commented on #3973
@Gustry @ismailsunni I think this issue was fixed in #3984
Thank you

[2017-03-03 04:37] ismailsunni commented on #3973
Closed in #3984

[2017-03-03 04:37] #3973 closed

[2017-03-03 06:04] myarjunar commented on #3972
@Gustry I couldn't replicate the problem with this description. But if indeed that is the problem, I think my PR should fix it.

[2017-03-03 06:08] #3172 closed

[2017-03-03 06:33] myarjunar commented on #3947
is it ok if I named it `badan_geologi_landcover_classes`? @ivanbusthomi @Gustry

[2017-03-03 06:55] Gustry commented on #3972
I need only one exposure layer in the legend and use the option 'hide exposure layer after an IF' and then run the IF, I could replicate.
I will try your PR.

[2017-03-03 07:02] lucernae commented on #3727
I'm stuck on this. So the problem is, I need the impact function to be serializable so I can get impact_function's provenance and resolve the file name even if the user change layers.
Perhaps we can move it to 4.1?

[2017-03-03 07:30] mbernasocchi commented on #3762
thanks @wcarthur

[2017-03-03 07:56] adhityadido opened #3996 "Earthquake with population PDF did not show result layer"
### Problem
When I try to print the result of the analysis layer of Earthquake raster with population raster, the map did not show the same information as the analysis layer in QGIS. It only shows grey color map (exposure data) instead showing the analysis result in InaSAFE.
![result map](https://cloud.githubusercontent.com/assets/25237245/23542673/07c93bf8-0021-11e7-87f6-44553350edc6.JPG)

The re

[2017-03-03 08:07] ivanbusthomi commented on #3947
@myarjunar yeah I think so.

[2017-03-03 08:30] adissadis opened #3997 "IFCW analysis didn't produce map pdf"
### Problem
When i try to run analysis with IFCW with any analysis, it didn't produce map file (portrait & landscape). It say "No such file or directory"

![selection_005](https://cloud.githubusercontent.com/assets/2520159/23543666/c624ed96-0025-11e7-8901-da50caf3ca56.png)

When i check the template files, only this file printed:
![selection_006](https://cloud.githubusercontent.com/assets/2520159/

[2017-03-03 08:36] uswatunkh21 opened #3998 "Too Large Font Size in PDF Map Legend"
### Problem
Font size in the PDF Map legend is too large. It then overlaps with other text in the PDF Map.
![too big font size](https://cloud.githubusercontent.com/assets/2535397/23543778/5769e04a-0026-11e7-85c2-9ba4135ae666.png)

### Expected Behaviour
Font size in the PDF Map legend should be in proportional size in order it do not overlaps with other text in the PDF Map.
![true font size](https

[2017-03-03 08:45] timlinux commented on #3934
Please remove the bracket so 1321321*) becomes 1232132*

[2017-03-03 08:55] lucernae commented on #3998
@ivanbusthomi could you kindly take this over? I think this is about the template. You can give the template and assign it to me later.

[2017-03-03 11:19] #3762 closed

[2017-03-06 01:55] ivanbusthomi commented on #3998
@lucernae sorry I missed this ticket yesterday.
I will create the template quickly and post it here

[2017-03-06 02:39] ivanbusthomi commented on #3998
@lucernae this is the zip template, sorry for the delay
[20170306_fix_template_v4.zip](https://github.com/inasafe/inasafe/files/820022/20170306_fix_template_v4.zip)

[2017-03-06 03:14] felix-yew commented on #3997
Hi mas @adissadis @Gustry

I also find this problem in Windows. When I use the IFCW and then click `Generate PDF` it didn't produce map files, either PDF files or QPT files.
![image](https://cloud.githubusercontent.com/assets/13621886/23595469/ac700dd2-0254-11e7-8aec-d5d2a7b2c84c.png)

## Environment
* InaSAFE : 4.0.0
  - QGIS : 2.14.10
  - OS : Win 7 Pro/RAM 12GB 64-bit
* Data used (filenames and

[2017-03-06 07:17] ismailsunni opened #4015 "Check Sum for Age Ratio in Options Dialog"
### Problem
In the wizard, we have checker for age ratio, we need to apply this also in the options dialog.

### Expected Behaviour
Wizard and options dialog have the same behaviour.

### Proposed Solution

[2017-03-06 07:23] Gustry opened #4016 "Coding standards review"
### Problem

We need to do a coding standards review.

For instance, we need to update this section :
https://github.com/inasafe/inasafe/wiki/Coding-Standards#strings-and-internationalisation

Now, we use `format` with a dictionary :
This is **bad** :
[code]
This is **good** :
[code]

[2017-03-06 08:15] timlinux commented on #3727
@lucernae we are going to hand this over to @myarjunar to implement. Just rename the generated reports according to the naming convention above. For now the generated GIS datasets should keep their current names.

[2017-03-06 08:19] timlinux opened #4017 "We need system documentation explaining how to manage actions and notes"

[2017-03-06 08:19] #2290 closed

[2017-03-06 08:22] #3931 closed

[2017-03-06 08:22] timlinux commented on #2691
This is done in 4.1

[2017-03-06 08:22] #2691 closed

[2017-03-06 08:25] #3678 closed

[2017-03-06 08:27] timlinux commented on #3666
I think we have taken care of the pop ranges and for the histogram discussion we can start a separate issue for that when needed.

[2017-03-06 08:27] #3666 closed

[2017-03-06 08:31] Gustry commented on #3728
Can you please try again with InaSAFE V4 ?
This ticket is not relevant anymore with the new version.

[2017-03-06 08:31] #3728 closed

[2017-03-06 08:33] timlinux commented on #3996
@myarjunar please take this over - test and close if fixed otherwise work with @Gustry to resolve.

[2017-03-06 08:36] #3845 closed

[2017-03-06 08:36] #3779 closed

[2017-03-06 08:36] #1160 closed

[2017-03-06 08:37] timlinux commented on #3560
I think we should park the last two items here and implement if there is a specific need for this functionality.

[2017-03-06 08:37] Gustry commented on #2093
We don't have this window anymore. I'm going to close this issue.

[2017-03-06 08:37] #2093 closed

[2017-03-06 08:38] #3560 closed

[2017-03-06 08:38] Gustry commented on #2686
This error is not relevant anymore with V4.

[2017-03-06 08:38] #2686 closed

[2017-03-06 08:39] timlinux commented on #3062
@myarjunar can you take this and sort it out for 4.1?

[2017-03-06 08:39] Gustry commented on #2992
This is done in version 4.0. I'm closing this ticket.

[2017-03-06 08:39] #2992 closed

[2017-03-06 08:41] Gustry commented on #2885
We have now many tsunami classifications in InaSAFE V4. I'm closing this one.

[2017-03-06 08:41] #2885 closed

[2017-03-06 08:42] Gustry commented on #2809
We don't have this combobox anymore in InaSAFE V4. I'm closing this ticket.

[2017-03-06 08:42] #2809 closed

[2017-03-06 08:43] #3506 closed

[2017-03-06 08:45] timlinux commented on #2670
@myarjunar can you take this over. Please add a flag to the IF to allow suppression of report generation (e.g. for use when testing).

[2017-03-06 08:45] Gustry commented on #3150
I'm closing this ticket as version 4 is going to be released.

[2017-03-06 08:45] #3150 closed

[2017-03-06 08:46] timlinux commented on #1481
Closed for 4.0

[2017-03-06 08:46] Gustry commented on #3419
@lucernae Can we close this ticket ?

[2017-03-06 08:46] #1481 closed

[2017-03-06 08:49] Gustry commented on #3294
I guess you need to change your profile to the translated version.
And I made some changes to have some translations.

[2017-03-06 08:51] Gustry commented on #3199
I'm going to close this one. We will comeback on Value/Rate in V4.2

[2017-03-06 08:51] #3199 closed

[2017-03-06 08:51] Gustry commented on #3200
I'm going to close this one. We will comeback on Value/Rate in V4.2

[2017-03-06 08:51] #3200 closed

[2017-03-06 08:53] Gustry commented on #3169
I'm closing this ticket as we made a lot of work on landcover. Please open a new ticket if you need.

[2017-03-06 08:53] #3169 closed

[2017-03-06 08:55] Gustry commented on #3101
Can we close this issue ? Is-it fixed @ismailsunni ?

[2017-03-06 09:02] lucernae commented on #3727
I had some work in progress that I can handover. We need to make impact function serializable, that's the blocker.

[2017-03-06 09:05] Gustry commented on #2488
We did that in version 4.0.

[2017-03-06 09:08] Gustry commented on #3175
Please try again with InaSAFE v4. I made a big refactor to impact functions. I'm going to close this issue. Feel free to open a ticket. Thanks.

[2017-03-06 09:08] #3175 closed

[2017-03-06 09:09] lucernae commented on #2670
Just a note again. We need to make impact function serializable for this. That's the blocker.
The idea is, report generations now very stateless, it needs information from impact function. However at the moment we don't store impact function object in the dock, so it got lost when we run another impact function or click a different impact layer.
So, impact function object needs to be regenerated a

[2017-03-06 09:09] Gustry commented on #3173
I'm going to close this issue. We made a big refactor in minimum needs.

[2017-03-06 09:09] #3173 closed

[2017-03-06 09:10] Gustry commented on #3063
@gubuntu We don't support QGIS 2.8 now.
I'm going to close this issue.

[2017-03-06 09:10] #3063 closed

[2017-03-06 09:12] Gustry commented on #3170
We made a big refactoring in version 4.0. I'm closing this issue as we are not using JSON or the postprocessor manager.

[2017-03-06 09:12] #3170 closed

[2017-03-06 09:16] Gustry commented on #3482
@gubuntu We made a big refactoring in InaSAFE V4. I don't think we can replicate. Feel free to open a new ticket.

[2017-03-06 09:16] #3482 closed

[2017-03-06 09:19] Gustry commented on #2856
We made a big refactoring in version 4.0. I think we can close this ticket.

[2017-03-06 09:26] Gustry commented on #2670
But we are already generating reports at the end of the IF already, so why do we need to serialize the IF ?

[2017-03-06 09:34] Gustry commented on #1162
I'm closing this issue as we nade a big refactoring in version 4.0. This shouldn't happen anymore.

[2017-03-06 09:34] #1162 closed

[2017-03-06 09:38] lucernae commented on #2670
Because if we click another impact layer, we don't have the IF object, CMIIW.
If we didn't make IF object or provenance serializable, we can only generate report after impact function run.
I think the point of this issue is to have impact function able to generate PDF whenever we want.
Also, ideally only impact report knows the location of the generated report. If we put impact_report object insid

[2017-03-06 10:50] Gustry commented on #2774
We don't have JSON anymore in version 4.
I will close this ticket until we revamp JSON.

[2017-03-06 10:50] #2774 closed

[2017-03-06 10:54] Gustry commented on #2587
@timlinux It might be related to your issue with EQ and the displaced raster.

[2017-03-06 11:00] Gustry commented on #2980
We are not using `storage` anymore in version 4. We use QGIS Layers now. I'm going to close this issue.

[2017-03-06 11:00] #2980 closed

[2017-03-06 11:01] Gustry commented on #2718
We don't use `storage` anymore in version 4. We use now QGIS Layers everywhere.
I'm going to close this issue.

[2017-03-06 11:01] #2718 closed

[2017-03-06 11:02] Gustry commented on #3099
I think we can close this issue. We reviewed all these notes.

[2017-03-06 11:10] Gustry commented on #3372
I'm closing this ticket. We manage ratios and counts if we have extra attributes.
For population with densities, we have ticket #3181

[2017-03-06 11:10] #3372 closed

[2017-03-06 14:15] timlinux commented on #2587
Hmm yes it may be the same issue....

[2017-03-06 16:17] Gustry commented on #3997
This is fixed in the PR above.
Thanks

[2017-03-06 16:17] #3997 closed

[2017-03-06 17:54] Gustry commented on #3906
This ticket is still open, great ;-)
I moved these notes to the correct file, in earthquake.py. These notes where already there.

BTW, we also need to display notes/actions are hazard/exposure specific : https://github.com/inasafe/inasafe/blob/develop/safe/definitions/hazard_exposure_notes_actions.py
I think we need to do a new section for this, right ?

[2017-03-06 21:28] Gustry commented on #3887
@lucernae Yes it's working fine in the Analysis Details table :
<img width="897" alt="screen shot 2017-03-06 at 22 24 03" src="https://cloud.githubusercontent.com/assets/1609292/23630539/cf0e6818-02bb-11e7-8e79-ffdab95ce9ee.png">

But translations are still missing on the aggregation table :
<img width="906" alt="screen shot 2017-03-06 at 22 26 15" src="https://cloud.githubusercontent.com/assets/1

[2017-03-06 21:46] Gustry commented on #1159
I put accents in my path, in the layer name, in the source, in the license ... I ran an analysis with the layer, everything could work nicely. I couldn't replicate your problem.
<img width="386" alt="screen shot 2017-03-06 at 22 43 48" src="https://cloud.githubusercontent.com/assets/1609292/23631340/6b36edda-02be-11e7-9852-e152880f220e.png">

[2017-03-07 02:38] wcarthur opened #4021 "Python Error: classifying cyclone hazard layer"
When initially selecting a classification for cyclone wind hazard, a TypeError is raised

[code]

Can close the dialog, edit thresholds and continue with Keyword creation.

### Environment
* InaSAFE : 4.0.0
* QGIS : 2.14.4
* OS : Windows
* Data used (filenames and paths so as to reproduce, a project is better):
  * Exposure : N/A
  * Hazard : NetCDF4 continuous raster data
  * Aggregation :
  * Ex

[2017-03-07 03:34] felix-yew commented on #3099
Hi, @Gustry I think this issue has been fixed.
![image](https://cloud.githubusercontent.com/assets/13621886/23640623/7e312b04-0321-11e7-90e0-cec3d09b35d2.png)
LGTM :+1: Thank you

[2017-03-07 03:34] #3099 closed

[2017-03-07 09:54] Gustry commented on #4021
Thanks for the report.
This has been fixed in the PR above. The patch is going to be included in 4.0.1 release.

[2017-03-07 09:55] #4021 closed

[2017-03-07 09:57] Gustry commented on #3998
@lucernae Can you have a look ? We will release 4.0.1 at the end of the week.

[2017-03-07 13:42] Gustry commented on #3996
This ticket will be fixed in the PR above. Feel free to open if you have any issue after this PR will be merged.

[2017-03-07 13:42] #3996 closed

[2017-03-07 14:02] Gustry commented on #3887
Ok, I fixed the translation in the PR above. I will not try to fix the order, I'm afraid to break the summary ;-)

[2017-03-07 17:33] #3947 closed

[2017-03-07 23:20] lucernae commented on #3998
Sorry, I will have a look at Thursday.

[2017-03-08 00:00] ismailsunni commented on #3101
Yes, we can close this

[2017-03-08 00:00] #3101 closed

[2017-03-08 01:54] ismailsunni commented on #4016
Since it also talks about internationalisation, we should put the `tr('').format()` preference.

[2017-03-08 02:29] Charlotte-Morgan opened #4026 "Error: Invalid layer"
I am getting this error when running raster earthquake on vector population and vector aggregation.

[code]

[2017-03-08 02:30] Charlotte-Morgan commented on #4026
'''

2017-03-08T09:27:36	0	ANALYSIS : The impact function is starting.
2017-03-08T09:27:37	0	Datastore : C:/AIFDR/AIFDR II - SDA/temp/EarthquakeRasterOnPopulationPolygon_08March2017_09h27-37.009000
2017-03-08T09:27:37	0	ANALYSIS : Aggregation preparation
2017-03-08T09:27:37	0	aggregation: provided: True
2017-03-08T09:27:37	0	aggregation: Cleaning the aggregation layer
2017-03-08T09:27:37	0	Feature

[2017-03-08 04:14] ismailsunni opened #4028 "Fix combo box in field step in Keyword Wizard"
### Problem
Currently, we have this kind of combo box in field step in keywords wizard.

<img width="1124" alt="screen shot 2017-03-08 at 11 07 48" src="https://cloud.githubusercontent.com/assets/1421861/23689780/9b72bc2c-03ef-11e7-88e8-876949fb12e3.png">

### Expexted Behaviour
The combo box should show all options at once, like this one:
<img width="1186" alt="screen shot 2017-03-08 at 11 12 29"

[2017-03-08 04:41] ismailsunni opened #4029 "Make the description lower case in Global Defaul Setting"
### Problem
I n the Global Default tab in InaSAFE Options, we have something like this:
<img width="959" alt="screen shot 2017-03-08 at 11 39 09" src="https://cloud.githubusercontent.com/assets/1421861/23690409/0db8951e-03f4-11e7-9925-191ed0ab0e2a.png">

Ideally, the red arrow is the description, and it should be in lower case to differentiate with the main label (blue arrow).

[2017-03-08 04:54] ismailsunni commented on #3579
From the list in the first comment:
1.  Fix combo box in field, to show all option at once, will be addressed in #4028
2. Make the description lower case in Default Values Setting, will be addressed #4029
3. Add setting to choose currency, will be parked since there is no use case for now
4. Explain the value means in feature, will be parked since there is no use case for now

[2017-03-08 04:58] Charlotte-Morgan commented on #4026
here is the data - I am using fields in the data for total population, female population, adult population, youth population and elderly population.

[2017-03-08 04:58] Charlotte-Morgan commented on #4026
![image](https://cloud.githubusercontent.com/assets/5743135/23690734/85c96c84-03f6-11e7-9d1d-8f52f0d47bcc.png)

[2017-03-08 04:58] Charlotte-Morgan commented on #4026
[Jkt_SubDistrictPopulation.zip](https://github.com/inasafe/inasafe/files/826680/Jkt_SubDistrictPopulation.zip)

[2017-03-08 07:05] ismailsunni opened #4031 "Keyword Wizard : Continuous Population Vector Count Data"
### Problem
From #3579

Some thoughts on the process of assigning key words to *continuous population vector count data* with the following attributes: id, village, total_pop, female, youth, adult, elderly.

Stepping through the KW wizard: exposure: population: continuous: count:
In the next step I think this should ask "Please select the attribute in this layer that represents the *total* number

[2017-03-08 07:08] ismailsunni commented on #3579
The other points are covered in #4031 which also cover @Charlotte-Morgan's comment about continuous population vector count data and aggregation layer.

I have checked the other comments are already implemented.

I will close this ticket since all points are fixed or covered in smaller and more specific tickets.

[2017-03-08 07:08] #3579 closed

[2017-03-08 07:17] ismailsunni commented on #4026
Hi @Charlotte-Morgan
I tried to use your population data and standard test data for hazard and aggregation. It runs fine in my machine
<img width="1432" alt="screen shot 2017-03-08 at 14 15 40" src="https://cloud.githubusercontent.com/assets/1421861/23693956/d27454be-0409-11e7-8e68-39eddc7886d1.png">

Do you have any comment @Gustry ?

[2017-03-08 07:18] ismailsunni commented on #3908
We can close this one since I have updated the Dockerfile for nightly build here: https://github.com/inasafe/nightly.inasafe.org/pull/1

[2017-03-08 07:18] #3908 closed

[2017-03-08 07:23] Gustry commented on #3941
Can you give some inputs @Charlotte-Morgan ?
Without any logs, we can't really know what was the issue.
Thanks.

[2017-03-08 07:50] Gustry commented on #4026
Reading the logs, the problem is when we combine the hazard and the aggregation. Can we have both layers ? Not only the aggregation.

[2017-03-08 09:36] Charlotte-Morgan opened #4033 "Error: Fatality rounding - EQ analysis"
### problem ###
there is an error in the rounding of earthquake fatalities.
I have got a big earthquake planned. In the debug analysis - the results show 18589 fatalities but the rounded report shows 0 - 100.

![image](https://cloud.githubusercontent.com/assets/5743135/23698311/af0e829c-041d-11e7-9d5b-cb77585182e0.png)

### proposed solution ###
make it happy - kill more people

[2017-03-08 09:43] Charlotte-Morgan commented on #4026
[JakartaEQ_DoNotDistribute.zip](https://github.com/inasafe/inasafe/files/827183/JakartaEQ_DoNotDistribute.zip)

@Gustry - here is the file. This should not be distributed or used for anything but bug fixing this ticket.
Thanks

[2017-03-08 09:56] Gustry commented on #4033
It seems the problem comes in the reporting.
I will have a quick look this afternoon if I know where is it done in the reporting engine from @lucernae

[2017-03-08 10:30] Gustry commented on #4033
Fixed in PR above.

[2017-03-08 10:30] #4033 closed

[2017-03-08 11:05] Charlotte-Morgan commented on #3941
hi @Gustry - I think we already discussed and there was nothing in the log?
I'm not going to have time to look at this again until late next week

[2017-03-08 14:10] Gustry commented on #3726
The "Analysis impacted" layer is missing in this ticket too.

[2017-03-08 15:32] ismailsunni commented on #2856
Yes, we can close this ticket. We don't use aggregate anymore which cause the problem. IIRC.

[2017-03-08 15:32] #2856 closed

[2017-03-08 15:37] ismailsunni commented on #2907
We have implemented all tsunami hazard classes in version 4.0, I think we can close this.

[2017-03-08 15:37] #2907 closed

[2017-03-08 16:29] Gustry commented on #4026
GDAL Info
[code]

When we try to clip with GDAL command line with gdal_translate :
[code]

As QGIS is using GDAL command line in the background, it's also failing to use QGIS UI to clip the raster with the same error.
I'm a little bit clueless for now. I can make a hack if this processing step is failing.

[2017-03-08 17:06] Gustry commented on #4026
Ok, I got it :
The raster is south up and not north up.
From GDAL Info :
[code]

I can make another fix.

[2017-03-08 17:13] Gustry commented on #3980
@timlinux @Charlotte-Morgan Can you try on windows if you still have this issue ?

[2017-03-08 20:25] Gustry commented on #4026
You made a patch for :
* managing this upside down raster. I don't if it's very common to have this kind of raster and I should I dive deeper in the GIS analysis with this kind of use case.
* be able to skip the clip_raster_by_extent if the algorithm goes wrong. This step is only here to speedup the analysis. I don't stop the analysis if the algorithm goes wrong. The raster will be clip later when

[2017-03-08 20:44] Gustry commented on #3655
I fixed this issue in the PR above.

[2017-03-08 20:44] #3655 closed

[2017-03-08 20:58] #3972 closed

[2017-03-09 01:09] ismailsunni commented on #3538
Second point will be addressed in #4029
4th point will be addressed in #4015

I am closing this ticket then.

[2017-03-09 01:09] #3538 closed

[2017-03-09 06:00] Charlotte-Morgan opened #4039 "BUG: negative value in min needs report"

[2017-03-09 06:09] Charlotte-Morgan commented on #4026
hi @Gustry - this raster was produced by shake to grid converter. Can you please check the problem is not with the converter?

[2017-03-09 06:10] Charlotte-Morgan commented on #3980
I had this again on 4.0.0 yesterday - ie using master version

[2017-03-09 06:11] Charlotte-Morgan commented on #3971
can we confirm this is fixed and close the ticket please

[2017-03-09 06:24] Gustry commented on #3980
I meant on develop, if you pulled this morning. It will be in 4.0.1 if it's working

[2017-03-09 07:24] Gustry commented on #4026
Thanks Charlotte. I could fix the analysis to not raise an error.
@myarjunar is now looking with the shakemap converter. It seems we have a bug depending on south or north hemisphere.

[2017-03-09 07:26] Charlotte-Morgan opened #4040 "BUG: shakmap convertor"
when i used the shake map convertor it did not make version 4.0 ready key words.

I would expect key words are version compliant

[2017-03-09 07:32] Gustry commented on #4040
Yes, it's missing the multi-classification.

[2017-03-09 07:42] Gustry commented on #4039
@Charlotte-Morgan Can we have more inputs ? datasets, extent ...

I tried to replicate with Maumere tsunami raster on population raster :
![capture d ecran 2017-03-09 a 08 34 13](https://cloud.githubusercontent.com/assets/1609292/23740325/60f732da-04a3-11e7-8bf3-08cbf68f201b.png)

I tried with EQ raster on population raster too :
![capture d ecran 2017-03-09 a 08 37 29](https://cloud.githubusercon

[2017-03-09 08:02] Gustry commented on #4040
According to @timlinux we did that on purpose. We put some default placeholders, but we still want users to run the keyword wizard.

I agree that if the layer is not 4.0 ready, we shouldn't display the layer in the hazard combobox.

[2017-03-09 09:20] Charlotte-Morgan commented on #4039
hi @ivanbusthomi - can you please replicate?
use Sunda WorldPop 2015, Sunda Slab EQ
share the world pop if necessary, I already shared hazard data yesterday.
Thanks

[2017-03-09 09:42] Charlotte-Morgan commented on #4039
my negative is only in the general report not the detailed report

[2017-03-09 09:42] samnawi commented on #4039
Hi @Gustry I got the same problem with @Charlotte-Morgan when I doing analysis for whole area.
![image](https://cloud.githubusercontent.com/assets/8871958/23744566/4b225cca-04e7-11e7-91e7-1ed216d96d4b.png)

But, when I tried in the smaller area, the result is fine
![image](https://cloud.githubusercontent.com/assets/8871958/23744579/5a60ccc6-04e7-11e7-8893-f11da1687cd9.png)

[2017-03-09 09:45] ivanbusthomi commented on #4039
Hi @Gustry
I can replicate the problem. I already put the exposure data in `Real_world_data` BtSync, under `Sunda` folder

[2017-03-09 09:57] Gustry commented on #4039
Thanks, I will check

[2017-03-09 10:00] Charlotte-Morgan commented on #4026
hi @Gustry - I am getting this error again.
[code]

[2017-03-09 10:01] Charlotte-Morgan commented on #4026
This time I am using Raster EQ, Vector pop and vector aggregation with fields for ratios

[2017-03-09 10:02] Gustry commented on #4026
With develop again ?
Hum how is it possible :D

[2017-03-09 10:10] Charlotte-Morgan commented on #4026
ok - more clean code pulling - now its a type error :)

[2017-03-09 10:10] Charlotte-Morgan commented on #4026
[code]

[2017-03-09 12:09] lucernae commented on #3887
Thanks!
So, only the order for this.

[2017-03-09 12:26] Gustry commented on #3887
Yes, in the aggregation table, it could be nice ;-)

Note for my self : I didn't check if I could do it in the QGIS layer.

[2017-03-09 14:25] #3632 closed

[2017-03-09 14:50] lucernae commented on #3998
Nice!
<img width="566" alt="screen shot 2017-03-09 at 21 49 11" src="https://cloud.githubusercontent.com/assets/831865/23755263/4b6cd27a-0512-11e7-9407-eb153142b7cd.png">

[2017-03-09 15:43] Gustry commented on #4026
Ah ok, so no more invalid layer ?

I guess you are missing some parts of the log, you should have many sections : problems, suggestions, details and diagnostics. The type error is missing from the logs.

[2017-03-10 02:37] fredychandra commented on #3607
Hi All,
Based on my discussion with Widya. As she remembers, besides used Perka, AIFDR refer to UNICEF and ICRC (International Committee of Red Cross) as well. UNICEF is a leading sector from WASH sector and it has a supply catalog for disaster. I have checked it, however I couldn't find the standard number of hygiene packs for women in the catalogue.  Here is the link
https://supply.unicef.org/un

[2017-03-10 03:37] #4015 closed

[2017-03-10 06:08] lucernae commented on #3607
Just one more question. Does the global population used will be total population or affected population or displaced population?

[2017-03-10 07:09] fredychandra commented on #3607
Hi @lucernae

The ratio basically is from total population. But I think we still can use it for affected population. For example, if we have 1000 people affected.  So we can assume there will be 24 pregnant women and 26 women give breastfeeding on the affected population.

[2017-03-10 07:13] Charlotte-Morgan commented on #3607
@fredychandra has supplied rates. I think they should be used to calculate needs for the displaced population. ie the same as the min needs should be for displaced population

[2017-03-10 08:45] Gustry commented on #4039
I could replicate the issue. We need a big dataset for this one.

The number of displaced : 47 122 267
In the BNPB profile, we distribute 67 L of clean water for each displaced person :
67 * 47 122 267 = 3 157 191 916

There is somehow a maximum of the number. We use memory layer and geojson layer during the process.

Solutions :
* Switch to m³ in the profile, the easiest one for us.
* Switch auto

[2017-03-10 10:07] Gustry commented on #4026
You shouldn't get any problem with develop again.
But I would still appreciate if you can copy/paste your full logs with this analysis, even if the analysis can run without any problems.

[2017-03-10 11:07] myarjunar commented on #4040
@Gustry @Charlotte-Morgan I will create an option to launch the keyword wizard right after the shakemap converter finished just like what I did on multi-buffer tool. Is it ok?

[2017-03-10 11:08] NyakudyaA opened #4047 "Legend is not properly formatted on reports generated."
### Problem
When running IF on earthquake population on census the legend is not properly formatted and hence unreadable in reports. The report is A4-potrait

![fix_layout](https://cloud.githubusercontent.com/assets/2510900/23792915/93f92a0a-0591-11e7-9b14-4aeb51555561.PNG)

### Expected Behaviour
Generate reports with proper legends regardless of report format.

### Environment
* InaSAFE : dev
*

[2017-03-10 11:59] lucernae commented on #4047
Nice! Mas @ivanbusthomi , I think we should make some space for the landscape. Maybe it's caused by big affected numbers in the legend.

[2017-03-11 02:55] Charlotte-Morgan opened #4049 "BUG: Type Error"
[2017022205-6-rw-hazard.zip](https://github.com/inasafe/inasafe/files/835456/2017022205-6-rw-hazard.zip)
[Jkt_SubDistrictPopulation_aggregation.zip](https://github.com/inasafe/inasafe/files/835458/Jkt_SubDistrictPopulation_aggregation.zip)

### problem ###
type error - unable to run analysis

QGIS: 2.14.10
Windows
InaSAFE 4.0.0.dev-master

Data:
Jakarta flood polygons (from petajakarta downloader)

[2017-03-11 03:04] Charlotte-Morgan commented on #4049
Note: exposure and aggregation are the 'same data' with different key words. No attempt to analyse for age gender in this example - aim is to get count by hazard zone in a small area

[Jkt_SubDistrictPopulation_aggregation.zip](https://github.com/inasafe/inasafe/files/835459/Jkt_SubDistrictPopulation_aggregation.zip)
[Jkt_SubDistrictPopulation.zip](https://github.com/inasafe/inasafe/files/835460/J

[2017-03-11 03:06] Charlotte-Morgan commented on #4049
Replicated with another vector exposure data set
[DKI_Jakarta_Population_Dukcapil_2013_WGS84.zip](https://github.com/inasafe/inasafe/files/835464/DKI_Jakarta_Population_Dukcapil_2013_WGS84.zip)

[code]

[2017-03-11 08:05] Charlotte-Morgan opened #4050 "BUG: Min Needs Calculator"
### problem ###
the min needs calculator tool fails to run on the selected field if the same data are run twice.

Using BPS 2010 data for Jakarta subdistricts
run 1: used field pop_disabled as the IDP count - runs fine
run 2: used field pop_under5 as the IDP count - got the same results as the first run.

[Jkt_BPS2010_SubDistrict.zip](https://github.com/inasafe/inasafe/files/835607/Jkt_BPS2010_Sub

[2017-03-12 21:00] Gustry commented on #4050
For problem 2, you need to restart QGIS and it will take care about your new selected profile.

For problem 1, I agree we can't run twice the tool on the same layer, using the same minimum need profile. We need to work on that.
But I guess, we should be able to run minimum needs twice if we change the minimum need profile between (with a restart of QGIS). But items need to be different between the

[2017-03-13 06:56] #4049 closed

[2017-03-14 02:08] ivanbusthomi commented on #4047
Hi mas @lucernae and @NyakudyaA
I don't remember splitting it into three columns. I will check it quickly

[2017-03-14 06:46] timlinux commented on #4047
I still think we should not show mmi <= 5 and just put a small note saying they are excluded

[2017-03-14 07:57] lucernae commented on #4047
At the moment, legend is coming directly from QGIS Layer. So, if we want to change that, we have to decide does it affect qgis layer legend too.

[2017-03-16 01:05] Charlotte-Morgan commented on #4050
test comment to see if my email is working
@charlotte_morgan

[2017-03-16 01:10] ivanbusthomi commented on #4050
ping @Charlotte-Morgan

[2017-03-16 02:01] ivanbusthomi commented on #3960
This is a mock up that I proposed for separating the action checklist.
![image](https://cloud.githubusercontent.com/assets/7351977/23978454/a6daa65a-0a26-11e7-93cb-95a5544efacb.png)

The 5 sections are based on the Sphere Project minimum standard.

[2017-03-16 04:46] samnawi opened #4055 "Hazard Keyword from Peta Bencana Downloader"
### Problem
The hazard keyword for flood data that we download from petabencana.id set as Generic Class.
![image](https://cloud.githubusercontent.com/assets/8871958/23981960/dcb1b302-0a3c-11e7-8133-1c12b31c26a0.png)

Meanwhile, if we look at the flood classification in petabencana.id, similar with the classification in the flood classes at the keyword
![image](https://cloud.githubusercontent.com/a

[2017-03-16 08:45] Gustry commented on #4055
@myarjunar Can you have a look to this issue ? Thanks

[2017-03-17 01:06] myarjunar commented on #4055
closed in #4056

[2017-03-17 03:09] lrpower opened #4057 "Cyclone Hazard Keyword wizard"
### Problem

Specified units (m/s, kn etc) do not carry over to the Cyclone classification - the default is km/hr.

### Expected Behaviour

If i specify my data is in a unit other than km/h, the output will be in that unit (knots for example)

### Environment
* InaSAFE :
* QGIS : 2.14.4
* OS : windows
* Data used (filenames and paths so as to reproduce, a project is better):
  * Exposure : fake_bu

[2017-03-17 03:20] lrpower commented on #4057
In addition, can the Minimum values for SSHWS No Hurricane be set to comply with https://docs.google.com/spreadsheets/d/1FbR0HarQcNTsmyYzHnw-h54-MrPkXXoM5V4rlEu2DOw/edit#gid=1107146610
It is not zero.
This will need to be updated in the help as well

[2017-03-17 06:09] #4055 closed

[2017-03-17 06:32] lucernae opened #4058 "CSS Rules not properly applied"
### Problem

QGIS Composer in Windows not properly applied CSS Rules

### Expected Behaviour

It should apply CSS Rules correctly

### Environment
* InaSAFE : v4
* QGIS : 2.14 LTR
* OS : Windows
* Data used (filenames and paths so as to reproduce, a project is better): Any

### Proposed Solution

Investigate is this the problem in QGIS Composer or in the CSS itself.

[2017-03-17 06:35] lucernae commented on #4058
Both are from the same html. The right one did not use the font as the left one.
Note that I set the font to Webdings to demonstrate that both displayed differently, although both were specified to show Webdings font (Those weird text in the left side).
<img width="1215" alt="capture" src="https://cloud.githubusercontent.com/assets/831865/24031638/4c85a240-0b16-11e7-8fea-7324e021214b.PNG">

[2017-03-17 06:49] Charlotte-Morgan commented on #3132
can we please get an update on this?  Minions are reporting that they are not able to share training data yet

[2017-03-19 03:29] marawiti commented on #2992
Tanks so much
On 6 Mar 2017 11:39, "Etienne Trimaille" <notifications@github.com> wrote:

[2017-03-20 02:22] felix-yew commented on #3132
Hi, @gubuntu - I try to login into GeoNode InaSAFE but always failed.
![image](https://cloud.githubusercontent.com/assets/13621886/24087199/9417feca-0d4e-11e7-9f87-6ab21a79eb04.png)

Can you help me? Because, I want to try upload some data with InaSAFE v.4 keyword.

[2017-03-20 08:13] gubuntu commented on #3132
It looks like this was redeployed in the period since I last worked on it and there are now only two users: admin and Adi (Kurniawan). I do not have an account on it any longer so I assume Adi is admin? Please ask him to add you and me as users. Who is going to be admin from now on?

Do you know if training data had ever been uploaded before? (i.e. does a backup need to be restored?)

@hvisage are

[2017-03-20 09:17] Gustry commented on #4057
Hi @lrpower,
* I made a PR to fix the SSHWS classification:
![capture d ecran 2017-03-20 a 10 09 13](https://cloud.githubusercontent.com/assets/1609292/24093677/514ef038-0d55-11e7-9d19-d63e2356aca4.png)

I'm not sure if I should include the minimum value for the "No hurricane" class. It will fall in "not exposed" if we don't put 0 km/h.

* About your issue with the unit, yes it's carried to the ha