[2015-10-01 14:36] timlinux opened #2425 "Volcano IF summary needs to show results with units"
![screenshot from 2015-10-01 16-34-42](https://cloud.githubusercontent.com/assets/178003/10223653/720fa610-685a-11e5-8f96-c386fa201ea7.png)

So better to have 3km, 5km, 10km in that table

[2015-10-01 14:38] timlinux opened #2426 "There is too much duplication of code in notes and actions"
Whilst reviewing all the IF's for #2409, I found that the actions and notes contain a lot of duplicate code.

Please look at moving the terms to definitions.py or similar and generally moving duplicated notes items into a central place then just importing them into each module that needs them.

[2015-10-01 16:02] ismailsunni commented on #2419
It seems @timlinux will know better than me. So, I will pass it to him :). It can be related with analysis extent or interpolation

[2015-10-02 04:58] #2420 closed

[2015-10-03 07:36] Charlotte-Morgan opened #2429 "BUG: Python error when running EQ IF on population"
# problem
when running padang earthquake on population, I got a warning about lack of memory.
I clicked ok, ok OK! (it asked 3 times) and then got this python error

BTW - the python error has a typo too :)

[code]

# proposed solution
make it happy

[2015-10-03 07:39] Charlotte-Morgan commented on #2414
@borysiasty the keywork for any analysis output layer should be impact summary.
This aligns with our terminology in training materials.

[2015-10-03 07:41] Charlotte-Morgan commented on #2366
@iyan31 @adissadis - please advise if you use these data; if not i can remove them

[2015-10-03 12:15] kant commented on #2407
There is a little difference. Look at "is greater then" and my proposal: "is greathen than"

[2015-10-03 13:53] ismailsunni opened #2430 "Minor Tweaks for Reporting"
Problem
-----------
From @Charlotte-Morgan's comment in https://github.com/AIFDR/inasafe/pull/2415#issuecomment-145211543
Minor tweaks - if you still have enthusiasm for such things:
- [ ] Flood impact is the only one that quotes values in action list - if its not easy to get the correct value, would it be possible to remove them instead?
- [ ] Population impact notes: I do not think we need the "

[2015-10-04 07:52] #2414 closed

[2015-10-04 16:24] enockseth opened #2435 "Python error when starting QGIS"
`Couldn't load plugin inasafe due to an error when calling its classFactory() method`

[code]

[2015-10-05 01:49] ismailsunni commented on #2435
Hi @enockseth
Did you use InaSAFE from QGIS plugin repository or from github?

What's version of your OS?

Have your tried to disable the plugin, restart QGIS, and enable the plugin again?

Thanks

[2015-10-05 03:31] samnawi commented on #2429
This morning, I've tried to run this analysis, and the result is fine.
![selection_244](https://cloud.githubusercontent.com/assets/8871958/10272578/1971dd94-6b4c-11e5-958b-13aa32e97df6.png)

# PC Platform
Ubuntu 14.04
QGIS 2.8.3
InaSAFE 3.2.0dev-e312429

[2015-10-05 04:07] samnawi opened #2438 "BUG : wrong place / location in InaSAFE real time"
# Problem
I found some wrong place in the InaSAFE realtime earthquake.

# Detail
Like in the example
1.The epicentrum in Bantul, but the location that shown in the table is in Semarang.
![selection_245](https://cloud.githubusercontent.com/assets/8871958/10272668/a8b0fcaa-6b4d-11e5-9806-4d5e635fba48.png)

2.The earthquake is occured in near of Biak, but the table shown that the location is in Manok

[2015-10-05 07:55] timlinux commented on #2435
Also it would be good to establish if ``c:\\users\\seth\\appdata\\local\\temp\\`` exists and if you have write permissions to it.

[2015-10-05 21:21] enockseth commented on #2435
HI @ismailsunn thanks for your comment and @timlinux thanks for the clue. The problem was `c:\\users\\seth\\appdata\\local\\temp\\` being corrupted.
First time trying InaSAFE on Windows and troubles ;).

I fixed issue by creating a new user account which has the required directory as I have no way of recovering current corrupted one.

Best.

[2015-10-05 21:21] #2435 closed

[2015-10-06 03:38] #2407 closed

[2015-10-07 10:51] lucernae commented on #2438
@samnawi After tracing the code, yes it apparently Akbar made specifically that it will shows the most impacted cities like you said.
So, are we going to change this behaviour to show the location BMKG put in grid.xml?
Need confirmation first @timlinux @Charlotte-Morgan

[2015-10-07 19:33] Charlotte-Morgan commented on #2438
Hi all.
Iwan. Thanks for spotting this and your recommendation. Can you please confirm with BNPB (maybe Ibu Dian or Pak Agus) that your recommendation meets their requirements.
+1 to make it relevant to users.
Regards
Charlotte

Charlotte Morgan
Spatial Data Analyst
DMInnovation - Jakarta
GEOSCIENCE AUSTRALIA

Mobile: +62 811 820 4648

On 7 Oct 2015, at 9:51 pm, Rizky Maulana Nugraha <notification

[2015-10-08 08:19] samnawi commented on #2438
@Charlotte-Morgan I've confirm with Ibu Dian, and she agreed about it. She says that the location should refers to BMKG release, because the EQ information is come from BMKG also.

[2015-10-13 02:52] ismailsunni commented on #1405
Done in parameter repository and have been used in some parts of inasafe. Closing this.

[2015-10-13 02:52] #1405 closed

[2015-10-21 06:50] timlinux opened #2446 "We should provide an alternative for OSM backdrop support in QGIS"
# Problem

Currently many users are using the 'open layers' plugin to add google and other tile set backdrops to their maps. They however always encounter issues with printing when using this plugin because of the asynchronous way in which it renders via webkit.

Whilst supporting a user in Malawi, I created a GDAL wrapper around OSM which I think alleviates the printing issue allowing large forma

[2015-10-22 08:21] lucernae opened #2448 "InaSAFE interoperability with other system"
Currently we should support these system: petajakarta.org, JakSAFE, and InaWARE. We should find out first what part of the system that can be enhanced by and to InaSAFE.

# InaWARE

[ ] - Add functionality to export impact layer to InaWARE from inasafe-django realtime web. Perhaps add an export button
[ ] - Get a test account to view InaWARE functionality and testing purposes

# PetaJakarta

[ ] -

[2015-10-22 08:37] borysiasty opened #2449 "Wizard code cleanup"
- [x] Refactor into small modular architecture: one class per wizard tab.
- [x] We need to have an easy way to add new IF types e.g. @Samweli 's code does not 'just work' when he added his IF
- [x] Address fragility of tests

[2015-10-22 09:46] timlinux commented on #2419
Probably something that will be fixed by switching to pixel lookups rather than interpolation...

[2015-10-22 09:47] timlinux commented on #2354
Can we close this?

[2015-10-22 09:51] timlinux commented on #1797
Maybe this is already taken care of with the SafeLayer class we added-  @ismailsunni to check

[2015-10-22 09:54] timlinux commented on #1624
Note that the single event / mulitple events were removed in the IF centric wizard.

We need to work through this and see what still needs to be done - some parts of this data model are already supported so we need to check what the next actions are...

[2015-10-22 09:55] #1241 closed

[2015-10-22 09:57] timlinux commented on #1218
I will review this and see what we still need to do...

[2015-10-22 09:59] timlinux commented on #1216
In experimental from @wonder_sk - needs more review - possibly we can merge this to develop for 3.3?

[2015-10-22 10:00] timlinux commented on #1869
Maybe I will try to skype @vanpuk and see if I can get this info from her so that we can close this ticket....

[2015-10-22 10:05] timlinux commented on #210
I wonder if simply having better progress reporting and the ability to kill analysis is a nicer way.  There are caveats with approach suggested in that measuring the job size will probably take as long as doing the job - and the job with size detection will take longer than the job without. See also #727 where we recommend progress callbacks.  I'm going to close this out in favour of callbacks.

[2015-10-22 10:07] ismailsunni commented on #129
We agree to put it in the backlog as this ticket has low priority

[2015-10-26 10:07] ismailsunni commented on #1797
We somewhat have "covered" this in SafeLayer class.

In current version, all IF receive SafeLayer as input. When we want to use IF, we set the hazard, exposure, and aggregation attributes. This is where the conversion happened (in base class of IF)

All IFs accept all types of layer (SafeLayer, Layer, QgsMapLayer), then convert it to SafeLayer with match data type in layer attribute.

We don't hav

[2015-10-26 10:07] #1797 closed

[2015-10-28 23:42] severinmenard opened #2453 "Python bug when creating keywords for hazard layers"
Got this Python error after clicking on next at the Flood or Generic classes step (see below) for a polygon flood layer. The layer does not have a field with classes, only one with the same values for all the objects. I have other hazard layers with the same kind of attributes but I managed to achieve the keywords wizard

![selection_033](https://cloud.githubusercontent.com/assets/1291055/10806427

[2015-11-02 18:48] severinmenard commented on #2453
I tested it yesterday on another computer and same 3.2.1 version and got the same blocking issue.  But just got the answer when changing the language: it comes from the (my) French translation. I guess something that is a value has been translated. Could you please tell me what it is so that I clean it in Transifex?
Beyond this specific issue, would be good for the translators to have a way to kno

[2015-11-02 19:32] severinmenard commented on #1757
Basically a translation shows up only when a new version of the plugin is published, so it can take sometimes a few weeks after you translated a lot of text to get the results in the UI. Would it be possible to include significant improvements in translations as valuable reasons to recompile the plugin? If yes, what would be the best way to request it? Through an issue does not seem to be really s

[2015-11-02 22:03] akbargumbira commented on #1757
Hi Severin,

I think it's better for you to run the development plugin from the source.
You can ask the developers (cc Ismail) to guide you on that. They probably
pull and push the translations regularly, not just before the new version
gets published.

On Mon, Nov 2, 2015 at 8:32 PM, severinmenard <notifications@github.com>
wrote:

--

*-------------------*

*Akbar Gumbira*
*Software Engineer*
*G

[2015-11-02 22:52] lucernae commented on #1757
Hi Severin,

@severinmenard we usually update translated text in the UI before plugin release because it is often that the text changes significantly during development phase. We generally don't want to translate while the text maybe changing multiple times. We usually declare a "string-freeze" period before release where we make sure no new text will be added to the code while we translate them (

[2015-11-03 04:29] ismailsunni commented on #1757
Hi Severin

My answer, Yes, if it's really significant. We can release it as revision release (for example, 3.2.1 to 3.2.2). We can release this version without the bureaucracy approval (if @Charlotte-Morgan said ok, we can release it).
How? If you find that significant translation, just open an issue and tell where's problem, and the fixed (usually in transifex). After that, I will pull the trans

[2015-11-04 07:15] ismailsunni commented on #2453
hi @severinmenard

We just register a string that needs to be translated, so all strings in transifex should be safe to be translated.

I need to check it, I will come back to you if I have found something. It should affect the other languages also. Perhaps, there is a string that is "accidentally" registered.

Thanks, really help.

[2015-11-04 11:40] samnawi opened #2455 "We should provide the hazard classification in the aggregation report"
I and @fredychandra still doing facility in sub-national level to create the Risk Assessment document. This document is one of mandate from DM Regulation in Indonesia (UU No. 24/2007).
We implement InaSAFE in this process, to get the valuation of each disaster risk.

We found some lack in the report, when we use InaSAFE in this activity.
When we use aggregate, apparently the hazard classification

[2015-11-04 11:50] Charlotte-Morgan commented on #2455
Hi Iwan

What IF are you using. Is it the generic IF?

Charlotte Morgan
Spatial Data Analyst
DMInnovation - Jakarta
GEOSCIENCE AUSTRALIA

Mobile: +62 811 820 4648

On 4 Nov 2015, at 6:40 pm, Adi Kurniawan <notifications@github.com<mailto:notifications@github.com>> wrote:

I and @fredychandra<https://github.com/fredychandra> still doing facility in sub-national level to create the Risk Assessment d

[2015-11-05 04:46] ismailsunni commented on #2453
Hi @severinmenard
I have found the culprit.
This string:
[code]

is translated with double `%s`.

No worries, I have fixed it in transifex. It will be solved when we merged my translations PR.

Thanks :)

[2015-11-05 13:49] severinmenard commented on #2453
Sorry for the typo, and thanks for the fix

On Thu, Nov 5, 2015 at 4:46 AM, Ismail Sunni <notifications@github.com>
wrote:

[2015-11-09 08:41] Charlotte-Morgan commented on #2366
@iyan31 @adissadis - grateful for your input please

[2015-11-09 08:47] Charlotte-Morgan commented on #2448
i think we also need an export to InAWARE button from desktop as this is where the impact analysis and impact layers will be generated for other analyses ie buildings affected

[2015-11-09 09:08] adissadis commented on #2366
@Charlotte-Morgan Hi Charlotte,i prefer to update this data because if there any people who want to try InaSAFE with other scenario, they can download from here. And I will discuss with @samnawi  more about this issue.

[2015-11-10 02:46] Charlotte-Morgan commented on #1869
Update: we need this info to support the new real-time flood work for this season in Jakarta. I sent an email to the likely experts - fingers crossed someone can shed some light on this soon.

[2015-11-10 08:01] mbernasocchi commented on #1869
@Charlotte-Morgan the age structure is documented here: https://github.com/AIFDR/inasafe/blob/develop/safe/defaults.py#L54

[2015-11-10 08:43] Charlotte-Morgan commented on #1869
Hey @mbernasocci thanks for the link. We have the source of the age structure covered, its just the 1% evacuation threshold we are chasing now.

[2015-11-10 09:43] mbernasocchi commented on #1869
mmm can you point me to the usage? Doesn't ring any bells in my head

[2015-11-10 09:49] Charlotte-Morgan commented on #1869
1% evacuation threshold is used for flood impact on population where flood is vector data. The default value is 1% but users can change this threshold.  This value is used to then calculate the minimum needs.  We are trying to understand the basis for the 1% default.

[2015-11-10 09:52] mbernasocchi commented on #1869
@ismailsunni added this:
https://github.com/AIFDR/inasafe/commit/3c8aecd0edf6c79f69ae3d5ce5683b91a691ea17

[2015-11-10 11:20] vanpuk commented on #1869
Hi All,
Apologies for coming late to this discussion. Yes there was a reason we picked 1% but its not a very good one. Basically we were trying to match the evacuation numbers of the 2013 floods using the 2013 flooded RW boundaries.  What we found was mathematically only 1% of the "affected population" were evacuated. Using the maps that Emir produced in that first year of floods.  I could try and

[2015-11-10 14:03] Charlotte-Morgan commented on #1869
Thanks Kristy, that would be great if you can. Emir is visiting this week, I might ask him too.

Charlotte Morgan
Spatial Data Analyst
DMInnovation - Jakarta
GEOSCIENCE AUSTRALIA

Mobile: +62 811 820 4648

On 10 Nov 2015, at 6:20 pm, Kristy Van Putten <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi All,
Apologies for coming late to this discussion. Yes there was a reason we

[2015-11-11 00:56] ismailsunni commented on #1869
Hi @mbernasocchi

That's me, but it's not the origin of it. We made a big refactor on InaSAFE, so may be the history is re-written. The commit is submitted on 27 Jan 2015. Meanwhile, the 1% has been already in InaSAFE since 2012 or 2013.

Hi @vanpuk
Long time no see.
It rings a bell. I think that's the reason why we choose 1%.

[2015-11-11 06:05] ismailsunni commented on #2453
I will close this since it have been fixed in version 3.2.2

[2015-11-11 08:17] ismailsunni commented on #2406
Will close this, been done in 3.2.2

[2015-11-11 08:17] #2406 closed

[2015-11-11 09:26] Charlotte-Morgan opened #2460 "Web site - update please"

[2015-11-16 12:01] #2446 closed

[2015-11-16 21:45] timlinux commented on #2460
@MariaSolovyeva could you look into this for us please? For now at least a manual update would be good. @Charlotte-Morgan perhaps we can embed the github release page into the InaSAFE page?

[2015-11-16 21:48] timlinux commented on #2455
@samnawi what do you think about the removal of the school etc. classes - should we simply remove them?

[2015-11-16 22:04] timlinux commented on #2449
@borysiasty could you make some time in the next 2 weeks to look at this please?

[2015-11-16 22:06] timlinux commented on #2438
@lucernae will you follow up on this? Thanks

[2015-11-16 22:09] timlinux opened #2463 "We need to support file geodatabase if possible"
I had a query from Rick Murnane who is looking at floods in Mozambique. The flood data he has is in a file geodatabase and currently it is not possible to register keywords against that. It *should* work via the SQLite mechanism - we need to investigate further.

I have a sample dataset we can use for reference.

[2015-11-16 22:11] timlinux opened #2464 "We should make the polygon flood on buildings IF support point buildings too"
Currently you can't do polygon flood impact on buildings even though the logic is basically the same as polygon flood on polygon buildings. We should update the safe/impact_functions/inundation/flood_vector_building_impact/impact_function.py to support point datasets too.

[2015-11-17 19:44] borysiasty commented on #2449
Ok!

Where can I find more details about problems with @Samweli 's code? Is it just the need to update tests in PR #2442 or doesn't it work at all?

[2015-11-17 19:44] borysiasty commented on #2449
Ok @timlinux !

Where can I find more details about problems with @Samweli 's code? Is it just the need to update tests in PR #2442 or doesn't it work at all?

[2015-11-18 04:15] ismailsunni commented on #2449
hi @borysiasty @timlinux
I checked in @Samweli 's PR, all is good. It's working in wizard also.

We only need to add an image/icon for the new exposure type:
![area icon](https://cloud.githubusercontent.com/assets/1421861/11232423/9cca230c-8de5-11e5-8242-44378a3aa782.png)

[2015-11-18 04:32] adissadis commented on #2366
@Charlotte-Morgan after i discussed with @samnawi i think its better to keep those data. Because it might be useful for people who want to learn about other sample data. Also the keyword data is no need to be updated because we don't need to give them data that ready-to-run so people can learn again how to make those data run in InaSAFE.

What i purpose is manage the folder, so it might be somethi

[2015-11-18 05:56] Charlotte-Morgan commented on #2366
Hi @adissadis - i am happy to keep the data and thank you for the feedback on the folder structure.
Now that we have the website we might not share all resources in the same way, similarly we hope to move the data to the GeoNode one day.

Specifically on the Other Scenario Data
Would you like to update the file names to match the naming convention we use with training data and also prepare metadat

[2015-11-18 08:45] #2464 closed

[2015-11-19 10:02] adissadis opened #2467 "Crash Minidump when try to use InaSAFE keyword editor twice"
# Problem
My qgis crashed when i try to use InaSAFE keyword editor twice

# Description
I use several data from field survey for InaSAFE analysis and when i want to define the keyword for each data, my qgis crashed when i want to define keyword in second time.

# Platform
InaSAFE 3.2.3 from QGIS repository
Windows 7
QGIS 2.8

# Data used
1. ancaman_banjir (flood hazard)
2. marunda_inasafe (exposur

[2015-11-19 10:19] adissadis opened #2468 "[Bug] Building type not appear in InaSAFE result"
# Problem
My InaSAFE result didn't provide detailed building type eventhough i already select attribute that have building type inside it

# Description
I have several data from field survey. I already define all the data using keyword editor (you need to open qgis several time because it will crashed when you tried to define the second time - issue #2467 ).

For exposure data, i set 'amenity or t

[2015-11-19 10:35] Charlotte-Morgan opened #2469 "RFC: do we need an OSM downloader query specifically for Jakarta Flood data"
# Problem
There are some great flood related data in OSM we should make it easy for people to use

# Proposed solution
I propose that we create some specific OSM downloader queries to download flood hazard data and evacuation centers for Jakarta.  These data can then be used as 'real world' data to test flood evacuation functions and to build smarter flood impact functions.

* Evacuation Centers.

[2015-11-19 10:40] samnawi commented on #2455
@Charlotte-Morgan no, it's not only occured in generic IF, but also for specific IF like flood, volcano, EQ.
@timlinux I think we still need for the information that you mean, but maybe we can add one table again to give the breakdown information for the number of exposures based on the hazard classification in each area like in this picture
![image](https://cloud.githubusercontent.com/assets/8871

[2015-11-20 04:17] samnawi commented on #2468
I think it similar with issue #2089

[2015-11-23 07:45] timlinux opened #2471 "We need a way to quickly add PetaJakarta flood data to InaSAFE"
# Problem

Being able to easily add data from PetaJakarta during flood season would be very useful for making ad hoc, current flood impact reports. PetaJakarta have now added a new call on their API that provides aggregates on boundaries at RW, Village and district level in 1, 3 and 6 hour intervals.

This data can easily be added to QGIS using ``Layer -> Add vector layer -> Protocol`` and using a

[2015-11-23 07:46] timlinux commented on #2469
@Charlotte-Morgan can you put the raw overpass queries in here as text too please?

[2015-11-23 10:01] Samweli commented on #2449
hi @ismailsunni, i have added an icon for area, you can find it here https://thenounproject.com/term/inland/8685/

[2015-11-23 10:14] ismailsunni commented on #2449
Hi @Samweli
Thanks. Actually, if you have already the icon for area, you can add it to InaSAFE by yourself in your PR. You only need to put it under `resources/img/wizard/` and give a proper name. It should be something like `keyword-subcategory-area.svg

[2015-11-23 10:17] Samweli commented on #2449
Ok, thanks @ismailsunni , i have already done that, here https://github.com/Samweli/inasafe/blob/develop/resources/img/wizard/keyword-subcategory-area.svg

[2015-11-24 07:13] timlinux opened #2473 "RFC: A better approach to clipping, aggregation and post-processing"
# Status

This RFC is in draft
# Problem

Right now there are a number of problems with our current architecture:
- Clipping of datasets happens externally to the impact function, meaning that client classes need to 'know' too much about how to prepare data for impact functions.
- We have dual concepts of **analysis area** and **aggregation area** which may be in conflict. For example when the ana

[2015-11-24 15:49] severinmenard commented on #2453
Hello,

Actually the bug is still present in the French version with the new v3.2.3.
Is it something that could be fixed quicly and lead to a rebuild of v3.2.3?
What would mean, I guess, the user would have to desinstall then reinstal
v3.2.3?

On Wed, Nov 11, 2015 at 6:05 AM, Ismail Sunni <notifications@github.com>
wrote:

[2015-11-24 15:53] vdeparday opened #2474 "Create offline installer for InaSAFE"
It would be great to create an offline installer for InaSAFE. Most workshops we have done don't have the Internet capacity to enable 20 to 30 people to download InaSAFE then we resort to the manual install. However, for newcomers it is sometimes hard to do as the folder is different on all computers (you have to rename the folder to inasafe, etc...) so we often have to do every computer one by one

[2015-11-24 20:10] timlinux commented on #2474
Hmm Interesting @vdeparday ...I think we could come up with something - just for windows right? And was your thinking to bundle just the plugin in the installer of a full QGIS + data + plugin?

I normally just take a zip file of the plugin with me and pass it around on a memory stick for those that can't access the internet.

[2015-11-24 20:15] vdeparday commented on #2474
I meant only the plugin. Windows only would be fine. Yes, we do that too, but since the users folder is different for everyone and also different depending on the laptop brand, it can get quite confusing for users and if you have a large room, you can easily loose 30min or more very quickly. And also, it gives the wrong feeling across that this is hard to install.

[2015-11-24 22:10] emirhartato commented on #2474
+1 for @vdeparday idea. Windows version is enough as most people uses Windows in the workshop.

[2015-11-25 01:44] Charlotte-Morgan commented on #2469
I hope this is what you want

evacuation_center=yes
``
/*
This has been generated by the overpass-turbo wizard.
The original search was:
“evacuation_center=yes”
*/
[out:json][timeout:25];
// gather results
(
  // query part for: “evacuation_center=yes”
  node["evacuation_center"="yes"]({{bbox}});
  way["evacuation_center"="yes"]({{bbox}});
  relation["evacuation_center"="yes"]({{bbox}});
);
// pri

[2015-11-25 04:04] ismailsunni commented on #2453
Hmm, this is strange. I get the same error again now. I am pretty sure I fix the problem before it's released.

I have updated the string that caused the problem: https://www.transifex.com/aifdr/inasafe-apps/translate/#fr/safe/59829406 *you need to login to see this though. See my comment above (https://github.com/inasafe/inasafe/issues/2453#issuecomment-153955383) about the problem.

Anyway, I ha

[2015-11-25 06:52] timlinux commented on #2474
@vdeparday OK its clear thanks - and thanks @emirhartato for your input. I think the simplest might be to make an NSIS installer automatically whenever I run make release and then we post it on the InaSAFE.org web site together with the release.

[2015-11-25 06:55] timlinux commented on #2469
Thanks @Charlotte-Morgan - @Gustry this will be a great first task for you when you start work on the 1st!

[2015-11-25 07:04] timlinux opened #2475 "Polygon flood on buildings fails if hazard and exposure are in different CRS"
We have an issue reported byRick working in Moçambique where his flood analysis fails. I inspected the data and the issue seems to be caused by the fact that his building points are in UTM while his flood data is in EPSG:4326.

# Proposed solution:

Visit every vector on vector IF and transform the geometry of the exposure whenever any intersection is done.

[2015-11-25 07:52] lucernae opened #2476 "Realtime for flood"
Create code for flood realtime processor.
(Spec may change)
# Specification
- [x] Get flood hazard from PetaJakarta (API may change)
- [x] Convert hazard data to InaSAFE Hazard from PetaJakarta
- [x] Get population data for Jakarta and assign keywords (Population data may change)
- [x] Process impact report/layer
- [x] Generate PDF Report and Map (Indonesian, and English)
- [x] Send impact layer t

[2015-11-26 10:00] ismailsunni opened #2481 "Update Internationalisation Wiki Page"
Tasks:
- [x] Create translation branch in InaSAFE repository (based on master)
- [x] Update Internationalisation workflow, see this flow https://files.gitter.im/inasafe/inasafe/A8Up/Screen-Shot-2015-11-26-at-10.42.10.png

[2015-11-27 09:32] Charlotte-Morgan commented on #1428
According to advice from Pak Hamza.
He has offered the following thresholds for tsunami impact on buildings based on the tsunami intensity scale published by Papadopoulos and Imamura (2001)
low hazard zone < 1m
moderate hazard zone 1 - 3m
high hazard zone 3 - 8m
very high hazard zone > 8m

Published tsunami intensity scale available here http://geology.about.com/od/tsunamis/a/Tsunami-Intensity-Sca

[2015-11-27 09:37] Charlotte-Morgan commented on #1251
The following hazard classes are used by Badan Geology on published tsunami hazard maps and quoted in BNPB PERKA 2/2012.

Low hazard zone < 1m
Moderate hazard zone 1-3m
High hazard zone > 3m

The following descriptions for these classes are provided in Indonesian and English by Badan Geologi. These description are the same as those on published hazard maps.

This information was provided by Afif

[2015-11-27 09:40] Charlotte-Morgan commented on #1252
Hi @samnawi
handing this over to you.
Please update our 'standard' display of tsunami hazard data to match the classes used by BG and quoted in PERKA 2/2012.

Low hazard zone < 1m
Moderate hazard zone 1-3m
High hazard zone > 3m

It would be great to have this done for 3.3 release and any training there after.

[2015-11-27 09:43] Charlotte-Morgan commented on #1251
action - @me to update metadata.py and @ismailsunni to grab the details for translation

[2015-11-27 09:48] Charlotte-Morgan commented on #1427
i do not have any specific advice on this.
May i suggest we use the same as impact on buildings #1428 until we are advised of something better

[2015-11-27 09:50] Charlotte-Morgan commented on #1237
see #1428

[2015-11-27 09:53] Charlotte-Morgan commented on #1160
Hi @vdeparday
I'm trolling through all things tsunami. Is this ticket still current?

[2015-11-27 09:59] Charlotte-Morgan commented on #502
Hi everyone,
I think we have made lots of progress on this.
The current thinking is that we have separate IF for flood and tsunami; with different thresholds depending on the hazard and exposure.
see #1427 #1428 #1251 and #1252.
Regarding terminology; as from version 3.2 we used flooded for floods and inundated for tsunami.

Unless there is anything else not covered by these tickets - i'm closing

[2015-11-27 09:59] #502 closed

[2015-11-27 10:01] Charlotte-Morgan commented on #2094
behaviour should change as per new default thresholds proposed  for people, buildings and roads

[2015-11-30 04:51] #2475 closed

[2015-11-30 05:15] ismailsunni opened #2485 "Extra Keywords Step is Missing in Wizard"
Problem
-----------

Previously, we have this extra keyword step in wizard for example set the name attribute in volcano IF. I found that this step is missing when I want to check @Samweli 's PR #2442. We need to take it back since it's an important thing for the wizard.

For bug reproduction, just use wizard with any volcano IF. It will not ask you about the extra keywords.

cc @borysiasty @timli

[2015-11-30 09:19] ismailsunni commented on #2485
This is invalid. The additional keywords step indeed not showing up in IFCW, since it shows up in keywords wizard.

Have a good day :D

[2015-11-30 09:19] #2485 closed

[2015-11-30 09:29] borysiasty commented on #2485
Exactly, just started writing the same :)

[2015-11-30 09:37] Charlotte-Morgan commented on #2485
yay - everything is working well

[2015-11-30 23:18] borysiasty commented on #2347
@Charlotte-Morgan:

Done (still as pull request #2487). So now it works like that:

If you register the keywords and they match the function constraints, the next step is displayed (as requested).

If you register the keywords and they don't match the function constraints (it can be wrong purpose, but also just wrong mode or classification), this warning is displayed at the end of the keywords reg

[2015-12-01 01:41] Charlotte-Morgan opened #2488 "We need to calculate the evacuation % for Jakarta Floods"

[2015-12-01 02:00] Charlotte-Morgan commented on #2473
Hi Tim,

Lets get lots of thinking and input on this one. I've picked a shortlist of likely contributors. I hope I have missed some people.
# CC
@charlotte-morgan @samnawi @vdepardy @maning @assefay

[2015-12-01 03:05] adissadis commented on #2467
cc: @timlinux

[2015-12-01 10:09] timlinux opened #2490 "We need to move clipping into the Impact Function base class"

[2015-12-02 10:08] Charlotte-Morgan opened #2491 "Realtime for volcanic ash"
# Background

Geoscience Australia has been working technical agencies in Indonesia to develop a volcanic ash modelling capability. After being shown InaSAFE, the volcanic ash modelers are keen to find ways to share information with DM and communities and to share hazard data for situational awareness during a volcanic eruption.

InaSAFE version 3.4 will include a new IF for ash on land cover.
the

[2015-12-02 10:27] #2347 closed

[2015-12-02 10:27] #2422 closed

[2015-12-03 02:30] timlinux commented on #2491
@Charlotte-Morgan thanks for making a report mockup - that is very useful. We will stand by for further details on requirements from your volcano colleagues.

[2015-12-03 03:27] timlinux opened #2494 "Wizard tests failing"
Hi @borysiasty

Although the wizard test passed with your last merge, I regularly get these when testing on my local machine (against current develop fd68360a84eb160f58027bc3bfe593feeacef39c):

[code]

and

[code]

I wanted to do some cleanups to the code here #2492 but I can't integrate them because of these failing tests. Since the tests also fail against current develop I think the failure is n

[2015-12-03 03:38] lucernae opened #2495 "Checklist for Flood Realtime v1"
To Do List for Flood Realtime
- [x] Raster Exposure Population of Jakarta (Jakarta Clipped from World Population) @samnawi  (#2497)
- [x] Vector Exposure Population of Jakarta @samnawi
- [x] QGIS Map Template of Jakarta for Map PDF @samnawi
- [x] Investigate PetaJakarta API v2 @lucernae
- [ ] Find Out how to link Report, push shake map to PDC InaWARE @lucernae
- [ ] Code for InaSAFE Flood Realtime

[2015-12-03 04:20] lucernae opened #2497 "Prepare Raster Exposure Population of Jakarta (Jakarta Clipped from World Population)"
Right now, I'm using Population Raster from Realtime Shake and clipped it with Jakarta's boundary.

@Charlotte-Morgan @samnawi just inform me if you want to update/check/change the layer

<img width="666" alt="screen shot 2015-12-03 at 11 17 55" src="https://cloud.githubusercontent.com/assets/831865/11551828/9c8d4402-99af-11e5-9b89-cc50b9283e3c.png">

[2015-12-03 09:58] timlinux commented on #2494
Please see https://travis-ci.org/inasafe/inasafe/builds/94575704 for an example

[2015-12-03 21:18] Gustry commented on #667
Instead of using [QNetworkAccessManager](https://github.com/inasafe/inasafe/blob/develop/safe/utilities/osm_downloader.py#L25), perhaps we should use [QgsNetworkAccessManager](http://qgis.org/api/classQgsNetworkAccessManager.html) ?

[2015-12-04 02:03] ismailsunni opened #2499 "Use Date Picker in Keywords Wizard"
Problem
-----------
In the next version of metadata keyword that use ISO 19115, we will store the date or datetime as python datetime object. So, instead ask the user to input the date in plain string, it would be better to use date picker.
And when the new metadata keywords is ready, we will store it as a datetime object.

[2015-12-04 03:42] fredychandra commented on #2491
HI @Charlotte-Morgan
I think It will be nice if we can also adding how many crops and settlements area will be covered by ash potentially in that report.

[2015-12-04 09:02] Gustry commented on #2469
There are two PR :
* inasafe : https://github.com/inasafe/inasafe/pull/2501
* osm-reporter : https://github.com/kartoza/osm-reporter/pull/66

[2015-12-04 09:59] borysiasty commented on #2494
Ok, I'll look at it on Sunday!

[2015-12-04 13:10] Gustry opened #2504 "to_html() got an unexpected keyword argument 'wrap_slash'"
When I add a layer, I often got this error message :
![layer](https://cloud.githubusercontent.com/assets/1609292/11590434/8cee140e-9a90-11e5-9463-f832e7679bc0.png)

* QGIS 2.12
* InaSAFE develop

[2015-12-05 05:19] timlinux commented on #2504
Can you replicate this on a clean start of QGIS?

[2015-12-05 05:21] timlinux commented on #2494
@borysiasty thanks man - its the highest priority because all of the subsequent PR's to develop are failing

[2015-12-05 07:07] timlinux commented on #2474
Ok this is done - see https://github.com/inasafe/inasafe/releases/tag/version-3_2_4 (where you can download the installer) and https://github.com/inasafe/inasafe/pull/2505 for the changes related to this.

[2015-12-05 07:07] #2474 closed

[2015-12-06 22:17] borysiasty commented on #2504
To replicate, please open the volcano_krb.shp test layer. While opening, it fails to display the layer metadata in the dock (for the same result the wizard test #2494 fails when it attempts to display the summary):

File "/home/borys/sources/inasafe/safe/messaging/item/cell.py", line 121, in to_html
    wrap_slash=self.wrap_slash))
TypeError: to_html() got an unexpected keyword argument 'wrap_slas

[2015-12-06 22:17] borysiasty commented on #2494
Caused by #2504

[2015-12-07 09:03] samnawi opened #2507 "Map template for Jakarta Flood Realtime"
As the discuss with @Charlotte-Morgan and @lucernae, I'm in charge to help make a map template for Jakarta Flood Realtime.

In my perspective, if this map will used by BPBD DKI Jakarta to support their report, I suggest to produce one map that include information about :
- Depth
- Population
- Flood gate status --> just a point to show the location and status (using color maybe)

But, I still conf

[2015-12-07 10:02] Gustry commented on #2504
Yes this error happens with ``volcano_krb.shp`` for instance, with a clean start of QGIS.
According to my unit test in pycharm, tests are failing according to this issue also.

Thanks @borysiasty to have a look on this issue.

[2015-12-07 10:35] timlinux commented on #2504
Thanks for the diagnostics @borysiasty and @Gustry  - I've made an alternative fix with PR #2508

[2015-12-07 13:15] #2504 closed

[2015-12-07 13:59] borysiasty commented on #2494
I'm closing it as the last build passed the tests.

[2015-12-07 14:00] borysiasty commented on #2494
@timlinux  - ah it seems I have no privileges to close tickets recently.

[2015-12-07 15:20] #2494 closed

[2015-12-08 04:30] samnawi commented on #2497
Hi @lucernae
I still on progress to prepare the population data in vector type (As in the previous discussion, we will use the population vector data first, then use the wordl pop as 2nd plan).
I've been sent the sample to your email.

[2015-12-08 04:32] lucernae commented on #2497
@samnawi awesome dude! I will try it today.

[2015-12-08 04:33] samnawi commented on #2495
QGIS Map Template of Jakarta for Map PDF #2507

[2015-12-08 04:38] samnawi commented on #2497
But it still for central jakarta (as sample that we get from BPBD DKI)

[2015-12-08 06:19] #2329 closed

[2015-12-08 06:19] #2499 closed

[2015-12-08 10:26] samnawi commented on #2491
:+1: for @fredychandra suggest to add the impacted for crops and settlements area. The other important thing is also the impact for the airport, as we know when the volcanic eruption happens,one of the issue is about air transportation.

[2015-12-09 02:01] Charlotte-Morgan commented on #2469
noting this was an RFC and no one has answered the question raised - it was not a feature request

[2015-12-09 04:05] Charlotte-Morgan commented on #2491
This proposal is being driven very much by the technical and user community and I have simply documented what they have proposed.
They will be holding workshops to clarify user requirements; the first is scheduled for 27 January - 5 February in Melbourne. It will involve GA, BOM, and volcano experts from BG.
From my discussions with them; impact on crops is something they are interested in & impac

[2015-12-10 03:35] fredychandra commented on #2389
HI @ismailsunni
I just checked again the action list on IF : Flood on Road. I realize that the action 1 & 2 already consist in action no 2 - 5. We should erase no 1 & 2 action list.

![capture](https://cloud.githubusercontent.com/assets/6345285/11706217/28c25592-9f29-11e5-9739-2c9a0a8cd8b9.PNG)

thank you

[2015-12-10 06:18] samnawi commented on #2488
I've tried to analyze the number of IDP for each village in Jakarta by considering the duration of the flood.
We get the IDP data from BPBD DKI, and the flood series data from HOT (2014 Data)

This is the result.
![image](https://cloud.githubusercontent.com/assets/8871958/11706643/fb847c32-9f2c-11e5-80ad-0919ba34ff79.png)

From the visual analysis in above, there is some pattern between flood dura

[2015-12-10 07:33] fredychandra commented on #2389
# Problem

We should break down more specific action check list in IF for population and buildings in each hazards.

Previous check list for IF **Population** only :
 •	How will warnings be disseminated?
•	How will we reach evacuated people?
•	Are there enough shelters and relief items available for 535 people?
•	If yes, where are they located and how will we distribute them?
•	If no, where can we

[2015-12-10 15:23] timlinux commented on #2453
@severinmenard can you test against 3.2.4 (available in plugin manager) to see if it works for you now?

Thanks!

[2015-12-11 02:38] samnawi commented on #2106
@Charlotte-Morgan Can we closed this ticket and move to ticket #2373 ?

[2015-12-11 02:50] samnawi commented on #2278
@ismailsunni Is this ticket is already fix? Because I can do this IF now.
![selection_001](https://cloud.githubusercontent.com/assets/8871958/11734737/87d0d720-9fec-11e5-915b-43907d0db236.png)

[2015-12-11 03:26] Charlotte-Morgan commented on #2389
Hi @fredychandra - thank you for reviewing this and the update.
As discussed we tweaked the english and reorganised the lists a bit.
I have made the edits.

please see PR #2513 for changes to default action lists for roads, population and buildings.

@ismailsunni - please review

[2015-12-11 05:59] timlinux opened #2514 "Keywords Wizard crashes on repeated use"
As reported by user Gumbi from Malawi, the wizard is crashing on repeated use. Here is how to replicate:

* add two layers to QGIS which have no keywords
* use the KW wizard to assign keywords to the first layer
* use the KW wizard to assign keywords to the second layer

QGIS will crash at some point in the last step above

[2015-12-11 10:14] borysiasty commented on #2514
More details: Windows 8.1 Pro 64bit and QGIS version 2.10.1

[2015-12-11 10:17] samnawi commented on #2514
Is it same case with ticket #2467 - Crash Minidump when try to use InaSAFE keyword editor twice ?

[2015-12-11 10:18] borysiasty commented on #2514
@timlinux - I see you were able to reproduce it. Was it occuring in various steps of the wizard, or always in the same point? What layers and OS did you use? I can't cause it registering random layers, but only tried on Debian for now.

[2015-12-11 10:32] samnawi opened #2515 "BUG : Can Not Use the Wizard"
# Problem
An error has occured when use both of Keyword Wizard and Impact Function Centric Wizard

[code]

# Platform
Win 7 64Bit
QGIS 2.8.4 & 2.12.1
InaSAFE 3.2.5.dev-master

@adissadis also get the same thing like this

But, it's OK (the error not occured) When I try in Linux Ubuntu 64-bit, QGIS 2.8.4, InaSAFE 3.2.5dev-3191a00

# cc
@timlinux @ismailsunni @lucernae

[2015-12-11 15:03] borysiasty commented on #2515
Could someone assign it to me please?

[2015-12-14 08:45] Charlotte-Morgan commented on #2354
hi @adissadis - can this be closed?

[2015-12-14 08:46] Charlotte-Morgan commented on #2366
hi @adissadis - how is this going. please let me know when you have data ready to put back on line

[2015-12-14 08:51] Charlotte-Morgan commented on #1251
hi @ismailsunni - can you please point me to the file that these definitions should go in?

[2015-12-14 08:54] Charlotte-Morgan commented on #1428
hi @ismailsunni - here are the requirements for tsunami IF

[2015-12-14 08:54] Charlotte-Morgan commented on #1427
hi @ismailsunni - here are the requirements for tsunami IF

[2015-12-14 08:56] Charlotte-Morgan commented on #1201
Hi @samnawi - i'm giving this ticket to you. Can you please look at the QGIS processing tools and see if there is anything available to generalise lines?

[2015-12-14 09:01] #2087 closed

[2015-12-14 09:02] Charlotte-Morgan commented on #1595
see #1624

[2015-12-14 09:02] #1595 closed

[2015-12-14 09:10] Charlotte-Morgan commented on #229
see #2473

[2015-12-14 09:11] ismailsunni commented on #1251
Hi @Charlotte-Morgan : please go to https://github.com/inasafe/inasafe/blob/develop/safe/definitions.py#L677

[2015-12-14 09:14] Charlotte-Morgan commented on #1251
i think it fits in here:
raster_hazard_classification = {
    'key': 'raster_hazard_classification',
    'name': tr('Classes'),
    'description': tr(
        'Hazard classes are a way to classify the cell values '
        'in a raster layer.'),
    'types': [
        flood_raster_hazard_classes,
        generic_raster_hazard_classes,
        tsunami_raster_hazard_classes

but i would need to add

[2015-12-14 09:38] Charlotte-Morgan commented on #2182
@samnawi - can you please take a look and see if this is still an issue following the report updates @timlinux did ?

[2015-12-14 10:04] #2349 closed

[2015-12-14 10:04] #2514 closed

[2015-12-14 10:04] #2515 closed

[2015-12-14 10:04] adissadis commented on #2354
hi @Charlotte-Morgan yes this can be closed

[2015-12-14 10:05] ismailsunni commented on #2467
Hi @adissadis
I have merged the fix to the develop, can you confirm it that it's fixed? If so, please close the ticket...

Thanks

[2015-12-14 10:25] adissadis commented on #2467
Hi @ismailsunni yes it fixed now. Thank you @borysiasty for fixing this.

[2015-12-14 10:25] #2467 closed

[2015-12-15 02:08] ismailsunni commented on #1251
Hi @Charlotte-Morgan
If I understand correctly, the description in your comment fits in the line that I pointed before. We just need to update the classes (Currently only two classes, wet and dry). So, I think it will some thing like:

[code]

[2015-12-15 03:59] ismailsunni commented on #2106
@samnawi I think they are the same issue and we can close this ticket and mark it as duplicated

[2015-12-15 04:03] ismailsunni commented on #2278
Hi @samnawi

I think this ticket is already fixed (or actually, the problem is caused by wrong keywords for the hazard layer). So, it's not a bug. I will close this, and if anyone has a similar problem can re-open it.

[2015-12-15 04:03] #2278 closed

[2015-12-15 04:08] ismailsunni commented on #2389
Hi @Charlotte-Morgan
I have checked your PR #2513 it looks good, but we need to update the unit test to make it pass the travis guardian.
I will make another PR that contains your PR.

[2015-12-15 08:18] Charlotte-Morgan commented on #1251
Hi @ismailsunni - I am not sure this is the correct spot. Which IF uses the tsunami raster hazard classes?

IIUC - we can use continuous raster hazard data for tsunami to assess which buildings are wet or dry based on a single threshold (default is 1m for buildings + flood raster building function and 0.7m for people + tsunami evacuation function)
If the user can enter multiple thresholds then we

[2015-12-15 11:04] Charlotte-Morgan opened #2519 "Flood: vector flood on vector population - BUGS"
It is great to see a new impact function that uses population vector data, this is a very useful addition to the InaSAFE suite.

# problem
We are having some trouble using the new flood on vector population IF with our data.
The data we have are population counts attached to vector admin boundaries. The data include a name field.

# suggestions
* key words:
purpose - exposure
exposure - population

[2015-12-15 11:30] Charlotte-Morgan commented on #2519
I have also looked at the test data
I think it would be fine to assign key words 'attribute field = population' to this data set
I also note that  using the test population and test flood data there is no 'might' option in the dock

[2015-12-15 12:18] timlinux commented on #2514
Thanks @borysiasty I will test on windows and put out a 3.2.5 release.

[2015-12-16 07:44] Charlotte-Morgan commented on #2507
In my mind we will have 2 maps; 1 for flood areas by depth class and one for affected population. If you can symbolise both sets of information on a single map that is good; but we also need to include the impact summary on the same page. We need info about the location of affected people, minimum needs, disclaimers etc .... and it has to be what the customer wants :)

[2015-12-16 08:57] samnawi commented on #2507
Ok @Charlotte-Morgan
There is some revised from the map template.
I try to combine the flood depth information and an estimates of IDP from InaSAFE analysis.
Also put the map / ID report in the top left corner.

In the previous, I've seen the flood map that contain the information from InaSAFE analysis. So, in this map, I try to put the total of affected population and the minimum needs in the cen

[2015-12-16 09:43] Charlotte-Morgan commented on #2507
hey @samnawi - this looks great. I will try to get feedback from BPBD DKI Jakarta on this soon

[2015-12-16 10:25] jorgegil opened #2521 "Layer name change enforced when InaSafe not in use"
I have realised that InaSafe creates a layer.xml and layer.keywords file with a shape file to keep track of various things, including layer name changes done in the Layers panel.

This affects every layer added to a QGIS session, including newly created memory layers, even if the InaSafe toolbar and dock panel are closed. In this case, if a new memory layer is created with the first name, it autom

[2015-12-16 10:37] Gustry commented on #667
InaSAFE is now using the QNetworlAccessManager provided by QGIS. Any bug should be raised in the QGIS bug tracker.

[2015-12-16 10:37] #667 closed

[2015-12-17 17:36] severinmenard opened #2523 "Python bug when creating a pdf map"
I get this error message after It tried to created a pdf map with these steps, both in EN or FR:
- run analysis
- when done, clicking on Print
- then clicking on Open PDF
- then trying to save the PDF. The error appears as soon as I click on the Save button

Traceback (most recent call last):
  File "C:/Users/Severin/.qgis2/python/plugins\inasafe\safe\gui\widgets\dock.py", line 1885, in print_map

[2015-12-18 09:45] ismailsunni commented on #2523
Hi @severinmenard
It seems the problem lies on unicode in output_path. There is unicode in the path. I can reproduce the error in my local. Working on the fix now....

[2015-12-21 00:37] ismailsunni commented on #2521
Hi @jorgegil
Thans for your question.

In InaSAFE, you can disable this feature (replacing layer name with its title) from InaSAFE Options. See image below:
<img width="1290" alt="screen shot 2015-12-21 at 7 32 58 am" src="https://cloud.githubusercontent.com/assets/1421861/11921162/9cfd7916-a7b5-11e5-9126-92034b34ad00.png">

I don't think we can separate which layer are used by InaSAFE or not, sin

[2015-12-21 00:39] #2521 closed

[2015-12-21 05:26] ismailsunni commented on #2481
Translation workflow wiki page: https://github.com/inasafe/inasafe/wiki/Translation-Workflow

[2015-12-21 05:32] ismailsunni commented on #2481
Translation branch: https://github.com/inasafe/inasafe/tree/translation

[2015-12-21 05:32] #2481 closed

[2015-12-21 06:43] samnawi commented on #2384
Last week, I've got a feedback from InaSAFE's training participant in InaDRTG BNPB to add one column to show the unaffected number.
They get a little bit confused when read the number of affected in total column. For the first sight, people will assume that the number in total column equal to total affected if there is no unaffected column in table

[2015-12-21 23:50] jorgegil commented on #2521
Hi @ismailsunni
Thanks! That setting in InaSAFE is the answer that I needed.

[2015-12-22 03:32] harrymahar opened #2529 "Flood IF Analysis Layer Result did not Match with Hazard and Exposure Data [bug]"
# Problem
Flood IF Analysis Layer Result did not Match with Hazard and Exposure Data

# Detail
I try to run flood IF using flood Jakarta (vector) and Java Population (raster). The result generally shows good result but when I zoom in to certain area some layer is missing. There is a hole between flood layer and the result layer. It should be at least be classified in analysis layer and overlap wit

[2015-12-22 04:02] adissadis commented on #2419
I got this same issue like @samnawi . This issue not only affected to Building polygon but also building points. See my pictures below:
![image](https://cloud.githubusercontent.com/assets/2520159/11947535/d3969616-a89a-11e5-82c2-16b7eeee37a2.png)

It's look like the hazard raster data create some virtual buffer around the hazard area (probably around 8 meters) from pixel who categorize as affected

[2015-12-22 04:12] raniedwianugrah commented on #2361
Hi @timlinux

The problem still exist in InaSAFE 3.2.5, there are differences the total length of the affected road between "Analysis Result" column and "Closed Roads" column in statistic table result.

![table_roads](https://cloud.githubusercontent.com/assets/2528195/11947588/d7d2302c-a89b-11e5-8495-e683c91f9907.PNG)

![roads table](https://cloud.githubusercontent.com/assets/2528195/11947592/e9da

[2015-12-22 04:14] harrymahar opened #2530 "All Population be Affected in Flood IF Result [Bug]"
# Problem
No Population be affected in Flood IF result

# Detail
I try to run flood IF using flood Jakarta (vector) and Java Population (raster). The result shows number of population affected, people need evacuation and unaffected population. However, there is strange result where number of unaffected population is zero. It means, all people in Jakarta affected by flood eventhough the floodprone

[2015-12-22 04:57] adissadis opened #2531 "[BUG] Population not counted in affected area for Raster Flood Hazard"
# Problem
Hi @timlinux

I ran InaSAFE analysis using Population and Flood Raster HKV and found that in several area, even those area is affected by flood, InaSAFE didn't analyze and count the numbers of people in those area.

![image](https://cloud.githubusercontent.com/assets/2520159/11948033/8e51d672-a8a1-11e5-829c-a08a035a0daa.png)

In the screenshot i give above, as you can see at the red box

[2015-12-22 08:18] vasanthi0808 opened #2532 "[BUG] Python error in PDF generator and Open in Composer using IFCW"
# Problem
Python error when trying to generate the PDF report.

# Detail
I tried to run the Jakarta flood scenario using vector data for hazard and population raster data for the exposure. Python errorr appeared when trying to generate the report.
**This problem also happens with other scenarios using IFCW.**
This message appear:
[code]

# Screenshot
![ifcw pdf](https://cloud.githubusercontent.com

[2015-12-22 13:13] Gustry commented on #2532
Oups, sorry @ismailsunni I saw your assignment after.
There isn't unit test for analysis_handler.py. Maybe we should write some ?

[2015-12-22 23:41] ismailsunni commented on #2532
@Gustry
no problem, I can assign it to you happily :dancer:

Yeah, we should do that for sure

Thanks :D

[2015-12-23 00:22] ismailsunni commented on #2532
Fixed in #2534

[2015-12-23 03:06] ismailsunni commented on #2523
The fix will be added to the next version (probably 3.2.5). I will close this, you can reopen it later if you still have a problem.

[2015-12-23 03:06] #2523 closed

[2015-12-23 03:44] harrymahar commented on #2532
@ismailsunni  I have update my InaSAFE recently using git bash and run flood scenario using IFCW again. However, the result still has python error when I try to generate pdf or open map composer.

[2015-12-23 03:48] ismailsunni commented on #2532
@harrymahar
Can you paste here the python error?
And can you paste here your inasafe hash value? *do `git log` and copy the first hash value

[2015-12-23 03:56] harrymahar commented on #2532
Hai @ismailsunni
Python Error :
![python error_flood_ifcw](https://cloud.githubusercontent.com/assets/2534179/11970803/cca11736-a963-11e5-9a66-740cda96c0c9.PNG)

git log :
![python error_flood_ifcw_2](https://cloud.githubusercontent.com/assets/2534179/11970805/d767ef6e-a963-11e5-87e3-594089d8c9b9.PNG)

[2015-12-23 05:47] #2532 closed

[2015-12-23 05:48] ismailsunni commented on #2532
hi @harrymahar
Please try again, I just push my fix to develop.

[2015-12-23 06:51] harrymahar commented on #2532
Hi @ismailsunni
Yaay, it is work now.. Thanks
![print composer](https://cloud.githubusercontent.com/assets/2534179/11972239/247e5f50-a97c-11e5-81ed-e6190e5248d3.PNG)

![generate pdf](https://cloud.githubusercontent.com/assets/2534179/11972244/2d31bd54-a97c-11e5-9a82-53708e9af2bf.PNG)

[2015-12-23 09:23] harrymahar commented on #2235
Hi @cchristelis , This week HOT ID team doing test for InaSAFE 3.2.5 dev-master

Today, I run Earthquake IF in Jogjakarta and Padang. I using scenario for population in both area. Unfortunately, this bug/issue appears again. So these are my screenshoot problem :
![eq_3](https://cloud.githubusercontent.com/assets/2534179/11973808/cc630a18-a990-11e5-924f-319639fe3f53.PNG)

![eq_bug1](https://cloud.g

[2015-12-23 10:00] lucernae commented on #2438
Following this up.
What needs to be changed:
- [ ] get the location from the location in grid.xml
- [ ] if any, calculate distance and direction of the earthquake from that location

[2015-12-23 10:22] ismailsunni opened #2537 "ISO Schema in version 3.3"
We have mapped several properties to existing part in ISO 19115 metadata. We also couldn't find some attributes in the standard, so we put it under `supplementalInformation` tag.

Currently we have base metadata for the base class for the other metadata class (aggregation, exposure, hazard, and impact). Here are the properties of each class
### Base Metadata
- [ ] organisation
- [ ]
- [ ]
- [ ]
-

[2015-12-23 10:23] ismailsunni commented on #2537
accidentally open an issue. Closing this.

[2015-12-23 10:23] #2537 closed

[2015-12-23 11:06] ismailsunni opened #2538 "Map InaSAFE's Metadata Properties to ISO 19115"
# Problem

## InaSAFE's metadata properties

We have mapped several properties to existing part in ISO 19115 metadata. We also couldn't find some attributes in the standard, so we put it under `supplementalInformation` tag.

Currently we have base metadata for the base class for the other metadata class (aggregation, exposure, hazard, and impact). Here are the properties of each class

### Base Me

[2015-12-29 06:41] samnawi commented on #2531
Hi @adissadis I get this problem too. Either in WIndows 7 64 bit and Ubuntu 14.04 machine. Using QGIS 2.8.4 and 2.12.1.

![image](https://cloud.githubusercontent.com/assets/8871958/12030476/d0da2702-ae31-11e5-9357-1ad302bd1eea.png)

[2015-12-29 08:23] samnawi commented on #2530
Hi @harrymahar I get this problem too. Either in WIndows 7 64 Bit and Ubuntu 14.04. Using QGIS 2.8.4 and 2.12.1.

![image](https://cloud.githubusercontent.com/assets/8871958/12031344/6684010a-ae3d-11e5-8ca2-724ed5c5e26c.png)

In the picture above, when I try to doing zonal statistics process using flood polygon as vector layer zone, generate the number of population 1,120,024. If the number is rou

[2015-12-29 10:59] samnawi commented on #2529
I think it's because the symbology. If we look at the picture in the bottom, the hole in the result has a value < 1.
![selection_004](https://cloud.githubusercontent.com/assets/8871958/12033306/1a9c1086-ae54-11e5-9cf2-5e784209f0a6.png)

When I try to change the symbology, the hole area filled by color also.
![selection_005](https://cloud.githubusercontent.com/assets/8871958/12033321/4b47fcea-ae54-

[2015-12-31 03:58] #2384 closed

[2016-01-04 02:05] ismailsunni opened #2543 "Generic Population Vector IF Revisited"
Based on your @timlinux 's message in gitter:

I revisited the IF, and come up some possible improvements:
- [x] The value in population field of impact layer should represent the calculated number of population in the polygon. See below:
<img width="857" alt="screen shot 2016-01-04 at 8 57 24 am" src="https://cloud.githubusercontent.com/assets/1421861/12082205/3f9aa6ce-b2c1-11e5-8991-86610cbe4ff2

[2016-01-04 04:40] Samweli commented on #2543
Ok @ismailsunni, i'm working on the improvements, i will get back once finished.
Thanks.

[2016-01-04 07:32] Gustry commented on #2469
Sorry @Charlotte-Morgan, I've followed [Tim's comment above](https://github.com/inasafe/inasafe/issues/2469#issuecomment-159516559).
This RFC has been implemented. Can we close the ticket ?

[2016-01-04 07:41] ismailsunni commented on #1942
Does anyone remember the context of this issue?
It seems not clear and I can't find any LayerParameter in InaSAFE's code. I will close this and if anyone think it's still valid, I am open to reopen this ticket. :)

[2016-01-04 07:41] #1942 closed

[2016-01-04 07:57] ismailsunni commented on #2318
hi @fredychandra
Can you re-share your data above? I try to find it, but the link is no longer valid.

Thanks

[2016-01-04 10:05] ismailsunni commented on #2543
Hi @Samweli
Check also #2519

[2016-01-04 12:12] Samweli commented on #2543
Ok @ismailsunni.

[2016-01-04 14:16] ismailsunni commented on #2173
Superseded in #2538

[2016-01-04 14:16] #2173 closed

[2016-01-04 14:21] ismailsunni commented on #761
I think this is no longer relevant (already fixed).
Can you check it @samnawi ?

If so, we can close this ticket.

[2016-01-04 15:25] ismailsunni commented on #2429
Is this still valid?

[2016-01-04 15:29] ismailsunni commented on #2423
cc @MariaSolovyeva

[2016-01-04 15:32] ismailsunni commented on #2382
Been done in #2393

[2016-01-04 15:32] #2382 closed

[2016-01-04 16:59] Gustry commented on #2382
Thanks @ismailsunni !

[2016-01-05 06:54] samnawi commented on #761
I think it's good for the order.
The order from general to detail information, followed by some action and note (has been updated).
It's good also to give the color box in the title.

But, just make it tidier like in the picture :
![selection_012](https://cloud.githubusercontent.com/assets/8871958/12109101/5e98b548-b3b1-11e5-90d9-8b4743f78a50.png)

@ismailsunni maybe we can also ask @Charlotte-Mor

[2016-01-05 07:10] samnawi commented on #2429
@ismailsunni I think this ticket is clear.
But, there is a problem about the result.
see ticket #2235

[2016-01-05 07:50] samnawi commented on #2235
@harrymahar I also get this problem again.
I think the problem has appeared again.
In the previous version, the result is fine.
But, I've been tried again in a couple of minutes ago, and the result is wrong again.
There is a huge difference result in earthquake on Population Analysis

![selection_013](https://cloud.githubusercontent.com/assets/8871958/12110095/36f21de0-b3bb-11e5-9b65-3feb21ece447.

[2016-01-05 10:19] ismailsunni commented on #2429
@samnawi ok, I will close this ticket and we can focus on #2235

[2016-01-05 10:19] #2429 closed

[2016-01-05 10:54] samnawi opened #2545 "Consistency Order at the General Information"
I found some inconsistency in the general information.
Some report write Total information on the top, the other is under the breakdown information

![selection_015](https://cloud.githubusercontent.com/assets/8871958/12113408/fdde383a-b3d4-11e5-9eea-2b0de8624cb5.png)

# Proposed Solution
Make it consistent, so it will be nice

Thank you

# CC
@Charlotte-Morgan @ismailsunni

[2016-01-05 14:33] ismailsunni commented on #2545
Hi @samnawi
The left side, the `total affected population` is different with right one `total`. In the right side, the `total affected population` is similar with `affected buildings`. Perhaps we should change the terminology to `total affected buildings`. And we also need to put the real total (affected + non affected) in the left side (of your image).

So, I propose:
For building:
- Breakdown by

[2016-01-05 15:18] ismailsunni commented on #2425
Fix in #2544

[2016-01-05 15:18] #2425 closed

[2016-01-05 15:19] ismailsunni commented on #2390
Fixed in #2544 (add radius)

[2016-01-05 15:19] #2390 closed

[2016-01-06 03:19] samnawi commented on #2545
Yeah @ismailsunni I agree with your propose. That's what I mean. :D

[2016-01-06 14:38] Gustry commented on #2468
I was trying to debug this issue, but I noticed this is not a bug. It's a feature which has been hard coded in the plugin.
https://github.com/inasafe/inasafe/blob/develop/safe/impact_reports/building_exposure_report_mixin.py#L363
The plugin  will aggregate every impacted object if there are less than 25 into the "Other" group.

We should maybe inform the user, or better, the user should be able to

[2016-01-07 00:26] ismailsunni commented on #2089
I think we can close this since it's been implemented in #2080

[2016-01-07 00:26] #2089 closed

[2016-01-07 00:27] ismailsunni commented on #2468
Thanks @Gustry
Ah yes, the 25 threshold. I just remembered that after you mentioned it.
And I agree with the idea to enable the user set the value in the setting.

What do you think @timlinux ?

[2016-01-07 08:01] Gustry commented on #2468
FYI, ``building_exposure_report_mixin`` seems to be the only with the threshold.

[2016-01-07 11:48] samnawi commented on #2531
I still curious about this problem, so I tried to calculate using spatial analyst in QGIS.

For add the information :

I tried to calculate this IF for >= 0.5 m, generate 1,918,000 affected population
![selection_040](https://cloud.githubusercontent.com/assets/8871958/12169904/dbdb15be-b56e-11e5-844b-0018d8c8541a.png)

When I tried to polygonize the hazard, and then doing zonal statistics, the res

[2016-01-08 10:28] Charlotte-Morgan commented on #2531
hi @adissadis and @samnawi
I get this too. I'm using windows 7, QGIS 2.8.3 and InaSAFE dev 3.3.0 (5db8f80).
I also note the values quoted by @samnawi are alarmingly large and he will write a different ticket.
please note this bug post dates 35a7581 - if that is any help

[2016-01-08 10:31] Charlotte-Morgan opened #2552 "BUG: we need a nice error message for key word version errors"
# problem
the user gets a python error if they open data with keyword version greater than the current software version. This can happen if a user is testing dev 3.3 and then steps back to master 3.2

# error message
[code]

# cc
@samnawi - thanks for discovering this

# proposed solution
make it happy

[2016-01-08 10:36] Charlotte-Morgan opened #2553 "BUG: Error in analysis results - raster flood on raster population"
# problem
InaSAFE dev 3.3.0 is getting the results wrong (very big) for flood raster on population raster analysis when population data key words are set to allow resampling = true (ie the default setting)
![image](https://cloud.githubusercontent.com/assets/5743135/12196747/e11d077e-b633-11e5-9e25-6d2df6c89bc5.png)

When allow resampling = false (ie checked ) the results appear to be more correct

[2016-01-08 10:39] Charlotte-Morgan commented on #2552
I also get the following error message when I try to assign keywords to the data in 3.2.2 (master) once the data have been viewed in 3.3 (dev)
[code]

[2016-01-08 11:33] samnawi commented on #2553
I also found this problem, both in my Linux and Windows Computer

**1. Raster Flood Vs Raster Population**
* allow resample = **false**
![flood people resample false](https://cloud.githubusercontent.com/assets/8871958/12196944/2c03d6ae-b635-11e5-9922-e40f5c0c6cc8.png)

* allow resample = **true**
![flood people resample true](https://cloud.githubusercontent.com/assets/8871958/12196953/3f4947c6-b63

[2016-01-11 01:32] ismailsunni commented on #2453
Tested in my local. I will close this. Free to re-open if still get the error.

[2016-01-11 04:50] adissadis commented on #2530
@samnawi @ismailsunni i think this will make people confused reading the result. People will think all the people is affected by flood and there is 0 people unaffected. While there are people who not in flooded area but the result counted as 0 people unaffected.

In my opinion, i think we better to remove information "Unaffected Population" for this IF to avoid this misunderstanding.

[2016-01-11 05:03] adissadis commented on #2553
I also found this problem:

* With resampling:
![image](https://cloud.githubusercontent.com/assets/2520159/12227203/27a52554-b85b-11e5-9a7d-6624aed102b0.png)

* Without resampling:
![image](https://cloud.githubusercontent.com/assets/2520159/12227207/3aa7f384-b85b-11e5-91b8-93f44b248c97.png)

## Enviroment
Windows 7 64bit
InaSAFE 3.3 dev master (sync from Github)
QGIS 2.8.4

[2016-01-11 06:50] Charlotte-Morgan commented on #2543
please review feedback and suggestions in #2519

[2016-01-11 06:51] Charlotte-Morgan commented on #2519
see #2543 and pr #2551

[2016-01-11 07:07] adissadis commented on #2468
+1 for enable the user set the value in setting

Because if the user only analyze small area, they might not get the detailed result if the object inside the area is less than 25.

[2016-01-11 09:11] timlinux commented on #2423
Fixed now:

![selection_001](https://cloud.githubusercontent.com/assets/178003/12229837/088f4dea-b854-11e5-8bbc-ab663976ad81.png)

[2016-01-11 09:11] #2423 closed

[2016-01-11 09:17] timlinux commented on #2553
Hmm very odd - @ismailsunni can you think of any reason for this? I will probably have to bisect the commits back to find the culprit....

[2016-01-11 09:42] ismailsunni commented on #2552
Hi @Charlotte-Morgan and @samnawi
After looking at this issue, I found it will be more general problem, the layer has invalid xml file. It will raise the same problem.
So, I made a fix in #2555. Short summary, it will assume that the keyword is invalid for inasafe v3.2.x if found invalid xml file.

[2016-01-11 10:24] ismailsunni commented on #2531
hi @adissadis @samnawi can you try it with previous InaSAFE version? For example version 3.2

[2016-01-11 11:55] timlinux commented on #2531
Hi

So here are a couple of thoughts.

![selection_040](https://cloud.githubusercontent.com/assets/8871958/12169904/dbdb15be-b56e-11e5-844b-0018d8c8541a.png)

1) I wonder if the pop cells in the black box were simple excluded during clipping and thus not stats reported.
2) For very small inundated areas against large pop cells, there may simply be a symbology issue - the cells may come out to have

[2016-01-11 12:09] timlinux commented on #2553
Replicated here on develop:

[code]

[2016-01-11 12:24] timlinux commented on #2553
[code]

[code]

[2016-01-11 12:31] timlinux commented on #2553
Using progressively smaller extents:

[code]

[2016-01-11 12:34] timlinux commented on #2553
[code]

![selection_004](https://cloud.githubusercontent.com/assets/178003/12233562/71a1cb7a-b870-11e5-87b9-4ef8358cc4ee.png)

[2016-01-11 14:54] ismailsunni opened #2558 "Wiki for Impact Function Development and Metadata"
## Problem

Currently, we don't have wiki or document that explain how we develop impact function and about the metadata. There are some document/comment/RFC that related to it, but it's not easy to read them as they are scattered in several places.
## Proposed Solution

Create one as wiki page.

[2016-01-11 21:35] severinmenard commented on #2453
Sorry I thought I had informed it works fine now, but seems I did not.

On Mon, Jan 11, 2016 at 2:32 AM, Ismail Sunni <notifications@github.com>
wrote:

[2016-01-12 02:54] dewisulistio opened #2560 "[BUG] VerificationError when running vector Flood IF with raster population"
# Problem
VerificationError when running vector Flood IF with raster population using Aggregate DKI Jakarta District

# Detail
I try to run flood IF using flood Jakarta (vector) and Java Population (raster) with Aggregate Jakarta Dsitrict. The result not appear because problem VerificationError. But when I try to run with entire area it's working.

# Screenshot
![flood bug](https://cloud.githubuse

[2016-01-12 03:37] ismailsunni commented on #2560
Hi @dewisulistio

Can you paste the full report here? And where can I get the data?

[2016-01-12 03:40] ismailsunni commented on #2453
Ah, I miss read your comment. I will close this again now.

[2016-01-12 03:40] #2453 closed

[2016-01-12 03:55] dewisulistio commented on #2560
Hi @ismailsunni
Details from InaSAFE dock
These additional details were reported when the problem occurred.

* An exception occurred when running the impact analysis.
* Layer did not have required keyword "layer_purpose". Please add keywords as : pairs in the .xml file. For more information please read the sections on impact functions and keywords in the InaSAFE website: http://inasafe.org/en/deve

[2016-01-12 04:05] ismailsunni commented on #2560
Hi @dewisulistio, based on the error message, it seems you need to assign the keywords. Can you try assign it? It seems the aggregation layer doesn't have proper keywords.

And when I can get the Java pop data?

[2016-01-12 04:06] ismailsunni commented on #2530
@adissadis can you try my PR for this ticket above? I merely remove the unaffected population from the impact report.

[2016-01-12 04:07] ismailsunni commented on #2529
@samnawi do you have a suggestion for a better symbology?

[2016-01-12 04:09] ismailsunni commented on #2468
@Gustry can you proceed to create the option for setting the value of the threshold?

[2016-01-12 04:11] samnawi commented on #2531
Hi @ismailsunni and @timlinux

Before I test it in previous InaSAFE version, I get the strange result when test it in 3.3 dev.
Like in the @timlinux repost picture from me in above, There is no result in the black box.
But, this morning, when I try to test it again, the result is appear in the black box area.
![selection_048](https://cloud.githubusercontent.com/assets/8871958/12254356/1137c67c-b91

[2016-01-12 04:14] samnawi commented on #2529
@ismailsunni I just want to make sure if the symbology in the legend is white, there should be no hole / transparent symbol in the map.

[2016-01-12 04:16] dewisulistio commented on #2560
I have set the keywords for aggregate Jakarta District and it's working with raster flood (HKV) and Java pop data. You can get the Java pop data in https://data.inasafe.org/InaSAFE%203.2%20Data/ > DKI Jakarta > Exposure Data

[2016-01-12 04:30] ismailsunni commented on #2560
Ok, so the problem is we need to set the aggregation layer's keyword properly first. We need to add this checking later. Actually, the error message is quite helping. But, we need add better handling for the error.

I will close this comment then. Please reopen if still failed.

PS : Actually, after I tried the scenario, all is good.

[2016-01-12 04:30] #2560 closed

[2016-01-12 04:41] adissadis commented on #2531
@samnawi  I test again with recent update InaSAFE from github and i don't get similar result like @timlinux  in those area.

![image](https://cloud.githubusercontent.com/assets/2520159/12254934/f6236eac-b920-11e5-916b-564190000015.png)

Here's InaSAFE result screenshot:
![image](https://cloud.githubusercontent.com/assets/2520159/12254940/0c243c90-b921-11e5-895b-0e0ed41e374b.png)

[2016-01-12 06:19] adissadis commented on #2530
@ismailsunni  Its still appear in impact report:
![image](https://cloud.githubusercontent.com/assets/2520159/12256320/02d6f7e6-b92f-11e5-9a34-01e1cfe2f03e.png)

[2016-01-12 06:25] ismailsunni commented on #2530
@adissadis did you checkout my PR? Because I haven't merged it to develop branch.

[2016-01-12 06:27] timlinux commented on #2553
Just for update - as @Charlotte-Morgan pointed out this only replicates with unaligned rasters. The test data in safe/test/data is aligned so it does not replicate. I tried clipping some data out aligned and I get the same values. It's actually a bit odd because the clipper does  align them when it clips them...still investigating further....

[2016-01-12 06:30] samnawi commented on #2530
@adissadis and @ismailsunni if we want to remove the unaffected information, we must remove in the other IF also. It's about consistency.

If we look in https://github.com/inasafe/inasafe/issues/2384, I proposed to appear the unaffected value is because we also show the total of exposure data.

Indeed, usually the user want to know the affected for the first.
But for the other reason, sometimes th

[2016-01-12 07:02] adissadis commented on #2530
@ismailsunni i already check your PR and its worked

@samnawi if we don't want remove unaffected information then we need to provide information/note below 'unaffected people', maybe put note like *this unaffected population come from population inside the vector area*

If we don't put like that, maybe InaSAFE need calculate total number population inside the analysis area and then for unaffected

[2016-01-12 07:30] Charlotte-Morgan commented on #2553
And - IIRC - its only flood and tsunami, not all raster on raster (ie not earthquake)
@timlinux - what tweaks did you do to flood on pop IF on 18th December? :)

[2016-01-12 08:33] adissadis commented on #2361
Hi @timlinux @Charlotte-Morgan @samnawi

This problem still appear in InaSAFE 3.3 dev master. Also in detailed result it still named as "Affected" while in general result and breakdown result it said "temporary closed".
![image](https://cloud.githubusercontent.com/assets/2520159/12258457/7ad30a8e-b941-11e5-948a-1223074afabe.png)

![image](https://cloud.githubusercontent.com/assets/2520159/12258500

[2016-01-12 08:38] adissadis commented on #2361
I forget to mention this:
![image](https://cloud.githubusercontent.com/assets/2520159/12258598/689b2f80-b942-11e5-9297-4652c29cffa4.png)

Total road affected have same number with Other

[2016-01-12 11:33] Gustry commented on #2468
@ismailsunni Can you have a look to the PR ?
It's not finished. I have one issue to display the parameter :
 - The minimum value is set to 1 in the source code. But in the GUI, it is set to -1.
 - We can't edit the value in the GUI.
 - The display is not good when we collapse the settings.
![qgis1](https://cloud.githubusercontent.com/assets/1609292/12262483/7fe4127a-b928-11e5-8d1d-0cf8da3d579f.png

[2016-01-12 11:47] samnawi commented on #2553
I try to make it smaller extent analysis, and I still found the wrong result for jakarta Flood Vs Population
![jkt48](https://cloud.githubusercontent.com/assets/8871958/12262671/d87ac900-b95b-11e5-8b3f-9dc9ddd99c9d.png)

But, when I try to use the other data (I use NGK Flood), and the result is good. it's strange.
![ngk flood](https://cloud.githubusercontent.com/assets/8871958/12262741/464747a6-b9

[2016-01-13 01:34] ismailsunni commented on #2468
Hi @Gustry
I am not sure what's the problem. But, if you set the maximum value explicitly (e.g. `threshold.maximum_allowed_value = 100`), it will fix the first two problem in your comment. I don't understand since by default it will be set to `sys.maxint`.

I am not sure I understand about this.

Thanks @Gustry

[2016-01-13 05:29] ismailsunni commented on #2545
Hi @samnawi
I have made a PR for this in #2568
But, it's little bit different with my suggestion above. It turns out that `number of fatalities` and `number of people displaced` are specific in EQ IF and it's similar with a breakdown. So, it will be in the top of the report.
Please try my PR

[2016-01-13 05:40] ismailsunni commented on #2389
I think we can close this since we have merged @Charlotte-Morgan 's update.

[2016-01-13 05:40] #2389 closed

[2016-01-13 06:24] Charlotte-Morgan opened #2569 "BUG: Auto version update of keywords"
When we have data with key words assigned (eg version 3.2) and we open that data in version 3.3,
most the keywords migrate neatly. There is a problem though with the URL field which gets extra 'code' as well as the URL.
![image](https://cloud.githubusercontent.com/assets/5743135/12288096/da5f157a-ba03-11e5-9704-64bb2a7b7372.png)

Please make it so only the url is in the URL field

[2016-01-13 06:34] Charlotte-Morgan opened #2570 "BUG: Action check list should round values"
A lot of work has gone into updating the action checklist so that it matches the analysis results. However we should avoid using 'exact values in the action statements
eg
![image](https://cloud.githubusercontent.com/assets/5743135/12286876/a41b78cc-b9fa-11e5-9885-12ec9ef26ee9.png)

Options in order of preference:
1. use the same rounded value as in the analysis results section and include thousand

[2016-01-13 06:48] Charlotte-Morgan opened #2571 "BUG: action list apostrophes"
The apostrophe has not been entered correctly in the action lists and needs a tweak.
![image](https://cloud.githubusercontent.com/assets/5743135/12287098/82b8ec30-b9fc-11e5-875c-dd639d8a5a61.png)

I leave this to someone who can search and replace the error - thanks @ismailsunni

[2016-01-13 06:48] samnawi commented on #2529
@ismailsunni has been created the PR to solve this problem.

@harrymahar From your perspective, what are your proposed to solve it?
@Charlotte-Morgan In this ticket, I think we get the problem about the value 0 < x <=1 that displayed with transparent color, so it become a hole in affected area. From your perspective, how should we do with this value?

[2016-01-13 06:55] Gustry opened #2572 "Use aggregation layer in the command line"
# Problem

According to the [usage.txt](https://github.com/inasafe/inasafe/blob/develop/bin/usage.txt), we can use an aggregation layer in the command line.
However, the source code doesn't manage the aggregation layer. The Analysis object is not aware of the aggregation layer.
# Solution

Be sure that InaSAFE can use the aggregation layer in the command line :
https://github.com/inasafe/inasafe/b

[2016-01-13 06:58] samnawi commented on #2545
yeah... I think also. That is the breakdown information.

[2016-01-13 07:01] Charlotte-Morgan commented on #2469
Hi @Gustry,
Thank you for developing this new feature and merging to develop.
I think there may need to be some tweaking / refinement regarding fields we retain and if we should modify the truncated field names.

@iyan31 @adissadis - what do you think about tweaking the field names?

[2016-01-13 07:12] ismailsunni commented on #2569
Hi @Charlotte-Morgan can you give some details about this?

[2016-01-13 07:12] samnawi commented on #2530
@adissadis yeah... I agree with you. Because in this version, for the population IF, we have an information in the note about the total population in analysis area. Maybe we can add the information that you propose to make it more clearly, not make the ambiguous.

For the other exposure data, I think we also must do that.

[2016-01-13 07:21] Charlotte-Morgan commented on #2235
Hi @timlinux
I think this need to be fixed urgently - I've just added the release blocker etc labels as it been around for a while.

[2016-01-13 07:25] Charlotte-Morgan commented on #761
i think this was fixed by @timlinux when he tweaked the reports and with @fredychandra when we reviewed the action lists

[2016-01-13 07:27] adissadis commented on #2469
I agree with you about tweaking the field name. In case if the attribute not showed as `flood_prone=yes` but instead is showed as `flood_area=yes' or else. Is that what you mean Charlotte?

[2016-01-13 07:28] #2545 closed

[2016-01-13 07:33] Charlotte-Morgan commented on #2469
hi @adissadis - that sounds like you want to tweak the query?
I was mostly thinking of changing the field names that have been truncated in the shape file format after the query has run and the data are saved. There may also be some fields we can drop.

[2016-01-13 07:40] Charlotte-Morgan commented on #2569
aagghh - i closed window without posting comment - you know!

[2016-01-13 07:41] adissadis opened #2576 "InaSAFE OpenStreetMap Downloader cannot download relation"
# Problem
InaSAFE OpenStreetMap Downloader cannot download polygon that have relation inside it

# Description
I tested download flood_prone area in Jakarta and it turn out i got only building that have `flood_prone=yes` not the administration boundary.

![image](https://cloud.githubusercontent.com/assets/2520159/12287910/b33cfed6-ba02-11e5-918a-530b4b5aa694.png)

I checked at JOSM and found that

[2016-01-13 07:43] Charlotte-Morgan commented on #2569
i have added the details at the top of the ticket again.

[2016-01-13 07:52] adissadis commented on #2530
I'm sorry i'm little out off topic here. Just want to give some information. If you look at the other IF (Volcano vector with population raster data), it succeeded count people outside the hazard area.
![image](https://cloud.githubusercontent.com/assets/2520159/12288232/e671483c-ba04-11e5-96ac-09ef3b500c6b.png)
Maybe you can replicate some of the code from there @ismailsunni

[2016-01-13 07:58] Gustry commented on #2576
Hi @adissadis
Can you try again that you have the expected result ?

[2016-01-13 08:00] adissadis commented on #2469
Ok i got what you mean @Charlotte-Morgan. Lot of column with `null` field beside flood_prone coloum. If we only need `flood_prone` column, maybe we can drop some that not related such as fire_hazard.

[2016-01-13 08:05] adissadis commented on #2576
Thanks @Gustry! Now i can donwload the boundary also. I will close this issue now.

[2016-01-13 08:05] #2576 closed

[2016-01-13 08:09] Charlotte-Morgan commented on #2529
without looking at the data, here are some thoughts:
* any output cells greater than 0 (ie contain affected people) should be counted and symbolised so that they show up on the map.
* all 0 or no data cells should not be symbolised - this area should be 'transparent' so that underlying layers are visible

[2016-01-13 08:21] ismailsunni commented on #2530
Thanks @adissadis I will check it out, and see if we can do it in this IF also.

[2016-01-13 08:28] #2570 closed

[2016-01-13 08:37] Charlotte-Morgan commented on #2529
as discussed with @samnawi
we need to exclude 0 values. The easiest way to do this is to tell the display that 0 values should be treated like 'no data'

the impact layer results look like this:
![image](https://cloud.githubusercontent.com/assets/5743135/12288951/10a4c100-ba0b-11e5-9fd7-f082facc9efe.png)

however - we spotted another issue, the labels on the affected population should be expressed

[2016-01-13 08:43] #2571 closed

[2016-01-13 08:54] Charlotte-Morgan commented on #2529
here is where to set no data on the transparency tab - i think you can remove the transparency setting once 0 is assigned to no data.

![image](https://cloud.githubusercontent.com/assets/5743135/12289364/b7a30af0-ba0d-11e5-800c-fa5d2d47952a.png)

Please note this will only be relevant to population raster results where the null values were treated as 0 - check notes on IF to confirm

[2016-01-13 09:19] Gustry commented on #2469
No problem to clean the attribute table. Tell me which one you want to drop ;-)

[2016-01-14 07:17] #2569 closed

[2016-01-15 03:57] ismailsunni commented on #2530
@adissadis Thanks. It really helps. There is no code to count the unaffected in the IF before. Added in my above PR. Please review.

[2016-01-18 01:28] ismailsunni commented on #2552
Closing this, the PR is merged to master.

[2016-01-18 01:28] #2552 closed

[2016-01-18 03:29] ismailsunni commented on #2530
Fix in #2581

[2016-01-18 03:29] #2530 closed

[2016-01-18 06:59] lucernae commented on #2572
@Gustry there are some features like pdf report generation and aggregation layer that is not quite connected yet. I'm currently trying to fix it for WB project.

[2016-01-20 10:46] Gustry opened #2585 "QdateTime in the keywords creation wizard"
If I try to create keywords in the last step of the wizard, I can see a QT object ``PyQt4.QtCore.QDateTime`` for the date.
By the way, the date field is not shown in the dock, is it normal ?
![qgis4](https://cloud.githubusercontent.com/assets/1609292/12446547/e7c6b864-bf6a-11e5-87b9-36b2e84f181d.png)

[2016-01-21 02:14] ismailsunni commented on #2585
Yes, it is not normal. I have made a fix in #2586. Thanks @Gustry

[2016-01-21 05:15] adelebearcrozier commented on #2491
Hello all,
I am the volcanologist hosting the workshop mentioned by Charlotte next week for two weeks (25/1-5/2) with invited volcanologists from Badan Geologi. We will focus on familiarising ourselves with the work done so far in the volcano space with InaSAFE, scoping the volcanic ash hazard data requirements and refining the report mock-up for the "volcanic ash impact map" that we have already

[2016-01-21 07:05] #2585 closed

[2016-01-21 07:44] ismailsunni opened #2587 "Transparency Problem in OSX"
## Problem

In the impact result for population, InaSAFE will make the cells with 0 value transparent. But, this feature is not working in OSX. See sample result below:
1. **Ubuntu 14.04**
   Less white area, since it's transparent. And the transparency is set.
   ![virtualbox_ubuntu-14](https://cloud.githubusercontent.com/assets/1421861/12474259/6a210b84-c04c-11e5-8b7b-72fd1822f7d5.png)
2. **OSX*

[2016-01-21 08:04] #2529 closed

[2016-01-21 08:09] Gustry opened #2588 "QgsNetworkManager shows useless warning message"
# Problem
Since InaSAFE is using QgsNetworkManager in the OSM downloader, even if the user got the shapefile correctly, QGIS shows some warnings like this after a few seconds :
![qgis3](https://cloud.githubusercontent.com/assets/1609292/12474582/91cc8aee-c01c-11e5-8af3-f3b452c80904.png)
You can change the timeout in the QGIS settings :
![selection_001](https://cloud.githubusercontent.com/assets/16

[2016-01-21 10:22] samnawi opened #2589 "[Realtime] Location / Placenames for EQ realtime"
This afternoon, I've a quickchat with Ibu Dian from Pusdatinmas BNPB.
This is the conclution for our conversation :
- **For location of epicentrum**
  She gives the suggestion to use the information accordingly with BMKG.
  Maybe we can extract the information from this link http://data.bmkg.go.id/gempaterkini.xml
  ![image](https://cloud.githubusercontent.com/assets/8871958/12477382/cd1f3f02-c061

[2016-01-21 10:46] ismailsunni commented on #2235
Update:

After looking at the file's history, see: https://github.com/inasafe/inasafe/commits/develop/safe/impact_functions/earthquake/itb_earthquake_fatality_model/impact_function.py

@cchristelis has fixed it on 25 August 2015, with his commit 0e064c2b1c8f06f4ba389d01dbe6ddbd6f32f336

But, on 9 September 2015, there is this strange huge commit: https://github.com/inasafe/inasafe/commit/90c718b5f

[2016-01-22 04:43] #2235 closed

[2016-01-22 09:51] Charlotte-Morgan commented on #2589
thank you @samnawi - this is a good approach.
@lucernae - are you able to automatically real from the *.xml file to report the same place name as BMKG?

[2016-01-22 10:40] timlinux commented on #2531
![selection_005](https://cloud.githubusercontent.com/assets/178003/12508430/8f12c80c-c104-11e5-9ac9-4a9d49b65845.png)

Regarding the block on the right, I did a manual analysis in QGIS and all of the values in the area on the right are under 1m. So it seems normal for me that it does not show any impact there.

[2016-01-22 11:00] timlinux commented on #2531
Hi @samnawi @Charlotte-Morgan and @Gustry

Etienne and I spent quite a bit of time digging into this. I believe this ticket should be closed as a non-issue unless I am missing something.

1) The Areas pointed to by the arrows is a symbology issue where pop counts < 1 per cell are drawn transparently.
2) The area on the right is a bit strange in the data - there is a very linear cut-off north south

[2016-01-22 11:14] timlinux commented on #2419
@adissadis This is just classical interpolation effect. Consider this diagram taken from wikipedia:

![](https://upload.wikimedia.org/wikipedia/commons/c/c6/Bilininterp.png)
https://en.wikipedia.org/wiki/Linear_interpolation

You can see that the cells in the center of the diagram are influenced by the cells in the corners (which are the basis for interpolation.

In 3.4 we will work to replace int

[2016-01-22 11:16] samnawi commented on #2531
yeah @timlinux I think this issue was fixed.
It's strange, because some user found this problem, but suddenly the problem is gone when we tried in the other day.
I just try again this IF, and can work properly.

![image](https://cloud.githubusercontent.com/assets/8871958/12509319/354fd3a2-c134-11e5-8ae8-2731ff7a111e.png)

Thank you.

[2016-01-22 11:21] timlinux commented on #2531
OK @samnawi thanks so much for the feedback, closing this out.

[2016-01-22 11:21] #2531 closed

[2016-01-22 11:33] timlinux opened #2592 "We should deprecate all usage or Interpolation"
# Problem

We get a lot of confusion / dissatisfaction when we produce results based on interpolated data. See for example  #2419

Here is a short breakdown of the issue:
## Figurative approach

When doing analysis with raster hazards, we commonly use interpolation to infer the impact levels on people or infrastructure on the underlying flood pixels. Why do we do that? Its because pixels edges in

[2016-01-22 13:06] #2410 closed

[2016-01-22 13:35] #1428 closed

[2016-01-22 13:36] ismailsunni commented on #1237
Done in #2542

[2016-01-22 13:36] #1237 closed

[2016-01-24 19:36] lucernae commented on #2589
- For location of the epicentrum
  @Charlotte-Morgan @samnawi I can extract the place name of earthquake epicentrum from BMKG's grid.xml file. But they usually doesn't have any standard. Sometimes they uses city name, sometimes province name. For example here we have "Malut", and in the other grid file we have "Sumatra Barat". The idea is to put these names as "Location Description" field in the r

[2016-01-24 19:40] lucernae opened #2594 "Now it is hard to see error log in Travis"
The log is too long to be displayed in Travis.
Perhaps something happen with the verbosity of the log?

[2016-01-25 06:53] ismailsunni commented on #2306
Short and easiest solution would be giving error message to the user if they input less than 0.1 km. We can also add it to the parameter description. Moreover, in radius 0.1 km, there won't be any building or population.

[2016-01-25 08:23] Gustry commented on #2594
@timlinux Can we do something on the QGIS side ?
@lucernae We can still use the raw log, it works.

[2016-01-25 11:03] samnawi commented on #2589
@lucernae
* For location of the epicentre
Maybe we can show it (the result) to BNPB, and see the feedback. How about you @Charlotte-Morgan ?
I think maybe we can use the current placename - geonames or the other (that we agree), but use the near location, not the biggest population as the location description like in this picture
![image](https://cloud.githubusercontent.com/assets/8871958/12548933

[2016-01-25 15:21] #2468 closed

[2016-01-26 09:01] Charlotte-Morgan commented on #2469
Hi @Gustry
For the evacuation-centers; may I suggest that we retain all fields in the data but change some of the field names to cope with the truncated fields. My suggestion is to replace the name in the Attribute Name column with the field name in the proposed name column.
![image](https://cloud.githubusercontent.com/assets/5743135/12576396/f5c4d51a-c445-11e5-91cf-6292b8105dd9.png)

@samnawi @ad

[2016-01-26 09:09] Charlotte-Morgan commented on #2469
Hi @Gustry - here is a suggestion for the floodprone data from the OSM downloader
same as above; please retain all fields and change the attribute name to that in the proposed name field.  I have no idea what SEND is - someone please fix this for me

![image](https://cloud.githubusercontent.com/assets/5743135/12576543/0bf9f5b2-c447-11e5-8008-8e65d2217e16.png)

@iyan31 or @adissadis - maybe you are

[2016-01-26 09:32] Charlotte-Morgan opened #2596 "Key Words Wizard: needs tweaks for population vector data"
The new vector flood and vector population data IF has created a new type of exposure data. The KW wizard needs some tweaks to cope with this new data type.

The following issues are noted when stepping through the wizard:
exposure
population
* continuous (@borys this wizard step need updating because it asks the wrong question about classified)
* count (update the description to include per pixel

[2016-01-27 07:57] iyan31 commented on #2469
I agree that the proposed name is simpler. This preset is specifically used during RT Mapping in 2014-2015. Flood send is what Indonesians usually mean as "banjir kiriman" meaning that the flood is originated from other place and they got the impact from it. For example when the flood happen in the upstream or from the higher place and some part of Jakarta also affected.

[2016-01-29 07:15] ismailsunni commented on #2594
Fix in #2597

[2016-01-29 07:15] #2594 closed

[2016-02-01 04:41] easmetz opened #2598 "bug:OSM downloader timing out"
# problem
The OSM downloader has been timing out for me.

# proposed solution
make it happy

# cc
@easmetz

[2016-02-01 04:45] Charlotte-Morgan commented on #2598
Hi @easmetz  - maybe you are trying a large area
do you get an error message or does it just hang?

[2016-02-01 04:47] Charlotte-Morgan commented on #2598
i think this is a user problem - test ticket only
Closing this ticket

[2016-02-01 04:47] #2598 closed

[2016-02-01 05:50] easmetz opened #2599 "bug:OSM downloader timing out"
# problem

The OSM downloader has been timing out for me. I have tried on my GA computer and my standalone laptop. I have tried different sized areas, down to a quarter of the size of the highlighted area in the attached picture.

# proposed solution

make it happy
try running it on a computer that is not connected to GA internet

cc

@Charlotte-Morgan
![osm_downloader](https://cloud.githubusercon

[2016-02-01 06:15] Charlotte-Morgan commented on #2599
Hi @samnawi - can you please take a look at this and see if you can replicate or if its a special GA issue. @easmetz - can you please confirm that you also tried on your GA wired connection.

BTW Iwan - Libby is the new GA spatial support person for our project. Iwan is the GIS officer based in Jakarta.

[2016-02-01 06:24] easmetz commented on #2599
@Charlotte-Morgan I can confirm I tried on both the GA wired connection and the GA wifi.

[2016-02-01 07:30] ismailsunni commented on #2599
I tried it using my internet, it's still working properly.
Hi @easmetz, perhaps you can try to do it by using non-GA connection (e.g. tethering from mobile phone)

[2016-02-01 09:27] samnawi commented on #2599
Hi @easmetz

Hi @ismailsunni I've tried in both of my machine (Ubuntu 14.01 and Windows 7), and it's work. But after the download data has been finished, I got the notification about network timed out.
![selection_072](https://cloud.githubusercontent.com/assets/8871958/12713343/964e0736-c900-11e5-82b2-191d3d963b18.png)

It's occured in Ubuntu and Windows machine, also in QGIS 2.8.6 and 2.12.3.
But

[2016-02-01 09:36] Charlotte-Morgan commented on #2599
@samnawi - good point. Thanks for checking this and your suggestion. @easmetz - you may want to see if the data downloaded correctly despite the error message and check out the time out settings.

[2016-02-01 13:33] Gustry commented on #2599
@samnawi This is a known issue #2588. I also have this message in my log panel, but also in QGIS GUI.
But if I understood the difference, @easmetz didn't get the data loaded in QGIS, right ? This message box stopped the download ?

[2016-02-01 21:29] timlinux commented on #2599
@easmetz also is QGIS configured to use your proxy nicely too? @easmetz great to have your bug reports by the way!

[2016-02-02 05:34] easmetz commented on #2599
@samnawi @Gustry @Charlotte-Morgan @timlinux @ismailsunni
Thanks for the tips everyone!

I tried a bunch of different approaches today and it ended up working but it is not clear why. To clarify, before trying these approaches no OSM information downloaded into the relevant directories when the timeout message appeared (i.e. the message box stopped the download as @Gustry said).

My method:

1) Fi

[2016-02-02 13:42] ismailsunni opened #2603 "Update Metadata XML Template"
Change from `English` to `eng`.
See here : https://github.com/inasafe/inasafe/blame/develop/safe/metadata/iso_19115_template.xml#L7

[2016-02-03 06:58] Charlotte-Morgan commented on #2599
hi @easmetz - glad its working.  Not sure if 3 above is explained by caching, but I would recommend keeping your proxy settings current and this may mean updating every time you change your GA password. Anyway, welcome to tickets - this is a great first ticket.  If the issue is resolve you can close the ticket.

[2016-02-03 09:56] Charlotte-Morgan opened #2604 "BUG: User extents error message"
# Problem
When I choose the analysis extent as the intersection of the hazard and exposure layers (Flood vector and population vector); i get the warning that there are no overlapping extents.

![image](https://cloud.githubusercontent.com/assets/5743135/12778837/97fa0ee8-ca97-11e5-9e10-73375d68c964.png)

However, this warning is not correct, the data do have overlapping extents.

# proposed soluti

[2016-02-03 10:15] timlinux commented on #2553
@Charlotte-Morgan

I don't think any:

https://github.com/inasafe/inasafe/commits/develop/safe/impact_functions/inundation/flood_raster_population/impact_function.py

(or was there a specific changeset you had in mind?)

[2016-02-03 10:24] timlinux commented on #2553
So I have been investigating further with a very small test set that replicates the issue) - the resampler is somehow magically assigning 147 to each cell:

![array view population_002](https://cloud.githubusercontent.com/assets/178003/12779387/61052f66-ca70-11e5-80c6-68a259b4b46a.png)

[2016-02-03 10:26] Charlotte-Morgan commented on #2553
I was not sure if you were planning to use this IF to test ideas for RFC #2473 - but maybe you know the meaning of 147.31914 :(

[2016-02-03 10:31] timlinux commented on #2553
Yeah it would be a good starting candidate for #2473. I am still busy debugging to see where the 147 comes from.

[2016-02-03 12:24] timlinux opened #2605 ".keywords should not supercede .xml metadata"
# Problem

In Develop I am having an issue where the keywords are changing when loading the layer in my test.

https://drive.google.com/a/kartoza.com/file/d/0B8Vft3QRhetbQWVaU01IcEo5UjQ/view?usp=sharing

I investigated a bit and found the error is actually mine because the .keywords were describing a population layer whilst the .xml metadata was describing a flood layer. It seems that on occasion

[2016-02-03 12:42] timlinux commented on #2553
So the above matrix was for cases where **allow resampling == true**. When resampling is disabled we get a matrix for the people layer like this:

![array view population_003](https://cloud.githubusercontent.com/assets/178003/12782507/673c32b2-ca84-11e5-87f1-5d12a69040f4.png)

[2016-02-03 14:53] timlinux commented on #2553
Note for self: 147 seems to be coming from the flood layer....

![layer properties - flood unaligned style_004](https://cloud.githubusercontent.com/assets/178003/12785738/9d851822-ca96-11e5-861b-ebf7b059db41.png)

[2016-02-03 22:56] #2599 closed

[2016-02-04 07:41] samnawi opened #2607 "[Realtime] Report button problem in Mozilla Firefox"
I got a problem with report button in http://realtime.inasafe.org/ when I access it using Mozilla Firefox. There is no respon when I click this button.
![image](https://cloud.githubusercontent.com/assets/8871958/12808799/5cc42394-cb4c-11e5-99c8-b304ed60252a.png)

But, this button work properly when I access using Chrome.

Thank you.

# CC
@lucernae

[2016-02-04 15:54] Gustry commented on #2469
I've updated the attribute table according to the table above. So I think I can close this issue.

[2016-02-04 15:54] #2469 closed

[2016-02-04 15:55] Gustry commented on #2163
I've updated the attribute table so I think I can close this issue.

[2016-02-04 15:55] #2163 closed

[2016-02-05 02:51] #2605 closed

[2016-02-05 04:38] Charlotte-Morgan opened #2609 "BUG: aggregation error with tsunami impact on buildings"
# problem
When running tsunami impact on buildings i get an aggregation error.

# environment
windows
QGIS 2.8.3
InaSAFE 3.3.0 dev

# data
Tsunami continuous raster
OSM buildings with type attribute
key words on  buildings layer (these were auto updated from 3.2)
![image](https://cloud.githubusercontent.com/assets/5743135/12838193/8d41763c-cbfd-11e5-98b3-58dbc6013419.png)
no aggregation data

note

[2016-02-05 06:06] Charlotte-Morgan opened #2610 "PAPERCUT: minimum needs wording"
# problem
the current minimum need statement : "relief items to be provided single" sounds strange

# proposed solution
would it be possible to replace the word 'single' with the word 'once' ?
This would make the statement in reports more relevant

[2016-02-05 07:18] Charlotte-Morgan opened #2612 "Tsunami impact on buildings: add values to map legend"
The tsuanmi impact on buildings has great notes explaining the different classes. There values are dynamic as users can change the class thresholds.

Is it possible to also include these value on the map legend :+1:
Dry zone: 0 m
low hazard zone: 0.1 - 1.0 m
medium hazard zone: 1.1 - 3.0 m
high hazard zone: 3.1 - 8.0 m
very high hazard zone > 8.0 m

[2016-02-05 07:24] Charlotte-Morgan opened #2613 "BUG: Default map template needs more metadata"
The default map needs to stand alone with sufficient information for users.

The following tsunami inundation map does not have sufficient information to inform someone looking at it what they are viewing.
![image](https://cloud.githubusercontent.com/assets/5743135/12840250/61f90ae6-cc14-11e5-9d7c-e3fb097a9022.png)
# proposed solution

the analysis information should include:
hazard type
exposure

[2016-02-05 07:28] #2609 closed

[2016-02-05 08:11] ismailsunni commented on #2610
The word is editable by user. But, for convenience, I have update the default value in my PR #2614

[2016-02-05 12:13] Gustry commented on #2604
@Charlotte-Morgan Is-it possible to get more details ? I can't replicate with vector on vector.
Is-it vector population on vector flood ?
Is-it possible to share your dataset ?

[2016-02-05 12:23] Gustry commented on #2588
The commit will fix this issue for QGIS >= 2.11.

[2016-02-05 12:29] Charlotte-Morgan commented on #2604
Hi Etienne
I've had this message with a number of scenarios. Today with maumere tsunami and OSM buildings. These data are available as standard training data.
Always in 3.3 dev. I think the original was vector on vector. Jakarta flood and population. These data have been shared previously.

Charlotte  Morgan
Spatial Data Analyst
DMInnovation - Jakarta
GEOSCIENCE AUSTRALIA

Mobile: +61 412 949642
M

[2016-02-05 12:35] Gustry commented on #2604
Thanks for the detail.
As you wrote your comment by email, you maybe didn't see my update in my previous comment. I was asking if you can check that you are using the good extent in the extent selector dialog ? (eg Use intersection of hazard and exposure layers) ?
I still can't replicate with Maumere.

[2016-02-05 13:03] Charlotte-Morgan commented on #2604
Yes I was.

Charlotte  Morgan
Spatial Data Analyst
DMInnovation - Jakarta
GEOSCIENCE AUSTRALIA

Mobile: +61 412 949642
Mobile: +62 8118204648

On 5 Feb 2016, at 7:33 PM, Etienne Trimaille <notifications@github.com<mailto:notifications@github.com>> wrote:

Thanks for the detail.
As you wrote your comment by email, you maybe didn't see my update in my previous comment. I was asking if you can check

[2016-02-08 02:42] ismailsunni commented on #2603
Today I learned that we need to add new line to text file, not only in code. http://stackoverflow.com/questions/729692/why-should-text-files-end-with-a-newline. Therefore, I added it.

[2016-02-08 03:50] samnawi commented on #2613
Hi @Charlotte-Morgan
As I know (correct me if I wrong), all of the elements in a map template uses a convention based approach.
I'm not see the convention to show what you mean in [here](https://github.com/inasafe/inasafe/wiki/Map-Composer-Templating).
In the previous, I've been post a comment on #1314. Do you mean like this ?
![image](https://cloud.githubusercontent.com/assets/8871958/12878128/9d

[2016-02-08 05:08] #2610 closed

[2016-02-08 05:08] #2612 closed

[2016-02-08 06:45] samnawi opened #2618 "Bounding Box in Analysis Area"
I just realized from this picture
![image](https://cloud.githubusercontent.com/assets/8871958/12879545/74aa40d8-ce67-11e5-88de-50a11e9ee43c.png)
Whether the value at the East column and West column in the bounding box is not reversed?
I think in the coordinate in the east column should bigger than west column.

I also found it at the bounding box in OSM Downloader
![image](https://cloud.githubuser

[2016-02-08 07:53] #2588 closed

[2016-02-08 09:55] Charlotte-Morgan commented on #2604
Hi @Gustry
Back and my desk and having another look at this. I was concerned that maybe i was bogged down in the flood vector on pop vector PR when I saw this message.
However, I can confirm the issue.

# operating env
Windows & GQIS 2.8.3
InaSAFE 3.3 cd7c751 (refreshed today)

# Data
Maumere tsunami raster
OSM buildings

# Error
when "use intersection of hazard and exposure layers" is selected

[2016-02-08 10:24] Charlotte-Morgan commented on #2618
## problem confirmed
In Indonesia we are south of the equator and east of Greenwich.
the north coord should be smaller than ie less south than the south coord
and
the west coord should be smaller than ie less east than the east coordinate

## proposed solution
+1

[2016-02-08 10:29] Charlotte-Morgan commented on #2488
@fredychandra @samnawi  - lets go talk with our friends in BPBD DKI - ya?

[2016-02-08 10:35] Charlotte-Morgan commented on #2469
thanks @Gustry

[2016-02-08 10:37] Charlotte-Morgan commented on #2553
well spotted

[2016-02-08 13:44] Gustry commented on #2618
Thanks for the report. This has been fixed in https://github.com/inasafe/inasafe/pull/2619

[2016-02-08 13:44] #2618 closed

[2016-02-08 20:47] Gustry commented on #2604
I made a commit above to fix the problem when you are using `Use intersection of hazard and exposure layers`.
However, for the second screenshot, it's the normal behaviour. The user extent overlaps the exposure and the hazard extents :
![bf71b14a-ce86-11e5-8f36-74b1fce06bc7](https://cloud.githubusercontent.com/assets/1609292/12898472/24209db0-cead-11e5-8c0d-9cf9f65088f0.png)

[2016-02-09 04:14] ismailsunni commented on #2553
Hi @timlinux
In case you haven't realised about it.
Your unit test in your branch is not working because, the `hazard_geo_cell_size` > `exposure_geo_cell_size`. See https://github.com/timlinux/inasafe/blob/inasafe-2553/safe/impact_functions/base.py#L881

hazard geo cell size:  0.000806068257796
exposure geo cell size:  0.000453413394994

[2016-02-09 04:44] ismailsunni commented on #2553
Output from `clip_parameters` function:

No resampling:
[code]
With resampling:
[code]
Only cell_size and resolution are very different.

[2016-02-09 09:58] Charlotte-Morgan opened #2623 "Python Error: when adding key words to a GeoJSON data link"
For fun I tried to assign key words to the petajakarta flood data link
https://rem.petajakarta.org/banjir/data/api/v2/rem/flooded

I got through all steps and then got this message :

[code]
probably no one else would try this - but should we expect to be able to work with live data feeds in the desktop ??

#cc
@timlinux @ismailsunni @lucernae @samnawi

[2016-02-10 06:24] easmetz opened #2624 "AttributeError: 'NoneType' object has no attribute 'xMinimum'"
# problem

When I try to run an IF for tsunami (roads) on the GA computer I get the following python error and then QGIS crashes

[code]
_environment_:
Windows, Maumere dataset, InaSAFE Nightly

Using the same data and environment I do not get this problem on my standalone laptop (which connects to GA wifi).

# cc
@Charlotte-Morgan

[2016-02-10 06:31] easmetz commented on #2624
![image](https://cloud.githubusercontent.com/assets/16660099/12940343/1b68b106-d01c-11e5-99a0-4785fb376837.png)

[2016-02-10 07:11] Gustry commented on #2624
This error should be fixed with this PR : https://github.com/inasafe/inasafe/pull/2621
I'm waiting for it to be merged.

[2016-02-10 07:16] Charlotte-Morgan commented on #2624
Hi @easmetz  - this is nothing to do with GA computer. As I mentioned it sounds like the extent selector issue I was telling you about. once its merged a refresh of your nightly builds will fix it.

[2016-02-10 23:14] MattJakabGA commented on #2623
Hi @Charlotte-Morgan and all. For your info I am getting the same error message when I try to assign keywords to a 2-class hazard GeoTIFF stored in a Windows directory. I'm using the current plugin and QGIS version, and have been seeing this since yesterday.

[2016-02-11 07:28] Charlotte-Morgan commented on #2623
Hi @MattJakabGA
Great to hear from you and get your comment on this ticket. In my case above, I suspect I would not be able to do what I was trying to do, but maybe would prefer a nice error message.
In your case, if teh data are stand alone, i would expect you to be able to be able to add key words. You will need write access to the location for new files to be written. Alternatively, you are wor

[2016-02-11 10:52] timlinux commented on #2473
![imag3606](https://cloud.githubusercontent.com/assets/178003/12974640/33e89230-d0be-11e5-90d4-7d3ee79b56b2.jpg)

This was I brain storming session I had with myself :-)

[2016-02-11 10:52] timlinux commented on #2473
haha with wifi password included free :-)

[2016-02-11 13:54] Gustry commented on #2624
The PR has been merged in `develop`.
You shouldn't replicate this issue. Feel free to reopen if there is a problem.

[2016-02-11 13:54] #2624 closed

[2016-02-11 13:55] #2604 closed

[2016-02-12 13:52] Gustry opened #2626 "TypeError: sequence item 0: expected string, float found while running an IF"
# Problem
I'm trying to run an IF building on flood vector, but I'm getting this python error :
[code]
It works with the test dataset, but I'm working with my own dataset. I'm checking the problem.

[2016-02-12 16:31] Gustry opened #2628 "The IF doesn't use the good CRS according to input layers"
# Problem
In my project, I'm using layers in `EPSG:3857` only, with OTF off.

If I run an analysis, the impact layer is using `EPSG:54004`.
![selection_001](https://cloud.githubusercontent.com/assets/1609292/13012907/8f2268ac-d1ad-11e5-9bda-666157e10200.png)

Automatically, QGIS enables OTF (according to my QGIS settings), but my layers are still not overlapping properly.

However, if I manually u

[2016-02-12 17:22] Gustry opened #2629 "Buildings which overlap partially the flood are not affected"
# Problem

I'm working on a small test dataset with some buildings and floods. The red point is the centroid of my building.
![selection_003](https://cloud.githubusercontent.com/assets/1609292/13014677/5229ff20-d1b5-11e5-827c-1144733b4b6f.png)

If I run the analysis, only buildings with the centroid inside the flood will be marked as affected by the IF.
![selection_004](https://cloud.githubusercon

[2016-02-13 08:15] Gustry opened #2630 "Some IF don't show 'not affected' in the legend"
# Problem

In some IF, the `not affected` features are not shown in the legend. But we can see the `not affected` column in the report.

![selection_008](https://cloud.githubusercontent.com/assets/1609292/13022550/9d7496f2-d1e2-11e5-85f1-7f5bf0468cad.png)
# Proposed solution

I think it could be nice to have the same result in the legend compare to the report.
# PS

By the way, I'm wondering why t

[2016-02-13 08:22] Gustry commented on #2626
I'm using integers in my attribute table and InaSAFE expected some strings instead.

[2016-02-15 07:15] Charlotte-Morgan commented on #2507
@lucernae  - here is one we prepared earlier :)

[2016-02-15 07:22] lucernae commented on #2507
Thank's @Charlotte-Morgan :)
I'm still in the phase of recreating the template so it accepts variable.
I haven't touch the infographics yet, but I plan to discuss about it this week with @timlinux

[2016-02-15 07:23] Charlotte-Morgan commented on #2507
I think its fine to do the version without infographics for now

[2016-02-15 07:39] samnawi commented on #2507
@lucernae This is the [link](https://www.dropbox.com/s/6houkh4v1v4f9y0/Flood_RT_Template.qpt?dl=0) if you want to download the *.qpt

[2016-02-16 10:24] samnawi commented on #2495
@lucernae Please check in your email, I share you the vector population data (but still at village level --> just for testing)

Thank you.

[2016-02-17 03:25] ismailsunni commented on #2629
Perhaps this is duplicated of #2419

[2016-02-17 05:36] Gustry commented on #2629
In #2419, there are all using raster as a hazard layer. Yes, there is some interpolation when InaSAFE uses a raster layer.
But in my case, layers are only vector layers. So I don't think it's a duplicate as my scenario is not using interpolation.

[2016-02-17 11:22] samnawi commented on #2589
Hi @lucernae

Please check your email, I sent you a link to download the placenames to support the EQ realtime.
Or, you can also download in [here](https://www.dropbox.com/sh/ibhodjntetcfcg1/AABAtobVTWZ3sxeTOD0rPVLpa?dl=0)

@Charlotte-Morgan it just for testing or we can use it with some disclaimer :
1. The data source --> 2010 Population Census (499 district).
2. Use urban data from 2010 populati

[2016-02-18 10:27] #2623 closed

[2016-02-18 13:24] timlinux commented on #2419
I have removed blocker for now - at teh moment we need to explain to people how to interpret the results, meanwhile in 3.4 we will work towards replacing such interpolation with direct value lookups which should resolve this issue.

[2016-02-18 14:04] #2626 closed

[2016-02-18 18:33] Gustry commented on #2473
Clipping using Processing for flood on buildings (using flood classes) : https://github.com/Gustry/inasafe/tree/processing

You can make some non-rectangular analysis if you use an aggregation layer. You can use some selected features for the area. Check `Use only selected features` in the processing settings.

[2016-02-19 02:31] ismailsunni commented on #2553
From master.
Output from `get_clip_parameters` function:

No resampling:
[code]

With resampling:
[code]

It seems, from develop and master branch, the output of clip parameters are the same for both cases.

As far as I know, the `allow_resampling` value is only used in this clip_parameter method. So, it's really strange.

[2016-02-19 04:23] ismailsunni commented on #2553
For easier debugging and testing, I move the TestDockRegressions in separated file, and added it to master branch.
- Develop based: https://github.com/ismailsunni/inasafe/blob/fix_2553_hair_loss/safe/gui/widgets/test/test_dock_regressions.py *all pass
- Master based: https://github.com/ismailsunni/inasafe/blob/master_2553_hair_loss/safe/gui/widgets/test/test_dock_regressions.py *one failed test

[2016-02-19 05:06] Charlotte-Morgan commented on #2491
@heriwaseo
welcome to the ticket we have for Realtime ash discussion. I still need to add the information @adelebearcrozier provided from your workshop :)

[2016-02-19 06:18] Charlotte-Morgan commented on #2491
I am sharing the information received from @adelebearcrozier following the ash modelling workshop held in Melbourne in January 2016. Anjar, Nugi and Adele put some considerable thought on the type of volcanic ash impact analysis and how they would like to share this with the community. Please note: we are talking about volcanic ash impact on the ground and not on flight paths or aviation.

The fol

[2016-02-19 14:39] ismailsunni commented on #2553
Update of the tale...

After cornering the bug, I found out that there is something strange in `setup_impact_function` method in analysis.py. See https://github.com/ismailsunni/inasafe/blob/master_2553_hair_loss/safe/utilities/analysis.py#L867 and https://github.com/ismailsunni/inasafe/blob/fix_2553_hair_loss/safe/utilities/analysis.py#L438

For both version (develop and master), they started with

[2016-02-19 16:19] ismailsunni commented on #2553
Finally, found the problem....

After looking deep down until raster.py, in `get_resolution method`, I found out that the resolution keyword is not stored. So, the problem lies when inasafe try to add extra keyword for resolution, in `_clip_raster_layer` in clipper.py.

After all, it was me when migrating the metadata..

Trying to fix it now...

[2016-02-19 16:27] ismailsunni commented on #2553
The problem is....
In one place, resolution accept a tuple as a valid type, and in the other place (in this clipper method) resolution is a float. Which is not good.

When I change the valid type to resolution, it works again. But, I need to make sure that the other usage of resolution is not affected.

At least, now we know where is the problem...

[2016-02-21 21:59] Gustry opened #2636 "Python error when adding a WMS"
# Problem
When I add a WMS layer, InaSAFE throws an exception :
[code]

Just for information, this is my layer source :
`contextualWMSLegend=0&crs=EPSG:4326&dpiMode=7&featureCount=10&format=image/jpeg&layers=Roads&styles=default&url=http://127.0.0.1/qgisltr?MAP%3Dtest.qgs`

[2016-02-22 04:28] samnawi commented on #2495
Just update from discussion with BPBD DKI Jakarta :
**Population Data**
- BPBD DKI will check to Civil and Citizen Agency for the right data.
- DMI and BPBD DKI Jakarta agreed to use population data at village level for now, until we've correct data at RW level.

**Map Template**
- For map template at #2507 will be discussed first by BPBD staff before give the feedback.
- BPBD DKI asks DMI to try

[2016-02-22 06:19] #2553 closed

[2016-02-22 07:50] ismailsunni commented on #2519
Been addressed in #2551, closing this.

[2016-02-22 07:50] #2519 closed

[2016-02-22 07:56] ismailsunni commented on #2543
All issues have been addressed in #2551, closing this...

[2016-02-22 07:56] #2543 closed

[2016-02-22 07:57] ismailsunni commented on #2603
Addressed in #2616, closing this now...

[2016-02-22 07:57] #2603 closed

[2016-02-22 07:58] ismailsunni commented on #2596
Closing this, been addressed in #2551.

[2016-02-22 07:58] #2596 closed

[2016-02-22 09:01] samnawi commented on #2438
As an email that i've sent to @lucernae on 17 Feb'16.
Just put in here, for note in this issue, link to download placename with population data.
https://www.dropbox.com/sh/ibhodjntetcfcg1/AABAtobVTWZ3sxeTOD0rPVLpa?dl=0

And I agree with your proposed to calculate distance from the epicenter location.

Thank you.

[2016-02-22 10:25] ismailsunni opened #2637 "Update Experimental with Develop"
### Problem
Currently we have some failed tests (https://github.com/inasafe/inasafe/pull/2631#issuecomment-184135856) and the land cover IF is not working properly.
We also need to update the experimental branch with latest develop.

### Expected Behaviour
All tests are passed and land cover IF works again.
Experimental branch update with develop

### Environment
\-

### Proposed Solution
- [x] Me

[2016-02-22 20:24] lucernae commented on #2438
@samnawi I raised some questions after reading and trying to understand these files.

- If we use this, do we ditch the old population data? (the raster one)
- there are 2 population data, in district polygons we will use total population in that district, then in district city points, we use estimated population in that city points.
- CMIIW, are district polygons data used to calculate affected p

[2016-02-22 20:38] lucernae commented on #2438
@samnawi also some comments from your statement.

I tried to calculate the distance from location provided in grid.xml and the epicenter location. But in reality, sometimes grid.xml does not contains city names of nearby location, for example, it contains PAPUA BARAT, MALUKU UTARA, or something similar along those lines. If this is the case, then I tried to calculate nearest cities myself and use

[2016-02-23 05:20] samnawi commented on #2491
## 1. Data Conversion and classification

- Convert from .asc to .tif
- Because the availability of Impact function in InaSAFE just for _Classified Hazard_, so the hazard must be classified in the keyword. There is a problem if we not reclassified it first like in this picture.
![screenshot_21](https://cloud.githubusercontent.com/assets/8871958/13241552/b1a23384-da1e-11e5-9b46-5dec583ff04f.png)
In

[2016-02-24 01:29] lucernae commented on #2507
![impact-map-en](https://cloud.githubusercontent.com/assets/831865/13272537/6f6ade88-dacf-11e5-9d76-551f8d970118.png)

This is our current implementation generated PDF report. @timlinux @Charlotte-Morgan at least now I know some basic of QGIS Composer programming, so feel free to evolve the design.

Some notes are:
- [ ] I forgot to ask @samnawi to give me images of DKI Jakarta logo, BNPB, North a

[2016-02-24 01:35] lucernae commented on #2589
@Charlotte-Morgan @timlinux @samnawi I've seen the data source. It seems we need to refactor a lot of code to be able to use the data of vector population. I'm trying to develop it so we can have these two methods running at the same time to compare it for now.

[2016-02-24 01:48] lucernae opened #2642 "Impact Function Upgrade to Support InaSAFE Realtime Processor"
### Problem

Because we had some new data to use for Realtime Shake and Flood, we know that some current impact function is insufficient to handle those data.

### Expected Behaviour

Develop/upgrade/extend new/existing Impact Function to handle these new data

### Proposed Solution

The following combination and condition can't be handled yet:

- [ ] Classified Vector Earthquake - Continuous Vect

[2016-02-24 08:44] adelebearcrozier commented on #2491
Re: 5 classes versus 3 classes. If possible we would prefer to keep the 5 classes as the breaks in these classes are following conventions being set internationally and we want to be consistent. Happy to discuss further.

[2016-02-24 10:49] samnawi commented on #2507
@lucernae This is the [link](https://www.dropbox.com/sh/hp95w71yy7rhg9r/AABlAnzCXhRfhkQ3UCgJzqUxa?dl=0) to download a couple of logos that you mean.

For the supported logo, we still wait a feedback from BPBD DKI about it.

Thank you.

[2016-02-24 13:24] ismailsunni commented on #2637
All tasks done. Closing this.

[2016-02-24 13:24] #2637 closed

[2016-03-01 06:48] samnawi commented on #752
@Charlotte-Morgan Can we closed this ticket? I see this ticket is for milestone 3.3, but I think the solution of this ticket was represented by ticket #1314 that has been closed.

For the future, I think we can focus on infographic #1775

Thank you.

[2016-03-01 07:14] samnawi commented on #761
@ismailsunni to respond your comment, as the comment from @Charlotte-Morgan in above, I think for reorder issue has been done.

Maybe just a paper cut issue to make tidier the color box for like the picture in above.

Thank you.

[2016-03-01 11:00] samnawi commented on #1252
Hi @Charlotte-Morgan
According to Tsunami Hazard Zone from Badan Geologi
![selection_085](https://cloud.githubusercontent.com/assets/8871958/13425103/4d524afe-dfd7-11e5-8128-bc3664873273.png)
I've tried to symbolized the tsunami hazard map like this
![selection_084](https://cloud.githubusercontent.com/assets/8871958/13425129/6b18b74e-dfd7-11e5-9121-c1ccfd15d987.png)

Is it OK?

[2016-03-02 08:43] samnawi commented on #1216
@ismailsunni :+1 for you to make it happen all of the task in your list.

- [ ] Calculate the affected area by the hazard per type of land
- [ ] Calculate the percentage for each type of land

also a task from @Charlotte-Morgan

I've tried it last week, and this is the result.
![image](https://cloud.githubusercontent.com/assets/8871958/13452850/4287b94a-e07e-11e5-86c3-9ab259207110.png)

![image](h

[2016-03-02 20:56] lucernae opened #2651 "InaSAFE Realtime Shakemap cross referenced with BMKG Website"
### Problem

We want to cross reference shakemap list from BMKG website here:
http://www.bmkg.go.id/BMKG_Pusat/Gempabumi_-_Tsunami/Gempabumi/Gempabumi_Terkini.bmkg
especially for critical magnitude. This allows several functions:
- we can be sure that the grid is (or not yet) delivered
- we can annotate the process, is it processed, still processing, failed or we can put some additional comments

[2016-03-02 21:09] lucernae opened #2652 "InaSAFE Realtime EQ: Failed to process non intersected hazard and exposure"
### Problem

- Correct clipped Exposure was failed to be produced when the hazard doesn't intersect current population raster (outside Indonesian boundary)
- ITB Fatality IF failed to process empty exposure (where hazard and exposure is not intersected and contains NaN value).

### Expected Behaviour

- Provides a bigger/wider population raster so BMKG grid.xml is always inside our population rast

[2016-03-03 04:59] samnawi commented on #2652
@lucernae So, the problem is because the epicenter in the middle of the ocean?
The shakemap is not intersecting with population data, because there is no population in there.
But, if I see the latest aftershock, the location is farther than the first earthquake (that not appear in the realtime)

My question :
1. How wide the coverage of BMKG shakemap? Is it different from one EQ to the other?
2. A

[2016-03-03 08:05] lucernae commented on #2652
Yes, after looking at the latest shakemap it appears to be much farther. I'm not sure then. Maybe the problem actually in the clipper. I should take a look then.

[2016-03-04 02:56] fredychandra commented on #1216
In think for first strike this analysis result is good. It provides basic information for how many total area of landcovers are affected by hazard. In the future, it would be nice if the result can only choose relevant existing landcover that impacted by hazard (depend of hazard type). For example for flood, the result should only show how many area of rice field (sawah), crops related landcover a

[2016-03-04 09:07] ismailsunni commented on #2636
I am trying the WMS from http://mesonet.agron.iastate.edu/cgi-bin/wms/iowa/rainfall.cgi?. The keyword wizard is not enabled. And the dock shows an error, not finding `layer_purpose` in its keyword. And the error is appended to the keywords table from the previous selected layer.

It's quite different with what you got @Gustry .

Btw, it seems your WMS layer source is not valid. Or is it valid?

[2016-03-07 09:12] timlinux commented on #2652
@lucernae Can you give an update on this? We should treat it as high priority please.

[2016-03-08 10:31] lucernae commented on #2652
I found the problem! I misunderstood some numpy functions. So it appears all value becomes NaN, because it was being added by NaN. So, we should filter NaN first and replace it with 0.

[2016-03-08 10:42] Charlotte-Morgan opened #2660 "Tsunami on road: notes"
# problem
The tsunami IF on roads has a default value of 0.7 but the notes say that roads are unundated when water levels exceed 1.00m
![image](https://cloud.githubusercontent.com/assets/5743135/13599395/46508800-e555-11e5-8b92-9ce0e6cc3642.png)

# proposed solution
This needs to be updated and since the inundation depth is a parameter that can be assigned by the user; the notes should maybe inclu

[2016-03-08 10:55] samnawi commented on #2652
OK @lucernae.
It sounds good.

[2016-03-09 03:33] easmetz opened #2662 "Realtime EQ contour smoothing"
# problem

InaSAFE EQ realtime needs to have its contours smoothed for display. However, the number of people exposed to different shaking levels should be estimated from the raw (not smoothed) data.

e.g.

map-raw
![image](https://cloud.githubusercontent.com/assets/16660099/13627330/c2f0b664-e61d-11e5-8e82-da0052540f4e.png)

map-smooth
![image](https://cloud.githubusercontent.com/assets/16660099/

[2016-03-09 10:01] Charlotte-Morgan commented on #2660
hi @ismailsunni
Looking again - it looks like the default is 1.0m and that Tsunami impact on roads is still using the flood impact function. No idea what I saw yesterday :(

The notes also have a dynamic value already .. so I am closing this ticket as there is no issue.

[2016-03-09 10:01] #2660 closed

[2016-03-09 10:04] Charlotte-Morgan commented on #2662
Hi @easmetz - thanks for writing this ticket.
Can you please ask Hadi to send his code that he has available?

# cc
@lucernae - I think this one is for you

[2016-03-09 10:26] Charlotte-Morgan commented on #1427
hi @ismailsunni

This ticket requires a new tsunami on road impact function. the thresholds should be the same as the building impact function as per #1428 - please see the comment above from Nov 27 2015.

All tsunami IF (population, buildings and roads) should also reference the source of the expertise for the thresholds also provided in #1428

@timlinux - this is why I have given the thumbs down

[2016-03-09 10:27] Charlotte-Morgan opened #2663 "BUG: Tsunami on buildings"
The following problem is reported in the tsunami impact on buildings analysis.

[2016-03-09 10:32] Charlotte-Morgan commented on #1251
hi @ismailsunni & @timlinux - we need to get this fixed and into 3.3 please

[2016-03-09 10:33] Charlotte-Morgan commented on #2361
@samnawi - can you please look at this and see if it can be closed?

[2016-03-09 10:33] Charlotte-Morgan commented on #1252
this looks nice - lets make it happen

[2016-03-09 10:35] Charlotte-Morgan commented on #1160
hi @vdeparday - we have new tsunami IF in the pending 3.3 release. It would be great if you can review and add comments if this is still relevant

[2016-03-09 10:36] Charlotte-Morgan commented on #2094
@samnawi  - can you please look at this with the tagged version of 3.3 and if its ok now we can close this ticket

[2016-03-09 10:45] Charlotte-Morgan opened #2664 "BUG: Wizard does not recognise tsunami hazard as continuous raster"
# problem
when using the IFCW to look at tsunami raster  on population raster  (ie standard Maumere data) the user is offered 3 IF options - classified raster, continuous raster and tsunami evacuation function.

When standard maumere continuous raster tsunami hazard and continuous raster population data are in QGIS with keywords; if the user selects the continuous raster IF option, the wizard says

[2016-03-10 06:40] Charlotte-Morgan commented on #2589
@lucernae - i think you may misunderstand the use of the population data supplied. Lets discuss

[2016-03-10 07:30] timlinux commented on #2663
@Charlotte-Morgan is there a bit more info missing here?

[2016-03-10 07:32] Charlotte-Morgan commented on #2663
:( yes

[2016-03-10 07:40] timlinux commented on #2664
Ok I just tested and I can replicate here. Looking into why it is the case.

[2016-03-10 07:44] timlinux commented on #2664
I also noticed that even though the IF is selected fine in the dock, the run button is disabled.

<img width="346" alt="screen shot 2016-03-10 at 09 42 41" src="https://cloud.githubusercontent.com/assets/178003/13662620/950d7084-e6a4-11e5-9cbe-1f96657a370d.png">

[2016-03-10 07:44] Charlotte-Morgan commented on #2663
Apologies - this addtional information should have been included in the original report.

The following problem is reported in the dock when the IF is run using the IFCWizard. It is not fatal.
I do not get this problem reported if I run directly from the dock.
![image](https://cloud.githubusercontent.com/assets/5743135/13662613/673dac58-e6ce-11e5-935d-59609fa1ecd6.png)

[2016-03-10 07:50] Gustry commented on #2663
This error is fixed in the PR https://github.com/inasafe/inasafe/pull/2661

But for master, I can make a patch.

[2016-03-10 07:58] Charlotte-Morgan commented on #2663
ok - great. thanks @Gustry

[2016-03-10 08:12] timlinux commented on #1252
Can we close this out @samnawi ?

[2016-03-10 08:14] samnawi commented on #2361
@adissadis I think because your road classification just "other". So, the total of affected road have same number with "other".
 @Charlotte-Morgan I think it's already good for Flood and Tsunami raster, but I still have a few question for flood vector VS roads, as explain in this picture.
![selection_089](https://cloud.githubusercontent.com/assets/8871958/13663210/7c39a892-e6d2-11e5-80a4-4dc321c15

[2016-03-10 08:16] samnawi commented on #1252
OK @timlinux

[2016-03-10 08:21] Charlotte-Morgan commented on #2361
@samnawi - thanks for the update
It looks like the IF and post processing are counding different features and different units.
The IF is reporting meters for all road types
the post processing is counting number of features and only some features.

This needs work as we integrate the aggregation into the IF - @Gustry

[2016-03-10 08:27] timlinux commented on #2361
From my side I took a look at the roads aggregator. It inherits from buildings and thus is doing feature counts for its aggregation. I discussed this with @Charlotte-Morgan - we think it make far more sense to rather report on length(m) of each road type affected. This I propose we:

Move some of the logic in ``safe/postprocessors/building_type_postprocessor.py`` into ``safe/postprocessors/road_ty

[2016-03-10 08:32] Charlotte-Morgan commented on #2369
handing this over to you @Gustry - it is a similar issue to other road tickets #2361

[2016-03-10 08:41] timlinux commented on #2369
@Gustry We need to remove all the nasty hard coded type stuff in the aggregators. In the long term we want to move this logic into the IF main run loop and only iterate once.

For the short term I would like to propose that we do this:

Modify both ``safe/postprocessors/building_type_postprocessor.py`` and ``safe/postprocessors/road_type_postprocessor.py``  to use a utility function (we have it al

[2016-03-10 08:44] timlinux commented on #2369
@Gustry ok I chatted more to @Charlotte-Morgan - I think we must rather work straight away on the 'proper' solution - let the user do concept mappings in the keywords wizard and read from that.

[2016-03-10 08:46] timlinux commented on #2369
So in the wizard we will have a screen where they users maps the different unique classes to known concepts (Medical, Religious) etc. That metadata would then be read by the aggregation logic to determine how to group things.

[2016-03-10 09:41] samnawi commented on #2094
I've tried the IF, and I think the result id good.
![selection_091](https://cloud.githubusercontent.com/assets/8871958/13665157/8b5d265e-e6dd-11e5-9da2-2ea492a75cba.png)

@Charlotte-Morgan Just the question, what is the background so we decided 0.7 as the default?
I think in the real world, in any depth inundation from tsunami, I'm pretty sure (_it just my opinion - please correct if I wrong_) peo

[2016-03-10 10:01] Charlotte-Morgan commented on #2094
Professional advice from Pak Hamza - tsunami expert

[2016-03-10 10:24] Charlotte-Morgan commented on #2589
hi @lucernae - i have checked with @samnawi and this is the intention.
In EQ realtime - If i am not mistaken, there are 2 calculations.
1. raster on raster with the eq IF to calculate the people affected. this uses shake map and world pop and generates the people affected results by MMI.
2. places affected and the number of people in those places. this uses Geonames and generates the table of plac

[2016-03-10 10:28] Charlotte-Morgan commented on #2642
Real time earthquake will not use classified earthquake vector hazard.  Realtime eqrthquake uses continous raster data for a single event.  Most vector hazard data for earthquake is classified multi event. This is not suitable for realtime analysis.

[2016-03-10 10:35] timlinux opened #2666 "We need a tsunami impact on roads impact function"
### Problem

We need a dedicated IF for tsunami on roads with specific thresholds as per tsunami on buildings.

### Expected Behaviour

### Environment

### Proposed Solution

Please see
 * https://github.com/inasafe/inasafe/issues/1427
 * https://github.com/inasafe/inasafe/issues/1428

1. create a new package in impact_functions/inundation called tsunami_raster_road
1. copy test package from impa

[2016-03-10 10:45] lucernae commented on #2589
Ok, It is a lot clear now. I should just replace the geonames. I think it would not need a lot of refactor.

Another follow up questions, if you take a look at the current realtime.inasafe.org, we already uses Location Description provided in the shake grid.xml of BMKG. But, if we compare it with this one:
[BMKG Recent Quake > 5.0](http://www.bmkg.go.id/BMKG_Pusat/Gempabumi_-_Tsunami/Gempabumi/Gem

[2016-03-10 11:20] samnawi commented on #2589
@lucernae Maybe tomorrow I can help to check it with Ibu Dian. Because one of the proposed from Ibu Dian is the placenames should refers to BMKG.

[2016-03-11 04:05] Gustry commented on #2361
Values are rounded, so they are not exactly the same, but now, both are counting the same unit (meters) :
![selection_055](https://cloud.githubusercontent.com/assets/1609292/13693018/1b1cb7a0-e779-11e5-98a3-7b9ff6580197.png)

[2016-03-11 04:11] Gustry commented on #2663
It has been fixed in master (3.3)
For develop (3.4), I'm waiting the merge of my PR #2661

[2016-03-11 04:11] #2663 closed

[2016-03-11 08:08] Charlotte-Morgan opened #2669 "BUG: PetaJakarta downloader py error"
# problem
the following error occurred when I try to download PetaJakarta data

[code]

this then leaves QGIS in a spin :(

[2016-03-11 08:34] timlinux opened #2670 "We need to move the PDF generation to the IF"
Currently the PDF is generated in the dock or in realtime's logic. We need to move all this logic to the IF base class.

[2016-03-11 08:50] timlinux opened #2671 "We need to represent the impact summary as data not markup"
Currently we produce html reports for the impact summary. We need to move this over to producing JSON (geojson) and store that with the

[2016-03-11 08:53] timlinux commented on #2671
In the JSON we will have

* impact summary table
* aggregation table
* notes
* actions
* etc.

[2016-03-11 09:34] timlinux opened #2672 "We need to deprecate safelayer class"
We should rather pass QgsMapLayer throughout and remove safe layers and raster and vector layers.

[2016-03-11 09:38] timlinux opened #2673 "We need a new panel in wizard for class assignments"
The idea is that if we have

* roads
* buildings
* in the future landcover

The user should map the concepts in the type column to known concepts. These will be used in aggregation.

There should be a simple ui similar to the wet / dry classification tree where the user drags type values from the left into the classification tree on the right.

[2016-03-11 09:38] Charlotte-Morgan opened #2674 "We need to review wizard text"
Hi @easmetz
I would like you to review all the wizard text to ensure that descriptions are clear and unique and that the user is guided well from one step to the next.

[2016-03-11 09:41] timlinux opened #2675 "We need to soft code class assignments in aggregation"
See #2673 - this metadata should be used in building and road aggregators to replace the hard coded classes.

[2016-03-11 09:42] samnawi commented on #2589
@lucernae I just have a chat with Ibu Dian, and discuss about the location description. I explains about the difference from 3 sources that you mean (shake grid, recent quake, and felt quake). She will follow up it to people from BMKG, because of the difference placenames and format from 3 sources.

Thank you.

[2016-03-11 10:48] borysiasty commented on #2673
/me will ask @Gustry for more info next week.

[2016-03-14 02:51] harrymahar opened #2676 "BUG: Can not add new item and edit for Minimum Needs Manager in QGIS Bahasa Indonesia"
# Problem
Add new item using InaSAFE minimum needs manager in QGIS using Bahasa Indonesia does not work.

# Detail
In InaSAFE Training last week in The National Development University, Yogyakarta, I taught participant to **adjust Minimum needs** for Flood Impact Function using **Minimum needs manager** tool. In this training we using QGIS in Bahasa Indonesia because participants think that would b

[2016-03-14 03:35] harrymahar opened #2677 "BUG: Building Impact Function for Volcano Hazard Point"
# Problem
Error to run building impact function for volcano hazard point

# Detail
In InaSAFE Training last week in The National Development University, Yogyakarta, I taught participant to run volcano impact function using InaSAFE. As usual, we told them that for volcano impact function they can using 2 types of vector hazard data for volcano. First one is using hazard polygon which is hazard zone

[2016-03-14 03:46] Gustry opened #2679 "KeyError while running Volcano points on Buildings"
### Problem
When running `Volcano points` on `Buildings` from default tests data, I got a `KeyError` exception :
[code]

### Environment
InaSAFE develop

[2016-03-14 06:47] samnawi commented on #2677
@harrymahar I think this problem occur because of the field that decided in the keyword has a "Null" value.
I've try to change the keyword from your data, decide new field in the keyword that don't have "Null" value, and the IF is working properly.
Also when I try to use the similar data from data.inasafe.org (working properly), and then I try to change the keyword to the field that have "Null" va

[2016-03-14 07:28] samnawi commented on #2676
yeah @harrymahar I also found this problem in my computer.
Also when I try to edit the english minimum need at QGIS with Bahasa language, the problem is occur.

`Terjadi kesalahan ketika menjalankan kode Python:

Traceback (most recent call last):
  File "/home/kurnia/.qgis2/python/plugins/inasafe/safe/gui/tools/minimum_needs/needs_manager_dialog.py", line 543, in save_resource
    parameter.name

[2016-03-14 07:54] harrymahar commented on #2677
Yeah I think solution from @samnawi is great solution for this problem because we cannot avoid this situation especially if we use OSM buildings as exposure data. In OSM data some fields including amenity will automatically "NULL" if there is no information added in it when we digitize it to OSM.

However, HOT Indonesia at the moment working on OSM Indonesia presets that will be used in our OSM ma

[2016-03-14 08:44] lucernae opened #2681 "ClassifiedPolygonHazardPolygonPeopleFunction failed to process flood hazard"
### Problem

Hazard:
[hazard.zip](https://github.com/inasafe/inasafe/files/171584/hazard.zip)

Exposure:
[Exposure.zip](https://github.com/inasafe/inasafe/files/171586/Exposure.zip)

Run impact function with ClassifiedPolygonHazardPolygonPeopleFunction.

Analysis failed with stack trace:

[code]

### Expected Behaviour

The analysis should run successfully.

[2016-03-14 09:06] timlinux commented on #2681
Looking here thanks

[2016-03-15 03:44] Charlotte-Morgan commented on #2491
Hi Martin -  @wonder-sk - welcome to the discussion. This ticket has volcanic ash realtime user requirements. Martin will be working up the volcanic ash on land cover IF. This will be the first implementation of landcover analysis.

[2016-03-15 03:49] Charlotte-Morgan commented on #2491
Hi @adelebearcrozier
I have asked the team here to review the ash data your team developed. I have a couple of questions now that we are getting the developers on board with this one.
The ash data you  supplied is raster with 1km cell size. Do you anticipate the final ash data to be the same or would it be possible to provide something with a smaller cellsize or maybe vector data ie contoured data

[2016-03-15 08:20] Charlotte-Morgan opened #2682 "We need smart road impact reports"
Can we improve the way road impacts are reported to users? Do the current road classes reflect user requirements? Do we need all the classes or can they be grouped? Will changing the grouping and order of classes affect the truncation of reports?

@samnawi - please make this a priority to review all tickets that mention 'road' and come up with a suggestion for the way we report on the new tsunami

[2016-03-15 08:22] Charlotte-Morgan commented on #2682
#2231 #2106  #2373 etc - check these out

[2016-03-15 08:25] timlinux commented on #2682
Please cc @Gustry in to replies

[2016-03-15 11:54] samnawi commented on #2682
I've already doing rapid comparison from road classification from BIG (SNI 19-6502.2-2000 --> the website still down), PU - Ministry of Public Work ([RSNI T-14-2004](http://www.pu.go.id/uploads/services/service20130717123737.pdf)), the [wiki openstreetmap ](http://wiki.openstreetmap.org/wiki/Map_Features#Highway) and also from Indonesia [Openstreetmap](http://wiki.openstreetmap.org/wiki/Id:Jalan).

[2016-03-16 15:01] timlinux opened #2684 "Exception importing EQ grid"
### Problem

Using this grid.xml:  https://t.co/Lgmqcx9DRm

We get this error when using the grid.xml importer in InaSAFE desktop

[code]

### Expected Behaviour

No crash on import

### Environment

### Proposed Solution

[2016-03-16 15:02] timlinux commented on #2684
# CC

@ismailsunni - I think it is keywords related

[2016-03-17 00:40] ismailsunni commented on #2684
hi @timlinux
So, I just found this.
The travis build said everything is passing. In fact, only not the tests that are marked as not slow which run by the travis.
And the `test_convert_grid_to_raster` that test the functionality of this error has failed. I ran it manually from my local pycharm. In fact, there are 4 failed test in the file.
So, we need to include all not slow test to the travis. But

[2016-03-17 02:55] ismailsunni commented on #2684
I made a PR to see if travis can run without filtering the not slow one. And it seems it's working without exceeding the time limit. I think we can run the full test now in travis.
The PR #2685
The travis build for the PR : https://travis-ci.org/inasafe/inasafe/builds/116531894#L2352 *it got one failed test.  But strangely, it's the different error with this bug.

[2016-03-17 04:29] Charlotte-Morgan opened #2686 "Py error: Flood Vector on Pop Vector"
The following error occurred:
Env: Windows, InaSAFE tagged version 3.3.0
Data: jakarta flood poly and Jakarta vector population (as supplied by Iwan as test data)

Error message

[code]

[2016-03-17 04:46] Charlotte-Morgan commented on #2686
This was caused by a missing key word.

Proposed solution - implement the happy warning routine.

[2016-03-17 05:04] Charlotte-Morgan opened #2687 "RFC: Thoughts on Flood Vector on Flood Poly with implications for flood realtime"

[2016-03-17 05:34] Charlotte-Morgan commented on #2507
Note: the template map provided for flood realtime predated the existence of any available flood data and the dots on the map do not relate to the flood polygon backdrop :)

[2016-03-17 10:32] #2361 closed

[2016-03-17 13:06] timlinux opened #2689 "The PetaJakarta Downloaded styles should match PJ Website"
### Problem

The currently implemented styles for downloaded PetaJakarta data are inconsistent with  those hosted on http://petajakarta.org

### Expected Behaviour

Styles should look more like this:

![selection_004](https://cloud.githubusercontent.com/assets/178003/13846694/afe02520-ec51-11e5-952d-55bc9d369ac3.png)

### Environment

### Proposed Solution

Tim make the styles look the same

[2016-03-17 14:16] timlinux opened #2691 "Improvements to Tsunami impact on roads report"
### Problem

Tsunami on roads still has a few issues in its reporting:

![selection_006](https://cloud.githubusercontent.com/assets/178003/13848411/56487cde-ec5a-11e5-96fa-be02d0ac1629.png)

![selection_007](https://cloud.githubusercontent.com/assets/178003/13848413/590b555e-ec5a-11e5-9d4a-555bac885d2f.png)
### Expected Behaviour
- Units should be explicit
- Table headings should span all columns

[2016-03-17 14:17] timlinux commented on #2691
See also #2680

[2016-03-17 14:18] timlinux commented on #2691
For the first image above the (m) might be better asa suffix to column headers rather than row headers.

[2016-03-18 03:55] Gustry commented on #2691
See comment : https://github.com/inasafe/inasafe/pull/2680#issuecomment-198193826
Some fixes are in master : https://github.com/inasafe/inasafe/commit/56a7ef1965de2f63dced204a19b297e34c50280e

Need to frontport to develop

[2016-03-18 20:09] timlinux commented on #1251
Just pinging on this - is there still something that needs doing here?

[2016-03-21 12:04] Gustry commented on #2691
Good evening @Charlotte-Morgan and @timlinux
How would you like to highlight some columns in the table ? (inundated roads)

[2016-03-22 11:00] Gustry commented on #2691
So everything has been fixed, except the highlight.

[2016-03-22 21:49] timlinux commented on #2684
Thanks for your investigation in this @ismailsunni - do you have any further thoughts @lucernae ?

[2016-03-23 01:52] Charlotte-Morgan commented on #1251
we need the text in the right file. I'm not sure if we have identified the right place for it to go. I also have the reference for the logic in the tsunami IFs.
the reference is:
Papadopoulos, Gerassimos A., and Fumihiko Imamura. "A proposal for a new tsunami intensity scale."  ITS 2001 proceedings, no. 5-1, pp. 569-577. 2001.

[2016-03-23 04:50] Charlotte-Morgan opened #2696 "List of EQ realtime bugs"
hi @easmetz  - could you please compile a list of all the bugs / issues I gave you for earthquake realtime, link them to the other tickets and please check that the people mentioned are able to supply the relevant information.

[2016-03-23 23:27] easmetz commented on #2662
@hadighasemi would like a very jaggy contour to be provided as an example for him to write code for. (he has misplaced his original code.)

also he would like to know if python or GMT is preffered.

[2016-03-24 00:58] easmetz opened #2697 "Realtime EQ filtering on the website"
@samnawi could you please add your feedback to this ticket on filtering on the website. In particular your feedback on MMI, timeframe and number of records.

[2016-03-24 01:05] easmetz opened #2698 "EQ Realtime - feedback on Indonesian disclaimer on the report page"
@adelebearcrozier, Anjar and Nugi have supplied feedback on the Indonesian disclaimer on the report page for EQ Realtime.
## cc

@samnawi could you please check what we have as existing disclaimer wording?
@adelebearcrozier do you have any specific feedback from the volcanic ash team?

[2016-03-24 02:05] Charlotte-Morgan commented on #2662
hi @samnawi - please find a good example of realtime eq reports with jagged contours. Then get the shape files and share with hadi please.
@hadighasemi - please supply something in python - thansk

[2016-03-24 02:05] Charlotte-Morgan commented on #2662
#1201 - this has been around for a while

[2016-03-24 02:06] Charlotte-Morgan commented on #2662
see #1201

[2016-03-24 02:08] Charlotte-Morgan commented on #2697
We have received some feedback from users about the way EQ events are listed on the realtime page. The feedback related to the number of records shown etc as above.

@lucernae  - grateful if you can tweak the interface once you get the details of the feedback

[2016-03-24 02:10] Charlotte-Morgan commented on #2696
Hi @lucernae  - this is for you. I have asked @easmetz to practice writing tickets. Please fix these bugs when the details come through

[2016-03-24 06:18] samnawi commented on #2697
Hi @easmetz If we look at the earthquake realtime hazard website, I think too many information in there. So, the user will confuse to looking for the latest destructive earthquake, the latest earthquake felt, or something like that. All of them mixed in one place.
If we look at BMKG website, they just show the 60 last earthquake and 20 last earthquake felt. They separate it.
From my perspective, t

[2016-03-24 06:26] samnawi commented on #2696
I add some

- [ ]  [Realtime] Report button problem in Mozilla Firefox #2607
- [ ]  InaSAFE Realtime EQ: Failed to process non intersected hazard and exposure #2652
- [ ]  InaSAFE Realtime Shakemap cross referenced with BMKG Website #2651

[2016-03-28 01:53] lucernae commented on #2697
Do we also want to separate the earthquake list in realtime?
What about the number of points in the map? Now it is based on the total filtered shake.
Do we want to reduce its number too?

[2016-03-28 06:31] timlinux commented on #2691
Discussed with Etienne - we will wait for Qt table implementation for dock reporting for doing things like highlighting the flooded columns.

[2016-03-28 09:05] lucernae commented on #2607
Fix is on the way....

[2016-03-28 15:19] timlinux opened #2700 "We need a new analysis extents mode to support cases where entire exposure must be used"
### Problem

Currently with flood polygons on population we can get hard to read reporting because the report shows population numbers for only those census areas that intersect with the hazard.

One way to address this is to add a new extent selector option that will run the analysis at the extent of the exposure layer, thus ensuring that all exposure polygons are included in the population calcu

[2016-03-28 15:39] timlinux commented on #2700
See https://github.com/timlinux/inasafe/tree/fix-2700

[2016-03-29 11:27] samnawi commented on #2697
@lucernae For the number of point in the map, I think its better to show based on the filter. So the people not to difficult to find the newest event in the map.

For the future :
Could we also coloring and sizing the symbol based on the magnitude and depth / the time of an event (.... days/weeks ago)?

[2016-03-30 03:16] timlinux opened #2702 "We need to review the context help text in the OSM downloader dialog"
### Problem

The OSM downloader dialog help text could use a peer review.

<img width="644" alt="screen shot 2016-03-30 at 10 15 01" src="https://cloud.githubusercontent.com/assets/178003/14130857/5bc6b3fa-f660-11e5-9f55-a9b038dd8f9a.png">

### Expected Behaviour

The help text should be clear and meaningful.

### Environment

All platforms

### Proposed Solution

@easmetz could review the text an

[2016-03-30 04:58] #2702 closed

[2016-03-30 06:17] easmetz opened #2704 "Review of all dialogues"
## Problem

A review needs to be done of all the dialogues in InaSAFE wizard tools, and the help sections.

## Proposed Solution

@easmetz to conduct review and provide feedback

## Progress

- [x] Dock help
- [x] Options
- [x] Minimum Needs Configuration
- [x] Set Analysis Area (extent_selector_help) 31/2/16
- [x] OSM downloader help

![image](https://cloud.githubusercontent.com/assets/16660099/1

[2016-03-30 08:29] Charlotte-Morgan commented on #2272
hi @easmetz  - as discussed.
handing this to you. Please check our definitions and if a UNISDR definition exists, we should update and reference the source.

I think the file is definitions.py
#cc @timlinux  - please confirm the file

[2016-03-30 08:40] Charlotte-Morgan commented on #1251
hi @easmetz  - this one too.

All the info is supplied above; its just a matter of finding the right files to put it in and checking it appears where you want it to :)

[2016-03-30 08:47] Charlotte-Morgan commented on #1624
Hi @easmetz - this is the datamodel conversation. This needs to get moved to a wiki page :)

[2016-03-30 08:48] Charlotte-Morgan commented on #186
@easmetz - FYI

[2016-03-30 08:48] Charlotte-Morgan commented on #422
@easmetz  - here is another one for you

[2016-03-30 08:51] Charlotte-Morgan commented on #2687
@easmetz - FYI

[2016-03-30 10:23] lucernae commented on #2507
@Charlotte-Morgan @samnawi
Currently generated map:
Still needs some works on positioning and some issues with the qgis version used (the one that caused all the population being shown).

![impact-map-en](https://cloud.githubusercontent.com/assets/831865/14139192/c88b37fa-f69b-11e5-9c84-f891b65e530e.png)

What is needed, next:
- [ ] Black logo of inasafe (I currently used white one)
- [ ] Disclaim

[2016-03-30 11:27] Charlotte-Morgan commented on #2507
Hi @lucernae
Logo: you already have Jaya Raya and BPBD DKI logos at the top of the page. Please use the InaSAFE supporters logo at the bottom of the page. This it the combined BNPB Australian Aid and WB - GFDRR as on the InaSAFE dock in QGIS.

Data Sources:
1. Hazard Data
Flood: BPBD DKI Jakarta / PetaJakarta.org
2. Exposure Data
Population: Population Agency DKI Jakarta Prov.

Contacts: @samnawi

[2016-03-31 04:53] lucernae commented on #2507
Currently generated map
![impact-map-en](https://cloud.githubusercontent.com/assets/831865/14165800/2178a8a2-f737-11e5-9429-4d343cbd74f4.png)

Note that:
- I decreased font size for Disclaimer and contact to make it fit.

[2016-04-05 05:20] Nikki-Akvo opened #2713 "InaSAFE Plugin Installation error message"
### Problem
Issues with installation of InaSAFE plugin. Noted that the guide here: http://docs.inasafe.org/en/user-docs/install.html defines the parameters as ?qgis=2.0, however in the QGIS plugin manager the parameters are ?qgis=2.14 (see attached)
![screenshot 2016-04-05 15 09 55](https://cloud.githubusercontent.com/assets/17992731/14271966/9c5f5544-fb41-11e5-9809-366ff8677fb3.png)
 also the err

[2016-04-05 05:23] #2713 closed

[2016-04-06 02:24] fredychandra commented on #1216
Please find the fcode description on the link below :

https://drive.google.com/file/d/0B_gC8poAYEteNFVQQklrOVJCTXl3TklMWjduYkw2NGhCdEI4/view?usp=sharing

[2016-04-06 03:45] timlinux commented on #2491
Hi @adelebearcrozier

We are doing our work planning for ASH realtime. I think the first port of call is for us to understand the hazard data. Could you provide some details about where ash data is published? Also will additional details such as plume height be available with the ash data feed?

[2016-04-06 03:52] timlinux commented on #2491
For ease of reference I am adding the above PDF reports as images here:

<img width="574" alt="screen shot 2016-04-06 at 10 17 37" src="https://cloud.githubusercontent.com/assets/178003/14305260/b814ba88-fbe4-11e5-8d1d-46ae74802caa.png">

![Uploading Screen Shot 2016-04-06 at 10.31.52.png…]()
<img width="1237" alt="screen shot 2016-04-06 at 10 30 42" src="https://cloud.githubusercontent.com/assets

[2016-04-06 05:10] timlinux commented on #2491
We had a good meeting with @Charlotte-Morgan @fredychandra and @samnawi today, so here is my take on the requirements in terms of data inputs:

Dataset | Notes | Source
------------ | ------------- | --------
Event ID | We need an event id to uniquely reference each report. It could simply be YYYY-MM-DD-HH. | Generated if not available externally
Alert level | This is the general volcano hazard al

[2016-04-06 06:57] lucernae opened #2714 "Impact Report InaSAFE Realtime Flood"
Flood:
- remove border from flood hazard
- grayscale the base map
- give thin border to population impacted
- population affected class is rounded
- show district boundaries (Jakarta Timur, Jakarta Barat, Jakarta Utara)
- Use HTML table for disclaimer (justified) and Analysis Result

[2016-04-06 09:04] timlinux commented on #2455
Discussing this again here with @samnawi - he is proposing to not show exposure class columns and rather show hazard level counts in the report.

[2016-04-06 10:10] timlinux opened #2715 "We need to turn report mixins into simple classes"
### Problem

We just had a long discussion with @wonder-sk and @Gustry about the use of reporting mixins. Short version is that the consensus is that it would be better to rather implement the reporting as classes that you do not inherit from in the impact function and rather be used as simple object instances that you configure with the impact results and then request a report from.

This will pr

[2016-04-06 10:51] adelebearcrozier commented on #2491
Hi @timlinux , @Charlotte-Morgan , @fredychandra and @samnawi ,
Its great to see all of this progress. I will attempt now to answer your questions but i am available on skype to flesh them out further:

@Charlotte-Morgan - " _The ash data you supplied is raster with 1km cell size. Do you anticipate the final ash data to be the same or would it be possible to provide something with a smaller cellsi

[2016-04-07 03:39] lucernae opened #2717 "InaSAFE Realtime Earthquake backlog issues"
### Problem

Regarding InaSAFE Realtime Earthquake
Some of the issues discussed with @samnawi :

- [ ] BMKG shakes sometimes inconsistent:
      - [ ] Coming very late (may up to 2 hours late)
      - [ ] Incorrect shake id if compared with event time (example: event id 20160406150255 but event time actually 2016-04-06 21:45:28, also arrived late)
      - [ ] Past shakes sometimes coming (new shak

[2016-04-07 04:26] wonder-sk commented on #2715
Actually it does not even need to be a class per report (there's nothing else to call apart from 'get output' method) - a simple function would do:
[code]

[2016-04-07 08:58] ismailsunni commented on #2679
I tried it in my laptop, and it's fine. It is usually fine.
Can you give more details? Or can you run it, and see if it's still failing?

[2016-04-07 11:07] #2607 closed

[2016-04-07 11:07] #2652 closed

[2016-04-07 11:07] #2681 closed

[2016-04-08 03:08] ismailsunni commented on #2673
The steps:
1. @borysiasty will add new step in the wizard to map the exposure. You can find the list of the mapping value in here https://github.com/inasafe/inasafe/blob/develop/safe/postprocessors/building_type_postprocessor.py#L40 (for building, you can find the other in the _similar_ python files.
2. @ismailsunni to make it sure the keywords is working properly
3. @Gustry will use the value map

[2016-04-08 04:33] timlinux commented on #2673
Here are the current classes we map to:

### Buildings:

* Medical
* Schools
* Places of worship (I think we should rather change this to 'Place of worship'
* Residential
* Government
* Public Building
* Fire Station
* Police Station
* Supermarket
* Commercial
* Industrial
* Utility
* Sports Facility
* Other

### Roads

* Motorway / highway
* Motorway link
* Primary road
* Primary link
* Tertiary

[2016-04-08 04:56] timlinux opened #2718 "Keywords error for PostgreSQL database layer"
### Problem

I am trying to set keywords on a database layer. This used to work pre 3.3. Now I get this error:

[code]
### Expected Behaviour

We should be able to set keywords for database layers without error.
### Environment

OSX using postgres.app for database backend, InaSAFE develop
### Proposed Solution

@ismailsunni please investigate.

[2016-04-08 04:57] timlinux commented on #2718
Its also a side effect of trying to convert stuff to read layer....

[2016-04-08 05:04] timlinux commented on #2718
I should add that besides this error, the keywords are properly stored in the sqlite keywords db and recognised by InaSAFE:

<img width="1359" alt="screen shot 2016-04-08 at 12 00 31" src="https://cloud.githubusercontent.com/assets/178003/14374579/9eeacbc6-fd81-11e5-99da-9b520ed25b32.png">

[2016-04-08 05:05] timlinux commented on #2718
Another note that when I try to run the IF, I get the same traceback as above again:

[code]

[2016-04-08 10:14] borysiasty commented on #2673
@ismailsunni @timlinux @Gustry - as I understand the only solution (apart from hardcoding ;) ) is to read the maps every time from BuildingTypePostprocessor.field_values and RoadTypePostprocessor.field_values. Some day maybe we'll move them to the metadata, but for now this is the way to go, isn't it?

[2016-04-08 11:32] samnawi commented on #1216
As the agree from the last discussion, especially to support realtime volcanic ash #2491, I've already given @lucernae the landcover data at 1 : 250,000 scale.

For the remember, if we download the landcover data from http://tanahair.indonesia.go.id/home/, there are 3 scale level of the data.
1 : 250,000 and 1 : 50,000 available for whole of country.
1 : 25,000 just available for Java, Bali, and N

[2016-04-08 11:34] samnawi commented on #2491
I've bee given @lucernae the landcover data at 1 : 250,000 (national level) and also the location of the airport. All of the data was downloaded from http://tanahair.indonesia.go.id/home/

Thank you

[2016-04-08 12:20] borysiasty commented on #2673
@ismailsunni @timlinux @Gustry - After some thinking (and working) I guess we can directly use the existing classification (mapping) step. From wizard's point of view the situation is almost identical. I only see one difference: for hazards, the available classifications are defined in impact functions and returned by ImpactFuctionManager (thus there may be multiple classifications available for g

[2016-04-08 16:32] borysiasty commented on #2673
@timlinux - in your list of classes for roads you didn't include
 - Track
 - Cycleway, footpath, etc
 - Other
that are definded in the RoadTypePostprocessor. Did you omitted them intentionally? I implemented just reading the exact mapping from the Postprocessor.

[2016-04-10 23:17] Charlotte-Morgan commented on #2491
Thanks Adele.
Iwan will continue to discuss ash data formats etc with you and will liaise with developers.

Charlotte  Morgan
Spatial Data Analyst
DMInnovation - Jakarta
GEOSCIENCE AUSTRALIA

Mobile: +61 412 949642
Mobile: +62 8118204648

On 6 Apr 2016, at 5:48 PM, Dr Adele Bear-Crozier <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @timlinux<https://github.com/timlinux> ,

[2016-04-11 11:04] wonder-sk commented on #1216
For implementation of land cover IF - see #2709

[2016-04-11 20:56] timlinux commented on #2675
Assigning first to @borysiasty, then assign to @ismailsunni for keywords, then to @Gustry for processing update.

[2016-04-12 10:17] felix-yew opened #2720 "QGIS 2.14: some problems to analyst the Tsunami IF"
### Problem
Error to run roads impact function for tsunami IF.

I have to tested the road data in Ambon from OSM. When I try to run analysis, an error occured.
![eror2](https://cloud.githubusercontent.com/assets/13621886/14456786/e2d67c0c-00d0-11e6-9653-a30bec4f369a.png)

### Data sample
https://drive.google.com/folderview?id=0B331jyeL4DkVWXg1ZWNEd1ZWaUU&usp=sharing (you can choose osm_road)

###

[2016-04-12 10:22] samnawi commented on #2720
I also got the same problem fro this issue when I ran it at InaSAFE 3.3.1.
But, when I try to downgrade to InaSAFE 3.2.6, the IF could run very well.
![image](https://cloud.githubusercontent.com/assets/8871958/14457164/e0f53778-00d2-11e6-8dd5-71320b45feae.png)

Whether this issue has occurred because the new feature in Tsunami IF?

### CC
@ismailsunni @timlinux @fredychandra

[2016-04-12 11:23] Gustry commented on #2720
Is it possible to share with us the hazard layer?
As I don't have any raster on that area, the IF doesn't run because my layers doesn't overlap.

FYI, Github now accepts zip file in each comment with a drag&drop.

[2016-04-12 14:01] felix-yew commented on #2720
Sorry, I forgot to attach the Hazard. Here it is:

[Hazard_Ambon.zip](https://github.com/inasafe/inasafe/files/215142/Hazard_Ambon.zip)

Thank you.

[2016-04-14 09:58] airving61 opened #2723 "Minidump error on closing QGIS 2.14.1 Essen after InaSAFE 3.3.1 installed"
### Problem
I receive a minidump error on closing QGIS 2.14.1. Uninstalling InaSAFE 3.3.1 solves the problem.
### Expected Behaviour
QGIS should close without a minidump error
### Environment
Windows 7 Pro 64bit
QGIS 2.14.1 64bit
InaSAFE 3.3.1 sourced from QGIS plugin repository
### Proposed Solution

[2016-04-14 10:18] Gustry commented on #2723
Can you give us this minidump error ? (screenshot, text ...)

[2016-04-14 10:24] airving61 commented on #2723
Attached is a screenshot and a zipped version of the dump file. Hope it helps Thanks.
![2016-04-14_11h19_36](https://cloud.githubusercontent.com/assets/17354350/14524978/28bdcdc0-0233-11e6-9a60-251a86dee050.png)

[qgis-20160414-111922-9212-9296-ea85bef.zip](https://github.com/inasafe/inasafe/files/218888/qgis-20160414-111922-9212-9296-ea85bef.zip)

[2016-04-14 13:33] airving61 opened #2724 "InaSAFE Intermediate Ex. errors: Python error"
### Problem
I'm trying to work my way through the InaSAFE tutorial exercises, the Basic Exercise went OK, but the [Intermediate Exercise]  (http://docs.inasafe.org/en/training/socialisation/run_intermediate_inasafe.html) part 1  has thrown up a Python error and an OSM downloader error (the latter listed separately)
### Expected Behaviour
Running the application after defining the relevant keywords

[2016-04-14 14:04] airving61 opened #2725 "InaSAFE Intermediate Ex. errors: OSM Downloader error"
### Problem
Whilst going through the [Intermediate Exercise] (http://docs.inasafe.org/en/training/socialisation/run_intermediate_inasafe.html) part 2. A using data over Jakarta there is a stage where you are required to download buildings (as polygons) and roads (as lines) from OpenStreetMap. Instead of the expected behaviour the following message appeared:
![2016-04-14_13h27_36](https://cloud.git

[2016-04-14 17:49] zeppyshiddiq commented on #2720
Hi All,

I've also got same problem, for temporary until fixes i use below method.
- Add manually Road_Class_Field in keyword xml generated by Keyword Creation Wizard, in line 233
![image](https://cloud.githubusercontent.com/assets/10391199/14537589/d11bd6a6-02a1-11e6-81b2-9aec09989927.png)
and replace line 197.

Keyword xml generated from OSM downloader is perfect

- Change CRS of all layers to E

[2016-04-15 02:24] Gustry commented on #2725
This problem occurs only with QGIS 2.14.1.
InaSAFE 3.3.2 will be released soon, this bug has been fixed (https://github.com/inasafe/inasafe/commit/2f080f7a2b64b3b44b94fb8eb209dff9c5dfd0b5)

CC : @timlinux

[2016-04-15 02:24] #2725 closed

[2016-04-18 10:04] timlinux commented on #2670
The method should take optional template name

[2016-04-18 10:06] timlinux commented on #2670
[code]

Can use a default report when none is provided. Will use the current state of the canvas for report extents.

[2016-04-18 10:06] lucernae commented on #2670
List of TODO:
- [ ] The IF should be able to create Map Report and Table Report from two different function
- [ ] The dock will be able to call the IFs print function in a dialog.

[2016-04-18 10:09] timlinux opened #2728 "We need to disable or fix scrutiniser"
So we added scrutiniser to improve our QA but we never really got it configured right. I suggest to either disable it or fix it and configure it nicely.

[2016-04-18 20:47] timlinux commented on #2491
Hi @adelebearcrozier

Just a note to say thanks for the volcanos table you provided - that will indeed be useful.

In terms of moving forward, I think it might be good to schedule a time to chat on Skype if you are available. I am on GMT+2 (South Africa time) for the next few weeks and @lucernae & @samnawi  are on GMT+7 - so it might be difficult to find a time where one of us doesn't have to stay

[2016-04-19 02:06] ismailsunni commented on #2720
Hi @felix-yew and @samnawi
I have made a fix in #2729.
The problem is the IF has wrong metadata. Previously, it was `structure_class_field` and I have changed it to `road_class_field`.
You need to re-assign the keywords for the road layer, then you can run it as before again.

[2016-04-20 00:49] ismailsunni commented on #2720
Checked by @felix-yew and @ivanbusthomi. Released in 3.3.2. Closing this.

[2016-04-20 00:49] #2720 closed

[2016-04-20 02:57] samnawi commented on #2673
I've tried to regroup the roads in this [comment](https://github.com/inasafe/inasafe/issues/2682#issuecomment-196786570). I consider regrouping the road classification based on my comparison of some regulation in Indonesia and OSM features.

[2016-04-20 12:04] timlinux commented on #2673
@borysiasty Ok I think that is fine - we will no doubt want to tweak the list based on @samnawi 's feedback anyway. What would be ideal is if the list is defined in definitions.py or somewhere central.

[2016-04-20 18:57] borysiasty commented on #2673
@samnawi @timlinux: i made a temporary definitions file: https://github.com/borysiasty/inasafe/blob/develop/safe/gui/tools/wizard_metadata.py
I guess @ismailsunni will  be moving it to definitions.py some day ;), in the meantime feel free to edit it.

[2016-04-21 06:18] ismailsunni commented on #2673
@samnawi @timlinux @borysiasty
Yes, for the final list, we should consult with @samnawi or @Charlotte-Morgan. If possible, we should have also the description for each class, and the Bahasa Indonesia's term for each of them also. We should also do it for the structure.

@samnawi do you think you have resource to do it? Does the list in https://github.com/inasafe/inasafe/issues/2682#issuecomment-19

[2016-04-21 12:09] samnawi commented on #2491
Hi @timlinux I've prepared some data in google drive. You can access the folder in [here](https://drive.google.com/open?id=1WXNpgn556dsP7sUBKFfReDflW6nHd-eD198OhJBfTJw).

Note :
If I'm not wrong, for land cover data, we use at 1 : 250,000 for the national level not 1 : 25,000. It's also according to 1km x 1km for from ash hazard pixel size.

I still prepare the DEM / hill shade data for the backgr

[2016-04-21 12:51] timlinux commented on #2642
Closing this as the issue is not relevant.

[2016-04-21 12:51] #2642 closed

[2016-04-21 12:54] ismailsunni commented on #626
hi @timlinux and @lucernae
I think we can close this ticket after the new realtime website have covered up everything. Much better actually.

[2016-04-21 12:54] #626 closed

[2016-04-21 13:08] timlinux commented on #2662
@lucernae We could maybe use this approach:

http://stackoverflow.com/a/33125541/3849375

We would need to convert the line vertices into arrays and back again to a geometry. At the time of writing the realtime there was no handy smoothing function in QGIS. we since do have some so I would suggest first trying with the QGIS line generalisation API and see if you can find a useful approach there. I

[2016-04-21 13:09] timlinux commented on #2662
Note that it is not really feasible to use the example in the stackoverlow link above as it uses scipy which is not guaranteed to be installed and we can't easily bundle it.

[2016-04-21 13:11] timlinux commented on #2662
We could also look at the code in this plugin: https://plugins.qgis.org/plugins/generalizer/

[2016-04-21 13:18] timlinux commented on #2662
This is what the Indonesian disclaimer currently looks like:

![screen shot 2016-04-21 at 15 17 32](https://cloud.githubusercontent.com/assets/178003/14710081/42b11196-07d4-11e6-96c6-152027b7253e.png)

There was previously a problem with the text being truncated, but this has since been fixed. Could you confirm if this text needs to be changed?

[2016-04-21 13:19] timlinux commented on #2698
This is what the Indonesian disclaimer currently looks like:

![screen shot 2016-04-21 at 15 17 32](https://cloud.githubusercontent.com/assets/178003/14710081/42b11196-07d4-11e6-96c6-152027b7253e.png)

There was previously a problem with the text being truncated, but this has since been fixed. Could you confirm if this text needs to be changed?

[2016-04-21 13:20] timlinux commented on #2698
@samnawi I assigned to you - can you validate the text and provide feedback if it needs to be changed, otherwise close this issue?

[2016-04-21 13:21] ismailsunni commented on #2728
I prefer to disable it first. Make it easier for us to see the PR's status in the list of PR page.

Btw, I have disabled it from scrutinizer (see https://github.com/inasafe/inasafe/pull/2734) . Feel free to fix the config and enable it again.

[2016-04-21 13:24] timlinux commented on #2696
Here is a more comprehensive list following a review of EQ issues with @lucernae

-[ ] Indonesian population data points and place names (#2589) @samnawi
-[ ]Reporting update request status to support cross referencing shake ID with BMKG website (to verify if there are new shakes from BMKG that we have not processed yet). We will do this by polling their service to check for new events.
* Quake ha

[2016-04-21 13:27] Gustry commented on #2728
Thanks Ismail for that. As the title says, I will just keep it open for me to fix scrutiniser later.

[2016-04-21 13:27] wonder-sk commented on #2662
If I understand correctly, the raw EQ data are in raster that is later converted to vector contours.

If that is correct - here are two simple approaches to make the contours smoother:
- simply downscale the raster to a lower resolution with GDAL and afterwards calculate contours; or
- add blur to the original raster by using GDAL virtual raster (and calculate contours on that virtual raster) - se

[2016-04-21 13:28] ismailsunni commented on #419
I think we have done it with Impact Layer Merger. From Impact Layer Merger's help:

Closing this...

[2016-04-21 13:28] #419 closed

[2016-04-21 13:39] timlinux opened #2735 "PetaJakarta returns a null for state"
### Problem

Sometimes PetaJakarta returns a null record for the state column which causes an exception in flood realtime. See http://sentry.kartoza.com/kartoza/inasafe-django/group/6239/

![screen shot 2016-04-21 at 15 37 01](https://cloud.githubusercontent.com/assets/178003/14710746/f58b8c72-07d6-11e6-8b0f-31f6b94f122f.png)

### Expected Behaviour

1. PetaJakarta should return a valid state only

[2016-04-21 13:49] timlinux commented on #2735
We suspect that the issue in the cartography is because of an underlying PetaJakarta issue - @lucernae to investigate - if not file a separate ticket about every Kelurahan having a dot even if it is not flooded:

![screen shot 2016-04-21 at 15 42 10](https://cloud.githubusercontent.com/assets/178003/14711043/1ef2efd2-07d8-11e6-8486-e65c8c4c9c4e.png)

See http://realtime.inasafe.org/media/reports/f

[2016-04-21 13:52] timlinux opened #2736 "We should render realtime PDF's as vectorised PDF not rasterised"
### Problem

When we get a report from Realtime we cannot cut and paste text from it. This is inconvenient and leaves one vulnerable to copy & paste errors.
### Expected Behaviour

If possible it would be nice to have the PDF's rendered as vectorised. The map would still be an image but the tables etc would be text that can be copy & pasted.
### Environment
### Proposed Solution

@lucernae to inve

[2016-04-21 13:55] timlinux opened #2737 "Analysis result etc. in flood realtime should be formatted in a table rather"
### Problem

In realtime the analysis results section can we please organise the data more nicely into a table

### Expected Behaviour

### Environment

### Proposed Solution

[2016-04-21 14:04] timlinux opened #2738 "The realtime flood landing page list should be more informative"
### Problem

The flood landing page is not very informative in the table. @samnawi or DMI team can you provide some input on to how to make it more useful. I am thinking the following:
- [ ] Remove interval column and rather add it as text in the description. e.g. `6 hour report for April 21, 2016 at 16h00`
- [ ] We need a download button for the hazard
- [ ] Search box makes no sense - better to

[2016-04-21 14:12] timlinux opened #2739 "Leaflet map in flood realtime should use same colour scheme as PetaJakarta"
### Problem

Having a different colour scheme for the flood realtime is confusing. We should follow the PetaJakarta scheme. Also we should make a legend for the map.
### Expected Behaviour
- Colours are consistent with PetaJakarta
- A legend on the map explains the colours
### Environment
### Proposed Solution

Take a look at how I made this legend here: http://kartoza.com/wms-legend-plugin-for-le

[2016-04-21 21:49] borysiasty commented on #2673
@ismailsunni I guess we can close this one (I don't have such permissions).

[2016-04-22 01:57] ismailsunni opened #2740 "Update Structure and Road Class Mapping"
### Problem
Currently we still use the old class for structure and road.

### Expected Behaviour
There is a proper class for structure and report.
Please refers the new structure class from https://github.com/inasafe/inasafe/pull/2721#issuecomment-212767381

And for road : https://github.com/inasafe/inasafe/issues/2682#issuecomment-196786570

@samnawi can you check whether the road is in final sta

[2016-04-22 01:59] ismailsunni commented on #2673
@borysiasty yes, we can.

The ticket for updating the mapping #2740
The ticket for soft coding the exposure #2675

[2016-04-22 01:59] #2673 closed

[2016-04-22 11:33] samnawi commented on #2740
Hi @ismailsunni I just have a quick discuss with @harrymahar, he says that the classification in this [link](http://wiki.openstreetmap.org/wiki/Id:Jalan) is still not in final status.
The BIG website already online again. In this [link on page 13 & 14](http://www.bakosurtanal.go.id/assets/download/sni/SNI/18.%20SNI%206502.2-2010%20Spesifikasi%20penyajian%20peta%20rupa%20bumi%2025.000.pdf), there i

[2016-04-22 12:35] samnawi commented on #2698
Hi @timlinux Is the validation just about the sentences or more than that? I think the Indonesian disclaimer is good, Is the validation just about the sentences or so? I think the Indonesian disclaimer already well as the English version.

[2016-04-26 04:41] Gustry commented on #2369
Work in progress in t the PR https://github.com/inasafe/inasafe/pull/2743

[2016-04-26 04:42] Gustry commented on #2675
Work in progress in t the PR #2743

[2016-04-26 06:28] Gustry commented on #2369
This seems to be a duplicate of https://github.com/inasafe/inasafe/issues/2370

[2016-04-26 11:43] samnawi opened #2744 "Different Result in Population IF at Master and Develop Version"
### Problem
When I run Population IF (Tsunami vector VS Population vector), using the same data (hazard and exposure), I found a different result.

This is the result in Develop version
![image](https://cloud.githubusercontent.com/assets/8871958/14816977/31377f1e-0bde-11e6-92e3-394d45b65cd1.png)

This is the result in Master
![image](https://cloud.githubusercontent.com/assets/8871958/14817026/77e2

[2016-04-26 12:21] ismailsunni commented on #2744
This is the data. @samnawi couldn't upload it here, so I helped him:
[Ambon.zip](https://github.com/inasafe/inasafe/files/236544/Ambon.zip)

[2016-04-26 12:56] samnawi commented on #2744
When I try to compare with Tsunami evacuation IF (Tsunami Raster VS Population Raster), the results approached the InaSAFE master.
![image](https://cloud.githubusercontent.com/assets/8871958/14818388/0efe0f4a-0be7-11e6-8544-0cea6fdd12d3.png)

FYI, the data that I use in this [comment (1st comment above)](https://github.com/inasafe/inasafe/issues/2744#issue-151112249) was generated from the raster

[2016-04-26 13:11] ismailsunni commented on #2744
The Tsunami Raster Data that @samnawi mentioned above: [Tsunami-raster-ambon.zip](https://github.com/inasafe/inasafe/files/236629/Tsunami-raster-ambon.zip)

[2016-04-27 01:49] ismailsunni commented on #2744
The regression is re-producible.
Actually, our test is not covering this regression, so I made a change to our data test for census layer. You can get the updated data test here : https://github.com/ismailsunni/inasafe/commit/23949ac09fbfdc91d86ff6c641b3019be695cedf

Here the result from master:
<img width="1304" alt="inasafe - 2744 - master" src="https://cloud.githubusercontent.com/assets/1421861

[2016-04-27 02:54] ismailsunni commented on #2744
I found the culprit, though I don't really understand the problem.
This line here :
https://github.com/inasafe/inasafe/blame/develop/safe/impact_functions/generic/classified_polygon_people/impact_function.py#L370

Do you remember why @lucernae ?

I got feeling that it may be a multipolygon. I added the check, and it comes back. PR will follow.

[2016-04-27 12:02] Gustry opened #2746 "Repeated figures in some reports"
### Problem
In the example below, the purple rectangles are exactly the same. In addition, if you don't use an aggregation layer, the red rectangles are repeated too.
![selection_072](https://cloud.githubusercontent.com/assets/1609292/14851283/11c04d52-0ca9-11e6-8af7-ef4334391205.png)

### Expected Behaviour
If we have less tables, it will make the report more readable for the final user.

### Pro

[2016-04-27 14:14] #2740 closed

[2016-04-28 06:46] ismailsunni commented on #2746
+1 for this.
Currently working in the impact data, and there are many duplication. I have successfully made myself confused.

[2016-04-28 21:49] timlinux opened #2749 "WP Plugins not working after update"
### Problem

I upgraded to WP 4.5.1. After upgrading some of the plugins are not working / upgradable.

<img width="1219" alt="screen shot 2016-04-28 at 23 30 50" src="https://cloud.githubusercontent.com/assets/178003/14902146/733c5cd8-0d99-11e6-9c62-076306f7c910.png">
### Expected Behaviour
### Environment
### Proposed Solution

@MariaSolovyeva can you please investigate and fix?

[2016-04-29 03:48] #2744 closed

[2016-04-29 03:51] Gustry opened #2750 "Flood on roads with an aggregation layer fails"
### Problem
I'm trying to run Flood on Roads with an aggregation layer but the IF raises an error.

![selection_073](https://cloud.githubusercontent.com/assets/1609292/14907778/bdc17e56-0df7-11e6-8a56-3fdbf288241b.png)

[code]

### Environment
* Flood polygon, Roads and the Grid are in the test data folder from develop
* InaSAFE develop

[2016-05-01 19:31] timlinux commented on #2724
Hi @airving61 My apologies for the delay in replying. I'm testing here for you and will see if I can replicate. I'll update the ticket here with any new info.

For issues with the OSM downloader - these are probably fixed if you install the updated 3.3.2 release - see https://github.com/inasafe/inasafe/releases/tag/version-3_3_2

[2016-05-01 19:52] timlinux commented on #2724
Seems I am getting a different error:

[code]

[2016-05-01 20:23] timlinux commented on #2724
Note that the above error is encountered when 'show intermediate aggregation layer' option is enabled.

[2016-05-01 20:25] timlinux commented on #2724
With the show intermediate aggregation layer option disabled I get:

[code]

With notes:

* An exception occurred when running the impact analysis.
* Layer did not have required keyword "layer_purpose". Please add keywords as : pairs in the .xml file. For more information please read the sections on impact functions and keywords in the InaSAFE website: http://inasafe.org/en/developer-docs/

[2016-05-01 20:29] timlinux commented on #2724
@ismailsunni could you take a look at this please? It seems to be a side effect of the keywords refactor stuff. Also note the different error when enabling the 'show intermediate layers' option above.

[2016-05-01 20:30] timlinux commented on #2724
@ismailsunni please also back port to master.

[2016-05-01 20:34] timlinux commented on #2746
Yes I agree it would be a lot simpler to have just the one table in this specific case. Note that historically there is this split between impact summary (shown on map report), impact table (shown in tabular report) and aggregation summaries (shown in tabular report). In the dock we show all three in one place. In the map composition we separate them into different places.

@Charlotte-Morgan can c

[2016-05-01 20:37] timlinux commented on #2723
@Gustry can you take a look at this if you have access to a windows machine? Check with @samnawi if he replicates the issue.

[2016-05-01 20:38] timlinux commented on #2723
Please back port any fix to master

[2016-05-01 20:45] timlinux commented on #2491
Hi @samnawi - thanks for this. For convenience here is the catalogue data:

<img width="577" alt="screen shot 2016-05-01 at 22 42 47" src="https://cloud.githubusercontent.com/assets/178003/14944265/309965ae-0fee-11e6-806d-743be62a87a8.png">

Can you share the actual folder link? The above link only takes me to the catalogue spreadsheet.

Thanks!

[2016-05-02 01:08] adelebearcrozier commented on #2491
Hi @timlinux

My responses to your questions above: Can discuss further when we Skype.

_@adelebearcrozier Could you provide us with some sample data (original netcdf is fine)?_

Yes – please find a sample netCDF file for Soputan volcano on my GoogleDrive here: https://drive.google.com/open?id=0B9XeBru2QyndUmF4NjBvQUJrVXc (let me know if you have any issues accessing). This file contain all the va

[2016-05-02 09:20] samnawi commented on #1216
Hi @wonder-sk Is it correct if in the current version of develop, the landcover IF is just for the generic class in the hazard data?

Volcano hazard
![image](https://cloud.githubusercontent.com/assets/8871958/14951194/56f015d4-1081-11e6-93a6-0d761dadebdf.png)

Flood hazard
![image](https://cloud.githubusercontent.com/assets/8871958/14951161/29a60a48-1081-11e6-890b-fab0129b3482.png)

Whether the la

[2016-05-02 11:49] samnawi opened #2751 "[Bug] Aggregation Issue"
### Problem
I've got some error message when I run Population Analysis with aggregation.
![image](https://cloud.githubusercontent.com/assets/8871958/14953523/8d3ffd26-1094-11e6-8ead-464d99bc809f.png)

Data :
[Nagekeo Sample Data](http://data.inasafe.org/InaSAFE%203.2%20Data/Nagekeo.zip)
Flood Data --> [NGK Flood](https://www.dropbox.com/s/xlkr09qmtwuto2j/NGK_Flood.zip?dl=0)

Error message :
**Deve

[2016-05-02 11:51] akhil-imvisile opened #2752 "akhil-imvisile.com"
### Problem

### Expected Behaviour

### Environment

### Proposed Solution

[2016-05-02 11:52] akhil-imvisile commented on #2752
sd

[2016-05-02 16:48] timlinux commented on #2752
Closing as possible spam

[2016-05-02 16:48] #2752 closed

[2016-05-02 17:04] timlinux commented on #2491
Hi @adelebearcrozier

OK that is great feedback thanks. @lucernae So it would be a good first task for you to write some utilities / helper functions to:

* take a netCDF file as input
* extract the needed sublayer
* reclassify the layer into five hazard classes as per the legend above
* run gdal_polygonize on the layer to produce a vector layer where each polygon is assigned a class
* add 3 colum

[2016-05-03 02:08] wonder-sk commented on #1216
Currently the IF is indeed made to work with generic classes. I would be happy to update it to work also with specific hazards, however I am not sure what would be the correct approach (my understanding of IF metadata is a bit limited).

I have tried to change IF's metadata related to vector hazard classification - from ```[generic_vector_hazard_classes]``` to ```all_vector_hazard_classes``` but t

[2016-05-03 02:20] samnawi commented on #2751
**FYI**
For flood and generic hazard, the IF could run in InaSAFE 3.2.6.
But, I still got the error message when run IF for volcano polygon.

[2016-05-03 03:42] Gustry commented on #2723
I couldn't replicate this morning on my laptop :
* Windows 8.1 Pro 64 bits
* QGIS 2.14.2 64 bits
* InaSAFE 3.3.2

@samnawi Have you got some problems on windows ?

[2016-05-03 03:46] samnawi commented on #2738
Hi @timlinux

Did you mean this column?
![image](https://cloud.githubusercontent.com/assets/8871958/14973999/a123f164-1119-11e6-8965-ad471b90e344.png)
I agree about it, and proposed to add the new column to put the map ID
![image](https://cloud.githubusercontent.com/assets/8871958/14974067/58dffcc6-111a-11e6-9939-bc1a8ec00c9a.png)
The time and interval column, changed by the description that you m

[2016-05-03 04:08] samnawi commented on #2714
Hi @lucernae I still see on the map, there are many circles that represent the impacted population.
![image](https://cloud.githubusercontent.com/assets/8871958/14974401/93dde0e6-111e-11e6-8f29-0d92b1d3ef9c.png)

Whether all of the white circle is has a value (I mean the value > 0) ?
If some of the white circle just has 0 value, could we remove them?

[2016-05-03 04:27] samnawi commented on #2697
Hi @lucernae
:+1 for this element
![image](https://cloud.githubusercontent.com/assets/8871958/14974508/e8637e22-111f-11e6-8694-19a02e304afe.png)

As my comment on [above](https://github.com/inasafe/inasafe/issues/2697#issuecomment-200693302), could we add one filter again for felt earthquake? Because in some event, the EQ < 5 magnitude has a destructive impact.

Refers to this :
http://data.bmkg.g

[2016-05-03 04:29] felix-yew commented on #2751
@samnawi maybe I can add a little information about it. I have tried Aggregation Issue in QGIS 2.14.1, too. And I have the same problems if I run the attached data from you.

**QGIS 2.14.1 and InaSAFE 3.3.2 (master)**
Hazard data of **drought** (generic), **Ebulobo KRB** (volcano polygon), and **NGK flood**, **they can not be processed properly.** The problem is same, **VerificationError**.
**Erro

[2016-05-03 04:37] samnawi commented on #2723
yeah @Gustry I got the same problem.
Using QGIS 2.14.1 and 2.8.8.
InaSAFE develop

![image](https://cloud.githubusercontent.com/assets/8871958/14974758/466df120-1123-11e6-95d7-840898b04484.png)

[2016-05-03 04:43] Gustry commented on #2723
Everytime you quit QGIS with the cross ?
If you uninstall inasafe, the problem disappears ?

[2016-05-03 05:09] lucernae commented on #2714
@samnawi Yeah, we're aware on this and  currently working on the fix. The template itself is working fine. The white circle is shown because petajakarta had some malformed data and ruining the analysis, so the value is undefined.

[2016-05-03 08:30] samnawi opened #2754 "[Bug] Error in Aggregation Keyword Setting"
### Problem
I've got the error message when set the keyword for Aggregation
[code]

When I try to trace the commits, I found the problem was beginning in fc03099
![image](https://cloud.githubusercontent.com/assets/8871958/14978842/d0d49574-1148-11e6-99cb-cab4aa0b235c.png)

### Environment
QGIS 2.8.8
InaSAFE Develop 6b76b6d

### Proposed Solution
Make it happy

### CC
@borysiasty @timlinux @ismails

[2016-05-03 10:29] timlinux commented on #2491
@lucernae it might make sense for you and @Gustry to work together on the polygoniser stuff

[2016-05-04 03:26] ivanbusthomi opened #2755 "its a dummy ticket"
I'm still learning how to write a ticket :)
# Problem

# CC
@felix_yew @samnawi @lucernae

[2016-05-04 03:28] samnawi commented on #2755
Make it happy

[2016-05-04 03:28] felix-yew commented on #2755
Great +1

[2016-05-04 03:35] ismailsunni commented on #2755
hi @ivanbusthomi
just suggestion, if you open new issue, there is a template. Please make sure all the fields are filled, to make the developer's life easier :)

If you have python error message or trace back, don't post the screenshot. It's better to copy the text and paste here as text. For example:
[code]

You can stop until the `Python version` line if you want to avoid showing some privacy.

[2016-05-04 03:39] ivanbusthomi commented on #2755
@Charlotte-Morgan  please make me a collaborator

[2016-05-04 03:39] felix-yew commented on #2755
[code]

[2016-05-04 03:55] ismailsunni commented on #2724
Hi @airving61 @timlinux
I have tried in my local, using develop. All is fine. With enable or disable `show intermediate layers` above.

Can you guys try again with develop? Please re-assign the keywords for hazard, since it's not detected by InaSAFE.

[2016-05-04 04:15] ismailsunni commented on #2724
Hi again

I tried in master, and it fails like you mentioned above. Should we fix the master, or wait for develop?

Best regards

[2016-05-04 04:54] lucernae commented on #2755
You can also do this:
- [ ] Some to do list
- [ ] To do list no. 2

You can use

# Heading LVL 1

## Heading LVL 2

or link to another ticket #2755

[2016-05-04 05:23] Gustry commented on #2755
And you can add some labels, assign the ticket to someone or add a milestone ;-)

[2016-05-04 05:55] Charlotte-Morgan commented on #2755
ha ha - the new team have limited access to assign tickets right now, also not able to move or close things

[2016-05-04 06:15] #2754 closed

[2016-05-04 06:20] ivanbusthomi commented on #2755
# Styling a comment
This **text** is bold and this _one_ is italized.

here are some error codes sample that I attached
[code]

I can't do that, yet. But i can write a quote :+1:

and here are my todos for now:

- [x] Create a task list
- [ ] Contribute more

[2016-05-04 06:21] Charlotte-Morgan commented on #2491
Hi Everyone
I'm adding @ivanbusthomi to this conversation. please welcome Ivan, he recently joined the team at DMInnovation as a GIS  Officer and once he is up to speed, will take an active role in all the realtime projects

[2016-05-04 06:29] samnawi commented on #2491
I'm sorry.

I just realized if I shared the wrong link.
This is the right link --> https://drive.google.com/folderview?id=0B3b8OAVI_hAiVjFaSVhhZTVwTDQ&usp=sharing

Thank you.

[2016-05-04 06:31] ivanbusthomi commented on #2491
Hi everyone, i'm looking forward to work with you all. I will do my best :smile:

[2016-05-04 06:33] #2755 closed

[2016-05-04 09:20] timlinux opened #2759 "Exception when keyword not found in layer"
### Problem

Testing the serious game data I found this error when selecting the Opendri_admin layer:

[code]

### Expected Behaviour

### Environment

InaSAFE 3.3
QGIS 2.14.1
OSX El Capitan

### Proposed Solution

Handle the error gracefully